[2020-03-08 02:15] DanielRosenwasser commented on #49734
I missed the instruction

Which is definitely on me, but was pretty subtle. Is there any reason this can't just be named `local.settings.json`?

[2020-03-08 02:30] DanielRosenwasser commented on #49734
*sigh*. Okay, cloud development is hard and git doesn't help at all.

[2020-03-08 02:34] #49734 closed

[2020-03-08 02:50] MarileeTurscak-MSFT commented on #49725
@dotnetgator thanks! We are looking into this.

[2020-03-08 02:51] MarileeTurscak-MSFT commented on #49726
@dotnetgator
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 02:56] MarileeTurscak-MSFT commented on #49726
Thanks! I agree that these should be consistent and made a pull request to update these to match the element names. https://github.com/MicrosoftDocs/azure-docs-pr/pull/106881

[2020-03-08 02:56] #49726 closed

[2020-03-08 03:44] NewGyu commented on #48070
@cijothomas Thank you for replying. The confusion I felt is that `UseApplicationInsights` is introduced as **a standard method**. It has already been marked `[obsolete]` and will be removed. Is the `[obsolete]` method `standard`? I hope that the method is noted that `it is still available , but it will be removed in the next major version`.

https://docs.microsoft.com/en-us/azure/azure-monitor/app

[2020-03-08 04:08] sujayvsarma commented on #49621
@Ayanmullick - Nope. Because these are marketplace images, Microsoft does NOT need to document anything than provide the means to query and access ALL items that are in the marketplace. In fact, if it does do what you are asking, it would open itself to anti-competition & unfair trade practices lawsuits from around the globe.

[2020-03-08 04:41] Jimnar opened #49736 "Possible error in Powershell command string"
I think this text: "Import-Module AzureADPreview" might actually suppose to be this: "Import-Module -name AzureADPreview".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef84a3e0-879e-4312-a89d-7a3bb0cd9a51
* Version Independent ID: 43851f8a-b71f-0a0a-8b1f-629e3528972f
* Content: [Assign sensitivity labels to groups -

[2020-03-08 05:19] ketan-chawda-msft commented on #49727
@hhubik Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:21] ketan-chawda-msft commented on #49728
@pipern Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:23] ketan-chawda-msft commented on #49729
@guibirow I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-08 05:25] ketan-chawda-msft commented on #49730
@vikramdadwal Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:27] ketan-chawda-msft commented on #49731
@robcamer Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:28] ketan-chawda-msft commented on #49732
@dotnetgator Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:30] ketan-chawda-msft commented on #49733
@jaybo Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 05:33] ketan-chawda-msft commented on #49735
@barakooda please review the response from @xthexder if that helps.

[2020-03-08 05:34] ketan-chawda-msft commented on #49736
@Jimnar Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-08 06:34] dcurwin commented on #49415
This is the response from the team member responsible for this issue:

"We mean that Day light saving timing adjustment doesn’t make the time set in the backup policy adjust automatically. It doesn’t shift the hour back or forward. If the user wants the backup to run @1am today which may become 11.30pm after DST changes, user needs to manually make that setting in the backup policy and not expect

[2020-03-08 06:35] dcurwin commented on #49415
#please-close

[2020-03-08 06:35] #49415 closed

[2020-03-08 07:53] oriziv commented on #48978
Hi,
There is no current flag to hide the search bar.
Ill add your request to our pipeline though.

Thanks
Ori

[2020-03-08 07:55] #48978 closed

[2020-03-08 12:18] justSteve commented on #38274
It might be useful to spell out how to target a specific subscription: az account set -s [foo]

[2020-03-08 12:43] montebhoover commented on #34264
@jakaruna-MSFT can you take a look at this?

[2020-03-08 12:51] steffann commented on #26519
@Karishma-Tiwari-MSFT What is the status of AKS support of dual-stack in K8s 1.17?

[2020-03-08 12:51] StefanWittmann commented on #45598
I ran into the same error, my mistake: token issuer id and tenant id were not identical

[2020-03-08 13:27] ikewabo opened #49739 "Health Probe Failure"
Health Probe Failure: Azure Application Gateway has "Custom Health Probe" that allows configuration modifications.  Is this feature available in Azure Front Door?  My issue is that  Front Door continues to fail my Proxy Server and therefore unable to route traffic to it.  Can an exception to the rule be made to mark my device as healthy?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-08 14:17] justinyoo opened #49740 "A few issues found - especially for consistency and missing codes"
Hi, Team.

When I looked at this quickstart page, I found a few issues on the sample code snippets with regards to the consistency, and missing codes/commands based on the Key Vault settings.

1. .NET Core console app name is inconsistent. In the document, it's named as `akv-dotnet` but the code snippet says `key-vault-console-app`. They need to be the same so that readers don't get confused.
2. N

[2020-03-08 14:25] justSteve commented on #49740
After using setx to create the env values I had to close out both Visual Studio and my terminal window to be able to see the newly added values.

[2020-03-08 14:54] Ashish-Jovial opened #49741 "Set-TimeZone is working at my local machine but this command is not working in runbook under automation account"
Hi All,

I am working on Day Light Saving solution for my Azure AdF Triggers. I developed a powershell script which is running perfectly at my local machine but when i posted same code base in run book then it giving error.

in current year Day Light Saving ending at 8th March 2020 1:00 AM EST. After passing this time i executed following _**code base which returning true at my local machine but r

[2020-03-08 15:00] fgebhardt commented on #47959
Hello, any news on this? Using web app for containers, just can't make MSI work when deployed, local debugging works flawlessly.

[2020-03-08 15:28] rurounijones opened #49742 "Implementation status of Structured ML entities in V3 preview API response is not clear."
This page does not make it clear what the status of Structured ML entities will be in the new V3 response?

Currently in API responses for V3 it is just an empty `{}` - e.g.

    "entities": {
      "caller": [ {} ],
      "target": [ {} ],
      "receiver": [ "overlord" ],
      "groupName": [ "dolt", "dolt" ],
      "flightNumber": [ 1, 1 ],
      "elementNumber": [ 3, 2 ]
    }

`caller` and `t

[2020-03-08 15:39] yoelhor commented on #49725
If the operation is `DeleteClaims` you still must add it to the PersistedClaims collection. Otherwise you will get an error message.

[2020-03-08 15:42] alex-1244 opened #49743 "unsupported_grant_type error when trying to obtain token from token endpoint"
If i follow the instructions i get next error:
{
    "error": "unsupported_grant_type",
    "error_description": "AADB2C90086: The supplied grant_type [authorization_code\r\n] is not supported.\r\nCorrelation ID: 802cba29-bb35-4de8-b84d-08087f266bda\r\nTimestamp: 2020-03-08 15:24:36Z\r\n"
}
I'm using "Sign in" user-flow

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-03-08 15:43] alex-1244 commented on #49743
example of request:
![image](https://user-images.githubusercontent.com/3823341/76166053-3e6a5000-6164-11ea-887e-182dce5bce38.png)

[2020-03-08 15:45] yoelhor commented on #49732
Thanks for the feedback. I'm removing the objectId from the list of possible claims.

[2020-03-08 15:56] dotnetgator commented on #49732
Not sure objectId needs to be *removed* - it is still useful when using Write for updates, is it not? It's just that in the case where Write is used for a creation that no matter what, the backend generates a new ObjectID.

[2020-03-08 16:06] yoelhor commented on #49732
This is the new explanation.

The **Write** operation creates or updates a single user account. To update an existing user account, you need to provide a key as an input claim, such as **objectId**, **userPrincipalName**, **signInNames.emailAddress**, or **alternativeSecurityId**. To create a new user account, you need to provide a unique identifier of the local or federated account. For example,

[2020-03-08 16:07] yoelhor commented on #49732
Please let me know if this make sense to you

[2020-03-08 16:13] dotnetgator commented on #49725
Sorry - I just tried it directly myself and yes, it certainly causes an error if the ObjectId is not present. However, I'm confused. How does the following work?

          <TechnicalProfile Id="AAD-DeleteClaimsUsingAlternativeSecurityId">
            <Metadata>
              <Item Key="Operation">DeleteClaims</Item>
            </Metadata>
            <InputClaims>
              <InputClaim Claim

[2020-03-08 16:16] dotnetgator commented on #49732
Makes sense to me. Note there is an "accout" typo in there.

One thought might be to add a few words to indicate the key is used to locate the account (though I suppose that's what a key is for by definition...)

[2020-03-08 16:21] cat-mucius opened #49744 "Calls Between App Service Environments"
As I understand, the "Calls Between App Service Environments" section describes situation when "ASE Two" is external ASE. But what if it's an ILB ASE? In this case, it won't be an "Internet" call, right? The ILB address will be used as destination and "ASE One" subnet address - as a source, correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-08 16:26] jamieskuse opened #49745 "Instructions confusing"
The instructions on this page are confusing, after following all other pages with no issues, if found this page had issues and some parts of the scripts used required modules to be installed on the Azure Shell.

Also when running the command getting errors,
 New-AzResourceGroupDeployment -ResourceGroupName $resourceGroupName -TemplateFile "$HOME/azuredeploy.json" -identityId $identityId -keyVaultN

[2020-03-08 16:26] ricvil opened #49746 "Automation Logic App stuck on running state"
I implemented the automation scaling tool and it works as described.  We can scale hosts up or down via the tool.  The problem is when we look at the Logic Apps screen in Azure, we see page after page of entries still in the running state.  When we look at the automation runbook, the job statistics are all green and completed.  If we drill down into the list of jobs, they all say completed and hav

[2020-03-08 16:27] grockland commented on #48521
I have received no messages in regard to the support ticket.  Please Advise.

Glenn

On Wed, Mar 4, 2020 at 2:30 AM jakaruna-MSFT <notifications@github.com>
wrote:

[2020-03-08 16:28] AjayKumar-MSFT commented on #41645
VNet Integration is GA with Windows Apps, kindly checkout this announcement '[[Announcing general availability of VNet Integration with Windows Web Apps](https://azure.github.io/AppService/2020/02/27/General-Availability-of-VNet-Integration-with-Windows-Web-Apps.html)]' and also [this](https://docs.microsoft.com/azure/app-service/web-sites-integrate-with-vnet) document has been revised with the la

[2020-03-08 16:54] maheshn99 opened #49747 "Azure Security Center Just in time VM Access and Privileged Identity Managment JIT Access"
Please update this page to explain how Azure Security Center Just in time VM Access  ( https://docs.microsoft.com/en-us/azure/security-center/security-center-just-in-time ) and Privileged Identity Management JIT Access are related to each other or how they are not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64acb2b

[2020-03-08 16:58] BNJMO commented on #38370
Please add some screenshots to the tutorial or mention at least that you need to install the ASP.NET module inside Visual Studio as I also struggled finding out why there was no publish button in the context menu

[2020-03-08 17:01] Varunr1995 commented on #44024
hello bro, even im facing same error and im struck and couldn't clear the error. can you please share your code for my reference so that i can clear the error; and whats the redirect uri should be kept in the azure zpplication. please do let me know

[2020-03-08 17:04] gandhirajan commented on #41645
@AjayKumar-MSFT Sorry that I was not so specific on the question. We are trying out app service deployment in Linux containers with VNet Integration which is still in preview. Any tentative GA date for this?

[2020-03-08 17:16] #49732 closed

[2020-03-08 17:24] SaurabhSharma-MSFT commented on #49739
@ikewabo Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:25] SaurabhSharma-MSFT commented on #49740
@justinyoo Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-08 17:27] SaurabhSharma-MSFT commented on #49742
@rurounijones Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:28] SaurabhSharma-MSFT commented on #49743
@alex-1244 Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:29] SaurabhSharma-MSFT commented on #49744
@cat-mucius Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:30] yoelhor commented on #49725
I thinks, but I'm not sure. If you provided the user objectId or UPN, you must specify the claim in the persisted collection as well. But for other properties such as alternativeSecurityId, you don't have to specify in the persisted claims collection. I'll check the code and will keep you posted.

[2020-03-08 17:31] SaurabhSharma-MSFT commented on #49745
@jamieskuse Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:36] yoelhor commented on #49702
There is not claim resolver for Id token. The reason we provide the access token claim resolver, to allow the relying party making a direct call to the federated identity provider, to run some operations, such as update a social account etc. If you need to get claims from a token, you can use the output claims collection. Could you elaborate?

[2020-03-08 17:40] a-amalaa commented on #49702
Why is this issue assigned to me?

[2020-03-08 17:40] yoelhor commented on #49672
Looks like, this popup message is not a B2C one, and probably as you say it comes from the browser. Did you check this behavior with other browsers, such Opera, Chrome, Firefox?

[2020-03-08 17:55] SaurabhSharma-MSFT commented on #49741
@Ashish-Jovial To assist you better on your query could you provide us with the link to the Microsoft document you are referring to ?
In case your query in not related to document content, open a new forum thread either MSDN, Q&A or StackOverflow as it could be better place to get help on your scenario where the community members could provide their expert guidance to you based on their experience

[2020-03-08 17:57] SaurabhSharma-MSFT commented on #49746
@ricvil Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-08 17:58] SaurabhSharma-MSFT commented on #49747
@maheshn99 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-08 18:02] SaurabhSharma-MSFT commented on #49734
@DanielRosenwasser  Good to hear that you are unblocked.

[2020-03-08 18:14] jackt-moran opened #49748 "Late Arrival Policy on IoT Edge"
Hi,
This document list the current limitations of ASA on IoT Edge and there is no mention of Late Arrival Tolerance in that list. However, it is not possible to configure the Late Arrival Tolerance for ASA jobs hosted on IoT Edge. Both in Visual Studio and the Azure Portal this configuration setting is not an option. If there is a way to configure this setting where can I do this? If there is no w

[2020-03-08 18:39] anthonychu commented on #48133
@Grace-MacJones-MSFT I think @ADringer’s suggestion is valid. Please change to page to be clear that the feature is Windows only. Thanks.

[2020-03-08 18:49] robcamer opened #49749 "This article is windows specific, need iOS and Android samples for 'Installation' Method"
GOAL:
Perform server-side device registration via 'Installation' for ios and Android.

ISSUE:
I've managed to get server-side device registration for uwp via 'Installation' method following these steps successfully working.

**I am unable to to get server-side device registration for ios or android working.**

The Installations do not appear as applied and when I try to send a test notification to

[2020-03-08 18:50] fabianflanhardt commented on #49672
Checked it with Firefox, too. Same message, but the popup looks a bit different.
![image](https://user-images.githubusercontent.com/4006917/76168604-a3787280-6171-11ea-98b1-3ae99d866448.png)

I also found some good articles on the topic:
[HTML5 Form Validation With the “pattern” Attribute](https://webdesign.tutsplus.com/tutorials/html5-form-validation-with-the-pattern-attribute--cms-25145)
[Client

[2020-03-08 19:17] dotnetgator opened #49750 "What is the list of possible valid PersistedClaims?"
The description in the Persisted Claims section above indicates that claims need to align to their corresponding Azure AD attribute names, but is there a comprehensive list of the claims that can be used before having to handle extension/custom claims? Is it only the list of claims specified as "Built-in" in the B2C User Attributes page (plus a few internal items like UPN)? Or is it the entirety o

[2020-03-08 19:20] ChristianMontoya commented on #49507
@Mriccio : Unfortunately, Azure Automation is not available in all regions, so this error would be by design. Are you able to run this in a different Azure region?

[2020-03-08 20:27] ajopjo commented on #49702
I'm working on a project where an internal identity provider is used for Authn. The provider is not like a provider like face book or google where a user can go and explicitly sign-out. So, when a user sign out from the application and Azure B2C, there is a need to call the end session end point of the federated id provider using an id token. Otherwise the user remains signed in to the id provider

[2020-03-08 21:42] heinrich-ulbricht commented on #43257
Yes, a hint on how to configure URL rewriting for single page applications would be helpful. Google also led me to [said blog post](https://medium.com/@antbutcher89/hosting-a-react-js-app-on-azure-blob-storage-azure-cdn-for-ssl-and-routing-8fdf4a48feeb). I was able to configure URL rewriting following this article and using the RegEx `[^?.]*(\?.*)?$`. This requires a Premium Verizon CDN, so altern

[2020-03-08 22:32] Cesarfgc opened #49751 "using System.Net.Http; missing in program.cs full code"
using System.Net.Http; is missing in program.cs when you show full code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56c88f3a-a529-ee07-76b2-1ccba116877b
* Version Independent ID: 262c56eb-0b0b-5ac8-f543-3feaa202b2bd
* Content: [Azure Relay Hybrid Connections - HTTP requests in .NET](https://docs.microsoft.com/en-us

[2020-03-08 23:08] ChristianMontoya commented on #49625
@XzeroR3 : Thanks for reporting this! I'm creating a workitem internally for a docs improvement to include this error in troubleshooting.

@VikasPullagura-MSFT : Feel free to close while we track internally.

[2020-03-08 23:11] ChristianMontoya commented on #49625
For tracking purposes, we have created the workitem with ID 25493720 .

[2020-03-09 00:15] hazemsalem opened #49753 "EventHub and Kafka support"
What is the roadmap for EvenHub, especially the support for kafka event streaming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec95067-2711-5af8-a3e1-b5d5dd1faecd
* Version Independent ID: ee90504a-5f49-a62a-d260-36d25b2eb678
* Content: [Use event hub from Apache Kafka app - Azure Event Hubs](https://docs.microsoft

[2020-03-09 00:21] barakooda commented on #49735
Well,
it will be right\brave to assume that if all devices are synced and no hiccups are happening,
That i can just delete first 1-3 seconds of recording  and for the most part the frames
will be aligned ?
*all devices connected to the same PC.

[2020-03-09 00:39] aaronhudon commented on #48874
Creating an eventgrid subscription to a deployment slot doesn't work in the portal!

[2020-03-09 01:17] neeleshray-msft commented on #49232
@narismadz As the document says, you can specify a start and an end date, so the access would start when you specify it to.
We will be closing this thread now. Let us know if you need further information on this.

[2020-03-09 01:17] #49232 closed

[2020-03-09 01:42] SnehaGunda commented on #47486
Hi Team, we have replaced the baseball examples with musical notes. The Azure portal also uses the same example so I hope it's easy to understand. We will close this issue now.

#please-close

[2020-03-09 01:42] #47486 closed

[2020-03-09 01:44] #49695 closed

[2020-03-09 01:47] ketan-chawda-msft commented on #49751
@Cesarfgc Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-09 02:08] torfulle commented on #18845
Hi All - can we clarify a bit further here if a policies managed identity location means that the policy can only deploy to the location of the managed identity's location? It seems to be when an Initiative Definition includes deployifnotexists policies in a region that does not match the MI's region the policy deployment fails.

[2020-03-09 03:29] wuhanyumsft opened #49756 "Is this support in packages\microsoft.azure.search.service?"
As title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f0444e-1fea-b9be-8cca-08a26d995e60
* Version Independent ID: e401363d-e606-6133-bef0-8c90fc0d17ad
* Content: [Incremental enrichment (preview) - Azure Cognitive Search](https://docs.microsoft.com/en-us/azure/search/cognitive-search-incremental-indexing-conceptua

[2020-03-09 03:34] czgtest commented on #49722
@ssljivar  if you want to build and push IoT edge solution on your remote device (Raspberry Pi) ,  you can ollow the instructions in[ this blog](https://devblogs.microsoft.com/iotdev/easily-build-and-debug-iot-edge-modules-on-your-remote-device-with-azure-iot-edge-for-vs-code-1-9-0/).
Maybe it will helpful to you.

[2020-03-09 03:37] imeya opened #49757 "Where is GetWebContent api name in section "Enable metrics on static website pages" , step 7?"
In this section https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website-how-to?tabs=azure-portal#enable-metrics-on-static-website-pages, step 7, I cannot see GetWebContent  api name, where is it now? is it changed to GetBlob? please let us know the changes and related doc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-03-09 03:40] PramodValavala-MSFT commented on #49430
@artmasa Hope my previous comment clears things up. Please feel free to open that feature request foe this to be considered.

Also, just for reference, if you require to create an object without handling `JToken`s manually, you could use [`JObject.FromObject()`](https://www.newtonsoft.com/json/help/html/M_Newtonsoft_Json_Linq_JObject_FromObject.htm) and [query properties using either property name

[2020-03-09 03:40] #49430 closed

[2020-03-09 03:47] dcbrown16 opened #49759 ""Tag-level security""
Where is the section mentioned in this quote? I don't see anything like that on the NH security page, and search doesn't turn up a hit in any Azure docs.

&gt; Since apps can be hacked, securing the registration to specific tags requires extra care, as explained in the section “Tag-level security.”

Page I checked
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-noti

[2020-03-09 04:00] VikasPullagura-MSFT commented on #49623
@sheng-jie We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-09 04:00] #49623 closed

[2020-03-09 04:00] VikasPullagura-MSFT commented on #48996
@glimoli Thanks for providing the details.

[2020-03-09 04:01] VikasPullagura-MSFT commented on #48996
@mbiver Hope the above provided information helps clarify your query.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-03-09 04:01] #48996 closed

[2020-03-09 04:14] imeya commented on #49757
I have just figured it out, we should configure some settings in the Diagnostic settings of the storage account. But anyway, this should be documented.

[2020-03-09 04:19] msrini-MSFT commented on #49748
@jackt-moran , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 04:23] msrini-MSFT commented on #49749
@robcamer , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 04:25] msrini-MSFT commented on #49750
@dotnetgator , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 04:26] VikasPullagura-MSFT commented on #49746
@ChristianMontoya Can you please check and advice on this.

[2020-03-09 04:26] VikasPullagura-MSFT commented on #49682
@ChristianMontoya Can you please check and advice on this.

[2020-03-09 04:28] msrini-MSFT commented on #49753
@hazemsalem , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 04:28] VikasPullagura-MSFT commented on #49625
@ChristianMontoya Thanks for adding more details on the issue.

@XzeroR3 We will now close this issue, as this is internally tracked as mentioned by the team.

[2020-03-09 04:28] #49625 closed

[2020-03-09 04:29] msrini-MSFT commented on #49757
@imeya , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 04:32] msrini-MSFT commented on #48877
@damart23 , Do you have any support ticket number that you can share regarding this issue? It will help me to track the issue.

[2020-03-09 04:38] msrini-MSFT commented on #49739
@ikewabo , As of now, with azure front door you can define path for the probe request. Can you be more specific on "config modifications" ?

As of now, there are no exception that you can create for probes to be healthy.

[2020-03-09 04:45] SnehaGunda commented on #49630
@msabramo The above PR fixes the database name. We will now close this issue.

#please-close

[2020-03-09 04:45] #49630 closed

[2020-03-09 04:48] gpj1 commented on #49334
Thanks @SnehaAgrawal-MSFT for clarifying. So if I understand this correctly, for a Java app, I don't find any difference between these 2. Please correct me if there is something for java app as well.

[2020-03-09 04:50] KalyanChanumolu-MSFT commented on #49642
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-09 04:50] #49642 closed

[2020-03-09 04:51] amanmcse commented on #49733
@jaybo You need to manually change all of these localhost entries to your actual external URL as there is no way for your application to figure out your production URL automatically.

[2020-03-09 04:51] #49733 closed

[2020-03-09 04:56] souravmishra-msft commented on #49401
Closing this thread for now

[2020-03-09 04:56] #49401 closed

[2020-03-09 04:57] msrini-MSFT commented on #49721
@maheshn99 , The note section is correct. If you need high performance, low latency scenarios, you can go with Azure Load Balancer which is layer 4.

Let me know if you have any further questions.

[2020-03-09 04:58] msrini-MSFT commented on #49633
@danielsollondon , Do you have any update on this issue?

[2020-03-09 05:03] bedro96 opened #49760 "Document update request on IKE Phase 2 parameters"
Under IKE Phase 2 (Quick Mode) parameters section, SA Lifetime (Bytes) for RouteBased should be updated as 102,400,000 KB instead of a dash. Additionaly, it would be helpful to expose expected re-key cycle depends on the role(as initator or as responder) of Azure.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 779fbece

[2020-03-09 05:05] SumanthMarigowda-MSFT commented on #49342
@mansi-aggarwal-2504 I'd recommend posting your question in https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=windowsazuredata since it's not directly related to the documentation. We'll follow up there.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reop

[2020-03-09 05:05] #49342 closed

[2020-03-09 05:15] msrini-MSFT commented on #49760
@bedro96 , For route based gateway SA lifetime in terms of KB is optional. You can set it in your On-Premises ends, Azure honors it but Azure doesn't send SA lifetime in KB as proposal.

@yushwang , can you comment on this ?

[2020-03-09 05:29] amanmcse commented on #49743
@alex-1244 Instead of sending the request body as **raw**, you need to send it as **form-data** or **x-www-form-urlencoded** in below format:
[code]

Please let me know if you have any further question or shall we proceed with closure of this thread.

[2020-03-09 05:31] msrini-MSFT commented on #49718
@theheatDK , Yes, we are only talking about the health probe requests. Actual traffic via Load balancer will contain the source IP as the client.

Azure traffic manager tag contains the list of IPs of TMs so that you can allow it in your inbound rule of NSG. But here Load balancer tag contain only one IP which is the virtual IP of host.Outbound connectivity is needed for internal communication bet

[2020-03-09 05:31] jakaruna-MSFT commented on #44396
@jesperilsoenielsen Sorry. i missed your email.  I added you to the email thread with the Product team.

[2020-03-09 05:33] msrini-MSFT commented on #49717
@drmiru , Thank you for your feedback. It is documented [here](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-faq#what-are-the-constraints-related-to-global-vnet-peering-and-load-balancers)

[2020-03-09 05:33] #49717 closed

[2020-03-09 05:34] jakaruna-MSFT commented on #49521
@henry-schneiderman is there any update

[2020-03-09 05:48] BharathNimmala-MSFT commented on #49466
@tudorsibiu90  Thank you for bringing this to our notice, the document needs  update to reflect the new screen shots. Assigning this to our document author @mrbullwinkle to further evaluate the feedback and update the document accordingly.

Regarding the Application Insights scheduled digest template I am further looking into it and will share the information at the earliest.

If you haven't alrea

[2020-03-09 05:54] CHEEKATLAPRADEEP-MSFT commented on #49706
@bkaidbb Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/106911](https://github.com/MicrosoftDocs/azure-docs-pr/pull/106911)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to tak

[2020-03-09 05:54] #49706 closed

[2020-03-09 05:55] DashleenBhandari-MSFT commented on #49759
@dcbrown16 , Thanks for raising the issue. We will investigate and update you.

[2020-03-09 06:02] stack111 commented on #49743
When the including using Content-Type: application/x-www-form-urlencoded this returns back a 400 bad request:
`{"error":"unsupported_grant_type","error_description":"AADB2C90086: The supplied grant_type [authorization_code\r\n] is not supported.\r\nCorrelation ID: 75c409dc-f022-49db-9935-2b7aa05b83c4\r\nTimestamp: 2020-03-09 05:57:48Z\r\n"}`

[2020-03-09 06:03] CHEEKATLAPRADEEP-MSFT commented on #49711
@dhillonsh Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/106912](https://github.com/MicrosoftDocs/azure-docs-pr/pull/106912)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to t

[2020-03-09 06:03] #49711 closed

[2020-03-09 06:08] CHEEKATLAPRADEEP-MSFT commented on #49701
@cjoakim The Github repo URL is available in the documentation. You may checkout the code snippet available on the Github and do let us know if that works.

![image](https://user-images.githubusercontent.com/44426401/76187100-6dcb9c00-61fa-11ea-82e9-5302e8c6a360.png)

[2020-03-09 06:13] CHEEKATLAPRADEEP-MSFT commented on #49753
@ShubhaVijayasarathy Do you have any ETA for supporting Kafka Streams?

[2020-03-09 06:14] KrishnaG-MSFT commented on #49613
@adamdimopoulos Verified and updated the document as required. Thanks.

[2020-03-09 06:14] #49613 closed

[2020-03-09 06:15] RohitMungi-MSFT commented on #49414
@irishun We hope the above steps helped you use the required voice for speech synthesis.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2020-03-09 06:15] #49414 closed

[2020-03-09 06:15] CHEEKATLAPRADEEP-MSFT commented on #49748
@mamccrea Could you please review further and update the document as appropriate?

[2020-03-09 06:20] SnehaAgrawal-MSFT commented on #49756
@wuhanyumsft Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-09 06:25] RohitMungi-MSFT commented on #49495
@BrianMouncer Could you please help to update the version in the Azure sample [repo](https://github.com/Azure-Samples/cognitive-services-speech-sdk/blob/master/quickstart/java/jre/from-microphone/pom.xml#L29) so the same is available in the XML snippet? Currently this snippet still lists 1.7.0 version instead of 1.10.0

![image](https://user-images.githubusercontent.com/46958063/76187927-b7b58180-

[2020-03-09 06:33] RohitMungi-MSFT commented on #49628
@IEvangelist Thanks for the information. @BrianMouncer Could you please help to merge the [PR  ](https://github.com/Azure-Samples/cognitive-services-speech-sdk/pull/533) and close the issue?

[2020-03-09 06:39] RohitMungi-MSFT commented on #49652
@lobrien The article [object detection using Azure and the "Faster R-CNN" technique](https://www.microsoft.com/developerblog/2017/10/24/bird-detection-with-azure-ml-workbench/) uses Azure ML workbench which is currently not in use/supported. Could you please review the document to remove and add a new link to an updated article?

[2020-03-09 06:43] CHEEKATLAPRADEEP-MSFT commented on #49567
@mamccrea Could you please review further and update the document as appropriate.

[2020-03-09 06:44] AjayKumar-MSFT commented on #49596
@jstafford5380, This document aims at outlining the process/steps to configure continuous deployment for a custom container image from managed ACR repositories or Docker Hub. CD will automatically deploy your hosted image every time you push changes to it.
It is a technique for software releases in which any commit that passes the automated testing phase is automatically released into the producti

[2020-03-09 06:46] ram-msft commented on #49616
@ballcap231 Can you please add more details if any errors that you are getting.The logged data shown under the metrics tab.
@sdgilley Can you please help on this.

[2020-03-09 06:49] BharathNimmala-MSFT commented on #49275
@jethrovaneetvelde  Post validation with our PG team , it has been called out that its the expected behavior as if now  and using the etag property should help by pass the issue you are seeing now.

[Documentation ](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/template-workspace-configuration#configure-a-log-analytics-workspace) will be updated with in this week to call out the ab

[2020-03-09 06:49] #49275 closed

[2020-03-09 06:50] SwathiDhanwada-MSFT commented on #49534
@iceyokuna Can you please share the other document where it says 500 TB so that we can review both documents and update them accordingly?

[2020-03-09 06:59] ram-msft commented on #49594
@henry-schneiderman Can you please add more details about the DSVM that you are trying as we have the two DSVM images.
1. Windows Server 2019 (Datacenter edition) DSVM
2. Ubuntu  Server 18.04 LTS DSVM

[2020-03-09 07:09] DixitArora-MSFT commented on #49356
@donchai I have assigned this to content author for further review and update as appropriate.

[2020-03-09 07:10] DixitArora-MSFT commented on #49343
@mslot I have assigned this to content author for further review and update as appropriate.

[2020-03-09 07:12] sujayvsarma commented on #49744
@cat-mucius No. Please see the very first paragraph under that heading:

[2020-03-09 07:20] PramodValavala-MSFT commented on #49506
@sc-bperry This does seem to be the case as evident from [this line](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/Utility/TypeExtensions.cs#L145).

I believe the intention here (and [in general](https://stackoverflow.com/questions/53583677/unexpected-convertto-json-results-answer-it-has-a-default-depth-of-2)) is to prevent infinite loops when serializing objects that cou

[2020-03-09 07:59] NishantThakkar commented on #49647
My SMART on FHIR client app is deployed at: https://patienthealth360.com
Which uses SMART on FHIR server as: https://smartfhir.azurehealthcareapis.com
On the authentication screen when I use my credentials: nishant.thakkar@aaneel.com, it returns me the token and Patient resource.
Patient resource URL: https://smartfhir.azurehealthcareapis.com/Patient/9287bc3a-9d7a-47b1-a9a3-0c71f40e593c

![image](

[2020-03-09 07:59] asergaz commented on #44619
@xinyiz1226 this bug has been fixed in the IoT Central UI. It should land in production by early next week.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-09 07:59] #44619 closed

[2020-03-09 08:12] AshokPeddakotla-MSFT commented on #49344
@kolotu Not seeing such error messages. Could you please double check and ensure all pre-requisites are installed as per the doc?
Adding author @dominicbetts  to confirm on the doc update status.

[2020-03-09 08:25] BharathNimmala-MSFT commented on #49575
@ElanShudnow Can you please help confirm if you are looking into Azure Activity logs ?

Quick check for a sample work space in our subscription , was able to view the resource.  Please provide additional information on your scenario, which would help to better understand the issue and help you accordingly.

![ActivityLogs](https://user-images.githubusercontent.com/45180002/76194624-c6bc1580-61a3-1

[2020-03-09 08:26] mayurigupta13 commented on #49666
The deployment planner supports only the listed regions for cost estimation as of today.

[2020-03-09 08:26] #49443 closed

[2020-03-09 08:27] XhellarchX opened #49762 "Selecting a good sourceAnchor attribute?"
In this article, it says as below;
"If you have a single forest on-premises, then the attribute you should use is objectGUID. This is also the attribute used when you use express settings in Azure AD Connect and also the attribute used by DirSync.
If you have multiple forests and do not move users between forests and domains, then objectGUID is a good attribute to use even in this case."

However,

[2020-03-09 08:30] SumanthMarigowda-MSFT commented on #49489
@adamyager  Thanks for bringing this to our attention. We have updated the emails address.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-09 08:30] #49489 closed

[2020-03-09 08:31] nwipfli commented on #49666
Thanks. Any ETA for SwitzerlandNorth to be added into the list ?

[2020-03-09 08:36] mayurigupta13 commented on #49666
As of now we are looking at Q2 2020. The upgrade of DP will include new regions, large disks, new OSes.

[2020-03-09 08:37] nwipfli commented on #49666
Great, thanks for this.

[2020-03-09 08:37] #49666 closed

[2020-03-09 08:44] bertrandpons commented on #49371
@Grace-MacJones-MSFT thank you for your reply. I read also that the Service Principal Id `f3c21649-0979-4721-ac85-b0216b2cf413` is needed to allow the propagation of the App Service Certificate renewal to Key Vault.
Do you confirm?

I would be nice to add these pieces of information in the documentation.

[2020-03-09 08:48] AjayKumar-MSFT commented on #49731
Rob, thanks for sharing additional details on this! Your feedback has been shared with the content owner for further review.

[2020-03-09 08:51] BharathNimmala-MSFT commented on #49369
@DangerMoose87 Requesting you to review [the article](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-register-resource-provider) which describes the errors you may encounter when using a resource provider that you haven't previously used in your subscription , possible causes and solutions.

Hope the information helps, however if the solution listed in the above arti

[2020-03-09 08:54] jesperilsoenielsen commented on #44396
@jakaruna-MSFT Thanks. I have answered the email, so let us continue the discussion via email.

[2020-03-09 09:03] theheatDK commented on #49718
Thanks @msrini-MSFT

[2020-03-09 09:03] #49718 closed

[2020-03-09 09:08] yoelhor commented on #49750
Thank you for your feedback. We are about to list the supported attributes very soon.

[2020-03-09 09:09] robert4os commented on #49585
Hi,

SDK version is '1.0.85'

AutoML Config I used is:
automl_settings = {

    # *** forecast specific
    "task": 'forecasting',
    "time_column_name": time_column,
    "label_column_name": label_column,

    "grain_column_names": grain_columns,

    # *** stateful forecast specific

    "max_horizon": horizon,

    "target_lags":'auto',

    "target_rolling_window_size":'auto',

    # *** data

[2020-03-09 09:09] iricigor commented on #43898
Is there any progress on this? My team is also interested in using this extension, but without providing proper location where to store certificate locally, we cannot proceed. As mentioned above, values listed for `certificateStoreLocation` should also support Linux OS setup logic, not the Windows only.

[2020-03-09 09:10] imshreya opened #49763 "using tanentId and Application Id but get the following error #invalid grant type"
{
    "error": "invalid_grant",
    "error_description": "AADSTS50056: Invalid or missing password: password does not exist in the directory for this user.\r\nTrace ID: ddaee820-5ced1-47ee-b8d7-73dc9e70a000\r\nCorrelation ID: cb9553fd-4db3-47f3-8b95-369bdfcbe106a4b\r\nTimestamp: 2020-03-09 09:04:24Z",
    "error_codes": [
        50056
    ],
    "timestamp": "2020-03-09 09:04:24Z",
    "trace_id"

[2020-03-09 09:13] DangerMoose87 commented on #49369
Hi, thanks for the response.
I have had a look through the resource providers for our subscription and there isn't a provider listed for 'monitors'. Do you have the name of the resource providers that need to be enabled for this to work?

Regards

[2020-03-09 09:14] yoelhor commented on #49743
All post request must be in form-data
![image](https://user-images.githubusercontent.com/20111866/76198614-0eb85800-61f7-11ea-9fcf-e933bb114429.png)

[2020-03-09 09:15] ram-msft commented on #49632
@damochiz  PR#https://github.com/MicrosoftDocs/azure-docs-pr/pull/106917 has been raised for this . We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-09 09:15] #49632 closed

[2020-03-09 09:25] amanmcse commented on #48385
@gbrock-intraprisehealth This is a by-design limitation. Adding support for this is a feature request. Our product team will be working on it and address it in near future.

[2020-03-09 09:29] RohitMungi-MSFT commented on #49730
@vikramdadwal Are you referring to setting the threshold for answers that need to be returned by the [generateAnswer ](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/qnamakerruntime/runtime/generateanswer)API? QnAMaker provides [active learning](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/concepts/active-learning-suggestions) to improve the responses from the KB

[2020-03-09 09:30] ChiragMishra-MSFT commented on #49720
@Joe8908 Here's an article that talks in detail about the same :

https://social.technet.microsoft.com/wiki/contents/articles/53275.azure-data-factory-stored-procedures-with-output-parameters.aspx

I will now proceed to close this issue. If you have any questions on the same, please create a thread on [MSDN](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory)/[Stack Overflo

[2020-03-09 09:30] #49720 closed

[2020-03-09 09:35] jakaruna-MSFT commented on #49728
@pipern Can you update to the later version and try.

My version is 2.0.80 (not the latest version).   In that version it works with `--ssh-key-values`

[2020-03-09 09:38] ElanShudnow commented on #49575
That is because your workspace is using the old method of data ingestion for activity logs. Even the document mentions operationname is gone but your screenshot shows operationname.

You need to be testing in a workspace that is pulling activity log data using activity log diagnostic data.

I blogged about this issue after I posted this github issue. Page 1 and 2 explain it.

https://www.shudnow.n

[2020-03-09 09:44] kamilk opened #49764 "Wrong timeout value"
I believe the page is outdated when it says the default timeout is 60s. The default timeout can be configured for the cluster by setting "DefaultHttpRequestTimeout". The default value of this config is 120s. https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-fabric-settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-09 09:44] Davidsoff opened #49765 "Why are usernames john and david disallowed"
They are fairly common first names. If it's about length, why not also block names like brian, matt, gene, jake, jack, etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e14cfdc3-89e0-a2cf-39e6-b733e59b4784
* Version Independent ID: 4c30cc9b-fa80-b174-8cdb-c615286cdcc5
* Content: [FAQ about Windows VMs in Azure - Az

[2020-03-09 09:49] amanmcse commented on #49708
@doc-rj-celltrak Please try adding `<Item Key="RequestContextMaximumLengthInBytes">2000</Item> ` to your RP file as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/76201358-23a5e300-6219-11ea-8dba-f802dee0a072.png)

[2020-03-09 09:55] davidscott851 opened #49766 "EDB to PST Converter Download"
If you want to convert your edb mailbox into pst format then in this situation i would like to recommend you this brilliant and effective EDB to PST converter software which is a simplified software that is specially designed to convert bulk exchange edb file mailboxes into microsoft outlook pst file format. With this software you can easily export single or multiple edb mailboxes into outlook pst

[2020-03-09 10:03] cat-mucius commented on #49744
This is exactly what I don't understand. Let's say, I have a VNET `192.168.0.0/16`. Let's say, I deploy "ASE Two" as described [here](https://www.azuretechguy.com/ilb-ase-new), with "Internal Virtual IP Type", and get an ILB address `192.168.11.11`. "ASE One" resides in the same VNET, in subnet `192.168.1.0/24`.

Now, when an app from "ASE One" calls another app at "ASE Two", why on earth would th

[2020-03-09 10:12] yoelhor commented on #49743
If you use postman, make sure the `application/x-www-form-urlencoded` is configure is the right place (under the headers), and not in the body.

![image](https://user-images.githubusercontent.com/20111866/76203339-24318000-61ff-11ea-8c9b-cb7871cf179f.png)

[2020-03-09 10:13] iricigor opened #49767 "Managed Identity"
Article refers to MSI which is obsolete term. Is this extension using System Assigned Managed Identity only, or it is possible to use also User Assigned ones? And if second one, how do I specify which identity to use for authentication against AKV ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7fd1350-6158-4eb0-b41b

[2020-03-09 10:14] ms-ishiyam opened #49768 "Can not confirm WAF policy version by Get-AzApplicationGatewayWebApplicationFirewallConfiguration."
I found that once I attached custom WAF policy to the AppGW, I could not confirm the real setting of WAF using by Get-AzApplicationGatewayWebApplicationFirewallConfiguration command. Get-AzApplicationGatewayFirewallPolicy is correct.

Following is the result by two comannd. Get-AzApplicationGatewayFirewallPolicy is correct but Get-AzApplicationGatewayWebApplicationFirewallConfiguration is wrong co

[2020-03-09 10:14] jakaruna-MSFT commented on #49705
Do you have any local firewall which blocks the communication?

Describe your service once and post the details here

[2020-03-09 10:16] uolter commented on #38772
May I ask how the integration works when I do not run APIM inside a VNet? Does the communication between the Application Gateway and APIM goes through the Internet of it's an internal communication in the Azure network?

[2020-03-09 10:27] JozoSlejko opened #49769 "storageNamePrefix"
In the Use the function code block, I believe it should be namePrefix, not storageNamePrefix

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 777f6737-1d3e-14eb-762f-3b9c92c667a9
* Version Independent ID: ec36c646-7fa3-19fb-dc61-a5e78ee168c7
* Content: [User-defined functions in templates - Azure Resource Manager](https:

[2020-03-09 10:31] alex-1244 commented on #49743
I used "Content-Type: application/x-www-form-urlencoded" header in requests
But apparently it's not the same as setting "body type" in postman

![image](https://user-images.githubusercontent.com/3823341/76204778-b8044b80-6201-11ea-9371-e74545fe759a.png)

So it's working now, sorry for disturbance, thank you.

[2020-03-09 10:31] #49743 closed

[2020-03-09 10:33] VikasPullagura-MSFT commented on #49765
@Davidsoff
Thanks for the feedback! I have assigned the issue to content author to check and add comments as appropriate.

[2020-03-09 10:33] VikasPullagura-MSFT commented on #49765
@cynthn
Can you please and add your comments on this ask and provide more clarity on this as applicable.

[2020-03-09 10:36] PeteHaigh-MSFT opened #49770 "Need to link back to Peering Service FAQs"
There's a bunch of Peering Service FAQ info in the Internet Peering documentation: https://docs.microsoft.com/en-gb/azure/internet-peering/service-faqs - these should really all be together or at least linked from each other - and there are some important areas such as SLAs that aren't covered here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-03-09 10:37] KrishnaG-MSFT commented on #49769
@JozoSlejko Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-09 10:40] dominicbetts commented on #49344
@AshokPeddakotla-MSFT @kolotu - I've just checked the doc, it's all up to date and the steps work when I try them out.
@kolotu - did you check the prerequisites as suggested?
Thanks, Dominic

[2020-03-09 10:49] rahulroshan96 opened #49771 "Azure python sdk support for vhd upload to Managed disk"
Here do we have azure python sdk support to upload vhd to managed disk?

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-upload-vhd-to-managed-disk-cli#upload-vhd

After creating SAS URI, I am not able to find azure python sdk support to upload vhd to managed disk.
Or currently upload is available to external tool e.g. azcopy ?

---
#### Document Details

⚠ *Do not edit this se

[2020-03-09 10:56] pipern commented on #49728
Thank you, I'll aim to upgrade and try that.

However, the current page is inconsistent , saying to use `--ssh-key-value` but then the example is `--ssh-key-value`.

[2020-03-09 11:20] pipern commented on #49728
I've checked in azure-cli 2.1.0, and it's the plural version in there.

[2020-03-09 11:21] RohitMungi-MSFT commented on #49742
@rurounijones Here is a [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/tutorial-machine-learned-entity)for extracting structured ML entities for an example. Could you please check if this could help?
@diberry Do we have more information about structured ML entities in v3 version of the API?

[2020-03-09 11:23] neeleshray-msft commented on #49736
@curtand Could this be verified ?

[2020-03-09 11:24] fhe-fr opened #49772 "bankmarketing_train.csv: missing column description"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue
To do a model explanation, it's important to have a describtion of the columns.
"emp.var.rate" what is the meaning of this column or "euribor3m"?

We p

[2020-03-09 11:27] serverhack74 commented on #45598
Token issuer ID and Tenant ID shouldn't be identical, should it? Both have differents server URIs, for tenant ID is https://login.microsoftonline.com/XXXXXX and Issuer is https://sts.windows.net/XXXXXX

Otherwise I have checked putting the same on both boxes and the results are the same: still not working

[2020-03-09 11:29] kachontep opened #49773 "Unauthorized 401 Even if I just run az acr login success"
I followed the instructions and see the Unauthorized 401 error when running mvn jib:build. I can run docker pull with the registry success and can push hello-world image. It seem that the mvn jib:build not use credential in ~/.docker/config.json at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7bb4890-22e2-2c12-

[2020-03-09 11:34] hurtn opened #49774 "Mistake in"
Mistake in example above with reference to use of scoringParameter .e.g
GET /indexes/hotels/docs?search=inn&scoringProfile=geo&scoringParameter=currentLocation--122.123,44.77233&api-version=2019-05-06
Is meant to only be one hyphen as stated in the documentation here https://docs.microsoft.com/en-gb/rest/api/searchservice/Search-Documents#scoringparameterstring-zero-or-more
This cost us a lot of t

[2020-03-09 11:36] sujayvsarma commented on #49744
I am not sure if you have deployed and managed VMs in a Hyper-V / VMWare / etc kind of scenario before?

The Internal / External selection does nothing to change the "wire" the thing (VM, ASE, etc) is attached to. All it does is apply firewall rules to restrict traffic flowing into/out of the thing. This is exactly the same as the "Network Connection Type" selection in Microsoft Hyper-V Manager's

[2020-03-09 11:42] jakaruna-MSFT commented on #49764
@kamilk
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-09 11:44] jakaruna-MSFT commented on #49773
@kachontep I hope you notices the note below that command in the doc.

If not, please login again and check .

For security reasons, the credential created by az acr login is valid for 1 hour only. If you receive a 401 Unauthorized error, you can run the az acr login -n <your registry name> command again to reauthenticate.

[2020-03-09 11:49] Daniel-AFK12 opened #49775 "Missed words?"
I don't believe the below makes sense?

&gt;&gt;You also its features&lt;&lt; to monitor and control Azure spending and to optimize Azure resource use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d5c4c89-1778-7b70-db0e-1425315d027b
* Version Independent ID: 7502f1f9-0ab9-5596-1254-1912b655b5e9
* Content: [Overview

[2020-03-09 12:10] AshokPeddakotla-MSFT commented on #49614
@Tam66662 Please see the below [supported OS](https://docs.microsoft.com/en-us/azure/iot-edge/support#tier-1) for installing Azure IoT Edge with Windows containers

![image](https://user-images.githubusercontent.com/44426435/76211634-aedca400-622c-11ea-8233-c076fc73fe03.png)

I hope that answers your question. Do let me know if you have further queries.

[2020-03-09 12:11] AshokPeddakotla-MSFT commented on #49614
@kgremban  Please add more clarity on the doc for supported OS and versions.

[2020-03-09 12:33] svenwasmer opened #49776 "Charges"
"Network watcher is enabled automatically
When you create or update a virtual network in your subscription, Network Watcher will be enabled automatically in your Virtual Network's region. There is no impact to your resources or associated charge for automatically enabling Network Watcher."

The statement is a bit confusing or outdated. One would read it as there wouldn't be any charges for using N

[2020-03-09 12:35] StefanWittmann commented on #45598
I only referred to th ID, not the complete URI

at first my faulty config was something like this:
https://login.microsoftonline.com/XXXXXX/
https://sts.windows.net/YYYYYY/

but since i changed it to:
https://login.microsoftonline.com/XXXXXX/
https://sts.windows.net/XXXXXX/
it worked

[2020-03-09 12:37] diberry commented on #49742
#in-progress

[2020-03-09 12:49] diberry commented on #49742
@rurounijones

If this is an app/model issue - can you provide more information about your model? My first thought is that the model isn't predicting the entities from the utterance presented. How many example utterances have been labeled with those two entities? Can the Test pane, inside the preview portal, detect the entities. When an ML entity is successfully returned, it will either just retur

[2020-03-09 12:55] diberry commented on #49730
@vikramdadwal The score can only be improved with changes to the knowledge base, which inturn impacts ranker 1 and ranker 2 - which is where the final score comes from. Why would you want to specifically change the score of a specific user query without impacting the rankings of the query?

What are you trying to do?

#in-progress

[2020-03-09 12:58] neeleshray-msft commented on #49254
@loosus456 No, those users who have already registered for MFA would NOT have to re-register if you activate P1/P2 license for the Tenant.

@miked1313 Yes, the Microsoft and Office Licenses are different, however the Tier Names are similar. You can provide your Feedback on the [Office365 UserVoice Portal](https://office365.uservoice.com/) for the same.

We would be closing this thread now. Let us

[2020-03-09 12:58] #49254 closed

[2020-03-09 13:03] neeleshray-msft commented on #49762
@XhellarchX Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-09 13:11] neeleshray-msft commented on #49750
@yoelhor Thank You for the update.

@dotnetgator Keep an eye out for the Supported Attributes to be published soon.
We will be closing this thread now. Let us know if you need further help.

[2020-03-09 13:11] #49750 closed

[2020-03-09 13:15] NavtejSaini-MSFT commented on #49491
@briandunnington Please let us know if you need further help with this or we can close this by EOD

[2020-03-09 13:15] neeleshray-msft commented on #48753
@memildin Could this be confirmed from the Engineering Team ?

[2020-03-09 13:16] shashishailaj commented on #49535
@MicrosoftGuyJFlo Coudl you please review this and share your thoughts ?

[2020-03-09 13:17] MGoedtel commented on #49719
@tyconsulting - If you reviewed the Arc for servers overview article, the section [Register resource providers](https://docs.microsoft.com/azure/azure-arc/servers/overview#register-azure-resource-providers) covers this information.  Thank you.  #please-close

[2020-03-09 13:17] #49719 closed

[2020-03-09 13:18] IEvangelist commented on #49338
Please #reassign @swmachan.

[2020-03-09 13:18] PRMerger10 commented on #49338
swmachan. is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-09 13:18] NavtejSaini-MSFT commented on #49683
@rajaprad We are assigning it to our author for further review
@yegu-ms Please check this and provide insights.

[2020-03-09 13:20] shashishailaj commented on #49546
@iainfoulds Could you please review the FAQ enhancement request ?

[2020-03-09 13:25] zizu1985 commented on #49369
The same for me. I've registered WorkloadMonitor in subscription. Error is still the same.

[2020-03-09 13:28] mattnewman125 commented on #49557
We are also experiencing the issue, we can get relief be removing and re-adding specific ip ranges but that's not a super great experience when we have to wait for someone to report an outage for an application and find/re-add the ip range they fall in.

[2020-03-09 13:43] kolotu commented on #49344
@dominicbetts @AshokPeddakotla-MSFT
Thanks for looking into this. Yes I have checked the prerequisites. I have followed all the steps of the tutorial with no errors up until the cmake --build . command.

Please find below the commands I've run:

[code]

[2020-03-09 13:50] glautrou commented on #39142
For me that was because my pool was running under the ApplicationPoolIdentity account. Changing it to "LocalSystem" fixed it.

You can also add your pool to the performance monitor group :
net localgroup "Performance Monitor Users" /add "IIS APPPOOL\NameOfYourPool"
Restarting pool+app doesn't work, you need to call the iisreset command instead.

[2020-03-09 14:02] erotavlas commented on #49705
I did a `kubectl get pods --watch` and it seems to be having a problem pulling the image I added to Azuse Container Registry

[code]

[2020-03-09 14:02] mumian commented on #49769
@JozoSlejko They are two different parameters.  They don't have to share the same name.

[2020-03-09 14:03] para0056 opened #49777 "Python 2.x support required for Linux"
Since Python 2.x is no longer supported as per January 2020, are there plans to remove the dependency for Linux VMs to have Python 2.x?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db47901d-1664-058d-9407-47e932dc9661
* Version Independent ID: e90ec9ee-e7da-4f19-248f-4c825aaa8b9f
* Content: [Update Management solutio

[2020-03-09 14:05] KristinLieber opened #49778 "categorical variable assigned twice in example"
In the categorical variable example, the value 3 is assigned both the label "good" and "bad".  Is this an error?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 721c4d80-9266-8804-5b67-d13863912067
* Version Independent ID: 66ca3e80-3ec4-9448-432a-b8be9488563a
* Content: [Time Series Model - Azure Time Series Insights](

[2020-03-09 14:07] jethrovaneetvelde commented on #49275
The etag indeed solves the issue.

[2020-03-09 14:29] pradeepbafna commented on #49563
Ok, thanks. As per above thing, my identifier URI is api://<my_client_id> and i am following same id in my token url param. Where i can find more documentation on STS validation. I am continuing this question here https://docs.microsoft.com/answers/questions/11640/using-active-directory-with-sharepoint-to-use-the.html

[2020-03-09 14:35] msmimart commented on #49322
Hi @craig-martin - Thanks so much for this great catch. It was indeed a typo that was fixed in https://github.com/MicrosoftDocs/azure-docs-pr/pull/106879. The fix is now published.

[2020-03-09 14:50] msmimart commented on #42999
Hi @jdelforno, have you had a chance to add this suggestion to the feedback forum (https://aka.ms/appprovisioningfeaturerequest)? This is the best way to submit your idea, let the community up vote, and get status updates. I'll go ahead and close this issue now as there's nothing actionable for the docs at this time. Thanks again for your feedback.
#please-close

[2020-03-09 14:50] #42999 closed

[2020-03-09 15:03] KrishnaG-MSFT commented on #49769
@JozoSlejko Content owner @mumian has clarified that these are two different parameters and they don't have to share the same name.

[2020-03-09 15:03] KrishnaG-MSFT commented on #49769
@mumian Thanks for the clarification. 👍

[2020-03-09 15:12] tfitzmac commented on #49769
@JozoSlejko - thanks for this feedback. We will update the example to show the whole template, which will make it easier to understand how the parameters work together.

[2020-03-09 15:13] qub1n commented on #39108
Moved to https://feedback.azure.com/forums/170030-signup-and-billing/suggestions/39895819-json-ratecard-data-values-in-meters-meterregion

[2020-03-09 15:14] dominicbetts commented on #49344
Hi @kolotu - thanks for sharing the output from the commands. Could you try the following please?

1. Navigate to your `vcpkg` folder.

1. Run these commands:

[code]

1. Share the results so we can compare our environments:

[code]

Thanks!

[2020-03-09 15:20] msmimart commented on #47872
Hi @SjoerdV, thanks for the suggestion. The new My Apps experience will eventually be rolled out to all customers and at that point the preview opt-in won't be required. In light of this, we don't have plans to create PowerShell scripts for the opt-in. In the meantime one suggestion is to use scripts to gradually add users to a group that has access to the new My Apps. We'll go ahead and close thi

[2020-03-09 15:20] #47872 closed

[2020-03-09 15:21] ballcap231 commented on #49616
The values of the data I was trying to log was a pandas dataframe of size maybe 1000 by 5. After digging into it, it seems that a similar issue was brought up here: https://github.com/MicrosoftDocs/azure-docs/issues/40694 and the solution suggested was to break it up into chunks to log. It didn't work for me exactly still... it may be that there is too much data that I am logging...

[2020-03-09 15:30] cjoakim commented on #49701
thank you

On Mon, Mar 9, 2020 at 2:08 AM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2020-03-09 15:44] shunkino commented on #47192
@zr-msft
Hi, thank you for update! It is now more clear and easy to understand for new comer :)

[2020-03-09 16:01] brostbeef commented on #48152
I see this was asked 3 weeks ago.  I am seeing this same issue.  Is there an update?

[2020-03-09 16:02] ftereso opened #49779 "Dissociate is disable."
What to do and why when dissociate is disabled.
I add created a vnet for webabb integration with a gateway (now classic) and now I want to deleted because I want to use the regional vnet integration instead. But gives me errors because of the ip associated that I can't dissociate. Can you point out what is missing in this cases?
I also request a support ticket for this.

---
#### Document Details

[2020-03-09 16:02] msmimart commented on #48903
Thanks for pointing this out - we're looking into the issue.

[2020-03-09 16:05] alinaciorici commented on #21216
any updates on this? the issue is still valid

[2020-03-09 16:17] MarileeTurscak-MSFT commented on #49763
@imshreya please provide a link to the document you are following so that we can better assist.

[2020-03-09 16:19] brianfromoregon opened #49780 "Docs for using license server without hosted content?"
Hi

Do you have an example or docs showing how to use the Widevine license server by itself, without also using Azure to host the encrypted videos?

Related: https://stackoverflow.com/questions/60529729/using-azure-media-services-to-deliver-drm-licenses-with-shaka-packager

[2020-03-09 16:20] jzhouw commented on #48721
Thanks @johndeu  for your clarification.

I'm still not sure how to configure CDN (Azure mooncake doesn't have builtin CND) caching rules for **live streaming** as there's a doc saying the caching rule should be like "ts file for 2 mins and m3u8 for 2 seconds" in Chinese (https://docs.azure.cn/zh-cn/cdn/cdn-how-to-create-livestreaming-cdn-endpoint)

Here's a screenshot of the mooncake CDN cache ru

[2020-03-09 16:24] IEvangelist commented on #49011
Hi again @kmoore-riphaina,

I wanted to follow up again, to let you know that the document has been updated to include the TLS changes to the [.NET article](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/quickstarts/from-blob?pivots=programming-language-csharp#start-with-some-boilerplate-code). I thank you again for reporting this.

[2020-03-09 16:26] Strandfelt opened #49781 "Is this outdated?"
I followed this guide, however, it is not very elaborate nor precise.

I figured that in Step 1, the ClaimsSchema should be placed within a BuildingBlock element, which does not exist in the starter pack SignUpOrSignin.xml file, nor is this mentioned in step 1.
However, I cannot seem to figure out where to place the InputValidations element, since the B2C portal will not accept a file with InputVa

[2020-03-09 16:30] Strandfelt commented on #49781
An example of my policy:
[code]

[2020-03-09 16:39] benfaria opened #49783 "Incorrect sequence in the diagram"
Can amend the diagram to reflect the correct sequence of events - number 4 and 5 need to be swapped around because you cannot copy data to the disk without unlocking it first.
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada7b2a0-610d-9cec-548f-4c2e87228555
* Version Independent ID: 1ee3ee31-dd00-2167-bf2e-48

[2020-03-09 16:50] cynthn commented on #49621
#assign @VikasPullagura-MSFT I'm not sure why this was assigned to docs. Can you assign someone from Marketplace or close the issue if there is no further action?

[2020-03-09 16:51] iainfoulds commented on #49546
As noted in the conceptual docs and tutorial to create an instance, two DCs are created as part of the managed service. If you create an Azure AD DS managed domain in an Azure region that supports Availability Zones, those DCs are automatically spread across zones, otherwise they're distributed across Availability Sets within a single datacenter. There's no additional configuration you can perform

[2020-03-09 16:55] YutongTie-MSFT commented on #49400
@ZanderFick-Accenture
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@Blackmist Thanks.

[2020-03-09 16:55] #49400 closed

[2020-03-09 17:01] asergaz commented on #46190
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-09 17:01] #46190 closed

[2020-03-09 17:02] asergaz commented on #46189
@uhabiba04 can you follow-up? Thanks!

[2020-03-09 17:03] shashishailaj commented on #49539
@mingcatsandra We are glad that you like our product and it helps you organize your credentials nicely. I believe you are talking about the details section in the new version which would be better named as Backup and Recovery options as circled within the image below from latest version of Authenticator.

![image](https://user-images.githubusercontent.com/532022/76218818-dd617b80-623a-11ea-8c86-85

[2020-03-09 17:05] MicrosoftGuyJFlo commented on #49566
@mike-2138 Under device compliance check you may get a certificate prompt as stated.

If you created a policy that required one of the [Grant controls](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-grant#grant-access) that is an OR statement, if the user performs MFA they should be able to sign in.

[2020-03-09 17:07] #49539 closed

[2020-03-09 17:09] SaurabhSharma-MSFT commented on #49556
@pejenarh We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-09 17:09] #49556 closed

[2020-03-09 17:09] #49546 closed

[2020-03-09 17:12] iainfoulds commented on #49686
Sorry you're running into issues, @smaher37. What template are you referring to? This is a conceptual doc on the available authentication options in Azure AD and isn't providing any instructions or guidance on the use of templates?

[2020-03-09 17:16] uranio-235 opened #49784 "example does not work"
That Startup.cs example DOES NOT WORK

Method not found: 'Microsoft.Extensions.DependencyInjection.IServiceCollection Microsoft.Azure.Functions.Extensions.DependencyInjection.IFunctionsHostBuilder.get_Services()'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5786402e-9d88-5de0-607a-1c2a143af006
* Version Independent

[2020-03-09 17:17] MicrosoftGuyJFlo commented on #49535
@pgarm Location is not required for a policy to work. The required components are listed in the article [Building a Conditional Access policy](https://docs.microsoft.com/azure/active-directory/conditional-access/concept-conditional-access-policies#simple-policies).

Using the [WhatIf tool](https://docs.microsoft.com/azure/active-directory/conditional-access/what-if-tool) and [Report-only mode](htt

[2020-03-09 17:18] hansenms commented on #49647
That does not appear to be a 401, I think that is a 403, forbidden. The reason is probably that the object if of the new user is not in the list of allowed object ids, see here https://docs.microsoft.com/en-us/azure/healthcare-apis/find-identity-object-ids

[2020-03-09 17:19] SaurabhSharma-MSFT commented on #49570
@dstampfli We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-09 17:19] #49570 closed

[2020-03-09 17:20] SaurabhSharma-MSFT commented on #49597
@LoveCSharp We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-09 17:20] #49597 closed

[2020-03-09 17:21] SaurabhSharma-MSFT commented on #49653
@Mr-Fish654 We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-09 17:21] #49653 closed

[2020-03-09 17:22] SaurabhSharma-MSFT commented on #49659
@wrzzd can you please help providing the documentation you are referring to ?

[2020-03-09 17:25] yoelhor commented on #49781
Thank for your feedback. Your policy looks good, we'll fix this doc soon.

[2020-03-09 17:25] arowse-pfl opened #49786 "'alternateEmailAddress' not exporting"
I don't know if I'm doing something incorrect, but I can't seem to get the 'alternativeEmailAddress' field value in my export. I assume that this value is found visually under the User Record / Authentication methods screen and corresponds to the "Alternate email" field.

We have this field populated for most users in our directory (standard AAD, not B2C), but the generated export has completely e

[2020-03-09 17:28] Satyricon opened #49787 "Missing or not yet existing feature?"
[Enter feedback here]

Is this brand new feature that is not yet available? I tried to follow the documentation, but my Web App doesn't have Private Endpoint section under Networking.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Independent ID: 4197cd82-b89e-ac93-d966-40c

[2020-03-09 17:29] shooker opened #49789 "Additional Information on Key Rotation"
I understand that re-running the Set-AzVMDiskEncryptionExtension rotates the BEK keys, but not the full volume encryption key BitLocker uses to encrypt the raw data. This means that the disk is not fully decrypted and re-encrypted when a new key is introduced, so it should be a pretty quick operation. Could it be made more clear on the key rotation section that this is the operation taking place?

[2020-03-09 17:29] miss-tech opened #49790 "The video link at the top of the page is a 3rd party video"
The link under the "Self-Service Password Reset (SSPR)" text at the top of this page links to a 3rd party video. We should link this to a Microsoft video such as: https://www.youtube.com/watch?time_continue=108&v=pS3XwfxJrMo&feature=emb_logo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b18ba40d-11dd-3dcc-94a0-69df142

[2020-03-09 17:32] LauraBrenner commented on #49022
@mscurrell Please review

[2020-03-09 17:36] smaher37 commented on #49686
To add the tokens to Azure they can be uploaded via CSV. The fields are listed in this article: upn,serial number,secret key,time interval,manufacturer,model. If I go to Azure where the CSV file needs to be uploaded (AAD > Tenant > Security > Multi-Factor Authentication – OAUTH tokens) and download the CSV template for the fields there are different fields in that template, which is misleading.

F

[2020-03-09 17:40] MarileeTurscak-MSFT commented on #49790
@miss-tech
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 17:40] mimckitt commented on #49427
#please

[2020-03-09 17:40] #49427 closed

[2020-03-09 17:43] mbell85 opened #49792 "Cisco ASA cannot be configured to send Syslog messages over TCP 514"
I have been attempting to get this working for HOURS! The confusing thing about it is that this article says Syslog deamon on my Linux machine needs to be configured to listen for messages on TCP port 514, but syslog messages cannot be sent by a Cisco ASA over 514/tcp. It must be a port greater than 1025! The default for Cisco ASA is to send syslog messages to Port 514/udp. Very confused.

---
###

[2020-03-09 17:44] mbell85 commented on #49792
Should note I can see the mock data in the Azure portal when I run it, but the CEF collector isn't getting any of the syslog messages sent from my ASA over 514/udp...

[2020-03-09 17:45] lobrien commented on #49652
Yes, I will make the modifications ASAP. I am searching for an appropriate replacement link.

[2020-03-09 17:45] erotavlas commented on #49705
@jakaruna-MSFT

I found out more information and possibly the issue

First of all after finding out that AKS was no able to pull the image from the Azure container registry I thought it was a permissions issue and I followed these steps to enable access to AKS for pulling from the registry

https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration
and this
https://docs.micr

[2020-03-09 17:45] steele6599 opened #49793 "Attribute mapping and Expression for multi line address?"
Does anyone have an idea to write an expression from Workday to Active Directory for address?
Workday had [AddressLineData] "100 Main Street", [AddressLine2Data] "Suite 100"
The default mapping is Direct  [AddressLineData] --&gt; streetAddress in AD.
If you mannually type the address in AD ADUC it will look like this:
100 Main Street
Suite 100
When you look at the AD attribute for streetAddress is

[2020-03-09 17:46] BryanTrach-MSFT commented on #49787
@Satyricon Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-09 17:47] kobulloc-MSFT commented on #48152
My understanding is that this snippet does belong in the docs, however there are additional steps that need to be taken before the docs are updated.  @lgayhardt is currently working on this.

[2020-03-09 17:51] #36547 closed

[2020-03-09 17:51] Ayanmullick commented on #49621
@VikasPullagura-MSFT , This is a gap in documentation. Please assign to the appropriate person responsible for marketplace documentation.

[2020-03-09 17:54] SaurabhSharma-MSFT commented on #49581
@haymansfield I am not in a position to share the information about the availability.  Please keep an eye on [Azure Roadmap](https://azure.microsoft.com/en-us/updates/?updateType=regions-and-datacenters&query=availability%20zone).  You can also this as a feedback at [UserVoice](https://feedback.azure.com/forums/34192--general-feedback). This will allow the community to upvote and for the product t

[2020-03-09 17:55] RyanHill-MSFT commented on #49143
Hi @juanand wanted to follow up to see if had any further questions?

[2020-03-09 17:56] SaurabhSharma-MSFT commented on #49661
@CedricSteenbeke Please let us know if you have any other questions else we will proceed with closing this issue.

[2020-03-09 17:57] SaurabhSharma-MSFT commented on #40405
@Laho19 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-03-09 17:57] #40405 closed

[2020-03-09 17:59] barakooda commented on #49735
@xthexder
I get this error :

fixed with explicitly casting pointer to recording_t *.
recording_t* files = (recording_t*) malloc(sizeof(recording_t) * file_count);

[2020-03-09 18:02] tfitzmac commented on #49534
Adding @tamram who might have an idea about these storage limits

[2020-03-09 18:02] Karishma-Tiwari-MSFT commented on #27848
@echuvyrov Need your help providing your inputs on this error customers are seeing. Thanks :)

[2020-03-09 18:03] dsfrederic commented on #49674
@tfitzmac so you would put the whole input node in an if statement? This will become very unreadable IMO...

Example of my use case
[code]

[2020-03-09 18:04] Karishma-Tiwari-MSFT commented on #49767
Thanks for the question. We are currently investigating and will update you shortly.

[2020-03-09 18:06] iainfoulds commented on #48680
@git14 I created a PR to add links for more information on available hybrid Azure AD options and Azure AD Connect install and configuration options for hybrid environments. These doc updates should publish later on today.

If there was more information you were looking to be added to the docs, please let me know.

For now, #please-close

[2020-03-09 18:07] #48680 closed

[2020-03-09 18:07] MarileeTurscak-MSFT commented on #49789
@shooker
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 18:10] tchristiani commented on #48434
This person is right that the   below will work as well. We don’t do this in our code examples since this   tutorial wouldn’t require you to use System.Index   so there shouldn’t be any   confusion. I assume he was using System.Index and ran into this issue.

      var definition = new   Microsoft.Azure.Search.Models.Index()
{      
        Name = indexName
        Fields = FieldBuilder.BuildForTy

[2020-03-09 18:10] #48434 closed

[2020-03-09 18:11] rurounijones commented on #49742
Thank you for your detailed follow-up.

To reduce verbosity I am going to refer to the page I commented on as the [Migration page](https://docs.microsoft.com/en-us/azure/cognitive-services/luis/luis-migration-api-v3) and the REST API doc page you linked to as the [REST API Docs](https://westus.dev.cognitive.microsoft.com/docs/services/luis-endpoint-api-v3-0/operations/5cb0a91e54c9db63d589f433)

Th

[2020-03-09 18:12] mirsaeedi opened #49795 "Parametrizing Blob Storage Linked Service Is Not Working"
I tried to parameterized a blob storage linked service manually through the code editor.

[code]

I pass the parameter value from the pipeline to the dataset and eventually to the linked service. The issue is that the linked service cannot capture the parameter value and it's always empty. I get this error upon running the pipeline that is using this linked service:

[code]

---
#### Document Deta

[2020-03-09 18:15] cephalin commented on #36547
@dcbrown16 sorry for the delay. I've rewritten the doc. It will be published sometime today.

[2020-03-09 18:17] MarileeTurscak-MSFT commented on #49793
@steele6599
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 18:18] MarileeTurscak-MSFT commented on #49786
@arowse-pfl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 18:19] CharmanderJieniJieni opened #49796 "Is there a way to find when did the user last used the role assgined?"
If a user is assigned VM contributor role and never created VM, we would want to revoke this role assignment. Is there a way we can check whether the user has ever used the role assigned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b51e0400-24b5-a8ec-a13f-7767326ee2a9
* Version Independent ID: a97d3730-2ac1-f292-13d

[2020-03-09 18:20] MarileeTurscak-MSFT commented on #49766
@davidscott851 thanks for this recommendation. If you'd like to suggest this to be used in a more specific way feel free to suggest that on an article.

[2020-03-09 18:20] #49766 closed

[2020-03-09 18:20] mike-2138 commented on #49566
Hi John, thanks for the reply. Regarding the prompts though when you say “may” get a certificate prompt, could you elaborate please - what are the precise conditions that trigger this behaviour? Can anything be done to mitigate it?

________________________________
From: John Flores <notifications@github.com>
Sent: Monday, March 9, 2020 5:05:40 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.g

[2020-03-09 18:21] MarileeTurscak-MSFT commented on #49772
@fhe-fr thanks for the feedback! Please include the link to the article that you are referencing so that we can better assist.

[2020-03-09 18:31] carsontwilson opened #49799 "The example on this page is no longer relevant"
This example:
AzCopy /Source:https://xxx.blob.core.windows.net/xxx
/Dest:https://xxx.blob.core.windows.net/xxx /SourceKey:xxx /DestKey:xxx
/S

No longer works with AzCopy, none of the switches are recognized....  It looks like this is more appropriate: azcopy cp "https://[srcaccount].blob.core.windows.net/[container]/[path/to/blob]?[SAS]" "https://[destaccount].blob.core.windows.net/[container]/[p

[2020-03-09 18:39] vlado101 opened #49801 "Getting "This table is a No Primary Index(NOPI) table." on Teradata tables with a PI"
Hello,

I am currently testing out a pipeline where I am using "Hash" partition option to extract from an on-prem Database. I have set up a pipeline that passes a list of tables to a ForEach activity and then I run the extract in parallel:

![image](https://user-images.githubusercontent.com/9321800/76245850-053ce900-6213-11ea-98b2-a8f2e15e7f9a.png)

Inside the ForEach activity I have put the follo

[2020-03-09 18:39] cmmdesai commented on #49793
@steele6599 Thank you for sharing this feedback. The Join function does not allow adding CR LF characters, so there is no option to handle this through the provisioning engine. Can you add this suggestion here https://feedback.azure.com/forums/169401-azure-active-directory?category_id=360895 and we will take it up as an enhancement request.

[2020-03-09 18:41] doc-rj-celltrak commented on #49708
Hi @amanmcse we still see the same error after making that change. Do you have any other suggestions? Thanks!

[2020-03-09 18:42] tchristiani commented on #47857
This is in the backlog for @MarkHeff   #in-progress

[2020-03-09 18:44] rwike77 commented on #49452
@akingscote   Yeah, all the text in the description was squishing the key and example columns, making them hard to read.  I've updated the article so it doesn't use a table, hopefully that helps.  #please-close

[2020-03-09 18:44] #49452 closed

[2020-03-09 18:49] briandunnington commented on #49491
@NavtejSaini-MSFT That link does talk about the various operations, but only shows how to build a connection string when the emulator is running on your localhost. When I run the emulator via the DevOps task, it runs in Docker and only exposes the SQL endpoint via environment variable. I would like to know how to get (if possible?) the Table endpoint from the Docker task.
I did try taking the SQL

[2020-03-09 18:51] djpmsft commented on #49795
Can you post this question on our [MSDN forum](https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=AzureDataFactory)? Github issues are generally for doc related bugs or improvements

[2020-03-09 18:52] steele6599 commented on #49793
any other way of doing this other than Join Function?

[2020-03-09 18:54] mirsaeedi commented on #49795
I thought it might be a bug because in the document it had been mentioned that it's possible to paramterized linked servers through the code editor.

[2020-03-09 18:56] BharathNimmala-MSFT commented on #49777
@para0056 Thank you for your query, we will further look into your request and get back to you at the earliest.

[2020-03-09 18:59] ak09 opened #49802 "Is the event feature available on Azure Files? Using this https://docs.microsoft.com/en-us/rest/api/storageservices/file-service-rest-api"
Using this https://docs.microsoft.com/en-us/rest/api/storageservices/file-service-rest-api can we setup events on file creation? Something like this for blobs https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview?toc=%2fazure%2fstorage%2fblobs%2ftoc.json .

[2020-03-09 18:59] xiao-lix commented on #48152
@yohny Thanks for the reminder, the snippet on github README is the most updated one, and the doc page is now up to date: https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#snippet-based-setup
Please close the issue if no further question, thanks.@lgayhardt

[2020-03-09 19:01] cijothomas commented on #48346
This doc already recommends to use TelemetryClient from DI.
https://docs.microsoft.com/en-us/azure/azure-monitor/app/api-custom-events-metrics#get-a-telemetryclient-instance

[2020-03-09 19:06] djpmsft commented on #49795
You can parameterize linked services through the code editor. The MSDN forum will allow our customer experience team to investigate the issue and determine if the doc is misleading or not.

The issues looks to be in the passing of the parameter from the linked service, rather than the linked service definition

[2020-03-09 19:07] tchristiani commented on #49338
Translator Text (aka Microsoft Translator) and Speech Translation are not the same service. The explanation for Speech Translation is correct in the above response of speech-to-speech vs. speech-to-text.  Translator Text has their list of language support [here](https://docs.microsoft.com/azure/cognitive-services/translator/language-support).
#please-close

[2020-03-09 19:07] #49338 closed

[2020-03-09 19:10] kobulloc-MSFT commented on #48152
@yohny We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-09 19:10] #48152 closed

[2020-03-09 19:11] briandunnington commented on #36458
Following some advice, we had set `WEBSITE_CONTENTSHARE` as a slot setting to make sure the values were distinct between our production and staging slots. Today, the ARM template that we use started failing with `'WEBSITE_CONTENTSHARE' cannot be a slot setting.` (even though I confirmed that it is indeed set as a slot setting in the portal currently). Did something around this behavior change?

[2020-03-09 19:14] Ericgre commented on #49787
Sorry this feature will be in preview later this week, please wait for the public announcement.

[2020-03-09 19:23] tchristiani commented on #49526
This has been identified as a product issue, not a doc bug or enhancement.
We want you to get an answer as quickly as possible so, please take a look at [this document](https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-support-options) and post your issue to the relevant forum.
#please-close

[2020-03-09 19:23] #49526 closed

[2020-03-09 19:28] jjensen-incomm commented on #48678
I know this is a now closed issue but I'm not sure the update to the documentation that was made is entirely accurate. The documentation currently states "In App Service, SSL termination happens at the network load balancers, so all HTTPS requests reach your app as unencrypted HTTP requests." However, we are running a DotNet WebApp in Azure today and have verified from the HTTP logs that requests

[2020-03-09 19:28] brjohnstmsft commented on #49774
@hurtn Was the co-ordinate you were trying to pass in the eastern or western hemisphere? The example shows a co-ordinate in the western hemisphere, therefore the longitude is negative. In addition, the separator between scoring parameter than and value is also a dash, hence the double dash.

[2020-03-09 19:33] HeidiSteen commented on #49756
@wuhanyumsft Hello, the note at the top of the page says that "The REST API version 2019-05-06-Preview provides this feature. There is no portal or .NET SDK support at this time."   Can you use the preview REST API for now ?

[2020-03-09 19:35] BharathNimmala-MSFT commented on #49575
@ElanShudnow Thank you for sharing your feedback and providing additional context. I am assigning this issue to our document author @bwren to further evaualte the feedback regarding the resource column and update the document accoridngly.

We will keep this thread updated as we learn more about it.

Great to see you blogging about the implementation. Thank you for doing that and helping broader co

[2020-03-09 19:37] MarileeTurscak-MSFT commented on #49796
@CharmanderJieniJieni
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 19:38] tchristiani commented on #49774
#please-close

[2020-03-09 19:38] #49774 closed

[2020-03-09 19:39] MarileeTurscak-MSFT commented on #49772
@fhe-fr please create a new issue linking the document that you want fixed, and we will gladly make this change.

[2020-03-09 19:39] #49772 closed

[2020-03-09 19:42] steele6599 commented on #49793
This is all i see unless we can do a "Null" check for [AddressLineData]?

Notice the Commas.

Function: Join(", ",Join(", ", [AddressLineData], [AddressLine2Data])),[AddressLine3Data])

User 1
Input WD:[AddressLineData] 1 Main Street
Input WD:[AddressLine2Data] Suite 500
Input WD:[AddressLine3Data] Cube D

Output:  1 Main Street, Suite 500, Cube D

User 2
Input WD:[AddressLineData] 200 Second Stre

[2020-03-09 19:49] MarileeTurscak-MSFT commented on #49790
@miss-tech I agree! I made a pull request to incorporate your suggestion. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107003

[2020-03-09 19:49] #49790 closed

[2020-03-09 19:52] BharathNimmala-MSFT commented on #49369
@DangerMoose87 , @zizu1985  Thank you for circling back and apologies for your experience , can one of you please share your account information to further help you troubleshoot this.  Please send an email to AzCommunity@microsoft.com  with your Subscription details and a link to this thread so we can verify and direct the request accordingly.

Since this channel (the [Azure Docs repository](https

[2020-03-09 19:52] #49369 closed

[2020-03-09 19:54] iainfoulds commented on #49686
Thanks, @smaher37. I can see that issue, too. The portal error on upload doesn't provide more information, and there's then a difference in the available downloaded CSV.

I've reached out the product team for guidance on the difference, and I'll update the doc as needed.

#in-progress

[2020-03-09 19:56] MarileeTurscak-MSFT commented on #49455
objectGUID is used by default and it is also the recommended attribute. So it's good to let AD Connect choose.

Hope this helps!

+ @billmath

[2020-03-09 19:57] MarileeTurscak-MSFT commented on #49455
I've passed your feedback along to the content author. If you think this should be clarified further feel free to make a pull request to the article as well.

[2020-03-09 19:57] #49455 closed

[2020-03-09 20:03] miss-tech commented on #49790
Fantastic, thanks!

[2020-03-09 20:13] BrianLevenson commented on #43143
Hi @santhoshbomma9 - With an Azure App offer, the customer is responsible for the Azure consumption costs because the app is deployed into the customer's Azure tenant. There are two types of Azure App: Solution Template and Managed App. In both cases, you don't need to set any specific configuration, and the customer is automatically responsible for the Azure costs. The Azure consumption costs is

[2020-03-09 20:18] ianc911 opened #49803 "Enable Integration Services on VMs"
Document instructs you to Enable Integration Services on VMs. It does not say whether guest services need to be enabled, since these are disabled by default. Mention should be made of this since it is not clear whether this required or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e471b58-5a81-3c02-4e3a-cbb6f19e

[2020-03-09 20:25] Blackmist commented on #49501
Thanks for catching that @dagarkatyal

I'll follow up on those and update the docs.

[2020-03-09 20:34] vikramdadwal commented on #49730
@diberry : please check the snapshot for my ask here. thanks.

![image](https://user-images.githubusercontent.com/10174566/76255006-a83d3500-620a-11ea-8c87-2258d38ac382.png)

[2020-03-09 20:36] vishalkalal07 opened #49805 "Is this functionality to create RG still exist, as when i use type: "Microsoft.Resources/resourceGroups", visual studio code is giving me warning and looks like this type is not available in list."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-03-09 20:37] SaurabhSharma-MSFT commented on #49362
@juniwang I have received the confirmation from products team that unfortunately creating a compound entity using CLI is not supported yet but it is supported through Powershell and Portal.
I suggest you to please post this as a feedback at [UserVoice](https://feedback.azure.com/forums/906355-azure-key-vault). This will allow the community to upvote and for the product team to include into their p

[2020-03-09 20:44] slopezv2 opened #49806 "Limitations"
What are the limitations? Can I connect as DirectQuery? How many objects does it bring from the api?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e48ed4d7-7215-03d1-77e4-9cd6f5112980
* Version Independent ID: 85baaa06-d4a2-fe5d-9f62-bf8ea39450bb
* Content: [Power BI integration - Azure Time Series Insights](https://d

[2020-03-09 20:46] rolyon commented on #49441
Hi @MMollyy
NotActions and NotDataActions are not a deny rule. They are simply a convenient way to create a set of allowed operations when specific operations need to be excluded. Unfortunately, you can't directly create your own deny assignments. Azure Blueprints and Azure managed apps are currently the only way that deny assignments can be created.
If you grant someone wildcard (*) access to a s

[2020-03-09 20:53] MarileeTurscak-MSFT commented on #49768
@hisasima
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 20:54] Altern1ty commented on #43099
Why has "authenticationSettings" not been added to this document? I can't believe you have to read through all the comments on this article to find this!

[2020-03-09 20:57] ezlee commented on #47814
You can still build a cluster with even 1 node or 2 nodes under free trial, no more than 4 cores.

[2020-03-09 20:58] MarileeTurscak-MSFT commented on #49775
@Daniel-AFK12
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 20:59] MarileeTurscak-MSFT commented on #49775
@Daniel-AFK12 Thanks! I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/107019

[2020-03-09 20:59] #49775 closed

[2020-03-09 21:05] nclementsl opened #49810 "Azure Network Tap for GCC High"
Is Azure Network Tap available for GCC High users?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d8be962-4812-f08c-1649-f564b561e97d
* Version Independent ID: 50e474f8-3edb-ca96-52a4-cc2afb43bf41
* Content: [Azure virtual network TAP overview](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-ne

[2020-03-09 21:19] MarileeTurscak-MSFT commented on #49459
@stefanwiele I didn't hear back from the product team but based on my testing and checking with the documentation, it only seems to show if you're the first one to set it up.

If you'd like to make a feature request to change this, the best place to ask is in User Voice. https://feedback.azure.com/forums/169401-azure-active-directory

[2020-03-09 21:28] ballcap231 opened #49811 "Time out following tutorial Deploy an Image Classification Model"
I followed the code for this tutorial pretty much step by step without changing any of the settings and still received a timeout error. https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-deploy-models-with-aml#deploy-as-a-web-service

(P.S. I'm posting code for what I ran today but I believe a couple of weeks back I ran the code in the aforementioned tutorial exactly as is and it gav

[2020-03-09 21:33] KranthiPakala-MSFT commented on #49801
@vlado101 Thanks for reaching out. This repo is to address issues related document content. At this time it looks like you are referring to a specific used case scenario and not directly related to document content, we request you to please post your question on "_[MSDN - Azure Data Factory](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory&filter=alltypes&sort=lastpostdes

[2020-03-09 21:44] normesta commented on #40942
Thanks for the feedback @PingPongSet. We'll review this doc to assess whether to include more inline or have separate articles. In the meantime (taking one at a time) - Filtering examples are included in the article In the [Filtering Events](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview#filtering-events) section. These are strings that you can use in filter argum

[2020-03-09 21:45] normesta commented on #40942
#please-close

[2020-03-09 21:45] KranthiPakala-MSFT commented on #49795
Hi @mirsaeedi These kind of queries are best suited for forums with larger audience visibility. We have our engineers and others who are monitoring them and will be happy to help. One of our engineer is looking into in MSDN forum and will provide an update as soon as we have an update.

Since it is being tracked in MSDN, we will now proceed to close this thread. In case if you think that the docum

[2020-03-09 21:45] #49795 closed

[2020-03-09 21:45] #40942 closed

[2020-03-09 21:47] GuyHarwood commented on #46278
@sharad4u is there any update on this? currently front door log analytics has very little guidance on what entities within log analytics should be queried or how to find useful information.  There are hundreds of data entities in log analytics and it is not obvious where to start.

[2020-03-09 21:52] mc0re opened #49813 "How exactly download the smooth stream"
Hi,
I realize that I can parse the `.ismc` file, extract `SmoothStreamingMedia/StreamIndex/c` tags, construct a list of chunks and download them as files. But that concatenated data lacks a header (which presumably also contains the where-to-get-license information). How do I create that header?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-03-09 22:07] mc0re commented on #49813
I probably should add that i am interested in a .NET solution.

[2020-03-09 22:39] kgremban commented on #49171
@Tam66662 Thanks for creating this issue, and especially thank you for including createOptions scenarios that you want to use. We've heard similar feedback from other users, and have plans to work on this content. I'll update this issue when there's something published for you to take a look at.

[2020-03-09 22:41] eoedewaldt-d2r commented on #45914
April 1, 2020 is the deadline for the API being deprecated. Any chance the Shopify connector will get an update ASAP?

[2020-03-09 22:53] MartinJaffer-MSFT commented on #49697
@deepikabandhanadham  It is not currently possible to delete fileshare folders while using lastModifiedDate feature.  However I am working on a workaround for you.
This seems to be related to how in a Get Metadata activity fetching child items, shows both files and folders when the lastModifiedDate filter is _not used_, but when it is used, it shows only files, not folders.

[2020-03-09 22:55] Tam66662 commented on #49614
@AshokPeddakotla-MSFT just to be clear, you are saying that I can only create an IoT Edge device on ONLY version 17763 and not on any later versions of Windows 10?

Regards,
Tam

[2020-03-09 23:01] MarileeTurscak-MSFT commented on #49544
Thanks for sharing this! Glad to know it got resolved :)

Did you try it in a new browser after logging out and logging back in again?

It sometimes requires this in order for the settings to appear. There's a similar conversation here:

I made a pull request to add a note but feel free to make an additional pull request if you think more should be added. https://github.com/MicrosoftDocs/azure-doc

[2020-03-09 23:01] #49544 closed

[2020-03-09 23:10] BharathNimmala-MSFT commented on #49777
@para0056  Thanks again for reaching out to us, assigning this issue to our document author @MGoedtel to further evaluate your query and share any latest information regarding this and update the document as needed.

[2020-03-09 23:12] kgremban commented on #47732
@tmhui94 Did you set the **https_proxy** environment variable for the blob storage module?

For IoT Edge modules that just use routing to send messages to IoT Hub, you don't need to worry about setting up proxy support because they only need to communicate with the edgeHub module to pass messages. However, the blob storage module creates its own connection to the cloud, so needs the same https_pro

[2020-03-09 23:13] markjbrown commented on #49727
please assign to @timsander1  Thanks.

[2020-03-09 23:13] mmathias01 opened #49816 "helm upgrade command for ingress controller may require --set rbac.enabled=true"
Thanks for the great documentation! One issue I noticed is that I believe where you have this command:
[code]
\
\
You may want to note that if you have RBAC enabled on your AKS cluster you need to probably need to have "--set rbac.enabled=true" as part of this command as well like so.
[code]
\
\
If you don't add this then traefik will not have the right security principle and will not work correct

[2020-03-09 23:14] iainfoulds commented on #49686
After some troubleshooting and discussion with engineering team, the import fields are correct as listed in the doc:

[code]

The doc is incorrect in the sample secret key. The secret key can only contain _a-z_ and _0-7_. The example published will be updated. The secret does still need to be encoded in Base32, as the doc currently states.

There is an expected difference between import and export

[2020-03-09 23:14] MarileeTurscak-MSFT commented on #49770
@PeteHaigh-MSFT
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 23:16] TomArcherMsft commented on #46063
@CeciAc This should be resolved. Please advise if not and will reopen. #please-close

[2020-03-09 23:16] #46063 closed

[2020-03-09 23:16] MarileeTurscak-MSFT commented on #49771
@rahulroshan96
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-09 23:16] TomArcherMsft commented on #49497
@robcamer @JaumenseT This should be resolved. Please advise if not and will reopen. #please-close

[2020-03-09 23:16] #49497 closed

[2020-03-09 23:17] TomArcherMsft commented on #49458
@rudolfdobias @robcamer This should be resolved. Please advise if not and will reopen. #please-close

[2020-03-09 23:17] #49458 closed

[2020-03-09 23:20] TomArcherMsft commented on #45643
@VikasPullagura-MSFT Closing issue. Please advise if you have specific actionable feedback. #please-close

[2020-03-09 23:20] #45643 closed

[2020-03-09 23:23] michaelsync commented on #47814
@ezlee Does it have that option? I know I can do with AKS (public) but couldn't find the option for AKS private (preview).

[2020-03-09 23:28] BharathNimmala-MSFT commented on #49358
@mb01r Hope the above information helps and i have shared the feedback to our document author to further evaluate and update the document accordingly.

For now we will go ahead and close the issue , however updates will be shared once @bwren had a chance to review it and if document needs to be further enhanced. If you have any further queries or feedback please tag us in your reply and will be ha

[2020-03-09 23:28] #49358 closed

[2020-03-09 23:31] BharathNimmala-MSFT commented on #49803
@ianc911 Thank you for your query, we will further look into it and get back to you at the earliest.

[2020-03-09 23:33] tfitzmac commented on #49769
@JozoSlejko - I have added the full template to the article. Hopefully, that makes it more clear how the function parameters work.

[2020-03-09 23:33] tfitzmac commented on #49769
#please-close

[2020-03-09 23:33] #49769 closed

[2020-03-09 23:44] tfitzmac commented on #49674
The if statements would have to be applied at each property, like what you have for sslCertificate. You would check if hostname is NA, and either set the property or not.

[2020-03-09 23:46] mike-urnun-msft commented on #49784
@uranio-235 Thank you for your feedback! This is most likely an issue in your local environment. Could you specify which version of Functions runtime you have tried this with?

Here's couple of resources that might help:

1. A complete sample that I have tested: https://github.com/mike-urnun-msft/AzureFunkDI
2. An existing issue where others are discussing different solutions that worked for them:

[2020-03-09 23:47] markvogt commented on #43515
MARCH 9 2020... AND THIS IS STILL A PROBLEM !!!

NO idea why this topic was CLOSED when CLEARLY people were having SO MANY problems they were ABANDONING this (node.js-based) sample application and instead openly TELLING you they were going to try the C-based version...

IS "I'm ABANDONING YOUR CODE BECAUSE YOU REFUSE TO FIX IT IN A TIMELY <months> FASHION" somehow translate into "OK to CLOSE the t

[2020-03-09 23:52] #49686 closed

[2020-03-10 00:00] wgkesler commented on #41800
@cijothomas Can you please provide the solution for the issue?

[2020-03-10 00:03] bandersmsft commented on #49775
@Daniel-AFK12 @MarileeTurscak-MSFT Thanks for catching this and for fixing.

[2020-03-10 00:07] MarileeTurscak-MSFT commented on #49776
@svenwasmer
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 00:10] ishepherd opened #49818 "To detect changes in dependencies, Change Analysis checks the web app's DNS record"
Could you please give a tiny bit of detail how this works? What DNS record is it checking?
(My use case is to discover dependencies of App Service Function apps, to each other, and to other Azure resources.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7303812-25be-548c-4f02-1ccd98f122e0
* Version Independent ID: 03

[2020-03-10 00:14] mb01r commented on #49358
@BhargaviAnnadevara-MSFT. This is what I was looking for. Thanks for the quick response.

[2020-03-10 00:14] jdelforno opened #49819 "Edit "User Attributes" unclear"
Can you please add clarification around this line/section:
The administrator role name and value were created in User Attributes section in the Azure portal.

It's assumed it relates to the Claims section and "fwadmins" mapping within a translated user claim, based on User Group Membership. If you google for "Azure User Attributes" the section regarding provisioning comes up, which is extremely mi

[2020-03-10 00:14] backerman commented on #49224
Same problem w/ 5.1.14393.3471 and 7.0.0, Az 2.7.0 and 3.5.0; the settings are converted to an unholy mess of Clixml when I attempt @manojsubramani 's workaround. I ended up using the az CLI, which worked perfectly.

[2020-03-10 00:19] MarileeTurscak-MSFT commented on #49778
@KristinLieber
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 00:21] MarileeTurscak-MSFT commented on #49792
@mbell85
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 00:22] GiftA-MSFT commented on #49676
@meswaramoorthy while following the documentation I was able to submit the experiment via VS Code successfully as shown below. Thanks.

![image](https://user-images.githubusercontent.com/51332022/76267749-29fc8500-6242-11ea-99e2-2fdf69a561af.png)

[2020-03-10 00:22] #49676 closed

[2020-03-10 00:29] MarileeTurscak-MSFT commented on #49805
@vishalkalal07 please include the link to the guide that you are following so that we can better assist.

[2020-03-10 00:31] GiftA-MSFT commented on #49704
@gvashishtha can you please review this feedback. Thanks.

[2020-03-10 00:31] sc-bperry commented on #49506
@PramodValavala-MSFT Thanks for the detail. That's very helpful!

Yes, converting it to JSON first took care of the issue. So doing the following will produce the JSON to level I prefer:
[code]

[2020-03-10 00:39] MarileeTurscak-MSFT commented on #49819
@jdelforno
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 00:47] GiftA-MSFT commented on #49811
@ballcap231 we will review your feedback and get back to you shortly.

[2020-03-10 00:48] MartinJaffer-MSFT commented on #49697
@deepikabandhanadham , I have a tentative work-around.  Please test that it meets your requirements before using in production.  The attached example works in two main steps.
[FileShareDeleteFolder.zip](https://github.com/MicrosoftDocs/azure-docs/files/4309630/FileShareDeleteFolder.zip)

1. Delete the files recursively as you already tried
2. Get the first layer of subfolders, and only delete them

[2020-03-10 00:50] vermagit opened #49823 "Info missing after page update"
@laurenhughes
This page seems to have undergone major change which has resulted in key information being missing now. See an example of a cached page which had information around configuring RDMA on such VM sizes, and is now missing.
Could you revert back this change at the earliest? Thanks.
![image](https://user-images.githubusercontent.com/35745586/76269297-4a224900-622e-11ea-8f48-b2ae08a8412e.p

[2020-03-10 00:57] kobulloc-MSFT commented on #49816
@mmathias01 Thank you for the feedback!  We will assign this to the document author so that they can update the document accordingly.

[2020-03-10 00:59] cecilphillip commented on #49405
@AshokPeddakotla-MSFT yes, we're good. I'll discuss offline w/ @rbrundritt

[2020-03-10 01:14] gvikei commented on #5643
![image](https://user-images.githubusercontent.com/4736266/76270095-40e6ab80-6231-11ea-98dd-1b6282b90f0a.png)

Hi, when I checked the trigger run history, I could see windowStartTime and windowEndTime as parts of the properties, but it's still saying that these don't exist in the run.

[2020-03-10 01:18] benlaughlin commented on #44095
Hey team, any update?

[2020-03-10 01:26] juniwang commented on #49362
Thanks for the update any way.

[2020-03-10 01:28] Karishma-Tiwari-MSFT commented on #49507
@Mriccio Is there an update?

[2020-03-10 01:30] TravisCragg-MSFT commented on #49779
@ftereso I understand that you want to delete the Public IP off of your VPN Gateway. Unfortunately a Public IP is required on a VPN Gateway. You will need to delete the VPN Gateway first, then delete the Public IP.

[2020-03-10 01:43] markvogt commented on #43515
UPDATE MARCH 9th 2020...

IF you're new to Raspberry Pi's and Azure IoT, then you're discovering:
- Microsoft's assigned team doesn't seem to care (not really guys - sorry);
- There are numerous "red herrings" (misleading clues) which only make newbies
   (including me) really really aggravated.

THAT SAID, I'm committed to trying to RESOLVE this issue, AND EXPLAIN what's going on...

IF you did w

[2020-03-10 01:54] TravisCragg-MSFT commented on #49810
@nclementsl I was not able to find any information either way about the availability for GCC. I have followed up to see if I can get some more clarification on it.

You can also Email azurevnettap@microsoft.com for more information to see if this is something that can be enabled for your subscription / regions.

[2020-03-10 01:58] TravisCragg-MSFT commented on #49359
@krymzn Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-10 01:58] #49359 closed

[2020-03-10 02:00] TravisCragg-MSFT commented on #49768
@hisasima Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-03-10 02:00] markvogt commented on #43515
You & I are in complete agreement.
DON'T UPLOAD sample applications that DON'T work and you're NOT SUPPORTING...

TRYING to decide if we're (my teammates & I) are going to:
a. keep beating our heads against the wall making node.js (javascript approach) work; OR
b. switch over to PYTHON (which we like better anyways)

ME?
Time is MONEY... so it's off to PYTHON land for Raspberry Pi4-to-AzureIoTHub

[2020-03-10 02:14] SnehaAgrawal-MSFT commented on #49813
@mc0re Thank you for your feedback! We will review and provide an update as appropriate.

[2020-03-10 02:16] poutler commented on #36012
@jakaruna-MSFT This doesn't seem to work for me. I'm trying to deploy Traefik on a stand alone cluster as a guest executable, and I want to constrain it the primary nodes

[code]

I'm getting back an error whenever I try to provision the application with sfctl:

[code]

[2020-03-10 02:21] SnehaAgrawal-MSFT commented on #49419
@Machaira We typically try to keep the Azure-Docs channel scoped to feedback directly about the docs. Since your question goes beyond what is discussed in the doc, we kindly invite you to share your question Microsoft Q&A forums.
For Azure App Service related questions:
 https://docs.microsoft.com/answers/topics/azure-webapps.html
Thank you for your understanding on this.

[2020-03-10 02:21] #49419 closed

[2020-03-10 02:25] Pancat007 commented on #49338
Of course I know its different service, RohitMungi's saying is also my understanding.

But the problem i submit is for the confusing content for the Speech Translaton(Cognitive Service).
From this link: https://www.microsoft.com/en-us/translator/business/languages/
saying that **“Speech-to-text is available from the 11 supported languages to any of the 60+ supported text translation languages.”,**

[2020-03-10 02:30] gvashishtha commented on #49704
@shivanissambare @paulshealy1 to follow up

[2020-03-10 02:46] zhenlan opened #49827 "It's unclear how values are retrieved from AppConfig in an ARM template"
Key-values are retrieved from AppConfig using ARM API `listKeyValue` in the ARM template. However, nothing is mentioned about it in the documentation. We throw a 200+ line JSON file to users and hope they can figure it out.

I suggest we add a few sentences at the beginning of [Deploy VM using stored key-values](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-resource-man

[2020-03-10 03:01] bangbingsyb commented on #49827
Make sense.
@mamccrea

Let's add an explanation at the beginning and also reference the list* template function link:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#list

[2020-03-10 03:18] peternield opened #49828 "WS-Federation"
Is there an equivalent for WS-Federation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1376f79b-474f-4b83-2583-07acd2eeb2f4
* Version Independent ID: 45d314dd-c9fa-50a5-cb39-d34db80c7874
* Content: [Configure Azure AD B2C as a SAML IdP to your applications](https://docs.microsoft.com/en-us/azure/active-directory-b2c/

[2020-03-10 03:22] vishalkalal07 commented on #49805
please refer to the link:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-to-subscription#create-resource-groups

[2020-03-10 03:34] BhargaviAnnadevara-MSFT commented on #49818
@ishepherd Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-10 03:42] BhargaviAnnadevara-MSFT commented on #49827
@zhenlan Thanks for the feedback. I have assigned the issue to @lisaguthrie and @mamccrea to update as appropriate.

[2020-03-10 03:43] markrevill opened #49829 "MIssing Resource Type "Microsoft.Insights/components""
There appears to be a reference missing to Microsoft.Insights/components within https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 374ec8eb-64d4-3766-5c5e-39137a262ffd
* Version Independent ID: 3abeeae9-6854-651a-483c-a1673eea9f9f

[2020-03-10 03:49] VikasPullagura-MSFT commented on #49823
@vermagit
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-10 03:49] VikasPullagura-MSFT commented on #49823
@laurenhughes
Can you please check and add your comments on this doc update request as applicable.

[2020-03-10 04:07] xieofxie opened #49830 "case-insensitivity is actually resolved in list entity?"
See 'book 2 tickets to paris' example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3103f3e3-bbbf-9083-f948-4116512b38a4
* Version Independent ID: 578c9874-d637-b232-aa61-7f06c3ffa86a
* Content: [List entity type - LUIS - Azure Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/LUIS/referen

[2020-03-10 04:14] sig9 commented on #47959
I got this to work by installing azure CLI in the base container image and adding a volume mount from host to container.    I'm not sure it is a recommended approach though.  details here: https://github.com/MicrosoftDocs/visualstudio-docs/issues/4910

[2020-03-10 04:20] AshokPeddakotla-MSFT commented on #49806
@slopezv2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-10 04:28] msrini-MSFT commented on #49799
@carsontwilson  , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-10 04:30] msrini-MSFT commented on #49783
@benfaria , Thank you for your feedback. We will investigate and get back to you shortly.

@alkohli , can you please take a look ?

[2020-03-10 04:45] msrini-MSFT commented on #49780
@brianfromoregon , GitHub issues are to raise the bug/issues regarding the doc.

I just found this doc (https://docs.microsoft.com/en-us/azure/media-services/latest/widevine-license-template-overview) let me know if this helps.

[2020-03-10 04:46] msrini-MSFT commented on #49633
@danielsollondon , Let me know if you have any further questions.

[2020-03-10 04:46] #49633 closed

[2020-03-10 04:47] msrini-MSFT commented on #49721
@maheshn99 , Tag me if you have any further questions.

[2020-03-10 04:47] #49721 closed

[2020-03-10 04:47] msrini-MSFT commented on #49739
@ikewabo , Do you have any update on this issue?

[2020-03-10 04:55] msrini-MSFT commented on #48877
@cherylmc, Can you please update the doc with the known limitation? mailing your the internal details.

[2020-03-10 05:00] msrini-MSFT commented on #49802
@ak09 , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-10 05:01] dhruvingajjar opened #49831 "How does a deployment affects an ongoing run"
How does an ongoing pipeline run get affected when a deployment is performed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e22e4d6-366f-fbf8-e141-8905ca7ab7ae
* Version Independent ID: 5be2acf2-66e7-cadf-6666-5a85a65b9771
* Content: [Continuous integration and delivery in Azure Data Factory - Azure Data Factory](htt

[2020-03-10 05:04] shashishailaj commented on #49828
@peternield Thank you for your query. We will investigate and update this thread further.

[2020-03-10 05:06] RohitMungi-MSFT commented on #49830
@xieofxie The entity is case insensitive and is resolved to the list entity. Please find the screen shot below of the same.
![list_entities_case_insensitive](https://user-images.githubusercontent.com/46958063/76281420-fb6ec080-62ba-11ea-9ae6-ec0052a2cf42.gif)

[2020-03-10 05:08] DixitArora-MSFT commented on #49528
@blyw Set the CRON expression "0 */10 * * * *" .  In this Function should trigger every 10 second.

[NCRONTAB examples ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-timer?tabs=csharp#ncrontab-examples)

For now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussi

[2020-03-10 05:08] #49528 closed

[2020-03-10 05:11] rboucher commented on #49688
Agreed. New text will be "This article describes creating **classic metric alerts** using Resource Manager templates. Classic alerts were retired in August 2019. You cannot create new one in public Azure. Some regional versions of Azure may still have the option. Instead, create [newer metric alerts](../../azure-monitor/platform/alerts-metric-near-real-time.md) using templates. [This article](aler

[2020-03-10 05:14] amanmcse commented on #49828
@peternield As of now the answer is no. You can post an idea at feedback.azure.com and based on the popularity of the idea our product team can include it for future roadmap.

[2020-03-10 05:14] #49828 closed

[2020-03-10 05:17] CHEEKATLAPRADEEP-MSFT commented on #49701
@cjoakim  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 05:17] #49701 closed

[2020-03-10 05:19] palma21 commented on #40780
"single-tenant control plane, with a dedicated API server" does not directly correspond to 1 API server, it intends to indicate the control plan is dedicated for each customer and not multi tenant.

I can review the language if it's not clear.

The sentence "The AKS control plane components for your cluster are also spread across zones in the highest available configuration when you define the --z

[2020-03-10 05:47] dcaro commented on #49633
Actually the command fails if the subnet does not have the name 'default'. I think that we should update the documentation accordingly.

[2020-03-10 05:56] SumanthMarigowda-MSFT commented on #49509
@Chai-NED Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused. Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-03-10 06:00] AshokPeddakotla-MSFT commented on #49692
@angellmethod  I have assigned the issue to the content author @kgremban to evaluate and update as appropriate.

[2020-03-10 06:07] MMollyy commented on #49441
Yet the denies work perfectly fine when added to the role with the implicit * on subscription level. So I can make deny assignments, just I cannot add denies on top for different scopes with multiple denies.
It's strange in my perspective that the allows for different scopes are additive, but then the design is changed and the denies are not.

But this clarifies the docs. Thanks!

[2020-03-10 06:08] AjayKumar-MSFT commented on #41645
@gandhirajan, Our product engineering team is actively working on it & targeting to release before June 2020.  Please note that this timeline is just an estimate and is subject to change, depending on a myriad of factors.
Once VNet integration on Linux WebApps is GA, we will also publish a blog similar to this ‘[General Availability of VNet-Integration with Windows Web-Apps](https://azure.github.i

[2020-03-10 06:19] KranthiPakala-MSFT commented on #49591
@juanand You have mentioned "but ADF fails to get the file when enableServerCertificateValidation=true." - are you seeing any error message? If so, could you please share it here.

Were you able to test the Linked service 'Test Connection' ?

Thanks.

[2020-03-10 06:19] AshokPeddakotla-MSFT commented on #49520
@sudeepster A PR has been created to address and update the doc as per suggestions. Changes will go live once it has been peer reviewed and merged by EOD.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-10 06:19] #49520 closed

[2020-03-10 06:21] Samantha-Yu commented on #48942
Thanks for the feedback. The SAS URI has been updated, and the document has been refreshed based on the latest UI.

#please-close

[2020-03-10 06:21] #48942 closed

[2020-03-10 06:24] rboucher commented on #49688
Actually updated language to be even stronger.  Should be out in the next week if not sooner. Thanks for your comment @Zhaph

[2020-03-10 06:28] TerryLanfear commented on #49286
@shawnweisfeld - Thank you for this feedback. The broken link has been removed.

#please-close

[2020-03-10 06:28] #49286 closed

[2020-03-10 06:38] AshokPeddakotla-MSFT commented on #38370
Adding author @RamonArguelles for further review and update the doc as appropriate.

[2020-03-10 06:38] hasza commented on #45793
@mike-urnun-msft @banisadr I am also very interested in this :D
This should make SecretNearExpiry and KeyNearExpiry more useful.

[2020-03-10 06:39] arron-f opened #49833 "Markdown showing after recent update"
Early March 2020, update to page has resulted in markdown showing through to docs.microsoft.com. Looks like extra single quotes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81a1385f-b90a-e7b4-8cbd-f25aeb8b3c49
* Version Independent ID: d468eb75-88a9-b1aa-7fb3-19ebb4faa179
* Content: [What is risk? Azure AD Identity P

[2020-03-10 06:40] arron-f commented on #49833
In particular "Risk types and detection" -> "User risk" and subsequent passage

[2020-03-10 06:43] SwathiDhanwada-MSFT commented on #49621
@BrianLevenson  Can you please look into this customer request and provide your insights and also update document if necessary?

[2020-03-10 06:44] chunliu commented on #49244
I hit the same issue with zsh and the solution mentioned by @robcamer fixed it.

[2020-03-10 06:47] jakaruna-MSFT commented on #49339
Its supported.
Reference is here. https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#supported-vm-instances

[2020-03-10 06:48] jakaruna-MSFT commented on #49521
@henry-schneiderman
I will close this out for now. If you need additional help please open a new issue

[2020-03-10 06:48] #49521 closed

[2020-03-10 06:52] jakaruna-MSFT commented on #49578
@jemag Only way is to add the ips used by the azure pipelines of that region to the authorized ips list.

Also we need to update the ips when it changes for that region.

Please provide a feedback [here ](https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks)for improvement.

Community can vote on this feedback and product teams will look into this items to build their backlog

[2020-03-10 06:53] jakaruna-MSFT commented on #48428
@ramadhiantoagung
I will close this out for now. If you need additional help please open a new issue.

[2020-03-10 06:53] #48428 closed

[2020-03-10 07:00] CHEEKATLAPRADEEP-MSFT commented on #48124
@timmo001 We have updated the IP ranges for Self-Hosted IR - UK South region.

![image](https://user-images.githubusercontent.com/44426401/76287587-d41fef80-62ca-11ea-8404-efcf1a0e849f.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 07:00] #48124 closed

[2020-03-10 07:08] AshokPeddakotla-MSFT commented on #49614
@Tam66662 Yes, as mentioned in the Tier1 OS list, it specifically calls out required the required build is 17763.
Do let us know if you have further questions.

[2020-03-10 07:08] Strandfelt commented on #49781
Thanks. However, if my policy looks good, I assume it wouldn't be declined by the Azure portal?

[2020-03-10 07:10] CHEEKATLAPRADEEP-MSFT commented on #46174
@azure2439 We have updated the IP ranges for Self-Hosted IR - North Central US region.

![image](https://user-images.githubusercontent.com/44426401/76288259-53fa8980-62cc-11ea-9381-c75e006d3824.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 07:10] #46174 closed

[2020-03-10 07:12] ChiragMishra-MSFT commented on #49831
@dhruvingajjar Thanks for the reaching out. We are currently investigating into the issue and will update you shortly.

[2020-03-10 07:14] snesbitt76 opened #49834 "Service Bus Trigger Function with slots"
Can you please clarify how staging slots should be configured for functions that are ServiceBusTrigger functions? I have found that both my production slot and staging slot functions process distinct messages from the ServiceBus queue. My expectation based on this documentation is that only the production slot should process queue messages. Do we need to manually stop the staging slot after deploy

[2020-03-10 07:21] Grace-MacJones-MSFT commented on #49787
Hi @Satyricon, like Eric mentioned this feature should be publicly announced soon. Be on the lookout for the official announcement on the docs.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-10 07:21] #49787 closed

[2020-03-10 07:27] SumanthMarigowda-MSFT commented on #49802
@ak09 Are referring to Event Grid on Azure files?
Event Grid has built-in support for events coming from Azure services, like storage blobs and resource groups. Event Grid also has support for your own events, using custom topics.

[2020-03-10 07:29] SumanthMarigowda-MSFT commented on #49799
@carsontwilson Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-10 07:29] Grace-MacJones-MSFT commented on #48979
Upon further review we feel your feedback would be best received by the doc author to determine if an update to the current doc is necessary, or to create a new doc if they align with the feedback.

[2020-03-10 07:31] dziedrius opened #49835 "Always On needs better documentation"
1. Can't control the endpoint.
Even though it says "With the Always On feature, you can’t control the endpoint. It always sends a request to the application root." you could be more specific:
- Always On has specific user agent string, so you can use it to filter out access logs
- Also you can use that user agent string to rewrite Always On requests url with url rewrite module.

2. It seems to me,

[2020-03-10 07:32] yuemlu commented on #48878
@pcamposs Can you help double check on two things?
1. Make sure the Preview module is installed.
2. Cross check if the region the storage account is deployed to is in the[ Preview supported regions](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-identity-auth-active-directory-enable#regional-availability).

[2020-03-10 07:34] yuemlu commented on #48825
@SumanthMarigowda-MSFT  can we close this?

[2020-03-10 07:52] algattik opened #49836 "Is this recommended for production?"
According to https://social.msdn.microsoft.com/Forums/en-US/c606b081-a912-4496-aa0c-95455390cd60/is-pod-identity-ready-to-use-in-production-environment?forum=AzureContainerServices it is not recommended to use pod identity in production, should call out if it is a preview functionality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-03-10 07:55] CHEEKATLAPRADEEP-MSFT commented on #49410
@erfranke  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-03-10 07:55] #49410 closed

[2020-03-10 08:00] rustichowie commented on #40095
Any update on this?

[2020-03-10 08:03] Grace-MacJones-MSFT commented on #49285
Thanks for catching this error in the doc! I have submitted a PR to fix the issue, the change is merged internally and will go-live in the public docs shortly.

[2020-03-10 08:03] #49285 closed

[2020-03-10 08:13] kolotu commented on #49344
Hi @dominicbetts , great that you're taking the time to analyze this - thanks! Here are the results of the commands:

[code]

[2020-03-10 08:15] dsfrederic commented on #49674
@tfitzmac is there not a cleaner way to do this? Because this would mean that I have to check the same condition for almost 30 properties individually!

[2020-03-10 08:16] CHEEKATLAPRADEEP-MSFT commented on #48047
@gjmoyer This article  "[Azure Functions supports trigger and output bindings for Event Hubs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-event-hubs)" explains how to work with Azure Event Hubs trigger for Azure Functions.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the dis

[2020-03-10 08:16] #48047 closed

[2020-03-10 08:18] dsfrederic commented on #49674
And what about child properties? Can I set a JSON(null) on the deepest child or will this not be accepted?

[2020-03-10 08:20] Dennizzzzz opened #49837 "Is there a way to get AzureMetrics information using a REST Api?"
I'd like to get information about AzureMetrics using a REST api.
And if so, where can I get some information and examples for this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77f273ec-aed5-1f65-0b6d-87240765d3e0
* Version Independent ID: d195959f-5742-7d94-f4f5-e70c0f0581e7
* Content: [Azure SQL Analytics solution

[2020-03-10 08:23] PramodValavala-MSFT commented on #49834
@snesbitt76 App Settings and Connection Strings should be made [slot specific](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-slots#manage-settings). So, depending on which slot the app runs in, it gets those settings.

[2020-03-10 08:28] CHEEKATLAPRADEEP-MSFT commented on #23750
@imeya, When you click select the radio button "Selected Networks", then click save. It will allow  network traffic to the selected virtual network.

Example: If you adding any pc IP address, then the traffic will be only allowed between Azure Event Hub and selected IP address.

Hope this helps.

[2020-03-10 08:28] CHEEKATLAPRADEEP-MSFT commented on #23750
@imeya
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 08:28] #23750 closed

[2020-03-10 08:34] RohitMungi-MSFT commented on #49836
@algattik Thanks for the feedback. We are investigating the issue and will update you shortly.

[2020-03-10 08:36] assaf-grth opened #49839 "Benchmarks details"
Are there any available benchmark details for the time it takes for a broadcast to rich 10M devices?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4be410ed-6f1a-639c-aa40-39937e284d97
* Version Independent ID: b452b1ee-a46c-9896-bfac-da792b94c2b7
* Content: [What is Azure Notification Hubs?](https://docs.microsoft.com

[2020-03-10 08:37] jay7x opened #49840 "azcopy v10 download URL suitable for automation"
Currently I was unable to find any v10 download URL suitable for automation. You have 'versionless' URL here (https://aka.ms/downloadazcopy-v10-linux) which leads to 'https://azcopyvnext.azureedge.net/release20200124/azcopy_linux_amd64_10.3.4.tar.gz' at the moment of writing. I'm unable to write e.g. Puppet manifest w/o hardcoding whole URL here (thanks to 'release20200124' part). Compare to the l

[2020-03-10 08:39] Samantha-Yu commented on #40012
Thanks for the feedback! This article has been refreshed to follow the latest UI. We will now proceed to close this thread.
(Please open a new issue if you have follow up questions.)

#please-close

[2020-03-10 08:39] #40012 closed

[2020-03-10 08:42] iceyokuna commented on #49534
I found it in this page **https://blog.ithubcity.com/details/azure/azure/13/224/limitation-of-azure-storage-account** and https://blog.enablingtechcorp.com/getting-started-with-azure-storage (not Microsoft's document)  . So, what is the maximum size of Storage Account. I'm so confused with the other sources. Because im not really sure what source should i trust.    Thank you!

[2020-03-10 08:42] rayne-wiselman commented on #49684
Thanks for your feedback. This is now fixed.
#please-close

[2020-03-10 08:42] #49684 closed

[2020-03-10 08:49] CHEEKATLAPRADEEP-MSFT commented on #44892
@mohowzeh Yes, you are correct.

![image](https://user-images.githubusercontent.com/44426401/76294677-4ef00700-62d9-11ea-82dd-f74b43f4ce0a.png)

Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/azure-docs-pr/pull/107076](https://github.com/MicrosoftDocs/azure-docs-pr/pull/107076)
The changes should be live EOD or tomorrow. We will now close this issu

[2020-03-10 08:49] #44892 closed

[2020-03-10 08:58] CHEEKATLAPRADEEP-MSFT commented on #45807
@StephenWeatherford Yes, you are correct.

![image](https://user-images.githubusercontent.com/44426401/76295780-384aaf80-62db-11ea-8dbe-726320669288.png)

@djpmsft Could you please review further and update the document as appropriate.

`Microsoft.DataFactory/datafactories => Microsoft.DataFactory/factories`

[2020-03-10 08:59] rahulroshan96 opened #49842 "az vm create command stuck"
[Enter feedback here]

Here I am trying to create a vm by attaching an os disk, which was created following the documentation.
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-upload-vhd-to-managed-disk-cli#next-steps

Here a NIC got created perfectly. Then there is no response to the command and got hung up like forever.
[code]
Any idea what could be wrong ?
---
#### Document D

[2020-03-10 09:02] jakaruna-MSFT commented on #49773
@kachontep is there any update

[2020-03-10 09:03] CHEEKATLAPRADEEP-MSFT commented on #48394
@spelluru Could you please look into this issue?

[2020-03-10 09:04] jakaruna-MSFT commented on #49728
ok. That should resolve your issue.

I will update the document.

[2020-03-10 09:04] imeya opened #49843 "A 400 error with message "InvalidHeaderValue" occurs when running this example."
I followed this sample "Example: Use a customer-provided key to upload a blob", link here: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-customer-provided-key#example-use-a-customer-provided-key-to-upload-a-blob.  After executed the code, a 400 error occurs, details: Azure.RequestFailedException: 'The value for one of the HTTP headers is not in the correct format.

The only cha

[2020-03-10 09:06] xieofxie commented on #49830
@RohitMungi-MSFT Oops.. my fault. My issue here wants to indicate that the following description is incorrect and not list entity is not case insensitive ![image](https://user-images.githubusercontent.com/2876650/76296438-19efae80-62f1-11ea-9c17-aff5cbbb7142.png)

[2020-03-10 09:12] sunnyatticsoftware commented on #37532
This is still unanswered.
In addition to that question I have another. The article recommends the ContentType to specify the format of the message. What about the type? How does one know which specific message type the Message received at the subscription has? It'd be good if there was some customizable metadata or if we could use this ContentType to actually specify the message type (e.g: a C# in

[2020-03-10 09:14] gennarodimeosax opened #49844 "Node Js Web App not reachable for ERR_TOO_MANY_REDIRECTS"
I've a Node Js app working fine locally in Vs Code environment.
I've deployed it to an Azure app service, both linux and windows.
The log shows that the app starts correctly but when I try to reach it from a browser I get a ERR_TOO_MANY_REDIRECTS error.
How I can deal with this issue?

Here is the log content:

2020-03-10T08:47:53.123584741Z   _____
2020-03-10T08:47:53.123602441Z   /  _  \ _______

[2020-03-10 09:18] jakaruna-MSFT commented on #49728
Command works well with `--ssh-key-value`  and `--ssh-key-values`   But in help , `--ssh-key-value` is not shown.   But shown in one of the example.

I will fix the doc to be consistent with `--ssh-key-values`. Later we can raise a issue with azure cli to fix the azure cli.

[2020-03-10 09:19] OffColour opened #49845 "Connect before logon or during?"
If we have a user using a new laptop they've never logged on to before then they'll need to connect to a domain controller for that first authentication.
So how do we get this to connect and authenticate before the user logs on or whilst logging on?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9ef898a-0b72-e018-8a3d

[2020-03-10 09:23] neeleshray-msft commented on #49833
@arron-f Thank you for your feedback. We will check and get back to you shortly.

[2020-03-10 09:33] VikasPullagura-MSFT commented on #49842
@rahulroshan96 Thanks for the Feedback. Since this channel is for driving improvements towards MS Docs and this issue is not related directly to the doc.

However, I would suggest you to check the Activity Log on Azure Portal and see if you find anything related to the issue.
Also, what version of CLI are you using. Requesting to upgrade to latest version and try to rerun the commands.
Check resou

[2020-03-10 09:33] #49842 closed

[2020-03-10 09:40] jakaruna-MSFT commented on #49728
Reference https://github.com/Azure/azure-cli/issues/8669#issuecomment-492398459

[2020-03-10 09:56] amanmcse commented on #49708
@doc-rj-celltrak Try capturing a fiddler or browser network trace to see the content length of the request and set the value of RequestContextMaximumLengthInBytes accordingly. I am suspecting that request length is more than 2000 bytes due to which you are still getting this error.

[2020-03-10 10:04] jakaruna-MSFT commented on #49705
Version downgrade wont help.

Can you try with this image  mcr.microsoft.com/dotnet/framework/aspnet

Reference https://hub.docker.com/_/microsoft-dotnet-framework-aspnet?tab=description

Only change the base image.  Other commands looks good.

sample can be found here which has both build and run time https://github.com/microsoft/dotnet-framework-docker/blob/d2b68d441d71df7615eeb8482419c2f975aa46

[2020-03-10 10:08] msrini-MSFT commented on #49829
@markrevill , Thank you for your feedback. We will investigate and get back to you shortly.

[2020-03-10 10:10] msrini-MSFT commented on #49845
@OffColour , Your Device should be AD joined. Adding resource from AD to assist.

@amanmcse , Can you comment on this?

[2020-03-10 10:17] gandhirajan commented on #41645
@AjayKumar-MSFT  Thanks for the info Ajay.

[2020-03-10 10:23] amanmcse commented on #49845
@OffColour The device should be Azure AD joined or Hybrid Azure AD joined based on your current setup. All users in that Azure AD tenant should be able to login afterwards.

[2020-03-10 10:30] jakaruna-MSFT commented on #49668
@amunger       Can you try once with pem format as shown below.
![image](https://user-images.githubusercontent.com/43405697/76303689-23284d80-62e8-11ea-8a81-0c487b9f5fb8.png)

PEM goes well with linux.

After creating the cert in portal, you still need to follow [these ](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server#prepare-a-certificate-for-use-with-a-vm

[2020-03-10 10:31] jakaruna-MSFT commented on #49668
You can also convert from pkcs to PEM

[2020-03-10 10:41] KrishnaG-MSFT commented on #49837
@Dennizzzzz Thank you for your comment! We will review and provide an update as appropriate.

[2020-03-10 10:43] yoelhor commented on #49672
Looks like this is a default message defined in the browser (not from B2C).  I checked a user flow with the latest page version and get only the HTML message, without the popup.

<img width="431" alt="image" src="https://user-images.githubusercontent.com/20111866/76304754-9623cb00-62cc-11ea-8ea0-1bdb189958cb.png">

Could you provide steps to reproduce this issue? the type of the policy (user flows

[2020-03-10 10:45] ealcyon opened #49846 "Naming the backup resource group"
Hi,
Even when the name of the backup resource group is specified, as described in the documentation (_Azure Backup resource group for Virtual Machines_), a new resource group is created without following the naming convention (a number is added to the specified resource group name).
As can be seen, in previous exchanges, this possibility (naming the backup resource group) has been activated by the

[2020-03-10 10:50] ram-msft commented on #49594
@henry-schneiderman We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-10 10:50] #49594 closed

[2020-03-10 10:50] AjayKumar-MSFT commented on #49835
@dziedrius, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-03-10 10:52] henrypi73 opened #49847 "MABS Storage"
Do you have any guidance around the MABS server that needs to be setup on premise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd590e9e-840e-e1ee-72af-103e1507668b
* Version Independent ID: 46224bb5-d2a3-4fbd-66f1-d6b2807dae50
* Content: [Architecture Overview - Azure Backup](https://docs.microsoft.com/en-us/azure/b

[2020-03-10 10:54] AjayKumar-MSFT commented on #49844
@gennarodimeosax, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-03-10 10:55] henrypi73 commented on #49847
Never mind, found it here. Can you add this link in this page: https://docs.microsoft.com/en-us/azure/backup/backup-mabs-add-storage

[2020-03-10 10:55] AjayKumar-MSFT commented on #49839
@assaf-grth, Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-03-10 11:02] dominicbetts commented on #49344
Hi @kolotu - it looks as if you're missing the public preview version of the SDK. Can you try the following command to install it:

[code]

You can then verify that it's been installed using:

[code]

You should see entries such as: `azure-iot-sdk-c[public-preview]:x64-linux  `

Regards,
Dominic

[2020-03-10 11:09] kolotu commented on #49344
Hi @dominicbetts, I have tried the command, but it returns this error message:

[code]

I'm not exactly sure, what this error message means that's why I proceeded omitting the [public-preview,use_prov_client] part, but that's probably the reason, why I'm missing part of the SDK.

[2020-03-10 11:10] Dykam commented on #30814
@oleh-zheleznyak, I'm experiencing the same, I suspect this is a bug, as I don't see any comments etc that this is intentional.

[2020-03-10 11:16] swarna-p commented on #49549
hi Saurabh,
Did you have a chance to look at this issue?

[2020-03-10 11:24] kolotu commented on #49344
@dominicbetts ah I'm sorry that's an issue with ZSH - the brackets need to be escaped. Now it works. Thanks for your support and sorry for the question that had nothing to do with the actual SDK.
You might want to add that hint in the tutorial, so the next one doesn't fall into the same trap.

[2020-03-10 11:25] CedricSteenbeke commented on #49661
Thanks for clarifying @hansenms. Will point customers to the postman tutorial reference when i get this question again

[2020-03-10 11:25] #49661 closed

[2020-03-10 11:33] johnkostyrka opened #49849 "EventHub Connection using RBAC"
If the Azure Function is running with a Managed Identity, it is possible to craft a connection string to the EventHub where the connection is RBAC based?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a109c38e-b241-c9a2-7ef8-2e828659191c
* Version Independent ID: 69842b0f-607f-5cf5-6e1a-4d312c98100c
* Content: [Azure E

[2020-03-10 11:37] cjchacon opened #49850 "Double quotes on VHDLocations value lead to an error"
The value for VHDLocations registry key should not be in quotes, it leads FSLogix service to an error accessing remote share path.
That's how it worked for me:
|VHDLocations | Type                      | Data/Value|
|----------------|---------------------|---------------|
Enabled           | DWORD                 |  1
VHDLocations | Multi-String Value | \\\\hostname\share

---
#### Document Detail

[2020-03-10 11:43] Lycrosa opened #49851 "Missleading Picture"
The picutre that describes the network setup seems to be wrong. When I look at it I would think that adding a private endpoint removes the public endpoint. This is not true though. From my understanding, the only way to "remove" the public endpoint is to set the sql server firewall to not accept traffic from any IP. Is this correct?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-10 11:49] smiller7812 opened #49852 "Start cloud shell how?"
How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a825f031-250e-034d-e552-4b0d976d88b1
* Version Independent ID: 626d7451-0b8e-051e-e512-0bf90be319a0
* Content: [QuickStart: Create a static HTML web app - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html)
* Content

[2020-03-10 11:49] VikasPullagura-MSFT commented on #49850
@cjchacon
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2020-03-10 11:50] VikasPullagura-MSFT commented on #49850
@Heidilohr
Can you please check and add your comments on this doc update request as applicable.

[2020-03-10 11:51] jakaruna-MSFT commented on #49339
@Vivekmis
I will close this out for now. If you need additional help please open a new issue.

[2020-03-10 11:51] #49339 closed

[2020-03-10 11:54] jakaruna-MSFT commented on #49411
For windows, During RDP we can supply azure ad username and password.
Thats documented [here ](https://docs.microsoft.com/en-us/azure/active-directory/devices/howto-vm-sign-in-azure-ad-windows#log-in-using-azure-ad-credentials-to-a-windows-vm)

[2020-03-10 11:55] jakaruna-MSFT commented on #49411
This extension is in preview now

[2020-03-10 11:55] ftereso commented on #49779
In order to to delete the vnet you should first delete the gateway. This will remove the association to the ip.
My following steps were then delete the subnet, vnet and public ip

[2020-03-10 11:58] jakaruna-MSFT commented on #49264
ok. Since it failed or caused some errors in all clusters,   Send your subscription id along with the cluster names to this email azcommunity@microsoft.com
I will help you to create a one time free support ticket to find the root cause of this.
In the email, add this issue URL and have the subject as "for jakaruna-msft Issues after resetting existing service principal credentials
"
If needed we ca

[2020-03-10 11:58] jakaruna-MSFT commented on #48962
@techsaau Did you had a chance to try that out

[2020-03-10 12:07] hansmbakker commented on #49385
Hi @lyrana,
thank you for asking; I'm not experiencing any other blockers.

I do have some feedback about the UX but that would be off-topic here. I'll submit it through the feedback option built-in to TSI.

[2020-03-10 12:08] ishepherd opened #49853 "Please explain ARM properties for premium plan"
Re: https://docs.microsoft.com/en-us/azure/azure-functions/functions-infrastructure-as-code#create-a-premium-plan

Comparing this sample with the portal's Elastic Scale Out blade:

* I can see that "Maximum Burst" maps to the maximumElasticWorkerCount property
* What property do I use for "Minimum Instances"?

What is the use for these 3 properties below? They are undocumented in the schema https:

[2020-03-10 12:20] oo2316oo opened #49854 "can not view all features in the view, and can not download the dataset directly from designer."
Hi, for more columns dataset, we can not view them all from view button.  It seem like the website hide some columns.  Would we have a scroll bar to view them all?

also, if i want download the dataset to check. it will give me a path of blob storage, but we can not directly download it from designer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-03-10 12:28] GuidoTournois opened #49855 "What variables can be found under .output?"
Given the example on this page, what variables can I expect to find under @activity('databricks notebook activity name').output

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a9d157-9b67-403f-6385-be26db99f75b
* Version Independent ID: cb63d9c6-dd64-bc57-51d1-9573b592b13a
* Content: [Transform data with Databricks No

[2020-03-10 13:00] StefanIvemo opened #49856 "Update name of the Gallery Application"
This article should be updated with the new name of the application in the gallery. It's no longer listed as G Suite, the new name in the gallery is Google Cloud / G Suite Connector by Microsoft.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bad7239-8050-182b-a6f7-fc90430eef90
* Version Independent ID: 81ae0308-4dee-

[2020-03-10 13:09] balukantu opened #49857 "Managed Identity with AKS"
Hi Team,

I am working on AKS and configured my application parameters in the Azure app config store.
I am able to read app config values using a connection string.

There is a mechanism to access app config store using [managed Identity](https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core2x), Can I use this feature to access the

[2020-03-10 13:19] jbarrancos commented on #48264
Any update on this?

[2020-03-10 13:22] juanand commented on #49591
Thanks @Kranthi,

The "Test Connection" works as expected when the "Server Certificate Validation" knob in the UI is set to "Disable".

When set it to "Enable", "Test Connection" reports the following error:
"Failed to connect to FTP server. Please make sure the provided server informantion is correct, and try again. The remote certificate is invalid according to the validation procedure." (typo i

[2020-03-10 13:40] SnehaAgrawal-MSFT commented on #49852
@smiller7812 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-10 13:41] shashishailaj commented on #49856
@StefanIvemo Thank you for your feedback . We will ave this reviewed and updated.

[2020-03-10 13:42] sorosgaa opened #49858 "most up to date screen pics"
Hi,
Are the screens shared on this page the most up to date for MFA authentication set up?
thanks!
Sophie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc7dec3-d354-6e40-8662-0e8175e3cb09
* Version Independent ID: 49976ef5-2893-8f73-3a64-94c2f3753d04
* Content: [Set up an authenticator app as your two-factor verifica

[2020-03-10 13:43] NavtejSaini-MSFT commented on #49491
@briandunnington Thanks for getting back to us. We are assigning this to our author for more insights into this.
@deborahc Please check user question and help with an answer.

[2020-03-10 13:45] steele6599 opened #49859 "How do you exclude accounts that you no longer want Workday to disable?"
We have users that convert over to contractors so in Workday they are termed.  How do you scope them so they are no longer updated by Workday?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd46e8e6-407d-10df-fe66-0df78460f709
* Version Independent ID: 0cfa81ed-97e1-db88-af68-9eead39b36a1
* Content: [Tutorial: Configur

[2020-03-10 13:49] NavtejSaini-MSFT commented on #49851
@Lycrosa Thanks for the feedback. We are checking this with our author.
@rohitnayakmsft Please check the feedback from user and please provide a direction regarding the same.

[2020-03-10 14:01] diberry commented on #49830
@cahann - is a list entity supposed to be case-sensitive?

[2020-03-10 14:01] Blackmist commented on #49501
@dagarkatyal thanks again for reporting this, and I apologize for the confusion.

The short version of this is that the snippets and profiling section of the document were updated recently based on some SDK changes. Unfortunately, the SDK changes only exist in the __experimental__ version of the SDK, not the stable version.

Long term, these changes will roll out to the stable SDK version and the

[2020-03-10 14:01] SnehaAgrawal-MSFT commented on #49852
@smiller7812 Thanks for asking question! As its mentioned in the doc you may use any of the below mentioned method.
![image](https://user-images.githubusercontent.com/46553948/76319592-75c43280-6305-11ea-9166-a6934d073eba.png)

[2020-03-10 14:09] V-vafune opened #49860 "Picture missing"
@AlexCesarini commented on [Wed Mar 04 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/701)

The Markdown suggests this picture is missing

!Synchronization Rules Editor](media/how-to-connect-fix-default-rules/default3a.png)

the picture is also not present in the en-us version of this doc

---
#### Detalles del documento

⚠ *No edite esta sección. Se requiere para docs.microsoft.co

[2020-03-10 14:09] ak09 commented on #49802
I want to trigger an event when ever we create a file on Azure Files which should send a signal to one of our service to consume that file instead of us polling all the time. I see there are docs for doing this when you are using Blob Storage but there are no examples on how to use this with File Storage. For using it with Blob I found these 2
https://docs.microsoft.com/en-us/azure/storage/blobs/s

[2020-03-10 14:11] GiftA-MSFT commented on #49854
@oo2316oo we will review your feedback and get back to you shortly. Thanks.

[2020-03-10 14:12] CeciAc opened #49861 "Page is shown in Table storage section but AzCopy cannot be used for Table Storage"
@hansmbakker commented on [Tue Mar 10 2020](https://github.com/MicrosoftDocs/azure-docs.nl-nl/issues/574)

This page is shown in the section about data transfer for `Table storage` but the documented / supported version version of `AzCopy` cannot be used for `Table Storage`, which is very confusing.

It is written that you have to revert to `AzCopy 7.3` to use it with `Table Storage` but it is not

[2020-03-10 14:12] steele6599 opened #49862 "Does anyone have an idea to write an expression from Workday to Active Directory for address?"
Adding back as questions from yesterday seem to have disappeared.
Workday had [AddressLineData] "100 Main Street", [AddressLine2Data] "Suite 100"
The default mapping is Direct [AddressLineData] --&gt; streetAddress in AD.
If you mannually type the address in AD ADUC it will look like this:
100 Main Street
Suite 100
When you look at the AD attribute for streetAddress is looks like this "100 Main St

[2020-03-10 14:13] nakamacchi opened #49863 "More clear explanation about RDS CAL"
Hi, all.
https://docs.microsoft.com/en-us/azure/bastion/bastion-faq#rdscal

This description seems to only assume the case of logging in to a specific VM via Azure Bastion directly (#1). But is the RDS CAL required for the intermediate Windows Server VM in the case of such like below #2?

#1. Client PC -&gt; Azure Bastion -&gt; Web Server
#2. Client PC -&gt; Azure Bastion -&gt; Windows Server -&gt

[2020-03-10 14:14] KalyanChanumolu-MSFT commented on #49619
@phawley-kingcounty You will need to use a self hosted agent to configure the path settings.
It cannot be changed in Microsoft-hosted agents.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 14:14] #49619 closed

[2020-03-10 14:19] diberry commented on #49730
@vikramdadwal I believe you are asking about [active suggestions and the train API](https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/improve-knowledge-base#architectural-flow-for-using-generateanswer-and-train-apis-from-a-bot). Please take a look at the documentation to see if that is correct.

[2020-03-10 14:21] Blackmist commented on #49501
@dagarkatyal Thanks again for reporting this. For now, I'm adding a note to the docs that the profiling information is for experimental SDK only. We'll remove the note once it goes into the stable SDK.

While there is a profile method in stable, we had previously removed documentation for it as it was problematic. It had been added before the Environments class existed, and there were issues using

[2020-03-10 14:23] RicardoNiepel opened #49864 "Upload a certificate: Public Key vs. Private Key"
Under [Upload a certificate](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-create-service-principal-portal#upload-a-certificate) the documentation says that  a private key should be exported
&gt; "Export the private key, specify a password for the cert file, and export to a file."

But in the next step, only a public key can be used
&gt; "Upload a certificate (public key) w

[2020-03-10 14:24] chmagitt commented on #49492
Hello

Gentle reminder, did you received my answers bellow to move on ?

Thanks a lot for your support

Christophe

From: Christophe Magitteri
Sent: Thursday, March 5, 2020 1:13 PM
To: 'MicrosoftDocs/azure-docs' <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs] error message CMake Erro

[2020-03-10 14:29] dagarkatyal commented on #49501
thank you @Blackmist  for the comments. Its interesting to note that the profile method had known bugs. I have raised a support ticket too and waiting for the response.

As of this time I do not have a working way to do the profiling. I have tried following
- I am not able to use the yml file in inference_config as I have spark jar dependencies and there is no documentation on how to add that in Y

[2020-03-10 14:29] langstonj opened #49865 "Baseline Ruleid List"
Being able to reference a complete baseline rule list with the thumbnail description and the benchmark reference e.g. FedRAMP, Sox would be very useful when reviewing vulnerabilities with upper management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff08

[2020-03-10 14:34] #49833 closed

[2020-03-10 14:35] neeleshray-msft commented on #49833
@arron-f We have made the required changes. It should be published on the document soon.

[2020-03-10 14:39] danimir commented on #49837
REST APIs are published on their own pages, in particular what interest you is documented here: https://docs.microsoft.com/en-us/rest/api/monitor/

[2020-03-10 14:47] BharathNimmala-MSFT commented on #49684
@rayne-wiselman Thank you for helping fix the broken link.

[2020-03-10 14:48] erfranke commented on #49410
Thank you both very much!

On Tue, Mar 10, 2020 at 3:55 AM CHEEKATLAPRADEEP-MSFT <
notifications@github.com> wrote:

[2020-03-10 14:56] Blackmist commented on #49501
@dagarkatyal Not that I'm aware of. Keep in mind that I work on documentation, so I am only aware of what we've been asked to document or things that I've encountered through GitHub issues like this.

I haven't encountered a scenario that uses Java jar files as part of the training or deployment before,  and we don't have anything in the current docs, so I have no info on this. I'll bring it up as

[2020-03-10 14:57] BharathNimmala-MSFT commented on #49688
@rboucher  Thank you for helping enhance the document.

@Zhaph Thanks again for sharing your feedback. Closing this issue for now, feel free to revert back if you have any further queries and will be happy to reopen the thread and continue the conversation.

[2020-03-10 14:57] #49688 closed

[2020-03-10 14:58] HenkPoley opened #49866 "How to configure the proxy for the service account on prem?"
In the documentation there is a segment _Use an existing service account_, that says "If you [..] use a proxy that requires authentication, you need to use a managed service account".

We have a situation that requires a proxy to talk to the internet (and Azure). But it is unauthenticated. How do you create and/or (re-)configure the _managed service account_ for Azure AD Connect so it communicates

[2020-03-10 14:59] PeterCLu commented on #49375
@IanKensey thanks for the helpful report. The instructions have been updated. I will proceed to #please-close this issue

[2020-03-10 14:59] #49375 closed

[2020-03-10 15:00] CeciAc opened #49867 "My contribution to this document when the command is executed: dotnet ef database update"
**The comments below were machine translated**

@salasjcruz commented on [Sat Mar 07 2020](https://github.com/MicrosoftDocs/azure-docs.es-es/issues/702)

Error says:
Could not execute because the specified command or file could not be found.
Some of the possible causes are:
   * Write an integrated dotnet command incorrectly.
   * Try to run a .NET Core program, but dotnet-ef does not exist.
   *

[2020-03-10 15:02] PeterCLu commented on #49378
@IanKensey , thanks for the report. The changes have been made to the document, I'll proceed to #please-close this issue.

[2020-03-10 15:03] #49378 closed

[2020-03-10 15:03] PeterCLu commented on #49381
@IanKensey , thanks for the report. The changes have been made to the document, I'll proceed to #please-close this issue.

[2020-03-10 15:03] #49381 closed

[2020-03-10 15:08] PeterCLu commented on #49854
Hi @oo2316oo

For the hidden columns are you talking about when you press the Visualize (bar chart icon)? If so, you should be able to scroll horizontally to see all of the columns.

The designer does not support direct download, but you can download the dataset using the blob path.

[2020-03-10 15:09] SamaraSoucy-MSFT commented on #49605
The way you are thinking about things is correct. App Insights uses requests and immediate dependencies to put together the application map. So a UI and API that are in separate work spaces would get linked as the UI is making calls directly to the API. However, a couple of components that talk via Service Bus would not, as there is a layer in between.

The recommended way to setup App Insights is

[2020-03-10 15:09] #49605 closed

[2020-03-10 15:11] BharathNimmala-MSFT commented on #49847
@henrypi73 Thank you for your query and glad to hear that you found other documentation helpful. Appreciate your feedback to add the link to existing page, we will work with our document author and have it evaluated and enhance the document accordingly. Will close the issue for now, however if you have any queries please let us know and will be happy to reopen the thread and continue the conversat

[2020-03-10 15:11] #49847 closed

[2020-03-10 15:12] PeterCLu commented on #48093
Hi @soniaang thanks for the report. This article is not meant to be a standalone solution. As is mentioned in the article, you can find executable examples for forecasting in the ML notebook repo.

See the forecasting sample notebooks for detailed code examples of advanced forecasting. https://github.com/Azure/MachineLearningNotebooks/tree/master/how-to-use-azureml/automated-machine-learning

I wi

[2020-03-10 15:12] RoopChevuri commented on #49746
This is a known issue and is being investigated. As you have observed, this will not impact the scaling operations.

[2020-03-10 15:13] #48093 closed

[2020-03-10 15:13] KrishnaG-MSFT commented on #49837
@danimir Thanks for the information. 👍
@Dennizzzzz In addition to @danimir's comment, you can get all the supported metrics with Azure Monitor from [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported) Azure document (to be precise, majorly from [this](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftsqlserversdatabases) and

[2020-03-10 15:17] PeterCLu commented on #49836
#assign:@trevorbye

[2020-03-10 15:17] RoopChevuri commented on #49507
Unfortunately Azure automation is not available in Canada East , can you use Canada Central instead?

[2020-03-10 15:17] PeterCLu commented on #49854
#assign:@peterlu

[2020-03-10 15:17] PRMerger9 commented on #49854
peterlu is not a valid GitHub ID, or is not a collaborator on this repo.

[2020-03-10 15:18] PeterCLu commented on #49811
#assign:@sdgilley

[2020-03-10 15:18] OffColour commented on #49845
The device is hybrid joined, but if they've never logged on to that device before it won't allow access as it can't contact a domain controller to get authentication.

[2020-03-10 15:19] IEvangelist commented on #49338
I heard back from @swmachan and she confirmed that they're still looking into and working on this.

[2020-03-10 15:19] RoopChevuri commented on #48406
We have these details under section to create RunAs account as we expect these operations to be performed by two different admin personas.

[2020-03-10 15:19] BharathNimmala-MSFT commented on #49846
@ealcyon  Thank you for your feedback, we will further look into it and get back to you at the earliest.

[2020-03-10 15:20] Mriccio commented on #49507
Unfortunately even when I choose to use Canada Central, it still feeds me the error of Canada East not being available and it fails to do the rest of the script. When I get the chance I'll try other locations in case it's the Canada ones as whole that don't work.

Unless, is it possible that it's grabbing the automation account creation location from somewhere else other than the location I'm prov

[2020-03-10 15:26] RoopChevuri commented on #48147
You can leverage any machine to deploy the Azure automation and Logic Apps using initial PowerShell scripts. Once they are deployed , you no longer need any machines including Vm's and its completely serverless as you state.

[2020-03-10 15:28] thomaswilkin commented on #36458
We have noticed this same issue over the past few days and need guidance on how to proceed.  We have also been following the approach of setting the WEBSITE_CONTENTSHARE as a slot setting to get around the unintentional swap issue but now can't deploy due to this error.  I have tried retroactively removing both this and the WEBSITE_CONTENTAZUREFILECONNECTIONSTRING settings to move towards what app

[2020-03-10 15:35] nakazax opened #49869 "Needs notes for Security Defaults"
I'd like you to review the following and add the notes to this document and the document of Security Defaults ( https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/concept-fundamentals-security-defaults ) .

# Potential issues
Enabling Security Defaults requires MFA for all users in the Azure Active Directory tenant, including Global Administrator, so the recommendation "Exclude a

[2020-03-10 15:35] asergaz commented on #48467
@fgheysels since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-03-10 15:35] #48467 closed

[2020-03-10 15:39] asergaz commented on #49492
@chmagitt I can't see the screenshots shared. Can you do a post directly on github? Thanks!

[2020-03-10 15:41] vhorne commented on #49533
Updated the https://docs.microsoft.com/azure/firewall/rule-processing article to describe changing a rule.
#please-close

[2020-03-10 15:41] #49533 closed

[2020-03-10 15:41] dohughes-msft opened #49870 "Define cluster"
The documentation states "across multiple, isolated hardware nodes, in a cluster.".

What is the precise definition of a cluster in this context?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57ffc39-d1a4-77f7-d78a-415db2deeae7
* Version Independent ID: 7ec4a1b0-6545-97e5-449c-f5e72df0242e
* Content: [Tutorial - High

[2020-03-10 15:47] chmagitt commented on #49492
Hello

Cmake version is 3.17.0-rc2
I cloned C SDK again
Then "cmake .."
I edited the simulated device C code to add connection string
And tried to build the code

here is the screen shot
![cmake](https://user-images.githubusercontent.com/26851738/76330838-9c2aa380-62ee-11ea-9e12-6ba00978c158.jpg)

<img width="780" alt="build" src="https://user-images.githubusercontent.com/26851738/76330952-bfede98

[2020-03-10 15:47] BartHoofd opened #49872 "Administrative Units still in preview or not?"
I'm confused about the preview state of this feature; the Roadmap doesn't mention it and there is other documentation that does not mention it as preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11702e8d-98ba-b314-13cf-4c27963dcafd
* Version Independent ID: 9d2cb191-a0c7-abee-36ba-1f4079d357bd
* Content: [Admini

[2020-03-10 15:49] ChristianMontoya commented on #49682
Adding @stgeorgi , as he may be able to assist.

[2020-03-10 15:50] brunofurtado opened #49873 "routerPrivateClusterIp set up"
In the file explanation topic[1] says that this static IP must be within the CIDR block for the "master" subnet, but this way the installation crash with an IP out of range error, being necessary to use an IP within the CIDR block for the infra subnet as described correctly in "Private Clusters"[2] topic.

[1] https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-container-platfo

[2020-03-10 15:58] smiller7812 commented on #49852
No idea what environment where you are, how to get there.
Worthless article.

________________________________
From: SnehaAgrawal-MSFT <notifications@github.com>
Sent: Tuesday, March 10, 2020 10:01 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: smiller7812 <smiller781@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Start cloud shell h

[2020-03-10 15:59] rboucher commented on #49688
update due out around 11am Pacific time 3/10/2020

[2020-03-10 16:08] beowulf79 commented on #39201
Just came across this, is ADAL library also affected by this CORS limitation  ?

[2020-03-10 16:09] timriker commented on #49411
The remote machine connecting with RDP needs to be in the AZ domain? My remote machines are generally part of an existing corporate domain, and would not be part of the AZ domain. If I'm reading that right, that's an unfortunate requirement.

Thanks for the update!

[2020-03-10 16:09] gaugup commented on #49585
Thanks. Let me investigate this further and get to you.

[2020-03-10 16:11] jigneshjdesai commented on #39901
Very confusing indeed. I am trying to use this in production with new Microsoft.Azure.ServiceBus library and am struggling to decide how should I be creating connections or creating clients.

[2020-03-10 16:13] #49860 closed

[2020-03-10 16:13] jigneshjdesai commented on #27024
Will this document ever be updated with the correct information? It is misleading.

[2020-03-10 16:15] msmimart commented on #47932
Hi @Skorfulose, we've reached out to the product team and are working on including an MSAL sample. Just wanted to let you know we're actively tracking this internally, so for now we'll close this issue and update the article as soon as it's ready.
#please-close

[2020-03-10 16:15] #47932 closed

[2020-03-10 16:16] artmasa commented on #49638
@sujayvsarma Have you been able to fulfill the ROPC flow using the redirect provided by B2C? Everytime I try to follow the results of the redirect and get back B2C's oath2/authresp endpoint with the acquired token from STS, it responds with an error.

[2020-03-10 16:17] danmyhre opened #49875 "Join vs Register"
This section should be updated to clarify that it requires registration with AAD, not Azure AD domain joining.
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/terms-of-use#per-device-terms-of-use

"...join their device in Azure AD"

It should also be noted that this does not work in the new Edge (edgium), only the legacy edge

---
#### Document Details

⚠ *Do not edit th

[2020-03-10 16:20] SumanthMarigowda-MSFT commented on #49840
@jay7x Thanks for your question. We are checking on this and will respond to you soon.

[2020-03-10 16:20] mimckitt commented on #49765
@Davidsoff few reasons, but most important are these two names are found to be the most common when brute force attacks happen. The same is true for such names as admin, administrator, etc. But all in all they are in the commonly attempted names that hackers will try.

You also have the connection of John to John Doe for an anonymous party. This just makes the name John a higher possibility than o

[2020-03-10 16:20] #49765 closed

[2020-03-10 16:20] MCKLMT commented on #46518
I encounter the same issue after having followed the steps above. None of my permissions need Admin consent according the Azure Portal but I receive the same error message than above: "{My Client App in AAD} needs permission to access resources in your organization that only an admin can grant. Please ask an admin to grant permission to this app before you can use it."
Can you help?

[2020-03-10 16:21] asergaz commented on #49650
Hello @mms , if I read the doc I can see the following notes:

![image](https://user-images.githubusercontent.com/22173500/76333802-0a209c00-62ea-11ea-922c-3e11612dec40.png)

Also from [here](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-quotas-throttling), it looks like you can have 50 concurrently connected device streams:

![image](https://user-images.githubusercontent.com/221

[2020-03-10 16:21] DixitArora-MSFT commented on #49849
Hi @johnkostyrka Thanks for reaching out. We will review and update as appropriate.

[2020-03-10 16:22] smoms opened #49876 "Hi, if the HTTP trigger expects JSON only, how can I forward XML?"
Hi, if the HTTP trigger expects JSON only, how can I forward XML? Should I encapsulate XML in JSON?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d333475d-d719-71fb-d641-1c10a9f40b54
* Version Independent ID: 466b55e3-e8de-c31d-8e97-ecaf9c65d2b0
* Content: [Validate XML for B2B enterprise integration - Azure Logic App

[2020-03-10 16:22] DixitArora-MSFT commented on #49853
Hi @ishepherd Thanks for reaching out. We will review and update as appropriate.

[2020-03-10 16:23] DixitArora-MSFT commented on #49876
Hi @smoms Thanks for reaching out. We will review and update as appropriate.

[2020-03-10 16:24] MarileeTurscak-MSFT commented on #49459
I'm re-opening this as my contact says that it should still be available but I am seeing the same behavior that you are seeing.

[2020-03-10 16:24] mikehutter opened #49878 "How is this done with hundreds or thousands of devices when the example requires you to know/hard code the connection string to each device in advance?"
In the SimulatedDevice project that is referenced in this example, we're told to manually hard code our connection string from the results of running "az iot hub device-identity show-connection-string --hub-name {YourIoTHubName} --device-id MyDotnetDevice --output table".

Even if it weren't considered poor practice, we can't hard code the connection string like in the example because we won't hav

[2020-03-10 16:29] mimckitt commented on #46992
I believe the issue is mentioned here: https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-probe-overview#probes

So if you are using the Azure portal, it is a requirement, but not if you are using PS, CLI, etc.

I will review this doc and see how we can rework the language as I agree it is confusing call out optional but then having issues if you don't do it.

Also adding @p

[2020-03-10 16:30] Technowulff opened #49879 "Sample script is the same as script from "Create a virtual machine from a snapshot with PowerShell""
Some of the commands explained on this page are not in the sample script such as "Get-AzDisk". Sample script has "New-AzDisk". Some commands are not explained. I am drawing comparisons between PowerShell and Azure CLI scripts, which is how I noticed this PowerShell script is for snapshots.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-10 16:35] dcurwin commented on #49846
#reassign:sogup

[2020-03-10 16:36] mimckitt commented on #48120
Sorry for the delay on this. Updated the doc

https://github.com/MicrosoftDocs/azure-docs-pr/pull/107114

Once the PR merges the changes will go live after a few hours.

[2020-03-10 16:36] #48120 closed

[2020-03-10 16:40] edsimonaire opened #49880 "Incompatible instructions"
Under "Create virtual machines", selecting "None" as instructed in Step 3 prevents selecting ports as described in Step 6.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f0990fc-9834-bde3-5e06-071c75fa89a5
* Version Independent ID: 96f5df37-aa95-443d-2500-37665179ce89
* Content: [Create a virtual network - quickstart

[2020-03-10 16:40] SaurabhSharma-MSFT commented on #49864
@RicardoNiepel Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-03-10 16:41] stefanwiele commented on #49459
If you need me to test anything just let me know. Btw I am a MSFT FTE, feel free to reach out on Teams.

[2020-03-10 16:42] shanecribbs opened #49881 "Bug in steps to create VM"
In the Create the First VM, step 3, there are some missing or inaccurate steps. First, the Public inbound ports does not default to "None".  It defaults to "Allow selected ports".  Also, when you get to the Networking tab, you can't see the Public inbound ports option unless you first select "Basic" for the NIC NSG.  Lastly, if you do set the Public inbound ports to None on the Basic tab, you can'

[2020-03-10 16:42] barakooda opened #49882 "Devices facing each other for potentially additional cameras."
Hi there,
Anyone checked for example if placing two kinects infront each other will cause interfernce ?
thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66093412-452b-c0e9-aafe-c4f0ec71c380
* Version Independent ID: fcf06933-af05-ec56-339e-84d89033e231
* Content: [Synchronize multiple Azure Kinect DK devices](htt

[2020-03-10 16:43] mimckitt commented on #44790
The team has posted an updated here: https://support.microsoft.com/en-us/help/4540981/windows-server-images-for-february-2020

Symptom | Workaround
-- | --
Windows Server 2016 images might have a performance issue after the computer first restarts. This began in November 2019 and is related to an OS code integrity operation. This issue is more pronounced on small Azure virtual machines (VM) (with

[2020-03-10 16:43] #44790 closed

[2020-03-10 16:43] MarileeTurscak-MSFT commented on #49858
@sorosgaa
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:44] MarileeTurscak-MSFT commented on #49859
@steele6599
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:45] MarileeTurscak-MSFT commented on #49862
@steele6599
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:46] MarileeTurscak-MSFT commented on #49875
@danmyhre
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:47] himanshusinha-msft commented on #49309
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-03-10 16:47] MarileeTurscak-MSFT commented on #49872
@BartHoofd
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:48] MarileeTurscak-MSFT commented on #49869
@nakazax
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-10 16:48] himanshusinha-msft commented on #49564
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-03-10 16:49] himanshusinha-msft commented on #39651
We are closing this issue as we have not heard back from you , you can always re-open the issue if you think that appropriate .

[2020-03-10 16:49] #39651 closed

[2020-03-10 16:50] himanshusinha-msft commented on #30009
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-03-10 16:51] mimckitt commented on #40780
#please-close

[2020-03-10 16:51] #40780 closed

[2020-03-10 16:56] SaurabhSharma-MSFT commented on #49636
@marcelvandendungen For non gallery apps a long lived bearer token must be used (issuer must support them). Token refresh is not supported.
Please check out step 2 [here](https://techcommunity.microsoft.com/t5/identity-standards-blog/provisioning-with-scim-design-build-and-test-your-scim-endpoint/ba-p/1204883).

[2020-03-10 16:58] souravmishra-msft commented on #49538
@jseerden, Thank you for reaching out. I apologize for the delay in my response on this. So one line answer to this ask is yes, its correct. Azure MFA comes with AAD P1/P2/EMS/M365 license.  We do not see individual MFA license anyone. We also have free MFA and that comes with O365 users (O365 Business license etc). But we can't use AAD CA for those Free MFA. We need to enable "free MFA" per perso

[2020-03-10 17:01] MartinJaffer-MSFT commented on #49855
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-03-10 17:14] nibaccam commented on #47237
#reassign:@nibaccam

[2020-03-10 17:15] vikramdadwal commented on #49730
@diberry got it. Thanks

[2020-03-10 17:18] mblanco77 opened #49884 "only enabled in premium tier"
there should be clear that the the private link is enabled only premium tier of the app service plan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8fc5319-ac3d-db5d-a3d2-aa0e800a3c7e
* Version Independent ID: 4197cd82-b89e-ac93-d966-40c06e3e8588
* Content: [Connect privately to a Web App using Azure Private Endpoint]

[2020-03-10 17:19] stgeorgi commented on #49682
Can I get the full code? It seems there is a missing assignment to generate the task.

[2020-03-10 17:20] Karishma-Tiwari-MSFT commented on #49879
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-03-10 17:20] MGoedtel commented on #49777
@para0056 - The product team is working actively to deliver Python 3 support and I don't have an ETA to share at this time.  As soon as it is complete, I'll be updating the docs accordingly to reflect this.  Stay tuned! #please-close.

[2020-03-10 17:20] #49777 closed

[2020-03-10 17:23] yohny commented on #48152
is there some delay until changes are reflected in documentation? because as of right now the `Snippet setup` sample code is still different between [readme](https://github.com/microsoft/ApplicationInsights-JS#snippet-setup-ignore-if-using-npm-setup) and [docs](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript#snippet-based-setup).
![Screenshot from 2020-03-10 18-16-30](https://u

[2020-03-10 17:24] miguelerm opened #49885 "Question: is there any limitations on the cache size?"
I didn't see in this document, but I want to know if there is any restrictions about the total space used by the cache. Could I cache everything from my API for 30 days no matters how many unique urls are cached and no matters the size of every response? or exists a maximum of MB that I could use to save responses on cache?

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2020-03-10 17:25] dominicbetts commented on #49344
Hi @kolutu - glad to hear it's working now. I'll figure out the best way to update the tutorial. I'll close this issue now.

[2020-03-10 17:25] dominicbetts commented on #49344
#sign-off

[2020-03-10 17:25] dominicbetts commented on #49344
#please-close

[2020-03-10 17:25] #49344 closed

[2020-03-10 17:28] Mike-Ubezzi-MSFT commented on #49417
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-03-10 17:32] SnehaAgrawal-MSFT commented on #49629
@acervanez To add this this is by the design and is not a limitation of Kudu but of IIS (since the request goes through the Frontends)
You may refer to this blog post: https://blogs.msdn.microsoft.com/friis/2013/06/19/uploading-large-file-to-iis-7-5-or-8-using-file-input-element/
When the integrated pipeline is used, we go though webengine code (webengine4!MgdGetRequestBasics) which doesn't suppor

[2020-03-10 17:33] yoelhor commented on #49781
The doc should be publish later today with all required elements. Please check for update

[2020-03-10 17:38] TravisCragg-MSFT commented on #49863
@nakamacchi A RDS CAL should not be required in the scenarios you described above, and you will only be impacted at the OS level. one user should have no issues logging into a Windows Server from Bastion, and then logging into a Web Server for admin purposes. Please let me know if you need any further info.

[2020-03-10 17:51] tamram commented on #49534
@iceyokuna - Definitely trust Microsoft's sources over third-party ones, and always let us know if you see something in our content that is out of date!

#please-close

[2020-03-10 17:51] #49534 closed

[2020-03-10 17:51] mumian commented on #49745
@jamieskuse Thank you for your comments.  This feature is in preview.  It looks like that you haven't been whitelisted. Once whitelisted, you are not required to install any additional modules. The user-assigned managed identity is covered in a different article.  The link of the article can be found in the Prerequisites section.  The inputs are listed in the PowerShell script - "-identityId $iden

[2020-03-10 17:52] gaurcs commented on #45257
@PramodValavala-MSFT Of the contents of `__app__` are zipped and published into /home/site/wwwroot directly, what is the point of using absolute imports like @bradunov mentioned. Since in the portal, `__app__` folder doesn't exist. I am getting a similar error.

[2020-03-10 17:53] DarylArmstrong opened #49886 "'Multi-turn question example as shown in Excel' is missing"
Please provide.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc39a5b4-4471-adb5-c92d-43e544687650
* Version Independent ID: a657a76a-320f-d550-ebb8-ead2353fce06
* Content: [Importing from data sources - QnA Maker - Azure Cognitive Services](https://docs.microsoft.com/en-gb/azure/cognitive-services/QnAMaker/concepts/k

[2020-03-10 17:54] BryanTrach-MSFT commented on #49884
@mblanco77 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-03-10 17:55] hhubik commented on #49727
Just to clarify my comment, I find the truth tables difficult to understand.  For an OR operator that takes two inputs A and B, I would expect the truth table to tell me what the output of the OR is for all possible combinations (true, false, undefined) of the inputs.  When I look at the truth table as it is  now, it's not clear to me what the inputs are and what the corresponding output is. I don

[2020-03-10 17:55] rboucher commented on #34080
@reassign:sshams79

[2020-03-10 17:56] rboucher commented on #34080
#reassign:sshams79

[2020-03-10 17:57] MarileeTurscak-MSFT commented on #49459
Great, I'm creating a bug for this and will add you to the thread.

[2020-03-10 18:02] normesta commented on #49651
Hi @WenJason - thank you for raising this. We are in the process of finding the most recent version of the AzCopy v8 files for Linux and we'll update that doc as soon as we are able to locate them. These articles are in our archive collection so we don't actively maintain them. AzCopy v10 is our recommended path forward so the content for AzCopyv10  is kept fresh. That said, we do prefer even our

[2020-03-10 18:02] normesta commented on #49651
#please-close

[2020-03-10 18:02] #49651 closed

[2020-03-10 18:03] xiao-lix commented on #48152
@yohny Sorry for the confusion... updating again, it should be all good today. 👀

[2020-03-10 18:03] kiranpradeep opened #49887 "Docs does not explain behaviour of iotedge during bad deployments"
**What is the expected behaviour if I deploy a temporarily incorrect deployment manifest?**

We have a scenario in which docker images (of iot edge modules) are pushed to container registry after applying deployment manifest (maybe a week delay). In that particular case, what happens to the deployment?

a) The IoT edge gateway, ignore the deployment forever
b) The IoT edge gateway continues runnin

[2020-03-10 18:06] davxiao commented on #49459
I am seeing the same behavior that you are seeing. Wizard does not show up at all.