[2020-10-01 01:22] KranthiPakala-MSFT commented on #63562
@thommck Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and update the document as appropriate.

@djpmsft Could you please have a loot at this feedback - Thank you

[2020-10-01 01:38] nallaperumal commented on #44491
Thanks a lot. You saved my day

[2020-10-01 01:41] alex-frankel opened #63583 "Doc states the appconfig keys must be created outside of template, but this is not the case"
Per the doc, it says:

However, according to [this quickstart template](https://github.com/Azure/azure-quickstart-templates/blob/master/101-app-configuration-store-kv/azuredeploy.json#L61), the keys themselves can also be created in the template. Can the sample in this doc be updated to show that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-10-01 01:52] CHDAFNI-MSFT opened #63584 "Consider adding other 1st party extension guidance & ToC"
It looks like there are other 1st party extensions not listed that can be found via command

`Get-AzVMExtensionImageType -Location eastus2 -PublisherName 'Microsoft.Azure.Extensions'`

`
Type
----
CustomScript
DockerExtension
FixEmulatedIO
FixLinuxDiagnostic
GuestActionForLinux
GuestActionForWindows
LinuxAsm
`

Please consider adding additional 1st party extensions the Extensions doc / ToC - such

[2020-10-01 01:53] WinstonHoward-MSFT commented on #63539
Thanks for the feedback @jbinko . I've assigned this issue to the doc author to update the doc accordingly.

[2020-10-01 02:08] KrishnaG-MSFT commented on #63552
@InformTechPro Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-01 02:10] NavtejSaini-MSFT commented on #63572
@tiago-sommer-damasceno We are checking this and will get back to you

[2020-10-01 02:13] KrishnaG-MSFT commented on #63554
@Naseej-App Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-01 02:16] KrishnaG-MSFT commented on #63578
@Ercenk Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-01 02:19] KrishnaG-MSFT commented on #63571
@maniv2013 Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-01 02:26] NavtejSaini-MSFT commented on #63429
@pradeep20mce Can you please confirm if you are talking about the below class:
UpsertItemAsync - This method creates an item within the container if it doesn't already exist or replaces the item if it already exists.

Also can you elaborate the Conflict handling part that you talk about in your question to take this further.

[2020-10-01 02:29] ChaitanyaNaykodi-MSFT commented on #63564
Hello @masterofimages,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-01 02:31] ChaitanyaNaykodi-MSFT commented on #63553
hello @joelverhagen, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-10-01 02:52] NavtejSaini-MSFT commented on #63415
@sakash279 The code for [delete ](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet#delete-an-entity)and [retrieve ](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-develop-table-dotnet#get-an-entity-from-a-partition)is same. Can you please check.

If it needs to be changed, Please share and we will make the change.

[2020-10-01 02:57] NavtejSaini-MSFT commented on #63427
@LastTribunal Thanks for detailing your issue We would advise to add this new functionality ask here  - https://feedback.azure.com/forums/217321-sql-database

PG Team has direct access to this feedback and provide necessary action item or ask questions.

Hope this helps.

[2020-10-01 03:05] kudlatiger opened #63586 "Unable to apply selected template on threat model - Version of Selected Template is not newer or Template ID does not match with curent Threat Model"
I have downloaded Microsoft Threat Modeling Tool from https://aka.ms/threatmodelingtool

When I try to apply the built-in template "MedicalDeviceTemplate.tb7"

---------------------------
Unable to convert Threat Model
---------------------------
Version of Selected Template is not newer or Template ID does not match with curent Threat Model.
---------------------------
OK
------------------------

[2020-10-01 03:10] Veroni4ka opened #63587 "Wrong library references in directives"
The instruction tells us to get Azure.AI.AnomalyDetector package and then use Microsoft.Azure.CognitiveServices.AnomalyDetector directive in program.cs file. I think the package should be Microsoft.Azure.CognitiveServices.AnomalyDetector.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 884b5e88-48eb-c3ad-1995-7cd8733978

[2020-10-01 03:41] SnehaAgrawal-MSFT commented on #63575
@robertmclaws Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 03:48] BhargaviAnnadevara-MSFT commented on #63583
@alex-frankel Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-01 04:11] KalyanChanumolu-MSFT commented on #63277
@Bouke We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-01 04:11] #63277 closed

[2020-10-01 04:18] qJake commented on #62737
Hi @Karishma-Tiwari-MSFT, sorry for the delay.

In the article I linked, it is about 2/3 down, in this table:

![image](https://user-images.githubusercontent.com/652006/94767744-ef3f7300-0372-11eb-9dea-45fe67210a97.png)

In short: 1 CPU socket and 4 cores, whichever is lower on the machine.

Hence, if this is correct, I believe this article should be updated to say "<5 cores", or <=4 cores" for ac

[2020-10-01 04:21] ram-msft commented on #63587
@Veroni4ka Thanks for the feedback! We will review and update accordingly.

[2020-10-01 04:30] #63370 closed

[2020-10-01 04:31] AshokPeddakotla-MSFT commented on #63370
@andrepodnozov PR has been created to address the feedback. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-01 04:38] rwike77 commented on #57175
@turnma Thanks for pointing this out.  I've updated the example to configure a policy for an access token.  Updates should publish tomorrow.  #please-close

[2020-10-01 04:38] #57175 closed

[2020-10-01 04:47] meigaoms opened #63588 "Can you have a section to put all pieces of code together?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 095c38aa-8f31-e030-ab15-756ce9a482b4
* Version Independent ID: 5994d016-0802-60f0-ad85-371f275b6bfd
* Content: [Quickstart: Get image insights using the REST API and Python - Bing Visual Search - Azure Cognitive Services](https://docs.microsoft.com/en

[2020-10-01 04:51] vipulsparsh commented on #63367
@Moodjbow We will be closing this now, please feel free to tag me in your reply if you have any questions.

[2020-10-01 04:51] #63367 closed

[2020-10-01 05:13] psmanhas commented on #63584
@CHDAFNI-MSFT Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-10-01 05:13] psmanhas commented on #63584
@albecker1 Can you please check and add your comments on this doc update request as applicable

[2020-10-01 05:14] mike-urnun-msft commented on #63217
Hello @amagarw - Since your feedback is troubleshooting in nature and this channel is more for driving improvements towards MS Docs, we will now proceed to close this issue for now. While you're welcome to continue the discussion here with @regexrowboat, in the future, please consider posting on our new [Q&A platform](https://docs.microsoft.com/en-us/answers/index.html) and we'd be happy to assist

[2020-10-01 05:14] #63217 closed

[2020-10-01 05:20] AnuragSharma-MSFT commented on #63383
@FelixS90 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-01 05:20] #63383 closed

[2020-10-01 05:21] AnuragSharma-MSFT commented on #63377
@eloew This is being assigned to the content author to evaluate and update as appropriate.

[2020-10-01 05:23] AnuragSharma-MSFT commented on #63368
@FelixS90 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-01 05:24] #63368 closed

[2020-10-01 05:24] JayaChatterjee-MSFT commented on #63360
@kiranpradeep I am unable to replicate the issue. In your case Premium Plan is also an option. However, this seems to be application specific and needs dedicated troubleshooting. Hence I would request you to open a support ticket with Microsoft Support if you have a subscription which allows you to do so. If you don't have such subscription , you can send an email with subject line “Attn:Jaya” to

[2020-10-01 05:42] psmanhas commented on #63505
@alex-frankel Issue taken offline.

Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-01 05:42] #63505 closed

[2020-10-01 05:53] chirangaalwis opened #63589 "[AKS][Traffic Manager] How to use Traffic Manager with AKS deployments?"
**Description:**
As per the official [documentation](https://docs.microsoft.com/en-us/azure/aks/operator-best-practices-multi-region#use-azure-traffic-manager-to-route-traffic), Azure recommends the use of Azure Traffic Manager for DNS based load balancing in a multi-regional, production grade deployment.

Furthermore, we encountered the [documentation](https://github.com/microsoft/containerized-m

[2020-10-01 05:55] souravmishra-msft commented on #63268
Hi @brenovult , Thank you for reaching out. I apologize for the delay in my response. I tested the same scenario today by creating self-signed certificate using Powershell and tried uploading the .pfx and it worked for me.

PS Script that I used:
[code]
![image](https://user-images.githubusercontent.com/54057592/94772833-22681d80-03d8-11eb-867b-f0dbe014f5ce.png)

![image](https://user-images.githu

[2020-10-01 05:55] flavio-neves commented on #57180
@japere thanks for the update. I've deployed a new environment using this updated article and it still doesn't work. Websocket is being rejected if the New HTML5 Rdweb is behind Azure App Proxy. I've read in another article that App Proxy is not compatible with Websocket yet.

[2020-10-01 05:58] andrepodnozov opened #63590 "Azure Security Center for IoT is now Azure Defender for IoT"
Azure Security Center for IoT has recently been renamed to Azure Defender for IoT. Please update the following:
- Doc pages that mention the old name
- Portal UI

Thanks,
Andre
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110959df-1981-b136-7dc7-25ac9bf19ff3
* Version Independent ID: 51acc9c3-27

[2020-10-01 06:07] AshokPeddakotla-MSFT commented on #63590
@andrepodnozov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 06:09] lozanov95 commented on #53210
Hello Guys,
I did a test on that. It turns out that if you have 250 licenses and 1000 users, the first 250 into the group will get a license. For the rest of the users I got a licensing error.

[2020-10-01 06:22] akingscote opened #63591 "More information for RDP MFA"
Hello,

Can you please add in more information about RDP MFA into Azure Active Directory.

We are **not** using Azure Active Directory Domain Services, just Azure Active Directory.

Can you please add the following to the page:

- Whether or not *Premium* Azure Active Directory is required for MFA **via RDP**
- Whether there are alternatives to Windows Hello for MFA RDP into AAD

We have MFA enfor

[2020-10-01 06:24] dcurwin commented on #60712
Thanks for the comment. The document has now been updated.

#please-close

[2020-10-01 06:24] #60712 closed

[2020-10-01 06:46] jamesbannan commented on #63516
A bit more information on this - when I query the datastores attached to the workspace using Azure CLI, the default datastore (`workspaceblobstore`) returns `"workspace_msi_has_access": true` but in the UI `Allowed workspace managed identity access` displays as `No`.

I also tried modifying a pre-existing datastore using an ARM template (API version `2020-05-01-preview`) using the `workspaceSystem

[2020-10-01 07:03] jamesbannan commented on #63516
One of the data scientists sent this error message through regarding the data labelling project. Suggests that the firewall configuration on the storage is still blocking the operation, regardless of the authentication configuration:

![image](https://user-images.githubusercontent.com/8892953/94778141-fe243500-0407-11eb-82ee-300fc9660ffe.png)

[2020-10-01 07:18] RohitMungi-MSFT commented on #63588
@meigaoms Thanks for the suggestion. All our Azure documentation quickstart's code snippets are divided to enable users to read through the purpose of the code snippet and then use it for a custom implementation or copy the same to clipboard to implement the same. The complete code file is usually placed on github for easy access but in this case this code snippet is part of documentation. We will

[2020-10-01 07:22] andrepodnozov opened #63593 "Azure Security Center for IoT marketplace module has not been renamed yet"
This page instructs to search Marketplace for "Defender for IoT" module. However, the module still exists under the old name in the marketplace. Please reconcile with Marketplace. Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0532c8f5-18d5-809a-b52d-718287a8573b
* Version Independent ID: 6

[2020-10-01 07:22] juho-hanhimaki opened #63594 "Clarify boot diagnostics managed storage price implications"
What type of managed disk is used for storing the boot diagnostics data? Is it separate from OS disk. Can it be shared by multiple VMs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 691353ad-7c13-bce2-510f-b9a641cf95c4
* Version Independent ID: afced714-86a0-0fb7-b885-3021839b2fe3
* Content: [Azure boot diagnostics -

[2020-10-01 07:25] jjindrich opened #63595 "Is possible to have Azure Files Premium NFS 4.1 with ZRS ?"
Hi, I cannot find information about required Azure Storage Files account. Can we use ZRS redundancy for NFS 4.1 ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a888b024-cae0-d9d7-d593-580b080f1b46
* Version Independent ID: fa3bfa5c-b539-d2ea-48ce-00f63a8bf99e
* Content: [Create an NFS share - Azure Files](https://docs

[2020-10-01 07:49] SubhashVasarapu-MSFT commented on #63265
@blackchess12, Apologies from my side for not being able to help on this getting Akamai AS numbers for every country. Akamai support would be the right point of contact for gathering their data. I am glad to help you on Azure related issues and will provide solutions accordingly.

[2020-10-01 07:50] FelixS90 commented on #63383
@AnuragSharma-MSFT [Re-posted](https://docs.microsoft.com/en-us/answers/questions/113806/azure-mysql-aad-group-member-not-logged-as-externa.html) as suggested.

[2020-10-01 07:57] SteveVaneeckhout opened #63598 "Unpublish "Tutorial: Add Security headers with Rules Engine""
I was using this tutorial yesterday to add a CSP header to my website. Unfortunately the Rules Engine don't allow header values with more than 128 characters. CSP rules are always longer than 128 characters. If I include Google Analytics on my website the CSP will be at least 168 characters. For now the feature is unfit for CSP headers.

https://feedback.azure.com/forums/217313-networking/suggesti

[2020-10-01 07:59] SubhashVasarapu-MSFT commented on #63598
@SteveVaneeckhout , Thanks for reaching out. We will investigate and update this thread.

[2020-10-01 08:06] #63360 closed

[2020-10-01 08:06] kiranpradeep commented on #63360
There is no appliation specific issue to be resolved. The issue was specific to documentation. Closing.

[2020-10-01 08:35] zqyAmy opened #63600 "Implement Vulnerability Assessment -> Run a scan part"
[Enter feedback here]

For 'Run a scan' part, the 'Scan' page not in security center side, our customer confused about this. Would you please help to verify and update this doc? Many thanks.

For 'scan' page, we can see it: open Azure SQL DB/MI **database** -> Advanced data security -> Vulnerability Assessment -> then we can see 'scan' button.

https://docs.microsoft.com/en-us/azure/azure-sql/data

[2020-10-01 08:37] MJ-Webber opened #63601 "Optimise discovery of service principals"
Within the PowerShell, I'm just wondering why there's a 100,000 row search defined and piped to a Where-Object that looks for the required tag. Using the cmdlet's Filter property significantly reduces the time it takes to execute the query. For example:

[array]$aadapServPrinc = Get-AzureADServicePrincipal -Filter "Tags eq 'WindowsAzureActiveDirectoryOnPremApp'" -All $true

This is one of a few ch

[2020-10-01 08:41] psmanhas commented on #63589
@chirangaalwis Thanks for the feedback! I have assigned the issue to Iain and Akshay to check and update the document as appropriate. We will update you accordingly.

[2020-10-01 08:41] psmanhas commented on #63589
@iainfoulds @akshaysngupta Can you please check and add your comments on this doc update request as applicable

[2020-10-01 08:43] AnuragSharma-MSFT commented on #63600
@zqyAmy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-01 08:43] pauska commented on #41486
Could this please be clarified, once and for all? Can AFD use HTTP/2 against backend servers?

[2020-10-01 08:56] martinoss commented on #63548
Hi @JamesTran-MSFT
I wondered, if the imported certificate (form KV) on the AppService will update too, when I add a new version of the certificate in KeyVault.

[2020-10-01 09:29] LukeCarrier opened #63602 "Managed identity as a group member?"
Can I place a managed identity into an Azure AD group?

Context: we're currently using a managed identity with the Azure service operator for Kubernetes (https://github.com/Azure/azure-service-operator) to provision Azure SQL Managed Users on our databases for applications running on a Kubernetes cluster. After adding the service operator's managed identity to a group and setting the group as the

[2020-10-01 09:47] maniv2013 commented on #63571
Kindly let me know if anyone able to use  Rest api to post data into azure log analytic workspace.

[2020-10-01 10:04] vipulsparsh commented on #63591
@akingscote Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-01 10:05] SwathiDhanwada-MSFT commented on #63577
@keatseongchan Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-01 10:07] vipulsparsh commented on #63602
@LukeCarrier Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-01 10:09] ChrisAtMAF commented on #63535
Thanks. You can see that the OneDrive client attempts to add these files automatically on client computers by checking HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\Domains\sharepoint.com\[tenantname]-files and HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\ZoneMap\Domains\sharepoint.com\[tenantname]-myfiles on any device. The

[2020-10-01 10:19] surya2155 commented on #53717
HI, we even experiencing the same issue. We are using web app with Private endpoint and my build agents (we are using VMSS) are in the different Vnet. Now we have raised a Private Endpoint from the build agent's subnet to the web app. And added two A-records for web app and scm in the private DNS zone **privatelink.azurewebsites.net** with the PE ip and linked both Vnets to dns zone. we are still

[2020-10-01 10:26] wstaelens opened #63605 "pricing?"
No info is given if this is free of comes at a cost!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94df3619-b79b-0ec3-ec94-5928c1458d94
* Version Independent ID: 18fdcc5a-f2d1-93ce-9053-458e1cf1dd36
* Content: [Set up Azure VM disaster recovery to a secondary region with Azure Site Recovery - Azure Site Recovery](http

[2020-10-01 10:35] #55851 closed

[2020-10-01 10:40] AnuragSharma-MSFT commented on #63537
@mloskot You have rightly pointed out the scope at global level. All Azure resource types have a scope that defines the level that resource names must be unique. A resource must have a unique name within its scope. For PostgreSql, it is at global level that means across subscriptions and regions. So if there is a server name already created with 'xxxx', it cannot be created again anywhere.

![imag

[2020-10-01 10:40] jeanpoelie opened #63606 "Why does ' az aks upgrade' return null instead of false as 'isPreview'"
Hi,

We have been playing with CLI of Azure for a while now because we want to have more of our services running on IaC (Infrastructure as code) so that we can easily detect new version, upgrade, delete and create enviroments.
We have noticed that when we use az aks upgrade we either get 'isPreview: true'  or 'isPreview: null'.
This is quite annoying for debugging because we will now need to check

[2020-10-01 11:02] 7cfourie commented on #17210
Hi, so after the subscription move, did you need to recreate the Enterprise apps AND re-register the apps? or only re-register the apps? also what exactly did you do? Thanks

[2020-10-01 11:03] baardhermansen opened #63608 "Need command clarification"
Under "Run the following command to fix Watson crashes:" there's supposedly a command to run.
However, it looks more like a written explanation, not an actual command that can be run.

Suggest to either remove the markdown code block, or rewrite with an reg.exe command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd

[2020-10-01 11:21] surya2155 opened #63610 "Still facing 403 error when deploying to web app with private endpoint from azure devops"
HI, we have created private endpoint to the web app from our Azure DevOps build agent's subnet, created the private DNS zone **privatelink.azurewebsites.net** and added two A records for web app and scm with the PE IP and linked both Vnets to the private DNS Zone. But When tried to deploy the war files from azure pipelines, I am still facing the 403 error.

So in the addition to the above Private

[2020-10-01 11:26] GMartinez-Sisti commented on #17210
The apps were left on the original subscription. From what I read in the docs, they can't be moved without triggering a registration (being a new app), so we decided to leave them untouched to prevent disruption. Our best bet is that eventually Azure creates a migration path.

[2020-10-01 11:44] 7cfourie commented on #17210
So I am currently doing this migration as it is an HAS TO HAPPEN scenario, I am currently in talks with a Microsoft Support Engineer and still same answer as what the documents state.

We are planning to do this either end of this month or next month so will advise if anything has changed and what worked best for us.

[2020-10-01 11:49] GiriB opened #63612 "Missing: How to use User assigned managed identity to pull images from Azure Container Registry"
This page talks about how System assigned Managed identity can be used to fetch from container registry. However, it does not mention what happens with VM scale sets which have a **User assigned** system identity.

Do we support using User assigned managed identities? If yes, how to specify clientId of the identity in case multiple User assigned managed identities are associated with the VM Scale

[2020-10-01 12:05] SubhashVasarapu-MSFT commented on #63610
@surya2155 , Could you please provide the document you were referring to for better assistance?

[2020-10-01 12:07] hostmatic opened #63613 "Poorly written article"
Nowhere does it mention the new changed LXP standard, nor does it adress issues with Sysprep if the LXP wasn't installed properly from the Add-AppxProvisionedPackage CMDLET.

Error SYSPRP Package Microsoft.LanguageExperiencePackhu-da_17134.2.4.0_neutral__8wekyb3d8bbwe was installed for a user, but not provisioned for all users. This package will not function properly in the sysprep image

As discu

[2020-10-01 12:07] surya2155 commented on #63610
@SubhashVasarapu-MSFT this is the one:   https://docs.microsoft.com/en-us/azure/app-service/networking/private-endpoint#dns

[2020-10-01 12:23] AshokPeddakotla-MSFT commented on #63593
@andrepodnozov Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 12:34] manu4rhyme opened #63615 "Secure cookies being ignored with "no-cache" header values"
[Enter feedback here]
Hi,

Our login flow started breaking when I enabled caching even though we had the "no-cache" provided under the "Cache-Control" header....

Took me a day to realize AFD is trying to cache "no-cache" as per HTTP spec and secure cookies are ignored while caching, thus all of this failure.

It started working fine, when i added the "no-store" value as well.

Thanks.

---
#### D

[2020-10-01 12:43] ChrisAtMAF opened #63616 "Documentation for Get-AzureADAdministrativeUnitMember does not mention 100 user limit"
Hi,

By default, Get-AzureADAdministrativeUnitMember only returns 100 members. In the latest version of the AzureADPreview module, there are now '-Top' and '-All' parameters to get round this (see https://github.com/MicrosoftDocs/azure-docs/issues/52650)

But the documentation here and at https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadadministrativeunitmember?view=azureadps-

[2020-10-01 12:44] ChrisAtMAF commented on #52650
It's great that this is fixed in the latest module - but the documentation for the command is still out of date

https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadadministrativeunit?view=azureadps-2.0-preview

[2020-10-01 12:53] ravichillerega opened #63617 "Deploy ARM templates with Azure Pipelines"
It is possible to deploy ARM templates with AzureResourceGroupDeployment Task as well. Please update the content for the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a8ced6a-595a-aa79-4b92-05ccf4c91852
* Version Independent ID: 59231e9b-7b95-ff92-7ef1-2a329211bed9
* Content: [CI/CD with Azure Pipelines and tem

[2020-10-01 12:54] #63617 closed

[2020-10-01 12:54] ravichillerega commented on #63617
Content is there.

[2020-10-01 13:02] raviranjandutta commented on #57861
I see same error when trying to run sample nodejs app with cosmos in backend. i changed package.json.
"start": "NODE_TLS_REJECT_UNAUTHORIZED=0 node app.js"
but when i run npm start it throws error
'NODE_TLS_REJECT_UNAUTHORIZED' is not recognized as an internal or external command,
operable program or batch file.

[2020-10-01 13:21] SwathiDhanwada-MSFT commented on #63605
@wstaelens Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-01 13:41] shortpatti commented on #63573
#please-close

this article has been removed as per PMs request

[2020-10-01 13:41] #63573 closed

[2020-10-01 14:01] tfitzmac commented on #63554
@Naseej-App - there shouldn't be anything you have to do to get your app to work. You'll want to look at [Move guidance for App Service resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/move-limitations/app-service-move-limitations) to make sure you understand the requirements for moving an App Service app. If you have hardcoded resource IDs anywhere, you'll need

[2020-10-01 14:06] tgross opened #63619 "IMDS network documentation missing URLs for interfaces"
The network section of the instance metadata service docs does not include an explanation of the URLs used for per-interface information shown in [Sample 2](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#sample-2-retrieving-public-ip-address).

This is a variant on https://github.com/MicrosoftDocs/azure-docs/issues/7706 in that I was able to figure this o

[2020-10-01 14:11] evanzhang89 commented on #62207
@tamram @SumanthMarigowda-MSFT Any updates on this?

[2020-10-01 14:20] rodeoboy commented on #62347
So do I understand this correctly, you are taking away the ability for developers to emulate CosmosDB locally and now will be forced to use CosmosDB on Azure?

[2020-10-01 14:21] slimbentami commented on #63413
Hello femsulu, thank you for your comment.

In [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/platform-logs-overview) it says that Activity Logs:

Provides insight into the operations on each Azure resource in the subscription from the outside (the management plane) in addition to updates on Service Health events. Use the Activity Log, to determine the what, who, and when **f

[2020-10-01 14:36] AshokPeddakotla-MSFT commented on #63278
@kngohil Does that answer your query? Do let us know if you have any further queries.

[2020-10-01 14:39] AshokPeddakotla-MSFT commented on #63513
Adding @rbrundritt for further assistance in this query. Ricky please check this and provide your guidance.

[2020-10-01 14:43] baf opened #63620 "Combined registration and Authenticator app"
The SSPR deep dive document currently contains the following statement:

The new combined registration experience is now generally available, and new tenants are using it by default. I understand there may be a challenge because existing tenants have not been forced into the new experience yet, but for organizations considering a brand-new deployment of MFA and SSPR and intending to deploy the Aut

[2020-10-01 14:55] BhargaviAnnadevara-MSFT commented on #63404
@ZohairTharani We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-01 14:55] #63404 closed

[2020-10-01 15:08] MonikaReddy-MSFT commented on #63495
@venkat-vangal -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-10-01 15:08] #63495 closed

[2020-10-01 15:08] #63485 closed

[2020-10-01 15:09] MonikaReddy-MSFT commented on #63470
@Jason1666 -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-10-01 15:09] #63470 closed

[2020-10-01 15:09] DerekHerman-MSFT commented on #63488
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-01 15:09] #63488 closed

[2020-10-01 15:10] DerekHerman-MSFT commented on #63479
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-01 15:15] singhnishant40 opened #63621 "How it works - settings - point 3 has a spelling mistake"
[https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/what-if-tool#how-it-works
![image](https://user-images.githubusercontent.com/59005328/94828284-ed36ec00-0426-11eb-811d-d5b1c700815c.png)
 The configures should be configured.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3f7178-bbd2-cff2-28

[2020-10-01 15:34] byte-master opened #63623 "Is there an ETA for Azure Application Insights Agent for .NET to be GA'ed?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02cd947d-30c3-2551-4dd6-9762db6869f7
* Version Independent ID: 4e5a974c-686c-2005-c036-55dac3107573
* Content: [Monitor performance on Azure VMs - Azure Application Insights - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/app/azu

[2020-10-01 15:34] shadowano commented on #55066
It looks like you just need to get the already documented feature out to your production documentation https://stackoverflow.com/a/63605186/1049723

[2020-10-01 15:36] japere commented on #57180
Thanks for testing it out! Are you also using the latest connector version? https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-release-version-history#1519750. We included a few fixes for the websocket support.

[2020-10-01 15:39] djpmsft commented on #55851
@haymansfield Apologies for not getting to this sooner! I know its been months, but were you able to unblock yourself and get the answers needed? I agree that the SHIR section needs to be updated

[2020-10-01 15:43] flavio-neves commented on #57180
@japere yes, I'm using the one from july. If you look into the browser log you'll see a lot of Websocket error everytime you try to connect, just after the logon part.
Log into the new RDWeb -> choose a remote connection ou app -> You'll get the reconnecting error -> look into the browser's console log for websocket errors.

[2020-10-01 15:44] WinstonHoward-MSFT commented on #63594
Thanks for the question! Give me a moment to take a look.

[2020-10-01 15:45] djpmsft commented on #63562
Hey @thommck ,

Thanks for the feedback! I agree that this article needs updating. We will open action items to fix these.

Thanks,
Daniel

#please-close

[2020-10-01 15:45] SubhashVasarapu-MSFT commented on #63615
@manu4rhyme , Thanks for reaching out. We will investigate and update this thread.

[2020-10-01 15:47] SubhashVasarapu-MSFT commented on #63302
@marcelkmfst , Appreciate your patience. It depends on how many NAT allocations are configured.so they can increase it.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-01 15:47] #63302 closed

[2020-10-01 15:47] japere commented on #57180
Got it! Thanks for that additional info. If possible could you send us the logs from it to our feedback channel: aadapfeedback@microsoft.com. I can loop in the right folks to review the issue.

[2020-10-01 15:54] Karishma-Tiwari-MSFT commented on #63612
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 15:55] abatishchev commented on #62347
No, the emulator doesn't go away. Only the support for the emulator by ASE does. To my regrets.

[2020-10-01 15:55] SwathiDhanwada-MSFT commented on #63467
@cr-gstirling As there are no further documentation changes,we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-10-01 15:55] #63467 closed

[2020-10-01 15:56] WinstonHoward-MSFT commented on #63608
Thanks for the doc feedback, I've assigned this to the doc author to take a look at enhancing the doc per your feedback.

[2020-10-01 15:56] SwathiDhanwada-MSFT commented on #63528
@AlexCesarini Can you please provide the document  as requested in my previous comment?

[2020-10-01 16:00] djpmsft commented on #63556
The error you faced is one of two issues:

1. You cannot write to the branch/repository you are attempting to
2. You cannot create new branches (if you are importing to a new branch)

It all depends on your permissions within an organization and the organizations policies. You are likely able to connect to the repo, but the error comes with the 'Import resource' action which writes artifacts to a

[2020-10-01 16:02] WinstonHoward-MSFT commented on #63613
Hi @hostmatic ,

Thank you for your feedback on the article. We will take a look and do our best to improve it accordingly.

[2020-10-01 16:03] JamesTran-MSFT commented on #63601
@MJ-Webber
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-01 16:05] JamesTran-MSFT commented on #63620
@baf
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-01 16:06] JamesTran-MSFT commented on #63621
@singhnishant40
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-01 16:08] Paul06 commented on #39777
Hi, I see the issue closed, but I am having very similar issue. When I keep empty at raw/ then files moved but as soon as I put  folder under raw then move stopped. I would like to move all the files from raw/Tobeprocessed but that failed. I would love to move individual file level, however, if it goes under sub folder I am also good there. Could you please help here.
![image](https://user-images.

[2020-10-01 16:25] MGoedtel commented on #62768
This article has been updated and should go live later today or tomorrow AM.  #please-close

[2020-10-01 16:25] #62768 closed

[2020-10-01 16:36] roygara commented on #63595
#assgin: @roygara

[2020-10-01 16:38] roygara commented on #63595
@jjindrich Thanks for reaching out, there is some additional information located in this [article](https://docs.microsoft.com/en-us/azure/storage/files/storage-files-compare-protocols#differences-at-a-glance). ZRS is not currently available for NFS shares.

I'll go ahead and include this in the limitations, as well. That change will be live later today.

[2020-10-01 16:39] brianbarnett316 commented on #63556
I'm an owner of the organization and an admin on the repository.  I would think that would give me the necessary permissions.

[2020-10-01 16:42] dlepow commented on #46797
#reassign macolso

[2020-10-01 16:42] roygara commented on #63595
Actually, I note that the limitations already list that only LRS storage is available. Accordingly, I'll close this out.

#please-close

[2020-10-01 16:43] #63595 closed

[2020-10-01 16:47] AlexCesarini commented on #63528
Curious
I thought it was automatically linked to the document that is

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-claims-mapping#table-5-attributes-allowed-as-a-data-source-for-saml-nameid

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: SwathiDhanwada-MSFT<mailto:notifications@github.com>
Sent: Wednesday 30 September 2020

[2020-10-01 16:48] roygara commented on #62425
#please-close

[2020-10-01 16:48] #62425 closed

[2020-10-01 16:59] #63549 closed

[2020-10-01 17:00] #63536 closed

[2020-10-01 17:08] Karishma-Tiwari-MSFT commented on #62660
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-01 17:08] #62660 closed

[2020-10-01 17:08] Karishma-Tiwari-MSFT commented on #63230
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-01 17:08] #63230 closed

[2020-10-01 17:09] blackchess12 commented on #63265
Thank you for your assistance!

[2020-10-01 17:09] #63265 closed

[2020-10-01 17:10] rbrundritt commented on #63513
Background color is different from water. When world wrapping is disabled, the map will only show one copy of the world. If the map div is rectangular, there will be a bunch of empty area. This is when the background color is visible.

There is no supported way to customize the map styles at this time (planned as a future feature). However there is an undocumented/unsupported way to achieve this.

[2020-10-01 17:12] mrbullwinkle commented on #58833
This doc has been rewritten to address this issue.

[2020-10-01 17:12] mrbullwinkle commented on #58833
#please-close

[2020-10-01 17:12] #58833 closed

[2020-10-01 17:12] jcbrooks92 opened #63627 "App Service Certificates are not available in National Clouds"
I confirmed with our product team that app service certificates are not available for national clouds. It would be helpful to document this in the section below.
https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#import-an-app-service-certificate
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2020-10-01 17:13] mrbullwinkle commented on #62883
This article has been updated to address this issue.

[2020-10-01 17:13] mrbullwinkle commented on #62883
#sign-off

[2020-10-01 17:14] mrbullwinkle commented on #62883
#please-close

[2020-10-01 17:14] #62883 closed

[2020-10-01 17:14] mrbullwinkle commented on #57619
This article has been updated to address this issue.

[2020-10-01 17:14] mrbullwinkle commented on #57619
#please-close

[2020-10-01 17:14] jcbrooks92 opened #63628 "App Service Domains are not support in the National Clouds"
I confirmed with the product group that app service domains are not supported in national clouds. It would be helpful to document this to avoid confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dc61ea4-6040-6143-c279-db71f9fda02a
* Version Independent ID: d45201fb-c603-b878-b7d2-191db4b589e5
* Content: [Buy a

[2020-10-01 17:14] #57619 closed

[2020-10-01 17:17] BharathNimmala-MSFT commented on #63623
@byte-master Thank you for reaching out, we will review your query and get back to you at the earliest.

[2020-10-01 17:21] MicrosoftGuyJFlo commented on #63591
Conditional Access is an Azure AD Premium feature requiring at least Azure AD Premium P1 licenses.

RDP in general does not support MFA this article is only talking about signing in to Azure VMs using Azure AD.

[2020-10-01 17:29] MarileeTurscak-MSFT commented on #63586
@kudlatiger
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-01 17:31] MicrosoftGuyJFlo commented on #63555
@D-Moonesinghe The calculations have changed since that blog post was written.

As I mention in the article we don't disclose the exact calculation methods. The higher the risk the more confident we are in the signal providing the risk information.

This statement went back and forth through the product group multiple times before we published. If you would like to open product feedback for them t

[2020-10-01 17:31] #63555 closed

[2020-10-01 17:35] KrishnaG-MSFT commented on #63617
@ravichillerega Glad to know that you have self resolved and hence closed the issue. Thanks for the update.

[2020-10-01 17:42] julieMSFT commented on #55168
#reassign:julieMSFT

[2020-10-01 17:47] julieMSFT commented on #55168
assign:antvgski

[2020-10-01 17:48] li-leyang commented on #63438
Hello, is there any update on this?

[2020-10-01 17:48] kummanish commented on #62571
@pvmraghunandan can you help me understand what is the use case to use the private link URL instead of the regular server URL ?

[2020-10-01 17:49] sdgilley commented on #63134
@thecpshah - what did you do differently that the local version now works?  Wasn't that what your first problem was?  Are you saying that adding interactive_auth now works locally?

[2020-10-01 18:05] WinstonHoward-MSFT commented on #63557
Hi @mutazn ,

I've replicated your environment on a linux machine and the commands work as intended. The message you are seeing is advising you to change your directory ``cd`` to ``/usr/local/bin`` as that is where kubectl and kubelogin are to be installed. Since the doc is correct and kubelogin is installed with the doc provided commands I will close this issue. Please feel free to leave a commen

[2020-10-01 18:07] MicrosoftGuyJFlo commented on #63389
#please-close taking to backlog to make doc update.

[2020-10-01 18:07] #63389 closed

[2020-10-01 18:08] SnehaAgrawal-MSFT commented on #63627
@jcbrooks92 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 18:10] MicrosoftGuyJFlo commented on #63522
#assign @lujiangfeng666

[2020-10-01 18:11] JamesTran-MSFT commented on #63621
@singhnishant40
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-10-01 18:11] #63621 closed

[2020-10-01 18:12] SnehaAgrawal-MSFT commented on #63627
@jcbrooks92 Its looks like duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/63628 hence closing it here.

[2020-10-01 18:12] SnehaAgrawal-MSFT commented on #63628
@jcbrooks92 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-01 18:14] MicrosoftGuyJFlo commented on #63538
Cant document every app's requirements in every doc. It is expected that organizations understand what apps they have and make the appropriate settings selections based on those. Trusted/Intranet site assignment is something that admins must understand at a larger level.

[2020-10-01 18:14] MicrosoftGuyJFlo commented on #63538
#please-close

[2020-10-01 18:14] #63538 closed

[2020-10-01 18:20] lujiangfeng666 commented on #63522
There are several questions here.

"_It is not clear if can apply both Sign-in frequency policy and Persistent browser session to All cloud apps.
In this document, the print screens and steps for "Policy 1: Sign-in frequency control" shows that 1x app included, but "Policy 2: Persistent browser session" targeted to All Apps. And is it possible to combine them together in one policy or separate pol

[2020-10-01 18:23] Ericgre commented on #53717
Hello, did you check that the DNS resolution in your deploy agent host is correct for the public name of your scm ? myapp.scm.azurewebsites.net must return the private endpoint address that you set in your private zone.

[2020-10-01 18:26] SadiqhAhmed-MSFT commented on #63605
@wstaelens To know exactly how much it will cost for enabling DR to your Azure VMs, refer to this link - https://azure.microsoft.com/en-gb/blog/know-exactly-how-much-it-will-cost-for-enabling-dr-to-your-azure-vm/

Hope it helps!

Let us know if you have any other question in this matter.

[2020-10-01 18:28] surya2155 commented on #53717
@Ericgre yes, by nslookup both webapp and scm are resolving to the same PE IP address.

[2020-10-01 18:39] JamesTran-MSFT commented on #63601
@MJ-Webber
Thank you for your feedback and example!

The PowerShell script is only a sample script, to demonstrate listing information about all Azure Active Directory (Azure AD) Application Proxy Connector groups with the assigned applications.

Users can freely modify that script within their own environments, as needed.

If you have any other questions, please let me know.
Thank you for your ti

[2020-10-01 18:39] #63601 closed

[2020-10-01 18:41] JamesTran-MSFT commented on #63620
@baf
Thanks for your patience, I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-01 18:41] jwidmer opened #63636 "How do you run the updateUsernames stored procedure against multiple partitions?"
For Denormalizing usernames, how do you run the updateUsernames stored procedure against multiple partitions in the posts container?  The only way I could figure it out was to query the posts container upfront for postIds which matched the userId as specified from the change feed. And then for each of these postIds, execute the updateUsernames stored procedure.

You can see what I am doing here:
[

[2020-10-01 18:43] nitinme commented on #63588
We are actively working on organizing the code in the various Github repositories. We are also looking to consolidate these repositories wherever possible.

#please-close

[2020-10-01 18:44] #63588 closed

[2020-10-01 18:57] baf commented on #63620
Thanks, @JamesTran-MSFT!

[2020-10-01 18:57] davidbel commented on #27800
Hi folks, we are still working on this feature and had to make changes to the initial architecture to support it. Keep an eye on https://aka.ms/wvdroadmap where we'll post more information when available.

[2020-10-01 19:00] yakanada opened #63639 "Issue with the App Service documentation broken link"
The documentation link in the portal doesn’t work:  **https://go.microsoft.com/fwlink/?linkid=2088516**

Steps to reproduce the issue:

Attached the screen shots for the same

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/65367461/94851613-b0530100-03f6-11eb-994b-3349b5b85496.png)
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/65367461/94851622-b34df1

[2020-10-01 19:06] implemental opened #63640 "Code snippet does not compile and not refactored for Read3."
The correct code snippet for the latest SDK is much different and should be:

`public async Task ReadFileUrl(ComputerVisionClient client, string urlFile)
            {
                Console.WriteLine("----------------------------------------------------------");
                Console.WriteLine("READ FILE FROM URL");
                Console.WriteLine();

                // Read text from URL

[2020-10-01 19:10] SaiKishor-MSFT commented on #62403
@SebastianClaesson  I have updated the URL in the docs, and the doc will reflect this change within 24 hours. Thanks for choosing Github. Have a good day!

[2020-10-01 19:10] #62403 closed

[2020-10-01 19:10] tobyfiserv opened #63641 "Issues in scripts"
It would appear that some scripts contain now deprecated commands.

Specifically, I am having problems with the following in: samples/DevTestLabs/Scripts/ImageFactory/Scripts/DistributionHelpers.psm1

[code]
Save-AzureRmProfile and Import-AzureRmContext appear to be non-functional now

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-10-01 19:24] mrbullwinkle commented on #57996
The Visual Studio 2019 specific updates have been addressed in the latest version of this article which is now live.

[2020-10-01 19:24] mrbullwinkle commented on #57996
#please-close

[2020-10-01 19:24] #57996 closed

[2020-10-01 19:32] MartinJaffer-MSFT commented on #63493
@stewartadam  I am assigning this to the author, @spelluru  for further review and correction as needed.

[2020-10-01 19:41] MonikaReddy-MSFT commented on #63641
@tobyfiserv -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-01 19:42] MonikaReddy-MSFT commented on #63639
@yakanada -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-10-01 19:44] ChaitanyaNaykodi-MSFT commented on #63315
Hello @kaylakirzinger, Sorry for the delay. I was able to successfully perform the tutorial. I used the new developer portal, to perform the tutorial. Can you retry the tutorial once. Please make sure to include the correct Redirect URL in step 9. Also when under implicit grant when you select ID token, please make sure to save the changes. Let me know if you are still facing any issues.

[2020-10-01 19:49] manu4rhyme opened #63642 "URL Rewrite operator is not clear"
[Enter feedback here]
What URL Rewrite operator should be used in context to custom forwarding path? It's not clear how custom forwarding path interacts with operators like "Contains" or "Begins With"....Please provide some examples, I'm struggling since a day....The same path is working with a routing configuration, but not with Rules Engine....
---
#### Document Details

⚠ *Do not edit this sect

[2020-10-01 19:49] mutazn commented on #63557
Hi @WinstonHoward-MSFT  Thank you for checking the issue. `/usr/local/bin` is already added to the `PATH ` so no need to change the directory `/usr/local/bin` however I am adding a screenshot that is showing that `kubectl ` installed successfully when run `sudo az aks install-cli` but `kubelogin `is not installed so you should add how we can install `kubelogin`.
![image](https://user-images.github

[2020-10-01 19:58] ThomasWeiss commented on #63636
Hi @jwidmer, you're right that the stored procedure has to be run for each value of the partition key. This is actually called out below when it says "This operation is costly because it requires this stored procedure to be executed on every partition of the posts container.". This makes this update rather costly, but a change of username is considered to happen very rarely.

[2020-10-01 20:13] jwidmer commented on #63636
Thanks @ThomasWeiss! Yes, that note is what triggered me to write the code as I did.  But I wasn't convinced that I was correct.  Thanks for the confirmation.

[2020-10-01 20:13] #63636 closed

[2020-10-01 20:14] Roblarson opened #63643 "Modify diagram to clarify that the machine on the left is an actual client and not a proxy server"
[Enter feedback here]
Have used this page to explain how the connectivity works with multiple customers and they all have started with the assumption that the machine icon with the word proxy beside it is a proxy server versus a client machine establishing the connection. I would suggest to update the diagram and add a label to the computer icon that says it is the client machine.

---
#### Docume

[2020-10-01 20:16] WinstonHoward-MSFT commented on #63594
Hi @juho-hanhimaki ,

Thanks for the question. If you use a custom storage account Boot Diagnostics data is stored as page blobs. However by default azure will use a pre-provisioned storage account managed by Microsoft but you can specify your own storage account and then set multiple VMs to use that account if you wanted them to use the same account.

I spoke with the PG Team for costs and was in

[2020-10-01 20:22] WinstonHoward-MSFT commented on #63594
I spoke with the PM on the project and they will update the doc to include some of this information so I'm assigning the issue to author.

[2020-10-01 20:26] roalexan opened #63644 "guidance for customer use of linux app service mounting blob storage containers"
We are building a customer demo that entails a webapp reading files from a blob storage container. Currently we are using this feature, [Access Azure Storage as a network share from a container in App Service](https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux#prerequisites ), but now that we see this listed as a limitation:

"Azure Storage

[2020-10-01 20:29] WinstonHoward-MSFT commented on #63619
Thanks for the issue, I'll take a look into it.

[2020-10-01 20:45] WinstonHoward-MSFT commented on #63619
Thanks for the issue @tgross ,

I've assigned this to the doc author to work on enhancing the doc with guidance on the URL routes.

[2020-10-01 20:49] D-Moonesinghe commented on #63555
John Flores,

You really didn't read the original case.  Because if you did you will
realize I am not asking that Microsoft disclose the exact method on how
risk is calculated.  I am simply pointing to a large information blackwhole
in your article that people who are implementing have to know, yet not
addressed by the article.

 If you simply took the time to follow the original link I put, you w

[2020-10-01 20:53] JamesTran-MSFT commented on #63548
@martinoss
When it comes to certificate rotation I found a [Stack Overflow post](https://stackoverflow.com/questions/63252548/does-azure-app-service-automatically-restart-when-azure-key-vault-renew-the-cert) that will answer your question.
- "The Web App service runs a background job that periodically (once a day ) that syncs all App Service certificate..."

Thank you for your time and patience.

[2020-10-01 20:53] #63548 closed

[2020-10-01 21:07] Ceespino commented on #63556
@brianbarnett316
Are you trying to link a repository insde your personal account? or a repro under an organization under a GitHub account? Also, could you please provide us your data factory name?

[2020-10-01 21:10] japere commented on #54391
@kenwith- This is a duplicate and will be addressed with suggested changes here: https://github.com/MicrosoftDocs/azure-docs/issues/58671

[2020-10-01 21:13] jlichwa commented on #61622
@alexchx I have added note in troubleshooting for Visual Studio Credential which would require to update package version manually #please-close

[2020-10-01 21:13] #61622 closed

[2020-10-01 21:14] japere commented on #50449
A load balancer can be placed between the connector and backend apps. Guidance can be found here: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-high-availability-load-balancing#best-practices-for-load-balancing-among-multiple-app-servers

[2020-10-01 21:18] jlichwa commented on #63050
FYI @varun-msft

[2020-10-01 21:19] WinstonHoward-MSFT commented on #63557
Thanks for the follow up @mutazn,

I replicated the doc on a Linux (ubuntu 16.04) VM and had no issues. The steps I took were:

### Install AZ CLI per Prerequisites
1. ``cd /usr/bin/``
2. ``curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash``

### Execute the commands per doc to install kubectl and kubelogin
3.
[code]

### Which returns:
[code]

Can you try to follow my steps as it works on my

[2020-10-01 21:20] jdolearydl opened #63645 "When will Azure support Postgresql 12?"
[Postgresql 12](https://www.postgresql.org/docs/12/release-12.html) was released on 2019-10-03.

"Microsoft aims to support n-2 versions of the PostgreSQL engine in Azure Database for PostgreSQL - Single Server. The versions would be the current major version on Azure (n) and the two prior major versions (-2)."

When will Azure support Postgresql 12?

---
#### Document Details

⚠ *Do not edit this

[2020-10-01 21:21] tfitzmac commented on #54575
@aidanfinn - thanks for this feedback, and sorry we did not get to it sooner. I have updated this article to use AzureResourceManagerTemplateDeployment@3. The update should get published tomorrow.

[2020-10-01 21:23] fekberg opened #63646 ".NET Core version is 2.2.402 not 3.1.302"
The documentation states that the .NET Core version should be 3.1.302 in Azure Cloud Shell.

However that SDK, or runtime is not available.

[code]

[code]

--

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18fb3b37-8ba1-579c-ceb4-329c283f107a
* Version Independent ID: 0ead5f4c-63a0-d782-0a89-b5d612596d89
* Content: [A

[2020-10-01 21:25] tfitzmac commented on #54575
#please-close

[2020-10-01 21:25] #54575 closed

[2020-10-01 21:44] arunt4ever opened #63647 "Important Update - Add Sign on URL"
Section: Configure Azure AD SSO

substep 4:

An additional Sign-on URL needs to be populated

Sign on URL: https://platform.boomi.com/AtomSphere.html#build;accountId={your-accountId}

![image](https://user-images.githubusercontent.com/4443455/94866569-7da80900-03f4-11eb-9d25-20043a596934.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-10-01 21:49] MarileeTurscak-MSFT commented on #63647
@arunt4ever
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-01 21:50] mutazn commented on #63557
@WinstonHoward-MSFT I have followed your instructions and now I can see `kubelogin` installed, thank you.

[2020-10-01 22:32] #63529 closed

[2020-10-01 22:34] tfitzmac commented on #63529
@usrme - thanks for this feedback. I have submitted an update that should get published tomorrow.

[2020-10-01 22:36] #63492 closed

[2020-10-01 22:37] tfitzmac commented on #63492
@AlexImray - thanks for this feedback. I have submitted a fix that should get published tomorrow.

[2020-10-01 22:42] WinstonHoward-MSFT commented on #63606
Hi @jeanpoelie ,

Your assumption is correct. The reason `isPreview` is `null` or `false` is because it was introduced in later versions and would imply a backport to the older versions. Because your assumption is correct (you can always check if isPreview is null, and if not, assume it is a preview version) why is checking if null or if false so different? Thanks for the feedback, I look forward

[2020-10-01 22:48] #63557 closed

[2020-10-01 22:52] TravisCragg-MSFT commented on #63642
@manu4rhyme Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-01 22:54] rachel-msft commented on #63645
Hi, thanks for reaching out. We support Postgres 12 on our [Flexible Server deployment option](https://docs.microsoft.com/azure/postgresql/flexible-server/overview).

[2020-10-01 22:56] NavtejSaini-MSFT commented on #63429
@pradeep20mce Please help us with the above questions to take this forward.

[2020-10-01 22:58] NavtejSaini-MSFT commented on #63427
@LastTribunal Please let us know if you need any further help regarding this.

[2020-10-01 23:24] NavtejSaini-MSFT commented on #63572
@timsander1 @SnehaGunda Do we have samples for .NET v3 that we can add to the document. Please provide guidance.

[2020-10-01 23:27] dk7869p opened #63649 "Have lot of confusion on Migration from Classic to ARM WVD || Windows Virtual Desktop"
I was going through for the steps on migrating from Classis to ARM WVD and I do not any steps which says that it'll bring old Hostpool or the Users or any setting.

Could you please help me with the steps,

I have got many customer who want to move everything. And this article just shows to follow the Normal steps to create Hostpool and register the VM manually to hostpool I just do not understand

[2020-10-01 23:29] timsander1 commented on #63572
Hi @tiago-sommer-damasceno and @NavtejSaini-MSFT , the doc references the V2 sample because there is no available V3 SDK sample.  Working with continuation tokens is similar in each of these SDKs. We will add a new .NET SDK V3 sample within the next two weeks. Once that is available, we will reference that in the doc.

[2020-10-01 23:29] NavtejSaini-MSFT commented on #63643
@Roblarson Although the document explains the proxy connection mode in detail but we are checking with our author way forward for this.
@rohitnayakmsft Please confirm if we can change the diagram. If not we can add a note below the diagram to explain it better. Please let us know what we need to do in this regard.

[2020-10-01 23:36] pradeep20mce commented on #63429
@NavtejSaini-MSFT, I was referring to the CreateItemAsync, specifically the below code block in the page. This seems to be doing a ReadItemAsync and then if the item is not found, creating the item using CreateItemAsync. I'm trying to understand why the item creation has to be 2 step process.
Is there is downside of invoking CreateItemAsync without doing ReadItemAsync? If the item already exists,

[2020-10-02 00:00] tiago-sommer-damasceno commented on #63572
Thanks for the info @timsander1!

[2020-10-02 00:14] NavtejSaini-MSFT commented on #63415
@aburleigh94 Thanks for the feedback to point the issue. We have made changes to the document and the changes will be live in 24 hours after it is approved.

[2020-10-02 00:20] NavtejSaini-MSFT commented on #63572
Thank you for the confirmation @timsander1
@tiago-sommer-damasceno At this time we will go ahead and close this thread. If you have any other question please get back to us.

[2020-10-02 00:20] #63572 closed

[2020-10-02 00:25] kobulloc-MSFT commented on #63646
@fekberg Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-10-02 00:26] RyanHill-MSFT commented on #62982
@lokijota I spoke the product group and I'll be rolling back that change as `GraphTopologyDelete` is indeed valid. The `Name` property should be updated the topologyName CVRToAMSAsset.

[2020-10-02 00:53] YutongTie-MSFT commented on #63460
@frvigano Thanks for your feedback, I will forward your insight to content team. ^^

[2020-10-02 01:17] fawan715 opened #63652 "The Portal steps also apply to Single Server"
The Portal steps also apply to Single Server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42f639e1-f3fd-67b2-224e-cf263ce5e4a3
* Version Independent ID: 4c1985f1-6297-8b9c-6a61-b0a81bd2c4ec
* Content: [Stop/start - Azure portal - Azure Database for MySQL server](https://docs.microsoft.com/en-us/azure/mysql/how-to-sto

[2020-10-02 01:27] slave02 opened #63653 "Support matrix for VMware migration - minor syntax error - see below"
Actual Section:

Azure VM requirements

All on-premises VMs replicated to Azure, with agentless or agent-based migration) must meet the Azure VM requirements summarized in this table

Maybe missing opening (

should be:

All on-premises VMs replicated to Azure, (with agentless or agent-based migration) must meet the Azure VM requirements summarized in this table
---
#### Document Details

⚠ *Do no

[2020-10-02 01:27] johanburati commented on #55705
This has been opened since May, any feedback from the author ?

[2020-10-02 01:30] kummanish commented on #63652
This applies to both Azure Database for MySQL Flexible server as well as Azure Database for MySQL Single server (https://docs.microsoft.com/en-us/azure/mysql/concepts-servers#stopstart-an-azure-database-for-mysql-preview)

[2020-10-02 01:33] fawan715 commented on #63652
Fully agree, shall we update the documentation to remove the flexible server limitation?

[cid:image001.jpg@01D6989F.0867CA10]

From: kummanish <notifications@github.com>
Sent: Friday, October 2, 2020 9:30 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Fan Wang <fawan@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] The Portal steps al

[2020-10-02 01:50] AbeHariz commented on #59183
the issue still persists

[2020-10-02 01:55] BharathNimmala-MSFT commented on #63653
@slave02 Thanks a lot for bringing this to our notice and improving our Azure documentation. I have raised an PR to correct the typo in the documented. Once it reviewed and approved the fix will be merged to the live document early next week.

At this point it appears that there's no further edits or updates needed to the documentation other than what is listed above. We will go ahead and close th

[2020-10-02 01:55] #63653 closed

[2020-10-02 02:07] ChaitanyaNaykodi-MSFT commented on #63315
Hello @kaylakirzinger, as we did not find any issues with the tutorial, I am now proceeding to close this issue out. Please feel free to tag me in your reply if the issue still persists, I will be happy to continue with our discussion.

[2020-10-02 02:07] #63315 closed

[2020-10-02 02:25] Norrch2 opened #63654 "How Does Azure AD B2C Determine ClaimsProviderSelection Icon"
Hello,

I am playing around with the claims provider selections. How does B2C determine if and what logo icon will be displayed on the claims provider selection? Sometimes it will display an icon, and others it will not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5387e5e-299b-4c41-e84a-44e98a2c02bf
* Version Indep

[2020-10-02 02:43] kummanish commented on #63652
hi @fawan715  are you asking if we should remove the limitation here : https://docs.microsoft.com/en-us/azure/mysql/flexible-server/concepts-limitations#stopstart-operation ?

[2020-10-02 02:47] PatrickMessierGoC opened #63656 "Unclear Solution Description"
[Enter feedback here]

Sorry, I have no clue how to "Add a VHD on the file share and mount VHD over SMB from the client to perform files operations against the data." Pointers or clarification would be appreciated here. Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2ab0c47-e61d-0419-1e75-29172fcbe097
* Version

[2020-10-02 02:58] fawan715 commented on #63652
No, I’m actually talking about the following page:
https://docs.microsoft.com/en-us/azure/mysql/how-to-stop-start-server

As you confirmed, the steps to stop/start MySQL apply both of Single server and flexible server, the statement in the current page above is misleading because it says that the steps only apply to flexible server. See the screenshot below:

[cid:image003.jpg@01D698AB.012686E0]

[2020-10-02 03:09] jmsims2 commented on #29600
@tony-gutierrez Trying to get this to work on azure app service now...seeing intermittent ECONNRESET, terribly frustrating.  Did you use this with expressjs or another library?  Trying to integrate it now, but can't tell if it's working or not?  How did you test to know it was working?  Any help would be greatly appreciated!

[2020-10-02 03:17] dcbrown16 commented on #57816
@asinn826 just happened across this again and RHEL 6.x is still listed, just wanted to send a reminder.

[2020-10-02 03:20] Kapkan-Lesion opened #63657 "Make the line "Linux hosting for custom functions containers are supported on Dedicated (App Service) plans and Premium plans" more visible"
I have seen quite a few users raising this feedback. This 'Linux hosting for custom functions containers are supported on Dedicated (App Service) plans and Premium plans' line should be more **visible/noticeable** for those who are going through the documentation, one of my clients was having issues creating a Linux Docker Function App on **Consumption plan** because it is simply **not possible**.

[2020-10-02 03:21] shannonfritz opened #63658 "Cannot leave org using new portal"
Guidance needed for the updated "myapplications" version of the myapps portal.  There appears to be no way to leave an organization other than to "leave new experience" and then proceed with this guide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b448cfd0-b673-7d04-047b-71aa62bebc27
* Version Independent ID: 75118bf

[2020-10-02 03:28] Kapkan-Lesion commented on #63657
@ggailey777

[2020-10-02 03:42] YutongTie-MSFT commented on #63546
@trevorbye Hello, could you please check this issue and update the document with more details? Thanks!

[2020-10-02 03:52] ScottMetzel opened #63660 "Suggestion to Replace Here-String in Ex. 3 with Hashtable"
I think, for clarity, formatting, and to use something a little more PowerShell native (?), it would be good to replace the here-string in Example 3 with a hashtable, e.g.:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 376f32b3-0acb-625a-e635-e62503213c63
* Version Independent ID: c26787f2-f910-c3f0-d787-818d11

[2020-10-02 04:06] aashishb commented on #63516
@MayMSFT can you check?

[2020-10-02 04:20] YutongTie-MSFT commented on #63474
@PeterGolovatyi Hello, just easily correct that row to
"bytesresp =  Web.Contents(endpoint, [Headers=headers, Content=bytesbody, ManualStatusHandling={400}])"

It should work, I will create a PR to fix the document. Thanks.

[2020-10-02 04:34] SteveBurkettNZ opened #63664 "Rewrite needed on split Azure Active Directory models support sentence"
Sentence in the '[Does Windows Virtual Desktop support split Azure Active Directory models?](https://docs.microsoft.com/en-us/azure/virtual-desktop/faq#does-windows-virtual-desktop-support-split-azure-active-directory-models)' section needs a rewrite, it doesn't make sense:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-10-02 04:55] kummanish commented on #63652
hi @fawan715 , got it . i have fixed it and it should be refected tomorrow morning.
Thanks for helping improve this

Regards

[2020-10-02 04:55] kummanish commented on #63652
#please-close

[2020-10-02 04:55] #63652 closed

[2020-10-02 05:20] mdifferent opened #63665 "Parameter Order of SpeechRecognizer.FromConfig() is inconsistent with code"
`var speechRecognizer = SpeechSDK.SpeechRecognizer.FromConfig(speechConfig, audioConfig, autoDetectConfig);`
Code above in [Automatic language detection for speech to text](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-automatic-language-detection?pivots=programming-language-javascript) is wrong.

According to[sdk code](https://github.com/microsoft/cognitive-servi

[2020-10-02 05:45] vipulsparsh commented on #63654
@Norrch2  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-02 05:47] vipulsparsh commented on #63658
@shannonfritz  Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-02 06:09] akingscote commented on #63591
@MicrosoftGuyJFlo
Hello,

So thats what i am trying to do, but with MFA. I want to enable MFA for signing into Azure Active Directory (not domain services) on my Azure VMs with RDP.

I have MFA for SSH into Linux clients with Azure AD, but for Windows it dosent seem possible with RDP. It feels that there is better security (in terms of Auth) for Linux than there is Windows...

The only possible so

[2020-10-02 06:12] asergaz commented on #63333
Great cacth @sandervandevelde thanks for reporting! I have looked at [certGen.sh](https://github.com/Azure/iotedge/blob/master/tools/CACertificates/certGen.sh#L443) in https://github.com/Azure/iotedge repo and noticed that the only difference between using `function generate_edge_device_ca_certificate()` or `function generate_edge_device_certificate()` is [in the prefix](https://github.com/Azure/i

[2020-10-02 06:12] #63333 closed

[2020-10-02 06:23] SwathiDhanwada-MSFT commented on #63640
@implemental Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:25] plukawski opened #63666 "Why not use CancellationToken instance from the function itself?"
I noticed that in all examples for using Durable Timers in eternal functions everywhere the **CancellationToke.None** is being specified. Isn't it better to always use **CancellationToken** instance that comes as a parameter to a function execution?

And also I have another question - isn't it a good practice to not call the **ContinueAsNew** at all if the cancellation token instance from the Azur

[2020-10-02 06:25] SwathiDhanwada-MSFT commented on #63644
@roalexan Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:27] SwathiDhanwada-MSFT commented on #63649
@dk7869p Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:28] asergaz commented on #63536
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

kudos @Potapy4

[2020-10-02 06:30] asergaz commented on #63549
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

kudos @Potapy4

[2020-10-02 06:34] SwathiDhanwada-MSFT commented on #63656
@PatrickMessierGoC Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:35] asergaz commented on #63466
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-02 06:35] #63466 closed

[2020-10-02 06:37] SwathiDhanwada-MSFT commented on #63657
@Kapkan-Lesion Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:37] asergaz commented on #63469
Hello @laitinenp could you please share with us the results for steps 1 and 2 to proceed the troubleshooting.
Thank you so much!

[2020-10-02 06:38] SwathiDhanwada-MSFT commented on #63660
@ScottMetzel Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:39] bradygaster opened #63667 "In-page survey for App Service ASP.NET Core Hello World quickstart"
Try out the user feedback surveys in-page like Python team has done to see if we can get valuable user feedback on a few of our key ASP.NET Core docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64e750b6-a84d-c665-9bb3-167241a33d10
* Version Independent ID: f22f673f-469c-e137-304b-aa92662e0790
* Content: [Quickstart

[2020-10-02 06:39] SwathiDhanwada-MSFT commented on #63666
@plukawski Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:41] SwathiDhanwada-MSFT commented on #63665
@mdifferent Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:42] SwathiDhanwada-MSFT commented on #63664
@SteveBurkettNZ Thanks for your feedback. We will review the issue and get back to you shortly.

[2020-10-02 06:42] asergaz commented on #62639
@robinsh that's correct, the Azure Samples example FileUploadSample is using the new method. My recommendation is that we rebrand this doc to align with it.

Thanks

[2020-10-02 06:44] SwathiDhanwada-MSFT commented on #63667
@bradygaster Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 06:45] bradygaster commented on #63667
@SwathiDhanwada-MSFT this is mainly an issue for me to use to track with an upcoming pull request. :)

[2020-10-02 07:10] SubhashVasarapu-MSFT commented on #63372
@keamas , I was wondering if you have had a chance to look over our previous reply yet. Let us know if you have any query or input for us or if we good to close this issue.

[2020-10-02 07:12] AndyButland opened #63670 "Error in code sample for "Get the queue length""
I had to change this line...

[code]

... to this ....

[code]

... to get the sample to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2449e264-13a7-ecc0-7400-b6d6bed1b029
* Version Independent ID: bcd3da61-efe6-4ef5-1c79-4fa78cdf473d
* Content: [Get started with Azure Queue storage using .NET - Azure Storage](h

[2020-10-02 07:13] JAI2436 opened #63671 "WVd user accounts"
[Enter feedback here]
hello Team,

I have doubt regarding user account for WVD. is it mandatory that user accounts should be sourced from azure ad?
i have installed a domain controller inside azure vm, so i have created my users inside the  domain controller so can i use the user accounts directly to add WVD to the domain like how we join vm to the domain with domain accounts(with out syncing to a

[2020-10-02 07:15] Kapkan-Lesion opened #63672 "Add explanation for overriding existing runtime stack settings for ARM template deployed web apps"
Background: When deploying a web app via ARM template, if you did not explicitly set the runtime stack settings like so -
[code]
The ARM template will deploy a web app with the runtime stack default to **.NET**. There is nothing wrong with the ARM template, just that you will not be able to find any concrete documentation from Azure detailing the step you need to take if you wish to change the run

[2020-10-02 07:21] andreas-marccain opened #63673 "Unclear type mapping"
Hello,
Please clearify the section about datatype mapping.
As far as I know and as I was able to prove on the internet there is no "UNSIGNED INTEGER" datatype in an oracle db.
So what kind of datatype in the oracle db is needed to get the values mapped as an number or integer?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-10-02 07:31] gerhardcit opened #63674 "Support apis for cert-manager.io"
Current example is:
apiVersion: cert-manager.io/v1alpha2

Please indicate where we can see which apis are supported.
Can this sample be updated to keep track with [cert-manager apis](https://cert-manager.io/docs/reference/api-docs/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* V

[2020-10-02 07:44] nim-syncronet opened #63675 "Documentation seems outdated"
I tried following this guide when trying to connect my webservice with Azure. But screenshots seems to be for an older Version of Visual studio, and some of the things seems to be missing (like linking the project with the "Create databse" durring the create Server step).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-10-02 07:56] UnderTheCraft opened #63676 "Enable serving of model directly from notebook (instead of pressing button)"
Hi,

is there any way to enable the serving of a trained model directly from a notebook where the model was created instead of pressing the button manually on the 'Models' page?
I ask as I want to create a full-automated workflow for model serving.

Best regards
Yannick

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c

[2020-10-02 08:02] meken opened #63677 "Discrepancy between the docs and the README on referenced Github repo"
The README.md on https://github.com/Azure-App-Service/python (which is referenced from the docs) claims that the Python Docker image is running uWSGI, while the docs specify gunicorn as the default wsgi server. The README seems to be outdated as many of the components defined on the page are not relevant (anymore) and should be either updated or the reference from the docs should be removed as it

[2020-10-02 08:18] haymansfield opened #63678 "Page lists unsupported cryptographic profiles"
I've just had it confirmed that ECP256 is not supported for P2S. You can deploy the profile via ARM/Powershell but will not be able to make a successful connection due to the need for an ECC cert.

Could the documentation here be updated to reflect this. In addition it shouldn't really be possible to create a P2S connection with this profile.

---
#### Document Details

⚠ *Do not edit this section

[2020-10-02 08:28] mwucbs opened #63679 "High User-risk, self-remediation does not clear/ auto dismiss of the high risk"
I had a case with the Microsoft support, and high user risk can not be self remidiated.
This could also be published on this page, about self remidiation.

•	Self-remediation doesn't work if user risk state is high for security reasons
•	In order to remove high user risk, admin has to either dismiss the user risk or reset the the user risk using a temporary password
•	To reset High User-risk state

[2020-10-02 08:30] georgewfisher commented on #50047
I am seeing the same issue, although I am not using nginx.

[2020-10-02 08:36] RALGIE opened #63680 "rename index.js to server.js"
index.js must be server.js

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d2219-cb28-5527-1079-6e3195cad282
* Version Independent ID: 70c2aad0-6883-51a9-fed7-01be62302483
* Content: [Tutorial: Create a JavaScript single-page app that uses the Microsoft identity platform for authentication - Microsoft identity platfo

[2020-10-02 09:26] ChrisAtMAF commented on #63616
Hey,

It would probably be a good idea to mention that the 100 member limit is just the default - it can be bypassed by adding the following to the command:

-All $true

[2020-10-02 09:30] ChrisAtMAF commented on #63538
Hey, I completely understand where you're coming from. I just would say that the requirement to add these sites is currently *extremely poorly* documented on the Microsoft site (the link on support.office.com is the only place I could find, and it's not exactly front-and-centre), especially that 1) these sites are added into the registry automatically by the client and 2) if the Group Policy is se

[2020-10-02 09:36] sharbt commented on #62964
@marianan Is there any update on this issue?

[2020-10-02 09:42] vsadriano commented on #52462
Hi!

I had the same Issue but it's working after restart. Now, I had a question for Microsoft:

- I would like to know why **RESTART** is always "the top solution" for your platform Issues.

[2020-10-02 09:51] laitinenp commented on #63469
Thank you for your email. I found out that our company firewall settings
did not allow me to access the port. Changed the network during the
operation and I succeeded.

Thanks for the help.

-Petri Laitinen, Joensuu, Finlandn

On Fri, Oct 2, 2020 at 9:37 AM António Sérgio Azevedo <
notifications@github.com> wrote:

[2020-10-02 10:07] thecpshah commented on #63134
Update:

From my local machine, both the following code blocks work:

[code]

and

[code]

I think I did the following steps as well:

1. 1. Re-installed Anaconda
2. 2. Created a conda env and installed relevant packges
3. 3. Followed these:
4. 3a. Connect-AzureRmAccount
5. 3b. Get-AzureRmSubscription
6. 3c. Select-AzureRmSubscription -SubscriptionId ABC

Not sure if steps 3a-3c helped.

Any thoug

[2020-10-02 10:09] ToruMakabe commented on #59191
I have been evaluating the latest agent (08072020) for a few weeks. It seems that the fix works well. I can get all the metrics on the doc.

[2020-10-02 10:27] BenFranzi commented on #63513
Thanks Ricky, that's perfect for what we need. I'll give this a go. I really appreciate the quick response :)

[2020-10-02 10:36] jimmywim opened #63685 "Add -> New Azure Function... doesn't show list of Azure Functions"
When I follow step 2 of "Add functions to the app" I don't get the list of Function types shown in the screenshot in Step 3, instead I get the standard VS2019 "Add New Item" dialog...

![image](https://user-images.githubusercontent.com/3036301/94914741-8277c600-04a3-11eb-8dbf-6a0eb030cdb0.png)

Specifically, I'd like this to scaffold me the Durable Orchestration without needing to sort out depende

[2020-10-02 10:39] jimmywim commented on #63685
I'm closing this - the screenshot I want is actually after the VS Add New Item dialog 🤦‍♂️

[2020-10-02 10:39] #63685 closed

[2020-10-02 10:40] juho-hanhimaki commented on #63594
Thanks, managed disk is definitely desirable because of it's benefits and the pricing based on the snapshot rate is very reasonable. This added information makes it possible to do well informed decision.

[2020-10-02 10:48] raunakjhawar opened #63686 "Metastore installation failing with metastore version 3.1.0"
[Enter feedback here]

The metastore installation on SQL Server Database as backend fails as it tries to create tables with datatype VARCHAR(32676) which is not valid for SQL Server

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0f84e4f-d0b5-d521-b003-f47cd475a090
* Version Independent ID: 2208824e-e196-d80b-8d27-2b13

[2020-10-02 10:58] sandervandevelde commented on #63333
Hello @asergaz,

There was no exception during the creation of the certificates. The script is fine, only the wrong script is mentioned in the docs.

Starting the iotedge runtime with the wrong certificate simply does not work.

Only after generating the other set (and double-checking the names), it works.

[2020-10-02 11:11] M0ns1gn0r commented on #43594
As I understand, the `OjbectId` is per-tenant, not per subscription. In my case it starts with *a1bc...*.

[2020-10-02 11:15] SwathiDhanwada-MSFT commented on #63667
Assigning to content author @cephalin for review

[2020-10-02 11:16] SwathiDhanwada-MSFT commented on #63670
@AndyButland Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:18] SwathiDhanwada-MSFT commented on #63671
@JAI2436 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:21] SwathiDhanwada-MSFT commented on #63672
@Kapkan-Lesion Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:25] SwathiDhanwada-MSFT commented on #63673
@andreas-marccain Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:26] SwathiDhanwada-MSFT commented on #63674
@gerhardcit Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:26] M0ns1gn0r commented on #45789
In my case the error text was different: `New-AzADServicePrincipal: When using this permission, the backing application of the service principal being created must in the local tenant`.

But the root cause was the same: lack of Global Administrator permissions.

[2020-10-02 11:28] SwathiDhanwada-MSFT commented on #63675
@nim-syncronet Thanks for your feedback.

Assigning to content author @cephalin for review

[2020-10-02 11:30] SwathiDhanwada-MSFT commented on #63676
@UnderTheCraft Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:32] SwathiDhanwada-MSFT commented on #63677
@meken Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:33] SwathiDhanwada-MSFT commented on #63678
@haymansfield Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:35] SwathiDhanwada-MSFT commented on #63679
@mwucbs Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:36] SwathiDhanwada-MSFT commented on #63680
@RALGIE Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:38] SwathiDhanwada-MSFT commented on #63686
@raunakjhawar Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 11:40] JayaChatterjee-MSFT commented on #63412
@dotnetmirror Thanks for reporting this item! I have updated the doc and it will be published soon. We appreciate the feedback!

[2020-10-02 11:40] #63412 closed

[2020-10-02 11:56] BastiaanMolsbeck opened #63687 "Typo in name of Diagnostic setting for Azure SQL database"
Hi,

There is a typo in the example for the template file of the Diagnostic setting for Azure SQL database:
          "name": "[concat(parameters('serverName'),'/',parameters('dbName'),'/microsoft.insights', parameters('settingName'))]",
should be:
          "name": "[concat(parameters('serverName'),'/',parameters('dbName'),'/microsoft.insights/', parameters('settingName'))]",

Kind regards,
Basti

[2020-10-02 12:01] lozanov95 opened #63688 "The script from Complete PowerShell script section is not working"
Hello,

When I try to run the script from the "Complete PowerShell script" section I get an error that Set-AzVirtualNetworkSubnetConfig -Name cannot be null or empty.

It looks like the following row: $SubnetName = "DomainServices"
is missing from the script, but you can see it in the "Create network resources" section.

On the creation of the Managed Domain you also need to add the API Version, s

[2020-10-02 12:15] pioardi commented on #63304
PR is open https://github.com/MicrosoftDocs/azure-docs/pull/63690

@mattchenderson

[2020-10-02 12:31] PaulARoy opened #63691 "Redirect Uris does not seem to work with new file auth.json"
Hello, I can't seem to get the redirect uris working with the new file auth.json system. We have to move for apple support but I struggle on the existing providers.

There seem to be contradictory parameter names for redirect uri: I found "allowedExternalRedirectUrls" on the internet, the file example have "allowedExternalRedirectUri". None seem to work…

When I try to use auth with `https://<appn

[2020-10-02 12:36] #43594 closed

[2020-10-02 12:37] samueljamkhandi-MSFT opened #63692 "Need to create a "A" record and map to CA certificate when you bring CA certificate from elsewhere and not generated on the AD/DNS servers"
- I have been working on dual protocol cases where customer have not generated the CA certificate locally on the AD/DNS server but they have a separate team that generate this CA certificate and share it with them. And they end facing below error:

**Error:**
_Dual-protocol volume creation fails with the error Failed to validate LDAP configuration, try again after correcting LDAP configuration._

[2020-10-02 12:51] NavtejSaini-MSFT commented on #63384
@TheovanKraay We have assigned this issue to you for further review.

[2020-10-02 12:52] richarda opened #63693 "correct command to configure function app"
In the command example for configuring the function app with the storage account connection string, I think the variable `$blobStorageAccount` should be `$functionstorage`.
This should be the full command based on the context above:
[code]
https://docs.microsoft.com/en-us/azure/event-grid/resize-images-on-storage-blob-upload-event?tabs=dotnet#configure-the-function-app
---
#### Document Details

⚠

[2020-10-02 12:54] BitSchupser opened #63694 "Deprecation warning when implementing code example"
The code example under "Enable W3C distributed tracing support for ASP.NET Core apps" throws a deprecation warning in Microsoft.ApplicationInsights.AspNetCore, Version=2.14.0.17971:

[code]

The corrected example should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95aa5722-ec96-40fb-b03a-0c9e73c7a18c
* Ve

[2020-10-02 12:55] darren-johnson commented on #56453
Hi did you get an update ont his one? We're having the same issue without much luck!

[2020-10-02 12:56] PaulARoy commented on #47611
I am also getting an error 500 with a similar configuration. Were you able to solve this?

Thanks

[2020-10-02 12:57] richarda commented on #63693
oops, I didn't read this clearly - this is relying on a storage account created in a previous tutorial.

[2020-10-02 12:57] #63693 closed

[2020-10-02 13:09] rustem08 commented on #47611
@PaulARoy just check your apple secret. It is not value from the *.p8 file. You must make it by yourself. I made it from the console app.
Example of the code https://github.com/azure-ad-b2c/samples/blob/master/policies/sign-in-with-apple/source-code/B2CSignInWithApple/SigninWithApple_ClientSecret/run.csx

https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple#signing-the-c

[2020-10-02 13:12] PaulARoy commented on #47611
Thank you, this is of great help. I'm looking into it.

I also have trouble on existing providers for redirections. Easy Auth Detector (from Diagnose & Solve Problems) does not seem to find redirect urls.

[2020-10-02 13:13] mprentice22153 opened #63696 "Blur out the GUID"
Maybe this isn't important since this document has been around for a while.

https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension-rdg#configure-nps-components-on-remote-desktop-gateway

In the "Configure certificates for use with the NPS extension using a PowerShell script" section, step 6, there is a large image with several areas blurred to hide the GUID

[2020-10-02 13:19] slavizh opened #63698 "Schema for subscription level deployments is different"
Schema for subscription level deployments is different. The schema is https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8f43189-3418-fd30-0528-550157d8366d
* Version Independent ID: 049e3b0e-6f10-6985-c719-05fe43fc00b8
* Content:

[2020-10-02 13:34] jdolearydl commented on #63645
Hi Rachel, thanks for getting back so quickly.  Is there a timeline for making it available for Single Server?

[2020-10-02 13:40] jeanpoelie commented on #63606
Hi @WinstonHoward-MSFT ,

Thank you for the quick reply!
null implies that the IsPreview is not known, meaning it could be either false or true.
But false and true both imply their state, glad that my assumption is confirmed, I will build forward based on this assumption!

[2020-10-02 13:40] #63606 closed

[2020-10-02 13:52] BrianThorChristensen opened #63700 "Dependency package file"
This documentation specifies a way to upload dependency package files.
This option seems to have disappeared in the commercial marketplace.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b50ce1d1-fc0b-0d5d-ff42-8da5baa3b8c2
* Version Independent ID: f53d7482-5aa1-de0b-68c0-f302161568a1
* Content: [Create a Dynamics 365

[2020-10-02 13:52] GuyPartridge opened #63701 "Win10 1909 prerequisite for HDJ"
Hi,
Please could you explain in more detail the following line?
"If you are deploying Hybrid Azure AD or Azure AD join, you must upgrade to Windows 10 1903 update."
Why is this required and what problems would there be if not on 1903 (and devices are synced to AAD)? Would this affect down-level devices etc.?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-10-02 14:12] stec00 opened #63702 "Incorrect documentation"
The "Enable replication for a VM" section doesn't correspond with the Azure pages I'm seeing. The
"+Replicate" button doesn't exist but there is an "+Enable Site Recovery" instead. Clicking on this and then on the "Enable replication" link under "Azure virtual machines" gives some similar options to those shown in the screenshots but there are also settings for "Disaster Recovery between Zones?" a

[2020-10-02 14:17] kaylakirzinger commented on #63315
Hi Chaitanya - as far as I can tell I've followed the tutorial exactly. and I am still getting the error. Please do not close this issue, I will provide documentation for my process.

[2020-10-02 14:23] kaylakirzinger commented on #63315
Here are all the screenshots. You can see I've:
- Added authentication in the ams instance
- Created an app reg with the correct callback URL, and Implicit tokens enabled
- Given that app reg the appropriate graph permissions
- added AD groups to my ams instance

And yet, when I do the sign in WITHIN the portal, I'm still getting page not found. Please assist.
![AzureADAppPermissions](https://user

[2020-10-02 14:27] asergaz commented on #63469
Glad you are now unblocked 👍

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-02 14:27] #63469 closed

[2020-10-02 14:30] sdgilley commented on #63134
I suspect that selecting your subscription in powershell did help.  Thanks for your info, we'll do some more testing here and then  add something about multi-tenant to the article.

#please-close

[2020-10-02 14:30] #63134 closed

[2020-10-02 14:33] RyanHill-MSFT commented on #63675
@nim-syncronet we have a pending review to address the outdated tutorial

[2020-10-02 14:38] thecpshah commented on #63134
I doubt that is the case.

It still does not explain why I need to specify `tenant-id` when I use Azure ML Notebooks from compute cluster.

Can you please help there?

[2020-10-02 14:47] MichaelAOliver opened #63705 "Workday Import Soap Request"
Greetings,

Can we elaborate on the criteria that is used for the "Workday Import" when using the Workday to Active Directory Connector.  Can the document be updated to provide the soap request so that folks can reproduce using Workday Studio. The document currently only shows the soap request for a single user.

I am trying to find out why only a few ex-employees are being synced down from Workda

[2020-10-02 14:53] rustem08 commented on #47611
@PaulARoy you can see some logs at the Log Streamafter enabling it at the App Service logs.

[2020-10-02 15:13] serxansherif opened #63706 "Vulnerability assessment findings are not shown in Log Analytic workspace"
Hello,

I have enabled Continous export in ASC and installed a Qualys extension into VM. Vulnerabilities generated under the "Vulnerabilities in your virtual machines should be remediated" recommendation, but these vulnerabilities are not shown in Log Analytics.

I should see vulnerabilities in Log Analytics according to the new ASC update https://docs.microsoft.com/en-us/azure/security-center/rel

[2020-10-02 15:17] #63474 closed

[2020-10-02 15:22] tony-gutierrez commented on #29600
I used express, with the configuration above. My belief is that you will never see 0 connreset errors on an azure app service.

[2020-10-02 15:25] slimbentami commented on #63413
Hi @KrishnaG-MSFT, please let me know if the issue/question is unclear. In a nutshell, i need to log all types of operations whilst the activity log documentation says that only non-read operation types are logged.
Many thanks
Slim

[2020-10-02 15:37] JamesTran-MSFT commented on #63688
@lozanov95
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-02 15:39] JamesTran-MSFT commented on #63696
@mprentice22153
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-02 15:40] NunoBem commented on #47611
To who may concern.

Months ago I was struggling with this. Microsoft (@RyanHill-MSFT ) sent a document, to who was trying handle this. It didn't worked for me.

So after some time, I managed to make this example work: [https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple](https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-with-apple) with this function

[2020-10-02 15:44] JamesTran-MSFT commented on #63706
@serxansherif
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-02 15:46] ChristianBeier opened #63707 "Broken link"
The link to EnvironmentalSensor.json is wrong, it should be
https://raw.githubusercontent.com/Azure/AzurePnPBridgePreview/pprupdatesforddtlv2/pnpbridge/docs/schemas/EnvironmentalSensor.json
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01830752-69f0-0ca9-6355-827263bda05a
* Version Independent ID: 065b121b-ca39-8908-49

[2020-10-02 15:52] pisees opened #63708 "Microsoft Azure Add on for Splunk replace Azure Monitor Add-on For Splunk?"
For Splunk, I believe we should be using Microsoft Azure Add on for Splunk: https://splunkbase.splunk.com/app/3757, and no longer Azure Monitor Add-on For Splunk: https://splunkbase.splunk.com/app/3534, but can you confirm?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2258670a-245c-ede4-5805-a07e589d5f13
* Version In

[2020-10-02 15:57] diberry opened #63709 "Links to DigiCert & GlobalSign"
Please add links to these certificate providers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1f966c6-f99b-c7a6-45c1-0a3a3794204e
* Version Independent ID: 3f232567-844c-5891-4848-bf17e303c1d0
* Content: [Get started with Key Vault certificates](https://docs.microsoft.com/en-us/azure/key-vault/certificates/certifica

[2020-10-02 15:58] JamesTran-MSFT commented on #63709
@diberry
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-02 16:00] johnthompson365 opened #63710 "Wrong download center link"
[Enter feedback here]

_You can download the script and the Readme file from the **Download Center**. Choose the Script and Readme to pull Azure AD B2B users on-prem.zip file._

The link to the download center does not go to the correct place. I was expecting it to take me to the download center search but it doesn't it goes to the FIM/MIM connector page.

---
#### Document Details

⚠ *Do not edit

[2020-10-02 16:01] anbene commented on #63700
@BrianThorChristensen Thanks for reaching out! I'll look into this and let you know as soon as I have more info.

[2020-10-02 16:02] anbene commented on #63700
#reassign:anbene

[2020-10-02 16:09] JamesTran-MSFT commented on #63705
@MichaelAOliver
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-02 16:11] jmsims2 commented on #29600
Thanks @tony-gutierrez. We have a weird setup where we are making a lot of outbound connections to various Dynamics 365 or Salesforce CRM systems. We have never seen an issue with salesforce using their jsforce library, but see these with connecting to Dynamics using request-promise.  Switching to axios and going to try using an agent with it, just trying to work through the implications of one cl

[2020-10-02 16:11] JamesTran-MSFT commented on #63710
@johnthompson365
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-10-02 16:12] langer318 commented on #62660
The issue is I have it set to 1 but it is running 2 hosts even with no users logged in during work hours.

[2020-10-02 16:48] BharathNimmala-MSFT commented on #63694
@BitSchupser Thanks a lot for bringing this to notice and also appreciate you taking time to raise the PR for fixing the document . Once the PR is reviewed and approved the fix will be merged with the live document probably early next week.

[2020-10-02 16:49] anhlqn opened #63711 "Why we need to use the helper pod to ssh to AKS Linux nodes"
I wonder why we need to use the helper pod while I can ssh directly from my computer from on-premises to the ssh nodes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) c

[2020-10-02 16:51] BharathNimmala-MSFT commented on #63687
@BastiaanMolsbeck Thanks a lot for bringing this to our notice and helping us improve Azure documentation. I have raised a PR to correct the typo. It will be reviewed and merged with live document in next 1-2 buisness days.

At this point it appears that there's no further edits or updates needed to the documentation, other than what has been listed out above. We will go ahead and close this issue

[2020-10-02 16:51] #63687 closed

[2020-10-02 16:55] ChaitanyaNaykodi-MSFT commented on #63398
Hello @ekalyvio, The tutorial is referring to the the [Office 365 Outlook Connector](https://docs.microsoft.com/en-us/connectors/office365connector/#triggers) . "[When a new email arrives (V2)](https://docs.microsoft.com/en-us/connectors/office365connector/#when-a-new-email-arrives-(v2)-[deprecated])" trigger for Office 365 Outlook Connector, which is now deprecated. I am assigning this issue to t

[2020-10-02 16:58] JamesTran-MSFT commented on #63616
@ChrisAtMAF
I created a PR to add "by default" and the "-all" parameter. We'll wait for the author to review the actual PowerShell documentation and updated as needed.

Thank you for your time and patience throughout this issue.

[2020-10-02 16:59] BharathNimmala-MSFT commented on #63708
@pisees Thank you for your query , I will review this with our internal product team and get back to you at the earliest.

[2020-10-02 17:18] SwathiDhanwada-MSFT commented on #63691
@PaulARoy Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 17:19] SwathiDhanwada-MSFT commented on #63692
@samueljamkhandi-MSFT Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 17:21] SwathiDhanwada-MSFT commented on #63701
@GuyPartridge Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 17:22] SwathiDhanwada-MSFT commented on #63702
@stec00 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 17:22] msmimart commented on #56708
Thanks so much for this feedback. We're including this request in our documentation backlog and will update this issue as additional samples become available. #please-close

[2020-10-02 17:22] #56708 closed

[2020-10-02 17:22] SwathiDhanwada-MSFT commented on #63698
@slavizh Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-02 17:26] #61397 closed

[2020-10-02 17:26] #56044 closed

[2020-10-02 17:28] TravisCragg-MSFT commented on #63396
@CloudCrusader Thanks for the feedback. i have updated the correct peering, and the doc should reflect the change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-10-02 17:28] #63396 closed

[2020-10-02 17:28] matthewrobertson commented on #63054
We don't have a .NET calling SDK right now but it is on our backlog and we expect to have more to share soon. We do have .NET SDKs for chat and SMS.

[2020-10-02 17:34] MayMSFT commented on #63516
@jamesbannan  thanks for reporting this.
the option on UI do a few things: 1. give msi reader role and blob data reader role; 2. opt-in to use msi when accessing data on studio (otherwise we will use account key)
therefore simply grant workspace msi access is not sufficient.

To access data behind vnet on studio (including using labeling project), one of the pre-req is to have your machine learnin

[2020-10-02 17:45] brianbarnett316 commented on #63556
@Ceespino

1. I've been successful linking to a repository inside my personal account.
2. I've not been successful linking to a repository inside an organization I am an owner of.  In this case I'm using the organization name (profiseedev) as my GitHub Account in Repository Settings.  I get the following error: "You don't have permission to import resource to the repository, please resolve the per

[2020-10-02 17:50] andriyovchar opened #63712 "Mute remote participant"
Is there a way to mute/unmute remote participant in Azure Communication Services video calling? If there is such ability - does it work the same way like in MS Teams? As a host participant I would like to mute other participants during the call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 45723fb2-21e8-8125-5c0d-1a5

[2020-10-02 17:50] Ziyad-Azure commented on #22947
I have the same issue, when I arrived to final stage to let Databricks write in SQL DW by using  the commands below
spark.conf.set("spark.sql.parquet.writeLegacyFormat","true")
	renamedColumn.write
	.format("com.databricks.spark.sqldw")
	.option("url", sqlDwUrlSmall)
	.option("dbtable", "VehicleDetails")
	.option( "forward_spark_azure_storage_credentials","True")
	.option("tempdir", tempDir)
	.mod

[2020-10-02 17:50] roygara commented on #49449
#please-close

[2020-10-02 17:50] #49449 closed

[2020-10-02 17:52] doug-fish opened #63713 "Management groups and the 2000 assignment limit"
This sentence doesn't list Management Group assigned roles as being related to the Subscription limit:
"This limit includes role assignments at the subscription, resource group, and resource scopes"

Is this omission intentional? Do role assignments inherited from management groups which contain a subscription count against this 2000 assignment per subscription limit?

---
#### Document Details

⚠

[2020-10-02 17:58] mmacy commented on #63387
@JasSuri Hey Jas, what do you propose as an update? Remove the "24 hours" part and link to the [Configurable token lifetime properties](https://docs.microsoft.com/azure/active-directory/develop/active-directory-configurable-token-lifetimes#configurable-token-lifetime-properties) table?

Cc: @hamiltonha

[2020-10-02 18:00] erikadoyle commented on #61439
Although the same process ([msbuild.exe](https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild?view=vs-2019)) is used to build both VS solution (.sln) and SF application (.sfproj) files, building the .sln compiles the VS solution and its project files (.csproj), whereas "building" the .sfproj then [packages the SF application](https://docs.microsoft.com/en-us/azure/service-fabric/service-f

[2020-10-02 18:06] mmacy commented on #63387
@JasSuri Looking at this in context, I think it really just needs an update to read "access tokens" instead of refresh tokens, a-la:

[2020-10-02 18:10] erikadoyle commented on #57352
This was already fixed: https://github.com/MicrosoftDocs/azure-docs/commit/30bd9ca805cfd21bf49d313cbca03f4b8e427746#diff-1e374845bb3a17733f8ff7228ddb5f9a

#please-close

[2020-10-02 18:10] #57352 closed

[2020-10-02 18:12] mmacy commented on #63387
reassign:mmacy

[2020-10-02 18:17] roygara commented on #33042
@jonstroman Sorry about the delay in response, seems this issue never got to its proper owner. But in any case, we thank you for reaching out and making us aware, it is appreciated.

I've gone ahead and taken the initiative and updated the article to have a name more reflective of its content. That change will be live later today. Accordingly, I'll close this out:

#please-close

[2020-10-02 18:17] #33042 closed

[2020-10-02 18:17] #63387 closed

[2020-10-02 18:20] erikadoyle commented on #15760
Closing, as this is an old issue and the linked SF issue has since been resolved. I've filed a ticket in our backlog regarding the content suggestion.

#please-close

[2020-10-02 18:20] #15760 closed

[2020-10-02 18:21] MarileeTurscak-MSFT commented on #63713
@doug-fish
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-02 18:24] #54109 closed

[2020-10-02 18:24] #63279 closed

[2020-10-02 18:28] erikadoyle commented on #9654
I've filed this request in our content backlog where it will get triaged and have more visibility. #please-close

[2020-10-02 18:28] #9654 closed

[2020-10-02 18:34] SatishBoddu-MSFT commented on #63707
Hello @ChristianBeier
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-02 18:38] Mahesh-MSFT opened #63714 "VNET connectivity with ER across subscription types (i.e. EA and CSP)"
This documentation confirms that a VNET in a subscription can be connected with a ER circuit in another subscription.

Can these subscriptions be of different type (i.e. VNET is in a EA subscription and ER circuit is in CSP subscription)?

Will connectivity also work across different types of subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2020-10-02 18:38] sdgilley commented on #63134
My suspicion is that in the case of your local runs, it is defaulting to the subscription you activated in PowerShell.  This would have nothing to do with using the compute instance.

Or are you saying that the notebook doesn't work on a local Jupyter instance?  I thought when you said notebook you meant on the compute instance?

[2020-10-02 18:42] #63415 closed

[2020-10-02 18:43] snartiff commented on #57242
Does anyone have an update on what causes this? I've had the exact same error happening with a valid REST call. For me, this particular started occurring once I added a DisplayControl to my custom policy. I filed a support ticket with Microsoft but have it still hasn't been resolved.

[2020-10-02 18:44] NavtejSaini-MSFT commented on #63415
@aburleigh94 The PR is now approved and changes will be live in 24 hours. Please get back to us if any issue. For now we are going ahead and closing this thread.

[2020-10-02 18:51] msmimart commented on #60868
Thank you for this suggestion and the follow-up from your own testing. I've created a documentation backlog item for internal tracking -- we'll update this issue as doc revisions are published. #please-close

[2020-10-02 18:51] #60868 closed

[2020-10-02 18:52] msmimart commented on #60756
Thanks so much for this suggestion. I've created a documentation backlog item for internal tracking, and we'll update this issue as doc revisions are published. #please-close

[2020-10-02 18:52] #60756 closed

[2020-10-02 18:58] msmimart commented on #50543
We've added this issue to an documentation backlog work item for internal tracking and prioritization. We'll update this issue as documentation updates are published. Thanks again for these suggestions. #please-close

[2020-10-02 18:58] #50543 closed

[2020-10-02 19:04] jackfrancis commented on #63173
We have initial evidence that using the `2018-09-01-preview` API version reliably produces successful ARM deployments using the `"principalType": "ServicePrincipal"` configuration declaration in the roleAssignment spec. We were previously using the `2018-01-01-preview` API version.

It might help other folks if you emphasize that that is the minimum API version to get the desired outcome.

Thanks!

[2020-10-02 19:12] yoghcl opened #63715 "Please provide step by step process to prepare solution/project for AD Authorization"
Please add references to all nuget packages and code changes required to onboard a solution to AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f20598f-7093-dc72-a96d-858547b176e1
* Version Independent ID: b4433406-2a42-72ec-7d6b-2b20f9b14ce9
* Content: [Quickstart: Call an ASP.NET web API that is protected by Micro

[2020-10-02 19:15] SubhashVasarapu-MSFT commented on #63714
@Mahesh-MSFT, yes, connectivity will be still there even your resources are deployed under different types of subscriptions.

[2020-10-02 19:17] SatishBoddu-MSFT commented on #63593
Hello @andrepodnozov As the whole document needs to be re-visited for validation, we are assigning this issue to the author for further review.

![image](https://user-images.githubusercontent.com/62923178/94960875-75110a80-04a8-11eb-8fb2-d8a2d2d60209.png)

Unable to search for **Defender for IoT** and select it from Marketplace.

![image](https://user-images.githubusercontent.com/62923178/94961049

[2020-10-02 19:26] mmacy commented on #63387
#reassign:mmacy

[2020-10-02 19:30] mikben commented on #63712
Hi @andriyovchar - thanks for submitting this issue. This feature isn't yet available but muting remote participants will be possible in a future release. Unmuting remote participants is unlikely to be supported given the privacy concerns that are associated with this feature. Don't hesitate to reach out with any other questions and thanks for using Azure Communication Services :).

[2020-10-02 19:52] usivagna commented on #63707
Updated the link, thanks for flagging this.

[2020-10-02 19:53] AjayKumar-MSFT commented on #63282
crystalgeek, Apologies for the delayed response! We have raised a PR on this and have submitted for author's review. Upon review and merge, the doc would reflect the appropriate changes.  Thanks again for taking time to share your feedback on this, we will close this for now, if you have any further questions this topic, please tag me in your reply.

[2020-10-02 19:53] #63282 closed

[2020-10-02 19:53] SatishBoddu-MSFT commented on #63707
Thank you @usivagna for the quick fix. We are now closing this issue as resolved.

[2020-10-02 19:54] #63707 closed

[2020-10-02 19:54] mksuni commented on #63318
@shizn  we are working on a fix and I shall update this thread when the fix is live which is sometime this month

[2020-10-02 20:06] ksurendra opened #63717 "Java example for "AD B2C OAuth 2.0 Resource Owner Password Credentials""
The page has a .NET based example only. I have a working example using Java for this protocol. I could NOT find any such example (with Java) under https://github.com/Azure-Samples. How can i either
- Submit a new repository to Azure Samples
- Have Azure Samples fork my project?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-02 20:25] josefehse opened #63718 "Records with a . after the port are not parsed correctly"
[Enter feedback here]
The standard log parsing line:
AzureDiagnostics
| where Category == "AzureFirewallApplicationRule"
//using :int makes it easier to pars but later we'll convert to string as we're not interested to do mathematical functions on these fields
//this first parse statement is valid for all entries as they all start with this format
| parse msg_s with Protocol " request from " Sourc

[2020-10-02 20:27] MarileeTurscak-MSFT commented on #63393
For V2 tokens, the Issuer URL is App Federation Metadata Url which has the format of https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000

V1 tokens have https://sts.windows.net/your-tenant-id as the Issuer URI.

This is documented here: https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-aad

![image](https://user-images.githubusercontent.com/133

[2020-10-02 20:27] #63393 closed

[2020-10-02 20:42] MarileeTurscak-MSFT commented on #63715
@yoghcl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-10-02 20:42] NavtejSaini-MSFT commented on #63427
@LastTribunal We are going ahead and closing this thread for now. Please get back to us if you need any further help.

[2020-10-02 20:42] #63427 closed

[2020-10-02 20:57] MarileeTurscak-MSFT commented on #63558
The product team has replied: that is correct. If you are not using ReplicaSets you will have to use the -ApiVersion "2017-06-01" flag. Otherwise you will have to specify the ReplicaSet information too."

[2020-10-02 20:57] MarileeTurscak-MSFT commented on #63558
Hope this helps! If you have further questions feel free to tag me in the comments or reach out on Q&A. https://docs.microsoft.com/answers/topics/azure-active-directory.html?filter=unanswered

[2020-10-02 20:57] #63558 closed

[2020-10-02 21:05] YutongTie-MSFT commented on #63665
@mdifferent Hello I have fixed the code bug. Thanks again. You should see the fix soon.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-02 21:06] #63665 closed

[2020-10-02 21:08] stpfarms commented on #63558
Can you update the documentation to include replicaset because it currently fails as written.

[2020-10-02 21:20] maksimkim commented on #62607
@morteza54dp , @mike-urnun-msft  OCSP/CRL validation takes place by default if validated certificate contains corresponding urls in its extensions. There's no way to provide additional CRL urls.

[2020-10-02 21:25] iainfoulds commented on #63558
This is already being done separately.

[2020-10-02 21:31] oising commented on #33157
@lonevvolf You can open the keyvault to all networks, bind the SSL Cert with a managed identity to your listeners and then firewall the keyvault (or lock it to a vnet.) Appgw will continue to work with the _cached_ ssl cert, but then when you replace the cert in the keyvault before it expires, appgw won't be able to rollover to the renewed cert. So, you have to be careful about that.

[2020-10-02 21:57] YutongTie-MSFT commented on #63640
@implemental
Hi, thanks for your feedback, I have created a PR for it and it's under review. https://github.com/Azure-Samples/cognitive-services-quickstart-code/pull/157
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-10-02 21:57] #63640 closed

[2020-10-02 22:05] MortezaDamavandpeyma-TomTom commented on #62607
Thanks for the reply.
Is OCSP responder uri mentioned in the root CA used or from the client certificate? or whether both are supported?

[2020-10-02 22:06] MarileeTurscak-MSFT commented on #63222
Since I have not heard from you I will proceed to close this thread. Please ask a new question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/azure-active-directory.html?filter=unanswered) or create a new issue if needed.

[2020-10-02 22:06] #63222 closed

[2020-10-02 22:08] kstario opened #63720 "better understand how to control number of versions?"
[Enter feedback here]
Could you add something referring to if/how to control the number of versions made? or are the versions infinite with no control?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8c0ae74-c84d-8511-7df3-02e192d84178
* Version Independent ID: 9e8f4f13-89c4-aec6-b03d-87df494d3759
* Content: [Blob vers

[2020-10-02 22:11] langstonj opened #63721 "Set-AzSqlInstanceDatabaseVulnerabilityAssessmentRuleBaseline for VA2130 doesn't appear to work as advertised"
Would love to see someone else's experience trying to set the baseline for 'Track all users with access to the database'.  The sids get displayed back to me and nothing has happened.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02495b5c-f888-b3fc-82e0-37350af6ae81
* Version Independent ID: ff0899fe-800e-328a-1690-f0d

[2020-10-02 22:13] rachel-msft commented on #63645
My pleasure. No, we don't have a timeline for Single Server at this point.

[2020-10-02 22:14] YutongTie-MSFT commented on #63587
Hi @Veroni4ka according to https://docs.microsoft.com/en-us/dotnet/api/overview/azure/ai.anomalydetector-readme-pre?view=azure-dotnet-preview this is correct. Are you facing any issue when using this package? Thanks.

[2020-10-02 22:16] YutongTie-MSFT commented on #63460
@frvigano
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@lostmygithubaccount Hi Cody, FYI.

[2020-10-02 22:16] #63460 closed

[2020-10-02 22:17] WinstonHoward-MSFT commented on #63649
Hi @dk7869p,

If your customers are using an advanced configuration that took a long time to stabilize or has a lot of users, we don't recommend manually migrating.

If you customers still want to migrate now for one of these [reasons](https://docs.microsoft.com/en-us/azure/virtual-desktop/manual-migration#why-migrate) then you can preform the migration but your are correct in that the migration i

[2020-10-02 22:25] NavtejSaini-MSFT commented on #63429
@pradeep20mce We are assigning this to our doc author for more insight.
@anfeldma-ms Please review the comment from @pradeep20mce  and provide your insight.

[2020-10-02 22:26] mike-urnun-msft commented on #63283
Hi @adobedoe - I confirmed with the Functions team that any storage account with Queues and Tables (has ZRS replication) is fine. It appears that the guidance given on this matter in this documentation is a bit out of date. As such, we're now proceeding to assign this issue to the content author for reviewing further and taking the next steps.

[2020-10-02 22:27] NavtejSaini-MSFT commented on #63403
@sunilprabha We are going ahead and closing this thread for now. Please get back to us if you need any further help.

[2020-10-02 22:27] #63403 closed

[2020-10-02 22:28] anbene commented on #63700
@BrianThorChristensen  We've updated our documentation to reflect the fact that dependency package files are no longer used. Users should upload a library package file instead. We really appreciate your contribution!

#please-close

[2020-10-02 22:28] #63700 closed

[2020-10-02 22:34] tfitzmac commented on #63554
@Naseej-App - we'll close this issue for now, but if you have any additional questions or feedback, feel free to reopen.

[2020-10-02 22:34] tfitzmac commented on #63554
#please-close

[2020-10-02 22:34] #63554 closed

[2020-10-02 22:37] dbrownems opened #63723 "AG Listener now supports DNN"
AG Listener support for DNN was just released.  Need to update this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1494adb-0a82-2088-e9e2-d70514831229
* Version Independent ID: 0f4d2da9-af4e-ae96-6867-db93c447f7df
* Content: [Configure distributed network name (DNN) - SQL Server on Azure VM](https://docs.microsof

[2020-10-02 22:37] ca-thompson opened #63724 "Example with WSJ feed no longer works due to security"
The WSJ feed used in this example now returns an error:

403 - The underlying RSS server forbids incoming requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b68d35f-e331-bb2b-dd1e-c951bf6baeda
* Version Independent ID: d01f87a2-a873-2e8e-37ca-94aecceb5e9f
* Content: [Create an automated integration workflow - Az

[2020-10-02 22:38] Karishma-Tiwari-MSFT commented on #62570
We will now close this issue. If you are still seeing issues, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-02 22:38] #62570 closed

[2020-10-02 22:40] JamesTran-MSFT commented on #63717
@ksurendra
Thanks for your questions! I have assigned this issue to the author who will advise and update as appropriate.

[2020-10-02 22:41] Karishma-Tiwari-MSFT commented on #63711
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-02 22:47] Veroni4ka commented on #63587
I think I didn't explain the issue well enough. The problem is that on the Quickstart page in the "Install the client library" section it's asked to add Azure.AI.AnomalyDetector package, but then later following using directives mentioned:
using Microsoft.Azure.CognitiveServices.AnomalyDetector;
using Microsoft.Azure.CognitiveServices.AnomalyDetector.Models;

Nothing's wrong with either of those p

[2020-10-02 22:49] MarileeTurscak-MSFT commented on #63713
Hi @doug-fish,

I reached out to the product team to confirm about this. I know there's a 2000 limit for the subscription, resource group, and resource scopes. And there's a 500 limit for management group assignments. But I'm not sure whether the management group role assignments count toward the subscription limit with the inheritance.

@rolyon are you also able to confirm?

[2020-10-02 22:49] jamesbannan commented on #63516
Hi @MayMSFT - thanks for the update.

I have gone through the documentation, but it doesn't quite match with what you're saying. The documentation suggests that both service endpoints and private endpoints are supported:

- [https://docs.microsoft.com/en-us/azure/machine-learning/how-to-secure-workspace-vnet#secure-azure-storage-accounts](https://docs.microsoft.com/en-us/azure/machine-learning/how

[2020-10-02 22:51] anumalasri opened #63725 "Rename AppInsights MongoDB name"
[Enter feedback here]
Is it possible to rename 'MongoDB' name in AppInsights ?

Our case is : we are using multiple application and connecting to each Cosmos DBs.  Would like to name each of DBs so that AppInsights will display them as separate entities ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea43b302-7793-3e3

[2020-10-02 22:52] YutongTie-MSFT commented on #63587
@Veroni4ka Got you well now! Going to create a PR to fix it!! Thanks!!

[2020-10-02 23:00] MicrosoftGuyJFlo commented on #63555
@D-Moonesinghe I did read the article you mentioned. As I said the way we make calculations has changed.

We don't have a list of each detection and what level that detection sits at because they are all high, medium, and low depending on the confidence in the signal its accuracy.

If I had a chart it would be all the risks on one side and they would all say high, medium, and low on the other. Jus

[2020-10-02 23:10] lyrana commented on #62999
PR merged, #please-close

[2020-10-02 23:10] #62999 closed

[2020-10-02 23:11] lyrana commented on #63278
@kngohil how is that going for you? PR merged to mention redirect is only for client apps

[2020-10-02 23:12] lyrana commented on #63278
#please-close

[2020-10-02 23:12] #63278 closed

[2020-10-02 23:13] Karishma-Tiwari-MSFT commented on #63352
@danielsollondon Can you please help confirm whether Premium_LRS is supported as well? Thanks.

[2020-10-02 23:22] rolyon commented on #63713
Hi @doug-fish
The 500 role assignments limit at the management group scope doesn't count towards the 2000 limit at subscription scope.
thanks

[2020-10-02 23:23] MarileeTurscak-MSFT commented on #63647
Thank you, I made a pull request to add this:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/132477

CC: @jeevansd

[2020-10-02 23:23] #63647 closed

[2020-10-02 23:24] MarileeTurscak-MSFT commented on #63713
Thanks @rolyon. Closing this out.

[2020-10-02 23:24] #63713 closed

[2020-10-02 23:26] Karishma-Tiwari-MSFT commented on #63455
@anavinahar Would you be able to confirm if this is a bug and help direct it to the right team? Thanks. :)

[2020-10-02 23:26] WinstonHoward-MSFT commented on #63711
Hi @anhlqn, thanks for the question!

For security purposes, the AKS nodes shouldn't be directly exposed to the internet. So to SSH to the AKS nodes, you use the private IP address. The role of the helper pod is to facilitate your SSH connection to the AKS node internally using the private IP and then when your done by exiting the interactive container session the container session closes and the

[2020-10-02 23:27] #63711 closed

[2020-10-02 23:30] Karishma-Tiwari-MSFT commented on #63502
It is documented correctly. You can find the same details on the pricing page here: https://azure.microsoft.com/en-us/pricing/details/managed-disks/

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-10-02 23:30] #63502 closed

[2020-10-02 23:30] MarileeTurscak-MSFT commented on #63586
Hi @kudlatiger ,

Please contact tmtextsupport@microsoft.com with your issue description and you will be helped in resolving this issue.

Hope this helps! If you have trouble reaching them feel free to send me an email (in my profile) and I'll help you get this resolved.

Thanks,

Marilee

[2020-10-02 23:30] #63586 closed

[2020-10-02 23:32] borisneal opened #63729 "Wron instruction under #11"
I suspect there is an error in these instructions under #11. It directs the user to set the module identity twin log collection directory to the host rather than container directory. When I followed these – no logs were showing up on the host. I replaced the value with the path into the container – logs are now being collected

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-02 23:35] TravisCragg-MSFT commented on #63718
@josefehse Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-10-02 23:44] mike-urnun-msft commented on #62607
cc: @maksimkim for the follow-up question above

@MortezaDamavandpeyma-TomTom Since the discussion is outside of the scope of this documentation and this channel is more for driving improvements towards MS Docs, we'll now proceed to close the issue for now. While you're welcome to continue the discussion here with @maksimkim, in the future, please consider posting any product related questions on

[2020-10-02 23:44] #62607 closed

[2020-10-02 23:45] lyrana commented on #61128
Hello @rgamage, banners for Gen1 docs are now at the top of each article and the Gen1 JSON shaping article with confusing events/timestamps will be removed tomorrow

[2020-10-02 23:52] rgamage commented on #61128
Thank you!

On Fri, Oct 2, 2020 at 4:46 PM lyrana <notifications@github.com> wrote:

[2020-10-02 23:53] BharathNimmala-MSFT commented on #63725
@anumalasri Thank you for your query, we will review on this and get back to you at the earliest.

[2020-10-03 00:12] javester opened #63730 "references awesome features of agent version 11 which doesn't exist yet"
This article seems to reference a future version of the sync agent twice in the article if you search for 'agent version 11'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61bb35a5-e2f3-1ce8-1d6e-a926374de6c8
* Version Independent ID: e4b3065a-5351-26ef-cdbb-ef2eaea3f301
* Content: [Deploy Azure File Sync](https://docs

[2020-10-03 00:15] Karishma-Tiwari-MSFT commented on #63504
@bschlechty Can you please share the document with this information on naming restriction you shared?
Are you referring to the Domain Prefix restrictions as described [here](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/template-create-instance#dns-naming-requirements)?

[2020-10-03 00:41] Karishma-Tiwari-MSFT commented on #63723
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-10-03 01:11] iappy1 opened #63731 "Error in command for knowing dependencies on Azure AD"
Trying to run the following command
az graph query -q \
'resources | where type != "microsoft.azureactivedirectory/b2cdirectories" | where  identity <> "" or properties.tenantId <> "" or properties.encryptionSettingsCollection.enabled == true | project name, type, kind, identity, tenantId, properties.tenantId' \
--subscriptions $subscriptionId --output table

But the cli throws an error saying ">

[2020-10-03 01:37] evanye commented on #53196
Yeah there's definitely a typo on the docs. I think this init script might to the trick for you:

[code]

[2020-10-03 01:37] RyanHill-MSFT commented on #63677
Hi @meken, I glanced at the docker file and the image is indeed using [Gunicorn](https://github.com/Azure-App-Service/python/blob/cfbe139a1103c0613cc02c37d0ac2a980696b846/3.7/Dockerfile#L17) even though the uWSGI is mentioned. I've created a new [issue](https://github.com/Azure-App-Service/python/issues/54) on your behalf to see if we can get some clarification. For now, I'll close this issue but

[2020-10-03 01:37] #63677 closed

[2020-10-03 01:58] ChaitanyaNaykodi-MSFT commented on #63724
Hello @ca-thompson, Thank you for your feedback! We will review and update as appropriate.

[2020-10-03 02:48] JackyChiou opened #63732 "Number of subscriptions per topic => 2,000 per-topic for the Standard and Premium tier."
[Enter feedback here]
**Current:**
Number of subscriptions per topic => 2,000 per-topic for the Standard tier.

Reader may think it only applies to Standard tier.

**Recommend:**
Number of subscriptions per topic => 2,000 per-topic for the Standard **and Premium** tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17

[2020-10-03 04:26] BhargaviAnnadevara-MSFT commented on #63731
@iappy1 Thanks for the question. Please modify your command to the following:

[code]

Let me know if you still see issues.

[2020-10-03 04:31] SubhashVasarapu-MSFT commented on #63372
@keamas, since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-10-03 04:31] #63372 closed

[2020-10-03 05:11] Sheshgiriv opened #63734 "match not working for endswith scenario"
[Enter feedback here]

user.displayName -match ".*vid" is not getting evaluated as per the documentation , I have a rule membership where `'user.city -match ".*on"'` which is getting evaluated like `'user.city -contains "on"'.`  Please check and get this rectified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f7a407

[2020-10-03 05:30] KrishnaG-MSFT commented on #63459
Assigning @bwren for visibility, review and document enhancement consideration as appropriate.

[2020-10-03 05:59] KrishnaG-MSFT commented on #63552
@InformTechPro Good catch! I have review the document and I realize that [this](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-linux#installation) document is more suitable than [this](https://docs.microsoft.com/azure/virtual-machines/extensions/update-linux-agent) because the title of it contains "Update" but not "Install".  So I have verified and updated the referred do

[2020-10-03 05:59] #63552 closed

[2020-10-03 06:01] Swimburger opened #63736 "Broken link to azure arc security context constraint yaml"
The link on line 152 is broken.
Line: "First, download the custom security context constraint (SCC) from [GitHub](https://raw.githubusercontent.com/microsoft/azure_arc/master/data_services/deployment/yaml/arc-data-scc.yaml) and apply it to your cluster."

I couldn't find the correct link, it looks like the file is simply not available anymore, even in the new directory at https://github.com/micros

[2020-10-03 06:02] SwathiDhanwada-MSFT commented on #63720
@kstario Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 06:03] SwathiDhanwada-MSFT commented on #63721
@langstonj Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 06:04] SwathiDhanwada-MSFT commented on #63729
@borisneal Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 06:06] SwathiDhanwada-MSFT commented on #63730
@javester Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 06:07] SwathiDhanwada-MSFT commented on #63732
@JackyChiou Thanks for your feedback. We will review the issue and get back to you shortly.

[2020-10-03 06:08] SwathiDhanwada-MSFT commented on #63734
@Sheshgiriv Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 06:18] KrishnaG-MSFT commented on #63578
@Ercenk I have verified and updated the document as required. The update should go live in some time i.e., in less than 24 hours. Thanks.

[2020-10-03 07:33] KrishnaG-MSFT commented on #63413
@slimbentami Apologize for the delayed response. AFAIK currently there is no way to have "read" activities logged along with "write" activities in the activity log.

I see [this](https://feedback.azure.com/forums/34192--general-feedback/suggestions/18473422-within-azure-activity-logs-it-would-be-very-benef) feature request already logged for the same in Uservoice or feedback forum. So I would reco

[2020-10-03 07:51] tabareh commented on #55822
it's not a blocker anyways as I use jwt.ms as second platform under App>Authentication and I test the flow against this url

[2020-10-03 12:00] souravmishra-msft commented on #63268
Closing this thread as got no more queries.

[2020-10-03 12:00] #63268 closed

[2020-10-03 12:48] kiranpradeep commented on #45997
I no longer work on this and so will not able to test this. Closing.

[2020-10-03 12:48] #45997 closed

[2020-10-03 12:49] sandeep-ma opened #63746 "Graphical Mapping Tool"
When will the BizTalk Mapper be updated to include JSON Liquid transforms and XSLT 3? It was mentioned at last or last to last build but have found no information after that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e02fc497-8e32-b0e1-6ae3-cf1039cc1c7b
* Version Independent ID: 2ce45d89-18b7-8465-8ab7-bef9b544a47

[2020-10-03 13:17] Raijin56 commented on #61507
Hi @imWildCat , try to run the command in a CMD, not in a PowerShell.

[2020-10-03 14:36] anishi1222 opened #63748 "No need to assign "Virtual Machine Contributor" role to $RESOURCE_GROUP"
Hi,

In the section of ["Use managed identities"](https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/key-vault/general/key-vault-integrate-kubernetes.md#use-managed-identities), the document instructs readers to assign "Virtual Machine Contributor" role to AKS Cluster client ID (which is equal to client ID of agent pool managed ID) in the scope of not only $NODE_RESOURCE_GROUP but al

[2020-10-03 14:57] D-Moonesinghe commented on #63555
Ok Thanks John.

You might want to pass this whole conversation to Microsoft Training.  It
is still a test question in their pool for Az-500 Azure Security exam.

On Fri, Oct 2, 2020 at 7:00 PM John Flores <notifications@github.com> wrote:

--
Deepal Moonesinghe
(408) 568 1669
deepal.moonesinghe@gmail.com

[2020-10-03 14:57] ssabat opened #63749 "Change main JSON file name to Adfv2IfThenElsePipeline.json with new Pipeline name"
[Enter feedback here]

Because there is file called Adfv2QuickStartPipeline.json file when Powershell for ADF is introduced, it would be great to rename  this JSON file as Adfv2IfThenElsePipeline.json which goes with context of the documentation.

Here is an example of my run.

 Set-AzDataFactoryV2Pipeline -DataFactoryName $dataFactoryName -ResourceGroupName $resourceGroupName -Name "Adfv2IfThenEl

[2020-10-03 15:14] SwathiDhanwada-MSFT commented on #63736
@Swimburger Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 15:15] SwathiDhanwada-MSFT commented on #63746
@sandeep-ma Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-03 15:27] vlele opened #63753 "Ability to add a virtual node is no longer available in the portal."
[Enter feedback here]

I  believe this functionality has been replaced with add node poles (which in turn does not offer an ability to add a virtual node pool)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 183d8705-0563-9944-d779-774c8b828c39
* Version Independent ID: 4e2f06e8-d918-b6fd-93c8-2fadf1bd31ed
* Content: [Cr

[2020-10-03 15:53] liambolling commented on #62877
This happens to me with the exact same error. It's been going on for a few days now, how did you fix it?

[2020-10-03 15:54] liambolling commented on #62877
Could we open this back up since the error clearly exists and there is no explanation of it within Azure docs?

[2020-10-03 18:20] pisees opened #63755 "Storage IO utilization for locally attached SSD?"
Which metrics apply to the locally attached SSD?  The "D:" drive. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-performance-linux#storage-io-utilization-metrics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2cc5864e-502b-3fa7-1f71-0441f48eac56
* Version Independent ID: b433bd6a-d7cf-f426-a9d4-65e7

[2020-10-03 18:38] magnarw opened #63756 "Static out bound ip"
Hi,
Thanks for a great article!
Could this page clearify whether it is possible to implement static public outbound ip for app services using vnet integration?
From what I can gather it should be possible to route the all traffic using UDRs to some sort of gateway on the vnet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-03 20:57] Cotheco1 opened #63757 "Account recovery"

[2020-10-03 20:59] Cotheco1 commented on #63757
![image](https://user-images.githubusercontent.com/44806175/95001641-66525280-0591-11eb-8ea8-e2457da3e8ec.jpeg)

[2020-10-03 21:04] BenyErnest opened #63758 "Missing .AddAzureSignalR()"
Since this is the asp.net core "azure" signalr example the .AddAzureSignalR() extension method call is missing in the ConfigureService() method in the step 4, also the description "By not passing a parameter to AddSignalR()" it doesn't correspond to this method but to  .AddAzureSignalR().

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-10-03 22:16] liambolling opened #63759 "Unable to add publisher to this application error"
I receive an error when attempting to add a verified publisher to my Application. This has been reported by a few other people but there is no description for the error we are seeing in this documentation.

"A verified publisher cannot be added to this application. Please contact your administrator for assistance. [GiL6m]"

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-10-03 22:20] liambolling commented on #63759
{
    "error": {
        "code": "UnableToAddPublisher",
        "message": "A verified publisher cannot be added to this application. Please contact your administrator for assistance.",
        "innerError": {
            "date": "2020-10-03T22:19:42",
            "request-id": "464bbe24-cb7b-4d04-b0b9-2d581117283f",
            "client-request-id": "0edaf942-646c-7aa6-211b-3e67b7c22f81"

[2020-10-03 22:32] jhsalian opened #63760 "Picture embeded in pages"
[Enter feedback here]
Please make pictures / diagrams to zoom out when clicked. Some diagram are not readable with small fonts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c0b212d-56e7-5918-09aa-86e53dc1d83b
* Version Independent ID: 7c34c9d0-fbd5-4db2-4587-2842835a09b9
* Content: [What is federation with Azure AD?

[2020-10-03 22:40] diberry opened #63761 "Change default web port"
Please add the configuration setting to change the default web port to this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e25899c-1ed8-7cfc-2c37-73bb010a87f0
* Version Independent ID: 8b366c42-43f8-d5eb-b619-b356e75a9916
* Content: [Configure apps in the portal - Azure App Service](https://docs.microsoft.com/en

[2020-10-03 23:39] UCdavidUC commented on #58849
Thanks @vipulsparsh and @aahill!

[2020-10-04 00:50] thierrybrunet2c opened #63762 "Missing resources"
Why Azure DNS and Azure Application Gateway not listed?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 427b570e-e9f1-867e-580a-2299f55ec5a1
* Version Independent ID: 6d5bd03c-94ae-01fd-4019-528c31acf123
* Content: [Complete mode deletion - Azure Resource Manager](https://docs.microsoft.com/en-us/

[2020-10-04 00:56] thierrybrunet2c opened #63763 "One DNS Zone update while wipe out all the others already there"
Why Azure DNS and Azure Application Gateway not listed? These are critical resource and I just wiped-out all DNS zones while attempting to re-import an exported DNS zone arm template with "complete".

Would be useful to add some best practice guidelines for updating DNS via ARM templates. Would like to have source of truth for the entire DNS in git. Thanks

[Enter feedback here]

---
#### Document

[2020-10-04 01:43] malclear opened #63765 "Incorrect sample commands"
When submitting the supplied " az functionapp create" command, I got the following error message:
az: error: unrecognized arguments: --runtime dotnet --functions-version 2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40b416d5-6ea5-39a5-9a2c-ab188d00a686
* Version Independent ID: 855c85f7-53b3-59a2-3f42-fbccbba07d32
*

[2020-10-04 03:03] RyanHill-MSFT commented on #47611
@NunoBem send me an email so we can work more closely with you _AzCommunity[at]mirosoft[dot]com_ ATTN Ryan

[2020-10-04 03:09] KrishnaG-MSFT commented on #63762
@thierrybrunet2c Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-04 03:11] KrishnaG-MSFT commented on #63763
@thierrybrunet2c Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-04 04:35] SwathiDhanwada-MSFT commented on #63748
@anishi1222 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:37] SwathiDhanwada-MSFT commented on #63749
@ssabat Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:38] SwathiDhanwada-MSFT commented on #63753
@vlele Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:39] Akash-JS commented on #30898
@MaWa19 , please check your identity provider configuration (OpenId Provider), If your metaurl in configuration doesn't contain "v2.0" it will not return proper jwt.

Your metaurl should be

https://login.microsoftonline.com/**tenant-name**.onmicrosoft.com/v2.0/.well-known/openid-configuration

Please replace "tenant-name" with your tenant.

[2020-10-04 04:39] SwathiDhanwada-MSFT commented on #63755
@pisees Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:40] SwathiDhanwada-MSFT commented on #63756
@magnarw Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:43] SwathiDhanwada-MSFT commented on #63757
@Cotheco1 Thanks for your comment. Can you please elaborate your issue and also share the document you are following ?

As GitHub is the primary channel for customer and community feedback about the Azure documentation. We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page creates an issue that contains all t

[2020-10-04 04:44] SwathiDhanwada-MSFT commented on #63758
@BenyErnest Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:45] SwathiDhanwada-MSFT commented on #63759
@liambolling Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:47] SwathiDhanwada-MSFT commented on #63760
@jhsalian Thanks for your feedback.

Assigning to content author @billmath for review.

[2020-10-04 04:48] SwathiDhanwada-MSFT commented on #63761
@diberry Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 04:49] SwathiDhanwada-MSFT commented on #63765
@malclear Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 05:39] Ronsss opened #63766 "Get in Sync MS! Code 80090030 documentation missing"
https://answers.microsoft.com/en-us/msoffice/forum/all/office-error-80090030/d18ae893-f14a-4cc2-a637-a7e4af20c186
This question has a screen capture of a MS error message that says this page has help for Error Code 80090030. But it doesn't.
WTF!
It is bad enough that MS documentation is non existent (or not accessible to general public) for most error codes. Here is a error message directing a use

[2020-10-04 06:01] alexjoybc opened #63767 "Missing ORACLE_HOME environment variable"
Hi, I was following the instructions (really good as usually 🚀 ) and would like to suggest a change in section 4 of *Create the database*

the ORACLE_HOME environment variable was not specified in the bash command:

[code]

also adding the `ORACLE_HOME/bin` to the `PATH`

[code]

finally add it to `.bashrc`

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-10-04 06:20] alexjoybc opened #63768 "sqlplus / as sysdba"
Hi,

in **Oracle EM Express connectivity** section 1

instead of

[code]

I had to use this to connect

[code]

also you could add to use the password previously created

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1fb76
* C

[2020-10-04 08:30] StevenTCramer opened #63769 "Examples should use MsalError.XXX"
The string literals in the examples should all be replaced with the MsalError.XXX equivalent.

e.g.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7a27a93-a596-114e-6bc2-7a8ab5b20ef2
* Version Independent ID: 54077d4d-6f1c-5a92-9d61-0533f85628fe
* Content: [Acquire a token to call a web API (desktop app) - Mic

[2020-10-04 08:47] dk7869p commented on #63649
@WinstonHoward-MSFT

Well it mean it will not bring the whole deployment from classic one, like users, application or hostpool.

I found one more article on migration where one of PG guys has mentioned about command which will help to migrate. What about that is that also same?

[2020-10-04 09:11] PaulARoy commented on #63691
Thanks!

FYI, EasyAuth Detector (Official) on Diagnose and Solve Problems does not find any `allowedExternalRedirectUrls`, and I know the file works because it has the `openIdConnectProviders` that are only defined on the file.

![image](https://user-images.githubusercontent.com/6310023/95011640-60607e00-0632-11eb-9c1b-0e4e3a1d425e.png)

[2020-10-04 09:57] matthewjlevy opened #63771 "Really old SSO overview video linked"
This page has a link to the [SSO Overview](https://docs.microsoft.com/en-us/azure/security/fundamentals/identity-management-overview#single-sign-on):

 which is a really old video of the classic Azure portal from 2013. I suggest this link is updated and points to a newer SSO overview such as [this one](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on)

---

[2020-10-04 10:16] TPIvan opened #63772 "Extra Space In Json"
There is a space in string "SignedOutCallbackPath ". I think it should not be there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22a7af57-0b9c-0bd5-b234-af87b5140108
* Version Independent ID: 753a9bb3-1e41-83b5-72c2-0d727fa037bb
* Content: [Configure a web app that signs in users - Microsoft identity platform](https

[2020-10-04 11:00] migueesc123 opened #63773 "Query estimate runtime"
Would love to see some estimates as to how many minutes to wait for SQL statements that might take more than 5 minutes. I set up a really small SQL Pool for it (100 DWU) and spent 1 hour waiting for the [InitialSalesDataPopulation] SP to finish, but I had to cancel it and scale my pool to find out that I need at least 1K DWU to make this work.

---
#### Document Details

⚠ *Do not edit this sectio

[2020-10-04 11:42] JTNichols opened #63774 "Typos and grammatical errors"
This page has a lot of grammatical errors that impede clarity. In the first paragraph:
"Generally speaking[wordy], if a client doesn't route to a hub server, it goes into the serverless state. Classic mode work[s] only when the hub, that client connections connect to[not sure?], doesn't have a hub server. However, serverless mode is recommended to avoid some problem[not sure?]."

---
#### Document

[2020-10-04 12:26] SwathiDhanwada-MSFT commented on #63766
@Ronsss Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:27] SwathiDhanwada-MSFT commented on #63767
@alexjoybc Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:28] SwathiDhanwada-MSFT commented on #63768
@alexjoybc Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:29] SwathiDhanwada-MSFT commented on #63769
@StevenTCramer Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:31] SwathiDhanwada-MSFT commented on #63771
Thanks for your feedback @matthewjlevy.

Assigning to content author @TerryLanfear for review.

[2020-10-04 12:32] SwathiDhanwada-MSFT commented on #63772
@TPIvan Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:33] SwathiDhanwada-MSFT commented on #63773
@migueesc123 Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 12:46] SwathiDhanwada-MSFT commented on #63774
@JTNichols Thanks for your comment. We will review the issue and get back to you shortly.

[2020-10-04 15:20] anil8623 opened #63776 "Hi Everyone"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-10-04 15:20] anil8623 opened #63777 "Hi Everyone,"
Hi Everyone,

I'm planning to enable Azure AD on APIM instance, to make sure Azure AD users to login the New Developer Portal.

From the various documents I've seen once Azure AD enabled then Legacy Developer portal will get the option "Sign-in with Azure AD"
But not sure on how to get that option on New Developer Portal - Could someone help me understanding this and gimme some options on this.

A

[2020-10-04 15:47] jedjohan opened #63778 "Update information about limit of Durable Timer"
Documentation says "Durable timers are currently limited to 7 days. If longer delays are needed, they can be simulated using the timer APIs in a while loop."

I think this is not true since 2.3.0 as they know can be set for arbitrarily long durations (https://github.com/Azure/azure-functions-durable-extension/releases/tag/v2.3.0)

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-10-04 15:53] anhlqn commented on #63711
I guess the instructions don't account for a case when the nodes can be accessed directly thru a VPN connection from on-premises or from a VM in the same Vnet in Azure. I think having a note on this would make the process a bit simpler.

BTW, I completely agree that we shouldn't expose AKS nodes to the internet.

[2020-10-04 16:07] miqm opened #63779 "[Front Door] Digicert Global Root G2 Allowed CA"
Hello,

on the list of allowed certificates the Digicert Global Root G2 authority is not listed. however this is a very common issuer and it's odd that it's not supported by Front Door, especially that it's issuing certificate for *.azurefd.net.

My question is is it really not supported or the list is outdated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-10-04 16:11] djpmsft commented on #63749
Sunil,

As you are on the product group, you are able to fix this issue yourself :).  Please reach out to me offline to learn how to contribute.

Closing this issue

#please-close

[2020-10-04 16:11] #63749 closed

[2020-10-04 17:03] cocowalla opened #63780 "Clarification on Service Bus "credits""
According to the docs each `ReceiveAsync` call costs 1 credit, and your budget is only 1,000 credits per second.

Does this mean you can only have 1,000 concurrent Receive/ReceiveAsync operations at any time, or is a credit only spent when the operation actually reads an available message?

For example, consider we have 5,000 consumers, each subscribed to an individual, consumer-specific queue, ea

[2020-10-04 18:00] BhargaviAnnadevara-MSFT commented on #63776
Duplicate of #63777.

[2020-10-04 18:00] #63776 closed

[2020-10-04 19:25] chengyu-liu-cs opened #63784 "Parent run status is always "completed" even if submitted child runs failed."
[Enter feedback here]

I was following this documentation and found that the parent run status was always "completed" even if submitted child runs failed. Is it correct behavior ? If yes, is there a way to propagate child runs status to parent runs ?

![image](https://user-images.githubusercontent.com/11485399/95025121-39d13000-0690-11eb-8579-4265f4baefee.png)

---
#### Document Details

⚠ *Do not

[2020-10-04 20:28] SubhashVasarapu-MSFT commented on #63779
@miqm , Thanks for reaching out. We will investigate and update this thread.

[2020-10-04 20:29] cenkersoy opened #63787 "Use of the term Azure Stack"
In several sentences the article mentions "Azure Stack" instead of "Azure Stack Edge". The term 'Azure Stack' refers to a family of solutions.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 213c3581-3464-0967-a901-2969bdb72ac7
* Version Independent ID: cdaa48db-b584-abf0-7e69-22061b0f03fc
* Conten

[2020-10-04 20:46] jeevansd commented on #63647
Thanks @MarileeTurscak-MSFT I have signed off on that PR.

[2020-10-04 22:46] vihangatheturtle opened #63788 "Trying to create an image with powershell, says job state failed"
I'm trying to create an image of my VM running on Azure using PowerShell. I followed all the instructions [here](https://docs.microsoft.com/en-us/azure/virtual-machines/image-version-vm-powershell) but when I run $job.state it returns 'Failed'

Thank you for any help

[2020-10-05 00:00] MonikaReddy-MSFT commented on #63788
@vihangatheturtle -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-05 00:12] femsulu commented on #63413
Hello @slimbentami  - hope the comments above help.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-10-05 00:12] #63413 closed

[2020-10-05 00:17] menace232 commented on #52975
I am having a similar issue.

It appears the installer runs, but cannot start the Azure Hybrid Instance Metadata Service.

The reason the service fails to run is because the C:\\ProgramData\\AzureConnectedMachineAgent\\Config\\agentconfig.json does not exist.

So to create the file, you need to run a command to configure it with azcmagent.exe.

However, azcmagent.exe requires the  Azure Hybrid Ins

[2020-10-05 01:37] imWildCat commented on #61507
@Raijin56 Oh, I see. Thanks!

[2020-10-05 01:52] toanduong-bbv commented on #57242
Hi all,

I have resolved that, please check:

  *   The function must be POST method
  *   CORS issue in api gateway
  *   Custom attributes that declare in Custom Policies

Hope it can resolve your problem.

Kind Regards
Toan Duong

Developer
--
MAKING VISIONS WORK.

bbv Vietnam Co., Ltd | Quang Trung Software City | W. TCH, D. 12 | HCMC – Vietnam
www.bbv.vn<http://www.bbv.vn/> | toan.duong@bbv.v

[2020-10-05 03:05] lilixu9 opened #63789 "Data loading with COPY statement and authenticating User AAD to source data storage account"
[Enter feedback here]
From instruction here
https://docs.microsoft.com/en-us/sql/t-sql/statements/copy-into-transact-sql?view=azure-sqldw-latest&source=docs#arguments

_Authenticating with an AAD user
CREDENTIAL is not required
Minimum RBAC roles required: Storage blob data contributor or Storage blob data owner for the AAD user_

Does synapse on-demand SQL server request access to the source blob

[2020-10-05 03:36] digaomatias opened #63790 "Better Mock-Responses usage example on API Management"
Not exactly an issue, but it would be really great if you could provide examples on how to provide different mock responses based on the request. Or at least the information whether that would be possible to do or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4df5cb3a-5bb7-c6c0-dbef-9cf9b51ea264
* Version Indepen

[2020-10-05 03:44] AnuragSharma-MSFT commented on #63777
@anil8623 Could you please help us with the document/article link you are referring to while facing this issue?

[2020-10-05 03:45] AnuragSharma-MSFT commented on #63778
@jedjohan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:46] cmmdesai commented on #63705
Ack. @MichaelAOliver thanks for the feedback. I'm working on expanding the documentation to add queries for each scenario. It may take some time (1-2 weeks) to review, publish and update the docs. If you need the request to investigate the issue, please feel free to open a support ticket and we can share the SOAP request we are sending to your Workday tenant.

[2020-10-05 03:47] AnuragSharma-MSFT commented on #63780
@cocowalla Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:49] AnuragSharma-MSFT commented on #63784
@chengyu-liu-cs Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:50] AnuragSharma-MSFT commented on #63787
@cenkersoy Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:52] AnuragSharma-MSFT commented on #63789
@lilixu9  Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:53] AnuragSharma-MSFT commented on #63790
@digaomatias Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 03:56] BhargaviAnnadevara-MSFT commented on #63731
@iappy1 Hope the above inputs help. Are there any further questions here?

[2020-10-05 04:25] v-hagamp commented on #58879
@new-kirte We have tested everything and it was working as expected, we didn't find any issue here. Can you elobarate what the exact pattern is expected to be changed?

[2020-10-05 04:27] SumanthMarigowda-MSFT commented on #63438
@li-leyang Firstly apologies for delay in responding here!  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we

[2020-10-05 04:27] #63438 closed

[2020-10-05 04:37] SnehaAgrawal-MSFT commented on #63475
@donquijotedelamancha Thanks again for the feedback! As its mentioned "To learn more about CIDR notation, you can read [Classless Inter-Domain Routing "](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) Just to confirm if there is anything specific you are looking for.

[2020-10-05 04:38] SwathiDhanwada-MSFT commented on #63571
@maniv2013 I am checking internally with the team and will update you soon.

[2020-10-05 04:44] SnehaAgrawal-MSFT commented on #63520
@ignaciofls Thanks again for the valuable feedback! I have assigned the issue to the content author to update the document as appropriate.

[2020-10-05 04:54] SnehaAgrawal-MSFT commented on #63575
@robertmclaws Thanks again for the feedback! Your feedback has been shared to the content author for further review on this.

[2020-10-05 04:54] SwathiDhanwada-MSFT commented on #62449
@jorgecotillo Can you please provide an update on the issue?

[2020-10-05 04:57] CHEEKATLAPRADEEP-MSFT commented on #53196
Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-10-05 05:08] SumanthMarigowda-MSFT commented on #63446
@jeffw-wherethebitsroam  Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.
[ToSasQueryParameters(StorageSharedKeyCredential)](https://docs.microsoft.com/en-us/dotnet/api/azure.storage.sas.blobsasbuilder.tosasqueryparameters?view=azure-dotnet#Azure_Storage_Sas_BlobSasBuilder_ToSasQueryParameters_Azure_Storage_StorageSharedKeyCredential_) Use an ac

[2020-10-05 05:16] SumanthMarigowda-MSFT commented on #63692
@samueljamkhandi-MSFT   Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-05 05:22] SumanthMarigowda-MSFT commented on #63787
@cenkersoy  Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-10-05 05:53] thelovekesh opened #63791 "Command Line is not executing -ignorePreReqs"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1fb76
* Content: [Create an Oracle database in an Azure VM - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/oracle/oracle-databas

[2020-10-05 06:10] AshokPeddakotla-MSFT commented on #63499
@andrepodnozov Sorry for the delay. Thanks for the feedback! I have assigned the issue to the content author @wesmc7777   to evaluate and update as appropriate.

[2020-10-05 06:18] AshokPeddakotla-MSFT commented on #63513
@rbrundritt Thanks for the suggestions.
@BenFranzi As mentioned, this is planned as a future feature. I would recommend you, kindly provide your feedback on the [UserVoice](https://feedback.azure.com/forums/909172-azure-maps).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we w

[2020-10-05 06:18] #63513 closed

[2020-10-05 06:20] souravmishra-msft commented on #63385
Hello @iainfoulds, Can you please take a look into this and update the document accordingly.

[2020-10-05 06:20] vipulsparsh commented on #63528
@AlexCesarini  Unfortunately no the  attributes from which you source the NameID and UPN values, and the claims transformations that are permitted, are limited.

Feel free to tag me in your response if you have any questions.

[2020-10-05 06:20] #63528 closed

[2020-10-05 06:22] souravmishra-msft commented on #63531
Hello @curtand, can you please take a look at this request and update the document accordingly.

[2020-10-05 06:22] thelovekesh commented on #63791
![Capture](https://user-images.githubusercontent.com/54371619/95046151-31fda400-0701-11eb-9e5d-b9b9896fe961.PNG)

[2020-10-05 06:29] AnuragSharma-MSFT commented on #63537
@mloskot We have updated the document content accordingly.
The changes should be live once the PR is approved. You can review the PR meanwhile and let us know for any issue.

[2020-10-05 06:30] KrishnaG-MSFT commented on #63578
@Ercenk The change reflects in the document now. I will be closing this issue for now but if there are further questions regarding this matter or feedback on the referred documentation, please do let us know and we will gladly continue the discussion.

[2020-10-05 06:30] #63578 closed

[2020-10-05 06:32] BhargaviAnnadevara-MSFT commented on #63791
@thelovekesh It looks like the command continuation character is missing (`\`) is missing on the second last line. Can you try this instead:

[code]

[2020-10-05 06:47] souravmishra-msft commented on #63679
Hello @mwucbs, I have added the mentioned points to the documentation. The doc would get updated automatically with the changes reflecting after review.

[2020-10-05 06:53] amanmcse commented on #63654
@Norrch2 The logo to be used on the Identity Providers button needs to be configured in the CSS file. Please refer to below CSS Code snippet, where background-image url parameter is used to display the logo for ADFS IDP on the signup/sign-in page:

[code]

[2020-10-05 06:53] #63654 closed

[2020-10-05 06:53] EricZhu0510 opened #63794 ""% Processor Time" is greater than 1000"
Hi Team, I have a question about the screenshot below.
This screenshot is in the following document about container solution
https://docs.microsoft.com/en-us/azure/azure-monitor/insights/containers#monitor-containers

![image](https://user-images.githubusercontent.com/57062529/95048466-78133180-071a-11eb-8006-0d282fa408a8.png)

The query of this chart is as the screenshot below shows

![image](htt

[2020-10-05 06:54] AnuragSharma-MSFT commented on #63600
@zqyAmy Would it be possible to provide the screenshots for the same as I could locate the **Vulnerability Assessment** and **Scan** under the Security center?

![image](https://user-images.githubusercontent.com/66360845/95048548-a4708300-0705-11eb-8401-7e281de4f88d.png)

[2020-10-05 06:57] amanmcse commented on #63374
@fume We are closing the issue as we didn't hear back from you. Once you are available to work further on this issue, feel free to tag me in your reply.

[2020-10-05 06:57] #63374 closed

[2020-10-05 07:13] manu4rhyme opened #63796 "Request path does not begin with a backslash"
[Enter feedback here]
There is no mention whether request path starts with a backslash or not...Ideally in browsers and in most SDK, the starting backslash is preserved, but after much debugging, I found out rules engine doesn't have a backslash at the beginning of the Request path match condition. Please document this nuance.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-10-05 07:15] SamirFarhat commented on #63479
Hi,
Closing the issue without any user confirmation is a bit confusing.
What i'm asking is how can i switch from Using Storage Account Keys to Use Azure AD Authentication ?
In case i have access to the Storage Account Keys, i see that i can switch to Azure AD.
In case i don't have access to Storage Account Keys, i receive the error message but the poral does not provide any way to change to Azure

[2020-10-05 07:33] amanmcse commented on #63766
@Ronsss The information about error: 0x80090030 - NTE_DEVICE_NOT_READY is very well documented here: https://docs.microsoft.com/en-us/windows/security/information-protection/bitlocker/ts-bitlocker-tpm-issues#tpm-12-error-loading-the-management-console-failed-the-device-that-is-required-by-the-cryptographic-provider-is-not-ready-for-use

[2020-10-05 07:33] #63766 closed

[2020-10-05 07:45] lanicolas opened #63797 "Support on CSP"
The question "How do I request a host quota increase for Azure VMware Solution? " mentions you need an Enterprise Agreement however this solution is also available on CSP AFAIK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfdd20d6-7b1d-73f1-f580-d9207e10c5fb
* Version Independent ID: 610d9d1a-dbea-0289-01ca-c84f2b30d

[2020-10-05 07:46] SwathiDhanwada-MSFT commented on #63757
@Cotheco1 Did you get chance to look at my previous comment ? Kindly share the information as requested.

[2020-10-05 07:47] AshokPeddakotla-MSFT commented on #63590
@andrepodnozov As the whole documentations needs to be re-visited for validation, I'm  assigning this issue to the author @robinsh  for further review and update the doc appropriately.

@robinsh Please check this and update.

[2020-10-05 07:51] neok-g opened #63798 "Azure Blueprints Preview"
Azure Blueprints is now in preview for 2 years. Will this be a standard feature and if so when?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1b33f46-674b-d3ef-7644-4422927625b3
* Version Independent ID: b036a530-81bd-1d4b-d099-d485f7098ab4
* Content: [Overview of Azure Blueprints - Azure Blueprints](https://docs.mic

[2020-10-05 08:00] haymansfield commented on #63678
I should clarify that this is for a machine certificate authenticated IKEv2 connection.

[2020-10-05 08:04] DK-Dennis opened #63799 "Replace 'TimeGenerated' with 'timestamp'"
It would seem that all statements of the kind:

should be replaced with

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 199d3a41-f8bc-6da2-7b96-f47cdafbe887
* Version Independent ID: 79ad40d7-25e3-12d2-ddca-e82e9e46399b
* Content: [Working with date time values in Azure Monitor log queries - Azure Monitor](https://docs.

[2020-10-05 08:24] MasayukiOzawa opened #63800 "An error occurs when executing the PREDICT function."
When the model creation is complete and the "Run PREDICT using the ONNX model" query is executed, the following error occurs and the predictions cannot be obtained.
[code]
Does this tutorial work in an RTM environment?

Environment :
Microsoft Azure SQL Edge Developer (CTP) - 15.0.2000.1549 (ARM64)   Sep  2 2020 09:32:27   Copyright (C) 2019 Microsoft Corporation  Linux (Ubuntu 16.04.7 LTS aarch64

[2020-10-05 08:25] SokoloffMaxim opened #63801 "Updated RDP properties configuration"
Hi, looks you just Updated RDP properties configuration functionality in Azure portal , WVD Blade, RDP properties.

![image](https://user-images.githubusercontent.com/45615981/95056358-5462e200-0740-11eb-8252-04d107daaf8e.png)

Can you update documentation on whether those  device redirection settings configured from the Azure Portal would take precedence over AD GPOs
Thanks
---
#### Document Deta

[2020-10-05 08:26] MayankBargali-MSFT commented on #63780
@cocowalla Azure service bus concurrent connection quota is different from the throttling credit. There is a limit of 5K concurrent AMQP or 1K Net messaging connection on the namespace. Please refer to [this](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-quotas) document for details.

No matter how, 1000 messages/sec total, sending and receiving and peeking combined, is

[2020-10-05 08:34] ErisMeiyang opened #63802 "The sample in this page is hard to migrate in policies."
Can we provide the sample whole policies as a reference?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a49122f8-0ba8-08f1-c8cf-52634dfd0d0e
* Version Independent ID: ea718f8a-e004-47b5-2feb-1eade3835301
* Content: [Conditional Access technical profiles in custom policies - Azure AD B2C](https://docs.microsoft.com/en-u

[2020-10-05 09:06] MatthiasWinzeler commented on #33505
I have the same issue, receiving
[code]

The required `DOCKER_*` are set and correct.  The auth works when specifying a single docker image instead of a compose file. What's even weirder: It seems to work once in a while (probably the usual Azure magic which breaks some times). The whole thing is made worse by the fact that every time I change the config to try out a different combo, I have to del

[2020-10-05 09:10] CHEEKATLAPRADEEP-MSFT commented on #63453
@Manishjpradhan Product Team has confirmed that there is no way to call a notebook from another and they are actively working on it and it will be available soon.

I will update once the feature is available.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-05 09:10] #63453 closed

[2020-10-05 09:14] premsagarreddy commented on #8873
@rawatsudhir1 Hi There. Spark structured streaming API . can we connect to Azure Service Bus queues not the EVntHub?

[2020-10-05 09:21] premsagarreddy opened #63803 "Azure Service Bus access Via Spark Structured Streaming"
- [ Azure Service Bus Via Spark Structured Streaming]
HiTeam,

I am trying to integrate Azure Service Bus queues Via Spark Structured Streaming API
import org.apache.spark.eventhubs.{ ConnectionStringBuilder, EventHubsConf, EventPosition }

I am using azure-eventhubs-spark_2.11-2.3.17,azure-servicebus-3.4.0,azure-eventhubs-3.2.0
val connectionString = ConnectionStringBuilder("Endpoint=sb://xyz-ser

[2020-10-05 09:39] AnuragSharma-MSFT commented on #63803
@premsagarreddy Thanks for reaching out to us. GitHub forum is primarily to support the queries/issues related to Microsoft documents/articles. Could you please provide any links that you are referring to?

Or else, if this is basically a technical ask, I would recommend you to post these queries on [Microsoft Q&A](https://docs.microsoft.com/answers/questions/ask.html) or [Stack Overflow](https://

[2020-10-05 09:54] MayankBargali-MSFT commented on #62804
@ncoder Apology for the delay. I got an update from my team that warmup trigger is only available to apps running on the Premium plan. The same is mentioned in the [document](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-warmup?tabs=csharp#trigger---limits). You can test it premium plan and if you still facing the issue you can always reach out to azure support. Please

[2020-10-05 09:54] KrishnaG-MSFT commented on #63799
@DK-Dennis Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-05 09:57] KrishnaG-MSFT commented on #63794
@EricZhu0510 Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-05 09:58] KrishnaG-MSFT commented on #63798
@neok-g Thanks for your comment! We will review and provide an update as appropriate.

[2020-10-05 09:58] GitaraniSharma-MSFT commented on #63678
@haymansfield , thank you for your feedback. We have engaged the respective product owner for review.

@anzaman , could you please provide your insights on this?

[2020-10-05 10:00] DirkEcker opened #63804 "Please update diagram at the bottom of the page"
The diagram at the bottom of the page is misleading. It shows a capacity of 6.5 TB for 'Backup', while the text above the diagram shows a capacity of 4.5 TB.

Would it be possible to update the diagram?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d94f4f03-1311-569a-4800-d1866b58bf7e
* Version Independent ID: 3b92a62e

[2020-10-05 10:04] premsagarreddy commented on #63803
@AnuragSharma-MSFT Please find the links which I was referring to https://github.com/Azure/azure-event-hubs-spark/tree/90d70928d9c738923afe5d08557e0a61c9c7188d

[2020-10-05 10:04] SadiqhAhmed-MSFT commented on #63605
@wstaelens Checking in to see if the previous post helped answer your query. Please reply if you've additional questions in this regard.

[2020-10-05 10:04] raghava1147 opened #63805 "AADB2C90296 is retuned when logging out from an Azure AD B2C application"
Customer followed https://docs.microsoft.com/en-us/azure/active-directory-b2c/identity-provider-adfs2016-custom?tabs=app-reg-ga and is using ADFS as SAML identity provider for a Azure AD B2C application. When logging out from this application, everything works as the expected. However, when user is logging out from a another Azure AD B2C application and already has an active session for the first

[2020-10-05 10:05] wstaelens commented on #63605
i don't want to know the exact price, I just want to know if this feature is free or not in azure. If enabling it triggers additional costs or not. this is not clear.

[2020-10-05 10:08] JasSuri commented on #63387
That is very likely what was intended.

[2020-10-05 10:14] SadiqhAhmed-MSFT commented on #63605
@wstaelens Every instance that is protected with Azure Site Recovery is free for the first 31 days of protection. After that period, protection for each instance is at the rates in [Azure Site Recovery pricing for Azure Virtual Machines.](https://azure.microsoft.com/en-gb/blog/know-exactly-how-much-it-will-cost-for-enabling-dr-to-your-azure-vm/)

Reference FAQ - https://docs.microsoft.com/en-us/az

[2020-10-05 10:18] wstaelens commented on #63605
@SadiqhAhmed-MSFT  such information should be on that page or a link to it. thanks.

[2020-10-05 10:20] lf-novelt opened #63806 "Wrong link to Next Step in "Tutorial: Add a custom domain to your Front Door""
In page https://docs.microsoft.com/en-us/azure/frontdoor/front-door-custom-domain, the link in the **Next Steps** section `Enable HTTPS for your custom domain` is wrong, it links back to the current page.

![image](https://user-images.githubusercontent.com/46479127/95068022-f95fc980-0704-11eb-93c1-83add29d2135.png)

It should link to https://docs.microsoft.com/en-us/azure/frontdoor/front-door-cust

[2020-10-05 10:21] rbgigo opened #63807 "Change of timestamp attribute seems not to have an effect"
[Enter feedback here]
Changing the timestamp attribute in the settings seems not to trigger a rerun of the custom extension script. I mean changing the timestamp to another value and then setting the extension once more using _az vmss extension set_. I assume with timestamp an Unix epoch integer value is meant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-10-05 10:28] PramodValavala-MSFT commented on #63778
@jedjohan Thanks for catching that! We will work up a PR to update the doc accordingly, which once merged should reflect in a couple of hours.

[2020-10-05 10:39] SadiqhAhmed-MSFT commented on #63605
@wstaelens Appreciate your feedback, will share the same with the content team to update the documentation.

Closing this issue for now. Please feel free to ping if you have any further questions in this matter.

[2020-10-05 10:39] #63605 closed

[2020-10-05 10:41] PramodValavala-MSFT commented on #63746
@sandeep-ma This repo is primarily for addressing documentation related feedback. While there is no public tracker for feature implementation, its best to monitor [Azure Updates](https://azure.microsoft.com/en-us/updates/) for any new features.

Also, please feel free to upvote this existing [feature request](https://feedback.azure.com/forums/287593-logic-apps/suggestions/34977034-mapping) and inc

[2020-10-05 10:49] kalyani-swain opened #63808 "Deserialize error for query_by_pipeline_run() method"
dt1 = datetime.now() - timedelta(1)
dt2 = datetime.now() + timedelta(1)

list(adf_client.activity_runs.query_by_pipeline_run(rg_name, df_name, pipeline_run.run_id, dt1.isoformat(), dt2.isoformat()))
I'm getting following error:
Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get', DeserializationError: Unable to deserialize to object:

[2020-10-05 10:55] Paulien23 opened #63809 "Error in analyze_sentiment"
When running the Quick Start response = client.analyze_sentiment(documents=documents)[0] in version 3.0
I get the following error:
TypeError: analyze_sentiment() missing 1 required positional argument: 'inputs'

So then I changed 'documents =' to 'inputs = ', but then received the following error:

---------------------------------------------------------------------------
AttributeError

[2020-10-05 11:06] spku1991 opened #63810 "How to set the revision to be current using command?"
Hi,

Im using Az command to import and create a new revision to an existing api.
But it will not set to current.
May I know if there is any command which can set the revision to be current.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 803fb9a7-5896-f4b0-9144-af5f87f3b1d4
* Version Independent ID: aeb99370-0ff

[2020-10-05 11:08] CHEEKATLAPRADEEP-MSFT commented on #63808
@kalyani-swain  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could

[2020-10-05 11:17] AnuragSharma-MSFT commented on #63803
@premsagarreddy Thanks for reverting back. As mentioned this is a technical solution we are looking for.

This issue is well suited on the forums above. Please post it there and appropriate resources would be able to help.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-10-05 11:17] #63803 closed

[2020-10-05 11:19] AnuragSharma-MSFT commented on #63800
@MasayukiOzawa Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 11:40] psmanhas commented on #63514
@slave02 We have reported issue as doc bug and changes will be made as applicable.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-10-05 11:40] #63514 closed

[2020-10-05 11:41] boazeg opened #63812 ""Prepare the container engine" section is not clear"
Does one need to install Docker Desktop on the IoT Device or something else? Is Hyper-V installation needed as well? see text below:

"....To set up a Windows machine to develop and test containers for Linux devices, you can use Docker Desktop as your container engine. You need to install Docker and configure it to use Linux containers before installing IoT Edge.

If your IoT Edge device is a Wind

[2020-10-05 11:42] vipulsparsh commented on #63802
@ErisMeiyang Thanks for the feedback. We will engage the content development team for further investigation, they will verify and perform necessary changes in the document as needed.

[2020-10-05 11:43] OneConsutlantsDemo opened #63813 "Azure Databricks with Azure ML"
"Ideal for running large-scale intensive machine learning workflows on the scalable Apache Spark platform."

In Azure ML too we have capability of the scale out the VM used for target computer.
Also we have notebook imbedded in Azure ML itself, considering that what is the need for such integration in greenfield projects if any .

Thankyou!

[Enter feedback here]

---
#### Document Details

⚠ *Do

[2020-10-05 11:44] vipulsparsh commented on #63805
@raghava1147 Thanks for reaching out. We will investigate and update the thread accordingly.

[2020-10-05 11:51] MasayukiOzawa commented on #63800
Some versions of skl2onnx do not seem to work with the tutorial.
It worked in 1.6.1, but the latest version 1.7.0 failed to work.

[2020-10-05 12:07] Naitik-Xpertladr commented on #55734
Team - i am facing the same issue as mentioned by the author. Can you please share what i could be missing and how to fix this issue?

[2020-10-05 12:07] akingscote opened #63814 "Contains String in Array"
It would be very useful to document how i can use a `contains` condition against an array of strings.
https://docs.microsoft.com/en-us/azure/governance/policy/concepts/definition-structure#conditions

The [Evaluating the [*] alias](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/author-policies-for-arrays#evaluating-the--alias) only seems to work for field names rather than field v

[2020-10-05 12:11] GitaraniSharma-MSFT commented on #63806
@lf-novelt , thank you for your feedback. We have assigned this to the content owner/author for correction.

@duongau , could you please correct the link for "**Enable HTTPS for your custom domain**" in the Next Steps section of this article?

[2020-10-05 12:24] pietervogelaar commented on #53153
@tomcooperca For Azure Key Vault I had the same situation. The comment above from @malopMSFT about a single private DNS zone pointed me in the right direction.

We have one hub subscription with several spokes. In the hub subscription I created one private DNS zone called `privatelink.vaultcore.azure.net`. This private DNS zone will get vault DNS records from the hub and subscription spokes.

You

[2020-10-05 12:38] thelovekesh commented on #63791
I see this on azure docs.

![Capture](https://user-images.githubusercontent.com/54371619/95080420-b66a1a00-0735-11eb-8a08-2498b3eb7f49.PNG)

[2020-10-05 12:38] DCtheGeek commented on #63814
#assign:DCtheGeek

[2020-10-05 12:44] DCtheGeek commented on #63814
@akingscote The docs are correct, as the `contains` condition only works against a single "stringValue". The `[*]` alias works when the alias is an array of objects with values. If you have a limited list of values you want to use for `contains`, the best way is probably to use an `anyOf` [logical operator](https://docs.microsoft.com/azure/governance/policy/concepts/definition-structure#logical-op

[2020-10-05 12:44] #63814 closed

[2020-10-05 12:48] KrishnaG-MSFT commented on #63814
@DCtheGeek Thanks for the super quick response. 👍

[2020-10-05 12:49] MonikaReddy-MSFT commented on #63788
@vihangatheturtle -
Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-10-05 12:52] AnuragSharma-MSFT commented on #63796
@manu4rhyme Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 12:56] AnuragSharma-MSFT commented on #63797
@lanicolas Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 12:57] DCtheGeek commented on #63798
#reassign:DCtheGeek

[2020-10-05 12:58] RohitMungi-MSFT commented on #63813
@OneConsutlantsDemo Thanks for the question. Azure databricks is essentially a hosted service of databricks from Azure, Spark has more than 50 connectors from data sources and while building ML models we can leverage the power of databricks to create a robust model. So essentially Azure databricks allows us to collect data from all these sources and performs large scale processing to build ML mode

[2020-10-05 12:59] AnuragSharma-MSFT commented on #63801
@megaalc Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-10-05 13:01] DCtheGeek commented on #63798
@neok-g Azure Blueprints is still planned as a service. Even as a Preview service, it has several certifications including FedRAMP High. Unfortunately, we can't announce the date of GA until it is ready. Thanks for the patience and understanding!

@MicrosoftDocs/azure-cxp-triage #please-close

[2020-10-05 13:01] #63798 closed

[2020-10-05 13:09] bdschaap opened #63817 "Microsoft.Insights/Components processCpuPercentage Metric Description"
The description for the Microsoft.Insights/Components performanceCounters/processCpuPercentage metric states "This can vary between 0 to 100."  However, I have values that range from 0 to 390.9742%.  There are multiple occurrences of values well over 100%.  Can you get clarification on what this metric represents?  Perhaps values over 100 are indicating that the app is using more than 1 CPU across

[2020-10-05 13:13] mmacy commented on #63772
Thanks, @TPIvan! Fixing in https://github.com/MicrosoftDocs/azure-docs-pr/pull/132523 (private repo, may 404 for you).

#reassign:mmacy

[2020-10-05 13:21] dannradkov opened #63818 "Azure firewall costs incur as long as its deployed"
Azure firewall always generates costs as long as its provisioned.
Field CSA's like me and customers alike are getting confused and believe if you deallocate a firewall, it stops incurring costs ( like every other deallocated service btw in cloud ) .

Please specify this fact either here or in the separate pricing page: https://azure.microsoft.com/en-us/pricing/details/azure-firewall/

Here's the d

[2020-10-05 13:27] #63772 closed

[2020-10-05 13:40] mmacy commented on #63715
Hi @yoghcl, thanks for the issue. A **quickstart** like this one is intended to provide a quick demonstration and high-level overview of a concept rather than a full walk-through. We then have **tutorials** that are more in-depth and walk you through building an application, which is what it seems you're requesting here:

For example, the [ASP.NET web app tutorial](https://docs.microsoft.com/azure

[2020-10-05 13:41] mmacy commented on #63715
#reassign:mmacy

[2020-10-05 13:42] akingscote commented on #63814
@DCtheGeek  @KrishnaG-MSFT

I never said there was an issue with the docs...
I clicked on the `Submit and view feedback` button as this is a feature I would like to see in the documentation.

Directing me to a Q&A is very unhelpful.
What is the point in asking for feedback when you can just mark your own homework.

I raised this issue because as a customer its something i want to see in the docume