[2018-09-13 18:12] vasivara-MSFT commented on #14926
@subashsivaji Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-13 18:14] kobulloc-MSFT commented on #14929
@lemvigh Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-13 18:14] torrentx opened #14964 "Feature to pin resource groups no longer available."
Resource groups can no longer be pinned to dashboard

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b9fbf1b-0eac-5494-3cb6-ee7da4e25605
* Version Independent ID: d2d457fb-fd9b-72f9-c3bb-4f99c615dca6
* Content: [Create and share Azure portal dashboards](https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-d

[2018-09-13 18:17] vasivara-MSFT commented on #14933
@SqlWaldorf Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-13 18:18] vasivara-MSFT commented on #14943
@swainjo Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-13 18:26] vasivara-MSFT commented on #14950
@peterasamoah Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-13 18:28] vasivara-MSFT commented on #14953
@haveyoumetcp It should be in UTC. I have also assigned the issue to the author to confirm and update the documentation

[2018-09-13 18:29] JSeb225 commented on #14933
@SqlWaldorf That's a good catch, fixing this typo right now.

[2018-09-13 18:33] Karishma-Tiwari-MSFT commented on #14917
@wcom939 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 18:39] mikebudzynski commented on #14740
#please-close

We will track the work item of updating docs on our side.

[2018-09-13 18:43] krokoko opened #14965 "[ProtocolGateway] - TLS handshake failed., System.IO.IOException: Channel is closed when trying to connect to transparent gateway"
Hello,

While following the tutorial here : https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-transparent-gateway-linux , i am facing an issue when I try to connect my leaf device to the transparent gateway.

I am able to verify my certificates with openssl command (Verify return code: 0 (ok)) both locally on the gateway and from the leaf device.

When I run an example (iothub_ll_telem

[2018-09-13 18:45] seancostigan opened #14966 "How to initiate device reboot"
This sample doesn't actually show how to initiate the device reboot. I'm having trouble figuring out how to do this since I'd need to reboot the device from within the running Edge module. I initially tried running the "shutdown -r" command, but that runs within the container, not on the host. Are there any examples that show how to reboot the Edge device (Linux)?

---
#### Document Details

⚠ *Do

[2018-09-13 18:46] vasivara-MSFT commented on #14910
@jordanmills Thanks for the feedback. We appreciate it and we will pass it to the product team. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-13 18:46] #14910 closed

[2018-09-13 18:47] Adam-Smith-MSFT commented on #14654
@sidkipper unfortunately we don't have quota alerts as of now, however, we recommend using the metrics for Azure Storage, you can read more about it [here](https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fstorage%2Fcommon%2Fstorage-metrics-in-azure-monitor%23capacity-metrics&data=02%7C01%7C%7C83d722510e134f47b3c608d618e718dc%7C72f988bf86f141af91

[2018-09-13 18:47] #14654 closed

[2018-09-13 18:47] bandersmsft commented on #14962
@adrianwells Thanks for noting this. I'll get the screenshots updated as soon as I can.
#in-process

[2018-09-13 18:56] kingpintech opened #14968 "update command is not recognized"
I'm using:
azure-cli (2.0.45)
storage (2.2.1)

I get the following error:
az storage blob service-properties: 'update' is not in the 'az storage blob service-properties' command group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcd3f99a-f522-6edb-6d39-eac1bb917956
* Version Independent ID: 69e9c1e5-8deb-8092-46f4-6

[2018-09-13 19:04] mike-urnun-msft commented on #14938
Hi @daniel-rocha Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-13 19:04] vasivara-MSFT commented on #14950
@peterasamoah Event based triggers are for Data factory pipelines and not for activities. So I dont think you can use event based triggers for custom activity.

[2018-09-13 19:09] mike-urnun-msft commented on #14955
Hi @michelleN Thank you for your feedback. Could you share the URL of the documentation your feedback is addressed to?

[2018-09-13 19:10] Karishma-Tiwari-MSFT commented on #14928
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 19:11] mike-urnun-msft commented on #14773
Thanks @timmyreilly! We have assigned this issue to the author to review further and take the right course of action.

[2018-09-13 19:12] Karishma-Tiwari-MSFT commented on #14956
@bartmcleod Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 19:12] Karishma-Tiwari-MSFT commented on #14958
@rizotas Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-13 19:13] peterasamoah commented on #14950
Hello sorry let me rephrase that, I want to set up an event trigger for my pipeline which has custom activities without using that data factory UI. Is it possible to do that ?

[2018-09-13 19:15] mike-urnun-msft commented on #14730
Hey @luisaxeko Just checking here again, please let us know if there's a specific documentation that you were following and what you're attempting to implement so that we can delegate your questions to the right team.

[2018-09-13 19:15] Karishma-Tiwari-MSFT commented on #14945
@ggirard07 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 19:16] mike-urnun-msft commented on #14808
Hey @timmyreilly Got any updates here on this one?

[2018-09-13 19:16] MichaelHauss commented on #14185
It is possible to host multiple websites by having multiple storage accounts. The specific rewrite rules you are referencing are not exactly supported via the feature. The index document needs to be in the current directory: /spa1/component/ can load /spa1/component/index.html. You can accomplish the sort of redirect you mention using the error doc: /spa1/component/thing-id returns /spa1/index.htm

[2018-09-13 19:17] TravisCragg-MSFT commented on #13638
@JozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-13 19:17] #13638 closed

[2018-09-13 19:17] TravisCragg-MSFT commented on #13641
@JozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-13 19:17] #13641 closed

[2018-09-13 19:17] MarileeTurscak-MSFT commented on #14915
Let me know if this helps. I am going to close this out for now but if you need further assistance, feel free to leave a comment or open a new issue.

[2018-09-13 19:17] #14915 closed

[2018-09-13 19:17] TravisCragg-MSFT commented on #13642
@JozoSlejko We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-13 19:17] #13642 closed

[2018-09-13 19:18] Karishma-Tiwari-MSFT commented on #14857
@tysonn This issue is a request to contribute new documentation.

[2018-09-13 19:18] SaurabhSharma-MSFT commented on #14949
@minhaj-dell Daemon apps or windows services runs independently from the user with no need for anybody to log on to the server.  It acts in complete independence with no user interaction and access any other resource as the application itself.  OAuth2 provides a special grant for this very scenario, called the client credentials grant.  It is an "app-only" access token and not specific to any user

[2018-09-13 19:25] kevinfms01 opened #14970 ""Is there a charge for retaining Event Hubs events for more than 24 hours?" is unclear for longer than 24 hours"
The text says "The storage allowance in each throughput unit covers all storage costs for retention periods of 24 hours (the default) even if the throughput unit is used up to the maximum ingress allowance."
What if my data is held longer than 24 hours but the total size is less than 84 gb? (i.e. i'm using 1 throughput unit)  Am I charged for longer than 24 hours?  If so, how is it calculated?

--

[2018-09-13 19:40] kinseymd opened #14971 "Azure Alerts - Classic or not?"
The "Azure alerts" link under the alerts section brings me to https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-overview-alerts (What are classic alerts in Microsoft Azure?). The note at the top of the classic article states that "Azure Monitor now supports newer, near-real time metric alerts, and a new alerts experience." So which is it? Should the link in this article

[2018-09-13 19:46] MicahMcKittrick-MSFT commented on #14531
@paulmackinnon-adv365 any update on this?

[2018-09-13 19:48] MicahMcKittrick-MSFT commented on #14698
@badalk I will close this out for now as we are taking this offline.

[2018-09-13 19:48] #14698 closed

[2018-09-13 19:49] MicahMcKittrick-MSFT commented on #14844
@zubirabbi I will close for now. If you have follow up questions let me know and we can reopen and continue.

[2018-09-13 19:49] #14844 closed

[2018-09-13 19:51] timmyreilly commented on #14808
I was having issues with the Batching Action error in top right:

![image](https://user-images.githubusercontent.com/8118355/45512116-adbfd900-b753-11e8-8169-b03504120fd5.png)

[2018-09-13 19:54] MicahMcKittrick-MSFT commented on #14925
@kamellemann this should work regardless of what load balancer you are using. It specifies you can use internal or external. What type were you using when you got the error?

[2018-09-13 19:55] MicahMcKittrick-MSFT commented on #14931
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-13 19:58] MicahMcKittrick-MSFT commented on #14958
@rizotas the walk through will end with the error you're using a fake certificate.

![image](https://user-images.githubusercontent.com/32313503/45512449-946b5c80-b754-11e8-8d39-577e4691faa4.png)

To get a verified certificate you need to change all the -staging in the example to -prod. Is that what you are saying does not work?

[2018-09-13 19:59] minhaj-dell commented on #14949
@SaurabhSharma-MSFT Ok but what if I have a task which requires user validation?  So for e.g.. I've a batch process which calls a Web API which provides different access based on user context the batch is executing in?

[2018-09-13 20:03] kamellemann commented on #14925
Hi,

you have to use an internal load balancer with ha port configured for the cluster vip with direct return.
I've done some Tests and this is the only fully functional setup. Without ha port only the configured Port gots load balanced so kerberos, Ping, some Cluster Manager (Oracle) etc. want work because they are communicating with the cluster name.

BR,
Dominik

Outlook for Android<https://aka

[2018-09-13 20:28] btasdoven commented on #8157
@jtabuloc, the gap you see in the identity column during failover is probably because your inserts between 6 and 1005 were rolled back as part of killing all user transactions to switch over to the secondary database. During planned failover, we take the database to read-only mode and kill all user transactions to not delay failover and ensure that there is no data loss. The gaps in Identity colum

[2018-09-13 20:31] Karishma-Tiwari-MSFT commented on #14956
@bartmcleod I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-13 20:32] iainfoulds commented on #14931
Thanks for the suggestion, @benc-uk. Those steps you suggest are valid if someone already has an ingress controller created through the HTTP application routing add-on.

However, the HTTP application routing add-on is only enabled by default for AKS clusters deployed through the portal. The other management tools do not enable this by default. There also limitations on being able to configure HTTP

[2018-09-13 20:34] jason-j-MSFT commented on #14824
@swarup5s the best place to ask this question is in the forums:
https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=hdinsight

If you gain any focused feedback to make changes to the documentation, please add it to this issue and we will reopen it.  We are closing this issue for now.

@maxluk feel free to chime in if you have any thoughts.

[2018-09-13 20:34] #14824 closed

[2018-09-13 20:39] TravisCragg-MSFT commented on #14939
@lfshr Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@cherylmc The area with the issue is in an include, and there seem to be some pending changes to that doc.

[2018-09-13 20:39] TravisCragg-MSFT commented on #14960
@vmehmeri Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-13 20:45] benc-uk commented on #14931
Hi,
The HTTP routing add on can be configured via ARM template via the `addonProfiles` property object, and via the Azure CLI with the `az aks enable-addons` command or with `--enable-addons` during creation. It's not a portal only feature.
However if the docs are going to be re-written and refactored, I understand why you might not want to add it to the docs
https://docs.microsoft.com/en-us/azure

[2018-09-13 20:47] kevinfms01 opened #14973 "Using capture for replay"
Someone else left this same comment, but it was closed with no change.
I would like to know how to use Capture and be able to replay events from the Capture location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d1-5ecac6e84b91
* Cont

[2018-09-13 20:47] cherylmc commented on #14939
@anzaman

[2018-09-13 20:47] iainfoulds commented on #14931
Correct, but I noted that it's not *enabled* by default in anything by the portal. The CLI, Resource Manager templates, and API all accept the addons property, but it's not a default action to enable HTTP application routing.

[2018-09-13 20:48] cherylmc commented on #14939
@yushwang

[2018-09-13 21:00] vasivara-MSFT commented on #14950
@peterasamoah I think that's the only one method now. Let me confirm
@douglaslMS  Is there any other way other than UI to create event based triggers?

[2018-09-13 21:01] MarileeTurscak-MSFT commented on #14948
I think the option should be "Signature." @davidmu1 can you confirm?

[2018-09-13 21:02] TravisCragg-MSFT commented on #14918
@stprokho Thanks for the feedback. I have fixed the script, and the changes should appear within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-13 21:02] #14918 closed

[2018-09-13 21:02] MohitGargMSFT commented on #14847
@myokeeh Please let me know if you have any further query in this regard else I will move ahead and close this issue.

[2018-09-13 21:05] Karishma-Tiwari-MSFT commented on #14945
@ggirard07 I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-13 21:07] BryanTrach-MSFT commented on #14934
@andrewatfornax Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-13 21:08] TiloGit commented on #13717
Yes DNS of the ADSDS virtual network need to be updated via Azure Portal (not the VM itself) also the VM which want to join if use a different vnet via peer

[2018-09-13 21:11] TiloGit opened #14974 "Join without being member of AAD DC Administrators"
Hi,

Just joined VM to Domain with user which is not member of:  "AAD DC Administrators". Any logs or details you would like to troubleshoot this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8990625-ef1b-16be-0ccb-e15b0a585656
* Version Independent ID: 19facf9c-326e-00af-b455-88d8cbf525a4
* Content: [Azure Active D

[2018-09-13 21:29] Karishma-Tiwari-MSFT commented on #14965
@krokoko Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-13 21:30] KingdomOfEnds commented on #14811
The variable name should be: `MapsAccountKey` and is being addressed in a fix to the documentation this afternoon.

[2018-09-13 21:35] MarileeTurscak-MSFT commented on #14946
@vignatov Are you referring to a self sign-up situation?

[2018-09-13 21:35] TomArcher commented on #9585
@alexandair I've spoken with the Chef product team, and this article is a hi-pri article to rewrite after Dev Ops / Jenkins World 2018. #please-close

[2018-09-13 21:36] mganeshphani opened #14976 "Powershell has been too long in experimental"
Can we have a official documentation for this language to stop following articles online.. about headers, responses, authentication etc..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e84dea-0cdb-2aa7-6aa0-a4c697ef19ac
* Version Independent ID: 2fe0dbd3-7e5b-04b1-46e5-fecd89c4a780
* Content: [Supported languages in

[2018-09-13 21:38] alexandair commented on #9585
@TomArcher OK, I'll close it.

[2018-09-13 21:38] #9585 closed

[2018-09-13 21:39] aaronmedora commented on #12772
Not sure if you did make those changes, but the article is still conflicting in a few places.

"The sourceAnchor attribute can only be set during initial installation. If you rerun the installation wizard, this option is read-only. If you need to change this setting, then you must uninstall and reinstall." - This is no longer true.

"If you have a single forest on-premises, then the attribute you

[2018-09-13 21:39] ajaypamarthy opened #14977 "northeurope region need to update in https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#regions-that-support-availability-zones"
northeurope region also supports availability zone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cca70845-100f-2cfd-aba3-34b7fa4a5264
* Version Independent ID: 475b26e5-9e23-f769-3bd5-cbc4a678dbf0
* Content: [What are Azure Availability Zones?](https://docs.microsoft.com/en-us/azure/availability-zones/az-overview#regi

[2018-09-13 21:39] kingpintech commented on #14968
@williexu Thank you, I missed that.  After installing the extension it worked for me when running it from my local shell.  Now I just need to get it working from within an azure cli pipeline task of azure devops...

[2018-09-13 21:39] #14968 closed

[2018-09-13 21:45] jason-j-MSFT commented on #14840
@alohaninja I believe you correct when you stated there is no Azure built integration between App Services and Log Analytics.  There is a newer cross-resource query feature that will allow you to query your Application Insight application from a Log Analytics workspace:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-cross-workspace-search

As far as building your own solution,

[2018-09-13 21:45] #14840 closed

[2018-09-13 21:52] zburtondbrs opened #14978 "typo"
"The SSO functionality is even when they are not connected to the domain network available."

should be

"The SSO functionality is even when they are not connected to the domain network."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8877b198-deb1-6ae9-ea0d-3830370b0b4a
* Version Independent ID: f1a4495c-7da8-0c3f-5d9

[2018-09-13 21:53] Morgma opened #14979 "Azure detects no methods"
When I deploy this image to Azure, I find that when trying to expand the functions under the app in the portal, none are listed. The runtime fails to find any HTTP bindings. I can call anonymous endpoints directly and get a response. It appears that Azure is trying to inspect the app at *.scm.azurewebsites.net/api/functions, which returns an empty array. The portal also returns an HTTP 503 error f

[2018-09-13 22:08] kobulloc-MSFT commented on #14787
@Kousik1612 I'm not seeing "Add new data Source" either, although I should note that the article is now deprecated.

@mrbullwinkle Do we have any plans to update this article or are we asking all readers to use the Log Analytics data collector API at this point?

![image](https://user-images.githubusercontent.com/37556655/45518551-cc7b9b00-b766-11e8-8861-91cf50657fd5.png)

[2018-09-13 22:11] MarileeTurscak-MSFT commented on #14877
You can do this with Powershell. https://social.technet.microsoft.com/Forums/windowsserver/en-US/34915604-74e8-4cac-81e0-3ca294ddbf46/bulk-modify-exchange-specific-attributes-in-on-premsise-ad-without-exchange?forum=winserverDS

I recommending asking this type of question on the MSDN forums for more specific recommendations since this isn't as related to AD Connect itself.

 https://social.msdn.mi

[2018-09-13 22:11] #14877 closed

[2018-09-13 22:16] Adam-Smith-MSFT commented on #14968
@williex Thanks Willie !

[2018-09-13 22:16] KingdomOfEnds commented on #14350
@KallumTanton - I tried a few examples and could not reproduce the error using your or the supplied example code in either of the two articles:

	1. https://docs.microsoft.com/en-us/azure/azure-maps/map-create.
	2. https://docs.microsoft.com/en-us/azure/azure-maps/how-to-use-map-control

It seems the real culprit has less to do with initialization and more to do with loading two of the same depend

[2018-09-13 22:19] jeevansd commented on #12247
@andrew-best-diaxion Which version of JIRA you are using?

[2018-09-13 22:28] SaurabhSharma-MSFT commented on #14974
@TiloGit Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-13 22:29] ausfestivus commented on #12247
@jeevansd 7.11

[2018-09-13 22:31] SaurabhSharma-MSFT commented on #14978
@zburtondbrs Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-13 22:36] femsulu commented on #14944
@gitralf thanks for bringing this to our attention. We are actively investigating this and will get back to you soon.

[2018-09-13 22:37] Karishma-Tiwari-MSFT commented on #14712
@KeiroKamioka0000 Guest metrics require you to install the Linux Azure Diagnostics extension in the guest VM. Refer to the [Autoscale using guest metrics in a Linux scale set template](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-mvss-guest-based-autoscale-linux) document which provides detailed explanation on deploying the Linux scale set with guest

[2018-09-13 22:42] Karishma-Tiwari-MSFT commented on #14727
@kazshi Thanks for the clarification on the ask. Guest metrics require you to install the Linux Azure Diagnostics extension in the guest VM. Refer to the [Autoscale using guest metrics in a Linux scale set template](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-mvss-guest-based-autoscale-linux
) document which provides detailed explanation on deployin

[2018-09-13 22:50] femsulu commented on #14971
@kinseymd Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review.

[2018-09-13 22:51] Mike-Ubezzi-MSFT commented on #14963
@jkonecki Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-13 22:53] femsulu commented on #14846
@lrxtom2 any update on this please?

[2018-09-13 22:57] jason-j-MSFT commented on #14863
@kristinnthor Yes, I believe event-based triggers are only available in ADFv2.

[2018-09-13 22:57] #14863 closed

[2018-09-13 23:02] jason-j-MSFT commented on #14890
@maecky only blob storage is supported with event-based triggers at this time.

[2018-09-13 23:02] #14890 closed

[2018-09-13 23:02] Karishma-Tiwari-MSFT commented on #14976
@mganeshphani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-13 23:03] kristinnthor commented on #14863
Thanks...guess I have to move over to V2..

[2018-09-13 23:04] Karishma-Tiwari-MSFT commented on #14977
@ajaypamarthy Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-13 23:06] iainfoulds commented on #14977
@Karishma-Tiwari-MSFT Please re-assign this to @cynthn.

Cynthia - can you review this and update the doc ownership, please.

[2018-09-13 23:11] Karishma-Tiwari-MSFT commented on #14977
@ajaypamarthy Are you able to see North Europe region available for you in the Azure portal?
You should see this while selecting region as North Europe and availability zone:
![image](https://user-images.githubusercontent.com/20851144/45520752-b1615900-b76f-11e8-8858-5f69f4161de3.png)

[2018-09-13 23:31] kiazhi opened #14980 "Broken URL to Sync-VSTS and Sync-VSTSGit to the script"
Received an "Error 404 - Page Not Found" response to the "Azure DevOps sample runbook" and "Azure DevOps with Git sample runbook" links in PowerShell Gallery.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 685bbe99-cd41-e4c1-598a-fed2e91887ac
* Version Independent ID: 3d9830d6-b91a-e93f-38af-a893c72c5765
* Content: [In

[2018-09-13 23:33] ausfestivus commented on #12247
Please be aware that Jira 8 is now in active development and available via the Atlassian EAP. https://checkup.atlassian.com/server/jira/platform/
Jira 7.12 is now available and 7.13 is in EAP.

[2018-09-13 23:34] danimir commented on #14670
@mikaelsnavy
Update: I've reached out to security owning the Audit log. The way to enable streaming of Audit low raw data into Log Analytics is not through the Diagnostics blade (although the switch is there). This can be enabled through the Auditing blade (either database or server). On this blade, below the switch for auditing, there is an option Audit log destination. In this destination, chose

[2018-09-13 23:34] Karishma-Tiwari-MSFT commented on #14979
@Morgma Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-13 23:45] jeevansd commented on #12247
@ausfestivus Thanks for the note. Yes, we are testing all the other versions also I am just prioritizing the ones which customer need first.

[2018-09-13 23:52] jeevansd commented on #14900
@chetansriv Can you please review this?

[2018-09-14 00:04] TravisCragg-MSFT commented on #14881
@RadoslavGatev Thanks for the feedback! [The current SLA for App Gateway is 99.95%](https://azure.microsoft.com/en-us/support/legal/sla/application-gateway/v1_1/), so it looks like the portal will need to be updated with the correct value.

[2018-09-14 00:30] kazshi commented on #14727
@Karishma-Tiwari-MSFT Thanks. I understand that we cannot install the Linux Azure Diagnostics extension in the guest VM using template (that's the answer for my first question) and we need to install the Linux Azure Diagnostics extension to a custom image for VMSS deployment beforehand, correct?
I'll close this if it's true.

I wasn't sure because it's possible to [add the Azure Diagnostics extens

[2018-09-14 00:31] Karishma-Tiwari-MSFT commented on #14631
@cbeech1980 Apologies on the delay on your issue.
Are you runnning Version 1 - Microsoft.OSTCExtensions.CustomScriptForLinux or
Version 2 - Microsoft.Azure.Extensions.CustomScript?

Also, can you please share the content of your json file?

[2018-09-14 00:32] kobulloc-MSFT commented on #14809
@mrbullwinkle It appears we need a document revision to [step two](Meet your new buddy  (Web view)).

[2018-09-14 00:50] Jakobo opened #14982 "--node-vm-size may be required for locations outside useast"
Depending on the location of your resource group, you may have to explicitly add a `--node-vm-size &lt;your-size&gt;` argument to the `az aks create` command.

Command ran (using a resource group in `uswest` for example):
`az aks create --resource-group myAKSCluster --name myAKSCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys`

Output:
Operation failed with status: 'Bad Reques

[2018-09-14 00:52] MohitGargMSFT commented on #14862
@kennethvs I got your point. Thanks for reporting. It is a below location -

![s1](https://user-images.githubusercontent.com/32749549/45523338-a31a3980-b77d-11e8-8c8e-45d3f9c0ee2d.JPG)

I am assigning it to content author to further investigate and possibly change image in the document.

[2018-09-14 00:54] MohitGargMSFT commented on #14864
@kennethvs Please let us know if you have any further query in this regard else I will move ahead to close this issue.

[2018-09-14 01:30] badalk opened #14983 "How do we make the dashboard available in RBAC enabled cluster using az aks browse?"
It is given that we cannot grant cluster role binding with cluster-admin role to kubernetes-dashboard service account. Any guidance around this would be greatly appreciated either using az aks OR with kubectl command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ba1dad2-9792-2a7b-cdb6-68da0524cff3
* Version Independ

[2018-09-14 01:41] femsulu commented on #14980
@kiazhi Thanks for bringing this to our attention. Your comment has been shared with the content owner for further review. Please stay tuned.

[2018-09-14 01:50] femsulu commented on #14416
@Anmolgan81 , we strive for positive interaction with your community members. Your comment above seems to suggest there may be an opportunity for us to improve our bi-lateral relationship. Happy to continue the conversation over email or phone. Please send mail to AzCommunity@microsoft.com with your preferred contact method and we will be happy to continue the conversation. Looking forward to your

[2018-09-14 01:52] kazshi commented on #14017
@anosov1960 @CarlRabeler @Alberto-Vega-MSFT Do you have any updates on this?  Thanks.

[2018-09-14 02:00] MikeSpark commented on #6027
If the prompt asking me for YES / NO / ALL, --quite will answer which one by default?

[2018-09-14 02:01] MikeSpark opened #14984 "--verbose [logfile location does not work on Linux]"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-14 02:02] MikeSpark commented on #14984
I have seen some error during AzCopy. I don't have any option other than tee myself.

[2018-09-14 02:07] CarlRabeler commented on #14017
@anosov1960 Can you please comment on this customer question?

[2018-09-14 02:11] femsulu commented on #14717
@agrebenyuk still investigating your issue. we may need to engage support to dig deeper. DO you have a support plan? If not please send mail to AzCommunity@microsoft.com with your subscription ID and any supplementary diagnostic outputs and we will gladly help with engaging technical support.

@tfitzmac do you have any insights on this?

[2018-09-14 02:17] u983101 opened #14985 "Documentation out of date!!"
The http response is "Trace is not available because response does not contain Ocp-Apim-Trace-Location header."

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a3dd020-373d-9807-fcfd-30fedf005040
* Version Independent ID: 34fe30d0-f225-ff8d-1f6b-2494f7aad42d
* Content: [Debug your APIs using request tracing in Azure AP

[2018-09-14 02:26] femsulu commented on #14747
@SamirFarhat We will now close this issue. If there are further questions regarding this matter, please reply to @femsulu and we will gladly continue the discussion.

[2018-09-14 02:26] #14747 closed

[2018-09-14 02:33] MicahMcKittrick-MSFT commented on #14982
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 02:34] MicahMcKittrick-MSFT commented on #14983
Thanks for the question! We are investigating and will update you shortly.

[2018-09-14 02:39] JamesMDorame opened #14986 ""The remote name could not be resolved: 'analytics.documents.azure.com'""
Trying to follow the documentation for this tutorial and this is the error that PowerBI is returning continually.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db43c478-6301-7b69-131a-c4289797c49d
* Version Independent ID: 5f991bdb-919e-f712-1fe0-050eba25ebaf
* Content: [Power BI tutorial for Azure Cosmos DB connector

[2018-09-14 02:45] MicahMcKittrick-MSFT commented on #14954
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 02:58] dodiggitydag opened #14987 "Step 8 is no longer required"
I created a connection on a VPN gateway to another VPN gateway.  The connection immediately appears under both of the gateways.  So step 8 is no longer required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d655e62-511c-5c94-da5f-8ae2fa48927f
* Version Independent ID: a1665237-3ff9-6a47-91ac-fba5f2469ba3
* Content:

[2018-09-14 03:48] VanMSFT commented on #12373
Hi @ShaneCourtrille, thank you for your feedback! The only requirement that you need for SSMS to use the Column Encryption Setting and decrypt the data is for the user to have the necessary permissions to access the Azure Key Vault. This isn't explicitly called out in this documentation, so I will add some context for this.

The corresponding document that list these permissions is here: [https://

[2018-09-14 03:55] femsulu commented on #14820
@dkamstra any idea on the default port number used?

[2018-09-14 03:57] KeiroKamioka0000 opened #14988 "Regarding <How do I add or edit a URL rewrite rule?>"
Regarding &lt;How do I add or edit a URL rewrite rule?&gt;
https://feedback.azure.com/forums/169385-web-apps/suggestions/34379356-use-iis-manager-to-administrate-web-app

It seems like not working at this moment for newer one

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf51d71-e1ea-a6ca-ce01-60f043d4ea88
* Version

[2018-09-14 03:59] femsulu commented on #14964
@torrentx thanks for the comment. We are actively investigating and will get back to you shortly.

[2018-09-14 04:04] femsulu commented on #14959
@jforest can you please retry? the link works for me - shown below. can you please send me a screenshot of what you see?
![image](https://user-images.githubusercontent.com/34327711/45529156-8c351080-b798-11e8-87b0-1cd598d1d218.png)

[2018-09-14 04:36] YutongTie-MSFT commented on #14778
@Souvik04 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @Yutong Tie-MSFT and we will gladly continue the discussion.

[2018-09-14 04:36] #14778 closed

[2018-09-14 04:51] linda33wj commented on #14741
#please-close

[2018-09-14 04:52] linda33wj commented on #14173
I have updated the tutorial accordingly.
#please-close

[2018-09-14 05:08] kazshi commented on #14173
@linda33wj Thank you for the update. Closed.

[2018-09-14 05:08] #14173 closed

[2018-09-14 05:14] zurcacielos commented on #5561
@SimonLuckenuik I commented on the link you shared:
Singleton attribute is not working for me in azure functions under application service plan. When the function is tarted with a trigger like this for example:
[FunctionName("YammerETL"), Singleton("YammerETLLock", SingletonScope.Host)]
public static async void Run([TimerTrigger("0 */1 * * * *", RunOnStartup = true)]TimerInfo myTimer, TraceWriter

[2018-09-14 05:32] VikramPendse commented on #13671
Thanks Rajani and Microsoft Team for all your support.

[2018-09-14 05:32] #13671 closed

[2018-09-14 06:01] FabioMariano72 commented on #14703
Dear Bryan, sorry for my late reply...
Indeed I have configured the end points in the traffic manager in the same way done for the other web sites where there are not IP restrictions.
HTTPS:443 \AzureProbe.aspx

If I remove the from the web site the IP restrictions, it becomes "OnLine" the End Point in the Traffic manager. The web site does not use particular authentication method.

I don't know h

[2018-09-14 07:06] pardha100 opened #14990 "High availability and disaster recovery"
Please clarify how to enable the database to use two keyvaults (in different regions) for high availability.  I have tested it . It does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7600c6cf-0b4d-1ffa-c1bb-ebf23adafc1f
* Version Independent ID: 1ae4f15b-b978-882e-c5f4-d23522a53bb4
* Content: [TDE - Bring Yo

[2018-09-14 07:11] VikramPendse opened #14991 "Resource Group logo & No plans available message"
Feedback 1 - Image in "Move an app to another App Service plan" showing Resource Group icon with name "bk-test101" - Image URL - https://docs.microsoft.com/en-us/azure/app-service/media/azure-web-sites-web-hosting-plans-in-depth-overview/change-appserviceplan.png

Feedback 2 - I tried moving my Web App in same Resource Group and Same Region but it shows on portal that "No plans available" and henc

[2018-09-14 07:26] TolliLF opened #14992 "Editor comments are in the document"
It says "Vita: how about hybrid OMS/AppInsights, shall we mention?" near the end - I'm guessing this is should not be visible but is a comment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f236f93d-3eae-beb5-9dcc-692dfff373c6
* Version Independent ID: b68ac8fe-e3ac-b040-0606-ffbfafc650b1
* Content: [Consume monitorin

[2018-09-14 07:38] snehaamicrosoft commented on #14895
@CHDAFNI-MSFT Great feedback, we will update the documentation to take care of it.

[2018-09-14 07:42] carlfm01 opened #14993 "Is possible to connect to Linux instance inside vmss using RDP?"
We need to connect to a specific instance of a Linux vm on a scale set using RDP, on Windows the port 3389 is open by default. But we can't on VMSS.

- The relevant Azure service or technology :   [ azure-docs/articles/virtual-machine-scale-sets/virtual-machine-scale-sets-use-low-priority.md ](url)
- Resource : https://docs.microsoft.com/en-us/azure/virtual-machines/linux/use-remote-desktop

Updat

[2018-09-14 07:49] TolliLF opened #14994 "type - 2 semicolons instead of LL"
Typo -
Select A;; services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e6bf86c-b6b3-19be-e357-00ef6fd0d1fe
* Version Independent ID: 0729d43b-ad6d-2300-8c46-c9846697794a
* Content: [Add a Kubernetes Cluster to the Azure Stack Marketplace](https://docs.microsoft.com/en-us/azure/azure-stack/azure-stack-solution-templ

[2018-09-14 08:19] ArvidBaa opened #14996 "File size limit in outputs"
I think it would be wise to list the file size limit of 512 MB for tracked files in `outputs` folder. This limit is listed in the 'Known Issues And Troubleshooting Guide' (https://docs.microsoft.com/en-us/azure/machine-learning/service/known-issues-and-troubleshooting-guide), but I think it is relevant to add it to this part of the guide as well. Many models produce files that are larger than the

[2018-09-14 08:30] mike-urnun-msft commented on #14808
@timmyreilly got it! Following with `0.75` as value is working OK for me and I'm able to save out successfully:

![image](https://user-images.githubusercontent.com/36717703/45539127-adf4be80-b7bd-11e8-94c3-bef31cb3abd9.png)

[2018-09-14 08:40] mike-urnun-msft commented on #14730
Hi @luisaxeko Since we haven't hear back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 08:40] #14730 closed

[2018-09-14 08:47] phatcher opened #14997 "Still using old portal which is retired"
Still using old portal which is retired

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 455c7ecb-4214-5ad1-dc68-88ff558e98c7
* Version Independent ID: 381e1b03-06cd-64ac-c811-9e15fa0c4457
* Content: [Add a custom domain to Azure AD](https://docs.microsoft.com/en-gb/azure/active-directory/fundamentals/add-custom-domain)

[2018-09-14 08:51] Wladinho commented on #10258
As far as I see, script working, and I was able to connect to Azure VM joined to Azure AD DS.
But I received some errors:

PS C:\Windows\system32> $c.GlobalParameters.Remove($p.Name)

You cannot call a method on a null-valued expression.
At line:1 char:1
+ $c.GlobalParameters.Remove($p.Name)
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : InvalidOperation: (:) [], RuntimeExcept

[2018-09-14 08:52] Dimka12 opened #14998 "A custom metastore lets you attach multiple clusters"
I suppose you shall explicitly note that if we share the same sql db with several (say Spark) clusters, they all will have the same metadata (databases and tables) to work with and if metadata is different you must have separate database for a cluster

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b67214c-fd95-c1d3-dd

[2018-09-14 09:26] davidhedelin1 commented on #14883
I set everything up as stated above. Nothing is showing in the invocation log. I do not have a zip deploy option when creating a new function though. What do I do?

[2018-09-14 09:39] sumitbaurai commented on #14947
Hi,

I am getting a different error when trying to create the filesystem. When the notebook command is run, it just keeps on running never returning the control. However, upon cancelling I can see in the driver logs the following error

Caused by: Status code: -1 error code: null error message: InvalidAzureServiceErrorResponseExceptionjava.net.UnknownHostException: bamkafkastore.dfs.core.windows.n

[2018-09-14 09:59] richardharrison2 opened #14999 "minor typos"
this line

 If a custom DNS is specified on thevirtual netword

should be

 If a custom DNS is specified on the virtual network

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffcf7bc9-442d-6c88-829d-c1ef5f450959
* Version Independent ID: f32e6633-7ee7-e3aa-c5b7-b35d76c90156
* Content: [Azure SQL Database Managed Instan

[2018-09-14 10:10] arcotek-ltd commented on #6807
The EA price sheet seems to return data on what has been consumed as opposed to what each resource will cost - based on our EA pricing.

[2018-09-14 10:12] RickLanting opened #15000 "Customization also available for Server 2016"
The documentation states: "Currently, customization of the OS security configuration is available for Windows Server versions 2008, 2008 R2, 2012, and 2012 R2 operating systems only." Upon downloading the OS Security Configuration file I noticed that Server 2016 is now present as well. The JSON file explicitly states the following:
"baselineName": "WS2016 Server Security Compliance"

---
#### Docu

[2018-09-14 10:28] 01sarthak opened #15001 "Link not working"
Link to video "Azure SQL Data Warehouse scaling: configuration and guidance" is not working. Pleas update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35d06a19-f303-656f-f8aa-1e61ec6f0383
* Version Independent ID: 0c392e1d-d39e-21c9-ea7c-18cd64ac9dda
* Content: [Improve columnstore index performance - Azure SQL Data

[2018-09-14 10:38] JasonBSteele opened #15002 ""Prevent endless loops" not clear whether the conditions are "either" or "both""
A time limit and an iteration limit can be set simultaneously, but the documentation doesn't tell us whether the loop exits when either of the conditions are met, or both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0c62935-f980-a27c-883b-bd826c5b327f
* Version Independent ID: 5fc1bf17-8cd9-8cdb-72df-1c6a544a677a
*

[2018-09-14 10:45] devchop opened #15003 "GPU Driver version 391.81 is not working with Windows 2008 R2 SP1"
Hi ,

I am trying to install driver 391.81_grid_win8_win7_server2012R2_server2008R2_64bit_international on WIN2K8 R2 SP1 (NV6 VM) but it is giving me error "This graphic driver couldnt find compatible graphic hardware.

Is this is the correct driver version for WIN2K8R2 SP1?

Is WIN2K8 R2 SP1 supported with NV Series?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-09-14 10:46] vignatov commented on #14946
Yes

In the current way. I have sign in and sign up policies. If from the screen of my mobile app user clicks on "Sign In" they are redirected to SignIn policy and if they click on "Sign Up" they redirected to SignUp where they can create new account.

From the documentation I see that I can replace opening the browser to do sign in with in-app-authentication, (I can use and store user credentials

[2018-09-14 10:46] hemalatha-pal opened #15004 "Azure Resource Group creation through Ansible playbook - 403 Client Error: Forbidden for url"
I was trying to create a resource group for VM creation through ansible playbook automation by referring to the below link
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ansible-install-configure#file-credentials

All the steps mentioned were followed but was getting the below error during execution. Even in the module code, error is handled for 204 and 404 but no details on 403.

'

[2018-09-14 10:50] #14907 closed

[2018-09-14 10:54] dominicbetts commented on #14886
Hi @tameraw - I've added some links and information about the DPS SDKs to the article. Thanks for the suggestion!
PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/51999
#please-close

[2018-09-14 10:57] dominicbetts commented on #14393
The instructions in the article are for VSCode, not Visual Studio. There have been some recent updates to the source code, so I'll re-check the steps and update accordingly. Thanks for the input!

#please-close

[2018-09-14 11:08] paulmackinnon-adv365 commented on #14531
Apologies for the delay, I've been busy with work.

[code]

[code]

asdf

[2018-09-14 11:35] hoffe86 opened #15005 "Update documentation for host.json reference"
Please update the documentation for the structure of the host.json.

For example the "autoComplete" option for the ServiceBus section is not documented.
See [#3179](https://github.com/Azure/azure-functions-host/pull/3179)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27150c55-615f-fb44-d5e4-7b5815631c7d
* Version Indep

[2018-09-14 12:30] mrdisley opened #15006 "Mark D"
How would this work with the change tracking feature in CRM? Say we only wanted to Data Factory to retrieve the deltas from a particular entity since the previous load?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 304d4c46-c0ac-05c9-15eb-d8b677ec5e90
* Version Independent ID: 36a79d36-2b72-2722-68e5-e167f9a2cd41
* Co

[2018-09-14 12:33] #14886 closed

[2018-09-14 12:34] AjitBhosale commented on #14411
@Mike-Ubezzi-MSFT  sorry for late reply.

I want to know if document not inserted in one batch than when condition is true and it against execute do loop, but in code inserted document count(bulkImportResponse.NumberOfDocumentsImported) not removed/skip from documentsToImportInBatch. So it will aging try to insert all documents(documentsToImportInBatch)?

another question - if i set retries to 0 t

[2018-09-14 12:43] sangeethmani1 commented on #9223
Hi
is there a way to apply dsc on an Azure VM which was created from OS Disk snapshot created from ON-Premise server ?Appreciate pointers in this regard. thanks

[2018-09-14 12:44] sangeethmani1 opened #15007 "applying DSC on Azure VM created from an On-premise OS disk Snapshot"
Any pointers on how to apply DSC on Azure VM created from an On-premise OS disk Snapshot .
WHat credentials will the DSC use to log on and install the DSC scripts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a73fd631-582f-dca6-b537-16043459d03d
* Version Independent ID: 2fe32611-7c8f-b9ea-9c0e-1c49db781f00
* Content:

[2018-09-14 12:49] gitralf commented on #14944
From the announcement: _we will no longer be accepting **new** customers or deploying any **new** services_.

[2018-09-14 12:58] Dharita opened #15008 "Set Measurement for String or Boolean value"
For my custom device, I receive following telemetry. I want to set Measurement for location. How can I do that?
{"latitude":32.51806614107462,"longitude":69.28264662999766,"location":"Inside the provided Geo-Fence areas","stdb":300,"speed":5,"dbt":31,"timeCreated":1536927489300,"temperature":45}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-09-14 13:12] guillemsola commented on #9223
@DCtheGeek regarding credentials, certificates I always thought this would be the right way to do it for hardened environments. Honestly still haven't had time to test this option as it requires some planning regarding usage rights and so on.

My goal is more to build some DSC scripts that I can execute either on premises servers, local VM and Azure, AWS using DSC push. I'm creating a lot of envir

[2018-09-14 13:41] JaimeB1793 commented on #11046
Hello all,

I´m completelly new in the world of IoT and was trying to get involved with Azure Edge. following the tutorial (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) I get the error shown:

$ systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled)
   Active: failed (Result: start-li

[2018-09-14 13:49] JaimeB1793 opened #15009 "Azure IoT Edge daemon Problem on Raspberry Pi 3"
Hello all,

I´m completelly new in the world of IoT and was trying to get involved with Azure Edge. following the tutorial (https://docs.microsoft.com/en-us/azure/iot-edge/how-to-install-iot-edge-linux-arm) I get the error shown:

$ systemctl status iotedge
● iotedge.service - Azure IoT Edge daemon
   Loaded: loaded (/lib/systemd/system/iotedge.service; enabled)
   Active: failed (Result: start-li

[2018-09-14 13:52] sergaz-msft commented on #11046
@JaimeB1793 thank you for your feedback! As @darobs mentioned we don't have a package release that will support jessie. Please create an issue on the [IoT Edge Github page.](https://github.com/Azure/iotedge/issues)

Thanks a lot.

[2018-09-14 13:52] DCtheGeek commented on #9223
@guillemsola As a note, State Configuration can manage on-premise, AWS, and Azure VMs from one place.  See [onboarding machines with State Configuration](https://docs.microsoft.com/azure/automation/automation-dsc-onboarding) for more information.

If using the Credential object used, it isn't a "cloud" credential, it's just a PSCredential object.  Which means that even if you were managing a VM on

[2018-09-14 13:57] trevorlittle opened #15010 "Confusing wording in sentence"
The sentence "This guide is only going into VNet Integration though Hybrid Connections and App Service Environments are discussed later in this document." is incorrect.

It should be  "This guide is only going into VNet Integration.  Hybrid Connections and App Service Environments are discussed later in this document."

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-09-14 14:02] DCtheGeek commented on #15007
@sangeethmani1 Thanks for the question!  To better understand the question, are you trying to manage the VM once in Azure with DSC locally, with DSC via push, or with DSC using the Azure Automation State configuration (DSC) solution?  Regardless of what solution manages DSC on the machine, the LCM always runs scripts as the system account unless **PSDscRunAsCredential** is provided with the resour

[2018-09-14 14:03] KevinXTian opened #15011 "When will this emulator be available in Visual Studio Team Services/Azure DevOps Marketplace?"
Do you have any plan in making this emulator in Azure DevOps Marketplace? One good example is [Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd) which is directly accessible in the Azure Pipeline.

The Azure Storage Emulator requires access to build server and tedious. I have to end up using Azurite with additional upfront setup in the build server an

[2018-09-14 14:04] azvargas commented on #14883
Well... I deployed again the app without using the Zip Deploy feature, and it works... I can see functions in the "Functions" sub-option and I can invoke the functions at the cloud. I guess there is an issue with the Zip Deploy feature; anyway, I can work with this. Thanks!

[2018-09-14 14:05] KevinXTian opened #15012 "When will this emulator be available in Visual Studio Team Services/Azure DevOps Marketplace?"
Do you have any plan in making this emulator/Azure Functions Core Tools in Azure DevOps Marketplace? One good example is [Azure Cosmos DB Emulator](https://docs.microsoft.com/en-us/azure/cosmos-db/tutorial-setup-ci-cd) which is directly accessible in the Azure Pipeline.

Currently, setting up the Azure Functions Core Tools requires access to build server and tedious. I have to end up with addition

[2018-09-14 14:11] rizotas commented on #14958
@MicahMcKittrick-MSFT As I'm using letsencrypt staging, I expect a not trusted certificate issued by Let's encrypt but not by "Kubernetes Ingress Controller Fake Certificate" as currently is happening.

[2018-09-14 14:23] shawnweisfeld opened #15013 "Choosing between different reserved unit types section confusing"
"It also provides a few benchmark cases and provides SAS URLs that you can use to download videos on which you can perform your own tests"

"Encoding with "H264 Single Bitrate 1080p" preset takes approximately 2.7 minutes." (and all the other benchmark numbers given)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9504b

[2018-09-14 14:24] NommySkies opened #15014 "Pixel Damaged"
Hello, I was studying Azure maps, and while I was testing it I figured out that some textures from city/place's name where broken... see the screen https://imgur.com/a/v6k2tfG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a83c299e-5f1e-be71-41c6-879815e4801c
* Version Independent ID: 01996a4c-2897-e3cb-8e60-0be6ca5223

[2018-09-14 14:32] mcapia commented on #6792
Love this Solution ! When is it going GA ? Any improvements or changes before it goes GA ?

[2018-09-14 14:37] zx3-at opened #15015 "Out of date article (despite being written just 5 months ago!)"
The is no option "Import" in portal.azure.com - the only option is "Add", to create a new database OR restore from an existing DB already on Azure.
UPDATE: Very responsive explanation from Mike - thanks. I did manage to find the "Import" feature, as explained it's ONLY available under the SQL server section. Too bad the Azure GUI development team can't understand fools like me who would expect to

[2018-09-14 14:50] tfitzmac commented on #14717
@agrebenyuk - thanks for this feedback. I'll try to test this scenario, and verify how to handle parent/child resources.

[2018-09-14 14:52] Mike-Ubezzi-MSFT commented on #14986
@JamesMDorame Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-14 14:53] sergaz-msft commented on #14961
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-14 14:53] sergaz-msft commented on #14992
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-14 14:54] Mike-Ubezzi-MSFT commented on #14990
@pardha100 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-14 14:54] sergaz-msft commented on #14994
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-14 14:55] femsulu commented on #14959
@jforest were you prompted to sign in when you clicked the link? I was able to repro the 403 forbidden by attempting to log into the page using my personal outlook account.

@ellacroi the page url referenced above appears to be gated by a log-in prompt. Is this expected?

[2018-09-14 14:55] sergaz-msft commented on #15014
@NommySkies Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 15:01] Mike-Ubezzi-MSFT commented on #14999
@richardharrison2 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-14 15:04] RobFirth commented on #7360
I'm having the same issue as @ShetlandJ - was there a fix? I'm struggling to connect to my test drive using the username@hostname and supplied credentials, timing out on port 22. I might be missing something obvious but there isn't much support for connecting to a testdrive VM from mac OS

[2018-09-14 15:05] DarinMacRae opened #15016 "Powershell"
Why not include Powershell examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dac005b3-22a3-1df9-1f92-84cbfa91f9dc
* Version Independent ID: 2a5e0312-120e-4fd1-b262-00d5c0a65b58
* Content: [Face API cURL quickstart - Microsoft Cognitive Services](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quic

[2018-09-14 15:05] ratchetwrench opened #15017 "Date Formatting"
Trying to get a formatted date but none of these are valid:
@formatDateTime(string(pipeline().TriggerTime),  "yyyy-mm-dd")
@formatDateTime(pipeline().TriggerTime,  "yyyy-mm-dd")
...
@formatDateTime(pipeline().TriggerTime,  yyyy-mm-dd)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
*

[2018-09-14 15:05] Mike-Ubezzi-MSFT commented on #15001
@01sarthak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-14 15:07] femsulu commented on #15004
@hemalatha-pal Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-14 15:07] carmeleve opened #15018 "Build task failing with TCP connectivity test failure"
Hi,
We are trying to use the CosmosDB emulator for our automated testing. I've followed the steps outlined here, placing the emulator build task at the start of the Azure DevOps build definition. However it can't get past starting the emulator as the emulator build task is failing with the error:
"Start-CosmosDbEmulatorContainer : Connectivity test failed:{"PingSucceeded":true,"TcpTestSucceeded":f

[2018-09-14 15:08] andrePKI opened #15019 "Missing a small word "no" ?"
I'm confused, but that may be my limited knowledge of the English language.
5th bullet below What to expect... says "•Note that you will have write access if you have GRS or RA-GRS configured for the storage account."
Rest of the text explains that there is (temporarily) no write access; and RA-GRS means Read access, i.e. read only by definition?
Shouldn't the text read "•Note that you will have N

[2018-09-14 15:08] CarlRabeler commented on #14017
addressed in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/51967
should be live by 10 AM today.

[2018-09-14 15:08] Mike-Ubezzi-MSFT commented on #15001
From the [How to estimate memory requirements](https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-memory-optimizations-for-columnstore-compression#how-to-estimate-memory-requirements) section, the link refers to a video from a previous Ignite conference, which is no longer available.

[2018-09-14 15:12] #14710 closed

[2018-09-14 15:13] sergaz-msft commented on #15008
Thank you for your feedback @Dharita . Can you please specify with an example what you mean by Measuring a location?

Please see also the following documentation:
[Create a telemetry rule and set up notifications in your Azure IoT Central application](https://docs.microsoft.com/en-us/azure/iot-central/howto-create-telemetry-rules)
[Create an eEvent rule and set up notifications in your Azure IoT C

[2018-09-14 15:18] tmaeller commented on #8409
@chetansriv @jeevansd This document as is will work for Account Manager if you change the URLs in step 3. I know that you want to make sure the documentation is correct, but I've already confirmed with the SSO engineers here. If you have more specific questions, let me know and I'll bring them into this. I need something concrete to give them, as they're always extremely busy.

[2018-09-14 15:19] sergaz-msft commented on #14966
@seancostigan thank you for your feedback. Please note that this tutorial is not using a real device, therefore we are not going through how to reboot a specific device (depending on the device you may need to use different methods to be able to reboot it)

![image](https://user-images.githubusercontent.com/22173500/45559229-d3271280-b839-11e8-9f92-59e57eb10ac7.png)

As a sample example on how to

[2018-09-14 15:34] femsulu commented on #14964
@torrentx pinning resource groups to the dashboard is supported. I just tested and it works on my end - screenshot below. Please walk me through your steps and include any relevant screenshots so we can investigate further.
![image](https://user-images.githubusercontent.com/34327711/45559737-27a99e00-b7f8-11e8-9d4e-e9719a3e91e4.png)
![image](https://user-images.githubusercontent.com/34327711/45560

[2018-09-14 15:35] CarlRabeler commented on #15015
updated content in import page for more clarity and screenshot of new look in the Azure portal -
https://github.com/MicrosoftDocs/azure-docs-pr/pull/52025

[2018-09-14 15:36] glynastill commented on #13780
@kyliel, Thanks very much for getting to the bottom of this; I can confirm upgrading python-cryptography worked for me.

[2018-09-14 15:36] jffaust opened #15020 "Payload schema is outdated"
When I receive an alert from the "new" alerts in Azure, the payload properties all start with an upper case, which is not what is shown here in the docs.

Example of payload :

[code]

[2018-09-14 15:39] FredFaust commented on #15020
Looks like I screwed up the Document Details section, sorry about that but I cannot get it to display correctly anymore

[2018-09-14 15:45] Mike-Ubezzi-MSFT commented on #14818
@andrewb-ms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 15:45] #14818 closed

[2018-09-14 15:46] Mike-Ubezzi-MSFT commented on #15018
@carmeleve Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-14 15:46] #9223 closed

[2018-09-14 15:51] TomArcher commented on #13780
@mahaboob @glynastill @kyliel Thanks!
@femsulu #please-close

[2018-09-14 15:54] ppretorius opened #15022 "Multiple Forests"
We have multiple forests, with one instance of AzureAD which syncs all our domains to Azure.  The Primary domain, where AzureAD is installed has SSO enabled and works fine.  From within the AzureAD Admin Portal, The SSO status is enabled for 1 domain only.  I have verified this with Get-AzureADSSOStatus on premise too. The other domains are unable to sign in with SSO.  How would I go about adding

[2018-09-14 15:57] mjcarrabine opened #15023 "Minor Clarification Request - Windows VMs with Software RAID"
My use case is that I have a VM using the SQL IaaS extension to configure disk striping for the data disks, and Azure Security Center is recommending I encrypt the VM disks, but it looks like this is not an option at this time.

In the meantime, can this bullet point under unsupported scenarios be broken out into multiple bullet points?
 - Azure Files (shared file system), Network File System (NFS

[2018-09-14 16:01] MicahMcKittrick-MSFT commented on #15003
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 16:02] MicahMcKittrick-MSFT commented on #15007
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 16:06] MicahMcKittrick-MSFT commented on #15012
Thanks for the question! We are investigating and will update you shortly.

[2018-09-14 16:07] MicahMcKittrick-MSFT commented on #14993
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 16:09] Mike-Ubezzi-MSFT commented on #12861
@bhall7718 Do you happen to have the resolution to this? Thank you. ~Mike

[2018-09-14 16:15] wat-izz opened #15024 "RBAC-disabled"
Would have been nice to mention that AKS clusters created this way are RBAC-disabled and there's no way to change that post-creating.
Cluster autoscaling, for example, requires an RBAC-enabled cluster, and many other things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c22b6ec6-7a27-4029-ff8f-674a40c0e552
* Version I

[2018-09-14 16:15] LisandroSu commented on #14772
Hi everybody,

The ja-jp site was just updated. Please check if everything looks ok.

Thanks!

[2018-09-14 16:16] wat-izz commented on #15024
duplicate, sorry.

[2018-09-14 16:16] #15024 closed

[2018-09-14 16:27] Adam-Smith-MSFT commented on #15011
@KevinXTian I'd recommend posting feedback on https://feedback.azure.com/forums/217298-storage , since this could be more of a feature request. I will also discuss it with the internal team.
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 16:27] #15011 closed

[2018-09-14 16:28] Karishma-Tiwari-MSFT commented on #15005
@hoffe86 Thank you for the feedback.
Can you please share the url of the particular Azure doc, you have been following?

[2018-09-14 16:29] SaurabhSharma-MSFT commented on #14997
@phatcher  Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-14 16:29] SaurabhSharma-MSFT commented on #15000
@RickLanting Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-14 16:30] Karishma-Tiwari-MSFT commented on #14984
@MikeSpark Thanks for your feedback. Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-14 16:30] SaurabhSharma-MSFT commented on #15022
@ppretorius Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-14 16:32] Karishma-Tiwari-MSFT commented on #14977
@ajaypamarthy Thanks for sharing the update. We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 16:32] #14977 closed

[2018-09-14 16:32] SaurabhSharma-MSFT commented on #15023
@mjcarrabine Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-14 16:39] mattbriggs commented on #14992
@TolliLF Thanks! I've updated. #please-close

[2018-09-14 16:39] oleksandr-bilyk opened #15026 "Fix to "Microsoft.Compute/virtualMachinesScaleSets""
This article is about "Microsoft.Compute/virtualMachinesScaleSets" but not about "Microsoft.Compute/virtualMachines". In this document you have following text that should be fixed:

To enable the system-assigned managed identity, load the template into an editor, locate the Microsoft.Compute/virtualMachinesScaleSets resource of interest within the resources section and add the identity property at

[2018-09-14 16:48] sowsan opened #15027 "Failing to fetch the tokens"
Followed the steps as per the document but RBAC is failing..

Here is the detailed error while running the kubectl under user context

kubectl get nodes
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code AB9ANNHVM to authenticate.
E0914 11:42:09.066136    9780 azure.go:126] Failed to acquire a token: acquiring a new fresh token: waiting for device c

[2018-09-14 16:53] jason-j-MSFT commented on #15006
@mrdisley
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 16:54] jason-j-MSFT commented on #14998
@Dimka12
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 17:00] #14992 closed

[2018-09-14 17:02] mike-urnun-msft commented on #14808
@timmyreilly Yup, I'll reach out to the product team about the reasons why `Seconds` won't take any value less than `60`. We will close this issue for now. If there are further questions and feedback regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 17:02] #14808 closed

[2018-09-14 17:05] Mike-Ubezzi-MSFT commented on #12861
@kgremban Can we make a document update to include either the edgeHub s[ecific property values required to accomplish this? I have a question out to Emmanuel that you are cc'd on that might procude the answer we need to make the update.

[2018-09-14 17:06] MicahMcKittrick-MSFT commented on #15024
@wat-izz thanks for the feedback and closing it out as a duplicate ask.

[2018-09-14 17:06] sergaz-msft commented on #14758
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-14 17:06] #14758 closed

[2018-09-14 17:07] mattbriggs commented on #14994
@TolliLF Thanks for pointing this out. I've updated. Thanks! #please-close

[2018-09-14 17:07] BryanTrach-MSFT commented on #15013
@shawnweisfeld Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-14 17:08] femsulu commented on #15020
@FredFaust Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2018-09-14 17:10] #14740 closed

[2018-09-14 17:12] BryanTrach-MSFT commented on #15010
@trevorlittle Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 17:14] BryanTrach-MSFT commented on #14991
@VikramPendse Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 17:15] BryanTrach-MSFT commented on #14988
@KeiroKamioka0000 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 17:15] kobulloc-MSFT commented on #14985
@u983101 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-14 17:17] kobulloc-MSFT commented on #14893
@AC740 We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2018-09-14 17:17] #14893 closed

[2018-09-14 17:19] mike-urnun-msft commented on #15002
Hi @JasonBSteele Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-14 17:20] JonathanHades commented on #11952
Same here, I cannot understand where put validateAuthority: false. Can some one post a snippet of code which illustrate where and how set it. Currently changing to b2clogin.com it prompts me an error about security.

[2018-09-14 17:29] SaurabhSharma-MSFT commented on #15026
@oleksandr-bilyk Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-14 17:41] SaurabhSharma-MSFT commented on #14997
@phatcher Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-14 17:41] sergaz-msft commented on #14769
Hello @avidiyal on Visual Studio Code you have to enable the terminal Window **View >Terminal** and then confirm that the output option is enabled (Left click on the red dot to see it).

![image](https://user-images.githubusercontent.com/22173500/45566149-b4327b80-b84d-11e8-9e28-48c34a31d92d.png)

Can you check the logs on the Output and share with us?
Thank you!

[2018-09-14 17:46] VanMSFT commented on #12373
#please-close

[2018-09-14 17:50] dkkapur commented on #11951
@srrengar

[2018-09-14 17:56] Karishma-Tiwari-MSFT commented on #15027
@sowsan Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-14 17:56] mike-urnun-msft commented on #14261
Thanks for confirming @tsahi - I'll validate and make necessary changes to the doc today or tmrw. ;)

[2018-09-14 18:01] mattbriggs commented on #8956
@TolliLF I've updated the topic. Thanks for letting me know! Cheers, Matt #in-progress

[2018-09-14 18:28] wiazur commented on #11281
Hi, I'm testing the Speech samples and getting the same error. I have a Microsoft Azure free account through CS-Platform-Dev-01. The samples don't say whether we need a key from the Speech Service resource or the Speech Recognition resource. I've tried both but still getting that 401 error. I'm testing only C# samples. I am using "westus" for my region. Any update on this issue?

[2018-09-14 18:32] jmugz3 opened #15029 "Which properties to use for input binding using Javascript."
Hi guys,
There's two areas that contradict each other.

In the example, here =&gt; https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#input---javascript-example
The host.json contains "partitionKey" and "rowKey" for the table input bindings. However, further down in the usage section
here =&gt; https://docs.microsoft.com/en-us/azure/azure-functions/functions-bi

[2018-09-14 18:34] SalmanZubair commented on #14954
Some additional logs for the Cosmos DB issue:

{\"Error\":null,\"Message\":\"An error occurred writing data for CosmosDB. CosmosDB db:[profdevicedb], collection:[profdevicecollection]  - Upsert stored procedure returned error, this operation will be retried. Detailed error message: Message: {\\\"Errors\\\":[\\\"Encountered exception while executing function. Exception = Error: Error in retrieving

[2018-09-14 18:34] #11299 closed

[2018-09-14 18:35] #12373 closed

[2018-09-14 18:35] #13637 closed

[2018-09-14 18:35] #13780 closed

[2018-09-14 18:35] #14067 closed

[2018-09-14 18:35] #14368 closed

[2018-09-14 18:35] #14393 closed

[2018-09-14 18:36] #14529 closed

[2018-09-14 18:36] #14713 closed

[2018-09-14 18:36] #14723 closed

[2018-09-14 18:36] #14741 closed

[2018-09-14 18:37] #14854 closed

[2018-09-14 18:38] #14931 closed

[2018-09-14 18:42] TolliLF opened #15030 "Creating of delegation or forwarder to <region>.cloudapp.<fqdn>"
When we integrate our Azure Stack in our environment - besides &lt;region&gt;.&lt;fqdn&gt; do we also have to add &lt;region&gt;.cloudapp.&lt;fqdn&gt; so that the external IPs for VMs will be resolved?  You'll find one external reference to this if you search for azure-stack-cloudapp-name-resolution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2018-09-14 18:48] mike-urnun-msft commented on #14955
Hey @michelleN Just checking in here again - could you share the URL of the documentation this feedback concerns?

[2018-09-14 18:53] mike-urnun-msft commented on #14883
@azvargas Glad to hear that you're unblocked now and going up and running with your Functions app.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 18:53] #14883 closed

[2018-09-14 18:54] B3zo0 commented on #14955
Hi @mike-urnun-msft let me help you with that https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns

[2018-09-14 18:55] WalkingDisaster opened #15031 "Convention based configuration no longer works"
At some point, configuring "TransportSettings" config section stopped working. It was failing silently in our cluster. In experimenting, I have found that manually creating a X509Credentials object works, but the using SecurityCredentials.LoadFrom the config section fails. I get "System.Fabric.FabricException: 'The security credential type specified is invalid.'" I'm specifying "X509" in the "Secu

[2018-09-14 19:00] tfitzmac commented on #14706
I moved more of the conceptual description of dead lettering in this article, and made the other article more focused on how to implement.
#please-close

[2018-09-14 19:00] mike-urnun-msft commented on #14955
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb21b82-0660-2c3f-1651-86285fa64e59
* Version Independent ID: 2829303e-b6ba-537c-2751-8497e3d591cc
* Content: [Tutorial - Host your domain and subdomain in Azure DNS](https://docs.microsoft.com/en-us/azure/dns/dns-delegate-domain-azure-dns)
* Content Source: [articles/dns/

[2018-09-14 19:01] TravisCragg-MSFT commented on #14987
@dodiggitydag Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-14 19:02] mike-urnun-msft commented on #14955
Thanks @B3zo0! We have assigned this issue to the author to review and take the right course of action.

[2018-09-14 19:08] mike-urnun-msft commented on #14883
Hey @davidhedelin1 Could you go through [Zip Deploy doc](https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push) and open separate issue if you encounter problem with any specific step?

[2018-09-14 19:10] mestew commented on #15023
@mjcarrabine Thanks for the suggestion. Using separate lines will make it easier to read. I am updating the article with your suggestion. #please-close

[2018-09-14 19:18] JasonWHowell commented on #14767
Hi @robinhalabicki

As you found, the **local run** and **local debug** are the two features that work on Windows, but do not work in Mac and Linux. The other features in the article are compatible for all three platforms.

The heading text implies that, but we will make it clearer that it is a limitation:

Sorry for the trouble. Thanks, Jason

CC: @Jejiang

[2018-09-14 19:20] JasonWHowell commented on #14686
@MicahMcKittrick-MSFT

As you found, the **local run** and **local debug** are the two features that work on Windows, but do not work in Mac and Linux. The other features in the article are compatible for all three platforms.

Since this is a feature request, would you please help us track it and vote the importance here [https://feedback.azure.com/forums/327234-data-lake](https://feedback.azure.c

[2018-09-14 19:27] MicahMcKittrick-MSFT commented on #14982
@Jakobo you are correct as some peoples subscriptions will have different limitations and particular regions only have specific sizes.

I will assign to author to review and determine if this is something to note in the doc.

[2018-09-14 19:28] Adam-Smith-MSFT commented on #15019
@andrePKI  you're correct, RA-GRS is a Read only redundancy, which doesn't provide write access. I'll assign it to the author for an update.

[2018-09-14 19:31] kamellemann commented on #14925
Hi all,

we can have an remote Session next week so that i can demonstrate my demo-setup.

BR,
Dominik

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Micah <notifications@github.com>
Sent: Friday, September 14, 2018 9:24:54 PM
To: MicrosoftDocs/azure-docs
Cc: Dominik Wilsberg; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Change Doku (#14925)

@

[2018-09-14 19:35] MicahMcKittrick-MSFT commented on #14993
@carlfm01 you will have to make a few configuration changes if you want this to work. And it will determine how you want to connect. On windows machines this will be setup for you but on Linux the rules are setup for SSH instead.

By default you should have a load balancer with your scale set. Assuming you are using LB with a public IP you will want to connect to that LB using its IP and the assoc

[2018-09-14 19:46] avisuj opened #15032 "Synchronizing Computer Objects"
I don't believe that's a requirement for Hybrid Device Join - the below para needs to be updated:

Azure AD connect has synchronized the computer objects of the devices you want to be hybrid Azure AD joined to Azure AD. If the computer objects belong to specific organizational units (OU), then these OUs need to be configured for synchronization in Azure AD connect as well.

---
#### Document Detai

[2018-09-14 19:48] cijothomas commented on #14929
There are 2 sampling processor added by default - one excludes Event types, and one includes Event types. This is done so that Event types are not affected by others (like Request etc).

[2018-09-14 19:56] MicahMcKittrick-MSFT commented on #15027
@sowsan I notice you are an FTE. Are you trying these steps with your internal subscription? The granting permissions step will not work properly as you will not be listed as the tenant admin.

Otherwise, are you doing this on a personal subscription?

[2018-09-14 19:58] barclayn commented on #14761
@aljo-microsoft could you contact me via corporate email? Thank you.

[2018-09-14 19:59] MicahMcKittrick-MSFT commented on #14868
@mikanyg I heard back on this issue.

EndPointCertificates used to work with OWIN as it was httpsys based. Kestrel is not httpsys based and is cross platform.

If you would usea httpsys server in aspnet core it would still work but it will not be .net core app and will run only on windows.

[2018-09-14 20:00] avisuj commented on #15032
Correction -> I don't believe Synchronizing Computer Objects is a requirement for federated domains.

[2018-09-14 20:02] lemvigh commented on #14929
Yes, but what if I add a third with for example include exception. Then exceptions will be covered by both exclude event and include exception, what settings will then win? Or will it be sampled twice first by one processor then by the second?

[2018-09-14 20:04] JasonWHowell commented on #14998
@Dimka12 Good point. I'll add a bullet for that advice. It should show up this afternoon later on.

Thanks, Jason

[2018-09-14 20:05] SaurabhSharma-MSFT commented on #15023
@mjcarrabine We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-14 20:05] #15023 closed

[2018-09-14 20:08] SaurabhSharma-MSFT commented on #14974
@TiloGit Can you please elaborate ? Are you getting any error ?

[2018-09-14 20:09] BryanTrach-MSFT commented on #14703
@FabioMariano72 The health probe pings will come from a specific IP address. Can you please:

1. Navigate to azure portal
2. navigate to your web app overview in the portal
3. navigate to the 'diagnostic logs' blade
4. ensure that web server logging is enabled (below steps assume you are using file server as the log location)
5. navigate to the 'advanced tools' blade and select 'go'
6. Select 'deb

[2018-09-14 20:12] ran-ten21 opened #15033 "Error: The activation did not complete succesfully"
User received this error when trying to install Azure Backup Agent.
We followed these steps to get the issue fixed:
Go to your azure portal -&gt; go to Recovery Services Vault (if you don’t see it, you can search for it or add it to your menu)
Go to your vault
Look under Manage -&gt; Go to Backup Infrastructure
Look under Management Servers -&gt; Go to Backup Management Servers.
and we deleted the

[2018-09-14 20:15] sowsan commented on #15027
Thanks. I’m using my own AD and subscription and not internal one. I was able to grant the permission for the AZ AD Apps. Not sure what is causing the issue.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Micah <notifications@github.com>
Sent: Friday, September 14, 2018 3:56 PM
To: MicrosoftDocs/azure-docs
Cc: sowmyan soman; Mention
Subject: Re: [MicrosoftDocs/

[2018-09-14 20:15] MohitGargMSFT commented on #14847
@myokeeh We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-14 20:15] #14847 closed

[2018-09-14 20:16] MohitGargMSFT commented on #14864
@kennethvs We will now proceed to close this thread. If there are further questions regarding this matter, please open a new issue and we will gladly continue the discussion.

[2018-09-14 20:16] #14864 closed

[2018-09-14 20:19] SaurabhSharma-MSFT commented on #15000
@RickLanting Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2018-09-14 20:27] #14767 closed

[2018-09-14 20:28] Karishma-Tiwari-MSFT commented on #14996
@ArvidBaa Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 20:28] MarileeTurscak-MSFT commented on #15026
Thanks, @oleksandr-bilyk ! I created a pull request and will merge your change shortly.

[2018-09-14 20:28] #15026 closed

[2018-09-14 20:34] MohitGargMSFT commented on #14946
@vignatov Please note that Resource Owner Password Grant flow the username and password used must be credentials from an existing user in your Azure AD B2C tenant. In case of new user, it need to become part of Azure AD B2C tenant and then only its credentials can be used for the flow.

[2018-09-14 20:35] Karishma-Tiwari-MSFT commented on #15029
@jmugz3 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 20:35] jahan2001 opened #15034 "hossein roosefid"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-14 20:36] iainfoulds commented on #14982
Sorry you ran into issues, @Jakobo. I think this is actually more a need for an Azure CLI issue to be filed in terms of the defaults not being something that would present across all regions / subscriptions, and also to update the error message returned - https://github.com/Azure/azure-cli/issues. I'd almost suggest the CLI could have a few defaults it could us, query on what's available for a par

[2018-09-14 20:37] Karishma-Tiwari-MSFT commented on #15031
@WalkingDisaster Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 20:38] jahan2001 opened #15035 "hossein roosefid"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-14 20:41] jolsen71 opened #15036 "PHP Boilerplace reference URL seems wrong"
The stock Azure PHP code template says "// This sample uses the Apache HTTP client from HTTP Components (http://hc.apache.org/httpcomponents-client-ga/)" which looks like is a Java project, and the Java template has the same reference. It seems like this attribution is incorrect for PHP, which probably meant so say something like "// This sample uses the HTTP_Request2 PHP library (https://github.c

[2018-09-14 20:44] #14982 closed

[2018-09-14 20:48] srdan-bozovic-msft commented on #14999
#sign-off

[2018-09-14 20:54] carlfm01 commented on #14993
Now is working, yesterday (13/9/2018) the portal didn't show "ip per instance", today that option was allowed, so I created the VMSS using this option, I just added 3389 to the Network security group and now I can connect using RDP to specific Linux vm instance 👍 Finally.

![linuxdsvm](https://user-images.githubusercontent.com/32177100/45574543-9bb26900-b82d-11e8-8803-0b80d03f9ba5.png)

Thanks for

[2018-09-14 20:56] Karishma-Tiwari-MSFT commented on #15005
@hoffe86 Thanks for sharing the document url. I have updated the issue with doc details.
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 21:07] Phydeauxman commented on #11515
Let me know if you have this figured. I can walk you through how to get it working if not.

[2018-09-14 21:08] FallenGameR opened #15037 "Feedback - iteration 1"
&gt;Synchronization can be affected by multiple things, including reboots and network traffic between the time source and the computer fetching the time.
Plus temperature, preassure and quality of the hardware clock used. Also misconfiguration is the most common factor of a bad time sync. We've seen too many cases when people try to manually configure time sync without being aware of the delicacy

[2018-09-14 21:18] Mike-Ubezzi-MSFT commented on #12861
Document to be updated with desired example configuration.

[2018-09-14 21:28] retrospct commented on #13062
Was this ever updated with the Node.js functions for doing this? I'm looking to implement this in a bot I'm working on. Thank you!

[2018-09-14 21:29] rolyon commented on #14922
Hi @dcbrown16
This is good feedback. Since DataActions is still in preview, we plan to leave descriptions as they are for now. The descriptions also match what is in the Azure portal. I've created a item in our backlog to revisit this in the future.
thanks

[2018-09-14 21:29] TravisCragg-MSFT commented on #15030
@TolliLF Thanks for the feedback. We are actively investigating and will get back to you soon.

[2018-09-14 21:30] rolyon commented on #14922
@MicrosoftDocs/azure-cxp-triage
#please-close

[2018-09-14 21:34] cynthn commented on #15037
Will you also be reviewing the Linux version? https://review.docs.microsoft.com/en-us/azure/virtual-machines/windows/time-sync?branch=pr-en-us-49632

Thanks for the feedback!

From: Aleksandr Kostikov <notifications@github.com>
Sent: Friday, September 14, 2018 2:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Cynthia Nottingham <cynthn@microsoft.com>; Mention <mention@norepl

[2018-09-14 21:35] Mike-Ubezzi-MSFT commented on #14780
Can you please verify that your `remote-secure.yaml` file is correct, as I am unable to reproduce this issue.

hosts: [miubezzi-graphapi.gremlin.cosmosdb.azure.com]
port: 443
username: /dbs/sample-database/colls/sample-graph
password: <PRIMARY KEY>
connectionPool: {
  enableSsl: true}
serializer: { className: org.apache.tinkerpop.gremlin.driver.ser.GraphSONMessageSerializerV1d0, config: { serializ

[2018-09-14 21:37] krokoko commented on #14965
Hello Sergaz,

  Thank you for the links. Yes I tested these tips and tricks but the issue is still there.

[2018-09-14 21:39] dodiggitydag commented on #14987
Thank you for looking.  After further testing I confirmed that both connections must be made, even though the connection appears under both VPN gateways.

[2018-09-14 21:40] SaurabhSharma-MSFT commented on #14949
@minhaj-dell If you are running a batch process also it won't be running with your user's context.  For your scenario you can have a Resource Owner Password grant flow and you can run your batch with the service account and password, however, you need to change the password whenever it expires.

[2018-09-14 21:41] #14922 closed

[2018-09-14 21:42] Mike-Ubezzi-MSFT commented on #14867
@Molotch Is it possible that you can provide more explicit feedback about what enhancements to the document you would like to see? Actionable items are easier to implement. Thank you, ~MIke

[2018-09-14 21:45] FallenGameR opened #15038 "Feedback - iteration 1"
For the top part of the document that seems to be shared with the Windows-specific docs - the same issues as mentioned in https://github.com/MicrosoftDocs/azure-docs/issues/15037

&gt; The deafult congfiguration for Azure Marketplace images uses both NTP time and VMICTimeSync host-time.
I'm not sure this is true for of Linux images found in the Azure Marketplace. As earlier it was mentioned "On st

[2018-09-14 21:52] Mike-Ubezzi-MSFT commented on #14908
@m60freeman Okay, so PowerBI does honor and support the `application intent=readonly` functionality but, it appears you need to install the "SQL Native Access Client" provider that supports application intent.

[Connect to SQL Server Using Application Intent Read-Only](https://blogs.msdn.microsoft.com/alwaysonpro/2013/08/02/connect-to-sql-server-using-application-intent-read-only/)

Although the d

[2018-09-14 21:57] Mike-Ubezzi-MSFT commented on #14923
@allenwux It appears there are some updates that need to be made to this document. If you would like @zemien to be more detailed about these items, additional details can be provided. Thank you, ~Mike

[2018-09-14 22:03] femsulu commented on #14726
@pinyuko  close this issue for now. If there are further questions regarding this matter, please reply to and we will gladly continue the discussion.

[2018-09-14 22:03] #14726 closed

[2018-09-14 22:09] femsulu commented on #14846
@lrxtom2 Closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2018-09-14 22:10] #14846 closed

[2018-09-14 22:37] andrepodnozov commented on #14679
Unfortunately it still doesn't work for me. I followed the link that you provided, and it pointed me to this other page: https://github.com/Azure/remote-monitoring-services-dotnet/blob/master/docs/LOCAL_DEPLOYMENT.md
I was executing step 1 of the instructions: "start.cmd", and I got the following error from the script:
"error: unknown option `--setLocalEnvironments'"

[2018-09-14 22:37] sowsan commented on #15027
Let me know if you guys want to access my subscription. I’m using a test free azure subscription.

From: Micah <notifications@github.com>
Sent: Friday, September 14, 2018 4:25 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: sowmyan soman <sowmyans@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Failing to fetch the tokens (#15027)

@so

[2018-09-14 22:55] jeevansd commented on #8409
@tmaeller What is the change you are expecting in step 3 here? Can you please provide the details?

[2018-09-14 22:56] tapialuism opened #15040 "Error on creating the MyvmNva"
First of all Awesome tutorials!!
Second I am unable to create the MyVmNva VM. The error states that its unavailable in EastUs. I will attach the error later tonight as I now must sleep.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5578dba8-a3fa-6d18-fa65-9f9d490b365a
* Version Independent ID: eda00501-d2c7-3da3-877a-

[2018-09-14 22:56] TiloGit commented on #14974
Hi, expected behavior:
Join Computer to domain only possible by member of "AAD DC Administrators" Group.

Actually behavior:
Can join Computer to the Domain with user **not** member of "AAD DC Administrators" group

[2018-09-14 23:18] Molotch commented on #14867
Definitely. It would be nice to have a plain number to relate to. When is a file considered large enough to split in GB (uncompressed)? What is the preferred smaller file size it ought to be split into?

[2018-09-14 23:41] nheinbaugh commented on #15009
I also am having problems and look forward to the investigation. Thank you Karishma :)

[2018-09-14 23:41] Karishma-Tiwari-MSFT commented on #14712
@KeiroKamioka0000 Any updates?

[2018-09-14 23:43] Karishma-Tiwari-MSFT commented on #14631
@cbeech1980 Any updates? Were you able to find the solution? If not, please share the json file contents as asked above.

[2018-09-14 23:44] TravisCragg-MSFT commented on #15040
@tapialuism thanks for the feedback. Please post your error when you are ready to continue.

[2018-09-14 23:47] Karishma-Tiwari-MSFT commented on #15034
@jahan2001 Do you have a question on any of the Azure doc? If yes, please share the url of the doc with your question or feedback.

[2018-09-14 23:48] Karishma-Tiwari-MSFT commented on #15035
@jahan2001 This looks like a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/15034 . I will close this issue.

[2018-09-14 23:48] #15035 closed

[2018-09-14 23:49] porschiey commented on #15009
+1
I'm also getting this error, on multiple RaspPi's

[2018-09-14 23:52] Karishma-Tiwari-MSFT commented on #15038
@FallenGameR Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 23:57] Karishma-Tiwari-MSFT commented on #15037
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-14 23:57] porschiey commented on #14767
Is there a roadmap going forward for this to be compatible on non Windows operating systems?

[2018-09-15 00:04] JasonWHowell commented on #14767
@porschiey Good question - I don't have the info on that (I'm just the docs guy).

Since its a feature ask, Since would you please help us track it and vote the importance here: [https://feedback.azure.com/forums/327234-data-lake](https://feedback.azure.com/forums/327234-data-lake).

Thanks, Jason

[2018-09-15 00:41] chrispadgettlivecom commented on #14822
Specifically, the **Predicates** and **PredicateValidations** elements must be placed after the **ClaimsSchema** element and before the **ClaimsTransformations** one.

[2018-09-15 01:24] fhryo-msft opened #15042 "Example bug?"
In the doc, it's described as below:
tags[&lt;tagName&gt;]
Example: tags.[Acct.CostCenter] where Acct.CostCenter is the name of the tag.

But it looks like that example has extra ".". Will you confirm? Is it supposed to be "tags[Acct.CostCenter]"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d956852a-d98e-c022-d6f2-c

[2018-09-15 02:04] MicahMcKittrick-MSFT commented on #14983
@badalk based on the doc it appears to provide a work around

https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#for-rbac-enabled-clusters

Does this not address the issue? If not please clarify so I can better assist :)

[2018-09-15 02:35] BryanTrach-MSFT commented on #14718
@Prashanthlkv We will be closing this as a duplicate of MSDN forum post: https://social.msdn.microsoft.com/Forums/en-US/07adf107-8392-455c-8f54-6f5c98efab02/android-azure-notification-hub-sdk-is-not-working-in-android-pie?forum=notificationhubs

[2018-09-15 02:35] #14718 closed

[2018-09-15 02:49] badalk commented on #14983
Below highlighted sections sounds contradicting to me

From: Micah <notifications@github.com>
Sent: Friday, September 14, 2018 10:04 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Badal Kotecha <Badal.Kotecha@mindtree.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] How do we make the dashboard available in RBAC enabled cluster using az aks br

[2018-09-15 05:20] jordanmills opened #15044 "Installation parameters don't work as described"
This agent was deployed to a pilot group, and the computers never showed up in the OMS workspace.  Investigation of the event logs showed an error in the operations manager event log with event ID 4000 and message (identities removed):
"DNS resolution of the service name [guid].oms.opinsights.azure.com failed.  Please check that the computer has Internet access or that a HTTP proxy has been config

[2018-09-15 08:14] nickbrown1968 commented on #14723
Under the prerequisites heading there is a line:

"Configuration/Process server requirements"

Later on there is a line:

"Configuration/Process server sizing requirements"

Both of which suggest that the requirements are for a server running
both the Configuration and Process server roles, rather than the
Configuration server only.

Regards, Nick.

On 12/09/2018 14:13, Rayne Wiselman wrote:

---

[2018-09-15 08:15] npa62 commented on #9466
Two questions:
1) If you change something in the web-app, do you have to deploy it again?
2) Does this only work if you have a physical device that sends data, and not the PI simulator?

[2018-09-15 08:17] riedelbauer opened #15045 "Install packages for sample application wrong command"
sudo npm install
doesnt worked

sudo apt-get install npm
worked for me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a57d05c9-562c-02a5-7ccd-b1b1bb7c8f0c
* Version Independent ID: 17ee094f-aee3-ca0c-959b-6380e4ea8b89
* Content: [Raspberry Pi to cloud (Node.js) - Connect Raspberry Pi to Azure IoT Hub](https://docs.micr

[2018-09-15 08:50] thomas-kinnari commented on #9466
Hi!

Ad 1) Yes, i.e. that was what I did at least. I pulled my code from my
github repo and changed it, then deployed to the webapp.

Ad 2) It also works with simulated data. As long as data is pushed into the
event hub, and the webapp reads from the right stream. That should do it
(works for me).

Cheers!

lør. 15. sep. 2018 10.15 skrev npa62 <notifications@github.com>:

--

Med venlig hilsen / K

[2018-09-15 09:00] IvanKirianov opened #15046 "Pod allocation update existing clusters"
Do you plan to change pod allocation limitation for exiting clusters? It's would be nice, if this setting will appear in Portal or as an additional Az cli command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22ad4873-c73d-4b90-2063-927a1060d2a2
* Version Independent ID: 8e6643ad-7333-a786-8712-3d17291e12a7
* Content

[2018-09-15 09:24] RoopAnymous opened #15047 "Pipeline created using .Net when edited in UI gives Validation error and prevents from Publishing"
I have created 15-20 plus activities in Pipeline programmatically using .Net . This worked like a charm. When I try to edit or modify even any smaller changes in UI directly like  dataset changes -file ,path script name changes to even pipe name changes or simple dot , it throws a validation error for each 20 activities with the message that each of these activity needs a parameter. I do have  par

[2018-09-15 09:26] riedelbauer commented on #7392
This problem is caused by the wiringpi library cannot work on new version of system.

As this issue mentions, for a quick workaround, you can install wiringpi-node instead of wiring-pi.

1.Open the project with vs code

2.Run the command:
npm install wiringpi-node

3.Use require('wiringpi-node') instead of require('wiring-pi')

[2018-09-15 09:30] RoopAnymous opened #15048 "Data Read and Data Written from Azure Table store to Data Lake Store does not Match but suceeded"
Data queried and read from Table shows 97.833 Mb and written only 93.025.  However this activity and my complete pipeline shows as succeeded. P.S: I am not able to attach the screenshot here for reference

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f8f06db-58d4-75b9-f150-9a1b4767cf75
* Version Independent ID: 54c26

[2018-09-15 09:38] stevehurcombe commented on #11052
I have this problem as well. It's not terribly clear how these new tools fit in with VS 2017. I arrived here from a link on the Visual Studio development article above this one in the contents.
I am using 15.8.3 at the moment.

No doubt I'll work it out, but it's a frustrating hurdle when you're trying to learn so many new topics and concepts. The context switch between the toolsets is jarring.

[2018-09-15 09:47] chrisorisawayi commented on #14066
Is there any update on where the ASCJIT module is located?

[2018-09-15 10:52] JSaaS commented on #7603
I'm wrestling with this aswell. I have APIM setup and a OAuth2 service in form of Azure AD defined. I still seems like the web developers needs to have a separate AD Application registration and hold on to the client_id and secret? Either this or I have to hand out the client_id and secret for APIM itself?

Disclaimer: I'm not very good at the OAuth2 flows, but the above is what I understand from

[2018-09-15 12:52] Molotch opened #15049 "Supported formats for capture serialization"
Short question. You can supply any binary payload with the event body. What formats and encodings are supported for use with the capture functionality? Only JSON objects encoded in UTF-8?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71093e2a-bbff-3a79-5f16-289a3a5f6cd7
* Version Independent ID: e4e9873d-0ae7-25a4-16d

[2018-09-15 15:16] MicahMcKittrick-MSFT commented on #15016
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-15 15:17] MicahMcKittrick-MSFT commented on #15046
Thanks for the question! We are investigating and will update you shortly.

[2018-09-15 15:17] MicahMcKittrick-MSFT commented on #15044
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-15 15:18] MicahMcKittrick-MSFT commented on #15047
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-15 15:25] jasonshave opened #15051 "CloudConfigurationManager appears to use a deprecated reference"
The GetSetting() method from CloudConfigurationManager references Microsoft.Azure which appears to be deprecated. It would be great to update this document as I've referenced it several times only to make the mistake of using outdated examples. I've had customer feedback of the same nature.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-09-15 15:32] FabioMariano72 commented on #14703
Hi Bryan, I really appreciated you help.
Following your instructions, I discovered the IP coming from the traffic manager:
52.240.151.125 Azure+Traffic+Manager+Endpoint+Monitor
13.65.95.152 Azure+Traffic+Manager+Endpoint+Monitor

Indeed, I didn't see those classes in the Azure's IP addresses downloaded from Microsoft documentation.
Anyway, now I am going to setup correctly both IP restrictions and

[2018-09-15 16:05] LanceMcCarthy opened #15052 "Sample code bug"
The sample won't run as-is, it needs an additional import statement. Here's the missing part:

`import json`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ca59440-24bf-dba5-b540-eadcaeec4f56
* Version Independent ID: e8997fd0-cb84-c41d-84d3-c30b218a5922
* Content: [Quickstart: Analyze a remote image - REST, Python -

[2018-09-15 16:10] LanceMcCarthy commented on #15052
Additionally the print line should use the variable instead of invoking the response method again:

`print(json.dumps(analysis))`

and not

`print(json.dumps(response.json()))

Here's the entire sample with the fixes mentioned above:

[code]

[2018-09-15 16:30] arnabganguly opened #15053 "Issue in the document"
When the script creates the VNet  it already assigns the VM as the Custom DNS Server. Since at this stage Bind is not installed in the VM and Bind Config is not yet done , the below steps fail since the VM is unable to resolve any public internet addresses.
- sudo apt-get update -y
- sudo apt-get install bind9 -y
Solution : Change ARM script so that VM is not set as the custom DNS server to start

[2018-09-15 18:02] jason-j-MSFT commented on #15053
@arnabganguly
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-15 18:15] mike-urnun-msft commented on #15052
Hi @LanceMcCarthy Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-15 18:51] jason-j-MSFT commented on #14852
@v-maroge I do not the collection interval for custom logs is configurable at this time, the closest thing I see to that is here:
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics-schema-1dot3-and-later#logs-element

That above linked configuration is probably a longshot, but I thought you might find it interesting.

[2018-09-15 18:51] #14852 closed

[2018-09-15 19:20] arnabganguly opened #15056 "Issue 2"
The syntax for the /etc/bind/named.conf.options is incorrect and this fails the nslookup . The syntax should be . There is a semicolon after the forwarders IP address.

---
forwarders {
        168.63.129.16;  #This is the Azure DNS server
    };
---

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9112aca7-92ac-cd06-70a

[2018-09-15 19:28] jason-j-MSFT commented on #14872
@BertPenney Log Analytics does not offer ticketing features, although I do see this ITSM connector which supports SCSM:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-itsmc-overview

You can use Log Analytics to monitor on-premises or hybrid environments as outlined here:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-concept-hybrid

You can find guidance fo

[2018-09-15 19:28] #14872 closed

[2018-09-15 19:44] Alberto-Vega-MSFT commented on #14402
Hi @hiesus are you still having this issue? It seems like an issue with .Net Core please look into this VS Code and .NET setup guide please let us know if that doesn't work.

[2018-09-15 19:50] jason-j-MSFT commented on #14850
@MGoedtel should there be any guidance added to the Note for the updated management packs:
https://docs.microsoft.com/en-us/azure/log-analytics/log-analytics-om-agents#prerequisites

The Note does not include 1807 so it is accurate, but we have some feedback here.

[2018-09-15 20:38] furmangg commented on #13764
By the way, here's an ADFv2 example of creating a user-defined restore point (a "backup") of your DW:
https://github.com/furmangg/automating-azure-sql-dw/blob/master/README.md#backupazuresqldw

[2018-09-15 21:05] ajaguilar-viewnext opened #15058 "issue in Linux install manually - Mobility Agent RELEASE_9.19.0.0"
Hi folks,

Yesterday I tried to install mobility agent (v 9.19) manually in RHEL 7.2 and It was impossible. I had to dig into the code (bash scripts) and one of the main problem was sentence like "tr [A-Z] [a-z]" to get role or hypervisor. I had to change thas syntax to "tr A-Z a-z" (removed brackets) , in order to bypass next conditions.

Please review input parameters validation. It's a real mes

[2018-09-15 21:06] rolyon commented on #14846
Hi @lrxtom2
I'll include this new action in the next doc update.
thanks

[2018-09-15 21:53] redware opened #15059 "nuget Microsoft.Owin.Host.SystemWeb"
Thank you - this is a perfect document.
I have tried three code samples all causing many problems but this works so well.
Just one thing for the home controller - nuget Microsoft.Owin.Host.SystemWeb and using Microsoft.Owin.Host.SystemWeb;

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 768d0a46-3c55-33e2-630e-075e9b624

[2018-09-15 22:14] vhe1 commented on #14684
There are scenarios where lots of sessions are created, like with call/return, where I send a message to a service via queue, containing the id of a session I listen to, then I listen on a sessioned queue for the response.

Given all the multithreading, scaling and reboot/migrate stuff in a modern web hosting, I really see no other way to implement a call/return using anything other than random gu

[2018-09-15 22:31] redware commented on #15059
Sorry - I take it back - you were perfect. I missed this out.

[2018-09-15 23:27] LanceMcCarthy opened #15060 "HttpClient implementation is deprecated."
The sample code uses and outdated HttpClient. When used in the IDE (like IntelliJ), there is strong warning which causes new users to abandon the quick start.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d212895d-e152-139b-5f7c-45c9bbc1000d
* Version Independent ID: 769e9a89-fbc1-7d13-7865-fa05d0d703e7
* Content: [Fa

[2018-09-15 23:42] mike-urnun-msft commented on #15056
@arnabganguly Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-09-15 23:47] mike-urnun-msft commented on #15059
@redware Thank you for your feedback and kind words! Glad to hear that this documentation was the one!

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-15 23:47] #15059 closed

[2018-09-15 23:53] mike-urnun-msft commented on #15058
@ajaguilar-viewnext Thank you for reporting this issue! We will review and make any necessary changes.

[2018-09-15 23:55] mike-urnun-msft commented on #15060
@LanceMcCarthy Thank you for reporting this issue! We will review and make any necessary changes.

[2018-09-16 01:14] mikaelsnavy commented on #14670
Just tested streaming to Log Analytics at the actual SQL level and it is working!! Thanks so much!

[2018-09-16 01:28] johndowns opened #15061 "Scheduler job won't deploy from an ARM template when using the listAccountSas function"
I am trying to create a storage queue scheduler job using the new [`listAccountSas` ARM template function](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#list) to create a SAS token for a storage account. [The template I'm deploying is available here.](https://gist.github.com/johndowns/73665b071d596a18b07d67832a01e2da)

However, when I depl

[2018-09-16 03:53] JasonWHowell commented on #15056
@arnabganguly this looks like an obvious fix. Thanks for helping improve the docs!

I'll push a change in a few minutes. Should be out sometime Monday.

[2018-09-16 03:55] JasonWHowell commented on #15053
@arnabganguly This one I'm less sure about how things work internally. I need one of our devs to take a look at your suggestions to be sure.

Thanks, Jason

[2018-09-16 04:18] a0989422508 opened #15062 "https://haonature.com"
https://haonature.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c7bf55-9a9e-9e54-15db-15c59a80d471
* Version Independent ID: b32d0d9a-99fd-9721-e093-54dfd43543ad
* Content: [Introduction to Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/introduction)
* Content Source: [articles/cosmos-db/intro

[2018-09-16 04:23] RyanTBerry opened #15063 "Complete example on invoking API via PowerShell"
I have built a complete example on invoking the API here: https://github.com/Microsoft/csa-misc-utils/tree/master/psh-GetArmLimitsViaAPI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0e0e84a-7aa0-e751-f7b0-f60505df154a
* Version Independent ID: 93bfc173-6c71-5601-dbf1-8cf551a42495
* Content: [Azure Resource Manager r

[2018-09-16 04:38] #15056 closed

[2018-09-16 04:53] mike-urnun-msft commented on #15061
@johndowns Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-16 05:52] cwithfourplus opened #15064 "Sample code for EF Context has blocking Task Call"
Using Task&lt;T&gt;.Result is a blocking call and if there is Web App/API that will connect to database on each user call. Such a code will reduce throughput of Web App/API i.e. and hence is not recommended way to do it. I have experienced with PFEs checking production issues and pointing to all Task&lt;T&gt;.Result things as primary issue. Please provide a better approach else Secure Azure SQL Da

[2018-09-16 06:08] kgreed opened #15065 "This english makes no sense! The word Assign does not mean Create"
"Run the identity assign command to create the identity for this application:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a93ee241-6e6c-12c6-cb14-7c5275bda78d
* Version Independent ID: 9db0ec07-7ee2-a27e-66da-eb04487a0d11
* Content: [Managed identities in App Service and Azure Functions](https://docs.microsoft.com/

[2018-09-16 06:26] awcchungster opened #15066 "Azure Point-to-Site VPN Cert Files Not Accepted By Mac"
This issue refers to the documentation on [Create and install VPN client configuration files for native Azure certificate authentication P2S configurations](https://docs.microsoft.com/en-us/azure/vpn-gateway/point-to-site-vpn-client-configuration-azure-cert).

Specifically, on Mac OS X, I am able to generate the cert and successfully upload it to the Azure Portal for provision of the client cert.

[2018-09-16 07:46] Karishma-Tiwari-MSFT commented on #14631
@cbeech1980 We will now close this issue. When you are ready, please reopen it and we will gladly continue the discussion.

[2018-09-16 07:46] #14631 closed

[2018-09-16 07:47] Karishma-Tiwari-MSFT commented on #14712
@KeiroKamioka0000 We will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-16 07:47] #14712 closed

[2018-09-16 07:49] Karishma-Tiwari-MSFT commented on #14984
@MikeSpark Can you please the url of the doc you have been following so that we can redirect this issue to the right place and help you with the problem you are facing?

[2018-09-16 07:50] Karishma-Tiwari-MSFT commented on #15034
@jahan2001 Do you have any question related to any doc? If yes, please share the doc url that you have been following.

[2018-09-16 07:53] Karishma-Tiwari-MSFT commented on #15066
@awcchungster Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-16 10:01] kjayantmenon opened #15068 "An error occurred while rendering the map."
Remote Monitoring Accelerator
Provisioned the RMA solution in SE Asia Region. I used my MSDN subscription for the purpose. On opening the monitoring dashboard, I encountered error - "An error occurred while rendering the map."

Assuming it was something to do with the Azure Maps in the region, I
provisioned the RMA solution in East US.
I encountered the same error - "An error occurred while render

[2018-09-16 10:34] eugen-nw commented on #14371
The requested example is not present yet, so why is this item closed please?

[2018-09-16 11:34] kgopi05 opened #15069 "How to deploy using Terraform VM Extension"
Hi, Can you provided the settings / parameters need to be added for VM Extensions when deployed using Terraform ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08b1a2dc-7fa3-20d8-d6d9-990bf1cfe34d
* Version Independent ID: 98c9a0f0-35bc-eacd-9aaf-acfd4b968fee
* Content: [Microsoft Antimalware Extension for Windows VMs

[2018-09-16 11:45] kgopi05 commented on #15069
Getting below error in terraform when executing the VM Extension module. azurerm_virtual_machine_extension

resource "azurerm_virtual_machine_extension" "avext" {
name                 = "IaaSAntimalware"
location             = "${azurerm_resource_group.labrg.location}"
resource_group_name  = "${azurerm_resource_group.labrg.name}"
virtual_machine_name = "${azurerm_virtual_machine.vm-windows.name}"

[2018-09-16 11:48] options opened #15070 "This sample is not fit to explain function chaining"
I think HelloSequence sample is not good to explain function chaining.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b6ce511-60d0-9d1a-cf6f-c955adeae20b
* Version Independent ID: 0da09c8f-0a2f-26e4-2948-fcb43f67e251
* Content: [Function chaining in Durable Functions - Azure](https://docs.microsoft.com/en-us/azure/azu

[2018-09-16 13:38] SaurabhSharma-MSFT commented on #14974
@TiloGit This documentation is about adding VM to Azure AD Management Domain Services managed domain. If are having this this issue while adding VM to a Azure AD DS managed domain then I suggest you open a Azure support ticket so that an Identity engineer could further check on it. Please let me know if you do not have support package, and I will help enable a one time free support ticket for you.

[2018-09-16 14:12] cgillum commented on #15070
@options What do you think would be a better example to use?

[2018-09-16 15:20] RoopAnymous opened #15071 "Does ParallelCopy works from Azure Table to DataLake when assigned programmatically using .Net API"
Tried to assign ParallelCopy property to integer using .Net api, did not work. Tried with an Expression but the value should be string not integer as expected as resultTypein case of Parallel Copy property

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bbd66af-d49f-e595-a7bc-c48cd3675ddc
* Version Independent ID: d3e4

[2018-09-16 16:14] #5686 closed

[2018-09-16 16:14] #9813 closed

[2018-09-16 16:14] #11349 closed

[2018-09-16 16:41] pisees opened #15072 "Volatile (in memory) option for Reliable Collection"
The Actor model persistence where "state is kept in memory only and replicated", called Volatile. Is this available for reliable collections as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b741800f-ac4d-5a3a-bf47-586618ce60d3
* Version Independent ID: 55e5bfd3-37d8-0baa-b18c-b6b3f2980529
* Content: [Introductio

[2018-09-16 16:44] pisees commented on #15072
Never mind, it is not currently supported. See: https://social.msdn.microsoft.com/Forums/azure/en-US/50fd6e7d-3968-4c00-aaee-5e1e3d17afcd/volatile-reliablecollections

[2018-09-16 18:24] Rezduan83 opened #15073 "2 fa key kucoin"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-16 18:30] Psvensso commented on #14577
As of today https://login.microsoftonline.com/te/your-tenant-namec.onmicrosoft.com/oauth2/authresp is the correct OAuth URL.  When added to the Valid OAuth Redirect URIs it works as expected.

[2018-09-16 19:00] Karishma-Tiwari-MSFT commented on #15062
@a0989422508 Do you have a question related to this doc? Please clarify so that we can help you out as quickly as possible.

[2018-09-16 19:04] Karishma-Tiwari-MSFT commented on #15063
@RyanTBerry Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-16 19:05] Baran121 commented on #13479
me either, after done all access denied, did you get a remedy for this issue mbatista??

[2018-09-16 19:05] Karishma-Tiwari-MSFT commented on #15064
@cwithfourplus Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-16 19:07] Karishma-Tiwari-MSFT commented on #15065
@kgreed Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-16 19:08] Karishma-Tiwari-MSFT commented on #15068
@kjayantmenon Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-16 19:10] Karishma-Tiwari-MSFT commented on #15069
@kgopi05 Thanks for the question! We are currently investigating and will update you shortly.

[2018-09-16 19:12] Karishma-Tiwari-MSFT commented on #15071
@RoopAnymous Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-16 19:16] Karishma-Tiwari-MSFT commented on #15072
@mcoskun Can you please take a look if adding this information in the doc itself would be a good idea. Thanks :)

[2018-09-16 19:17] Karishma-Tiwari-MSFT commented on #15073
@Rezduan83 Can you please share the url, if there is a particular Azure doc you have been following?

[2018-09-16 19:28] Karishma-Tiwari-MSFT commented on #14984
@MikeSpark Any update?

[2018-09-16 19:51] BGHSys opened #15074 "Secure Azure SQL Database connection from App Service using a managed identity"
There are a number of other sensitive credentials in web.config under &lt;appSettings&gt; in my app that I would want to secure. Can you use an encryption tool like aspnet_regiis to secure both &lt;connectionStrings&gt; and &lt;appSettings&gt; and would this work on an Azure web app where servers are dynamically assigned, balanced?

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-09-16 20:09] Karishma-Tiwari-MSFT commented on #14768
@dmarlow Apologies for the delay. Can you please try using `shutdown /r`, it should result in restarting.
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@jpconnock In the above doc, we have shared `EXIT /B` command under restart
[code]

but according to this [Windows command official doc](https://docs.microso

[2018-09-16 20:13] jason-j-MSFT commented on #14954
@SalmanZubair could you ask this question in the forums:
https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureStreamAnalytics

This repository is for focused documentation feedback.  If you discover an issue with the documentation regarding this error you are seeing, add a comment here and we will reopen the issue.

[2018-09-16 20:13] #14954 closed

[2018-09-16 20:35] jason-j-MSFT commented on #14970
@kevbite you will always be charged for the total amount of data you are retaining past 24 hours at the published Azure Blob storage rate.  If you have less data than is allotted in your selected number of throughput units, than that data is covered with no additional charges in the first 24 hours.

How your data storage size is calculated is outlined here:
https://docs.microsoft.com/en-us/azure/e

[2018-09-16 20:35] #14970 closed

[2018-09-16 20:41] jason-j-MSFT commented on #14973
@ShubhaVijayasarathy could you take a look at this feedback?
We had a similar request:
https://github.com/MicrosoftDocs/azure-docs/issues/8422

[2018-09-16 22:18] awcchungster opened #15075 "Getting Error Not Explained in Documentation"
I'm using the Node Azure-Storage NPM package.

I have code to upload a PDF to my Azure File Share, but it inconsistently returns a 416 Range error.

[code]

The [docs](https://docs.microsoft.com/en-us/rest/api/storageservices/file-service-error-codes) do not include details of a 416 error code. What is this error, and how do I solve it?

[2018-09-17 00:16] GavinEke commented on #12287
Hi,

I have gone through the process to stop the backup as mentioned in the article, I think some of the wording might be outdated such as all of 2. 'Click Stop Protection. Leave Delete associated backup data option unchecked.' I believe it is now 'Stop Backup' instead of 'Stop Protection' and it is no longer a tickbox it is now a dropdown menu but even after completing these steps when I go to va

[2018-09-17 02:10] ross-at-ormo commented on #12839
Agreed with @masterbacon - there needs to be way to specify the name of this resource group to ensure consistency with user defined naming conventions.
Also, is this something that has changed recently? As I implemented Azure Backup jobs earlier this year and I don't recall seeing this Resource Group appear?

[2018-09-17 03:10] Karishma-Tiwari-MSFT commented on #15075
@awcchungster Thanks for the question. Can you also please share the url, if there is any specific doc, you have been following, to upload file to Azure file share?

[2018-09-17 03:13] Karishma-Tiwari-MSFT commented on #15074
@BGHSys Thanks for the question. We are currently investigating and will update you shortly.

[2018-09-17 03:19] kgreed opened #15077 "Not enough information"
"When you run locally, these settings are in environment variables."
Does this mean DOS Environment variables?  Not enough information is included here on how to set them. https://stackoverflow.com/questions/52350400/how-do-i-deploy-a-function-app-from-vs2017-without-a-generated-function-json

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-09-17 05:35] awcchungster commented on #15075
@Karishma-Tiwari-MSFT

I figured out the issue in the end. I highly recommend the team improve documentation, list more examples, and clearly describe errors. It's not the easiest to follow.

[2018-09-17 05:35] #15075 closed

[2018-09-17 05:54] yphuangms opened #15078 ""API" should be "Application Programming Interface", not "Programmer""
In this document, section "Hardware security module platform abstraction layer (HSM PAL)":  It comprises a combination of Application Programmer Interface (API) and trans domain communications procedures...

API should be "Application Programming Interface", not "Programmer".
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2018-09-17 06:04] MikeSpark commented on #14984
@Karishma-Tiwari-MSFT Really sorry about the late updates, there was a hurricane in my living area. The reference URL https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-linux#output-verbose-logs, I want to redirect the output to another log file (other than prompt in Linux session), but if I do what mentioned https://docs.microsoft.com/en-us/azure/storage/common/storage-use-a

[2018-09-17 06:07] MikeSpark commented on #14984
My bad there's already an opened ticket for exactly my problem https://github.com/MicrosoftDocs/azure-docs/issues/13640

[2018-09-17 06:07] #14984 closed

[2018-09-17 06:10] jeewannc commented on #13502
Seems like Microsoft  is trying to test a non functioning connector. Or least provide some kind of explanation to why the connectors don't work at all.

[2018-09-17 06:54] jeewannc commented on #13502
By the way was anyone able to connect to xero at all?

[2018-09-17 07:00] anandthirth opened #15079 "Profiler option availability"
Now the PROFILER option is not available under the Settings of the App Service blade, I think it can be found under the Investigate option under the App Insights blade.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c30bf4fa-902a-c12d-179f-1829c0b967be
* Version Independent ID: 6b3c7ae8-f3bb-dc4b-ed5b-a6e2190dacfd
* Co

[2018-09-17 08:19] DheerendraRathor opened #15080 "Missing traffic manager endpoint for China cloud"
Traffic manager endpoint for china cloud is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9874bc95-a5d9-a4fd-8d4a-909f67c83d1a
* Version Independent ID: 2105b80f-2867-1502-2997-0915ad232099
* Content: [Developer guide for Azure China 21Vianet](https://docs.microsoft.com/en-us/azure/china/china-get-started-dev

[2018-09-17 08:46] mike-urnun-msft commented on #15077
Hi @kgreed Thank you for your feedback!  Here's a documentation on [Environment Variables](https://docs.microsoft.com/en-us/sandbox/functions-recipes/environment-variables?tabs=csharp) in Functions.

We have assigned this issue to the author to review further and take the right course of action.

[2018-09-17 08:57] dominicbetts commented on #14799
Hi @daniel-rocha - thanks for pointing this out. I've updated the article to make the device name consistent.
Regards,
Dominic
#please-close

[2018-09-17 09:02] parabolic123 opened #15081 "Identifying deprecated accounts"
Hi,
 How are deprecated accounts identified? Is there a straightforward way to identify them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0554513-d846-079c-6bfc-d27aab78b442
* Version Independent ID: 6c8a971c-fc8b-baca-2ad4-518bf2e75aa5
* Content: [Managing security recommendations in Azure Security Center](https:/

[2018-09-17 09:47] aszego opened #15082 "Enter-AzureVM does not exist"
It's called Enter-AzVM instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d429ecd5-657d-35fc-fbe5-d8131c4da484
* Version Independent ID: 5b51f1ff-c0b2-4810-7c05-b867a9aa06af
* Content: [PowerShell in Azure Cloud Shell (Preview) Quickstart](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart-powershell)
*

[2018-09-17 09:51] jschrap opened #15083 "Availability Zones - Geo redundancy"
"different availability zones in the same region"

Are there any plans to make it a distributed Always On solution?
Requirement for DR - to have the DB's also available in a different geo-location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15036ef6-9c0b-044e-d600-b9f90f039720
* Version Independent ID: 6fe5cd14-a1a

[2018-09-17 10:02] a-anpred opened #15084 "Incorrect statement"
Q: What conditions can I use for Other clients?
Any condition can be configured for Other clients.

This statement is incorrect as legacy authentication clients do not send information like device platform. As the CA policy is evaluated based on the protocol used only, you cannot leverage any condition as it happens with modern authentication. The only conditions that can be leveraged are the clou

[2018-09-17 10:07] vignatov commented on #14946
Thank you for the answer. Can you tell me if there is any immediate plans to allow user creation on tenant via this flow?

[2018-09-17 10:19] ChrisSweeneyMSFT opened #15085 "License Clarificaiton"
Hey documents team - is it possible to have the license statement clarified as to whether this feature will be premium P1 or P2? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53684ada-fb90-0497-30d2-8c8c5d3a39ec
* Version Independent ID: f6b5da43-1f40-3bdf-58cd-037632680668
* Content: [Azure AD password protec

[2018-09-17 11:00] blecalex opened #15086 "No claim data returned after redeem a refresh token"
Hi!

I try to configure the resource owner password credentials flow in Azure AD B2C (https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc).

When I redeem a refresh token, data of claim are not returned. But when I execute the first login (with username and password), these data are returned.
It's important for me that claim data are returned in the new access token, because

[2018-09-17 11:18] kgopi05 opened #15087 "SQL Server Agent Extension installation using Terraform"
Hi Team,
Can you provide the steps for adding the SQL Server Agent Extension in the  Terraform code aswell ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24255026-2d1c-0607-77e6-f9dd10fbe8dd
* Version Independent ID: 832ee4c2-a497-6db6-573d-5c9abe694b00
* Content: [Automate management tasks on SQL VMs (Resource Manag

[2018-09-17 11:19] ezlbrmn opened #15088 "Missing Policy Definition"
document does mention Adaptive Application Controls which is present in ASC --&gt;Policies--&gt; under Compute and Apps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f062227a-b448-830a-5022-edf47deeae41
* Version Independent ID: 9b911a98-7036-fbec-b542-bd4264f1edb8
* Content: [Azure Security Center security policies c

[2018-09-17 11:25] wobblewobble opened #15089 "Is Backup storage located in the same place as a VM vhd?"
At the top of the article you state "Azure Backup creates recovery points that are stored in geo-redundant recovery vaults." yet in a Storage Account we have the option of LRS or GRS.

Can we use the same storage account for the VM's as the Backup Vault or do we need to select a different storage account or a different location for the backup vault to the VM Storage accounts?

---
#### Document De

[2018-09-17 11:38] zcsoriano commented on #14780
@Mike-Ubezzi-MSFT I double-checked my remote-secure.yaml and found a typo. Fixing the typo resolved the issue. Thank you so much!

[2018-09-17 11:38] #14780 closed

[2018-09-17 11:38] ediazrod opened #15090 "Support for more than 8 hours"
`Why there is a limit of 8 ours on Standard Channel ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 923d79a3-6478-88dc-3e46-a7436eeb317d
* Version Independent ID: a5c60150-cb1c-ed8a-c625-a0b8bcf746f9
* Content: [Overview of Live Streaming using Azure Media Services](https://docs.microsoft.com/en-us/azure/media-servic

[2018-09-17 11:41] ezlbrmn opened #15091 "SQL auditing and threat detection Policy question"
document states that  Policy SQL auditing and threat detection exist. In ASC I see only SQL auditing. Will recommendation on Threat Protection be provided as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f062227a-b448-830a-5022-edf47deeae41
* Version Independent ID: 9b911a98-7036-fbec-b542-bd4264f1edb8
* Content

[2018-09-17 11:41] #14799 closed

[2018-09-17 12:09] jforest commented on #14959
Hi @femsulu sorry for the delay!  I get prompted to login when I click on that link, if I'm not already logged in:

![image](https://user-images.githubusercontent.com/266698/45622041-b284d580-ba50-11e8-839f-18240ab00815.png)

Interestingly... it's prompting me to choose one of 2 accounts??

![image](https://user-images.githubusercontent.com/266698/45622087-d1836780-ba50-11e8-8027-b3de4ada3dde.png)

[2018-09-17 12:27] Souvik04 commented on #14778
@pchoudhari Thanks!

[2018-09-17 12:54] chrislangston opened #15092 "Routing messages from downstream devices needs better explanation"
The documentation is very lacking around "Routing messages from downstream devices".  In my case and I would think it most cases, we're using IoT Edge as a Transparent Gateway because we have lots of devices that are passing there data through the IoT Edge.

In my case there is not very much explanation around the "Routing" rules as mentioned above. For example, what does "WHERE NOT IS_DEFINED($co

[2018-09-17 12:57] mcurko opened #15093 "Application doesn't start"
Despite multiple attempts, accessing http://localhost:8080/ results only in message "Hello World from Flask in a uWSGI Nginx Docker container with Python 3.6 (default)" on the web page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f634bf-2280-a093-5897-724310dafa2d
* Version Independent ID: f11c0af7-bfaf-6d64-2c75-

[2018-09-17 13:00] eosfor commented on #12771
Hello, @TravisCragg-MSFT. So, is it possible to change Basic to Standard in our ARM templates or not, i did not quite understand from your comments.

Thanks,
Andrey

[2018-09-17 13:01] isamllr commented on #10953
+1

[2018-09-17 13:09] amirgra opened #15094 "Is it possible to grant co-administrator permission (to manage ASM) with PIM?"
Is it possible to grant co-administrator permission (to manage ASM) with PIM?
I tried to create a custom role but I couldn't find what to add to owner role definition to allow co-administrator permissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e87c5c36-7f4f-cb86-8835-85df5ae91269
* Version Independent ID: 3e5c

[2018-09-17 13:12] MicrosoftGuyJFlo commented on #15085
Please re-read the licensing section and reach out to me via email internally if you still have questions. My alias is above or under my profile.

[2018-09-17 13:19] mjcarrabine opened #15095 "How often does this check run?"
How long after I encrypt my VM disks should I expect to see the change in Security Center?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 693c6d95-1e8d-8dd8-d6a7-75630c97ab84
* Version Independent ID: b3c4de65-63a8-544d-f6e8-f9e5bd8da732
* Content: [Apply disk encryption in Azure Security Center](https://docs.microsoft

[2018-09-17 13:35] wei-ann-Github opened #15096 "make it easy to try out your service"
hope you can make it easier for users to try out your speech to text service via audio file upload. I'm disappointed. Always supported you... but ....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e6dc53e-4cde-2288-c140-474e19f474e3
* Version Independent ID: b279e9ee-8d22-0e0f-b76a-4ca538bdc2bd
* Content: [Get starte

[2018-09-17 13:35] mrbullwinkle commented on #14003
Thanks @tsahi! The official doc is now updated in our internal repo. The changes will go-live between 10:00 AM -10:30 AM (UTC-7) today. Thanks again for bringing this to our attention and helping to make our docs better!

[2018-09-17 13:36] mrbullwinkle commented on #14003
@MicrosoftDocs/azure-cxp-triage #please-close

[2018-09-17 13:38] jimdial commented on #15040
Glad you like the tutorial. I copy/pasted the instructions and was able to create the NVA VM in the East US this morning. Since you're unable to, you may need to file a support request. #please-close

[2018-09-17 13:43] jimdial commented on #14588
#in-process

[2018-09-17 13:45] minhaj-dell commented on #14949
@SaurabhSharma-MSFT but this would require user providing the credentials correct?  Is there no way to have application validate on behalf of a user without his presence or interaction then?

[2018-09-17 13:49] garypronych opened #15097 "Not true for Server 2016"
This article should be updated to advise that a stand-alone server is not required if using Server 2016
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configure-ad-fs-and-azure-mfa

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75965afd-b39c-5bf0-bc9a-7520bddfd4af
* Version Independent ID: be

[2018-09-17 13:56] girishgouda opened #15099 "Unable the build the function after adding "Microsoft.Azure.WebJobs.Extensions.CosmosDB"Nuget Package in VS2017"
Getting the following error after adding the above nuget package

Error System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Azure.WebJobs, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. The system cannot find the file specified.
File name: 'Microsoft.Azure.WebJobs, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null'
   at System.Module

[2018-09-17 13:59] girishgouda commented on #14578
This works now, i was trying with the V1 version earlier. Thanks for resolving the issue and yo can close the issue
Thanks

[2018-09-17 13:59] priyamenokey opened #15100 "Could you please provide the Java sample code also for using batch transcription."
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-09-17 14:00] priyamenokey opened #15101 "Java sample code"
Could you please provide the Java sample code also for using batch transcription.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73fb7e76-fb80-c420-2efe-e3ca3a27b749
* Version Independent ID: 07a42557-deb3-e4b3-3f14-f26a27be49c2
* Content: [Azure Batch transcription API](https://docs.microsoft.com/en-us/azure/cognitive

[2018-09-17 14:08] ksaru10 opened #15102 "Authorization Roles - Broken link"
"Dispatch" link seems to be broken.
&lt;a href="https://github.com/Microsoft/botbuilder-tools/tree/master/Dispatch" data-linktype="external"&gt;Dispatch&lt;/a&gt;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 491d4ab1-d2ca-d914-5481-3e50487457ef
* Version Independent ID: 7841b289-6958-b95a-4f29-9e6d6a1fa030
* Content:

[2018-09-17 14:24] denisvlr opened #15103 "Can't assign external IP"
I followed the steps, created a static IP address, and tried assigning it with `--set controller.service.loadBalancerIP="XXXXXX"`, but it doesn't seem to work:
[code]

When I run `kubectl get service -l app=nginx-ingress` the value "EXTERNAL_IP" stays pending forever.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1200

[2018-09-17 14:34] mtanml opened #15104 "B2C authentication?"
Is it possible to authenticate using Azure AD B2C?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90a4bd03-9c86-4c9b-5834-c2966c2f3720
* Version Independent ID: a070cc29-15aa-c072-b90b-64c616ef51cc
* Content: [Authenticate access to Azure Storage using Azure Active Directory (Preview)](https://docs.microsoft.com/en-us/

[2018-09-17 14:36] cephalin commented on #14743
@cowinr  Check out this doc: https://docs.microsoft.com/en-us/sql/connect/jdbc/connecting-using-azure-active-directory-authentication?view=sql-server-2017

[2018-09-17 14:36] sergaz-msft commented on #14965
Hello @krokoko what is the azure iot device SDK language and version used on the leaf device? Can you connect directly to IoTHub on your leaf device? Finally can you do the tests on a different network?

Thank you!

[2018-09-17 14:37] sergaz-msft commented on #14966
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 14:37] #14966 closed

[2018-09-17 14:38] DBrunz44 opened #15105 "Pipeline Delay Documentation:"
The documentation for the delay format is not quite clear:
"For example, a delay value of 00:10:00 implies a delay of 10 minutes."
We are left to believe that the format is hh:mm:ss but after my testing, the format is  dd:mm:ss. Can you please confirm and clarify this in the documentation above? Additionally if the correct format is dd:mm:ss, could we have a minutes delay of over 99 minutes? i.e.

[2018-09-17 14:39] diberry commented on #15102
@ksaru10 Thank you for reporting this. The correct URL is https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch. The documentation will be updated to use the correct link. #in-progress

[2018-09-17 14:39] sergaz-msft commented on #15008
Hello @Dharita please let us know if the documentation provided answered your questions or if you have any other blockers at the moment?

Thank you!

[2018-09-17 14:41] eross-msft commented on #14800
@v-videba I updated the topic to include the internal offering I was able to locate. If there are additional versions to add, please let me know the specific information. Thanks!
@MarileeTurscak-MSFT  please close this item

[2018-09-17 14:44] eross-msft commented on #14997
@phatcher Much of our documentation is in the process of being updated. You should see the new screenshots and updated text for this article around 11am today. If you have additional concerns, please let me know. Thanks!
@SaurabhSharma-MSFT  please close this item

[2018-09-17 14:46] eross-msft commented on #12775
@awgraf  The content has been updated and you should see separate sections and articles about Groups and Users. Please let me know if you have any additional concerns. Thanks!
@MarileeTurscak-MSFT  please close this item.

[2018-09-17 14:48] eross-msft commented on #12093
@Mike-Ubezzi-MSFT please close this item. There is no new information until the feature is complete and we can republish.

[2018-09-17 14:53] hiesus commented on #14402
Dear Alberto.

Thanks for your reply. We still are stucked!. We are going to retake this
tutorial on thrusday and will keep you up to date.

Best regards.

[image: www.endeavourconsult.com] <http://www.endeavourconsult.com>
J-40869943-5
www.endeavourconsult.com

Msc. Ing. Jesús Hidago

Phone/Teléfonos: +58.412.262.00.00 / +58.414.241.06.41
Venezuelan local hour: -4 UTC
jesus.hidalgo@endeavourconsu

[2018-09-17 14:55] Mike-Ubezzi-MSFT commented on #12093
@lashchev We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 14:55] #12093 closed

[2018-09-17 14:57] Mike-Ubezzi-MSFT commented on #14003
@tsahi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 14:57] #14003 closed

[2018-09-17 15:01] sergaz-msft commented on #15009
Hello,
As already mentioned [on this similar issue](https://github.com/MicrosoftDocs/azure-docs/issues/11046#issuecomment-421365313) we don't have a package release that will support Raspbian GNU/Linux 8 (jessie). See  Azure IoT Edge platform support [here](https://docs.microsoft.com/en-us/azure/iot-edge/support). Can you please try and upgrade to Stretch or if it is a requirement for your scenari

[2018-09-17 15:02] sergaz-msft commented on #15009
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 15:02] #15009 closed

[2018-09-17 15:03] YutongTie-MSFT commented on #15096
@wei-ann-Github Sorry for your experience. We will try our best to delivery the best product. Thanks for the feedback and support. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@zhouwangzw  Hi, here is a product feedback, please take a look. Thanks.

[2018-09-17 15:03] #15096 closed

[2018-09-17 15:04] denisvlr commented on #15103
Ok I found my mistake, I created the IP in the resource group of the cluster, while it should have been in the "nodeResourceGroup"

[2018-09-17 15:04] #15103 closed

[2018-09-17 15:05] YutongTie-MSFT commented on #15101
@priyamenokey Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@PanosPeriorellis Hi, here is a document response for asking JAVA sample, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 15:09] YutongTie-MSFT commented on #15016
@noellelacharite Hi, here is a document response about asking for Powershell examples, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 15:11] YutongTie-MSFT commented on #15060
@noellelacharite Hi, the sample code in the document will cause a warning, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 15:14] sergaz-msft commented on #15045
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 15:14] YutongTie-MSFT commented on #14996
@hning86  Hi Hai, here is a document response about the file size limit, can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 15:17] mohamed-shehata-m opened #15107 "Details about NICs & LB are missing"
When new Azure AD Domain services is provisioned, there are two NICs & a load balancer created with the deployment along with Public IP address. There is no reference for these details in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57e1177c-7686-31cc-ae39-e9c9d803ac6a
* Version Independent ID: 5b0

[2018-09-17 15:22] SergeyKanzhelev opened #15108 "You can query accross resources now"
This statement seems to be outdated:

&gt; Using separate resources means that you don't see all the components displayed on a single Application Map; and that you can't query across components in Analytics. You also have to set up the separate resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ca899c-40f6-f27

[2018-09-17 15:27] sergaz-msft commented on #15068
Hello @kjayantmenon can you please try and upgrade your map to **dynamic map** and let us know the results?

See more on how to do it [here.](https://github.com/Azure/azure-iot-pcs-remote-monitoring-dotnet/wiki/Developer-Reference-Guide#upgrade-map-key-to-see-devices-on-a-dynamic-map)

Thank you!

[2018-09-17 15:28] Mike-Ubezzi-MSFT commented on #15083
@jschrap Thank you very much for your interest in Azure products and services. I would like to make you aware of the functionality that is already available - [Overview: Active geo-replication and auto-failover groups. ](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-geo-replication-overview).

If you have a use case requiring a specific set of requirements, please use the [Azure

[2018-09-17 15:30] Mike-Ubezzi-MSFT commented on #14772
@v-makta We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 15:30] #14772 closed

[2018-09-17 15:35] ratchetwrench opened #15109 "Get Blob that triggered the pipline"
What file path would I use to get the Blob that triggered the pipeline to run? file path: "data/@pipeline().TriggerName" ? Or something similar?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: befd9a68-45a2-9105-1b1b-16bf792a2d73
* Version Independent ID: 2c2e1fa5-7824-5fe9-7382-bf5573a25be3
* Content: [System variables

[2018-09-17 15:40] LanceMcCarthy commented on #15060
Thanks Yutong.

Noelle, I came across this while mentoring at the HackMIT over the weekend, it tripped up a few students who didn't know how to update the deprecated `DefaultHttpClient` to `ClosableHttpClient`.

### Official Java Document

See [Java doc for DefaultHttpClient](http://hc.apache.org/httpcomponents-client-ga/httpclient/apidocs/org/apache/http/impl/client/DefaultHttpClient.html), in th

[2018-09-17 15:42] rayie123 opened #15110 "Issue in configuring Cloud Witness"
I am getting this error when configuring the cloud witness... i ran it via powershell or GUI:

An error was encountered while modifying the quorum settings.
Your cluster quorum settings have not been changed.

The underlying connection was closed: An unexpected error occurred on a send.

Unable to read data from the transport connection: An existing connection was forcibly closed by the remote hos

[2018-09-17 15:43] cephalin commented on #15064
@cwithfourplus Thanks for the feedback. I totally agree with your assessment on .Result, and I pained over this when writing the tutorial. However there are two reason that made me decide on this route:

- The choice of "to .Result or not to .Result" is out of scope - the tutorial's goal is demonstrate how to connect with AAD authentication, not to discuss best practices in async programming.
- Th

[2018-09-17 15:45] icyfire0573 commented on #14877
I know this can be done via powershell and via adsiedit. It doesn't fully answer the question that I asked though. Since you said it can be done in powershell, is that a supported method of changing the attributes?

[2018-09-17 15:46] icyfire0573 commented on #14877
In regards to if this is related to AD connect, I believe it is as it would be a pre-requisite to installing the software as previous recommendations for microsoft were that they required an on prem exchange server.

[2018-09-17 15:48] rrector commented on #14768
Seems like you would also want to add `goto exit` to the bottom of the Installing .NET block right before the :restart block. There seem to be specific errors that you are trapping to know when to do a restart, and if you change the restart block to actually restart, then all errors will cause a restart.

[2018-09-17 15:48] icyfire0573 commented on #14877
PS: super happy with the fact that I can ask questions and get answers these days with this integration. Trying to ask questions before Github never got any response.

[2018-09-17 15:59] mrbullwinkle commented on #15108
Thanks @SergeyKanzhelev, I just created a new PR to address this and also updated the old app map screenshot at the top of the article.

[2018-09-17 16:12] SergeyKanzhelev commented on #15108
thanks! You are fast!

[2018-09-17 16:12] #15108 closed

[2018-09-17 16:14] gustavomcarmo opened #15111 "Ubuntu 18.04 deprovision issue"
When image_sku is 18.04-LTS, the deprovision step must be executed like explained in https://github.com/Azure/WALinuxAgent/issues/1151#issuecomment-410409627

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f33d707-2a5b-e0f7-2649-9b778d57a1da
* Version Independent ID: 3584b4b8-c5f5-2170-3f8a-7a9a33025a84
* Content: [How

[2018-09-17 16:15] MicrosoftGuyJFlo commented on #15097
@garypronych in what sense? Can you be more specific as to what you are referring to?

[2018-09-17 16:16] PabloDeCortes opened #15112 "HDInsight cluster monitoring via PowerShell cmdlets"
Hi, is there a chance to query Log Analytics via PowerShell cmdlets? Or, maybe, there is another option to monitor HDInsight cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1389b35c-ccbc-b321-736d-28ce5134f089
* Version Independent ID: 4dcb1bed-12f1-a13b-a3e5-3f4ba9918d38
* Content: [Query Azure Log Analytics t

[2018-09-17 16:19] mike-urnun-msft commented on #15099
@girishgouda Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-09-17 16:45] priyamenokey opened #15113 "SDK request limit and size of audio file"
Kindly mention the seconds or minutes sdk's  will transcribe ,also if there are any limits in the request per minute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc2fcd39-a2d6-0a3a-1235-1aae45cae26d
* Version Independent ID: db227248-d6d1-b1d3-05bc-522cd1435da2
* Content: [About Speech to Text - Microsoft Cognitive

[2018-09-17 16:48] upoppe commented on #14762
@Mike Thanks a lot. I would like to supplement my feedback a little. For the above query examples I would like to learn more about the behavior of the REST API (see https://docs.microsoft.com/de-de/rest/api/cosmos-db/query-documents). For example these aspects:
* Max Item Count: Say we have a cross partition query with max item count of 10, but more than 10 items for each partition key value. Does

[2018-09-17 16:49] YutongTie-MSFT commented on #14856
@sonusathyadas Hi, for Bad request error, there are some possible solutions:
Check for errors in the URL. The most common reason for a 400 Bad Request error is because the URL was typed wrong or the link that was clicked on points to a malformed URL with a specific kind of mistake in it, like a syntax problem.
Important: This is most likely the problem if you get a 400 Bad Request error. Specifica

[2018-09-17 16:52] gopitk commented on #14783
@datarelish - Was it a Windows 2016 DSVM or a Windows 2012 DSVM? On the Windows 2016 DSVM you should be seeing the VS 2017 as in screenshot above.  Please double confirm for us.

[2018-09-17 16:55] SychevIgor opened #15114 "New UX for Build pipelines."
Could you please add New build pipeline experience?
in an Azure DevOps documentation, we showing both UX.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 739d6ac9-97b6-7a95-a1dd-e5379793aac3
* Version Independent ID: bd5c7f6a-6bf7-37e7-1e33-4316582ac608
* Content: [Continuous integration in Azure DevOps Services using A

[2018-09-17 16:55] YutongTie-MSFT commented on #14879
@hning86 Hi Hai, in the latest version of AML workbech, we don't have the run list button in the top left. Can you please update the document? Thanks a lot!

[2018-09-17 16:57] SychevIgor opened #15115 "Actualize screenshot with Add new service connection"
Actualize screenshot with Add new service connection.
Now it's look a bit different. not significantly, but at least it will look like latest UX
![image](https://user-images.githubusercontent.com/578954/45637745-8ba7bd00-baab-11e8-9679-e829a17f62a8.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 739d6ac9-97b6-7a95-

[2018-09-17 17:02] Alberto-Vega-MSFT commented on #14402
@dominicbetts I was going over this tutorial and I found a couple inconsistencies in [Run the device simulation microservice](https://docs.microsoft.com/en-us/azure/iot-accelerators/iot-accelerators-remote-monitoring-create-simulated-device#run-the-device-simulation-microservice):

- *"Open the .vscode/launch.json file and assign your IoT Hub connection string to the PCS_IOTHUB_CONNSTRING environm

[2018-09-17 17:09] sergaz-msft commented on #14815
@microsoft-rin thank you for your time on Skype. Like we discussed, we identified a bug and as a workaround, for now use tags with string values instead of boolean on your edge twin device.

For example instead of using:

[code]

You can use:

[code]

I have a created a bug on IoTEdge GH repo [here](https://github.com/Azure/iotedge/issues/299).

[2018-09-17 17:09] sergaz-msft commented on #14815
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 17:09] #14815 closed

[2018-09-17 17:11] tamram commented on #15104
@mtanml - Can you explain what you are trying to do?

When you use Azure AD to authenticate access to Azure Storage blobs or queues, you are using Azure AD credentials specifically to authenticate the user and then authorize their access to a blob or queue.

The same Azure AD credentials can be used for Azure AD B2C as for Azure Storage. So if you are simply looking to use Azure AD to authenticate

[2018-09-17 17:12] kobulloc-MSFT commented on #15079
@anandthirth Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2018-09-17 17:13] BryanTrach-MSFT commented on #15090
@ediazrod Thank you for your question. Unfortunately, the 8 hour run time is a hard quota that cannot be increased. For a list of quotas that can be increased for Azure Media Services, please see [this](https://docs.microsoft.com/azure/media-services/previous/media-services-quotas-and-limitations) link.

We will now proceed to close this thread. If there are further questions regarding this matter

[2018-09-17 17:13] #15090 closed

[2018-09-17 17:17] datarelish commented on #14783
The output from Visual Studio is as follows, which I have taken from same DSVM.
Again, for your reference,
![dsvm capture](https://user-images.githubusercontent.com/13164701/45638698-dcb4b280-baa5-11e8-870f-82edd2af0a3f.PNG)
I have attached the Windows 2016 DSVM screenshot from the Same Virtual Machine again for you.

**Microsoft Visual Studio Community 2017**
**Version 15.6.7**
VisualStudio.15.Re

[2018-09-17 17:18] datarelish commented on #14783
I have also attached System Info for you as an image.
![dsvm capture 2](https://user-images.githubusercontent.com/13164701/45638787-18e81300-baa6-11e8-9ac0-9e39c5ebd725.PNG)

[2018-09-17 17:26] cjs opened #15116 "SCIM provisioning tutorial uses incorrect Tenant URL"
The SCIM provisioning tutorial uses an incorrect Tenant URL as an example.

The current documentation says:

The correct URL should be

[code]

You can reference https://developer.github.com/v3/scim/ to verify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61e856ff-405a-62ab-20d6-b91a336c674f
* Version Independent ID:

[2018-09-17 17:28] SaurabhSharma-MSFT commented on #15100
@priyamenokey Can you please provide the documentation link which you are referring to ?

[2018-09-17 17:30] gopitk commented on #14783
Thanks @datarelish . On this version can you confirm you can start the Python project like how it is documented in this article :  File -> New -> Project -> Python like what I have on the screenshot I pasted above in this thread?

I did notice one of the links in the prerequisites in the article is still pointing to the older Windows 2012 DSVM image (though you rightly have the desired 2016 editio

[2018-09-17 17:33] sergaz-msft commented on #15092
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 17:35] sergaz-msft commented on #15078
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 17:40] SaurabhSharma-MSFT commented on #15086
@blecalex Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 17:40] priyamenokey commented on #15100
Hi @SaurabhSharma-MSFT ,
Please find the link
https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

[2018-09-17 17:44] MarileeTurscak-MSFT commented on #15081
@parabolic123
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 17:45] SaurabhSharma-MSFT commented on #15082
@aszego Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 17:51] YutongTie-MSFT commented on #15052
@noellelacharite Hi, here is a code sample issue. Can you please check it and update the document as necessary? Thanks a lot!

[2018-09-17 17:51] asdonald commented on #14679
@Sushil Raje<mailto:Sushil.Raje@microsoft.com> Can you help the customer look into this?

Ashley Donaldson
Program Manager – Azure IoT

From: Andre Podnozov <notifications@github.com>
Sent: Friday, September 14, 2018 3:37 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Ashley Donaldson <asdonald@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/azur

[2018-09-17 17:52] 1trevor opened #15117 "Change contact info?"
How do you view/change the contact details after they are configured and the recommendation no longer appears?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a455a24-920e-f9f8-7a6f-60b5f4019acd
* Version Independent ID: e6a4d8e2-0ada-e535-810f-5eb19e45ee1e
* Content: [Provide security contact details in Azure Security

[2018-09-17 17:53] YutongTie-MSFT commented on #15113
@priyamenokey Thanks for your feedback about this document, I have assigned the author to update the document properly.

@v-jerkin Hi Jerry, can you please check the document response and update the document as necessary? Thanks a lot!

[2018-09-17 17:55] markolbert opened #15118 "Re-opening Closed Issue"
There appears to be a problem with the updated Google signin documentation. Please see an existing/closed issue: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-setup-goog-app#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c9d9c00-1382-c578-6b0d-7b5f9d63eebd
* Version Independent ID:

[2018-09-17 18:05] tfitzmac commented on #15063
@RyanTBerry - thanks for the link to the script. I'll add a link to it.

[2018-09-17 18:11] SaurabhSharma-MSFT commented on #15118
@markolbert Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 18:12] MarileeTurscak-MSFT commented on #15094
Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 18:13] MarileeTurscak-MSFT commented on #15116
@cjs Thanks for the feedback! I am merging your changes into the doc.

[2018-09-17 18:18] mccow002 commented on #14348
Has this issue been reswolved? I am getting the same error message.

[2018-09-17 18:20] psatyaa opened #15119 "Open With Logic App Designer"
In Context Menu of LogicApp.json, Logic App Designer is not available by default. It requires
Azure Logic App Tooling. This needs to be mentioned in either pre-requisite or in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e4c182-ccd7-0ee5-a993-9f4b4febf8d5
* Version Independent ID: a02db181-a2e8-2

[2018-09-17 18:28] diberry commented on #15102
@ksaru10 This fix is now live, please let me know if the fix doesn't get you to the correct URL.

[2018-09-17 18:29] eustacea commented on #15078
Typo confirmed.  Correction on its way.

[2018-09-17 18:30] TravisCragg-MSFT commented on #15040
@tapialuism We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 18:30] #15040 closed

[2018-09-17 18:31] MarileeTurscak-MSFT commented on #15116
Thanks for calling this out! Your changes should merge shortly.

[2018-09-17 18:31] #15116 closed

[2018-09-17 18:34] mtanml commented on #15104
We have an Azure B2C tenant for customer logins.   We’d like for our customers to be able to connect to our Azure blog storage using AD authentication.    Is that currently possible?

I was expecting something similar to the approach for authenticating Azure Functions against B2C, as described here:   https://blogs.msdn.microsoft.com/hmahrt/2017/03/07/azure-active-directory-b2c-and-azure-functions

[2018-09-17 18:41] SaurabhSharma-MSFT commented on #15088
@ezlbrmn Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 18:42] SaurabhSharma-MSFT commented on #15091
@ezlbrmn Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 18:42] SaurabhSharma-MSFT commented on #15095
@mjcarrabine Thanks for your feedback! We will investigate and update as appropriate.

[2018-09-17 18:46] totosan commented on #15070
Regarding the first lines of this doc, where it states, that often output of one function is the input of the next and so on..., I would suggest, to take an example, that builds up a string (e.g. Start "" -> Func1 >> "The" -> Func2 >> "The big" -> Func3 >> "The big green" -> Func4 >> "The big green apple." -> End) This is not that optimal example, but it demonstrates the core of the topic.

[2018-09-17 18:47] SaurabhSharma-MSFT commented on #8085
@SychevIgor We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 18:47] #8085 closed

[2018-09-17 18:47] TravisCragg-MSFT commented on #15066
@awcchungster Please verify that the mac OS that you are using is either Mac OS X version 10.11 (El Capitan) or Mac OS X version 10.12 (Sierra), these are the only 2 versions currently supported by Azure Point to Site VPNs.

[2018-09-17 18:48] SaurabhSharma-MSFT commented on #15064
@cwithfourplus We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 18:48] #15064 closed

[2018-09-17 18:50] awcchungster commented on #15066
I'm on high Sierra. What are the workarounds to set up VPN?

[2018-09-17 18:58] barbkess commented on #10335
@dcbrown16 : I reorganized the application management docs, and the original doc you mentioned in this issue is now out there as https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/configure-single-sign-on-non-gallery-applications.   You mentioned some docs that are similar -- we do have duplication and work over the next few months will include consolidating them.

#please-close

[2018-09-17 19:01] SaurabhSharma-MSFT commented on #14949
@minhaj-dell User won't have to provide his credentials, instead you can setup a service account to run the batch process and you do not need to change the password every time. For the Office 365 sample which I have shared, Application Permissions must be consented by a tenant administrator to access users email, calendar and contacts information of users and it depends on you what level of access

[2018-09-17 19:06] jingjing-z commented on #15014
Hi we can't repro the bug. Can you double check and see if you can repro?

[2018-09-17 19:07] BryanTrach-MSFT commented on #15065
@kgreed Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-09-17 19:08] structre40 opened #15122 "Missing Information"
Hi,
I am trying to troubleshoot a couple of VM's that are not reporting back status. The steps for finding the task in Task Scheduler is missing. I clicked through each folder and was unable to find "update_azureoperationalinsight_agent_heartbeat" on multiple VM's. I can understand the task not being present on the trouble VM but for other VM's that are not reporting an error, I would expect the t

[2018-09-17 19:10] SaurabhSharma-MSFT commented on #15088
@ezlbrmn Can you please provide more details what exactly your issue is and which policy definition is missing and from where ?

[2018-09-17 19:11] BarnyardTech commented on #12730
Sorry for the time delay in getting back to this.  Am I to provide some brand new text password in the Database configuration tab OR is does this password already exist?  If it already exists somewhere, where do I find it.  As I said, I installed SQL Server Express 2017 but I don't recall setting a master database password during that process.

[2018-09-17 19:12] TheYabadabadou commented on #13502
We also have the same error :(

[2018-09-17 19:16] cowinr commented on #14743
Thanks, will do.

[2018-09-17 19:16] #14743 closed

[2018-09-17 19:18] SaurabhSharma-MSFT commented on #15088
@ezlbrmn I think I got it what exactly you are saying and I have assigned this issue to content author to investigate and update the document as appropriate. Thanks for the feedback !

@TerryLanfear Can you please help adding the "Adaptive Application Controls" to [Available security policy definitions](https://docs.microsoft.com/en-us/azure/security-center/security-center-azure-policy#available-s

[2018-09-17 19:18] cgillum commented on #15070
That's fair feedback. We'll look into updating this sample.

[2018-09-17 19:28] MohitGargMSFT commented on #15084
@a-anpred Thanks for your feedback! We will investigate and update soon on it.

[2018-09-17 19:28] mike-urnun-msft commented on #15005
Hi @hoffe86 Thanks again for your contribution to docs! We have review this feedback, and assigned this issue to the author to investigate further and take the right course of action.

[2018-09-17 19:30] MohitGargMSFT commented on #15107
@a-mosheh Thanks for your feedback! We will investigate and update soon on it.

[2018-09-17 19:30] Mike-Ubezzi-MSFT commented on #14867
Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 19:31] Mike-Ubezzi-MSFT commented on #14908
@m60freeman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 19:31] #14908 closed

[2018-09-17 19:32] MohitGargMSFT commented on #14946
@vignatov Please post this as a feedback @ https://feedback.azure.com/forums/169401-azure-active-directory This will allow the community to upvote and for the product team to include into their plans. I am not aware of any immediate plans around it.

[2018-09-17 19:32] rizotas commented on #14958
Finally it's working, I installed the cert-manager in the kube-system namespace and it's working now.
@MicahMcKittrick-MSFT I was seeing a certificate issued by  "Kubernetes Ingress Controller Fake Certificate" not by "Fake LE Intermediate X1" as expected. Right now https://demo-aks-ingress.eastus.cloudapp.azure.com is down, so I can't show you.

[2018-09-17 19:34] SaurabhSharma-MSFT commented on #15091
@ezlbrmn Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

@TerryLanfear Can you please look into this as the Policy states "SQL auditing and threat detection" under [Available security policy definitions](https://docs.microsoft.com/en-us/azure/security-center/security-center-azure-policy#available-security-policy-defini

[2018-09-17 19:38] MicahMcKittrick-MSFT commented on #15111
Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-09-17 19:39] cwithfourplus commented on #15074
I would rather use Azure Key Vault to keep these secure values, secure Key Vault using Managed Identity and then use in memory caching to avoid calls to Azure Key Vault for every user request.

In many cases I would prefer that to even store Azure SQL credentials as generating token on every user request is an overhead and using Task<T>.Result is not recommended for throughput and performance.

To

[2018-09-17 19:40] MicahMcKittrick-MSFT commented on #14531
Thanks @paulmackinnon-adv365

@mnltejaswini does this help?

[2018-09-17 19:42] dlhansford opened #15123 "[Error] Exit with code=255"
I am receiving the below error output when attempting to install the MXChip board;
[Starting] Install package - AZ3166...
Loading configuration...
Initializing packages...
Preparing boards...
java.lang.NullPointerException
	at processing.app.BaseNoGui.onBoardOrPortChange(BaseNoGui.java:679)
	at processing.app.Base.onBoardOrPortChange(Base.java:1313)
	at processing.app.Base.&lt;init&gt;(Base.java:2

[2018-09-17 19:44] MicahMcKittrick-MSFT commented on #14665
@akoval-jsp I have worked offline with some of the engineer teams who are supporting AutoScaler. They are aware that there are some issues that need to be addressed. The ETA is sometime in the next 3 weeks. Until then I would suggest you hold off on playing around with this preview feature.

I will assign to owner of this feature @sauryadas who can update you once all issues have been resolved.

[2018-09-17 19:45] MohitGargMSFT commented on #15084
@a-anpred I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-17 19:47] MarileeTurscak-MSFT commented on #15094
Hi @amirgra , this seems to be what the doc states. What part of this did you think needed to be amended?

[2018-09-17 19:48] MicahMcKittrick-MSFT commented on #14868
@mikanyg I will close this for now. If you have additional questions let me know and we can reopen and continue.

[2018-09-17 19:48] #14868 closed

[2018-09-17 19:49] MicahMcKittrick-MSFT commented on #14958
@rizotas thanks for the update. Glad to hear it is now working.

I will close this out then. If you think any additional information needs to be added to the doc let me know and we can always reopen and continue.

[2018-09-17 19:49] Adam-Smith-MSFT commented on #15104
@mtanml It is currently supported to use Azure AD Authentication for both Blobs and Queues(more services should be added in the future), the [blog](https://azure.microsoft.com/en-us/blog/announcing-the-preview-of-aad-authentication-for-storage/) announcement provides additional insights regarding this topic. Let us know if you need any further help.

[2018-09-17 19:50] MicahMcKittrick-MSFT commented on #14983
@badalk sorry but I am not seeing any highlighted sections. If you reply from email you often lose the formatting. Could you reply from a PC and clarify which part is confusing?

[2018-09-17 19:52] MarileeTurscak-MSFT commented on #15022
Are your domains in the same O365 tenant? If so, you simply need to recreate the Office 365 RPT using the SupportMultipleDomain switch: https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-multiple-domains

[2018-09-17 19:52] MicahMcKittrick-MSFT commented on #15046
@IvanKirianov are you referring to this section?

https://docs.microsoft.com/en-us/azure/aks/networking-overview#maximum-pods-per-node

[2018-09-17 19:53] MarileeTurscak-MSFT commented on #15032
Hi @avisuj  , this seems to be what the doc states. What part of this did you think needed to be amended?

[2018-09-17 19:54] MicahMcKittrick-MSFT commented on #15111
Thanks for the feedback @gustavomcarmo. I will assign to the content author to review and determine if we should note this in the doc or leave it as a comment for others to see.

[2018-09-17 19:55] badalk commented on #14983
Between these two statements:

How do we integrate dashboard with Azure AD auth, and in that case wouldn't it ask user to provide credentials?

Regards
Badal

[2018-09-17 19:55] mikanyg commented on #14868
Thx for the clarification.

[2018-09-17 19:58] YutongTie-MSFT commented on #12667
@LuisCabrer I have done it for you.

@platinumhimani  We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-17 19:58] #12667 closed

[2018-09-17 19:58] SaurabhSharma-MSFT commented on #15081
@parabolic123  Deprecated accounts are ones that were once deployed to your subscription for some trial/pilot initiative or some other purpose and does not require any more.  Azure Security Center provides this as a recommendation to the users and users need to identify those accounts in their subscription as they are standing risks if present in any role on the subscription.  When you click on Re

[2018-09-17 19:58] Mike-Ubezzi-MSFT commented on #14937
@babwitjava You can perform a join on parent object with child objects under same document. Cross-document joins are not supported: [CosmosDB Join (SQL API)](https://stackoverflow.com/questions/49368254/cosmosdb-join-sql-api).

Is this use case does not support your solution requirements, please make a recommendation to the [Cosmos DB Uservoice](https://feedback.azure.com/forums/263030-azure-cosmo

[2018-09-17 19:59] MicahMcKittrick-MSFT commented on #15093
@mcurko I ran through the doc but it seems to be working as expected

![image](https://user-images.githubusercontent.com/32313503/45646820-48345b00-ba79-11e8-9927-7e4c318a87ad.png)

Likely there is something with your local docker setup causing the problem.

I would suggest you make sure you are running Linux containers and that docker is fully up to date.

You also will want to run docker-compose

[2018-09-17 20:01] YutongTie-MSFT commented on #14658
@orting Thanks for your feedback. We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-17 20:01] #14658 closed

[2018-09-17 20:01] rizotas commented on #14958
@MicahMcKittrick-MSFT Thank you. Command works me was I don't know if it was missed the argument 'namespace' on command to create the cert manager, I used:
`helm install stable/cert-manager --namespace kube-system --set ingressShim.defaultIssuerName=letsencrypt-staging --set ingressShim.defaultIssuerKind=ClusterIssuer`
intead of;
`helm install stable/cert-manager --set ingressShim.defaultIssuerNam

[2018-09-17 20:02] kgreed commented on #15065
Thanks Bryan

From: Bryan Trach <notifications@github.com>
Sent: Tuesday, 18 September 2018 5:08 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Kirsten Greed <kirsteng@jobtalk.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] This english makes no sense! The word Assign does not mean Create (#15065)

@kgreed <https://github.com/kgreed>  Than

[2018-09-17 20:03] BryanTrach-MSFT commented on #13898
@faceoffers28 From my research, you will need to develop your own web api to register the device and then update the tags listed in this article. Please let us know if you have any further questions or concerns.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2018-09-17 20:03] #13898 closed

[2018-09-17 20:09] BryanTrach-MSFT commented on #14289
@bartmcleod I apologize for the delay in getting back to you.

With Windows App Services, this setting can be changed in the portal under app services. For Linux web apps, this setting will have to be changed directory in your image and then deploy the image itself to Azure. You should be able to define the location in the httpd.conf file.

We will now proceed to close this thread. If there are fu

[2018-09-17 20:09] #14289 closed

[2018-09-17 20:15] Mike-Ubezzi-MSFT commented on #14990
@pardha100 Can detail the two regions you were trying to establish as the primary and secondary regions for your Key Vault instance?
[Azure Key Vault availability and redundancy](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-disaster-recovery-guidance)

Additionally, there are [Guidelines for configuring Azure Key Vault](https://docs.microsoft.com/en-in/azure/sql-database/transparent-

[2018-09-17 20:15] BryanTrach-MSFT commented on #14991
@VikramPendse No, there is no way to know the availability of web spaces for a data center. The product group considers this to be internal information only. You may need to create multiple app service plans until you get one that matches the proper web space.

I would also suggest you consider [cloning your web app](https://docs.microsoft.com/en-us/azure/app-service/app-service-plan-manage#move-a

[2018-09-17 20:15] bartmcleod commented on #14289
@BryanTrach-MSFT The point is, with a simple out of the box Linux for web apps, it is not your own image that you deploy. I understand that I can create my own image, but I did not manage to get SSH working on that, since it doesn't have systemd on Centos 7. That is, I got SSH working locally, but on Azure that worked only 1 out of 100 tries approximately, possibly because sshd wasn't running as a

[2018-09-17 20:17] minhaj-dell commented on #14949
@SaurabhSharma-MSFT
1) I was referring to Resource owner password grant flow when I said user credential would be required for this?  So am I correct?
2) What about the diagram forDaemon on-behalf of flow documented in the link provided earlier and posted below again:  https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios
it clearly states that user token is used

[2018-09-17 20:18] mike-urnun-msft commented on #15036
Hey @jolsen71 Thanks for reporting this issue and contributing an improvement to ms docs! We have reviewed and corrected this issue, and the change will reflect after our next merge occurs.

We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 20:18] #15036 closed

[2018-09-17 20:19] BryanTrach-MSFT commented on #14289
@bartmcleod you are correct and we apologize for the frustration that you have encountered. The default App Service on Linux does not allow you to edit the image and thus this is a parameter that cannot be changed when using this product.

In order to define this parameter, you would need to use [Web Apps for Containers](https://azure.microsoft.com/en-us/services/app-service/containers/), which al

[2018-09-17 20:29] MicahMcKittrick-MSFT commented on #14958
@rizotas thanks for the extra details. In all my tests it was always deploying to that namespace. But it might be worth noting in the doc.

I will assign to the content author to review and see if we should add it as a note.

[2018-09-17 20:30] mattreatMSFT commented on #14237
@jeffwmiles  Reachability report is intended to provide a way to compare latency values to Azure regions from various locations & service providers. We do not expose the scale for determining the relative latency values reported.
However, if your application is very latency sensitive a difference in scores can be significant.

[2018-09-17 20:31] mattreatMSFT commented on #14237
#please-close

[2018-09-17 20:31] bartmcleod commented on #14289
@BryanFranzMSFT I understand and I do not mind a little frustration from to time to time. However, I would appreciate some insights on how to address or circumvent the issue with SSH. I have tried Web Apps for Containers, with a Centos 7 image that does not have systemd. So I installed openssh and ran  /usr/sbin/sshd -D -E /var/log/ssh.log from an init shell script. This only gave me an SSH shell

[2018-09-17 20:35] mike-urnun-msft commented on #14985
@vladvino We may have to add a step or a callout in this doc regarding the `Ocp-Apim-Trace-Location` header.

[2018-09-17 20:36] mattchenderson commented on #15065
That is the command. The idea is that you may assign a pre-created one, although App Service / Functions do not yet support this. The design is consistent across services supporting managed identities. For further discussion on the command itself, please head to https://github.com/Azure/azure-cli

The docs are an accurate reflection. #please-close.

[2018-09-17 20:37] Mike-Ubezzi-MSFT commented on #15018
The screen images for this tutorial need to be updated, as this tutorial is very hard to follow.

[2018-09-17 20:37] Mike-Ubezzi-MSFT commented on #15018
@carmeleve I have assigned the issue to the content author to evaluate and update as appropriate.

[2018-09-17 20:38] MarileeTurscak-MSFT commented on #15094
Yes, you can add co-administrators to manage Azure Services. You would just assign a global administrator role to user. This guide is very detailed and should help you. https://the-eye.eu/public/Books/qt.vidyagam.es/library/humble-cloud-computing-bundle/Mastering%20Identity%20and%20Access%20Management%20With%20Microsoft%20Azure/Mastering%20Identity%20and%20Access%20Management%20With%20Microsoft%20

[2018-09-17 20:39] Karishma-Tiwari-MSFT commented on #14768
Thanks @dmarlow @rrector for sharing your findings. We will keep these things in mind while updating the doc.
CC: @jpconnock

[2018-09-17 20:39] MarileeTurscak-MSFT commented on #15094
I think this should answer your question. If you have further inquiries please leave a comment below or open another issue and I will gladly continue the discussion.

[2018-09-17 20:39] #15094 closed

[2018-09-17 20:39] MicahMcKittrick-MSFT commented on #15031
@WalkingDisaster thanks for this find.

@suchiagicha can you take a look to see if we need to get this doc updated?

CC @aljo-microsoft

[2018-09-17 20:39] Adam-Smith-MSFT commented on #15089
@wobblewobble Azure Backup is a Pay As you Go Service, it's not necessarily involved with your storage account (Think of it as if it is using a storage account but in the background), unfortunately , when creating a service vault, it doesn't prompt you to select a storage account, the only option that you are prompted for are the redundancy and the region. Does this answer your question ?

[2018-09-17 20:41] DonPetry-EY opened #15125 "Source IP ranges not valid for Azure Storage Firewall"
The Source IP ranges listed per region for LogicApps does not work with Azure Storage Firewall.  In fact, Azure Storage Firewall is not currently compatible, supported or functional when used in conjunction with LogicApps.  A LogicApp is not able to reach Azure Storage in the same region when Azure Storage Firewall is enabled even when source IP whitelisting is configured per this article.

---
##

[2018-09-17 20:43] Karishma-Tiwari-MSFT commented on #14348
@juhacket Can you please share your expert insights on this issue? I assigned it to you as per directed by @ChackDan. Looks like another customer is seeing the same issue.

[2018-09-17 20:45] YutongTie-MSFT commented on #15102
@diberry Thanks.
@ksaru10 We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-17 20:45] #15102 closed

[2018-09-17 20:49] Karishma-Tiwari-MSFT commented on #15034
@jahan2001 As we have not heard back from you, we will now close this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-09-17 20:49] #15034 closed

[2018-09-17 20:50] Karishma-Tiwari-MSFT commented on #15073
@Rezduan83 Can you please share if you have any question or feedback on any Azure doc, so that we can help you out?

[2018-09-17 20:51] YutongTie-MSFT commented on #13028
@cbarkerms We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2018-09-17 20:51] #13028 closed

[2018-09-17 20:52] TravisCragg-MSFT commented on #14237
@jeffwmiles We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 20:52] #14237 closed

[2018-09-17 20:54] Alberto-Vega-MSFT commented on #15017
Hi @ratchetwrench you might want to read this doc [Standard Date and Time Format Strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings) that contains a list of the format specifiers. Where you can find a link to the [Short Date ("d") Format Specifier](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strin

[2018-09-17 20:54] TravisCragg-MSFT commented on #14696
@cubikca We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 20:54] #14696 closed

[2018-09-17 20:55] cephalin commented on #14991
@BryanTrach-MSFT That's a screenshot of a real portal page. This is a product issue. @apurvajo @davidebbo Can you help track down the person who owns this? The App Service page shows RG logo when "Change App Service Plan is clicked".

[2018-09-17 20:56] TravisCragg-MSFT commented on #14008
@munir94 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-09-17 20:56] #14008 closed

[2018-09-17 20:57] MohitGargMSFT commented on #15086
@blecalex Please note that the application claims are configured in RPOC policy created using which you are getting access token and referesh token. When you [Redeem a Refresh Token](https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc#redeem-a-refresh-token) , you will again access same token URL which has ROPC policy name mentioned. The access token returned will have the r

[2018-09-17 20:57] krokoko commented on #14965
Hello sergaz,

  I am using the IoT SDK C (2018-07-11). I can connect to IoT hub directly. Unfortunately i cannot change to another network :(

[2018-09-17 20:58] xenalite commented on #13992
@MicahMcKittrick-MSFT Any word on this?

[2018-09-17 20:59] msangapu commented on #13373
Hi @ahmedelnably - Touching on what @cephalin wrote earlier about Node 10.6. It's still being listed in "az webapp list-runtimes". I checked through Kudu and 10.6 doesn't exist for Windows, however I'm able to run "az webapp create" with version 10.6 -- **shouldn't this fail**?

[2018-09-17 21:01] mike-urnun-msft commented on #14985
Hey @u983101 Are you able to share any repro steps? I've just gone through the steps and didn't encounter any issue. Looks like the `Ocp-Apim-Trace-Location` header is included in the response and points to the location of the trace:
![image](https://user-images.githubusercontent.com/36717703/45650148-35725400-ba82-11e8-9e9f-4d592ec690a1.png)

[2018-09-17 21:02] lianger114 opened #15126 "Please add 'AzureCloud'"
I noticed this page is missing several of the service tag options for setting up NSG such as "AzureCloud".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e905802-0b08-4b3b-25ec-0f88c023bc32
* Version Independent ID: f31325e5-49ea-b28c-336e-10f2a3fc12b4
* Content: [Azure security groups overview](https://docs.microsoft

[2018-09-17 21:05] MohitGargMSFT commented on #15107
@a-mosheh I have assigned the issue to the content author to investigate and update as appropriate.

[2018-09-17 21:06] MicahMcKittrick-MSFT commented on #13992
@xenalite I am working offline now to get an answer for you. Will update as soon as I have more information.

[2018-09-17 21:08] MohitGargMSFT commented on #15117
@1trevor Thanks for your feedback! We will investigate and update soon on it.

[2018-09-17 21:19] TravisCragg-MSFT commented on #12771
@eosfor Yes, it looks like you can.

[2018-09-17 21:20] Mike-Ubezzi-MSFT commented on #14986
@JamesMDorame Thank you very much for bringing this to our attention. Unfortunately, there is no SLA for this service.

There is another option, and that is to download NOAA data, import it into Cosmos DB, and use PowerBI to run the reports.

Regards,
Mike

[2018-09-17 21:22] Nican opened #15127 "Duplicate ids"
It is not clear what the behavior of specifying a non-unique "id" is.
If I specify an event with the same id, but 1 day apart, will the message get delivered twice?
What if the webhook subscription does not read the event and a message with the same id gets published multiple times? Will only the first one get to the webhook? The last one? All of them?

---
#### Document Details

⚠ *Do not edit th