[2020-09-24 11:02] surensaluka commented on #59501
@mmacy Hi,
Cert installed via the command `sn -i active-directory-dotnet-native-uwp-v2_TemporaryKey.pfx VS_KEY_F1EA1631F64DC3C0` but the original error message won't go away. Generating a new key is very easy with VS 2019 since it provides a nice UI to do that.

[2020-09-24 11:12] thecpshah commented on #63134
On my laptop, I also get the following error:

`Failure while loading azureml_run_type_providers. Failed to load entrypoint hyperdrive = azureml.train.hyperdrive:HyperDriveRun._from_run_dto with exception (flake8 3.8.3 (c:\users\chintan.b.shah\anaconda3\lib\site-packages), Requirement.parse('flake8<=3.7.9,>=3.1.0; python_version >= "3.6"')).`

[2020-09-24 11:16] aelmanaa opened #63208 "ApplicationInsights-home repo is archived"
[Enter feedback here]
Regarding: "To report data model or schema problems and suggestions use GitHub ApplicationInsights-Home repository." This repo has been archived so where can we log our issues/feedbacks?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abec1591-e1ef-dcae-9cb7-8a6afd7de947
* Version Independent ID: f

[2020-09-24 11:17] rquintino opened #63209 "why do we need to provide external table schema for formats with type information? (ex:parquet)"
seems redundant, & prone to errors, at least with parquet,

example from databricks we can just do (skip schema):

CREATE TABLE nytaxi_trips
  USING PARQUET
  LOCATION '...;

at least make it optional?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33f24f1e-cb2d-7606-16c2-ae19c0db155a
* Version I

[2020-09-24 11:25] vipulsparsh commented on #63182
@billmath  Can you have a look ?

[2020-09-24 11:26] vipulsparsh commented on #63024
@brianpepino Yes you are correct.  Will be closing this now, if you have any questions, feel free to tag me in your response.

[2020-09-24 11:26] #63024 closed

[2020-09-24 11:32] rolfhargis-hhs commented on #63145
Thank you!

Rolf Hargis
DSFederal, Inc.
Management Analyst for HHS OCIO-OPS
Program Management and Integration
Pers: (240) 421-1472
HHS: (202) 809-6487

From: Tom FitzMacken <notifications@github.com>
Sent: Wednesday, September 23, 2020 3:09 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Hargis, Rolf (OS/ASA/OCIO/OEA) (CTR) <Rolf.Hargis@hhs.gov>; Mention <mention@noreply.githu

[2020-09-24 11:42] SwathiDhanwada-MSFT commented on #63208
Thanks for reporting this @aelmanaa .

Assigning to @mrbullwinkle for review

[2020-09-24 11:45] paulmelis commented on #62963
Thanks for updating the docs! I notice all connections are outgoing, so does that mean that the video stream from ARR is delivered over TCP (given the extra latency compared to UDP)? Or is the assumption made that the firewall is stateful and will allow incoming UDP traffic on the same port that outgoing UDP traffic was sent? Sorry for the details, just trying to understand (and why ARR works on s

[2020-09-24 11:46] akingscote commented on #63204
So i finally managed to get something working and my `/etc/krb5.conf` file looks like this:
[code]

it would be useful to know that you dont have to change the `domain_realm` or `realms` sections.
Thats definately something unique to AAD DS, as when working with Active Directory outside of Azure I have to change those values.

[2020-09-24 11:52] SwathiDhanwada-MSFT commented on #63093
@ImrePyhvel As I suggested in my previous comment, kindly upvote the requested feature as it raises visibility to the Azure feature team and prioritize it.

As there are no documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-24 11:52] #63093 closed

[2020-09-24 12:42] richard-artes opened #63212 "*.msappproxy.net does not exist, no such domain name"
*.msappproxy.net does not exist, no such domain name
I think this document needs updating. msappproxy.net does not exist, no such domain name exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d53fedc-b37d-9c37-fd71-32088e1e88d3
* Version Independent ID: 1d67c426-39ff-8646-139d-51cd5e9fe44e
* Content: [Azure AD Co

[2020-09-24 12:54] david-stewart-palapanou commented on #63136
I'm using Azure CLI (locally), running the below command:

$(az vm show -g testrg -n testvm --query id | tr -d '"')

Provides me the following output:

tr : The term 'tr' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:50
+ $(az vm show -g

[2020-09-24 13:07] lymedo commented on #19456
Do we need to use a Linux agent for this to work?

[2020-09-24 13:08] sdebruyn opened #63213 "Python links point to NodeJS versions"
All the links under "Python" point to NodeJS solutions
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e8650b7-1fd8-8626-de01-73130af5f656
* Version Independent ID: b1766fa1-9bf4-33ed-8bd7-9fee6cd0769e
* Content: [Troubleshooting intermittent outbound connection errors in Azure App Service - Azure App Service](https://d

[2020-09-24 13:11] jkatebin opened #63214 "Misspelling"
Very low priority, just a typo.  You misspelled similar as 'similiar'.  The word 'similiarity' might be wrong as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90378d9c-eeb4-f8c5-2f38-a5132a7f303f
* Version Independent ID: a2e20d39-eb18-e7d2-749c-6955bf739d2c
* Content: [Speaker Recognition quickstart - Speech se

[2020-09-24 13:14] mrbullwinkle commented on #63208
@aelmanaa the best place to use if you have feedback for the engineering team is here: https://github.com/microsoft/ApplicationInsights-dotnet/issues/new/choose. I will update the doc accordingly to point to this location.

[2020-09-24 13:16] shashishailaj commented on #63110
@Molx32 Thank you for pointing this out . I have verified this form the portal.

![image](https://user-images.githubusercontent.com/532022/94149816-fe678200-fe95-11ea-8159-ecc19428db0e.png)

We have initiated a change on the page and this will be updated in the next 24-48 hours. We will now close this issue.

Thank you.

[2020-09-24 13:33] BobbyCGD commented on #19456
@lymedo @arkiaconsulting

I think so, I'm using a windows agent and have opted for not checking if the agent's IP address is in the list of IP addresses in the service tag. Here is the step I added to my pipeline

[code]
I then use

[code]

before trying to publish to the storage account and after I'm done publishing I use

[code]

[2020-09-24 13:36] amanmcse commented on #63198
@RideMo  We are working on it in separate issue #62857 , please subscribe to this issue.
Closing it as duplicate.

[2020-09-24 13:36] #63198 closed

[2020-09-24 13:39] arkiaconsulting commented on #19456
@BobbyCGD If you don't check the IP found by ipinfo, you assume that it hasn't been hacked... Be careful on production environment !

[2020-09-24 13:39] HarithaMaddi-MSFT commented on #63209
@rquintino - Thanks for your valuable feedback. As this does not correspond to a document enhancement/issue and more on a product change, I would recommend you to submit idea in [feedback forum](https://feedback.azure.com/forums/307516-azure-synapse-analytics). All the ideas posted here are closely monitored by the Synapse Product team and will implement in future releases.

[2020-09-24 13:39] #63209 closed

[2020-09-24 13:50] BobbyCGD commented on #19456
@arkiaconsulting Definitely a risk, but in my specific use case not a problem. Deployments are always "supervised" worst thing that could happen is deployment step fails. In this case:
1. An email alert is sent out
2. The IP is removed right away no dependency on success of deployment step

[2020-09-24 13:52] AshokPeddakotla-MSFT commented on #63027
@levalencia Does that helps? Do let us know if you have any further queries.

[2020-09-24 13:53] AshokPeddakotla-MSFT commented on #62999
Adding @lyrana to help with this query.

[2020-09-24 13:54] KrishnaG-MSFT commented on #62950
@rwatjen I was also able to reproduce that template with category "LAQueryLogs" has failed stating its not supported and then template with category "Audit" was successful.

<img width="960" alt="ALA2" src="https://user-images.githubusercontent.com/45988031/94154050-1b528400-fe9b-11ea-968b-c7a9ac9939f4.PNG">

Assigning content owner @bwren for visibility, review and document enhancement considerat

[2020-09-24 13:54] levalencia commented on #63027
yes please close the issue, I will reinstall the OS and if any issue will open a new one, thanks a lot for the help

[2020-09-24 13:56] #63110 closed

[2020-09-24 13:57] KrishnaG-MSFT commented on #63077
As at this point there's no edits or updates needed for the referred Azure documentation so closing this issue for now. If there are further questions or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-09-24 13:57] #63077 closed

[2020-09-24 13:57] AshokPeddakotla-MSFT commented on #63027
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-24 13:57] #63027 closed

[2020-09-24 13:59] shashishailaj commented on #62987
@wtfstoops Please let us know if the details provided above by @hpsin are helpful . In case you have any further queries , we will be happy to help .

Thank you.

[2020-09-24 14:14] baanders commented on #63082
Thank you @PeterTurcan for the catch! You are correct.

Updating the method names to remove the underscores in PR #131184.

Since this is a straightforward update, I'll have the PR automatically close this issue when it is merged. Feel free to comment back on this thread with any remaining questions or comments even after that point!

[2020-09-24 14:25] andrePKI commented on #16579
I have the same question. If the portal is able to show it, the attribute must be stored somewhere, hence able to be retrieved...
I just want something simple: to list the source of the accounts and groups
![image](https://user-images.githubusercontent.com/23510294/94158382-9ce9e800-fe82-11ea-9cf5-0ae2cd784b34.png)
: on-prem, Cloud (i.e. O365, e.g. Teams) or Azure Active Directory
![image](https:/

[2020-09-24 14:26] #63082 closed

[2020-09-24 14:27] amagarw opened #63217 "Same Application Insights Instance for Azure Function and APIM does not log APIM requests"
The Azure APIM application insights does not log anything if the Azure Function and the APIM are using same Application Insights instance. However, it worked when created a separate Application Insights Instance for APIM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f40a37-fa0f-6d54-57ad-8d58c6c3531b
* Version Inde

[2020-09-24 14:30] tfitzmac commented on #63192
@n-irwin - when you say the validator is throwing an error, do you mean your editor is warning you that the syntax is not correct? Or, are you getting an error when you deploy the template? There may be an issue with intellisense but the template should deploy without any problems.

[2020-09-24 14:31] shashishailaj commented on #63102
@DanFourman I created a lab DC with Windows 2019 and installed active directory domain services role. I can confirm that the attributes `lockouttime` `pwdLastSet` do exist . Please find the attributes on the user objects.

![image](https://user-images.githubusercontent.com/532022/94158777-6ae77e80-fea0-11ea-98f7-d1b1ef55e92e.png)

![image](https://user-images.githubusercontent.com/532022/94158941-

[2020-09-24 14:32] jkatebin commented on #62959
One would imagine the [VoiceProfileClient ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.cognitiveservices.speech.voiceprofileclient?view=azure-dotnet) class would have a `Read` function given it seems to be a CRUD wrapper.  Oddly 'read' is replaced with `Reset` whatever that does...

Having everyone re-enroll everytime renders this useless like @roninstar stated, but that's such a glarin

[2020-09-24 14:33] NavtejSaini-MSFT commented on #62468
@zarkoc We are going ahead and closing this issue. If you have any further problem, please let us know.

[2020-09-24 14:33] #62468 closed

[2020-09-24 14:35] benrfairless opened #63218 "Documentation refers to locations that no longer exist."
When Browsing to https://account.activedirectory.windowsazure.com/Proofup.aspx or https://portal.office.com/ and going to my account I am redirected to https://myaccount.microsoft.com/?ref=MeControl and I have no way to create new passwords.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8751595d-4839-d2ee-1e2c-16d07ef

[2020-09-24 14:36] NavtejSaini-MSFT commented on #62892
@VitalyMCT Please let us know if you have any further question regarding this.

[2020-09-24 14:39] SamaraSoucy-MSFT commented on #63206
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-24 14:40] NavtejSaini-MSFT commented on #63132
@ktremain The changes have been merged and will be live approx 24 hours. We are going ahead and closing this request. Please get back to us if any other question.

[2020-09-24 14:40] #63132 closed

[2020-09-24 14:41] mossywell opened #63219 "Clarification on the destination host name to use"
Point 3 uses the "contoso" example, specifically listing "afdverify.contoso.azurefd.net". I recommend changing this example to "afdverify.www-contoso.azurefd.net" to make it clear that the "www-contoso" part is a host name and not just "contoso.com" minus the ".com".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-24 14:46] bastoune commented on #52418
I still have the issue. It appears that the main issue is that it uses a deprecated acme field.

Refering to : https://github.com/jetstack/cert-manager/issues/2761#issuecomment-605879129

[2020-09-24 14:48] Robert-Kostecki commented on #63119
Please find attached as requested https://docs.microsoft.com/en-us/answers/questions/106784/adf-copy-activity-using-polybase-fails-to-load-34d.html

[2020-09-24 14:52] mmacy commented on #63120
@tjmcclure0501, I'm going to request this issue be closed as there are no documentation updates required at this time. #please-close

Please follow the open issue in the MSAL.js repository (https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/1999) to keep abreast of the situation, as that'll likely be the most up-to-date news source on the issue.

Cc: @tnorling @hamiltonha

[2020-09-24 14:52] #63120 closed

[2020-09-24 15:02] AndyBunning opened #63221 "Mix claims between Header and Body"
[Enter feedback here]

Is it possible to send some claims in the Header of a REST call and some in the body?
e.g. I want to send a JSON payload to an unauthenticated REST endpoint with an x-api-key header to provide REST API key authentication.  Is this possible as there is no mention on the page of how to mix send some claims in the body and some in the header.

Thanks!

---
#### Document Details

[2020-09-24 15:04] erikanderson opened #63222 "Request for clarification on how sessions are handled during key rollover"
From the documentation I understand that only one key can be active at a time. In the scenario where someone authenticates against key A, gets token, then the key rollover happens so that key B is active does the session authenticated with key A remain valid and if so for how long?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-09-24 15:10] NavtejSaini-MSFT commented on #63062
@MashaMSFT Can you please check the requirements for MI Transactional Replication https://docs.microsoft.com/en-us/azure/azure-sql/managed-instance/replication-between-two-instances-configure-tutorial#requirements

The documents we have checked says the Global Peering is not available for MI and VNET or VNET using VPN connection is required to be configured as @hiten004 also conveyed.

Please prov

[2020-09-24 15:11] NavtejSaini-MSFT commented on #63201
@julienmichel We are checking this and will get back to you.

[2020-09-24 15:22] AnassHmida opened #63223 "azure encryption JWT playback"
Hello,
I couldn't be more confused on how to add a JWT token to test if my stream works, I have literally tried everything and it still wouldn't accept my data.

So I tried to create a test JWT from an online token generator ( this one : https://irrte.ch/jwt-js-decode/ )

here is the JWT decoded 🥇
[code]

"iss" is my .net/tenantID
"aud" is my ad app id

i generate this with my verification key and

[2020-09-24 15:25] #62978 closed

[2020-09-24 15:28] tebeco commented on #51447
hello @tamram @SumanthMarigowda-MSFT
I'm trying to finish few migration for .Net 5.0
do you have any insight on this one ?

[2020-09-24 15:31] subhankars opened #63224 "Make a specific blob version to current version using C#"
### **C# API for setting a specific version to current version**

How can I set a specific version of my blob to the **current version** using C# like the way it is possible in the Azure Portal?

I was able to download a blob by a specific version, but I couldn't find any documentation to make a specific version to current version using C#. Can you please point out to any available C# documentatio

[2020-09-24 15:45] NorthHighlandNicole commented on #61439
Hello, could someone please respond? I opened this a month ago.

[2020-09-24 15:57] duongau commented on #63219
Hi Mossywell, I agree that can be a little confusing. What I will do is change "afdverify.contoso.azurefd.net" to "afdverify.contoso-frontend.azurefd.net" since that is what we use in our Quickstart guides for the frontend host name. Thank you for the suggestion here!

[2020-09-24 15:59] SatishBoddu-MSFT commented on #63196
Hello @shizn Thanks for the feedback on the document.

I have assigned the issue to the content author @shizn for further review and update the doc as appropriate.

[2020-09-24 16:02] shtout opened #63225 "Boot Diagnostics page does not mention the lack of support for ZRS Storage Accounts."
Our Boot Diagnostics page should mention that Boot Diagnostics does not support ZRS Storage Accounts. Changing a Storage account supporting Boot Diagnostics to ZRS will break Boot Diagnostics.

The portal itself will not allow you to create a ZRS storage account for boot diagnostics, but you can change it later, causing issues.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-09-24 16:03] gitmadness opened #63226 "The App IDs cfa8b339-82a2-471a-a3c9-0fc0be7a4093 does not exist in my tenant."
I'm following the instruction here but I can't find the App ID in my tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b568009-2a35-c627-cfa0-ff5cbfde027e
* Version Independent ID: 07fc2d02-be89-1170-3b37-9e65808d5d89
* Content: [Manage storage account keys with Azure Key Vault and the Azure CLI](https://docs.mic

[2020-09-24 16:08] Rodrigossz commented on #63201
@NavtejSaini-MSFT and @julienmichel : Fixing the information here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131200

The correct information is around 2 minutes (contained within 5 minutes).

[2020-09-24 16:12] Rodrigossz commented on #63201
@NavtejSaini-MSFT , the PR was merged. Can you close this issue?

[2020-09-24 16:12] praveen-pk opened #63227 "missing hyperlinks"
Building Open Enclave SDK samples on Linux
Building Open Enclave SDK samples on Windows

Above hyperlinks on the page do not work anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f4e0b93-44a2-1f3a-20dc-f7131cac836b
* Version Independent ID: b5e03619-766b-0811-3605-bb50519319e9
* Content: [Trusted applications a

[2020-09-24 16:13] luisquintanilla commented on #62453
Hi @nkma1989,

I followed the tutorial and was unable to reproduce the error using version **0.6.15** of the Azure ML VS Code extension. Can you please try using that version and see if you still get the error.

![image](https://user-images.githubusercontent.com/46974588/94171418-3ef7d900-fe5f-11ea-8bb3-d7575cd16ea7.png)

[2020-09-24 16:15] AshokPeddakotla-MSFT commented on #63227
@praveen-pk Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-24 16:17] peagerm opened #63228 "Split/Merge. The requested VM tier is currently not available in {tried a few regions} for this subscription."
We would love to use the Split/Merge tool. However, we have not found the right combo in the csfg that azure will support.

The requested VM tier is currently not available in  {tried a few regions} for this subscription. Is there an updated version of this tool or another configuration option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-24 16:21] tanmayjog commented on #63040
Hello Swathi,

Thanks for the suggestion. I had not earlier installed the required module in the automation account. I have installed it now.

However, the script is getting suspended as I receive below error

Upcoming breaking changes in the cmdlet 'Get-AzOperationalInsightsWorkspaceSharedKey' : Get-AzOperationalInsightsWorkspaceSharedKeys alias will be removed in an upcoming breaking change rele

[2020-09-24 16:23] NavtejSaini-MSFT commented on #63201
@Rodrigossz Thank you for the clarification here. @julienmichel We are going ahead and closing this issue. The changes will be live in next 24 hours.

[2020-09-24 16:23] #63201 closed

[2020-09-24 16:33] jihu opened #63230 "No full example on how to automate this"
We use templates to create new machines, and provisioning scripts to install everything on the VM. This documentation seems to assume one is OK with manual work every time a new machine is setup. I would like to see a guide that focus on doing all of this 100% automatically.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-09-24 16:39] NavtejSaini-MSFT commented on #63228
@peagerm We are checking this and will get back to you.

[2020-09-24 16:43] AbhishekShaha opened #63233 "built-in role-based access control"
Hi,

The first note in the link  here : https://docs.microsoft.com/en-us/azure/postgresql/howto-hyperscale-create-users points to general RBAC documentation(So that means built in role is supported for HS(citus)? )

In security baseline documentation for HS:
https://docs.microsoft.com/en-us/azure/postgresql/postgresql-hyperscale-security-baseline#identity-and-access-control

_"Hyperscale (Citus) d

[2020-09-24 17:09] JamesTran-MSFT commented on #63218
@benrfairless
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-24 17:11] robwafle opened #63236 "Following the authentication instructions on this page yields "invalid_request" when using audience as directed."
I followed the instructions on the "Register a public client application in Azure Active Directory" page to create a public client:
https://docs.microsoft.com/en-us/azure/healthcare-apis/register-public-azure-ad-client-app

And, I followed the instructions to access the Azure API for FHIR using Postman on this page.
But, that just yeilds "invalid_request" when I use the audience value as provided.

[2020-09-24 17:12] madmax209 opened #63237 "Microsoft Message Analyzer is deprecated"
This page references Microsoft Message Analyzer to analyze the logs and provides examples of usage (appedix 3), but this software was deprecated in Nov. 2019. Let's provide a suggested piece of software that is actually available.

https://docs.microsoft.com/en-us/openspecs/blog/ms-winintbloglp/dd98b93c-0a75-4eb0-b92e-e760c502394f

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-09-24 17:14] JamesTran-MSFT commented on #63226
@gitmadness
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-24 17:19] skeeler opened #63239 "Possibly incorrect Note on region support for zone to zone recovery"
At Microsoft Ignite 2020, availability zones were announced as being available in Canada Central region. The documentation on enabling zone to zone recovery (on this page) states that: "Support for Zone to Zone disaster recovery is currently limited to two regions: Southeast Asia and UK South". I created a new VM in Canada Central in an availability zone, and followed the instructions on this page

[2020-09-24 17:22] JamesTran-MSFT commented on #63212
@richard-artes
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-24 17:25] SubhashVasarapu-MSFT commented on #63219
@duongau, Thanks for the quick update.

[2020-09-24 17:29] Rodrigossz commented on #63180
@julienmichel and @MonikaReddy-MSFT

The issue is fixed here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131224

Please close the issue. TKS

[2020-09-24 17:30] normesta commented on #62687
hi @crisansou - I've added clarifying text to the "Set ACLs", "Update ACLs", and "Remove ACLs" sections of the article. The text attempts to clarify the difference between "setting" and "updating" and also the requirement to create an ACL object and apply that newly created ACL object instead getting the existing ACL first. If these descriptions are still not clear, please do let me know. Thank yo

[2020-09-24 17:32] kgremban commented on #63196
Hi @ondrejspilkaABB I think this is a great idea. I will reach out to our art team to start working on this and will let you know when there's a draft to review.

[2020-09-24 17:40] crisansou commented on #62687
Hi @normesta ,

It is clear now, using the suggested code it was possible to remove the group, thanks!

`
function Set-AclDirectoryDataLake {
    param (
        [Parameter(Mandatory = $true)]
        [Microsoft.WindowsAzure.Commands.Common.Storage.LazyAzureStorageContext]$Ctx,

        [Parameter(Mandatory = $true)]
        [string]$FileSystemName,

        [Parameter(Mandatory = $true)]

[2020-09-24 17:40] #62687 closed

[2020-09-24 17:45] mike-urnun-msft commented on #62838
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-24 17:45] #62838 closed

[2020-09-24 17:45] MarileeTurscak-MSFT commented on #63222
@erikanderson
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-24 17:49] peagerm commented on #63228
I did try to use all the OS Families as options and could not get it to allocate a cloud resource.

[2020-09-24 17:49] DerekHerman-MSFT commented on #63237
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-24 17:53] Chai-NED opened #63240 "Sounds great. How do I create one of these?"
Is there a step-by-step on how to create one? The links on this page just points to a standard ALB. Are they the same? Is this cross-region one a new SKU? Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22cdce66-2297-7485-f557-a98ab550082e
* Version Independent ID: b9571d39-0db0-adba-07fc-ac0c553f52b0
* C

[2020-09-24 17:54] skeeler commented on #63239
UPDATE: I experienced an error during the replication indicating OS version was not supported (checked doc link; it is supported), so unsure if problem is transient issue, some other error, or perhaps Zone to Zone Recovery really isn't supported in Canada Central yet. Appreciate if you could confirm.

[2020-09-24 18:26] bacmodung opened #63242 "-=0o-0"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3757d33c-7b1e-c2ac-fdd7-d549832f1122
* Version Independent ID: 095e05e5-5d12-9914-0fe8-8e801779a666
* Content: [Quickstart - Create a Windows VM with Azure PowerShell - Azure Virtual Machines](https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2020-09-24 18:30] ChaitanyaNaykodi-MSFT commented on #63207
Hello @binubk, Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2020-09-24 18:42] GiftA-MSFT commented on #63214
@jkatebin thanks for your feedback. The document will be updated accordingly shortly. Thanks again!

[2020-09-24 18:48] amitmsft commented on #14254
SQL Server is not supported on ARM. We have Azure SQL Edge which is supported on ARM and is generally available. https://docs.microsoft.com/en-us/azure/azure-sql-edge/overview

[2020-09-24 18:55] erikadoyle commented on #61439
@NorthHighlandNicole which section of this page shows redundant build steps? I'll take a look.

[2020-09-24 19:03] KitSkin opened #63246 "Code correction for custom topic subscription"
Under the **Subscribe to a custom topic** section, the command `az eventgrid event-subscription create` does not have a `--topic-name` parameter.  However, you can use the topic-name to get its ID and use `--source-resource-id`.  The block code would then be

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a5f91

[2020-09-24 19:18] justinasfour04 opened #63248 "Webview not supported"
Can you please include details as to how a developer would successfully integrate google into their sign in sign out user flow using the system browser since embedded webview is no longer supported. Can you also mention somewhere in this documentation that google no longer supports webview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-24 19:28] shashishailaj commented on #63204
@akingscote Thank you for sharing your findings. Please allow us some time to have this reviewed and we will update the thread with our findings.

[2020-09-24 19:31] qhaitoNNV opened #63249 "Custom IPsec policies for Point-to-Site"
Regarding this, I have been able to reproduce this and stumbled on something not mentioned here.

Once custom policies are configured, Connectivity is no longer possible and attempts at connecting result in a "Policy match error (Error 13868)".

I am not able to reconnect using new Root and Client Certificates, and/re-downloading the VPN Client.

A successful Connection is only possible when I run

[2020-09-24 19:51] RonnieQuan opened #63250 "Use Powershell to Approve PaaS Private Endpoint Connection"
In this document, it says not supported,
https://docs.microsoft.com/en-us/azure/private-link/manage-private-endpoint#manage-private-endpoint-connections-on-azure-paas-resources

Please confirm if this document is out of date, or this is still the case.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-09-24 20:00] AndreV84 commented on #14254
@amitmsft Thank you for following up!
If folks want on ARM "msodbcsql17 & mssql-tools", what should they do?

[2020-09-24 20:06] SamaraSoucy-MSFT commented on #63206
I've put in a PR to add the additional parameters to the CLI scripts. The changes will go live once the doc author approves them.

[2020-09-24 20:06] #63206 closed

[2020-09-24 20:27] gardnerjr commented on #62815
Source code samples for using the sdks wouldn't be our team, @mrbullwinkle would probably no more who does sdk related docs for App Insights.

[2020-09-24 20:30] writex opened #63252 "No providerName in ADO.NET connection string"
Under the section, "Update the web config", the XML includes providerName="System.Data.SqlClient" but after running the script I logged into my Azure portal and browsed to the call-center-db database it created, clicked on "Connection string" and then ADO.NET and noticed the connection string shows no providerName.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-09-24 20:32] JamesTran-MSFT commented on #62968
@wangyuehust
I just wanted to check in and see if you required additional assistance or if you were able to resolve this issue?

If you have any other questions, please let me know.
Thank you!

[2020-09-24 20:33] JamesTran-MSFT commented on #63163
@SomeLucky1
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-24 20:35] JamesTran-MSFT commented on #63212
@richard-artes
Thanks for your feedback! I have assigned this issue to the author who will investigate and update as appropriate.

[2020-09-24 20:47] JamesTran-MSFT commented on #63226
@gitmadness
Looking through the documentation, it doesn't look like any of the commands require you to provide your Key Vaults AppID. Is there a specific command you're running that is giving you that error?

[2020-09-24 21:03] n-irwin commented on #63192
Both

[2020-09-24 21:17] monojit18 opened #63254 "SSH into AKS worker node"
Following exactly the same step, still it does not work - Permission denied (publickey).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b81a147-db1c-b92f-88d1-6dd0991a72fe
* Version Independent ID: f5a2c949-498f-5848-d89c-031d1a757120
* Content: [SSH into Azure Kubernetes Service (AKS) cluster nodes - Azure Kubernetes

[2020-09-24 21:20] JnHs commented on #62837
Thanks for your patience @RonnieQuan, both topics should now reflect the accurate list. We appreciate your raising this issue! I will close the issue now but let us know if you have further questions or concerns.
#please-close

[2020-09-24 21:20] #62837 closed

[2020-09-24 21:21] JamesTran-MSFT commented on #63126
@robermud
Thanks for your patience, looking through the documentation and trying to reproduce your issue, I wasn't able to, due to subscription limitations.

However, can you make sure the [ARM template](https://docs.microsoft.com/en-us/azure/lighthouse/how-to/onboard-customer#create-an-azure-resource-manager-template) you selected was correct for the type of resource you're trying to onboard, i.e

[2020-09-24 21:26] JamesTran-MSFT commented on #63218
@benfairless
When navigating to the first link you sent, I was redirected to:
![image](https://user-images.githubusercontent.com/36619112/94201986-ab7bd380-fe71-11ea-8714-794616547c0c.png)

Portal.office.com also redirects me to:
![image](https://user-images.githubusercontent.com/36619112/94202060-cd755600-fe71-11ea-9c2b-734a1c575d74.png)

Have you tried navigating to these links via Incognito mod

[2020-09-24 21:27] ChaitanyaNaykodi-MSFT commented on #63246
Hello @KitSkin, Thank you for your feedback! We will review and update as appropriate.

[2020-09-24 21:29] JasonYeMSFT opened #63255 "Update the instructions on how to get SAS in Storage Explorer"
Hi authors,

Storage Explorer made a change which now requires the user to generate the container level SAS from the container node. The user can only generate object level SAS from the selected blobs right now.

Could you please update the doc page to reflect that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9235f1

[2020-09-24 21:29] ChaitanyaNaykodi-MSFT commented on #63217
Hello @amagarw, Thank you for your feedback! We will review and update as appropriate.

[2020-09-24 21:41] gitmadness commented on #63226
@JamesTran-MSFT, you're right. I was browsing between https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys-powershell and https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys and clicked on the feedback link for the wrong page.

There's a command to grant Key Vault the 'Storage Account Key Operator Service Role' so thought I check if App ID exist

[2020-09-24 21:48] mmacy commented on #61266
Woah - I thought I'd signed off on it, but I hadn't. :man_shrugging: I just did so - change will be live either this afternoon or tomorrow mid-morning (Pacific time).

[2020-09-24 21:53] Karishma-Tiwari-MSFT commented on #63225
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-24 21:54] Karishma-Tiwari-MSFT commented on #63242
Please provide us with the link to the documentation you are referring to as well your question, so we can better assist.

[2020-09-24 21:55] #63242 closed

[2020-09-24 21:59] jamescadd opened #63257 "Is "no upfront fees" correct when PSTN becomes available?"
Docs accurately mention consumption billing, but when reviewing the PSTN docs I saw that there is a "plan" fee when retrieving a phone number.  Unsure if this is "100% true."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee82481-bb51-5071-b10d-03b5cc380290
* Version Independent ID: b6821da7-323a-3e1c-64ec-962cce97dc4

[2020-09-24 22:00] Karishma-Tiwari-MSFT commented on #62737
We will now close this issue. Please share the details and tag me in a comment, I will reopen it and we will gladly continue the discussion.

[2020-09-24 22:00] #62737 closed

[2020-09-24 22:08] SnehaGunda commented on #62058
@IoTFier I hope your questions are addressed, let us know if we can close this issue.

[2020-09-24 22:10] davidsandbrand opened #63259 "Page says "[,...] when both of these statements are true:" then proceeds to list more than two things"
in the https://docs.microsoft.com/en-us/azure/advisor/advisor-cost-recommendations#optimize-virtual-machine-spend-by-resizing-or-shutting-down-underutilized-instances section, it says:

"The advanced evaluation model in Advisor considers shutting down virtual machines when both of these statements are true:"

then lists 3 statements.

"both" should be changed to "all".  That's all.

---
#### Docum

[2020-09-24 22:13] chengyu-liu-cs commented on #49616
Have the same issue

...
"code": "ValidationError",
        "message": "Metric Document is too large, 4925b is larger than the max metric size 3000b.",
        "details_uri": null,
        "target": "MetricBatch",
        "details": [
            {
                "additional_properties": {
                    "severity": null
                },
                "code": "Invalid",
                "

[2020-09-24 22:15] AjayKumar-MSFT commented on #63054
@matthewrobertson, Requesting your comments on this.

[2020-09-24 22:16] AjayKumar-MSFT commented on #63091
@meet-rs-api,  Just checking in to see if you have had a chance to see the previous response(s). Kindly let us know if you need further assistance on this issue or is good to be closed.

[2020-09-24 22:22] Karishma-Tiwari-MSFT commented on #62662
I have reached out to the internal teams to get information on the same. Thanks.

[2020-09-24 22:24] benfairless commented on #63218
Mega confused here. Think you wanted @benrfairless 😅

[2020-09-24 22:31] robermud commented on #63126
@JamesTran-MSFT
Thanks for your response, I already opened a ticket with our Azure support because I've been struggling with this since yesterday.

[2020-09-24 22:32] Karishma-Tiwari-MSFT commented on #63254
@monojit18 Did you create AKS cluster from Azure portal?

[2020-09-24 22:37] olivelawn opened #63261 "func new --name HttpExample --template "HTTP trigger" hangs from within LocalFunctionProj directory"
Hello. On Macos 10.14.12 using python 3.8.5, az-cli 2.12.0, and func 3.0.2912

Following steps from tutorial. Created python virtual environment, activated, and performed "func init LocalFunctionProj --python", and then cd'd into LocalFunctionProj. I run into problems with  "func new..."  command hangs for 100 secs and throws an error. Command responds from other directories.

(.venv) [parker@park

[2020-09-24 22:39] gitmadness commented on #63226
The App ID must be some special one because New-AzRoleAssignment -ApplicationId 'cfa8b339-82a2-471a-a3c9-0fc0be7a4093' -RoleDefinitionName 'Storage Account Key Operator Service Role' -Scope $storageAccount.Id worked.

[2020-09-24 22:52] prubis commented on #63109
+1, this would be very useful information.

[2020-09-24 22:54] JamesTran-MSFT commented on #63126
@robermud
Thank you for the quick response, I apologize for not responding earlier. However, since you're working with our support team, I'll go ahead and close out this GitHub issue at the end of the day, pending any other questions on your end.

Thank you again for your time and patience throughout this issue.

[2020-09-24 23:04] JamesTran-MSFT commented on #63226
@gitmadness
I'm glad you were able to get everything to work. I'll go ahead and close out your issue at the end of the day, pending any other questions from your end.

Walking through the documentation myself, I was able to get the "New-AzRoleAssignment" command to work using the default example from the documentation.
![psCmd](https://user-images.githubusercontent.com/36619112/94208742-6d85ac00-f

[2020-09-24 23:13] femsulu commented on #63239
@skeeler  - thanks for the question and update. Checking internally on this one. will respond as soon as I get an update,
Stay tuned.

[2020-09-24 23:26] olivelawn opened #63262 "func new --name HttpExample --template "HTTP trigger" hangs from within LocalFunctionProj directory"
Hello. On Macos 10.14.12 using python 3.8.5, az-cli 2.12.0, and func 3.0.2912

Following steps from tutorial. Created python virtual environment, activated, and performed "func init LocalFunctionProj --python", and then cd'd into LocalFunctionProj. I run into problems with "func new..." command. It hangs for 100 secs and throws an error. Same command responds from other directories.

(.venv) [park

[2020-09-24 23:28] olivelawn commented on #63261
Opened on wrong page, closing....

[2020-09-24 23:28] #63261 closed

[2020-09-24 23:55] #63126 closed

[2020-09-24 23:57] KrishnaG-MSFT commented on #63259
@davidsandbrand Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-24 23:59] KrishnaG-MSFT commented on #63255
@JasonYeMSFT Thanks for the comment.
Assigning @iqshahmicrosoft for visibility, review and document enhancement consideration.

[2020-09-24 23:59] #63226 closed

[2020-09-25 00:01] KrishnaG-MSFT commented on #63261
@olivelawn Thanks for the update.

[2020-09-25 00:01] iqshahmicrosoft commented on #63255
@Kriti Shah<mailto:Kriti.Shah@microsoft.com> did the experience change again?

From: JasonYeMSFT <notifications@github.com>
Sent: Thursday, September 24, 2020 2:30 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Iqbal Shahid <iqshah@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/azure-docs] Update the instructions on how to get SAS in Storage Explo

[2020-09-25 00:02] JamesTran-MSFT commented on #62968
@wangyuehust
Since I haven't heard anything from you in the past few days, I'll go ahead and close out your issue.

If you have any other questions or need further assistance, please feel free to tag me, and I'd be more than happy to re-open this issue and continue working with you.

Thank you for your time and patience throughout this issue!

[2020-09-25 00:02] #62968 closed

[2020-09-25 00:09] RonnieQuan opened #63264 "Create Azure Batch Pool Without Public IP in EastUS2 and CentralUS"
I have two questions,

1) Even though the document didn't mention eastus2 and cetnralus, but I'm able to create pool without pip in these two regions
Can you please confirm the feature is available?

2) The document still says pool without pip is preview feature, can we confirm if the document is accurate and when the feature will be GA?

Thanks!

[Enter feedback here]

---
#### Document Details

[2020-09-25 00:17] blackchess12 opened #63265 "How to retrieve IP Addresses used by the Standard Akamai CDN for white listing"
On https://docs.microsoft.com/en-us/azure/cdn/cdn-pop-list-api, instructions on how to grab the IPs used by Azure CDN and Verizon CDN are found, however instructions for Standard Akamai isn't found. Is there a way that I can view the list of IPs used by the Standard Akamai. I will need this to add to my white-list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-09-25 00:23] RonnieQuan commented on #62837
@Karishma-Tiwari-MSFT
Thank you so much for updating the document.

I have another issue, which is urgent, it's about Azure batch pool without public IP
https://github.com/MicrosoftDocs/azure-docs/issues/63264

Could you or anyone help me on that question?

Thank you and appreciate your help!
Ronnie

[2020-09-25 00:52] ncarandini opened #63266 "Unable to run the tutorial demo locally because Local.Settings.json is missing"
Hi folks,
the tutorial demo project created by [Create a repository](https://docs.microsoft.com/en-us/azure/static-web-apps/deploy-blazor#create-a-repository) step doesn't have the `Local.Settings.json` on the `Api` project.

Because of this, the solution doesn't run properly (i.e. the Blazor app don't fetch any data) when started locally from Visual Studio 2019 (I have Microsoft Visual Studio Ent

[2020-09-25 00:57] TravisCragg-MSFT commented on #63240
@Chai-NED To start, you will need to email crossregionlb@microsoft.com to see if you can get added to the private preview. If you are added to the preview, instructions to create & manage are given. When the service enters public preview, public instructions will be available.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your rep

[2020-09-25 00:57] #63240 closed

[2020-09-25 01:04] tamram commented on #62826
@jcmrva - I see what you mean. I've updated the image and the change is now live. Thanks for your feedback.

[2020-09-25 01:04] tamram commented on #62826
#please-close

[2020-09-25 01:04] #62826 closed

[2020-09-25 01:05] tamram commented on #51447
@tebeco - I'm working on it. I can't promise when I'll have it done, but hopefully within the next two weeks.

[2020-09-25 01:08] tamram commented on #62785
@vamuzumd - I have verified the issue and am working on restoring the sample application.

[2020-09-25 01:19] Karishma-Tiwari-MSFT commented on #63230
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 01:19] Karishma-Tiwari-MSFT commented on #63252
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 01:32] brenovult opened #63268 "Error while trying to import a certificate on Key Vault"
Hello,

I have a wildcard certificate that i created with Certbot - Let's Encrypt. When i try to import it to my Key Vault, i get this following error message:

![image](https://user-images.githubusercontent.com/49593078/94216130-f5d27400-feb4-11ea-826e-26496abac5c2.png)

These are the commands that i used to create the certificate:

[code]

And the .pfx file:

[code]

#### Document Details

⚠ *Do

[2020-09-25 01:37] NavtejSaini-MSFT commented on #63233
@AbhishekShaha We are checking this and will get back to you.

[2020-09-25 01:40] ToruMakabe opened #63269 "ID for Monitoring Metrics Publisher role"
Could you please check an appropriate ID for Monitoring Metrics Publisher role?

A related part is [here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics#upgrade-per-cluster-using-azure-cli).

This doc specify clientIdOfSPNOrMsi from addonProfiles.omsagent.identity.clientId for role assignment when user use MSI enabled cluster, but I believe that add

[2020-09-25 01:42] NavtejSaini-MSFT commented on #62605
@mrmuskrat We apologize for the inconvenience. We have assigned this to author for evaluation.
@arunkumarthiags Please check the feedback from Cx.

[2020-09-25 01:44] dawwa commented on #28461
@devedse you mentioned ended up creating another new subset in your most recent update, would you please clarify are the cosmos DB private endpoint and the web app service ended up with a same subset or not?

I went into the issue of CosmosDB requires subset without any dedication, but web app service requires a subset with dedication to servicefarm, which conflicts to each other. @Mike-Ubezzi-MSF

[2020-09-25 01:48] Mike-Ubezzi-MSFT commented on #62912
Hi, @robertlagrant. The regional disaster recovery process is detailed in this [document](https://docs.microsoft.com/en-us/azure/postgresql/howto-read-replicas-portal) and essentially comes down to manually promoting a Read-Replica to Master. If you are looking for a complete high availability solution for Kubernetes based upon availability zones, please see: [Create an Azure Kubernetes Service (A

[2020-09-25 01:54] TravisCragg-MSFT commented on #63249
@qhaitoNNV Your VPN no longer connecting after changing the policies is expected behavior, but should be added to the doc.

for your specific error, can you tell me what the custom policies you are setting, and the VPN SKU you are using?

[2020-09-25 02:01] TravisCragg-MSFT commented on #63250
@RonnieQuan To my knowledge, this is still correct. I was not able to find PowerShell or CLI commands to accept the connections. If you would like us to prioritize adding this functionality, please [leave your feedback at Azure Networking's feedback.azure.com page](feedback.azure.com/forums/217313-networking).

[2020-09-25 02:12] BryanTrach-MSFT commented on #63213
@sdebruyn Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 02:22] barclayn commented on #60036
@Maks303 Thank you for pointing this out. The overview is going through an rewrite and a new version will be released soon.

[2020-09-25 02:22] barclayn commented on #60036
#please-close

[2020-09-25 02:22] #60036 closed

[2020-09-25 02:26] barclayn commented on #56780
@kwaazaar  Thank you for your feedback. We are going through the process of updating that article. We hope to have an updated version within the next couple of months.

[2020-09-25 02:26] barclayn commented on #56780
#please-close

[2020-09-25 02:26] #56780 closed

[2020-09-25 02:29] Karishma-Tiwari-MSFT commented on #62662
@macolso Would you be able to share your insights on the customer question:

Reference doc: [Deploy GPU-enabled container instance - Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu)

[2020-09-25 02:31] Mike-Ubezzi-MSFT commented on #62912
@robertlagrant Update to this conversation. The solution is the a new service - Azure Database for PostgreSQL - Flexible Server. Please see: [High availability concepts in Azure Database for PostgreSQL - Flexible Server](https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/concepts-high-availability).

[2020-09-25 02:36] Karishma-Tiwari-MSFT commented on #63264
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 02:47] espacesolutions commented on #62713
In Local Policies/User Rights Assignment,

Add  "Guests" and "Local Users to the "Allow Log on Locally" setting.

In Local Policies/User Rights Assignment,

Remove "Guests" from the "Deny Log on Locally" setting.

if these were denied due to a decision to harden security, then users would get you-cannot-log-on-because-the-method-is-not-allowed

see https://social.msdn.microsoft.com/Forums/en-US/f6

[2020-09-25 02:48] #63052 closed

[2020-09-25 02:50] ram-msft commented on #62929
@OneConsutlantsDemo We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-25 02:50] #62929 closed

[2020-09-25 03:30] abhiyadav1323 commented on #60595
@spelluru  We are seeing a lot of event grid failures where event grid fails to deliver event to our function app. The failure outcome we see in the AegDeliveryFailureLogs logs are listed below.

•	outcome=Aborted
•	outcome=TimedOut
•	outcome=GenericError
•	outcome=Busy

Can you please explain in details what these outcomes mean. Are there any other potential outcomes? The message is very generic

[2020-09-25 03:35] MayankBargali-MSFT commented on #62927
@SeaDude Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-25 03:35] #62927 closed

[2020-09-25 03:36] WinstonHoward-MSFT commented on #63252
Hi @writex, thanks for the question.

Your are correct that on Portal when you select the ADO.NET option it provides you with a connection string. The ``providerName`` property is a different property than the ``connectionString`` property. [Here is the doc](https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.webcontrols.sqldatasource.providername?view=netframework-4.8) for ``SqlDataSource``

[2020-09-25 03:38] macolso commented on #62662
Hi @maganvill  - at this time we do not have an ETA for Vnet + GPU container group instances.

[2020-09-25 03:43] #63214 closed

[2020-09-25 03:56] writex commented on #63252
Yes, they are. You need to put yourself in the position of a developer who
knows very little about Azure and reads your documentation for the first
time. Any deviation from what he or she sees is alarming. If there are
inconsistencies, which is right?

Microsoft is very good at not only over architecting their programming
languages and frameworks, they seem to forget that programmers are still
hum

[2020-09-25 04:01] KrishnaG-MSFT commented on #63259
@davidsandbrand I have verified and updated the document as required. The update would go live soon i.e., in less than 24 hours. Thanks.

[2020-09-25 04:01] #63259 closed

[2020-09-25 04:03] sunilprabha commented on #63165
Thanks and finally got working with business and got my account setting updated.
https://docs.microsoft.com/en-us/answers/questions/106042/cannot-add-my-work-account-microsoft-authenticator.html?childToView=106083#answer-106083
https://support.microsoft.com/en-us/help/4051701/global-customer-service-phone-numbers
Regards
Sunil Prabha

[2020-09-25 04:04] BryanTrach-MSFT commented on #63223
@AnassHmida Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 04:14] RonnieQuan opened #63271 "CMK Encryption for SQL in Failover Group"
Do you support CMK encryption TDE for SQL server in failover group?
If yes, is there any prerequisite for this configuration?
My primary sql server is in eastus2, and secondary server is in centralus.
Looks like they can not use a keyvault from same region.

Do you have more detail about https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-overview#recommendat

[2020-09-25 04:21] MayankBargali-MSFT commented on #62804
@ncoder Thanks for your response. I was able to repro the issue at my local machine and have reached out to my team. Will be updating this thread once I heard back from my team.

[2020-09-25 04:25] sulingala opened #63272 "How do I give the column mapping while creating a Copy Activity?"
I tried to set the Translator property directly to JSON string like below but it is not working.
Translator = @"{
	""type"": ""TabularTranslator"",
	""columnMappings"": {
		""Id"": ""MyCustomId""
	}
}"

I also tried to set the Translator property to a new object of CopyActivity like below but it is not working as well.
IDictionary<string, object> objDic = (IDictionary<string, object>)new Dictionar

[2020-09-25 04:46] AjayKumar-MSFT commented on #63257
@jamescadd, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-25 04:47] sachazyto opened #63273 "How to reliably generate a X.509 sample cert for a module, as opposed to a device."
[This tutorial](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-python-python-module-twin-getstarted) works well when using SAS tokens as described, but I was wondering how to create a module twin that uses a X.509 CA cert: See [question that I posted on SO](https://stackoverflow.com/questions/64057662/how-to-create-a-x-509-ca-sample-certificate-for-an-azure-iothub-module).
After trial and

[2020-09-25 04:55] SwathiDhanwada-MSFT commented on #62952
Thanks for providing your inputs @PatrikHanssonIntersolia .

@xtoik As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-25 04:55] #62952 closed

[2020-09-25 04:56] SwathiDhanwada-MSFT commented on #62956
@SwayTex Can you please provide further information as requested in my previous comment?

[2020-09-25 05:02] SubhashVasarapu-MSFT commented on #63265
@blackchess12 , Thanks for reaching out. We will investigate and update this thread.

[2020-09-25 05:04] AnuragSharma-MSFT commented on #63236
@robwafle Thank you for the detailed feedback. We are actively investigating and will get back to you soon.

[2020-09-25 05:05] AnuragSharma-MSFT commented on #63271
@RonnieQuan Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-25 05:12] AjayKumar-MSFT commented on #63266
@ncarandini, Thanks for taking time to share your feedback and providing the solution that helps. We (@Craigshoemaker) will review and make the appropriate changes in the document.

[2020-09-25 05:19] SubhashVasarapu-MSFT commented on #62897
@saf-itpro, Appreciate your patience. Azure Portal has many UI changes recently and the same needs to be modified on the document. Here is the Application security groups tab for your convenience.
![image](https://user-images.githubusercontent.com/44890829/94229222-9c059480-ff1c-11ea-9dea-5fd3e256091b.png)
We will assign this issue to the respective content author for updating the doc with latest

[2020-09-25 05:21] AnuragSharma-MSFT commented on #63268
@brenovult thanks for reaching out to us.

Could you be able to provide the document/article link from where you tried to follow up on the same?

[2020-09-25 05:26] jiasli commented on #63136
I got it. You are using PowerShell. `tr` is a Linux command which is not available in PoewrShell, you may use `--output tsv` instead, which will strip the double quotes.

`az group show -n $(az group show -n rg1 --query name)` happens to work in PowerShell because double quotes are not escaped, and parsed by CMD. For more info, see https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-wit

[2020-09-25 05:30] meet-rs-api commented on #63091
I saw that text already on the documentation, but the problem is that you didn't describe how at a later time, I can get this existing user to pass it for the refreshing.

What I was expecting is something like

`var user = identityClient.getUser(userId)`.

I've figured it now that a CommunicationUser is just a wrapper around userIdand that it doesn't need to be fetched from anywhere and that this

[2020-09-25 05:42] Camios opened #63274 "I'm confused regarding sizing section"
I'm confused about the two bolded phrases below seeming to contradict each other. Or is there some context I don't understand? If so, can you make it clearer, please?

Application Gateway Standard_v2 can be configured for autoscaling or fixed size deployments. This SKU **doesn't offer different instance sizes**. For more information on v2 performance and pricing, see Autoscaling V2 and Understandi

[2020-09-25 05:42] maganvill commented on #62662
Ok, thanks for letting me know.

[2020-09-25 05:44] maganvill commented on #62662
Is there a plan for VNet + GPU at all?

[2020-09-25 05:57] souravmishra-msft commented on #63221
@AndyBunning, Thank you for reaching out. We are looking into this and would get back to you soon on this.

[2020-09-25 05:58] souravmishra-msft commented on #63224
@subhankars, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-25 06:00] souravmishra-msft commented on #63248
@justinasfour04, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-25 06:01] souravmishra-msft commented on #63262
@olivelawn, Thank you for reaching out. We are looking into this and would get back to you soon on this.

[2020-09-25 06:07] kazshi opened #63276 "columns in the Kusto sample for Data ingestion volume rate"
I assume that the columns for the Operation (samples in 'Data ingestion volume rate' section) should be listed in the '[Azure Monitor Logs reference - Operation](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/operation)' page, but I couldn't find 'Category' and 'Level' in the reference page - am I referring to the wrong page, or is it a bug on this page?

Operation
| where C

[2020-09-25 06:07] souravmishra-msft commented on #63269
@ToruMakabe, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-25 06:10] PramodValavala-MSFT commented on #63262
@olivelawn This repository is primarily for addressing document related feedback. Your query is best suited in the [azure functions core tools repo](https://github.com/Azure/azure-functions-core-tools) instead.

Since this is no doc related change required here, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will glad

[2020-09-25 06:10] #63262 closed

[2020-09-25 06:10] souravmishra-msft commented on #63273
@sachazyto, Thank you for reaching out. We are looking into this and will get the doc updated accordingly after review.

[2020-09-25 06:13] souravmishra-msft commented on #63274
@Camios, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-25 06:14] souravmishra-msft commented on #63276
@kazshi, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-25 06:16] souravmishra-msft commented on #63248
Hi @msmimart, Can you please take a look at this and update the doc accordingly.

[2020-09-25 06:20] palma21 commented on #63152
Is this a VMAS or VMSS cluster? Recommend opening this on the AKS GH or support ticket since this doesn't really look like a doc issue?

[2020-09-25 06:35] CHEEKATLAPRADEEP-MSFT commented on #63272
@sulingala  Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could pro

[2020-09-25 06:35] shashishailaj commented on #63165
@sunilprabha It great to know that the issue was solved. Please make sure you backup the authenticator data to your icloud without fail . We will now close this issue. Also , if you have similar issues , we would like to encourage you to post a query on [Microsoft QnA](https://docs.microsoft.com/en-us/answers/index.html) which is our new vibrant forum for any issues related to Azure products and w

[2020-09-25 06:36] #63165 closed

[2020-09-25 06:53] ShaneBala-keyvault commented on #62598
Hi Lukos,
There was a temporary issue at the UKS datacenter which caused the outage. However, only a partial number of services and customers were affected, and the issue did not reach a high enough threshold needed for failover to occur. For security I cannot add more details to our public documentation or provide additional details in a public forum. However, I can provide a link to Microsoft's

[2020-09-25 06:53] ShaneBala-keyvault commented on #62598
#please-close

[2020-09-25 06:53] #62598 closed

[2020-09-25 07:02] SumanthMarigowda-MSFT commented on #62843
@sanjaykulkarni04  Set meta data on a blob you’re deleting? (No, it’s not possible.)
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-25 07:02] #62843 closed

[2020-09-25 07:05] Bouke opened #63277 "Re-apply / forget "errored" recommendations?"
I have 4 recommendations, which have been applied about 1 week ago. Since then the database has been removed and a new one recreated from a backup. This new database doesn't have those recommendations applied, but they are still listed in an "Error" state:

I didn't revert the index, but I guess restoring a backup can be seen as reverting the index. So now I have those 4 recommendations as "Error"

[2020-09-25 07:06] tebeco commented on #51447
great news, thx

[2020-09-25 07:18] shashishailaj commented on #62987
@wtfstoops As we have not received any further response from your side. We will now close this issue. Should you have any further query on this , please tag any of us to your reply and we will be happy to help you further. alternatively you can always open a new issue referencing this one.

Thank you.

[2020-09-25 07:19] shashishailaj commented on #63003
@kilasuit As we have not received any further response from your side. We will now close this issue. Should you have any further query on this , please tag any of us to your reply and we will be happy to help you further. alternatively you can always open a new issue referencing this one.

Thank you.

[2020-09-25 07:21] shashishailaj commented on #63102
@DanFourman Please let us know if you have any further questions. In case you do not have any questions , we will go ahead and close this issue. Should you have any further queries , please tag me to your reply and we will be happy to help . If I am unavailable , please open a new issue referencing this one and we will have someone from our team look into the same.

Thank you.

[2020-09-25 07:21] shashishailaj commented on #63117
@hphuhtin As we have not received any further response on this . we are closing this issue now.

Thank you.

[2020-09-25 07:21] #63117 closed

[2020-09-25 07:22] danimir commented on #63277
@Bouke Feedback here is about documentation, but you need technical support. Please go to Azure and open a support ticket for engineering to investigate.

[2020-09-25 07:26] ShaneBala-keyvault commented on #61843
I updated the document to note that it will take up to 20 minutes for private link connections to be re-established, and that this will happen automatically without any intervention from the user.

Changes are in PR now, will be live within 48-72 hours.

I am archiving this issue for now.

[2020-09-25 07:26] ShaneBala-keyvault commented on #61843
#please-close

[2020-09-25 07:26] #61843 closed

[2020-09-25 07:34] Bouke commented on #63277
Feedback was used before about product questions as well (e.g. regarding performance recommendations: https://github.com/MicrosoftDocs/azure-docs/issues/9999), that's why I posted the question here.

[2020-09-25 07:38] ShaneBala-keyvault commented on #62780
Updating documentation. Changes will be live in 48-72 hrs.
Archiving issue.

[2020-09-25 07:38] ShaneBala-keyvault commented on #62780
#please-close

[2020-09-25 07:38] #62780 closed

[2020-09-25 07:42] david-stewart-palapanou commented on #63136
Thank you for confirming. I hadn't realised that `tr` was a Linux command. I certainly didn't recognise it in any Windows commands I've run previously, but I struggled to find references to the command when searching online. Now I've realised all it does it apply a translation to the output of `--query id` which deletes the double quote character symbol by using the delete `-d '"'` option and spec

[2020-09-25 08:01] AnuragSharma-MSFT commented on #63277
@Bouke Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-25 08:03] nkma1989 commented on #62453
Hi @luisquintanilla

I am using version 0.6.15
![image](https://user-images.githubusercontent.com/24934325/94242359-34e4e180-ff16-11ea-840f-bbf071b620d4.png)
Could it be related to the workspace? It's not an enterprise workspace, don't know if that has anything to do with it.

[2020-09-25 08:08] mfabiani-av commented on #63152
@palma21 indeed initially I thought it was a doc issue but I will open a ticket on the AKS GH. Thank you!

[2020-09-25 08:16] devedse commented on #28461
@dawwa, they are now both on separate subnets.

[2020-09-25 08:29] yunspace commented on #43302
The Microsoft quick starter template worked for me for regional VNet injection: https://github.com/Azure/azure-quickstart-templates/blob/master/101-function-premium-vnet-integration/azuredeploy.json#L190

However, you must enable delegation on the target subnet first as @fabito pointed out. In my case, I got an internal server error until I enabled delegation.

[2020-09-25 08:37] JamesDLD commented on #42508
I'am facing the same issue, did you find a solution?
Thanks

[2020-09-25 08:42] sanjaykulkarni04 commented on #62843
@SumanthMarigowda-MSFT Thank you so much for the quick response and confirmation.
Actually, my requirement is, whenever the user is uploading new/modifying/deleting files/blobs thru REST API calls (react client), I want to store the entire custom audit trail chain on each file (e.g. user name - person, blob creation time, last modified time, etc.). I am using Blob metadata to do that. But it only

[2020-09-25 09:03] sulingala commented on #63272
My question was related to the .NET SDK for creating Azure Data Factory pipelines. I am using the code from the below link to create an ADF Pipeline with a Copy Activity to copy data from Salesforce into Azure SQL database. I am able to create the pipeline with a copy activity. However I am not able to set the column mapping since the column names between Salesforce and Azure SQL database are not

[2020-09-25 09:06] amanmcse commented on #63185
@opticyclic I will now close the thread. Feel free to tag me in your reply if you have any question.

[2020-09-25 09:06] #63185 closed

[2020-09-25 09:12] kngohil opened #63278 "Details on "valid" Redirect URI"
The page refers to a "valid Redirect URI" - but what is valid in this case? E.g. if I am using an Azure Databricks Notebook to invoke a Time Series Gen2 API then what would be the Redirect URI on my client App Registration? And would the same redirect URI work if I want to test the API from Postman using the same client_id ? The instruction here to say "valid" Redirect URI seems a bit vague.

---

[2020-09-25 09:20] SwathiDhanwada-MSFT commented on #63040
@tanmayjog I have reproduced the issue from my end and I didn't face any issue except the warning which can be ignored. Providing the script snippet and the output which I have used to repro.

[code]

![image](https://user-images.githubusercontent.com/48976275/94250031-4e018880-ff3e-11ea-81e1-2499b68ab5cb.png)

[2020-09-25 09:25] frankkilcommins opened #63279 "Add missing error codes to documentation"
Please add the following error codes:
AADB2C90091 - user cancellation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd9c64ff-5065-9a2b-4965-c48685482fe1
* Version Independent ID: 3ff9871f-d28d-b752-750e-1142556ec8cb
* Content: [Error code reference - Azure AD B2C](https://docs.microsoft.com/en-us/azure/active-director

[2020-09-25 09:25] amanmcse commented on #63221
Hi @AndyBunning Please refer to my Answer here: https://docs.microsoft.com/en-us/answers/questions/65454/b2c-pass-custom-header-to-rest-api.html. I will update the document with this information as well.

[2020-09-25 09:25] #63221 closed

[2020-09-25 09:35] SaurabhSharma-MSFT commented on #62675
@markorudloff  Can you please check if you have multiple AzureADPreview versions installed in your PC using the below cmdlet
 `Get-Module -ListAvailable | Where-Object Name -like "AzureAD*"` in powershell window and share the output.
![image](https://user-images.githubusercontent.com/38112130/94251040-dea47e00-fed6-11ea-8db1-f446fc907604.png)

Please try to remove all versions using `Uninstall-Mod

[2020-09-25 09:41] fatphil2001 opened #63280 "missing word"
In the section Azure AD DS the phrase "Second, all users exist in Azure AD can be authenticated and authorized."
should say "Second, all users **that** exist in Azure AD can be authenticated and authorized."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d254d903-bd6c-48ce-967d-0a96f2ca9431
* Version Independent ID: 29

[2020-09-25 09:42] #62987 closed

[2020-09-25 09:45] PaloMraz opened #63281 "Misleading DataContract serialization requirements"
The following statement from the article about `DataContract` serialization is not true:

“Therefore, the custom data objects and their members must be annotated with the DataContract and DataMember attributes, respectively.”

As stated at the linked article https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/types-supported-by-the-data-contract-serializer “All publicly visible t

[2020-09-25 09:55] crystalgeek opened #63282 "Incorrect information regarding subnet integration"
Line:
"The integration subnet can be used by only one App Service plan"
is incorrect / outdated.

When I have an app service in an app service plan integrated to a subnet, if I create an empty app service plan and move the app service, vnet integration remains functional.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-09-25 09:58] adobedoe opened #63283 "Function app storage and ZRS"
Hi,

I am interested in ensuring high availability for my function apps following a storage data centre outage on the 14th September.

I'd like to use ZRS storage for our function apps to reduce the risk of downtime if a single data centre goes down.

Your documentation states: "When creating a function app, you must create or link to a general-purpose Azure Storage account that supports Blob, Que

[2020-09-25 09:59] #62860 closed

[2020-09-25 09:59] #55802 closed

[2020-09-25 10:00] amanmcse commented on #55802
Added the information to https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity#example-2-access-with-a-system-assigned-identity

[2020-09-25 10:08] lukos commented on #62598
Sorry but this is not really an acceptable response. Although the RCA refers to "a subset of customers", that is just corporate BS to try and make it sound like a small issue when in fact, we had production systems unavailable for several hours and seeing the Twitter feed, there were many other people with similar issues.

Ignoring the fact of exactly what caused the incident doesn't change what I

[2020-09-25 10:09] markorudloff commented on #62675
@SaurabhSharma-MSFT
I have checked and found multiple AzureADPreview versions:
![image](https://user-images.githubusercontent.com/71337455/94254168-acbb0800-ff26-11ea-991a-7b2b416201dd.png)

I found module AzureAD.Standard.Preview which I cannot uninstall, as i am working in Cloud Shell within AzureAD Portal.
After uninstalling and installing module AzureADPreview I have now version 2.0.2.117 inst

[2020-09-25 11:03] shashishailaj commented on #63279
@frankkilcommins Thank you for your inputs. We will engage the content team to have this reviewed and updated .

Thank you.

[2020-09-25 11:03] shashishailaj commented on #63279
@msmimart Could you please help review this one ?

[2020-09-25 11:04] psmanhas commented on #63281
@PaloMraz Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-25 11:04] psmanhas commented on #63281
@vturecek Can you please check and add your comments on this doc update request as applicable

[2020-09-25 11:06] subhankars commented on #63224
found a workaround as below -
![image](https://user-images.githubusercontent.com/17920161/94260044-1a7a2a80-ff4d-11ea-9c19-454cefc3b97e.png)

[2020-09-25 11:13] psmanhas commented on #62946
@debopam-alinta Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-25 11:13] #62946 closed

[2020-09-25 11:28] kilasuit commented on #63003
Sorry that I don't live on GitHub every day - Other work takes a priority

@jlichwa the reason is simple,. you are showing a tooling preference, which is not how documentation should be, it should show all options to perform a task if it is going to do so, or just link to all types of docs that show how to do it instead.

Ideally all doc should have functionality like this, except for Az CLI, Az P

[2020-09-25 11:34] AjayKumar-MSFT commented on #63091
Thanks for sharing additional details and follow-up.
@matthewrobertson, Requesting you to review the above comment and update the document as appropriate.

[2020-09-25 11:48] dannradkov opened #63287 "Which exact component of this procedure (moving a sub from one dir to another) is in preview ?"
Which exact component of this procedure is in preview ?
Or is the entire move of a sub from one dir to another considered "in preview" . This has worked for us several times in the past and we are not sure, why Microsoft now labels it as "preview".

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9

[2020-09-25 11:52] dawwa commented on #28461
@devedse , thanks for the clarification, the section below mentioned the `WEBSITE_VNET_ROUTE_ALL is currently not supported in Windows containers.`, but looks like you were on a Windows container?
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#how-regional-vnet-integration-works

[2020-09-25 12:00] devedse commented on #28461
@dawwa, I was making use of Linux Containers. (I can really suggest to go for Linux containers unless you really have an application that only runs on Windows).

[2020-09-25 12:11] brenovult commented on #63268
Hello @AnuragSharma-MSFT , this is the documentation:
https://docs.microsoft.com/en-us/azure/key-vault/certificates/tutorial-import-certificate

[2020-09-25 12:14] AjayKumar-MSFT commented on #63282
@crystalgeek, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2020-09-25 12:19] fume opened #63288 "VirtualPathFilter is not documented in the InstrumentationKeyMap schema"
You can instrument a single app (not a site) using the VirtualPathFilter, i.e.:
`Enable-ApplicationInsightsMonitoring -InstrumentationKeyMap @(@{VirtualPathFilter="^/MyAppName$"; InstrumentationSettings=@{InstrumentationKey='<your ikey>'}})`

this is not documented but it's mentioned here: https://github.com/microsoft/ApplicationInsights-Home/issues/369#issuecomment-543904519

With the VirtualPath

[2020-09-25 12:31] YoshicoppensE61 opened #63289 "Direct Query Not Possible for Databricks Connector"
When I pick DirectQuery and I pick one table and load it, it gives an error "Failed to save modifications to the server. Error returned: 'DirectQuery partition 'web_f_pageview_event_dashboard-8551de77-2113-4245-b3b2-d5dc9355bc33' has '0' datasource reference(s) in its expression which is not allowed.". If I go into the query editor, it seems to break on the source step. See image that I have uploa

[2020-09-25 12:39] brenovult opened #63290 "Error when choosing a certificate from Key Vault on App Gateway"
I've created a certificate using Let's Encrypt and imported to my Key Vault, which it's a PEM file.
![image](https://user-images.githubusercontent.com/49593078/94267536-285e8a00-ff12-11ea-803e-e927cba6af1a.png)

But when i try to choose it, to use on the Listener from my Application Gateway, i got this following error:

![image](https://user-images.githubusercontent.com/49593078/94267657-5d6adc80-

[2020-09-25 12:48] JayaChatterjee-MSFT commented on #62945
@ggailey777 can we confirm any dependency of IsDevelopment on AZURE_FUNCTIONS_ENVIRONMENT and update accordingly?

[2020-09-25 12:56] JoshStead opened #63292 "oms containers going into kube-system namespace, can this be changed?"
Hello

When using the helm chart to deploy the oms containers onto OpenShift 4.3 it is deploying them into the kube-system project, is there a reason for this?, I would like them to go into another namespace if possible. I have tried to run the helm install with -n and specifying a new namespace but it just gets ignored.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-09-25 12:56] HaydnDias commented on #62877
@JamesTran-MSFT Just to feed back and close this off, the issue seems to have fixed itself, after a few days I reattempted and it went through without issue. Un-sure what was wrong, nothing in our setup has been modified since but happy it's working now.

Many thanks for your assistance and patience.

[2020-09-25 13:10] NavtejSaini-MSFT commented on #62892
@VitalyMCT We are going to close this thread at this time. Please let us know if any further question and we will continue the dialogue.

[2020-09-25 13:10] #62892 closed

[2020-09-25 13:17] tfitzmac commented on #63192
From the error messages, it sounds like you have the Key Vault reference in the parameter template. It needs to be in the parameters file. For more information, see [Use Azure Key Vault to pass secure parameter value during deployment](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli).

[2020-09-25 13:55] RyanHill-MSFT commented on #63174
We have a PR pending release. Thanks @Corbinjb.

[2020-09-25 13:55] andbaraks opened #63293 "Please mention limitations like VMAS-based clusters unsupported"
Please mention limitations like VMAS-based clusters unsupported

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f07b13b8-6b8b-57f9-7fb3-361329af08be
* Version Independent ID: d3c6ae95-654f-be23-5dcd-3c3146d5cf63
* Content: [Start and Stop an Azure Kubernetes Service (AKS) - Azure Kubernetes Service](https://docs.microso

[2020-09-25 14:00] #63174 closed

[2020-09-25 14:08] #63102 closed

[2020-09-25 14:10] mihammer opened #63294 "A couple suggestions for this page - Add MB/s throttling metrics info"
Thanks for this page. Excellent.

1. I would request you add how to create metrics for MB/s throttling as well. This issue comes up as often as I/O capping.
2. The whole metrics section deserves/needs its own page. We all know people like pictures and throttling is a common issue. Let's give them a page to show how to determine if their VM is being throttled.

Thanks!

---
#### Document Details

⚠

[2020-09-25 14:11] AshokPeddakotla-MSFT commented on #63278
@kngohil Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-25 14:16] markjbrown commented on #56737
If you want write access to keys then use a different built-in RBAC role such as DocumentDB Account Contributor or create a custom role.

As to your second issue. The warning does not say it will be deprecated in the next release. It says it will be deprecated in a future release. We have not formally announced a date yet. Additionally, the warning itself gave you the answer as to what command to

[2020-09-25 14:26] teeroddesigns opened #63295 "Sample missing indent"
The sample deploy file has an incorrect YAML indent. It appears as :

       volumeAttributes:
          secretProviderClass: azure-kvname
          nodePublishSecretRef:
              name: secrets-store-creds

but should be

      volumeAttributes:
          secretProviderClass: azure-kvname
      nodePublishSecretRef:
          name: secrets-store-creds
---
#### Document Details

⚠ *Do not edit

[2020-09-25 14:44] psmanhas commented on #63200
@yashi-cloud Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-25 14:45] psmanhas commented on #63200
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-09-25 14:47] manish-shukla01 opened #63296 "service to service calling"
hi, i created an app service on azure. now i have another app service in some other azure tenant from where i will call this service. i was hoping to use service to service calling for it. i created an app in aad and went to expose an api and added the url for my service.
i was trying to test it through postman and i was able to get the token using something like this:
https://login.microsoftonlin

[2020-09-25 14:53] MonikaReddy-MSFT commented on #63290
@brenovult -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-25 14:54] shashishailaj commented on #63090
@mohsh86  I agree that for some users the option may not seem obvious and they may not be able to spot it . At this point we have passed on the feedback to the backend team and hope that they will come up with a different design. They will review this and take it forward. We will now close this issue and we thank you for your detailed feedback with screenshots. It really helps.

Thank you.

[2020-09-25 14:54] #63090 closed

[2020-09-25 14:58] psmanhas commented on #63294
@mihammer Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-25 14:58] psmanhas commented on #63294
@albecker1 Can you please check and add your comments on this doc update request as applicable

[2020-09-25 15:11] shashishailaj commented on #42271
@Roblarson Hope the above link helped. We will now close this issue. If you have further queries , please tag me to your reply or open a new issue referencing this one in case I am unavailable and the team will help you with the same.

[2020-09-25 15:11] #42271 closed

[2020-09-25 15:12] writex opened #63297 "web front-end port ambiguous"
The article says:
Take note of the port for the web front-end listed in Endpoint.

There is only one Port setting in the ServiceManifest.xml file. Mine looks like this:
<Endpoint Protocol="http" Name="FabrikamFiber.WebTypeEndpoint" Type="Input" Port="8210" />

How would anyone be sure that port is for the web front-end? Is it? If so, maybe the text should be changed to something like:
Take note of

[2020-09-25 15:13] pmarone opened #63298 "Frontdoor default query string cache default"
The Default query string section states Ignore query strings is the default. (Ignore query strings: Default mode).

The behavior of the Portal UI when I flip cache to enabled sets the default configuration to Cache every unique URL.

I'm not sure which one is correct, but they don't seem to match.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-09-25 15:16] shashishailaj commented on #54543
@robabh Apologies for the delay in response on this. This may require detailed troubleshooting with over a screen sharing session . Please send us an email on azcommunity [at] microsoft [dot] com with subject line "ATTN: shashi " referencing this GitHub issue and providing your azure subscription ID and we will help you with a one-time free support case for this one. Let us know and we will help y

[2020-09-25 15:16] #54543 closed

[2020-09-25 15:18] writex opened #63299 "Create New Cluster... option in VS 2019 is a link, not a dropdown item"
The article says:
Select the dropdown for the Connection Endpoint and select the Create New Cluster... option.

For VS 2019, the Create new cluster... link is below the dropdown.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57882c35-3894-f871-bea2-470e74f63c57
* Version Independent ID: 75dada9d-a6a5-c343-e3af-8dab59a

[2020-09-25 15:26] shashishailaj commented on #61387
@CalicoPanda It seems that you might be running a non-GA version and that is the reason the details are not there. The [current GA version available currently for download is 1.5.45](https://www.microsoft.com/en-us/download/details.aspx?id=47594) .

![image](https://user-images.githubusercontent.com/532022/94285568-72c32380-ff71-11ea-85ff-9b963e046b37.png)

Once the version you have is generally a

[2020-09-25 15:26] #61387 closed

[2020-09-25 15:34] writex opened #63300 "Update the SKU (Virtual machine image?) in Documentation for VS 2019"
The article says:

By default, this tutorial creates a Docker image based on Windows Server 2016 LTSC. Containers based on this image will run on clusters created with Windows Server 2016 Datacenter with Containers.

I think it is referring to the dropdown preceded by the label, "Virtual machine image." In VS 2019 my options are:
WindowsServer 2019-Datacenter-with-Containers
WindowsServer Datacent

[2020-09-25 15:35] BustosMSFT commented on #45014
#please-close

[2020-09-25 15:35] #45014 closed

[2020-09-25 15:35] marcelkmfst opened #63302 "NAT IP details"
It would be useful if details about the NAT IPs can be added. How many connections are supported per IP?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4b8145-27ae-8817-6d85-969aa85e601d
* Version Independent ID: 00f897cd-5c20-cb3b-9c17-5f75eddd1715
* Content: [What is Azure Private Link service?](https://docs.microso

[2020-09-25 15:39] shashishailaj commented on #51032
@ElAdeel @BigBigGamer  Apologies for the delay in response on this. This may require detailed troubleshooting with over a screen sharing session . Please send us an email on azcommunity [at] microsoft [dot] com with subject line "ATTN: shashi " referencing this GitHub issue and providing your azure subscription ID and we will help you with a one-time free support case for this one. Azure subscript

[2020-09-25 15:39] #51032 closed

[2020-09-25 15:43] VitalyMCT commented on #36714
@ninarn , can you please clarify the purpose of port 1443? It's not listed in any SQL documents.

Port 1433 is the port normally used with all Azure SQL platforms.

[2020-09-25 15:47] #63280 closed

[2020-09-25 15:48] shashishailaj commented on #51295
Hope the information provided by @lujiangfeng666 helped. We will now close this issue. In case you have any further issues, please tag me or @lujiangfeng666 to your reply and we will help you further. In case we are unavailable and have not provided a response , please open a new issue referencing this one and we will help you further on this.

Thank you.

[2020-09-25 15:48] #51295 closed

[2020-09-25 15:54] jlichwa commented on #63003
@kilsuit there is Azure RBAC link on the bottom. But I can add also link somewhere in the middle.

[2020-09-25 15:56] JamesTran-MSFT commented on #63295
@teeroddesigns
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-25 15:58] JamesTran-MSFT commented on #63287
@dannradkov
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-25 15:59] vhorne commented on #62974
added note
#please-close

[2020-09-25 15:59] #62974 closed

[2020-09-25 15:59] jorgecotillo commented on #62449
Thanks for the information, currently we are working on a solution. Will let you know once a fix has rolled out to all regions.

[2020-09-25 16:00] cmmdesai commented on #62443
The change is now live :)
We also got feedback that the email picklist could be different, so we have called out an additional step to ensure the right picklist is selected from the Picklist center.
#please-close

[2020-09-25 16:00] #62443 closed

[2020-09-25 16:00] JamesTran-MSFT commented on #62771
@MNF
I have created a PR to update the documentation and will now close out this issue. Please allow some time for the changes to reflect and if you don't see the document update, please let me know.

I will be more than happy to re-open this issue and look into what happened.
Thank you for your time and patience!

[2020-09-25 16:00] #62771 closed

[2020-09-25 16:00] pioardi opened #63304 "Documentation to improve"
The documentation on app service key vault references need to be improved:

From the doc seems that the key vault reference feature will not work for keyvault with access restrictions that is generally true , but if your function app or app service is deployed into an ASP Isolated and configured properly is working well
From the doc seems that key vault reference must contain the secret version ,

[2020-09-25 16:04] JamesTran-MSFT commented on #62877
@HaydnDias
Thank you for the follow up, I'm glad that everything is working!

If you have any other questions, please let me know.
Thank you for your time and patience throughout this issue.

[2020-09-25 16:15] MonikaReddy-MSFT commented on #63302
@marcelkmfst -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-09-25 16:15] mganeshphani opened #63306 "What IP Address is used for internal backend endpoints, in internal mode"
the documentation is not clear if the private vip is used to contact internal backend endpoints in internal only mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ec25ca-c9ba-5c19-d439-7bd47e8b190b
* Version Independent ID: fec1b887-790e-c3f0-6f8a-35d6978d8532
* Content: [IP addresses of Azure API Management servi

[2020-09-25 16:16] AshokPeddakotla-MSFT commented on #63273
I have assigned the issue to the content author @chrissie926  to evaluate and update the doc as appropriate.

[2020-09-25 16:17] MonikaReddy-MSFT commented on #61943
@dcaro , @yungezz , @ChenTanyi  - Thank you for providing your insights.
@HadarTiman - I hope they have answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-25 16:17] #61943 closed

[2020-09-25 16:20] dimitri-furman commented on #38695
Documentation has been updated, #please-close.

[2020-09-25 16:20] #38695 closed

[2020-09-25 16:24] MonikaReddy-MSFT commented on #63180
@Rodrigossz - Thank you for providing your insights.
@julienmichel - I hope @rodrigossz has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-25 16:24] #63180 closed

[2020-09-25 16:25] mamccrea commented on #62990
I hope this information has been helpful. I will not proceed to close this issue. If you have any additional questions, please reopen the issue.

[2020-09-25 16:25] mamccrea commented on #62990
#please-close

[2020-09-25 16:25] #62990 closed

[2020-09-25 16:28] AshokPeddakotla-MSFT commented on #63227
@praveen-pk PR has been created to fix the broken links. Changes will go live once it has been peer reviewed and merged.

These are the correct links.

Building Open Enclave SDK samples on Linux -> https://github.com/openenclave/openenclave/blob/master/samples/BuildSamplesLinux.md
Building Open Enclave SDK samples on Windows-> https://github.com/openenclave/openenclave/blob/master/samples/BuildSam

[2020-09-25 16:28] #63227 closed

[2020-09-25 16:32] mike-urnun-msft commented on #63283
@adobedoe Thank you for your feedback! We will review and update as appropriate.

[2020-09-25 16:33] mike-urnun-msft commented on #63306
@mganeshphani Thank you for your feedback! We will review and update as appropriate.

[2020-09-25 16:35] AshokPeddakotla-MSFT commented on #63056
Adding author @anastasia-ms for further insights.
@anastasia-ms please help with this query. I haven't found more details retarding the same.

[2020-09-25 16:36] AshokPeddakotla-MSFT commented on #63029
@dominicbetts Could you please check this and update the appropriately.

[2020-09-25 16:37] MonikaReddy-MSFT commented on #61808
Hello @damienbod - I have reached out to the product team here and this is the response I have got from them.

It is atleast 1 year away.  And we won't be able to surface the work http.sys team did until we move to the newer version of Windows OS. Hope this helps.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regard

[2020-09-25 16:37] #61808 closed

[2020-09-25 16:39] WinstonHoward-MSFT commented on #63252
Hi @writex, I completely understand what your saying. Our goal is to maximize the developer experience. I hate the feeling when I'm trying to understand a new technology and the docs don't match up. One dev to another, I'm with you - and that's why I'm here. That being said, I'm trying to understand your exact ask so I can target it directly. You would like the Azure Portal to be changed so instea

[2020-09-25 16:43] WinstonHoward-MSFT commented on #63293
Thanks for the doc request, I've assigned this to the doc author to take a look.

[2020-09-25 16:46] AshokPeddakotla-MSFT commented on #63088
@dvescovi1 Could you please check the [Troubleshooting steps](https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-develop-for-linux#troubleshoot) and see if it helps to resolve the issue?

[2020-09-25 16:48] WinstonHoward-MSFT commented on #63297
Hi @writex, thanks for the feedback. I've assigned this to the doc author to improve.

[2020-09-25 16:57] WinstonHoward-MSFT commented on #63299
Thanks for the feedback, I'll take a look.

[2020-09-25 17:00] WinstonHoward-MSFT commented on #63300
Thanks for the feedback, I'll take a look.

[2020-09-25 17:04] Mike-Ubezzi-MSFT commented on #28461
This issue needs to go to support for a deeper investigation as it appears there are some complications with deleting and adding the NSG, etc. Please make sure [this step](https://docs.microsoft.com/en-us/azure/cosmos-db/vnet-service-endpoint#my-requests-started-getting-blocked-when-i-enabled-service-endpoint-to-azure-cosmos-db-on-the-subnet-what-happened) has been completed, if it applies.

[2020-09-25 17:22] JamesTran-MSFT commented on #63295
@teeroddesigns
It looks like there's currently a PR waiting for review to adjust the indent(s). Therefore, I'll assign this issue to the author who will investigate and update as appropriate.

[2020-09-25 17:23] JamesTran-MSFT commented on #63218
@benrfairless
I just wanted to check in and see if you required additional assistance or if you were able to resolve this issue?

If you have any other questions, please let me know.
Thank you for your time.

[2020-09-25 17:24] teeroddesigns commented on #63295
Great, thanks! It took me about 45 minutes to figure out why I couldn't get the example to run, hopefully this will save some others a bit of time. YAML is always finnicky like that 👍

[2020-09-25 17:27] Juliako commented on #62992
Joao, Thank you for bringing it to our attention, we updated the image and it now includes  the objectCounter and aligns with the tutorial explanation

[2020-09-25 17:34] #62992 closed

[2020-09-25 17:34] palma21 commented on #63293
https://docs.microsoft.com/en-us/azure/aks/start-stop-cluster#limitations

[2020-09-25 17:37] twooley commented on #17053
Closing as this is an old issue. Here is the RBAC info for Gen2: https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-access-control. Apologies that this was not replied to at the time.

#please-close

[2020-09-25 17:37] #17053 closed

[2020-09-25 17:39] JnHs commented on #63264
Hi @RonnieQuan - thank you for the question. We've confirmed that support for pools without public IP addresses in Azure Batch is still in public preview, and this applies to all regions except China East, China East 2, China North, and China North 2. The document will be updated later today and I will close this issue after that happens, but wanted to let you know now. Thanks again for submitting

[2020-09-25 17:50] KranthiPakala-MSFT commented on #63289
Hi @YoshicoppensE61,
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-25 17:52] damienbod commented on #61808
@MonikaReddy-MSFT thanks for you answer and your time answering. Could you link the issue from the product team where this is been tracked if it exists? I would like to keep an updated on this if possible.

Greetings Damien

[2020-09-25 18:16] roygara commented on #62425
@ZeroDeltaE Sorry for the delay, we've been working on some doc updates for this. The article itself has now received those updates and we've modified the code. This issue should now be resolved, if you're still experiencing problems, please let us know, otherwise I will close this out in two business days.

Thanks for reaching out and making us aware of this, we appreciate it. :)

[2020-09-25 18:16] michael-trieu-fso opened #63310 "Minor typo"
In [this section](https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-nps-extension#plan-your-deployment) "difference" should read "different".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a61a7e9a-44bf-7bdc-f810-87e2fd6792e1
* Version Independent ID: 71d11105-b83e-952e-d107-1ff9a7c8d107

[2020-09-25 18:18] JamesTran-MSFT commented on #63287
@dannradkov
Looking at the document history, it looks like this has been up for a while, however, the preview should apply to the whole doc. I'll assign this issue to the author to investigate and update as needed.

If you have any other questions in the meantime, please let me know.
Thank you for your time and patience!

[2020-09-25 18:30] robwafle commented on #63236
Thanks!

I would also like to mention that I'm wondering after I get the token issued I am concerned it still will not work with my Azure API for FHIR.  I am wondering if I will need to do something on the "Authentication" page of my "Azure API for FHIR", such as add an "Allowed Object ID" to the list?

[2020-09-25 18:35] alkohli commented on #51117
@KapilaMunaweera No, the Azure Active directory accounts are not supported. Thanks !

[2020-09-25 18:35] SylvaniVi commented on #61892
This seems still unclear. Documentation states: "custom control plane identity enables access to be granted to the existing identity prior to cluster creation. This enables scenarios such as **using an custom VNET** or outboundType of UDR with a managed identity."

I do understand the statement concerning the UDR, but not for **using a custom VNET**.
Correct me if I'm wrong, but currently I am abl

[2020-09-25 18:35] alkohli commented on #51117
#please-close

[2020-09-25 18:35] #51117 closed

[2020-09-25 18:39] alkohli commented on #53496
@akenens Thanks for your feedback! The decision to provide a sysprepped OVF is more of a product decision. Currently it is not available.

#please-close

[2020-09-25 18:39] #53496 closed

[2020-09-25 18:45] alkohli commented on #53523
@akenens This is a product enhancement, unfortunately not something that can be fixed in doc alone. Thanks!

@SumanthMarigowda-MSFT  This is not a doc issue but a request for a product change. Please triage appropriately to convey this info to product team.

#please-close

[2020-09-25 18:45] #53523 closed

[2020-09-25 18:55] mhopkins-msft commented on #62345
Hi  @RaisinBread42,

Thank you for this feedback. I've learned that older versions of the SDK always Base64 encoded queue messages. If you use the v11 or v12 SDK, as specified in the article, it does not do the automatic encoding. Do you know which version you're using?

 ~ *Mark*

[2020-09-25 19:12] macolso commented on #62662
Yes - this is on our roadmap. When an ETA is available, we will share it [here](https://azure.microsoft.com/en-us/updates/?category=containers) if you search for "container instances"

[2020-09-25 19:39] laktak commented on #17765
fyi NFS 4.1 support for Azure Files is now in preview in some regions
https://azure.microsoft.com/en-us/blog/nfs-41-support-for-azure-files-is-now-in-preview/

[2020-09-25 19:48] RyanHill-MSFT commented on #63223
@AnassHmida what region are your media services being deployed to?

[2020-09-25 19:50] MarileeTurscak-MSFT commented on #63310
@michael-trieu-fso
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-25 19:50] BrianLevenson opened #63311 "Character limits"
Suggest defining the character limits enforced in the custom terms and in the amendments.

- Custom terms is either 10k or 12k

- Amendments are 4k

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e6aba9e-03e6-9955-8f58-c3e32494d901
* Version Independent ID: 458939b9-0a4b-ee23-afa8-0e5b299d498e
* Content: [Standard Cont

[2020-09-25 19:52] BrianLevenson opened #63312 "6 month trials"
VM offers also support six month trials (in addition to one and three). Suggest adding this to the trials section of the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 997bd215-ce76-1307-cf80-80b55b672940
* Version Independent ID: 468bf824-3e4b-f095-3904-fe1a151160e8
* Content: [Create an Azure virtual machine

[2020-09-25 19:52] MarileeTurscak-MSFT commented on #63310
Thanks! Just made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/131427

[2020-09-25 19:52] #63310 closed

[2020-09-25 20:00] maganvill commented on #62662
Ok, thx

[2020-09-25 20:00] #62662 closed

[2020-09-25 20:06] afelthe commented on #44996
No module named 'azureml.automl.runtime.shared' I cannot get the samples in Azure ML Studio to work.

[2020-09-25 20:09] afelthe commented on #44928
There is no resolution on this issue.  Can you please provide one?  This issue is appearing in many of the samples in Azure ML Studio.

[2020-09-25 20:14] vhorne commented on #59696
#reassign:winthrop28

[2020-09-25 20:17] kgremban commented on #61407
@zavaschi We are currently in progress updating the tutorials to reflect recent upgrades in Azure Machine Learning, and will post here again when the work is complete. Thanks.

[2020-09-25 20:19] vhorne commented on #59578
#reassign:teresayao

[2020-09-25 20:21] vhorne commented on #59182
#reassign:winthrop28

[2020-09-25 20:21] kaylakirzinger opened #63315 "Getting a 'page not found' when using sign in with Oauth"
I'm sure there's just something I'm doing incorrectly. My OAuth configuration is set up find and I'm able to obtain a token upon sign in, but the redirect page says "404 page not found". I can't find what configuration i'm missing since the reply URL in my portal doesn't match the reply URL I was given by the APIM instance. Please assist.

![404APIM](https://user-images.githubusercontent.com/49795

[2020-09-25 20:23] SatishBoddu-MSFT commented on #44928
Hello @afelthe Sorry for the inconvenience caused.

We will investigate this and will get back to you soon.

[2020-09-25 20:24] SatishBoddu-MSFT commented on #44996
Hello @afelthe Sorry for the inconvenience caused.

We will investigate this and will get back to you soon.

[2020-09-25 20:25] kgremban commented on #60514
Hi @rgamage, X.509 certificate support for IoT Edge devices is currently in public preview with the 1.0.10-rc1 and 1.0.10-rc2 release candidate versions of IoT Edge. You can see the details on the [release notes for 1.0.10-rc1](https://github.com/Azure/azure-iotedge/releases/tag/1.0.10-rc1). If you want to try it out, follow these instructions for installing release candidate versions on [Linux](h

[2020-09-25 20:27] kgremban commented on #60649
I'm going to #please-close this issue as I addressed damonbarry's spinoff feedback in its own issue. If there are any further questions or comments on this topic feel free to post here and we can reopen the issue if necessary. Thanks, everybody.

[2020-09-25 20:27] #60649 closed

[2020-09-25 20:28] phuong-vo opened #63317 "Could not Block/Grant access of group of devices"
Hello all,
I have a device and it is compliant as screenshot below:

![Screen Shot 2020-09-25 at 1 02 02 PM](https://user-images.githubusercontent.com/6592922/94311005-61f1be00-ff2f-11ea-9230-63c11692c8fe.png)

**I added it into a group:**

![Screen Shot 2020-09-25 at 1 05 09 PM](https://user-images.githubusercontent.com/6592922/94311254-ca409f80-ff2f-11ea-9ef7-874443f7d3d6.png)

**In Conditional

[2020-09-25 20:30] justinasfour04 commented on #63248
Maybe link to this https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-android-considerations#update-the-android-manifest. This helped me and now everything works out of the system browser

[2020-09-25 20:31] kgremban commented on #59553
@mbialecka Could you take a look at this issue?

[2020-09-25 20:35] kgremban commented on #58989
I'm going to close this issue as resolved. If there are any further questions/comments around this topic, please feel free to post here and we can reopen it. Thanks.

#please-close

[2020-09-25 20:35] #58989 closed

[2020-09-25 20:42] kgremban commented on #58878
We discussed some of the questions raised here in issue https://github.com/MicrosoftDocs/azure-docs/issues/60892, explaining that a major difference between transparent versus identity translation gateway scenarios is that the transparent gateway scenario is a built-in feature of the IoT Edge runtime, whereas translation gateway scenarios require custom code or 3rd-party modules.

@damonbarry Coul

[2020-09-25 21:01] Karishma-Tiwari-MSFT commented on #63152
Thanks @palma21 and @mfabiani-av

Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2020-09-25 21:01] #63152 closed

[2020-09-25 21:03] WinstonHoward-MSFT commented on #63299
Assigned to doc author, additional feedback for same doc as #63300

[2020-09-25 21:04] WinstonHoward-MSFT commented on #63300
Assigned to doc author, additional feedback for same doc as #63299

[2020-09-25 21:23] damonbarry commented on #58878
Perhaps @massand or @arsing could address the security concerns better than I can.

But thinking out loud, one possibility would be to use the encrypt/decrypt APIs in the workload API to create your own key store. We already do something similar in Edge hub for store-and-forward, and in Edge agent for twins. The store would be saved on disk, not in the HSM, but it would be encrypted using the key

[2020-09-25 21:23] BustosMSFT commented on #58974
@SudheeshGH thanks for the feedback, an adjustment was made to the documentation to keep the terminology consistent
("up to 1hr") the change will be reflected shortly. we'll keep reviewing the consistency in this regard.
#please-close

[2020-09-25 21:23] #58974 closed

[2020-09-25 21:25] alkohli commented on #52935
@cjtmed Thanks for your feedback! I have fixed the issue in PR:https://github.com/MicrosoftDocs/azure-docs-pr/pull/131441 and the change is merged. The change should go live shortly.

#please-close

[2020-09-25 21:25] #52935 closed

[2020-09-25 21:32] writex commented on #63252
No, I just want the documentation to be consistent with the UI in Visual
Studio 2019 and what I see on Azure Portal.

--Robert

On Fri, Sep 25, 2020 at 12:40 PM Winston Howard <notifications@github.com>
wrote:

[2020-09-25 22:07] kilasuit commented on #63003
@jlichwa  - whilst you can add the link to push the reader elsewhere there's a very good reason other than just showing tooling preference why you **must** provide examples for each going forward, and that is that by going to another page you are changing the context in which the reader is in, which can be an expensive action in their current stream of thought. Plus it requires that the user can a

[2020-09-25 22:07] MarileeTurscak-MSFT commented on #63296
@manish-shukla01
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-25 22:11] shizn opened #63318 "Missing module when creating flexible server"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/3619378/94320229-4b546280-ff41-11ea-9f2b-4e76ff6f2cc9.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1891a95-019e-8644-ec3f-8723b778ec5c
* Version Independent ID: 81c0513e-1628-e2c3-e65f-9b4d52ddfad4
* Content: [Tutorial: Deploy Django app w

[2020-09-25 22:11] paharianupam commented on #21449
how do I remove below marked area from the azure Map. Please attachment.
![issue](https://user-images.githubusercontent.com/6542195/94320271-29db9100-ffaa-11ea-986d-29cbe0757274.png)

[2020-09-25 22:13] paharianupam opened #63319 "Remove Azure Map bottom area"
How Do i removed azure map bottom area. See the attachment
![issue](https://user-images.githubusercontent.com/6542195/94320406-76bf6780-ffaa-11ea-80d1-a70b84952d1f.png)

[2020-09-25 22:15] JamesTran-MSFT commented on #63317
@phuong-vo
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-25 22:25] mhopkins-msft commented on #62345
Hi @RaisinBread42,

Ok, I think I see what's going on. When a message is sent to the queue with a version of the SDK prior to v12, it is automatically Base64 encoded. Starting with v12 that functionality was removed. So, when you retrieve a message using the v12 SDK, it does not automatically Base64 decode the contents. Therefore, you must explicitly decode the contents yourself.

I'll add a note

[2020-09-25 22:25] mbialecka commented on #59553
Permissions that may be needed:
* container: create
* blob: create, write, add

[2020-09-25 22:29] alkohli commented on #61582
@win2000b  The online site for 5000-7000 series was taken away a while back. The migration is always done in conjunction with Microsoft Support. I have removed the broken references and advised the user to work with MS Support if they don't have the software version required to upgrade their system. The broken reference here was to the doc and not to the actual software. Here is the PR: https://gi

[2020-09-25 22:29] #61582 closed

[2020-09-25 22:34] AnassHmida commented on #63223
Hey ryan!
They are deployed on west europe

[2020-09-25 22:35] alkohli commented on #52834
@Git-PBradz Thank you for your feedback! The diagram is updated in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131456

I will go ahead and close this issue. Thanks!

#please-close

[2020-09-25 22:35] #52834 closed

[2020-09-25 22:38] RaisinBread42 commented on #62345
Ahh, that sounds about right!  Ended up doing that but didn’t observe that
behavior for version before/after v12.

Thanks for catching that 🤓

On Fri, Sep 25, 2020 at 5:25 PM Mark Hopkins <notifications@github.com>
wrote:

Regards,
Shannon W.

[2020-09-25 22:40] femsulu commented on #63288
Hello @fume, Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-09-25 22:44] femsulu commented on #63292
Hi @JoshStead , Thanks for the question. We are actively investigating and will get back to you soon.

[2020-09-25 22:50] #62926 closed

[2020-09-25 22:59] femsulu commented on #63239
Hi Steve,

Got an update from the feature owner confirming this is currently **not available** in Canada Central.
I don't have a specific ETA at this time but there is a plan to communicate publically as we get closer to rolling out the feature to Canada Central. Apologies for the confusion. Ping if you have any followup questions.

Have a nice weekend,
Femsulu

[2020-09-25 22:59] femsulu commented on #63239
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

#please-close

[2020-09-25 22:59] #63239 closed

[2020-09-25 23:05] roygara commented on #62546
I've gone ahead and reached out to @kelleymh separately, so I'll close this issue out. Thanks for the kind offer, we appreciate it!

#please-close

[2020-09-25 23:05] #62546 closed

[2020-09-25 23:07] alkohli commented on #53011
@joostm1 Thank you for your feedback! I have added this info to limits article as well. The changes are in this PR: https://github.com/MicrosoftDocs/azure-docs-pr/pull/131463
I will go ahead and close this issue.

#please-close

[2020-09-25 23:07] #53011 closed

[2020-09-25 23:12] jlichwa commented on #63003
@kilasuit our guidelines for Azure docs is to provide the most common use case and than just point to examples. Our how to have to be short concise and get reader quickly understand the feature and it shouldn't matter than script language. For developers we have sdks and other reference documents.

[2020-09-25 23:12] jlichwa commented on #63003
#please-close

[2020-09-25 23:12] #63003 closed

[2020-09-25 23:21] WinstonHoward-MSFT commented on #63252
Hi @writex,

Thanks for taking the time to communicate your feedback with me. The doc provides a an example of how to connect your project to your SQL DB. The example XBL includes the ``providerName`` attribute to set the name of the .NET Framework data provider that the SqlDataSource control uses to connect to an underlying data source. The example XML also includes a ``connectionString`` attribu

[2020-09-25 23:23] kilasuit commented on #63003
@jlichwa just as an FYI I have raised this issue, or should I say the wider issue at play here with all Azure Docs more widely not showing anything other than Az Cli as examples as a major point of community frustration as this affects much more than just with this particular doc via the Azure MVP mailing lists.

Whilst I understand your point, and that the point is one that you are putting across

[2020-09-25 23:24] rwike77 commented on #59993
Made the change, should publish live on Monday.  Thanks.  #please-close

[2020-09-25 23:24] #59993 closed

[2020-09-25 23:29] mhopkins-msft commented on #62345
The article is updated. It should be published on Monday morning.

#please-close

[2020-09-25 23:29] #62345 closed

[2020-09-25 23:35] jlichwa commented on #63003
@kilasuit  we as small service and we follow the guidelines and recommendations from Azure docs. I don't agree that duplicating same content in every single document is the right way, that is the point of links. We are not responsible for writing documents for other services features in this example is Azure RBAC. Look on CosmosDb, which they don't even bother with showing how to assign role https

[2020-09-25 23:58] mhopkins-msft commented on #62919
Added clarifying text about the difference from REST APIs. It will be published on Monday.

Thanks for your feedback!
 ~ *Mark*

#please-close

[2020-09-25 23:58] #62919 closed

[2020-09-26 00:45] writex commented on #63252
You may want to add that explanation about the providerName in the article
because it isn't obvious at all to a developer unfamiliar with the
platform, especially since the document shows it but it is not shown in the
Azure portal.

--Robert

On Fri, Sep 25, 2020 at 7:21 PM Winston Howard <notifications@github.com>
wrote:

[2020-09-26 00:46] Karishma-Tiwari-MSFT commented on #63254
Did you get a chance to try the suggestion in the comment above?

[2020-09-26 00:54] roygara commented on #45997
@kiranpradeep Apologies for the delay, this article has been largely updated and that section of code has been removed. Are you still experiencing problems with the new commands? Or can this be closed out?

[2020-09-26 01:04] roygara commented on #57453
@AronT-TLV Apologies for the delay, we've made updates to the article, what you've requested should be incorporated.

[2020-09-26 01:08] TravisCragg-MSFT commented on #63298
@pmarone Thanks for the feedback! I have removed the incorrect default description, and the docs should show that change within 24 hours.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-26 01:08] #63298 closed

[2020-09-26 01:14] ChaitanyaNaykodi-MSFT commented on #63315
Hello @kaylakirzinger, Thank you for your feedback! We will review and update as appropriate.

[2020-09-26 01:21] rahulvmarathe opened #63323 "Document not clear when .NET Core 5.0 SDK is not installed"
The statement below implies that .NET COre SDK 5.0 is not mandatory, documentation for the scenario when .NET Core SDK 6.0 is not installed in not available, need Else block for below If.
"
**If** you have .NET Core SDK 5.0 installed, create a global.json file that references any .NET Core runtime version 3.x that's later than 3.1.201"

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-09-26 01:23] LRomano72 opened #63324 "Links on the page return 404 errors."
Security Control V2: Governance and Strategy Links on the page return 404 errors.
Started on this page:
https://docs.microsoft.com/en-us/azure/security/benchmarks/security-controls-v2-governance-strategy#gs-8-define-backup-and-recovery-strategy
and if you click a under any of the "For more information:"
e.g.
https://docs.microsoft.com/en-us/azure/security/benchmarks/security-benchmark-v2-logging-t

[2020-09-26 01:39] RyanHill-MSFT commented on #63213
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-26 01:43] KrishnaG-MSFT commented on #63311
@BrianLevenson Thanks for the comment.
Assigning @keferna for visibility, review and document enhancement consideration.

[2020-09-26 01:46] KrishnaG-MSFT commented on #63312
@BrianLevenson Thanks for your comment! We will review and provide an update as appropriate.

[2020-09-26 01:57] TravisCragg-MSFT commented on #62690
@RonnieQuan Please let me know if you need any additional info. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-26 01:57] #62690 closed

[2020-09-26 02:04] cynthn commented on #57453
#reassign @cynthn

[2020-09-26 02:05] cynthn commented on #57453
There were several articles covering identifying the correct data disk. I've updated them and they should all be live now. Thank you for the feedback!

#please-close

[2020-09-26 02:06] #57453 closed

[2020-09-26 02:55] rukasakurai commented on #62005
The solution was to pass BlobClientOptions with the appropriate Proxy URI specified, into the constructor of BlobServiceClient.

The following sample code shows how specify a proxy in a HttpClient
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/core/Azure.Core/samples/Configuration.md#configuring-a-proxy

The HttpClient can be passed as a parameter when constructing a new HttpClientTran

[2020-09-26 02:55] #62005 closed

[2020-09-26 03:02] MarkKharitonov opened #63325 "The HTTP Application Routing section of AKS is named httpapplicationrouting, not httpApplicationRouting."
The documentation suggests to run the following command after enabling HTTP Application Routing:
[code]
This yields no result, because the respective section is under httpapplicationrouting (all lower case). Observe:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a32f9e-c92f-412b-d460-567f3c542b98
* Version In

[2020-09-26 03:20] prawin2k opened #63326 "It's not allowing PFX certification"
The instructions in the document are to create the PFX certificate and to upload the same. However, the portal doesn't allow to upload PFX file. Instead it is allowing CER file.

![image](https://user-images.githubusercontent.com/10738750/94329041-4214d580-ffd5-11ea-8fd2-0a5dd73f89e2.png)

Please update the document with the appropriate details.

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-26 03:23] saptarshibasu commented on #47169
Please update on this.

[2020-09-26 03:32] hnst-grl123 opened #63327 "SFTP connection test"
Hi,
It would be nice if we could test log in to SFTP site by logic app. It would give us ability to monitor.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a2a1a8a-4e60-c13b-6a34-4e99a946d797
* Version Independent ID: 846bab2d-5506-09dd-5980-998c2eab792f
* Content: [Connect to SFTP account (Depre

[2020-09-26 03:44] skeeler commented on #63239
Hi @femsulu, can you ping me directly for an offline question? My internal alias is the same as my id.

[2020-09-26 05:04] PramodValavala-MSFT commented on #62925
@TommyQuality Hope my previous comment clears things up.

Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-26 05:04] #62925 closed

[2020-09-26 05:39] cybersai29 opened #63328 "Thank you for this. Why not upload a video on how to do this ? Screenshots help though, however a video will be much better for clear understanding."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfb49644-fb30-6357-708b-d2007fcab408
* Version Independent ID: 3c6c3cac-e738-52c3-bf89-6476ba04e816
* Content: [Collect data from an Azure virtual machine with Azure Monitor - Azure Monitor](https://docs.microsoft.com/en-us/azure/azure-monitor/learn/q

[2020-09-26 05:53] SubhashVasarapu-MSFT commented on #63326
@prawin2k , Thanks for reaching out. We will investigate and update this thread.

[2020-09-26 07:47] prawin2k commented on #63326
Thanks.

It looks like the document is not updated properly. It would be helpful if the document steps related to http setting are updated as per the latest changes in the portal.

[2020-09-26 08:31] nasirmalik01 commented on #53855
Same issue. Any solution ?

[2020-09-26 09:51] SubhashVasarapu-MSFT commented on #63326
@prawin2k, Appreciate your patience. PFX certificates are accepted by listeners. You will encounter this option while creating listeners. The page you were referring to is for configuring HTTP settings for the backend. If you wish to enable end-to-end SSL encryption, the backend must be whitelisted with the application gateway. Then Upload the public certificate of the backend servers to this HTTP

[2020-09-26 09:51] MortezaDamavandpeyma-TomTom opened #63330 "How can we get Capacity in Policy"
We want to use capacity metric in our Policy to do rate throttling. Is there a way to get the APIM capacity in policy?
We want to avoid going to azure monitor or other endpoint because of unnecessary latency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b55d754-5cf6-9854-f301-6456d79423cd
* Version Independent ID: 2

[2020-09-26 10:47] AnuragSharma-MSFT commented on #63318
@shizn Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-26 12:16] rishabh5j opened #63331 "is cosmos db also supported to use MSI ? If yes, this page needs edit."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 726adac9-1848-01a6-9586-842c81f820f7
* Version Independent ID: 249db438-8c95-8e69-f69e-8e48fcd0b359
* Content: [Azure Services that support managed identities - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure

[2020-09-26 12:18] KrishnaG-MSFT commented on #63328
@cybersai29 Thanks for the feedback.
Assigning @bwren for visibility, review and document enhancement consideration.

[2020-09-26 14:54] prawin2k commented on #63326
Thank you.

[2020-09-26 14:54] #63326 closed

[2020-09-26 15:00] vaughanh1 commented on #38914
+1, hitting this for the last 2 years

[2020-09-26 15:08] sandervandevelde opened #63333 "Code example differs from MS Learn instruction"
I compared this [Docs page](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-create-test-certificates) with the [MS Learn module](https://docs.microsoft.com/en-us/learn/modules/set-up-iot-edge-gateway/4-generate-configure-iot-edge-device-certificates) which generates certificates also.

There, a device CA certificate and private key is generated with:

    ./certGen.sh create_edge_device_ca_

[2020-09-26 15:34] fairport commented on #42951
pity you didn't tell us how you figured it out !

[2020-09-26 16:01] SamaraSoucy-MSFT commented on #63304
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately. You are always welcome to put in your own pull requests. :)

[2020-09-26 16:03] SamaraSoucy-MSFT commented on #63319
The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the forums, and will do our best to get you going in the right direction! This repo is specifically for docs issues.

[2020-09-26 16:03] #63319 closed

[2020-09-26 16:04] SamaraSoucy-MSFT commented on #63323
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-26 16:05] SamaraSoucy-MSFT commented on #63324
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-09-26 16:07] SamaraSoucy-MSFT commented on #63325
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-26 16:07] SamaraSoucy-MSFT commented on #63327
Thanks for the question. Since this is product feedback and not an issue with the docs, I'm going to redirect you to our [UserVoice](https://feedback.azure.com/forums/34192--general-feedback). Please post product feedback there. Thank you!

[2020-09-26 16:07] #63327 closed

[2020-09-26 16:08] SamaraSoucy-MSFT commented on #63330
The best place for specific answers about implementations are going to be the [Microsoft Q&A](https://docs.microsoft.com/answers/) and [Stack Overflow](stackoverflow.com) forums. We actively look through posts in the forums, and will do our best to get you going in the right direction!

[2020-09-26 16:08] #63330 closed

[2020-09-26 16:09] SamaraSoucy-MSFT commented on #63331
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-26 16:13] SamaraSoucy-MSFT commented on #63333
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-26 16:32] monojit18 commented on #63254
Started working after I pulled id_rsa using CLI...Strangely the update of
SSH key in Portal did not work!
Am I missing anything here OR as a known issue?

On Sat, Sep 26, 2020 at 6:16 AM Karishma Tiwari - MSFT <
notifications@github.com> wrote:

[2020-09-26 17:27] mike-urnun-msft commented on #63327
@hnst-grl123 You may still use the SFTP-SSH connector and access the file system of your site to do such a task. Please review: [Monitor, create, and manage SFTP files by using SSH and Azure Logic Apps](https://docs.microsoft.com/en-us/azure/connectors/connectors-sftp-ssh)

[2020-09-26 18:46] manabendra-panda commented on #58469
Hi @amanmcse , @nkumars

Recently , I was having same requirement . "**Completely bypass self-asserted page** ".
Deleting Orchestration step associated with **SelfAsserted-Social** was not stopping the self asserted page as down the steps another Orchestration was present which refering Technical Profile "AAD-UserWriteUsingAlternativeSecurityId".
**AAD-UserWriteUsingAlternativeSecurityId** Profile

[2020-09-26 18:55] psmanhas commented on #63089
@vikramdadwal Apologies for delay in response.

I can see from [this](https://stackoverflow.com/questions/64020927/azure-container-instance-managed-user-assigned-identity-not-able-to-fetch-keyv) Stack Overflow post that you were able to resolve the issue.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue

[2020-09-26 18:55] #63089 closed

[2020-09-26 19:10] DominiqueDuchemin opened #63336 "Location to do these tasks?"
[Hello, Where should be the tasks run? on my desktop/laptop? on the machine using the product linked to Azure (SCCM Primary Server)]?

Thanks,
Dom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13086a23-13ee-bea9-c04b-39d8d1d3bc8d
* Version Independent ID: 13f6b3cf-b946-cc46-2c15-b01e9d40a634
* Content: [Templates over

[2020-09-26 20:59] youn123 opened #63337 "Incorrect documentation in Python Azure Functions reference"
The documentation refers to this as the recommended project structure for a Python Azure Functions project:

[code]

This seems to imply that there is a root folder above `__app__` in which `__app__` and `tests` are contained.
However, this is not consistent with VS Code Azure extension's automatic Function project generation, which does not generate an `__app__` folder. Manually modifying the pro

[2020-09-26 23:29] cconrado opened #63338 "Not Finding those REST Api's"
Not finding the REST api in the links marked

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9bf0c37-e7bb-0546-6598-3f78437ecfee
* Version Independent ID: 8af63f8f-7916-7aef-d633-c24f65d6fb15
* Content: [Client libraries and REST APIs for Azure Communication Services - An Azure Communication Services concept document](

[2020-09-26 23:54] diberry opened #63339 "Acronym AO is not sufficiently defined"
What is AO? I see it used twice on the page as an acronym but as a new user have no idea what it is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cba5fe7-e340-af57-4dc0-34cd5b7ba5d0
* Version Independent ID: 5474468b-990b-47c2-a47d-624e70b5e478
* Content: [Manage access to Azure billing](https://docs.microsoft.com/e

[2020-09-27 00:41] SaurabhSharma-MSFT commented on #61308
@UserPower7 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2020-09-27 00:41] #61308 closed

[2020-09-27 00:58] YutongTie-MSFT commented on #62959
@roninstar @jkatebin Thanks for the information and explanation. I have forwarded this to product team for more investigation. Sorry for the delay.

[2020-09-27 01:07] maheshau1 opened #63340 "Can't login with AADLoginForLinux extension on linux VMSS if permissions are assigned at resource level"
Operating system: Linux
Offer: UbuntuServer
SKU: 18.04-LTS

It appears that from Ubuntu Version: 18.04.20200908, you are required to assign Virtual Machine Adminstrator Login role at either Resource Group level or Subscription level. Please update documentation that specifies this requirement.

Users will receive Access Denied prompt that they do not have correct permissions if scope was only set

[2020-09-27 01:10] paulfinol commented on #26118
hello, then you need to change this module in the learning portal

https://docs.microsoft.com/en-us/learn/modules/connect-on-premises-network-with-expressroute/2-expressroute-service

[2020-09-27 01:16] SamaraSoucy-MSFT commented on #63336
Hi Dom,

You can use them from where ever works best for you, as long as the device can reach Azure and you can authenticate it, either via UI or programmatically. The template is just a template- you'll need to use the portal, the CLI, or a deployment pipeline (most build server services should work fine) to actually connect to Azure and do the deployment. The Powershell tutorial might be a good

[2020-09-27 01:16] SamaraSoucy-MSFT commented on #63337
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-09-27 01:22] SamaraSoucy-MSFT commented on #63338
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately if needed. The REST API docs have a longer publish process than the main docs, so it is likely it just hasn't been released yet as the service was recently announced. [The Github repo](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/communication) linked in the article does have the

[2020-09-27 01:22] genlin commented on #48583
@artisticcheese You can find the KMS key of windows server 2019 in: https://docs.microsoft.com/en-us/windows-server/get-started/kmsclientkeys

I will also add this link into my article. Thanks for your comments.

#please-close

[2020-09-27 01:22] #48583 closed

[2020-09-27 01:25] SamaraSoucy-MSFT commented on #63339
I've put in a PR to remove the acronym and include the full "Account Owner" text instead. The PR will go live after the doc author has signed off.

[2020-09-27 01:25] #63339 closed

[2020-09-27 01:26] SamaraSoucy-MSFT commented on #63340
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-09-27 01:39] wsy commented on #31136
I don't think Microsoft needs to send that announcement to everyone. Publishing such notice on their websites will do.

[2020-09-27 02:39] DominiqueDuchemin commented on #63336
Hello Samara,

Thanks for the clarification.
This is the link I am using https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-tutorial-create-first-template?tabs=azure-powershell.
It is where the confusion starts... :)

Thanks,
Dom

[2020-09-27 03:00] genlin commented on #51907
@AlexImray, I have forwarded to your suggestion to the team that creates the  Thanks for the suggestion.

#please-close

[2020-09-27 03:00] #51907 closed

[2020-09-27 03:21] genlin commented on #53877
@amapleson  We have a new article to cover the data transfer topic in Azure storage. For more information, see https://docs.microsoft.com/en-gb/azure/storage/common/storage-use-azcopy-blobs.

@please-close

[2020-09-27 03:22] #53877 closed

[2020-09-27 04:13] miraj0072004 opened #63341 "Correction request for the quick start documentation "Create an IoT hub using the Azure portal""
Search for the text "Name your hub" on this page. I think it should be "name your route".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110959df-1981-b136-7dc7-25ac9bf19ff3
* Version Independent ID: 51acc9c3-277d-26b3-ebe1-161dd417a1ed
* Content: [Use the Azure portal to create an IoT Hub](https://docs.microsoft.com/e

[2020-09-27 04:19] contactbrenton opened #63342 "Does the MFA enforcement apply for guest users or just normal users in the tenant?"
Does the MFA enforcement apply for guest users or just normal users in the tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfac0ecf-e5a9-c5ff-f8c2-ce27789708f5
* Version Independent ID: 0f5e0cc9-a54f-a5c8-192d-d60a6a4db3ff
* Content: [Azure Active Directory security defaults](https://docs.microsoft.com/en-us/azu

[2020-09-27 04:34] YutongTie-MSFT commented on #63131
@brightneuron Thanks for your another try, I have forwarded this issue to product team for investigation. I will let you know if I have any update. Thanks again!

[2020-09-27 05:19] souravmishra-msft commented on #63341
@miraj0072004, Thank you for sharing this out. We are looking into this and will update the doc after review.

[2020-09-27 05:32] souravmishra-msft commented on #63342
Hi, @contactbrenton, Thank you for reaching out. MFA enforcement applies to Guest Users also in a specific tenant just like other home users of that tenant. The authentication flow changes a bit for Guest Users, like the authentication happens at the guest user's home tenant and then the home tenant sends out a response (a token) for the other tenant where this user is added as a guest user. Now i

[2020-09-27 06:58] manish-shukla01 opened #63343 "these options are available in visual studio code or visual studio in mac?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e9e1a8a-6284-a230-061e-7cb27258571a
* Version Independent ID: 43390e30-04d6-6d4e-018e-21419dbb11e8
* Content: [Get started with the WebJobs SDK - Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/webjobs-sdk-get-started)
* Content

[2020-09-27 08:12] SumanthMarigowda-MSFT commented on #63019
@stuartdodd1 Firstly, apologies for the delay in responding here and any inconvenience this issue may have caused.  I'd recommend posting your question in https://azure.microsoft.com/en-us/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in yo

[2020-09-27 08:12] #63019 closed

[2020-09-27 08:21] stuartdodd1 commented on #63019
Hi.

But it is related to this doc as it has a statement  that is wrong.

So the statement says .

Spn: this command doesn't exist . So the doc is wrong.

Further more using setspn u can't set a kerb key.

I'm asking the doc creater to re review as clearly the steps are wrong.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: SumanthMarigowda-MSFT <notificatio

[2020-09-27 11:32] user432432 commented on #23045
End of Sept. 2020 - the issue still exists. That's ridiculous. I can't start any cluster with the free trial account. Not even the most basic one.

[2020-09-27 13:07] maxcalvin opened #63344 "Cosmos Troubleshooting for Forbidden could use some detail"
OS: Windows 10 Pro Insider Preview 20221.1000
Browser: Edge (chromium), canary version 87.0.651.0

I am currently having an issue with looking at my databases/collections in browser and receiving the following error in the notifications area of the data explorer:
[code]

The third bullet in the [Troubleshoot connectivity issues](https://docs.microsoft.com/en-us/azure/cosmos-db/troubleshoot-local-e

[2020-09-27 13:15] theglossy1 commented on #62389
@KumudD any updates on this? Thanks.

[2020-09-27 14:55] theheatDK opened #63345 "Applying the Azure Hybrid Benefit for SQL Server retroactively?"
Hi,
On this page this is stated:
“For existing databases, select Configure in the Settings menu and select the option to save money”

This means that you can retroactively add hybrid benefit to a database.

On this page:
https://azure.microsoft.com/en-us/pricing/hybrid-benefit/

This is stated:
“Can I apply the Azure Hybrid Benefit for SQL Server retroactively?
No. The Azure Hybrid Benefit cannot

[2020-09-27 15:48] damochiz opened #63346 ""azureml.explain.model._internal.application_client" module is correct?"
[Enter feedback here]
"[Download engineered feature import from artifact store](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-machine-learning-interpretability-automl#download-engineered-feature-importance-from-artifact-store)" section contains the following code:

[code]

"azureml.explain.model._internal.application_client" module works, but is it for internal?
Is there any diffe

[2020-09-27 15:51] maecky commented on #57689
@mbialecka I am having the same issue with the Python SDK as @jasonjalufka . Can't use version 2017-04-17:

[code]

[2020-09-27 16:21] SamaraSoucy-MSFT commented on #63343
Some of the quality-of-life features like integration with storage or publishing from Visual Studio aren't available in VS Code, but you can certainly create Webjobs in other versions of Visual Studio and use the CLI to deploy them. Webjobs start with a console app and make use of the Webjobs SDK to add functionality on top of that. The code provided is the same no matter of what version VS you ar

[2020-09-27 16:21] #63343 closed

[2020-09-27 16:22] SamaraSoucy-MSFT commented on #63344
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-09-27 16:25] souravmishra-msft commented on #63345
@theheatDK, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-27 16:27] souravmishra-msft commented on #63346
@damochiz, Thank you for reaching out. We are looking into this and will get back to you soon.

[2020-09-27 16:43] vsharma-github commented on #54194
This is still not working for, I used the code - https://github.com/Azure-Samples/cosmos-dotnet-core-todo-app/commit/500a90b8a1abaa481ddcc5c9e4802729b9cb2d33

[2020-09-27 17:00] sc-bperry opened #63347 "Connection strings for parameterized linked services"
One issue I've run into is using parameters for a linked service, specifically the **AzureSqlDatabase** type. In my case, I use the Managed Identity authentication type and then provide parameters for the Azure SQL server name and database name. In the end, my connection string looks like this in my development environment:

[code]

The problem is that when using Azure DevOps releases, the connect

[2020-09-27 17:19] vipulsparsh commented on #59498
@darrenjoycenz Apologies for the delay on this, this got stuck somewhere in internal issues.  Can you help us understand if you are still facing the issue as I was able to do this via powershell without any issue.
Please make sure that you are using the correct Object ID for the role. For user administrator its :
159033a3-46c6-47fb-b214-4de29d3d5b2a

You can get the objectIDs for all role by using

[2020-09-27 17:19] #59498 closed

[2020-09-27 17:26] vipulsparsh commented on #62713
@espacesolutions  Yes you would have to make sure those necessary changes in group policy for it to work.

[2020-09-27 17:26] #62713 closed

[2020-09-27 17:49] vipulsparsh commented on #63178
@curtand  Can you have a look at this ?

[2020-09-27 17:59] elygre opened #63348 "Clarify tenant and subscriptions to use"
Hi,

The document has the following quote:

This is unclear. I spent some time deciding whether I should do this in the managing (MSPP) tenant, or in the managed (customer) tenant. Further, there is no "SOC - Resource" screen. Instead, this is the name of the subscription used in the MSPP tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-09-27 18:07] Cing187 commented on #63347
Can  I Help let me know

On Sun, Sep 27, 2020, 12:01 PM Blaine <notifications@github.com> wrote:

[2020-09-27 18:57] RedTail72 opened #63352 "Missing Storage Account Type for SharedImage"
This may be more of a functionality issue vs documentation.  Under the [Distribute: sharedimage](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/image-builder-json#distribute-sharedimage) section, the storageAccountType property lists "Standard_LRS" and "Standard_ZRS".  This does not match up with available storage account types when creating an image gallery version via the portal,

[2020-09-27 19:29] AjayKumar-MSFT commented on #63177
Cainhune, I wish to engage with you offline for a much closer look and provide specialized assistance, please send an email with subject line “Attn:Ajay” to AzCommunity[at]Microsoft[dot]com referencing this thread, Azure subscription ID, WebApps name(s), I will follow-up with you.  Since we will engage offline, I will close this for now. Thanks for sharing detailed description of the scenario and

[2020-09-27 19:29] #63177 closed

[2020-09-27 20:18] AjayKumar-MSFT commented on #63195
Thanks again for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-09-27 21:52] TomArcherMsft commented on #29981
This article has been updated. #please-close

[2020-09-27 21:52] #29981 closed

[2020-09-27 23:03] huanminwu opened #63354 "I do not see how to scale up database using SQL"
This page does not tell me the instruction to scale up database using T-SQL
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b861f9-4ed1-afc9-127c-dca2cbb98a56
* Version Independent ID: 967aa4c2-77eb-1ce8-e0bb-e12e705e3c61
* Content: [Scale single database resources - Azure SQL Database](https://docs.microsoft.com/en-us

[2020-09-27 23:30] SamaraSoucy-MSFT commented on #63347
Thanks for the question! We will review and get back to you shortly.

[2020-09-27 23:32] SamaraSoucy-MSFT commented on #63348
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-27 23:33] ram-msft commented on #63161
@karangupta8 Thanks for the details. We are able to access the QnAmaker portal. You can restart App Service to apply the latest updates.  Can you please add more details about the error that you are seeing.

[2020-09-27 23:34] SamaraSoucy-MSFT commented on #63352
Thanks for the feedback! We will review and get back to you shortly.

[2020-09-27 23:36] SamaraSoucy-MSFT commented on #63354
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-09-27 23:57] YutongTie-MSFT commented on #62959
@jkatebin @roninstar Thank you guys for the feedback. I have confirmed that this is a limitation in SDK, but RESTful API is supporting this function. We are working on fixing this in SDK. Thanks for the feedback again.

We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2020-09-27 23:57] #62959 closed

[2020-09-28 01:15] hnst-grl123 commented on #63327
Thanks, but the trigger for both of them is adding a file, i just want to check if login is successful or not then if file to login then do an action.

[2020-09-28 01:40] satoshk opened #63356 "Available region for GPU VM"
Users who lives in a region which is not supported GPU Machine size may not able to choose GPU one when they create a new lab machine. It seems that adding supported regions like [this announcement](https://azure.microsoft.com/en-us/updates/azure-lab-services-now-supports-new-gpu-virtual-machine-sizes/) into this page would be very kind for users.

---
#### Document Details

⚠ *Do not edit this se

[2020-09-28 01:59] RonnieQuan opened #63357 "SSH or Remote Connect to Pool VM Instance"
When create batch account in batch service pool allocation mode, does it support to logon to the vm pool instance?
We create pool in our private subnet, the network connectivity is there, but what is the credential to log on to the VM?
or is credential configured somewhere during pool creation?

![image](https://user-images.githubusercontent.com/25850020/94382905-6d4e1080-010c-11eb-99d7-4d967b3444

[2020-09-28 02:02] AshokPeddakotla-MSFT commented on #63000
@tymtam2 Do let us know if you have any further queries.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-09-28 02:02] #63000 closed

[2020-09-28 02:53] keecm commented on #57689
api version 2019-07-07 solved my problem.

[2020-09-28 03:08] AnuragSharma-MSFT commented on #63236
@robwafle Can you try this again? Please add and grant FHIR Data Contributor role to your user account in addition to server principal and let us know if you still face similar issue.

[2020-09-28 03:12] RonnieQuan opened #63358 "Private Endpoint Batch Account and Pool With Public IP"
In my corporate environment, we only enable service and GA features.

Since batch account private link is GA, so I would like to use the feature.
But create the pool in private vnet without public ip is in preview

Does this combination make any sense, batch account FQDN is my private endpoint, but the pool is created with public IP?
Why I need a private endpoint batch account to communicate to po

[2020-09-28 03:28] MayankBargali-MSFT commented on #63118
@MortezaDamavandpeyma-TomTom JWKS is being cached and is **not** being fetched on each request. The automatic metadata refresh should occur for every one hour.

[2020-09-28 03:40] AnuragSharma-MSFT commented on #63271
@RonnieQuan We were checking the issue you reported and found below article that could help you in details and also covers the requirements and recommendation for configuring the customer managed TDE:
https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-overview

For linking the keyvault with Azure Sql database, please refer to:
https://docs.microsoft.com/en-u

[2020-09-28 03:58] CHEEKATLAPRADEEP-MSFT commented on #63272
@sulingala  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2020-09-28 03:58] #63272 closed

[2020-09-28 04:00] #63356 closed

[2020-09-28 04:01] krish-gh commented on #63356
@satoshk Thanks for the feedback. We have updated the documentation internally to add an explicit note to check region availability and soon it will be published. Please note that this page would not mention about specific regions to avoid getting outdated once there is new region availability. Rather it would point to the central [Azure VM Availability Page](https://azure.microsoft.com/regions/se

[2020-09-28 04:04] SwathiDhanwada-MSFT commented on #62956
@SwayTex As there is no further response , we will close the issue for now. If there are further questions or feedback, please revert and we will be glad to assist you.

[2020-09-28 04:04] #62956 closed

[2020-09-28 04:06] SwathiDhanwada-MSFT commented on #63040
@tanmayjog  Did you get chance to look into my previous comment? Let me know if you have further queries related to it.

[2020-09-28 04:35] tymtam2 opened #63359 "Multiple events: Example B: insconsitent plantId between json and table"
Json shows:

[code]

but table shows:

[code]

so `plantId`s don't match:
9336971
vs
9336972

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7a69cb3-f639-42ce-70b2-207f979d5866
* Version Independent ID: a8b862c0-ef54-9ebd-a396-ea5737fc51a1
* Content: [JSON flattening and escaping rules - Azure Time Series Insights Gen2

[2020-09-28 04:40] tymtam2 commented on #63000
Hi, @AshokPeddakotla-MSFT

Thanks for the link to the gen2 documentation.

I've created the issue not because I had a specific scenario, but because I could not imagine a scenario where multiple values were provided at the same timestamp.

In the new doco in example B we can see that each value at time X has a different tag so my mind is no longer suffering the pain of not understanding and the is

[2020-09-28 04:55] SwathiDhanwada-MSFT commented on #63188
@RonnieQuan Did you get chance to view my previous comment ? Let me know if you have further questions.

[2020-09-28 05:14] psmanhas commented on #63358
@RonnieQuan Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-28 05:15] psmanhas commented on #63358
@JnHs Can you please check and add your comments on this doc update request as applicable

[2020-09-28 05:17] kiranpradeep opened #63360 "Wrong information about minimizing latency"
Quoting the document

This is wrong information in the context of blob trigger which is the document written for. For a blob trigger, irrespective of whether we move to App Service plan with Always On enabled, the 10 minute delay is still present. What is saved on moving to App Service plan with Always On is only the cold start time - which is a paltry 5 to 10 seconds. The quoted paragraph gives a

[2020-09-28 05:22] Caoxuyang opened #63362 "Network policy cannot block the access to IMDS endpoint"
I tried to use the network policy in AKS to block pods from accessing the IMDS endpoint.
The yaml I used is a simple one, deny all ingress/egress traffic for pods in default namespace.

[code]

However I found that this network policy can block my requests to all public ips like www.google.com except for IMDS endpoint.
I can still curl IMDS endpoint and get a BadRequest response.
May I know the re

[2020-09-28 05:27] AshokPeddakotla-MSFT commented on #62695
@RamonArguelles Could you please look into this feedback and update the doc appropriately?

[2020-09-28 05:35] asudbring commented on #59309
Change wording to clear up confusion.  The link is to upgrade a basic public load balancer to a standard public load balancer.

#please-close

[2020-09-28 05:35] #59309 closed

[2020-09-28 05:38] asudbring commented on #62322
Sending to PM for review

#reassign: @christiankuhtz

[2020-09-28 05:40] asudbring commented on #63184
Sending to PM for review

#reassign@christiankuhtz

[2020-09-28 05:43] asudbring commented on #63142
This has been resolved
#please-close

[2020-09-28 05:43] #63142 closed

[2020-09-28 05:48] AshokPeddakotla-MSFT commented on #63341
@miraj0072004 Thanks for reporting. PR has been created to fix the naming. Changes will go live once it has been peer reviewed and merged.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-28 05:48] #63341 closed

[2020-09-28 05:49] SumanthMarigowda-MSFT commented on #63280
@fatphil2001  The PR has been raised, hence closing this thread  If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-28 05:56] asudbring commented on #54792
Investigating

[2020-09-28 06:05] asudbring commented on #61802
Sending to PM for review

#reassign:@sohamnchatterjee

[2020-09-28 06:24] JayaChatterjee-MSFT commented on #63360
@kiranpradeep Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 06:29] Moodjbow opened #63367 "Please find a workaround with the NPS Extension developers for hybrid use"
Dear Microsoft colleagues,

your proposal under "Control RADIUS clients that require MFA" to spin up a second NPS does not scale up. Imagine big companies with multiple sites and VPN gateways (as ours).
I have worked with SMSPasscode in the past and know that it is also developed as an NPS extension but is capable of excluding NPS policies from its scope.
Please consult the developers of your exte

[2020-09-28 06:35] #63040 closed

[2020-09-28 06:35] pnarsi commented on #60461
@crgarcia12

Even the UDP traffic on Port 1194?

I have just noticed that the third bullet point in the limitations section of this page says that "Azure Private Link service limitations apply to private clusters."

The linked [Private Link limitations](https://docs.microsoft.com/en-us/azure/private-link/private-link-service-overview#limitations) page says that Private Link supports TCP only.

[2020-09-28 06:38] FelixS90 opened #63368 "Azure MySQL AAD Group alias not possible"
I just realized that I as a member of the AAD group `xyz` cannot connect to the server when creating the user as:

`CREATE AADUSER 'xyz' as 'w';`

whereas I can connect when creating the user as:

`CREATE AADUSER 'xyz';`

This implies that the length of the group must not exceed 32 chars. Otherwise, I cannot make use of [AAD groups in Azure MySQL](https://docs.microsoft.com/en-us/azure/mysql/howto

[2020-09-28 06:42] josealvarez97 opened #63369 "Should have examples in Azure SDK for Node.js"
It has been really hard for me to implement a basic template registration for apns. The code snippets are great, but I wish this same article had examples in other languages/frameworks such as Node.js. I went over the GitHub page (i.e., Azure SDK for Node.js) and the experience was poor too.

### _I accomplished implementing a template registration in the Node.js SDK only after I found an [**old a

[2020-09-28 06:42] andrepodnozov opened #63370 "Max number of modules"
This page says that max number of modules per device is 30, but the following page suggests that 50 modules can be added to a device: https://docs.microsoft.com/en-us/azure/iot-edge/how-to-deploy-at-scale#step-2-modules
Can you please reconcile that? Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-09-28 06:45] bubbletroubles opened #63371 "Page title"
This page is titled "Preview: Azure Image Builder overview in **Linux**", but the article is for both Linux and Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17a20cc3-d50f-ff9f-d781-ecfeb366807f
* Version Independent ID: 12557b74-5318-f7c6-3098-544bc9634c04
* Content: [Learn about Azure Image Builder (preview

[2020-09-28 06:50] SwathiDhanwada-MSFT commented on #63098
@rboucher Can you please provide your inputs on this issue?

[2020-09-28 06:52] josealvarez97 commented on #63369
I am generally a Google Cloud Platform customer. I decided to try Azure because I needed Push Notifications, and Azure Notification Hubs seemed to be a very good product for this need. So far I'm really, really happy with Azure Notification Hubs!

Still, I'd recommend not assuming that users of Azure Notification Hubs will necessarily prefer to implement a backend in C#. Not that I don't like C# -

[2020-09-28 07:04] keamas opened #63372 "vwan_public_preview@cisco.com - 550 #5.1.0 Address rejected."
Hello, I would like to evaluate the cisco sd wan in Azure vwan hub.
But If I try to email the provided E-Mail address I get back a

vwan_public_preview@cisco.com

550 #5.1.0 Address rejected.

Reported error: | 550 5.0.350 Remote server returned   an error -> 550 #5.1.0 Address rejected.
-- | --
DSN generated by: | VI1PR03MB3694.eurprd03.prod.outlook.com
Remote server: | alln-inbound-f.cisco.com
h

[2020-09-28 07:09] psmanhas commented on #63371
@bubbletroubles Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-28 07:10] psmanhas commented on #63371
@cynthn Can you please check and add your comments on this doc update request as applicable

[2020-09-28 07:10] #57473 closed

[2020-09-28 07:12] BryanTrach-MSFT commented on #58077
We agree the document needs further clarity on this matter. We have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-28 07:14] SumanthMarigowda-MSFT commented on #63116
@tishyk When you deploy an ARM template you can do it in two modes, Incremental or Complete. Incremental is the default and will add resources to a resource group and change the configuration on existing ones, but it will not delete them. If you switch your ARM template deployment to using the Complete mode, then it will make your resource group match exactly what is in your ARM template, and remo

[2020-09-28 07:14] #63116 closed

[2020-09-28 07:16] richmhouse commented on #58077
Thanks @BryanTrach-MSFT  - much appreciated.

[2020-09-28 07:18] psmanhas commented on #63362
@Caoxuyang Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-28 07:18] psmanhas commented on #63362
@mlearned Can you please check and add your comments on this doc update request as applicable

[2020-09-28 07:20] psmanhas commented on #63357
@RonnieQuan Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-28 07:20] hyparki opened #63373 "Need to edit the Powershell example"
It's a simple matter..

"$Database.ResourceTargetGroupName" is not declared for Target Resource Group Name.
I think it needs to update to "$TargetResourceGroupName".
If I am wrong, please let me know.

# Use the following command to restore to a different server
#$RestoredDatabase = Restore-AzSqlDatabase –FromPointInTimeBackup –PointInTime $PointInTime -ResourceGroupName **$Database.ResourceTarget

[2020-09-28 07:21] psmanhas commented on #63357
@JnHs Can you please check and add your comments on this doc update request as applicable

[2020-09-28 07:26] SubhashVasarapu-MSFT commented on #62981
@mrpullen, Appreciate your patience. We will loop the respective SME here for clarification against this limitation. Also, I would like to check with you on having multiple frontend IP configuration on the load balancer?
@asudbring, could you please provide you insights on this?

[2020-09-28 07:27] psmanhas commented on #62585
@jtuliani Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-28 07:27] #62585 closed

[2020-09-28 07:43] psmanhas commented on #62947
@junpark12  Apologies for the delay in response and all the inconvenience caused because of the issue.

The above scenario is not supported under Auto Healing. Since here you have manually stopped the instance by default the node will show in Not Ready state.

Auto Healing will be applicable for the node which is currently in running state and there is some issue with that node.

In your case once

[2020-09-28 07:43] psmanhas commented on #62947
@junpark12 Hope the provided information is helpful.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-28 07:43] #62947 closed

[2020-09-28 07:43] SubhashVasarapu-MSFT commented on #63095
@birdnathan, Appreciate your patience. The doc has been edited accordingly and it would take some time for the changes to get reflect over the doc.
We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-28 07:43] #63095 closed

[2020-09-28 07:46] SubhashVasarapu-MSFT commented on #63372
@keamas, Thanks for reaching out. We will investigate and update this thread.

[2020-09-28 07:46] psmanhas commented on #61686
@zr-msft Can you please check and add your comments on this doc update request as applicable

[2020-09-28 08:02] SubhashVasarapu-MSFT commented on #63219
@mossywell, we are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2020-09-28 08:02] #63219 closed

[2020-09-28 08:13] SubhashVasarapu-MSFT commented on #63274
@Camios, Appreciate your patience. Document looks clear saying, APPGW v2 SKU doesn't offer varied sizes whereas V1 standard SKU is offered in three sizes,

**APPGW standard V2 SKU configuration :**

![image](https://user-images.githubusercontent.com/44890829/94406826-3d485100-0190-11eb-95cb-53a34a95c221.png)

**APPGW standard V1 SKU configuration:**

![image](https://user-images.githubusercontent.

[2020-09-28 08:20] KrishnaG-MSFT commented on #63312
@BrianLevenson I have verified and updated the document as required. The update would take some time go live i.e., less than 24 hours. Thanks.

[2020-09-28 08:20] #63312 closed

[2020-09-28 08:22] SnehaAgrawal-MSFT commented on #63369
@josealvarez97 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-28 08:23] MortezaDamavandpeyma-TomTom commented on #63118
@MayankBargali-MSFT  Thanks for clarification. Would be great to reflect this info in the documentation pages.

What would happen if validation of a JWT fails because the cached JWKS is outdated? Would that trigger refreshing JWKS and re-validating the previously failed request?

[2020-09-28 08:25] AnuragSharma-MSFT commented on #63368
@FelixS90 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-28 08:33] fume opened #63374 "Missing ClaimReferenceIds"
ClaimReferenceIds are missing for both the Input claims and output claims.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5173ffe-41ca-249e-4331-ca29a5146a40
* Version Independent ID: 0296752c-388f-ecff-2a79-f80e2f8c5d42
* Content: [Define a phone factor technical profile in a custom policy - Azure AD B2C](https://docs

[2020-09-28 08:44] TomGeske commented on #63171
AFAIK kubectl > 1.18 is only needed for https://aka.ms/aks/managed-aad. Legacy integration should continue to work.

+@miwithro

[2020-09-28 08:55] califanodb commented on #53196
This is still an issue...

[2020-09-28 08:56] karataliu opened #63375 "Add preview note for preview features"
Since this page contains preview content, please kindly add a preview note, to help clarify preview feature scope.

like 'Important' section in https://docs.microsoft.com/en-us/azure/aks/kubernetes-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1e42fdb-aa59-786b-ba0d-659f67db3cf3
* Version Independent ID: cc199

[2020-09-28 09:12] jairbubbles opened #63376 "TelemetryConfiguration.Active is now deprecated"
Hi,

`TelemetryConfiguration.Active` is now obsolete as seen on https://github.com/microsoft/ApplicationInsights-dotnet/issues/1152.

The documentation should be updated accordingly.

I also feel like information should be added to explain what to do when we create our own configuration which is now the recommended way.

I'm not sure it's working but I ended up with:
[code]
NB : there are other pl

[2020-09-28 09:13] nkumars commented on #58469
@manabendra-panda, not really. I made it work just by commenting the above said ```CLaimsExchange```. ```AlternativeSecurityId``` is a must for any user profiles created from other social IDP's to have a unique identifier in our B2C. Hence if the values from ```AlternativeSecurityId``` is not set in the pipeline, you must set them explicitly in your TechnicalProfiles.

I would recommend not to tou

[2020-09-28 09:21] HarithaMaddi-MSFT commented on #63373
@hyparki - Thanks for your valuable feedback. I am looking into it and will get back to you with details shortly.

[2020-09-28 09:24] eloew opened #63377 "Code doesn't work with current version 4.5.1"
This code does not appear to be current for version 4.5.1

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2948cf4b-b078-cf73-611a-63cc09a5484a
* Version Independent ID: 0a7c4de9-3e99-daa7-6580-d08b6499e78a
* Content: [Tutorial: Build a Java web app using Azure Cosmos DB and the SQL API](https://docs.microsoft.com/en-us/

[2020-09-28 09:55] hphuhtin opened #63379 "Join-AzStorageAccountForAuth incorrect example parameters for -EncryptionType"
There is an error in the sample value of the script on this page. It says:

Join-AzStorageAccountForAuth `
        -ResourceGroupName $ResourceGroupName `
        -StorageAccountName $StorageAccountName `
        -DomainAccountType "<ComputerAccount|ServiceLogonAccount>" # Default is set as ComputerAccount
        -OrganizationalUnitDistinguishedName "<ou-distinguishedname-here>" # If you don't pr

[2020-09-28 09:57] phatcher opened #63380 "HttpClient usage"
Is this advice still correct given . NET Core's usage of HttpClientFactory which handles the connections?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb8d85a7-1ca3-71f4-85fb-7fb02850b60e
* Version Independent ID: 3d7daee4-fd6d-0e96-299a-90b3637e6150
* Content: [Manage connections in Azure Functions](https://docs.mic

[2020-09-28 10:01] Tbohunek opened #63381 "DB Online Migration - Storage account"
Hi, there is a discrepancy in the Online Migration between SQL Database and SQL Managed Instance.
[SQL Managed Instance](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-managed-instance-online#prerequisites) article explicitly mention you need a Storage Account as a cache.
[SQL Database](https://docs.microsoft.com/en-us/azure/dms/tutorial-sql-server-azure-sql-online#prerequisites) o

[2020-09-28 10:02] look-im-not-your-daddy opened #63382 "Lacks reference to headers binding"
Hello!

[Here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-input?tabs=csharp#authenticated-tokens) we have a short sample of headers binding, but this page has no mentions to headers binding so no further details are given regarding some very specific behavior as for instance:

1. Case-sensitivity: I discovered headers binding to be case-sensitive (sid

[2020-09-28 10:05] FelixS90 opened #63383 "AAD group member not logged as external_user_s"
As outlined in [Azure MySQL Audit Logs and Azure AD Authentication Learnings](https://medium.com/microsoftazure/azure-mysql-audit-logs-and-azure-ad-authentication-learnings-cbf11c4a5887), it should be possible to log the individual user if that user logged in with the AAD group name and the access token obtained previously.

However, in my case, `external_user_s` is either b677c290-cf4b-4a8e-a60e-

[2020-09-28 10:10] AnassHmida commented on #63223
@RyanHill-MSFT  Hey ryan, is there a clear link on what are the necessary claims to make the request work ?

[2020-09-28 10:17] HarithaMaddi-MSFT commented on #63373
@hyparki - Thanks for your contribution, I've addressed this issue in PR: MicrosoftDocs/azure-docs-pr/pull/131534

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2020-09-28 10:17] #63373 closed

[2020-09-28 10:38] isaac99 commented on #59802
The code sample appears to be broken again. Numerous places I see that PROTOCOL_TLSv1_2 is now deprecated. Should it be used in this quickstart tutorial? Also, I get File not found error when attempting to connect:

[code]

[2020-09-28 10:39] Steel-Consulting commented on #33157
Same issue for me as well... how can this not be resolved yet?

[2020-09-28 10:40] isaac99 opened #63384 "Code is broken and out of date"
The code sample appears to be broken again. Numerous places I see that PROTOCOL_TLSv1_2 is now deprecated. Should it be used in this quickstart tutorial? Also, I get File not found error when attempting to connect:

[code]

#59802

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a495bce-739a-3ea9-84a9-7e5e4d4ce064
* Ver

[2020-09-28 11:06] psmanhas commented on #63375
@karataliu Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate. We will update you accordingly.

[2020-09-28 11:06] psmanhas commented on #63375
@palma21 Can you please check and add your comments on this doc update request as applicable

[2020-09-28 11:23] ochyzhyk opened #63385 "Add some explanations."
Hello.

In the topic wasn`t explained how check or set:
_Extended rights for "Unexpire Password" on the root object of each domain in that forest, if not already set._
How can I do this?

What does it mean?
 _For passwords to be changed immediately, password writeback must be set to 0. However, if users adhere to the on-premises policies, and the Minimum password age is set to a value greater than

[2020-09-28 11:43] AnuragSharma-MSFT commented on #63345
@theheatDK Thanks for reaching out to us.

The article in question talks about changing the licensing model of already created Azure Sql Resources. But the Azure benefits will be applicable in billing from the day we change the licensing model, not the time we created the issue.

Hence we are basically saying whatever cost will be applicable post that moment will consider Azure Hybrid Benefit Mode

[2020-09-28 11:44] AnuragSharma-MSFT commented on #63377
@eloew Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-28 11:45] AnuragSharma-MSFT commented on #63381
@Tbohunek Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-28 11:46] AnuragSharma-MSFT commented on #63383
@FelixS90 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2020-09-28 11:47] Cing187 commented on #63177
Sorry my email was hacked l..Same Micro softwir..but.can yall just send me a text before  yall come..Sent on my Boost Mobile Samsung Galaxy Phone.
-------- Original message --------From: AjayKumar-MSFT <notifications@github.com> Date: 9/27/20  2:30 PM  (GMT-06:00) To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [MicrosoftDocs

[2020-09-28 11:54] Cing187 commented on #63177
I'm here

[2020-09-28 12:03] SwathiDhanwada-MSFT commented on #63376
@jairbubbles Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-28 12:07] SwathiDhanwada-MSFT commented on #63269
@ToruMakabe Thanks for your comment. I verified from my end, I can assign the roles using the addonProfiles.omsagent.identity.clientId which is indeed correct.

As there are no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2020-09-28 12:11] JasSuri opened #63387 "Auth Code PKCE Flow Refresh token only valid for 24hrs?"
In PKCE Auth code flow, the refresh token is used to acquire new access tokens, unlike the in traditional implicit flow, where cookies are used.

The article states:
**"The refresh token has a limited lifetime and expires after 24 hours. "**

Refresh token has different lifetime by default:
https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetime

[2020-09-28 12:12] Caoxuyang commented on #63362
Hi @mlearned,
Note that due to security conserns, we are planning to restrict some containers from certain namespaces from accessing IMDS endpoint and wire server.
We are trying to figure out is AKS' network policy capibal of doing this, why and why not.
Per my testing, it seems that IMDS endpoint is not able to be restricted with Network policy but I haven't tried the wire server.

[2020-09-28 12:21] ToruMakabe commented on #63269
@SwathiDhanwada-MSFT Did you check the ID was able to write metric? When I tried it as this doc, I was able to assign the role to addonProfiles.omsagent.identity.clientId, but the ID were not able to write metric.

[2020-09-28 12:31] vreezy opened #63388 "outdated code"
NEAR
"Receive events" -> "Update the Main method" -> "4."

AT
Console.WriteLine("\tReceived event: {0}", Encoding.UTF8.GetString(eventArgs.Data.Body.Array, eventArgs.Data.Body.Offset, eventArgs.Data.Body.Count));

REPLACE:
Console.WriteLine("\tReceived event: {0}", Encoding.UTF8.GetString(eventArgs.Data.Body.Span));

END
---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-28 12:32] AnuragSharma-MSFT commented on #63318
@shizn We are observing the similar issue, it looks like **_azure.mgmt.network_**  needs to be imported before we run the command.

This is being assigned to the content author to evaluate and update as appropriate.

[2020-09-28 12:34] KalyanChanumolu-MSFT commented on #62912
@robertlagrant Its been a while we heard from you. We will proceed to close this issue now.
If you need further assistance, please comment and we will gladly continue the conversation.

[2020-09-28 12:34] #62912 closed

[2020-09-28 12:34] AshokPeddakotla-MSFT commented on #63370
@andrepodnozov  Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-28 12:35] AshokPeddakotla-MSFT commented on #63359
@tymtam2 Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-28 12:56] MonikaReddy-MSFT commented on #63384
@isaac99 -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-28 12:57] mikedangel opened #63389 "users at risk detected alerts"
Hi,
The confiuguration page of Identity Protection alerts gives this advice:
"Users in the Global administrator, Security administrator, or Security reader roles are automatically added to this list. We attempt to send emails to the first 20 members of each role. If a user is enrolled in PIM to elevate to one of these roles on demand then they will only receive emails if they are elevated at the t

[2020-09-28 13:01] MonikaReddy-MSFT commented on #63099
@mrozu -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-28 13:01] #63099 closed

[2020-09-28 13:01] MonikaReddy-MSFT commented on #63290
@brenovult -

Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-28 13:04] SwathiDhanwada-MSFT commented on #63276
@kazshi Thanks for your comment. Can you please try below query to retrieve required data ?

[code]

[2020-09-28 13:09] MathiasVandePol opened #63390 "b2c extensions app id should be without hyphens"
The[ pages states that in the graph api](https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-custom-attributes#create-a-custom-attribute-through-azure-portal) call u should use
[code]

However the correct what of doing this is without the hyphens
ex:

instead of
[code]
it should be
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-09-28 13:11] willnix86 opened #63391 "Event Grid Events fail to deliver"
I've followed this document but the Event Grid events fail to deliver with a "not found" message.

The only difference between mine and the documentation is that the Function App is a linux consumption plan app running on a Dev/Test subscription, and the storage is a 'cool' tier general purpose v2 account. I also tested by uploading an image directly to the images container. Still, there seems to

[2020-09-28 13:17] HoussemDellai opened #63392 "The Ingress and the Services should be inside the same Namespace"
[Enter feedback here]

Please add this IMPORTANT NOTE: The Ingress and the Services should be inside the same Namespace. Otherwise, the Ingress won't find the Service even with its full name: <service-name>.<namespace>.svc.local

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd0e7d5a-37e9-07dc-f395-9cb5bb580e45
* Versi

[2020-09-28 13:19] TomGeske commented on #60461
AFAIK the ones below are not needed for private cluster. @feiskyer to confirm.

cc: @miwithro

[2020-09-28 13:25] shashishailaj commented on #63367
@Moodjbow Thank you for your feedback . We will have this discussed internally and update this thread.

[2020-09-28 13:25] shashishailaj commented on #63374
@fume Thank you for your feedback . We will investigate and update the thread.

[2020-09-28 13:29] shashishailaj commented on #63385
@ochyzhyk Thank you for your feedback . We will investigate and update the thread.

[2020-09-28 13:37] nopslider opened #63393 "Error in setup instructions"
Configuring Pipedrive SSO, section 4a currently reads:

a. In the Issuer textbox, paste the App Federation Metadata Url value, which you have copied from the Azure portal.

It should read:

a. In the Issuer textbox, paste the Azure AD Identifier Url value, which you have copied from the Azure portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-09-28 13:46] pochiraju commented on #63381
hello,
We use backup /restore technology for SQL Server to SQL Server Managed Instance migrations, where customer provide the FULL and Log backup files in SMB network share, that requires 445 port open.  The DMS service uploads the backup files to Azure Blob storage that customer provide in the migration configurations blade.
For SQL Server to SQL DB migrations, we use logical migration, bulk copy

[2020-09-28 13:50] FlorianBorn71 commented on #62963
Hello,
the video stream is via UDP. And your assumption is correct: The firewall needs to be stateful to allow the incoming traffic.
Cheers,
Florian

[2020-09-28 13:58] shashishailaj commented on #63393
@nopslider Thank you for pointing this out . We will have this reviewed and updated .

[2020-09-28 13:58] psmanhas commented on #63137
@jelew Taking offline.

We will now close this issue. If there are further questions regarding this, please tag me in a comment. I will reopen it and we will continue the discussion.

[2020-09-28 13:58] #63137 closed

[2020-09-28 14:12] shashishailaj commented on #63387
@JasSuri Thank you for pointing this out . We will investigate and update the thread.

[2020-09-28 14:12] AshokPeddakotla-MSFT commented on #63029
@dominicbetts Assigned this issue to you since it needs to be verified the change. Please check and update the doc approproately.

[2020-09-28 14:17] SaiKishor-MSFT commented on #61931
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-28 14:17] #61931 closed

[2020-09-28 14:18] SaiKishor-MSFT commented on #61952
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-28 14:18] #61952 closed

[2020-09-28 14:23] RyanHill-MSFT commented on #63223
@AnassHmida the error code you're getting means `License acquire failed`. You can use Fiddler or your browsers debugger to inspect the http response body and determine what's causing the error. Furthermore, the Key Delivery service includes the reason as well. You can enable logging through the Media Services blade in the portal. Navigate to Diagnostics settings section on the AMS account and clic

[2020-09-28 14:29] CloudCrusader opened #63396 "peering naming"
change 'public peering' to 'Microsoft peering'

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbfc7ccc-7fd0-9bb7-7d39-e9cfa09736ce
* Version Independent ID: c0e7f101-5707-63ff-8193-c74a3e1d9a75
* Content: [What is Azure Private Link?](https://docs.microsoft.com/en-us/azure/private-link/private-link-overview)
* Content Sour

[2020-09-28 14:40] erschef opened #63397 "Update documentation to reflect new management experience."
Screenshots for the task show the "Classic Experience", suggest updating screenshots and or instructions to reflect the current web UI experience. the classic management experience is being deprecated in Oct 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 771c44cc-a284-0c97-dae3-218e7319018f
* Version Independent

[2020-09-28 14:41] bgribaudo commented on #52706
@mike-urnun-msft / @craigshoemaker, do you know if this is still in the works? :-) It would be really helpful to have this documented so that I can point dev resources to it. Thanks!

[2020-09-28 14:48] SumanthMarigowda-MSFT commented on #63379
@hphuhtin Thanks for the question! We are investigating and will update you shortly.

[2020-09-28 14:56] ealsur commented on #54194
@vsharma-github InvalidUri is a Sytem exception, means the Url you are using is not valid or is in an incorrect format. You could have some extra spaces potentially. The Url should be in the https://github.com/Azure-Samples/cosmos-dotnet-core-todo-app/blob/master/src/appsettings.json#L9 file, and it should match the endpoint of your account, for example: `https://myaccount.documents.azure.com:443/

[2020-09-28 14:57] tfitzmac commented on #63336
@DominiqueDuchemin - thanks for this feedback. I have added clarification that the tools for the tutorial should be installed on your local machine. Like @SamaraSoucy-MSFT mentioned, you can use any machine that can authenticate to Azure, but for most people the local machine is the most convenient.

The update should get published later today.

[2020-09-28 14:58] jpalo commented on #44273
Why is this not mentioned in the documentation, or if it is, please point where. Nasty surprise in setting up everything, and only at that point finding out this limitation.

[2020-09-28 14:59] AnassHmida commented on #63223
@RyanHill-MSFT Hey Ryan, Thank you for your help,
I found out it that I had to convert my JWT verification key in BASE 64 and add it to the restriction tab content key policy parameters, and I had to sign my JWT in plaintext, now everything works perfectly, thank you for everything

[2020-09-28 14:59] #63223 closed

[2020-09-28 15:00] asudbring commented on #62981
Assigning to PM for review

#reassign:@anavinahar

[2020-09-28 15:00] ekalyvio opened #63398 "When a new email arrives (V2)"
The **When a new email arrives (V2)** trigger for Outlook.com seems to be missing the Interval & Frequency parameters in the Logic Apps Designer. Maybe the document needs to be updated and omit these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 616cbf28-e4c7-a539-911c-8c601031831a
* Version Independent ID: cad3d887-

[2020-09-28 15:00] alkohli commented on #60387
@kiranpradeep Thank you for your feedback! It seems to be a key, I am investigating it further and will keep you posted.
#in-progress

[2020-09-28 15:06] RyanHill-MSFT commented on #63213
@sdebruyn I've removed the Python links for the time being until the doc author can update.

[2020-09-28 15:13] zr-msft commented on #63325
Thank you @MarkKharitonov for the feedback.

I tested the command as it appears in the article in the latest version of the CLI and Powershell and it works as expected. Can you verify you are running the latest version?

Closing this issue for now.

#please-close

[2020-09-28 15:13] #63325 closed

[2020-09-28 15:18] markjbrown commented on #63344
I cannot update our docs without first knowing what your issue really is.

Please raise a support ticket to resolve your issue. Updates to our docs occurs when we see repeating patterns in customer issues when we review closed support tickets.

Thanks.

[2020-09-28 15:19] MarkKharitonov commented on #63325
Please, explain the following output:
[code]

[2020-09-28 15:30] ak8git opened #63399 "ADF to Git hub exisitng pipeline import issue"
![ADF_Git](https://user-images.githubusercontent.com/71992900/94452694-6f988500-0175-11eb-8ac0-8c213d5cb093.jpg)

What am I doing wrong to get this fix. I am trying to import all previous pipelines created in my ADF into GitHub repo and it would allow me to do it.  Hope some one had already walked this path.

Thank you

[2020-09-28 15:31] anavinahar commented on #62981
#reassign:@irenehua

[2020-09-28 15:34] MonikaReddy-MSFT commented on #63399
@ak8git - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-28 15:34] Shutima opened #63400 "Linked service with Self-hosted Integration runtime is not supported in data flow"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2020-09-28 15:37] MonikaReddy-MSFT commented on #63400
@Shutima -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2020-09-28 15:44] ak8git commented on #63399
I am not sure if I could share my azure platform url. But like I mentioned I am trying to save all my Azure Data Factory(ADF) existing pipelines into git and git doesnt recognize my ADF  doesnt allow me.

[2020-09-28 15:47] Shutima commented on #63400
Sorry Missunderstood, I moved to StackOverflow. Thank you for your reply

[2020-09-28 15:47] #63400 closed

[2020-09-28 15:48] MarkKharitonov commented on #63325
I upgraded AZ CLI to the latest version - 2.12.1. It does not matter, because it is the name of the AKS config property that is in the lowercase letters. I do not think I could have done anything to affect it. So, it is lowercase because Azure decided so.

I truly do not understand how you can close this bug when clearly it does not work for me. I.e. it may not work for many others.

Please, obser

[2020-09-28 15:51] MonikaReddy-MSFT commented on #63399
@ak8git - Thanks for sharing the information.
But Please note that this channel (the Azure Docs repository) is only for driving improvements related to the Azure documentation. It would be great if you can share the documentation link you are referring, so that we can assist you accordingly.

[2020-09-28 15:57] MarileeTurscak-MSFT commented on #63390
@MathiasVandePol
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-28 15:58] SubhashVasarapu-MSFT commented on #63396
@CloudCrusader, Thanks for reaching out. We will investigate and update this thread.

[2020-09-28 16:00] JamesTran-MSFT commented on #63389
@mikedangel
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-28 16:09] #63213 closed

[2020-09-28 16:24] ecfan commented on #63323
Hi @rahulvmarathe,

The extension doesn't yet support .NET Core 5.0, which is in RC mode. So the information is for how to resolve the issue about not being open the Logic App Designer without having to uninstall the .NET Core SDK 5.0. Basically, the global.json file points at any .NET Core runtime version 3.x, which is part of the prerequisites, that's later than 3.1.201 on your computer. I'm not

[2020-09-28 16:25] MayankBargali-MSFT commented on #63391
@willnix86 Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 16:25] MayankBargali-MSFT commented on #63397
@erschef Thank you for your feedback! We will review and update as appropriate.

[2020-09-28 16:26] jbailey-limgeomatics opened #63401 "Update article to reflect latest ArcGIS Online"
This article appears to reference an earlier version of ArcGIS Online. It should be updated to refer to the current version of ArcGIS Online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b25c1c16-90b1-1cfa-9096-66ec8b064a9b
* Version Independent ID: e00282ca-b1b1-b517-e9d9-85123fdc4a79
* Content: [Tutorial: Azure Act

[2020-09-28 16:27] #63323 closed

[2020-09-28 16:27] WinstonHoward-MSFT commented on #63392
Thanks for the issue, @HoussemDellai. I've assigned this to the doc author to review.

[2020-09-28 16:33] sunilprabha opened #63403 "Azure MySQL DB as Service-updated cert OCt 29 2020 - Baltimore root cert update and connection failures"
I was trying to prepare for this notice of Baltimore root cert updates for connecting to Azure Mysql as service.  After making the change our web server is unable to connect securely to the DB instance .
I have downloaded the certs form the following locations and merged into one BaltimoreCyberTrustRoot.crt.pem and renamed the old cert. My connection is not successful even after restart of the ser

[2020-09-28 16:37] MonikaReddy-MSFT commented on #63290
@brenovult -
Since we have not heard back from you we will now proceed to close this thread.
However if you can share additional information regarding the documentation you are referring and circle back on this thread , we will gladly reopen the issue and continue the discussion. Thank you.

[2020-09-28 16:37] #63290 closed

[2020-09-28 16:38] cynthn commented on #63371
Thanks, I'll fix it :)

#please-close

[2020-09-28 16:38] #63371 closed

[2020-09-28 16:44] ZohairTharani opened #63404 "Generate static HTML page from Azure Repos"
We have seen that Azure Static Web Apps are in preview and are wondering if there is limited functionality due to it. Specifically, we want to be able to link a repository stored in Azure Repos, but it seems that there is only GitHub Integration available with this service. Is that the case? And if not, can we be pointed to the correct solution?

If this is limited functionality, are there any alt

[2020-09-28 16:44] christiankuhtz commented on #62318
thank you for the feedback! doc change has been made to explain PIP abbreviation. There's no alignment between subnets and IP addresses (whether public IP or public IP prefix) and subnets.  IP's are associated with the NAT gateway resource and all subnets where this NAT gateway resource is configured will use these IPs for outbound flows.

[2020-09-28 16:45] JamesTran-MSFT commented on #63401
@jbailey-limgeomatics
Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-28 16:53] YutongTie-MSFT commented on #63131
@brightneuron
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.