[2021-08-19 02:01] #79619 closed

[2021-08-19 02:09] SamaraSoucy-MSFT commented on #79383
I'm still working on getting an answer on this from the product team. For the message, it looks like that is a warning, not an error, and as long as the app does start, it is safe to ignore: https://docs.microsoft.com/en-us/answers/questions/396617/azure-functions-core-tools-error-osx-devshmazurefu.html There are a couple things to try if you would like to get rid of it. Removing the "extensionBun

[2021-08-19 02:25] Grace-MacJones-MSFT commented on #79692
Thanks again for the feedback! I have submitted a PR to update the doc, the change is merged internally and will go-live in the public docs shortly.

[2021-08-19 02:25] #79692 closed

[2021-08-19 03:11] Infinitism opened #79899 "Example doesn't comply with recommended practice"
In the note, it says "Currently we strongly recommend using names for feature namespaces that are UTF-8 based and start with different letters."

But in the example immediately following it, you see two namespaces starting with "u" which are "user" and "userActivity" which will cause collision on the model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-08-19 03:21] CHEEKATLAPRADEEP-MSFT commented on #79865
@yxchiwork  Thanks for the feedback.

Unfortunately, I could not find the SSAS library download link in the document which you have shared?
Could you please point me the place where SSAS library download link is broken?

[2021-08-19 03:23] CHEEKATLAPRADEEP-MSFT commented on #79867
@gldraphael  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-19 03:24] CHEEKATLAPRADEEP-MSFT commented on #79873
@david-kaczynski Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-19 03:25] CHEEKATLAPRADEEP-MSFT commented on #79879
@Aminadad27  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2021-08-19 03:35] CHEEKATLAPRADEEP-MSFT commented on #78950
@leifbro As I mentioned above, initial the document created on the city = Boston Safety Data and now the city = Seattle Safety Data and forgot to update the screenshot/content in the document.

Couple of things need to be changed in the document.

Option1: change the city => from `Seattle` to `Boston` without updating the content and the screenshot.

Option2: If you don't want to change the city =

[2021-08-19 03:36] yxchiwork commented on #79865
Right under:

Download the latest
Windows Installer
All the links are broken now.

[2021-08-19 03:37] CHEEKATLAPRADEEP-MSFT commented on #79895
@promisinganuj Thanks for the feedback. Currently, we are working with the content author to update the document according.

Duplicate of #78950

[2021-08-19 03:38] #79895 closed

[2021-08-19 03:52] SubhashVasarapu-MSFT commented on #79605
@taHTN , Appreciate your patience. We do support APPGW WAF in ASC.
![image](https://user-images.githubusercontent.com/44890829/130004870-3ca3957d-de18-4bf0-a2ff-0b12185cd859.png)

[2021-08-19 03:56] CHEEKATLAPRADEEP-MSFT commented on #79865
@yxchiwork Thanks for the additional details. I have assigned the issue to the content author to evaluate and update as appropriate.

@Minewiskan Could you please update the broken links in the above document?

[2021-08-19 04:02] AshokPeddakotla-MSFT commented on #79896
@terrymandin Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-19 04:13] ram-msft commented on #79899
@Infinitism Thanks for the feedback! We will review and update accordingly.

[2021-08-19 04:22] anirugu opened #79901 "This page is so confusing, Can anyone check if he/she can follow the step mentions in the page?"
I copy this code in VS 2019 and install the package as per VS suggested
CloudStorageAccount storageAccount = CloudStorageAccount.Parse(
    CloudConfigurationManager.GetSetting("StorageConnectionString"));

![image](https://user-images.githubusercontent.com/35772421/130007231-d881f94e-85e5-4498-8182-2c1c4b66fed1.png)

This code doesn't work, It's need improvement

[Enter feedback here]

---
#### D

[2021-08-19 04:35] RohitMungi-MSFT commented on #79729
@DeanGross We will now proceed to close this thread. If there are further questions regarding this matter, please tag @RohitMungi-MSFT in your reply.

[2021-08-19 04:35] #79729 closed

[2021-08-19 04:37] RohitMungi-MSFT commented on #79773
Thanks @laujan. @zaalion Our team is working on a backlog item to update the documentation. I will go ahead and close this issue as the powershell steps from storage documentation should help in the interim. Thanks!!

[2021-08-19 04:37] #79773 closed

[2021-08-19 04:42] felipepessoto commented on #64272
Hi @SatishBoddu-MSFT, I still have questions about it. Specially in this part you previous mentioned, it remains the same:

When it says:

"you should use the IoT hub connection string to establish the connection. This ensures that your back-end applications continue to work without requiring manual intervention post failover"

It doesn't explain how to use IoTHub connection string with Event Hub

[2021-08-19 04:56] MayankBargali-MSFT commented on #79889
@miaojiang Thanks for the feedback! I have assigned the issue to the content author to investigate further and update as appropriate.

[2021-08-19 05:10] APEThomas opened #79902 "Azure role not found"
https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request#azure-role-based-access-control

Mentions "To create a support request, you must be an Owner, Contributor or be assigned to the Support Request Contributor role at the subscription level." I'm unable to locate the "Support Request Contributor" Role in my Azure Tenant. Is this documentation correc

[2021-08-19 05:38] Swara-Meghana commented on #61539
Hi team,
Can you confirm if docker support is released for Azure AD Proxy Connector? If yes, can you share documentation on the same?

[2021-08-19 05:45] AnuragSharma-MSFT commented on #79623
@HavilaDevi Because of lack of response, we will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-19 05:45] #79623 closed

[2021-08-19 05:45] varsha-sarah commented on #78035
#reassign: @shikhakohli

[2021-08-19 05:47] AnuragSharma-MSFT commented on #79791
@MS-jeremy Thanks for your reply and yes you are right. I am assigning it to the content author to further evaluate and update accordingly.

[2021-08-19 05:50] xzuttz commented on #62558
**Phone**-based multi-factor authentication can be multiple things such as using an Authenticator app. The [main documentation ](https://azure.microsoft.com/en-us/pricing/details/active-directory/external-identities/.)should state that the fee is only for SMS or **Voice** based authentication. As is done here: https://azure.microsoft.com/en-us/updates/mau-billing/

[2021-08-19 06:03] MrRightHand97 opened #79903 "Cannot get data from Basic API to Azure Data Factory. Please help me."
I have a Basic API connection from Recurly. I want to use that API to get data about my Data Base using Azure Data Factory. I created ls_RestAPI, created ds_RestAPI and created 1 pippeline to proceed to get the data. But there are some problems. **My API has Basic Auht as username and no password (Postman Image)**, header is **Accept and Authorization.**

![Postman1](https://user-images.githubuser

[2021-08-19 06:18] vicperdana opened #79904 "Roadmap for tag support"
Hi, is there a roadmap that we can refer to regarding upcoming releases for tag support.  Eg. anything that says "no" support.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66769e1b-720b-f1b1-a5e3-ed5cb24cd233
* Version Independent ID: b6272e61-58c1-3e2f-3e36-a9ee920c0915
* Content: [Tag support for resources - Azure

[2021-08-19 06:26] SadiqhAhmed-MSFT commented on #79902
@APEThomas Thank you for your post!

The documentation is correct. You need to be an owner to assign " Support Request Contributor" role to yourself or you can request your subscription owner to grant you " Support Request Contributor" role.

[2021-08-19 06:38] SnehaAgrawal-MSFT commented on #79890
@nelroosevelt Thank you for your query . We will investigate and update the thread.

[2021-08-19 06:41] SnehaAgrawal-MSFT commented on #79894
@PrometheusRising1 Thank you for your query . We will investigate and update the thread.

[2021-08-19 06:53] spaelling opened #79905 "Code errors in "Delete""
The section https://docs.microsoft.com/en-us/azure/cloud-shell/troubleshooting#delete has so many errors in the code I dont know where to start. Could you do a review and correct it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7b8330-007e-d13b-ce2e-c9f1dd9ea06b
* Version Independent ID: ace5ecf4-2021-63a7-c28f-73a

[2021-08-19 07:18] mikerodionov opened #79906 "Punctuation error"
[Enter feedback here]

Page contains a sentence where dot placed incorrectly - “ If you want to connect using. Alias, you must create private endpoint using manual connection approval method.”, I believe there should not be a dot after using / before Alias.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b006a616-2f2f-8

[2021-08-19 07:24] francesco1119 commented on #79835
I have a problem understanding why I can scale and backup single databases in Azure SQL Database but with Azure DB for MySQL or MariaDB I can only scale or backup the whole server.

I have opened a ticket with your support and they will hopefully clarify.

[2021-08-19 07:28] Crispness opened #79907 "Why isn't there a definition for the term 'tenant' on this page?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7fd20156666
* Content: [Azure glossary - Azure dictionary](https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology)
* Content Source: [articles/azu

[2021-08-19 07:32] Crispness opened #79908 "A link to https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/ready/considerations/fundamental-concepts would be useful here"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d5b3f1-0d66-0abc-3114-6fc51c707271
* Version Independent ID: ba3beb78-6546-8154-41b9-b7fd20156666
* Content: [Azure glossary - Azure dictionary](https://docs.microsoft.com/en-us/azure/azure-glossary-cloud-terminology)
* Content Source: [articles/azu

[2021-08-19 07:42] maythamfahmi opened #79909 "Missing Microsoft.Azure.AppConfiguration.AspNetCore package in documentation"
Installing Azure.Identity alone is not enought in core 3.1, it requires installing Microsoft.Azure.AppConfiguration.AspNetCore other wise config.AddAzureAppConfiguration will have issue.

![image](https://user-images.githubusercontent.com/9260645/130028001-16275774-f0c4-4c8c-8d8c-4898ecb38e5e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-08-19 08:04] Svijay-msft commented on #79858
The Managed Virtual Network is provisioned per Azure Datafactory instance/service provisioned. So, it is isolated to the ADF Service associated with Managed VNET. So, to answer your query , a specific ADF managed vNet  is not exposed to other vNets.

[2021-08-19 08:09] CIPSoftware commented on #59829
Hi @SatishBoddu-MSFT

I was wondering if there is any news / progress on the indoor navigation. We need this functionality for a customer who wants indoor navigation. So we have an actual business case and want to integrate this in our new logistics software.

We have played around with the indoor maps. It works great but it is missing this key functionality for our customer.

Is there way to get

[2021-08-19 08:40] shanranm opened #79910 "Notebooks is currently not available. We are working on it"
I've enabled and created a few Notebooks on Cosmos. Now it says "Notebooks is currently not available. We are working on it" for almost 7 days. If this is a planned one, can we get a timeline on when this will be resolved?
Meanwhile, what's the best way I can get access to the notebooks? Kernel is not needed, just want the code inside the notebooks.

My Cosmos is in WestUS2.

Thanks.

---
#### Doc

[2021-08-19 08:41] DailyTech opened #79911 "TCP protocol needs to be added to this doc"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c47f14c-8432-fa9b-59c2-8283cc455041
* Version Independent ID: 2c19c574-2ab7-2c2a-513e-3a0f512d3e23
* Content: [Create a custom probe using the portal - Azure Application Gateway](https://docs.microsoft.com/en-us/azure/application-gateway/application-

[2021-08-19 08:42] DrEight commented on #75260
I don't have logs, I discovered the 'foo' agent attaching the debugger to the AppService behind the azure front door.
To solve the problem I created a middleware that ignore this call, and I can guarantee that it is called a lot.
This is my middleware actually in testing.
How can I help you more ?

`public class IgnoreHealthProbe
+    {
+        private readonly RequestDelegate m_next;
+
+

[2021-08-19 08:47] GitaraniSharma-MSFT commented on #79906
@mikerodionov , thank you for your feedback. We'll review this and get back to you shortly!

[2021-08-19 08:47] itskritibhardwaj opened #79913 "Unable to create dms using powershell script"
[I'm facing an issue while creating Azure database migration service instance using powershell script given in this blog.]
![image](https://user-images.githubusercontent.com/35427079/130038384-4d242dfa-5e28-426a-a5e5-78bbb650f4bf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07d69e62-9260-457d-2acd-028bdfa0a0a4
*

[2021-08-19 08:50] DailyTech commented on #79911
ok, apologies. I see it's an App GW , not a load balancer. Please cancel

[2021-08-19 08:51] GitaraniSharma-MSFT commented on #79911
@DailyTech , thank you for the update. I was about to mention the same. I will close the thread since Application gateway health probe only supports HTTP & HTTPS protocols.

[2021-08-19 08:51] #79911 closed

[2021-08-19 08:53] DailyTech commented on #79911
ok
Thanks and regards,
Tony Hall

On Thu, 19 Aug 2021 at 10:51, Gitarani Sharma ***@***.***>
wrote:

[2021-08-19 08:59] CHEEKATLAPRADEEP-MSFT commented on #79903
@MrRightHand97 Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2021-08-19 09:03] dominicbetts commented on #79738
Hi @romankiss - I've confirmed that this preview feature currently only works with root level capabilities. I'll update the docs to make this clear. The product team are aware of the ask for component support, but I don't have a timescale for this yet. The docs will be updated as soon as component support is available. Thanks for your interest!

#please-close

[2021-08-19 09:03] #79738 closed

[2021-08-19 09:08] BhargaviAnnadevara-MSFT commented on #79908
@Crispness Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-19 09:08] SwathiDhanwada-MSFT commented on #79905
@spaelling Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-19 09:09] BhargaviAnnadevara-MSFT commented on #79907
@Crispness Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-19 09:10] vultureman opened #79914 "Clarification required on "Windows Server Core" not working requirements"
The line:
"Windows Server Core doesn't support installing the Azure AD Connect Health agent."
requires further clarification. Since all 3 health agent installers are nearly the same install procedure, I'm assuming you mean the ADDS, ADFS, and Azure AD Connect health agents?

Also, is it just the "install" that isn't supported, as in, we can convert these to Core after installed? Or does that break

[2021-08-19 09:19] sebader opened #79915 "Unclear what host name and host header to put in for private link resources"
It is not clear - and not even mentioned on this page - what to put in for host name and host header when using a Private Link Service origin (not a private endpoint, for example against an App Service, then it is clear).

Can you please add content around that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5fc8d63-7

[2021-08-19 09:30] YarekTyshchenko commented on #79872
@SatishBoddu-MSFT Not exacly. I'm configuring storage for my own module, not iotedgeAgent or Hub. I have an edge appilcation that writes to an external disk. I want to make sure that if the external disk is not mounted, docker doesn't create those paths and start writing to root fs.

It would be good to have access to the advanced mounting options available in Docker.

[2021-08-19 09:32] plynch66 opened #79916 "Subnet name length limitation doesn't appear to be enforced"
I have created an Azure Databricks workspace (with VNet injection) using the Azure CLI command az databricks workspace create and I am able to deploy successfully even though both the Public and Private subnet names exceed 30 characters in length.

I am able to create a Spark cluster in this workspace and run a Spark SQL job against the Azure Open Datasets.

The 30 character limit for the subnet n

[2021-08-19 09:33] AnuragSharma-MSFT commented on #79910
@shanranm Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-19 09:38] AnuragSharma-MSFT commented on #79913
@itskritibhardwaj Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-19 09:53] SnehaAgrawal-MSFT commented on #79515
@take-4c Thanks again for feedback on the this. The PR has been created for this once reviewed by the author would be visible.  We will close this for now. Thanks again.

[2021-08-19 09:53] #79515 closed

[2021-08-19 09:58] orestonce opened #79918 "InvalidAuthenticationToken"
[Enter feedback here]

I got access_token. But when I use the access_token to fetch resource of `https://graph.microsoft.com/v1.0/me/` , it bad.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b44819-ed7b-84bc-f5d2-2b937029f7df
* Version Independent ID: db9f8408-c234-90d0-4817-3516e5fc3ba0
* Content: [Microsoft

[2021-08-19 10:03] orestonce commented on #79918
I use this library: https://github.com/Azure/go-autorest/autorest/adal

[2021-08-19 10:03] panicoenlaxbox commented on #78824
Hi, any news regarding this topic? Thank you in advance

[2021-08-19 10:18] JamesHeathcote opened #79920 "Poor documentation"
This article doesn't make it clear if there are cost implications of running both agents side by side, we collect about 800GB per day through the MMA to log analytics which is utilized by Azure Sentinel.

Also, how do we know what solutions depend on the old agent, how do we troubleshoot this and check for potential issues.

additionally, you say clean up configuration, what else does this mean, w

[2021-08-19 10:28] koudaiii commented on #77649
I sent a pull request ref https://github.com/MicrosoftDocs/azure-docs.ja-jp/pull/6564
@CelesteDG @jeevansd @GitaraniSharma-MSFT Please check. cc @ryoji-kawamura

[2021-08-19 10:31] metu commented on #79863
I came right. I followed the documentation more precisely :). I used self signed certificates and had to change the rules for the listeners to not use hostnames but rather added path rules in App Gateway. Unfortunately you cannot use a root self signed certificate to sign another self signed certificate in KeyVault so that needs to be done manually and then imported to KeyVault.

In any case, clos

[2021-08-19 10:31] #79863 closed

[2021-08-19 10:33] thepaulmacca commented on #79754
Just to add to this issue as I've just come across it myself:

This is the JSON that passed validation when done manually in the portal

[code]

[2021-08-19 10:54] SubhashVasarapu-MSFT commented on #79915
@sebader, Thanks for reaching out. We will investigate and update this thread.

[2021-08-19 11:05] GitaraniSharma-MSFT commented on #79915
@sebader , the host name and host header should match to what your app expects as if it was exposed publicly except the case where you have an internal load balancer as an origin because it will be the private IP address of that load balancer.
For example: If you have a webapp, it will be the FQDN/URL of the webapp
If you have a storage account, it will the FQDN/primary endpoint of that storage ac

[2021-08-19 11:26] RohitMungi-MSFT commented on #79873
@david-kaczynski The link is now fixed. Thanks for helping us with this.

[2021-08-19 11:26] #79873 closed

[2021-08-19 11:36] sebader commented on #79915
ah thank you @GitaraniSharma-MSFT! [This ](https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer)article (internal load balancer) is what I was looking for. However, even in that article it is not clear: Which IP address to put in there? The IP of the load balancer or the IP of the private link? If you could make that clear in the docs,

[2021-08-19 11:37] 0031Microbase opened #79923 "how can a Conditional Access rule block authentication when it can only be enforced after the first-factor authentication is completed?"
Hi All,

I followed the Document and has a problem with the result:

I get Failures on the Conditional Access rules and this is not just after creating the rule but for days already. None of the Block rules is showing a success status on the Conditional Access rule itself, however the Session status is Success.

Now the document is stating in a note the following.

**_Conditional Access policies a

[2021-08-19 11:45] CHEEKATLAPRADEEP-MSFT commented on #79916
@plynch66  Thanks for the question! We are investigating and will update you shortly.

[2021-08-19 11:46] CHEEKATLAPRADEEP-MSFT commented on #79901
@anirugu  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-19 11:59] kevinharing opened #79924 "Label admission.policy.azure.com/ignore has no effect (admission still denied)"
Label admission.policy.azure.com/ignore has no effect, admission is still denied.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d98d35-46d2-eb6f-6a0b-21df4d6438a8
* Version Independent ID: 1a7a0c68-fa1c-d457-2be9-a919d4a5e64f
* Content: [Learn Azure Policy for Kubernetes - Azure Policy](https://docs.microsoft.com/en

[2021-08-19 12:00] andrewlambfr opened #79925 "Is there an error on this page - I do not see a file -> save option in the GPO editor - without this how does the GPO changes get applied?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6670151-45dd-1dca-42dd-7b8e25517878
* Version Independent ID: 48a8ef9d-e878-76d8-08b0-e0ac19056daa
* Content: [Create and manage group policy in Azure AD Domain Services](https://docs.microsoft.com/en-us/azure/active-directory-domain-services/manage-

[2021-08-19 12:23] SwathiDhanwada-MSFT commented on #79920
@JamesHeathcote Thanks for your comment. We will review the issue and get back to you shortly.

[2021-08-19 12:24] KrishnaG-MSFT commented on #79904
@vicperdana I believe currently we don't have any such specific document under [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/) Managing resources documentation. AFAIK, typically an Azure document's author just updates the related document with the changes needed. For example, [this](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-suppo

[2021-08-19 12:31] danieltriva opened #79926 "Datacenter list support not true (Switzerland North)"
Hi,
I'm working in Switzerland, I was surprised to see that DataFlows are not supported on Azure Switzerland datacenters.

I did a try on Azure Synapse, and DataFlows in Synapse (Swizerland North DC) are working fine.
This page is relative to both DataFactory, and Azure Synapse (pipeline+DataFlow)...
Can you clarify ? Is the documentation absolete for the support datacenter list ? Can you double c

[2021-08-19 12:33] nathanwlee1 opened #79927 "For Power BI, distinction between datasets are labelled as PowerBI and dataflows as PowerQueryOnline"
For those unfamiliar with the terminology, explain on this page the distinction between datasets is labelled as PowerBI and dataflows as PowerQueryOnline

This will help those who are not completely sure of terminology and how this maps back to Power BI artifacts

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08217244-

[2021-08-19 12:35] mikerodionov opened #79928 "Wrong wording"
[Enter feedback here]

Page contains the following sentence - “To create new users that can authenticate with Azure AD, you must be the designed Azure AD administrator.” - I believe word “designed” in this sentence should be either omitted or replaced with “designated”.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e

[2021-08-19 12:37] sentura23 opened #79929 "NP Series support of FPGA Networking"
Please add to the FAQs. This question was raised by a customer.

Q: Does the NP Series support FPGA bitstreams with Networking GT Kernel connections?
A: No. The FPGA Attestation service performs a series of validations on a design checkpoint file and will generate an error if the user's application contains connections to the FPGA card's QSFP networking ports.

Thanks,
Curt Wortman (Xilinx Alveo M

[2021-08-19 12:42] chapmantim opened #79930 "Missing Creation of NSG"
Need a line before the creation of the NSG rules that creates the NSG.

az network nsg create --resource-group rgname --name vmoracle19cNSG

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279359a4-139a-ee4b-027b-4f43c538b90f
* Version Independent ID: 950014e2-2457-6045-eefd-865bd1c1fb76
* Content: [Create an Oracle data

[2021-08-19 12:50] romankiss commented on #79738
Hi @dominicbetts - thank you so much for your info.

Roman

[2021-08-19 13:19] BhargaviAnnadevara-MSFT commented on #79909
@maythamfahmi Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-08-19 13:20] AnuragSharma-MSFT commented on #79910
@shanranm Thanks for your patience. Product team is working on this and will have the fix available at the earliest. Unfortunately there is no ETA at this moment and also no workaround as of now. Apologies for the inconvenience.

[2021-08-19 13:21] eislon opened #79931 "Add should be Create"
In this page to add a virtual machine, the button now is Create instead of Add within the portal.
"In the Virtual machines page, select Add then Virtual machine. "

it should be :
"In the Virtual machines page. select Create then Virtual machine."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e58109c-c8d3-6693-8e1d-0

[2021-08-19 13:44] MGoedtel commented on #79754
@roblaw80, @thepaulmacca - Thanks for bringing this to our attention, I concur the json code block has a formatting issue causing the steps to fail. I'm going to approve the PR created by thepaulpacca.

[2021-08-19 14:03] #78677 closed

[2021-08-19 14:05] ibocon opened #79932 "[MetricsAdvisor] Document's sample code is not correct and not working."
On section **Add a data feed**,

code below does not supported according to [Azure SDK for NET](https://docs.microsoft.com/en-us/dotnet/api/azure.ai.metricsadvisor.models.datafeed?view=azure-dotnet).

[code]

Therefore I want to correct it like below,

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac33a910-0b22-

[2021-08-19 14:06] richeney commented on #51299
Reverse is also true.

If you have bash set as your default then <https://shell.azure.com/powershell> still seems to open the bash experience.

[2021-08-19 14:13] DCtheGeek commented on #79924
@kevinharing Thanks for the question. I'm looping in one of our engineers (@RamyasreeChakka) to take a look at this. If the docs are correct, they may direct you to create a support ticket to help you further and to investigate the issue.

#assign:DCtheGeek
#label:"product-question"
#label:"triaged"
#label:"assigned-to-author"
#label:"in-progress"

[2021-08-19 14:17] BryanTrach-MSFT commented on #79680
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-08-19 14:17] #79680 closed

[2021-08-19 14:21] SrijitBose-MSFT commented on #79930
@chapmantim , thank you for your feedback. We have shared the same with the content author.

[2021-08-19 14:21] #79931 closed

[2021-08-19 14:23] SrijitBose-MSFT commented on #79931
@eislon , Thank you for your feedback. We have updated the document and it should reflect the changes soon.

[2021-08-19 14:55] orestonce commented on #79918
Thank you, I will retry again tomorrow.

[2021-08-19 15:08] #77062 closed

[2021-08-19 15:12] shellypa opened #79935 "Revoke"
[Enter feedback here]
At the end of the video she stated that for items like view that are already established you don't need to make changes and you can use REVOKE for previous views and sql statements, can you explain that more

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d200cb5d-8f70-87c5-2437-c54701f7681f
* Vers

[2021-08-19 15:27] BharathNimmala-MSFT commented on #79340
@Bafff Thanks again for bringing this to our attention , we have redirected the page to one of the current topics.

At this point it appears that there's no further edits or updates needed to the documentation. We will go ahead and close this issue for now, however if you have any further feedback on the document please tag us in your reply and will be happy to reopen the thread and continue the c

[2021-08-19 15:27] #79340 closed

[2021-08-19 15:43] craigshoemaker commented on #79790
@chenxizhang - I just verified the steps and validated that `npm run build` does create an `out` folder. I am going to #please-close this issue for now, but if you see anything else that needs attention, please feel free to reopen this issue, or create a new one.

[2021-08-19 15:43] #79790 closed

[2021-08-19 15:47] shashishailaj commented on #79914
@vultureman Thank you for your query . We will investigate and update the thread.

[2021-08-19 15:48] shashishailaj commented on #79918
@orestonce Sure , please let us know if you run into issues with details .

[2021-08-19 15:54] KarlErickson commented on #78563
#reassign:karlerickson

[2021-08-19 15:54] KarlErickson commented on #70666
#reassign:karlerickson

[2021-08-19 15:55] rhod1z commented on #79877
Annoyingly it was just an extra hyphen '-' breaking things :-(

* Snippet
[code]

* Full working manifest.
[code]

[2021-08-19 15:55] #79877 closed

[2021-08-19 16:03] antoniogeko opened #79938 "Cost doubt"
It's said that AKS is free, but what about the AKS load balancers? AFAIK, AKS uses a Standard LB by default. Is this still free?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a7a0a8-97e7-0fda-763c-1a9972f4e9bc
* Version Independent ID: 82b46441-43fc-fe48-97e2-0f3fca3d6eab
* Content: [Use a Public Load Balancer - Azu

[2021-08-19 16:07] artempushkin opened #79940 "Misleading documentation"
<If user wants to create an Service Fabric Application without StartupServices.xml in newer version of SDK, user should click on "Help me choose a project template" link as shown in picture below.>

It's not true, link simply opens a documentation page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3818d70-d7e6-a123-

[2021-08-19 16:22] msangapu-msft commented on #75296
Hi @karimyousfi, sorry you're having trouble with the tutorial. It's been a few months so I'm curious if you were able to resolve the issue? It sounds like there's a technical misconfiguration somewhere. If you're still having issues, I'd recommending opening a support ticket so you can get unblocked.

[2021-08-19 16:32] shanranm commented on #79910
Thank you for the quick update. Waiting for the fix 🤞

[2021-08-19 16:52] sebansal opened #79943 "Portal screenshots are antiquated"
[Please update the portal screenshots, this doc has very old screenshots which aren't relevant]
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disk-encryption-key-vault#azure-portal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bcd765-e7de-c91e-2193-a6b7c166ed05
* Version Independent ID: 6432a759-99

[2021-08-19 16:56] johndeu commented on #79748
I'll check on this, but normally you need to get access to the Fairplay documentation through the Apple Developer program.  That may be the reason we dont share it in the samples.

[2021-08-19 16:57] johndeu commented on #79748
@BasavarajGM  - Do you have a Fairplay certificate issued from Apple already? Are you a member of the Apple developer program?

[2021-08-19 17:03] johndeu commented on #79748
I got this sample from one of our .NET tests, but it would need to be ported over to Node.js sample.
Note that you have to pass in your certificate from Apple to make this work of course. Without a certificate from Apple, there is no way to test it.

private ContentKeyPolicyFairPlayConfiguration GetFairPlayConfigurationWithOfflineRental(X509Certificate2 certificate)
        {
            return ne

[2021-08-19 17:04] bandersmsft commented on #79079
Hi @sarahyoon,

I have spoken to the Reservations and Billing engineering teams about this. https://docs.microsoft.com/azure/cost-management-billing/reservations/exchange-and-refund-azure-reservations#cancel-exchange-and-refund-policies is correct, as written. Microsoft isn’t currently charging *any customer* a reservation cancellation fee. As noted in the article, that policy could change in the

[2021-08-19 17:04] #79079 closed

[2021-08-19 17:09] Oury-MSFT commented on #79928
@mikerodionov  Thanks for your feedback .We are reviewing the doc and will get back shortly.

[2021-08-19 17:10] Infinitism opened #79944 "Why does actions list an array of feature objects?"
It's not entirely clear what the best practice is for providing features for actions. The examples list an array of feature objects that are grouped arbitrarily Example: Spice level, taste, and grams are grouped together as an objects, and nutritional level and cuisine are grouped together.

What's the best practice here? Break down features into smaller object grouping or can we pass in one objec

[2021-08-19 17:11] WilliamDAssafMSFT commented on #78036
Thanks @mkumar1212. A couple different things here.

- A partition split requires the respective partition (not necessarily the whole table) to be empty if the table has a CCI. A partition that contains data cannot be split, it will result in the error you encountered. We have a workaround published in the article for [How to split a partition that contains data]( https://docs.microsoft.com/azure/

[2021-08-19 17:17] MartinJaffer-MSFT commented on #79926
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-08-19 17:18] MartinJaffer-MSFT commented on #79935
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-08-19 17:21] jlian commented on #64272
Hi @felipepessoto have you checked out this sample: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-ha-dr#use-the-included-sample

[2021-08-19 17:31] ingcol opened #79946 "Microsft azure audio-to-speech API. Upload audio file and identify who is speaking"
in the documentation it says that you have to register it speaking first. This in order to be able to identify it. However, in my case, it is long audio that I must convert; and gradually identify the speakers

[2021-08-19 17:34] felipepessoto commented on #64272
@jlian, yes, I'm using that code, but it still requires application manual restart.
Should I keep pooling the method that translates the connection string and check if it has changed? And if it does restart the Event Hub Processor?

[2021-08-19 17:36] Minewiskan commented on #79865
@yxchiwork, @CHEEKATLAPRADEEP-MSFT, The client library downloads were removed by engineering. Currently there is nothing for the links to point to. Engineering is working on replacement client libraries. When available on Downloads, the links will function correctly.

[2021-08-19 17:36] BhargaviAnnadevara-MSFT commented on #79890
@nelroosevelt Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-19 17:38] jlian commented on #64272
@jsquire would you be able to assist on this question as the author of the sample?

[2021-08-19 17:42] WilliamDAssafMSFT commented on #78036
#please-close

[2021-08-19 17:42] #78036 closed

[2021-08-19 17:45] craigshoemaker commented on #75326
Thanks, @olitomlinson! The using statements are now added to the article. #please-close

[2021-08-19 17:45] #75326 closed

[2021-08-19 18:01] craigshoemaker commented on #77835
Thanks, @weitzhandler - The purpose of this article is to document the Azure-specific functionality, but we may include guidance  elsewhere for other DNS providers in the future.

#please-close

[2021-08-19 18:01] #77835 closed

[2021-08-19 18:02] anthonychu commented on #78555
@connelhooley As you've discovered, `AzureAppServiceSettings` is only for Azure Web Apps. I can see how the naming of it suggests that it might work on Static Web Apps as well. Sorry for the confusion. Our recommendation is to use the Azure CLI task and run this command: https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings#view-application-settings-with-the-azure-cli

We can

[2021-08-19 18:02] #78555 closed

[2021-08-19 18:05] craigshoemaker commented on #76183
Thanks, @kaylumah for raising this issue. The product team is aware of this issue and tracking it internally. For now I am going to #please-close this issue since it's not a documentation issue.

[2021-08-19 18:05] #76183 closed

[2021-08-19 18:07] craigshoemaker commented on #77359
Thanks for your feedback, @hkusulja! We are working on an article that discusses hosting concerns (which includes compression) and will surface this information there.

#please-close

[2021-08-19 18:07] #77359 closed

[2021-08-19 18:16] manishjha2088 opened #79948 "Peering when the 2 Virtual network has gateway connection"
[Enter feedback here]

It does not clearly state that we cant have  **"Use the remote virtual network's gateway or Route Server"** on the Virtual Network which has a Virtual network gateway configured when we are trying to peer 2 vNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d098f17-7f58-4304-0634-0f57d1d3300a
*

[2021-08-19 18:17] miwithro commented on #78983
@aramase did you want to comment on the migration questions above regarding migrating from Upstream PI to Managed PI?

[2021-08-19 18:21] henrymbuguakiarie commented on #79177
#assign: @madansr7

[2021-08-19 18:23] henrymbuguakiarie commented on #77273
#unassign: @sureshja

[2021-08-19 18:24] henrymbuguakiarie commented on #77273
#unassign: @sureshja

[2021-08-19 18:35] SamaraSoucy-MSFT commented on #79383
I know this has taken some time, and I appreciate your patience. The product team requested a bit more info. Could you please start the app using `func host start verbose` and share the logs?

It should look something like this:

2021-08-19T07:39:05.873Z] Initializing function HTTP routes
[2021-08-19T07:39:05.873Z] {
[2021-08-19T07:39:05.875Z] Mapped function route 'api/MyFunction/{courseId:alpha}

[2021-08-19 18:48] alexis-franche commented on #55461
Where can I find this stack overflow post?

[2021-08-19 18:53] jsquire commented on #64272
I'm happy to help as I'm able.  To start, I'd like to clarify that I can speak authoritatively to the Event Hubs SDK and general behaviors of the Event Hubs service.  There's not much that I can offer beyond informed suggestions and speculation for IoT Hub and its SDK.   I'm going to speak in terms of the current generation of the Event Hubs client library,  `Azure.Messaging.EventHubs`.  Conceptua

[2021-08-19 18:57] jlichwa commented on #79298
@RDukes425 , this article is for migrating from Key Vault Access Policies profiles to RBAC roles. It has nothing to do with VMs, nor Azure Backup service
![image](https://user-images.githubusercontent.com/52512203/130128083-3dc85743-b079-4b56-8dec-4ac10dfadb64.png)

[2021-08-19 18:57] jlichwa commented on #79298
#please-close

[2021-08-19 18:57] #79298 closed

[2021-08-19 18:59] himanshusinha-msft commented on #79926
We have assigned the issue to the content author . They will evaluate & update the document as appropriate.

[2021-08-19 19:01] himanshusinha-msft commented on #79935
We have assigned the issue to the content author . They will evaluate & do the needful as appropriate

[2021-08-19 19:01] felipepessoto commented on #64272
Thanks @jsquire.

@jlian I think it is important to have this information in the docs, I see many people with the same questions.

If IoTHub provide any way to detect the failover happened (programmatically) and the actions we need to take, restart the EHP, use a different storage account to the checkpoint.
For example, it doesn't mention if the secondary Event Hub will restart the sequence number

[2021-08-19 19:01] SadiqhAhmed-MSFT commented on #79811
@jan-tosovsky-cz We will now proceed to close this issue. If you have any further questions in this matter, please reply and we will continue the discussion.

[2021-08-19 19:01] #79811 closed

[2021-08-19 19:09] jsquire commented on #64272
Event Hubs will have a different offset and sequence number for events;  even if IoT Hub is replicating data you can't safely assume that they'll be the same.  In the best case, you would have no checkpoints detected because the Event Hubs namespace and/or Event Hub name are different.

If that isn't the case, then we will attempt to read the existing checkpoints.   The best case outcome would be

[2021-08-19 19:45] MarkusVi commented on #61186
I have staged a fix for this.

#please-close

[2021-08-19 19:45] #61186 closed

[2021-08-19 19:58] schlesingera commented on #75296
Hi @msangapu-msft, the issue is still available. Unfortunately no solution. Where can I open a support ticket? Have you successfully deployed the tutorial without any errors after uploading an image to wordpress media library? Can you access the image from a published wordpress site?

[2021-08-19 20:34] msangapu-msft commented on #75296
Hi @schlesingera - yes I'm the original author of this article. I deployed it recently and did not have the 502 on images. I followed the stack overflow link and saw this linked in one of the answers: https://azureossd.github.io/2020/09/15/unable-to-download-static-content-php-on-azure-app-service-linux/index.html

Can you please try those steps and let me know if it helps. If you can confirm, I'l

[2021-08-19 20:35] hkusulja commented on #77359
@craigshoemaker please do not close the github issue until the topic is resolved/documentation updated. "Working on" is not considered as closed. So please reopen, tx

[2021-08-19 20:36] sileclercq opened #79949 "Required to disable websudo in Jira else you can't access the admin panel"
If you are using a custom authentication mechanism, it is required to disable websudo in Jira else you can"t access the admin panel

For this to work with the admin access, you need to disable the websudo
https://confluence.atlassian.com/adminjiraserver/configuring-secure-administrator-sessions-938847890.html

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-08-19 20:37] rolyon commented on #64532
Hi @softwarecraft
Thanks for your feedback. I apologize in the delay in responding. The permissions you are referring to:
- Microsoft.Insights/AlertRules/*
- Microsoft.Insights/ActionGroups/*

These permissions apply to Azure resources and not Azure AD resources. So you should look at the Azure roles instead of the Azure AD roles:
https://docs.microsoft.com/en-us/azure/role-based-access-control/bu

[2021-08-19 20:37] rolyon commented on #64532
Let us know if you have any additional feedback.
thanks

[2021-08-19 20:37] rolyon commented on #64532
#please-close

[2021-08-19 20:37] #64532 closed

[2021-08-19 20:53] x509cert opened #79950 "Reference to Dedicated HSM that really should be Managed HSM"
At the end of the page, there's a reference to *DEDICATED* HSM FAQs, I think this should be *MANAGED* HSM and provide the correct link.

This will confuse folks and sends a mixed message about the two products

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 982ce790-e393-7ba1-358b-c87594899e87
* Version Independent ID:

[2021-08-19 21:04] bandersmsft commented on #79841
Hi @wjpigott,

It is a little confusing. I added the following note to the article to help clarify.
![note](https://user-images.githubusercontent.com/9596428/130143665-e2b2dd9c-cd9b-4050-9ada-e949f27acab9.png)

#please-close

[2021-08-19 21:04] #79841 closed

[2021-08-19 21:07] wjpigott commented on #79841
Awesome!!

Thank you,

Jeff Pigott
Customer Engineer
Midwest Customer Success Unit | Microsoft
***@***.******@***.***>
Office: +1 (224)404-7156

[abc]<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.microsoft.com%2Fen-us%3FSilentAuth%3D1&data=04%7C01%7Cjeffpigott%40microsoft.com%7C0857c5cc9ddf47952d7308d93292af82%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637596427862321902

[2021-08-19 21:07] PRMerger13 commented on #79841
Only Microsoft employees can close issues or pull requests via commenting in this repo.

[2021-08-19 21:17] bandersmsft commented on #79821
Hi @MiraZJ,

We made a minor update to the article to change the text from “The following services are billed separately:” to “The following services are examples of charges billed separately. You can get a full list of the services where charges are billed separately by submitting a [support request](https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview)."

[2021-08-19 21:17] bandersmsft commented on #79821
#please-close

[2021-08-19 21:18] #79821 closed

[2021-08-19 21:20] MarkusVi commented on #59616
I have staged an update of the article.

#please-close

[2021-08-19 21:20] #59616 closed

[2021-08-19 21:28] jlichwa commented on #79298
Thank you @RDukes425 , fixed document will be published by tomorrow.

[2021-08-19 21:31] thenickberry opened #79951 "Screenshot readability and consistency"
The screenshots across this page vary quite a bit:
- zoom level
- cropped at page versus cropped at window ([example](https://docs.microsoft.com/en-us/azure/bastion/media/bastion-connect-vm-ssh/connect.png))
- sometimes the width of the window is large and the crop cuts off text ([example](https://docs.microsoft.com/en-us/azure/bastion/media/bastion-connect-vm-ssh/private-key-file.png))
- sometime

[2021-08-19 21:32] JamesTran-MSFT commented on #79949
@sileclercq
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-19 21:33] Oury-MSFT commented on #79928
@savjani can I raise a PR to replace the word designed. Thanks

[2021-08-19 21:33] JamesTran-MSFT commented on #79950
@x509cert
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-19 21:35] schlesingera commented on #75296
OK @msangapu-msft , but this solution is for images > 2MB. My test image file is 300 kb. I get the same problem with Theme Images in the background. The standard Theme images also don't work. If I deploy the container without persistant storage, it works!! But if I deploy with persistant storage (webapp storage, blob fileshare etc.) it fails. I tested it with webapp storage and fileshare storage.

[2021-08-19 21:42] ulitoo opened #79952 "Insert colon in title for readibility"
"Azure Key Vault keys, secrets and certificates overview" to "Azure Key Vault: keys, secrets and certificates overview"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c9927ad-7623-cb87-3dd3-0ad9e807a71d
* Version Independent ID: 318d9a5c-67c9-7bc8-8b6e-6c6c500e2060
* Content: [Azure Key Vault Keys, Secrets, and Certif

[2021-08-19 22:05] Oury-MSFT commented on #79928
@mikerodionov We have raised a PR to update the doc. Changes should be live once PR is approved. Thank you so much for bringing this into our attention.

[2021-08-19 22:05] Oury-MSFT commented on #79928
https://github.com/MicrosoftDocs/azure-docs-pr/pull/169741

[2021-08-19 22:07] msangapu-msft commented on #75296
There's nothing in the configuration to restrict this to images > 2MB. It should work for images of all sizes. I recommend you try it. Let us know if it helps!

[2021-08-19 22:29] Oury-MSFT commented on #79812
@anfeldma-ms Could you please help with customer feedback above. Thanks

[2021-08-19 22:30] MGoedtel commented on #79064
@InformTechPro - You don't assign these rights to the Run As account, they are required for the user who is going to be creating/updating the Run As account in Azure.

[2021-08-19 23:19] #79928 closed

[2021-08-19 23:32] julieMSFT commented on #69736
#reassign:julieMSFT

[2021-08-19 23:32] PRMerger6 commented on #69736
GitHub user anumjs has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-19 23:40] JamesTran-MSFT commented on #79952
@ulitoo
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-19 23:42] MarileeTurscak-MSFT commented on #79923
@0031Microbase
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-19 23:46] Karishma-Tiwari-MSFT commented on #79943
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-19 23:51] julieMSFT commented on #78591
@jejiang Is there a work around for this issue? Can we update the article?

[2021-08-19 23:52] Karishma-Tiwari-MSFT commented on #79929
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 00:02] Karishma-Tiwari-MSFT commented on #79940
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 00:04] RamyasreeChakka commented on #79924
@kevinharing ,
1. For AKS cluster, please use control-plane label
2. For Azure Arc cluster, use admission.policy.azure.com/ignore label.

[2021-08-20 00:33] jmprieur commented on #78304
Answered.
We'll also improve the article
#please-close

[2021-08-20 00:33] #78304 closed

[2021-08-20 00:35] jmprieur commented on #78782
@kingeke, we don't support PHP.
#please-close

[2021-08-20 00:35] #78782 closed

[2021-08-20 00:37] jmprieur commented on #78868
#please-assign @maliksahil

[2021-08-20 00:51] ChaitanyaNaykodi-MSFT commented on #79951
Hello @thenickberry
Thank you for your feedback! We have assigned this issue to the author to review further and take the next course of action.

[2021-08-20 00:53] ChaitanyaNaykodi-MSFT commented on #79948
Hello @manishjha2088,
Thank you for your feedback! We will review and update as appropriate.

[2021-08-20 00:57] Karishma-Tiwari-MSFT commented on #79938
Thanks for the question. We are currently investigating and will update you shortly.

[2021-08-20 01:05] orestonce commented on #79918
adal: Refresh request failed. Status Code = '400'. Response body: {"error":"invalid_resource","error_description":"AADSTS500011: The resource principal named https://graph.microsoft.com/user.read was not found in the tenant named eaea3ab7-fd6b-4cdc-b6a7-202208769ded. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tena

[2021-08-20 01:10] hpsin commented on #79918
You're using adal or the v1 endpoint, so you'll need to use just the url, not the /user.read part
________________________________
From: orestonce ***@***.***>
Sent: Thursday, August 19, 2021 6:05:58 PM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: Hirsch Singhal ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] InvalidAuthenticationToken (#79918)

adal: Refresh request fa

[2021-08-20 01:28] orestonce commented on #79918
@hpsin I use the resource "https://graph.microsoft.com",  then I can refresh token success, but I use refreshed token to access , my profile it errror:
[code]

[2021-08-20 01:30] hpsin commented on #79918
You can check out the documentation on permissions and consent to learn how to get consent for the APIs you want to call - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#request-the-permissions-in-the-app-registration-portal

[2021-08-20 01:38] marcgoff opened #79956 "Missing license sku"
I can't seem to find one of our Skus listed on this page. We are an educational institution and we have the following SKU in our tenant:
SKUID : e578b273-6db4-4691-bba0-8d691f4da603
SkuPartNumber : ENTERPRISEPACKPLUS_FACULTY

I can find the ID listed on this other MS page, https://docs.microsoft.com/en-us/MicrosoftTeams/sku-reference-edu but the SkuPartNumber doesn't match what our tenant lists (E

[2021-08-20 01:45] veyalla commented on #79872
@YarekTyshchenko - you can put anything from the [Docker Engine API](https://docs.docker.com/engine/api/v1.41/#operation/ContainerCreate) into the createOptions. Example - for your use case it might look like:

[code]

![CleanShot 2021-08-19 at 18 33 24@2x](https://user-images.githubusercontent.com/22105760/130165053-07c4ec7c-508d-41b4-b4c0-9b6c122cd9a0.png)

[2021-08-20 01:47] kelsosharp commented on #78304
It is the name, but please have him point out the significance of the name,
is it arbitrary? Or does it need to correspond to the name of an assembly
or property?

On Fri, Aug 20, 2021 at 8:33 AM PRMerger13 ***@***.***> wrote:

[2021-08-20 02:36] SubhashVasarapu-MSFT commented on #79605
@taHTN, I was wondering if you have had a chance to look over our previous reply yet? Let us know if you have any query or input for us or if we good to close this issue.

[2021-08-20 02:42] CHEEKATLAPRADEEP-MSFT commented on #79932
@ibocon  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-20 02:43] CHEEKATLAPRADEEP-MSFT commented on #79944
@Infinitism  Thanks for the question! We are investigating and will update you shortly.

[2021-08-20 02:44] CHEEKATLAPRADEEP-MSFT commented on #79946
@ingcol  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members coul

[2021-08-20 02:55] CHEEKATLAPRADEEP-MSFT commented on #79865
@yxchiwork This has been fixed.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-20 02:55] #79865 closed

[2021-08-20 03:17] shiniizuka opened #79957 "iPad OS supportability as P2S client"
If it is supported to use iPad OS as a P2S client, could you add it to supported OS section like this:

Current:
OpenVPN can be used to connect from Android, iOS (versions 11.0 and above), Windows, Linux, and Mac devices (macOS versions 10.13 and above).

Suggestion:
OpenVPN can be used to connect from Android, iOS (versions 11.0 and above), **iPad OS (xxx and above),** Windows, Linux, and Mac dev

[2021-08-20 03:41] iwooood opened #79958 "Scale Compute Section"
The Scale Database section of this document has the following:

[code]
Firstly, that is invalid JSON for the body. Secondly, is location actually required to scale the database? Finally, should this be a PATCH request and not a PUT since this is an existing resource that you're modifying?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-20 04:27] andrewbrownmsft commented on #77875
We've added a new documentation section to specifically help with this:

https://docs.microsoft.com/en-us/azure/iot-hub-device-update/import-schema#oauth-authorization-when-calling-import-apis

Let us know if we can improve this. Thanks!

[2021-08-20 04:30] farjaf opened #79960 "Migration SQL throws error"
I followed the tutorial and noticed the migration script for EF core throws exception. why?

rm -r Migrations
dotnet ef migrations add InitialCreate

after set connection string to production database in azure SQL using powershell or cmd, attempted to update database.
 dotnet ef database update
---------------------------------------------
Build started...
Build succeeded.
info: Microsoft.EntityFr

[2021-08-20 04:36] Baradwaja opened #79961 "Graph API - outlook reply all"
Hi all ,

I am able to retrieve the mail and reply back through Graph API with o365 application.  But am not able to reply back with the subsequent mails for the reply. [ reply back to the same mail thread ] . Let me know how we can achieve this

[2021-08-20 04:41] VikasPullagura-MSFT commented on #79850
@bhaskarbsingh Any update on the issue?

[2021-08-20 04:45] SrijitBose-MSFT commented on #79675
@alasdair-stark-amido if the issue fixed, request you to reply back here on the thread with the resolution steps for the benefit of the community.

We haven't heard from you in quite time and hence closing the issue now. If you have any queries please feel free to comment on the thread and we can reopen this.

#please-close

[2021-08-20 04:45] #79675 closed

[2021-08-20 05:08] MayankBargali-MSFT commented on #79679
@PingPongSet Hope the above helps and clears things up. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-08-20 05:08] #79679 closed

[2021-08-20 05:15] CHEEKATLAPRADEEP-MSFT commented on #79961
@Baradwaja  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2021-08-20 05:23] v-hagamp commented on #77649
#please-close

[2021-08-20 05:23] #77649 closed

[2021-08-20 05:31] micachi opened #79962 "Did Screen Capture Protection end the preview without being generally available?"
In this commit, the description about the preview was deleted, but was the function itself deleted?

https://github.com/MicrosoftDocs/azure-docs/commit/3d595f8bd3bcf23b720c356c79ba25af4e5b250a#diff-1a2e7d8b8d53f6c706f269550872e67aa1f74ca44bc8c711a8e805f1e08c1918

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2978f80-e

[2021-08-20 05:37] #77875 closed

[2021-08-20 05:50] SwathiDhanwada-MSFT commented on #79776
@harre096 Did you get chance to try out the snippet mentioned in the link ?

@lgayhardt Can you please take a look at this issue and provide inputs?

[2021-08-20 06:03] SadiqhAhmed-MSFT commented on #79902
@APEThomas Just wanted to check with you if you have any further questions that needs our attention or are we good to close this GitHub thread?

[2021-08-20 06:15] HarshitaSingh-MSFT commented on #79748
@BasavarajGM, do the above responses help you?

[2021-08-20 06:23] AnuragSharma-MSFT commented on #79835
@savjani Thanks for covering this.

@francesco1119 Support ticket would surely help.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-20 06:23] #79835 closed

[2021-08-20 06:27] AnuragSharma-MSFT commented on #79910
@shanranm Thanks for replying back, yes we will keep this thread posted when the fix gets deployed.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-20 06:27] #79910 closed

[2021-08-20 06:34] BasavarajGM commented on #79748
Yes, it does help. Thank you

[2021-08-20 06:36] manthan1004 commented on #65967
How we can set the mapping if source is Excel over SharePoint and Sink is Azure SQL Database? Is there any Video content available ?

[2021-08-20 06:49] francesco1119 commented on #79835
Nah, just close this.
Thank you

[2021-08-20 06:49] jorgklein opened #79963 "Known issue in the preview already fixed?"
This page states:
_"Do not use the WITH clause in the OPENROWSET function when you query partitioned Delta Lake data. Due to the known issue in the preview, the WITH clause will [not properly return the values from the underlying partitioning columns](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/resources-self-help-sql-on-demand#partitioning-column-returns-null-values). Partition e

[2021-08-20 07:00] HPatArla opened #79964 "Its not clear when encrypting data at rest is active or not in 4.8"
Hi, Your very nice and detailed security baseline doc in 4.8: Encrypt sensitive information at rest states "Guidance: Azure Service Bus **supports** the option of encrypting data at rest" - But it does not clearly states if the data at rest is encrypted if you don't use customer-managed keys.

And if you are on the standard tier is the encrypting data at rest active or not? If it is implied if you

[2021-08-20 07:05] APEThomas commented on #79902
no further questions.  thanks

[2021-08-20 07:05] #79902 closed

[2021-08-20 07:08] kevinharing commented on #79924
Thank you for your swift response @RamyasreeChakka.

It's unfortunate the docs aren't clear on that. I have two follow-up questions:

1. Are there any other side-effects of adding the control-plane label to a random namespace (is it reserved for "control-plane" resources for example)?
2. I find adding the "control-plane" label to a namespace in order to circumvent the admission policies a bit weir

[2021-08-20 07:20] orestonce commented on #79918
![image](https://user-images.githubusercontent.com/6974828/130195350-c22652ed-9dcd-40ec-b90d-92fa9390bc86.png)
Oh, I success after set the application permission. Thank you very much.   @hpsin @shashishailaj

[2021-08-20 07:26] MayankBargali-MSFT commented on #79964
@HPatArla Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 07:29] alasdair-stark-amido commented on #79675
@SrijitBose-MSFT I emailed you as you requested and you didn't respond. The issue is not fixed and you have not contacted me to offer support.

[2021-08-20 07:43] shashishailaj commented on #79956
@marcgoff Thank you for your feedback . We will investigate and update the thread.

[2021-08-20 07:45] shashishailaj commented on #79956
Linked to MicrosoftDocs/OfficeDocs-SkypeForBusiness#7724

[2021-08-20 08:02] SubhashVasarapu-MSFT commented on #79957
@shiniizuka, Thanks for reaching out. We will investigate and update this thread.

[2021-08-20 08:06] #79918 closed

[2021-08-20 08:12] rockboyfor opened #79965 "The Static Public IP address can not be fetched when it is not in the same resource group of AKS Cluster."
Hi Colleague,

We have found that the specific static Public IP address can not be fetched  when this Public IP address is not in the same resource group of AKS cluster.

Could you please help to add corresponding annotation and tip in content? It will help customers to avoid the similar issue.
**--set controller.service.annotations."service\.beta\.kubernetes\.io/azure-load-balancer-resource-group

[2021-08-20 08:57] CHEEKATLAPRADEEP-MSFT commented on #79802
@cw18-coder We are reaching out to the internal team to get more help on this, I will update you once we hear back from them.

[2021-08-20 08:59] vijetajo commented on #79756
You can have schedules like this in template file
  "resources": [
    {
      "type": "Microsoft.MachineLearningServices/workspaces/computes",
      "apiVersion": "2021-03-01-preview",
      "name": "[concat(parameters('workspaceName'), '/', parameters('computeInstanceName'))]",
      "location": "[parameters('location')]",
      "properties": {
        "computeType": "ComputeInstance",
        "

[2021-08-20 09:03] CHEEKATLAPRADEEP-MSFT commented on #79847
@eperfilyev Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-20 09:03] #79847 closed

[2021-08-20 09:04] CHEEKATLAPRADEEP-MSFT commented on #79879
@Aminadad27  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-20 09:04] #79879 closed

[2021-08-20 09:04] CHEEKATLAPRADEEP-MSFT commented on #79903
@MrRightHand97 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-20 09:04] #79903 closed

[2021-08-20 09:05] #79764 closed

[2021-08-20 09:29] GitaraniSharma-MSFT commented on #79915
@sebader , [this doc](https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer) has a [prerequisites](https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer#prerequisites) section which redirects to : [Create a private link service](https://docs.microsoft.com/en-us/azure/private-

[2021-08-20 09:34] sebader commented on #79915
ah I see. Yeah, that is really not clear from a reader point of view ;) So if this doc can be enhanced that would be really benefitical!

Btw, there is also a typo in the doc at this heading: https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer#approve-private-endpoint-connection-from-the-storage-account
It should not say "from the sto

[2021-08-20 10:00] ulkeba opened #79968 "Declaration of 'tolerations' is not sufficient to ensure pods are run on spot VMs."
The page says:

I think this might not be a 100% percent correct; it should rather be:

Adding the toleration seems to be a required condition, but it not sufficient as it does not specify a preference for the pod to be hosted by spot pool node. In my test deployment, the pod continued to be executed on another pool until I added an `affinity` section besides `tolerations`:

[code]

This also corr

[2021-08-20 10:05] CHEEKATLAPRADEEP-MSFT commented on #79963
@jorgklein  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-20 10:14] JargerBiirli commented on #66698
Is this issue going anywhere? I’m facing an issue where a member of the azure_pg_admin role is able to drop tables created by another member of the same role, despite not being the owner. This seems tied to the azure_pg_admin role, as revoking the membership prevents the dropping of tables. According to Postgres documentation, this shouldn't happen (only an owner or superuser an drop tables), nor

[2021-08-20 10:17] AndiD42 opened #79969 "Documentation out of sync between English and German"
Hey folks!
currently, the documentation to this article is out of sync between English and German.
In English it's described that it is possible to use a user-assigned identity.
And in German it's described that it's only possible with a system-assigned identity and NOT with a user-assigned.

![image](https://user-images.githubusercontent.com/58603840/130218417-2b2d5ec2-7ceb-4cb0-a71c-fdfb54d51dcb

[2021-08-20 10:32] nitvit610 opened #79970 "MARS Backup Agent Documentation Missing"
The documentation for MARS Backup Agent is not working as intended.
Examples:
1. Microsoft documentation for [Remove-OBPolicy here](https://docs.microsoft.com/en-us/powershell/module/msonlinebackup/remove-obpolicy?view=msonlinebackup-ps#description) says that you can remove the policy using Remove-OBPolicy -DeleteBackup. However, when running the command, it states that a security pin is not set [

[2021-08-20 10:42] azaricstefan commented on #79963
@jorgklein thanks for raising this issue. You are correct, I created a PR to remove that from this [page](https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/resources-self-help-sql-on-demand#partitioning-column-returns-null-values).

[2021-08-20 10:43] kahawai-sre opened #79973 "Please clarify effect of enabling storage account firewall when connecting via Private Endpoint"
When a storage account has been enabled with a Private Endpoint, and clients connect to that storage account only via that Private Endpoint:
- Does enabling the storage account firewall have any impact on inbound connections via the Private Endpoint?
- To disable public access, but allow access via the Private Endpoint only, what steps need to be taken?

---
#### Document Details

⚠ *Do not edit t

[2021-08-20 10:56] ManasaDevadas opened #79974 "Please add CLI option for Windows Log analytics Extension"
Azure CLI option is not listed in Windows Log analytics extension deployment. Please specify that as well.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cefed4e0-440d-18d5-8b8d-4a345f396e9b
* Version Independent ID: 2882136f-7fde-685d-c24f-037ee7626667
* Content: [Log Analytics virtual machine ex

[2021-08-20 11:00] tolga-balci opened #79975 "az image create fails in (NotFound) error if --location is not specified"
Hello,

Creating an image with the following command

`az image create --resource-group $my-resource-group --name $name --source $source`

results in the following error:

`(NotFound) Source Virtual Machine 'swarm01' specified in the request does not exist in this Azure location.`

![image](https://user-images.githubusercontent.com/34794458/130223593-64baba31-c03b-4a4f-baac-818f9491a2e8.png)

If t

[2021-08-20 11:11] Takas0522 opened #79976 "Project templates install command fails"
Project templates install command fails

Fails Command

Success Command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ec0a7d1-e655-ac22-1996-52573a93115e
* Version Independent ID: f51213bd-3b2c-c3a2-fe41-12c8dd2fef21
* Content: [Microsoft Identity Web authentication library overview - Microsoft identity platform](htt

[2021-08-20 11:16] GitaraniSharma-MSFT commented on #79915
@sebader , thank you for pointing out the typo. I will update the doc to reflect it correctly.

[2021-08-20 11:35] devmaxime opened #79977 "Azure ML trained model is present but cannot be registered"
Hello,

Few months ago I have sucessfully trained a model on Azure ML and deployed it.

I'm working from Visual Studio, using python.

I'm trying to redo the operation using a new ressource group but similar code. I cannot make it works anymore despite few days of trying.

My file model.h5 can be found in the outputs folder, created next to the logs and azureml-logs folders.

My code is a simple k

[2021-08-20 11:40] #79915 closed

[2021-08-20 11:43] CHEEKATLAPRADEEP-MSFT commented on #79977
@devmaxime  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members c

[2021-08-20 11:44] GitaraniSharma-MSFT commented on #79915
@sebader , I have corrected the typo in : https://docs.microsoft.com/en-us/azure/frontdoor/standard-premium/how-to-enable-private-link-internal-load-balancer#approve-private-endpoint-connection-from-the-storage-account and it should reflect shortly.

I also corrected the Next steps section of this article to include the correct links for web app & storage private link connection from AFD and also

[2021-08-20 11:44] #79906 closed

[2021-08-20 11:44] GitaraniSharma-MSFT commented on #79906
I have corrected the punctuation error in the doc and it will be reflected shortly.

We are closing this issue for now. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-20 11:45] CHEEKATLAPRADEEP-MSFT commented on #79960
@farjaf  Thanks for the question! We are investigating and will update you shortly.

[2021-08-20 11:46] CHEEKATLAPRADEEP-MSFT commented on #79962
@micachi  Thanks for the question! We are investigating and will update you shortly.

[2021-08-20 12:13] urosmil commented on #78205
Thanks @ArtiomLK for identifying the issue. We are working on the resolution and updating the example.

[2021-08-20 12:34] chidavearch commented on #31807
My storage connection string follows the guidance above but I'm getting the same error.

[2021-08-20 12:40] jjnanthakumar opened #79978 "Connectivity Settings Link giving 404 not found :("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd170c46-305a-ab50-f4e9-9bae41dc2fe7
* Version Independent ID: 466a89e7-0271-35df-1407-653484659643
* Content: [FAQ - Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/synapse-analytics/overview-faq)
* Content Source: [articles/synapse-a

[2021-08-20 12:48] ladykraken commented on #31807
Hi, I've been trying to set up my new laptop since January without results.
There was an error on my initial upgrade to Windows10. My pc is on with a
black screen. I've been receiving so many emails stating that my infos are
wrong can you please help?

[2021-08-20 12:54] RyanHill-MSFT commented on #79969
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-20 12:58] bmedlin opened #79979 "Logging config Host.Results: Error is confusing"
This page provides logging example:
[code]
This configuration (**"Host.Results": "Error"**) effectively disables request logging for functions:

"Host.Results | requests | These runtime-generated logs indicate success or failure of a function. **All of these logs are written at Information level. If you filter at Warning or above, you won't see any of this data**."
https://docs.microsoft.com/en-us

[2021-08-20 12:59] SaiKishor-MSFT commented on #78483
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-20 12:59] #78483 closed

[2021-08-20 12:59] cbailiss opened #79980 "Incomplete documentation"
I am evaluating Databricks as part of a trial vs. competitors such as Snowflake.

This page is inadequate.  Problems:

- How is authentication set up so that DataBricks can read from azure storage?  This page seems to assume something has been set up but it isn't mentioned and there is no link to other pages that contain this information.  Answer:  need to use a SQL statement like:  SET fs.azure.a

[2021-08-20 13:04] shortpatti commented on #79850
@bhaskarbsingh, can you please provide more details for the doc issue?   What do you mean "content mismatch"?

[2021-08-20 13:04] shortpatti commented on #78071
@kzk839, are you still having this issue?

[2021-08-20 13:18] bhaskarbsingh commented on #79850
(Typing from phone)  Sorry for the late reply,
In here >
https://docs.microsoft.com/en-us/azure/azure-vmware/configure-windows-server-failover-cluster

(Please reference attached screenshot)  The “Configure Networking” link
(top) is mapped to “Configure windows failover cluster” below.
And Configure Windows failover cluster link take you to the home of
Microsoft Docs.

Hope it helps, I’m from VMwa

[2021-08-20 13:36] KranthiPakala-MSFT commented on #79978
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-08-20 13:38] jusnitlive commented on #36935
I hate to reopen such an old issue but that was posted on August 15, 2019 does not include any guidance on RBAC role assignments and I just ran into the same problem. What RBAC assignment do I need to set to allow users to view the VM insights metrics?
Specifically, the metrics blade underneath a virtual machine

[2021-08-20 13:43] Nicholak-MS commented on #79956
Hi @Marcgoff I added the ENTERPRISEPACKPLUS_FACULTY to the doc. It will publish later today.

#Please-Close

[2021-08-20 13:44] #79956 closed

[2021-08-20 13:45] Nicholak-MS commented on #62102
Hi @jfo-ta I have added to two SKU's to the document and they will be included in a publish later today.

#please-close

[2021-08-20 13:45] #62102 closed

[2021-08-20 13:47] Nicholak-MS commented on #64812
Hi @RascoPK I believe this is correct as I am seeing two different GUIDs. But if you are still seeing an anomaly please supply the GUID that is repeated and I will check further.

#please-close

[2021-08-20 13:47] #64812 closed

[2021-08-20 13:48] Nicholak-MS commented on #66097
Hi @gregdegruy I updated POWERAPPS_VIRAL with the latest service plan SKU information from our source. It will publish later today. Please let me know if you are still seeing any anomalies.

#please-close

[2021-08-20 13:48] #66097 closed

[2021-08-20 14:02] DieselAnalytics opened #79983 "Code Error in Deploy to AKS section"
[Enter feedback here]
Missing the following import statement in the **Deploy to AKS** section

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3783f41-ce06-3d23-8e2e-64abbb5c96c4
* Version Independent ID: f66fcf5b-c259-8e77-20e2-9bbe750d52c5
* Content: [Deploy ML models to Kubernetes Service - Azure Machine Lear

[2021-08-20 14:13] kobulloc-MSFT commented on #79975
@tolga-balci Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-08-20 14:13] bmedlin commented on #59008
Are there any performance risks from using 'fileLoggingMode=always' in production? It would be helpful if the documentation highlighted best practices.

[2021-08-20 14:36] mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh opened #79984 "JIT also supported by Azure Firewall, not only NSG"
I believe JIT is now also supported with only Azure Firewall, thus the following error message shouldn't be visible anymore?
_Unsupported - VMs without JIT enabled and which don't support the feature. Your VM might be in this tab for the following reasons:_
**Missing network security group (NSG) - JIT requires an NSG to be configured**

Also, availability should also be updated as far as I can see

[2021-08-20 15:07] SepidehSaba opened #79986 "Is there any limitation on running the indexer every minute using SDK without using the schedule. Since the minimum schedule time is 5."
We would like to schedule the indexer to run every minute since the minimum schedule time is 5 min, we have running jobs that use the SDK to triggers the run of the indexer every min. We notice that some document is being processed multiple times.

Question one: Is there any difference between the schedule triggering the run of the indexer through SDK using a job and triggering it by a built-in sc

[2021-08-20 15:18] ROSMITHJ-MSFT opened #79987 "Portal Instructions for Enabling Azure Defender Need Update"
Howdy Team,

Just wanted to let you know that the instructions under the Portal tab for enabling Azure Defender for Storage are no longer valid - there is no blade called "Advanced Security" anymore.

Many thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent I

[2021-08-20 15:21] SamaraSoucy-MSFT commented on #79979
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-20 15:24] ROSMITHJ-MSFT opened #79988 "Policy Name for Enabling Azure Defender was Changed"
Howdy Team,

Sorry about the double post - I was just checking the policy used for this, and the policy has been changed to "Configure Azure Defender for Storage to be enabled."

Many thanks!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b92c195-c670-2e27-2422-fd131586bdd7
* Version Independent ID: 75ad901d-8064-bfbe-

[2021-08-20 15:29] cgp-dwolfe opened #79989 "Linux diagnostic files can not be uploaded because the are typically larger than 4 mb and have a .gz extension."
If you are going to support Linux OSes, you should try and accept Linux file types and reasonable file sizes -- sos reports for RHEL systems are typically around 50 MB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d765ab6f-aa80-3df6-c8a0-5e1675bc2519
* Version Independent ID: ce21a008-6fdd-97dc-65fa-b4ece7c965e7
* Co

[2021-08-20 15:32] MarileeTurscak-MSFT commented on #79984
@mMDG0Oowa-3TPkpg7JOmdx4ff4IfPvyCGSAHbnh
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-20 15:38] WaywardHayward opened #79990 "Update a Digital Twin - only "Add" or "Remove" patch operations are required"
Hi,

The documentation in the section ["Update a Digital Twin"](https://docs.microsoft.com/en-us/azure/digital-twins/how-to-manage-twin#update-a-digital-twin) is a little confusing.

The initial json example only contains replace operations which, if you perform them on a twin which does not have the properties set already fails.

I wonder if it might be more useful change the json example to:
[co

[2021-08-20 15:47] MarileeTurscak-MSFT commented on #79976
@Takas0522
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-20 15:52] Sdelausnay opened #79991 "Filter on the Patch content"
How can I filter on the nested Patch content of a notification message, e.g., if I have this notification message which I receive in the body,

[code]
How can I make a route filter which will only apply when the patch contains a temperature change?

I already tried this
CONTAINS($body.patch.path,'Temperature')
CONTAINS($body.patch[0].path,'Temperature')
$body.Temperature != null

But non are worki

[2021-08-20 15:53] jovanpop-msft commented on #78982
I have updated https://docs.microsoft.com/en-us/azure/synapse-analytics/sql/tutorial-logical-data-warehouse#access-and-permissions to use db-scoped crednetial

[code]

[2021-08-20 16:04] BalaAnbalagan opened #79992 "Please add SAP note https://launchpad.support.sap.com/#/notes/0001563660"
[Enter feedback here]

To configure the authorization for sapcontrol , please give a link the the sapnote
https://launchpad.support.sap.com/#/notes/0001563660

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66994d33-a069-aa81-85ea-8b3bb10f3d95
* Version Independent ID: ae074818-6882-f08a-7492-8bf91ab46f05
* Content: [De

[2021-08-20 16:06] marcgoff opened #79993 "Missing Windows 10 E3 licenses for faculty and staff"
You seem to be missing the following SKUs which we have in our tenant.

Windows 10 Enterprise A3 for faculty;WIN10_ENT_A3_FAC;8efbe2f6-106e-442f-97d4-a59aa6037e06
Windows 10 Enterprise A3 for students;WIN10_ENT_A3_STU;d4ef921e-840b-4b48-9a90-ab6698bc7b31

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c245452-161d-89a1

[2021-08-20 16:27] JamesTran-MSFT commented on #79993
@marcgoff
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-20 16:37] zaalion opened #79994 "What is the recommended subnet size?"
[Enter feedback here]
Hello,

What is the recommended subnet size for placing a Cognitive Service resource in it (Form Recognizer)? is /28 good or too small?

Thanks,
Rez

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46701fde-2216-84d6-467c-67e6ed85b847
* Version Independent ID: 92beb36b-f717-b3b4-f1b8-9e0caf832621
*

[2021-08-20 16:45] KrishnaG-MSFT commented on #79970
@nitvit610 Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-20 16:51] jjcv2304 opened #79995 "Error on sign-in"
I'm following the instructions of this page as suggested on README.md in page https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/1-WebApp-OIDC/1-5-B2C

The code on the github repo and the one on the documentation (https://docs.microsoft.com/en-us/azure/active-directory-b2c/enable-authentication-web-application?tabs=visual-studio) seems to be the same

[2021-08-20 16:53] eosho opened #79997 "Passing Environment values to Docker file"
I have the following YAML file and the following docker file:

yaml:
[code]
docker:
[code]

I am using ```az acr run --registry $ContainerRegistryName -f $YamlFilePath .``` to build my image to ACR as long as I hardcode my REGISTRY_NAME=someregistry. How do I pass a value to my docker file from the YAML multi-task approach?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-08-20 16:55] harre096 commented on #79776
You know even without updating the snippet, I can't figure out how to reproduce consistently. Let me know if you find anything obvious but I don't think I'm going to spend the time to chase this one down.

[2021-08-20 17:03] DerekHerman-MSFT commented on #79973
@kahawai-sre Thanks for your question! This is noted in the document:
_"Storage firewall rules apply to the public endpoint of a storage account. You don't need any firewall access rules to allow traffic for private endpoints of a storage account. The process of approving the creation of a private endpoint grants implicit access to traffic from the subnet that hosts the private endpoint."_
There i

[2021-08-20 17:10] jusnitlive commented on #36935
It seems like this issue can be resolved by assigning at least Monitoring Reader at the subscription scope

[2021-08-20 17:10] mmaitre314 opened #79998 "Is Azure Cloud Shell actually supported?"
The doc says Azure Cloud Shell can be used but this does not look compatible with the requirement to install Helm:

![image](https://user-images.githubusercontent.com/8584604/130269390-41a990e8-163b-4465-9dd8-2a991324d680.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df16df9a-a855-2512-5e26-baec15e3be88
* Version

[2021-08-20 17:12] jusnitlive commented on #36935
This issue can be reproduced by opening the virtual machine metrics blade and changing your scope to view either multiple virtual machines or a parent scope

[2021-08-20 17:18] bhairavpardiwalaRazor opened #80000 "This page does not mention how to send device id as paramter in speech sdk ."
[Enter feedback here]
This page does not mention  how to send device id as parameter in speech sdk .
what if multiple azure precepts are connected to same server ? how to identify them here or in Flow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 520d3960-5045-17aa-d473-1ada5e73a741
* Version Independent ID: 06f847f0

[2021-08-20 17:21] chtourou-youssef commented on #79764
No badge for me ?

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: PRMerger6 ***@***.***>
Sent: Friday, August 20, 2021 10:05:17 AM
To: MicrosoftDocs/azure-docs ***@***.***>
Cc: chtourou-youssef ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/azure-docs] Path mappings setting is swapped (#79764)

Closed #79764<https://github.com/Micros

[2021-08-20 17:21] bhicks329 opened #80001 "Confirmation of the minimum commitment size"
There seems to be conflicting information on this page suggesting that the minimum commitment level is 1TB and others saying 500GB. Can you please confirm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 336076fa-b185-2d98-7b5c-75b6540c99e7
* Version Independent ID: b1728f53-57c5-273b-8d75-29cd781f1a56
* Content: [Azure

[2021-08-20 17:23] DerekHerman-MSFT commented on #79987
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 17:29] SaurabhSharma-MSFT commented on #79980
@cbailiss Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-08-20 17:49] MashaMSFT commented on #76662
Hi @SarveshPandey, thanks for contacting Microsoft! As it seems your question has been addressed, I'm going to close out this Git Issue. However, please feel free to comment should you need anything further.

Thanks again for reaching out and hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#please-close

[2021-08-20 17:50] #76662 closed

[2021-08-20 17:53] MashaMSFT commented on #67548
Hi @sgreci, thanks for contacting Microsoft! Actually looks like @adstuart was able to address your question. I'll go ahead and close out this Git Issue but please feel free to comment should you need anything further.

Thanks again for reaching out and I hope you have a wonderful rest of your day!
Masha from the SQL Docs team
#reassign:adstuart

[2021-08-20 17:53] PRMerger13 commented on #67548
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-20 17:53] PRMerger13 commented on #67548
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-20 17:53] PRMerger13 commented on #67548
GitHub user stevestein has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2021-08-20 17:53] MashaMSFT commented on #67548
#please-close

[2021-08-20 17:53] #67548 closed

[2021-08-20 18:23] DerekHerman-MSFT commented on #79988
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 18:49] micahl opened #80002 "Install steps don't mention installing the GPG key"
If someone were starting from a clean device and adding the Microsoft package repository for the first time then they'll get an error when doing `sudo apt-get update` saying:
[code]

The steps should include doing this:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d524d9ef-8057-92d3-9cff-788963f5fd23
* Version

[2021-08-20 18:55] joshivinod commented on #79732
Thanks @Blackmist, it worked like a charm this time. 🎉

[2021-08-20 19:08] MarileeTurscak-MSFT commented on #79976
@jmprieur is the download broken?

[2021-08-20 19:11] ChaitanyaNaykodi-MSFT commented on #79875
Hello @jonwbstr , Apologies for the experience and we thank you for the feedback on our temporary process. I have shared it with the team.

As an FYI, Azure is working on a new self-service option for customers to share and vote on product feedback. When available (current ETA is 6 weeks), you will be able to go to https//feedback.azure.com and share/upvote product feature ideas.

Meanwhile, pleas

[2021-08-20 19:17] HaiderShahid opened #80003 "Depends_on docker option creating confusion"
Depends On says ignored on the previous page but is shown here as part of the docker compose. Is it a mistake or what ? I find it rather misleading a bit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d9d9048-6577-c19b-5989-fef8beffd6f6
* Version Independent ID: b01b315d-2cf8-f1ec-215a-4bf1c220d840
* Content: [Tutori

[2021-08-20 19:22] mbendana opened #80004 "Confirm network connectivity part is wrong"
The Confirm network connectivity part is wrong:

Incorrect:

Test-NetConnection -ComputerName https://ssprdedicatedsbprodncu.servicebus.windows.net -Port 443
Invoke-WebRequest -Uri https://ssprdedicatedbprodscu.windows.net -Verbose

Correct:

Test-NetConnection -ComputerName ssprdedicatedsbprodscu.servicebus.windows.net -Port 443
Test-NetConnection -ComputerName ssprdedicatedsbprodncu.servicebus.w

[2021-08-20 19:23] msangapu-msft commented on #80003
Hi @HaiderShahid - as mentioned in the "Download the sample" section (https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app#download-the-sample) the compose sample is taken directly from Docker. So it's in the compose file, but it's ignored by the platform. The tutorial walks through setting up a production DB (DBaaS) so the DB container doesn't get used. Hope that helps.

[2021-08-20 19:48] moselhy commented on #35856
Any updates on this? The feedback link is broken now so I can't upvote it.

[2021-08-20 20:03] MGoedtel commented on #79043
@p0shkar - This is something that I'm working to get clarity/direction on from the product group. Once we get this sorted out, we will update the article(s) related to authenticating with Azure AD, M365, etc. #in-progress

[2021-08-20 20:07] JamesTran-MSFT commented on #80004
@mbendana
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-20 20:09] yaterchatter opened #80005 "Unclear on Group Claim transition to Microsoft Graph"
I received an email yesterday explaining that Azure AD Graph will be retired by June 2022. I remembered that an application I work on is federated with Azure AD and supports large group claims with a Graph endpoint.

From the documentation:
"Azure Active Directory limits the number of groups it will emit in a token to 150 for SAML assertions, and 200 for JWT. If a user is a member of a larger numb

[2021-08-20 20:27] jonl-percsolutions-com opened #80006 "Information on Conditional Access for Device State and Filter by Device for Government Clouds"
We are on the GCC High cloud, but there is no information on the Device State and Filter By Device preview features that indicate the feature availability, lack thereof or time line for availability in the GCC High or other Government Clouds.   Is this information available somewhere and can it be added to the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-08-20 20:38] JamesTran-MSFT commented on #80006
@jonl-percsolutions-com
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-20 20:38] JamesTran-MSFT commented on #79995
@jjcv2304
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-20 20:39] JamesTran-MSFT commented on #80005
@yaterchatter
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-20 20:42] JamesTran-MSFT commented on #79949
@sileclercq
Thank you for pointing this out!

When it comes to disabling `websudo`, this is already a pre-requisite listed within the docs, are you asking us to put another one relating to custom authentication?

![image](https://user-images.githubusercontent.com/36619112/130291246-fdefcf30-d21c-4ac3-89d4-74b0a19656d0.png)

Thank you for your time and patience throughout this issue.

[2021-08-20 20:44] JamesTran-MSFT commented on #79952
@ulitoo
Thank you for pointing this out! I've created a PR to update the documentation and it's currently waiting for the author to review and sign off.

I will now close out this issue. Please allow some time for the author to review and the changes to reflect.
Thank you for your time and patience!

[2021-08-20 20:44] #79952 closed

[2021-08-20 20:44] YutongTie-MSFT commented on #79994
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-20 20:46] YutongTie-MSFT commented on #79983
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-20 20:46] sileclercq commented on #79949
I guess I did not see the pre requisites.
may be highlight it in bold.
Here is the official documentation from atlassian on how to do this : https://confluence.atlassian.com/adminjiraserver/configuring-secure-administrator-sessions-938847890.html

[2021-08-20 20:49] #79874 closed

[2021-08-20 20:52] SatishBoddu-MSFT commented on #80000
Hello @bhairavpardiwalaRazor
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-20 20:54] JamesTran-MSFT commented on #80004
@mbendana
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-20 20:56] JamesTran-MSFT commented on #79949
@sileclercq
Thank you for the quick follow up on this! Since our docs are currently up to date I'll go ahead and close out this issue.

Adding the author @jeevansd to provide any feedback on highlighting the websudo pre-requisite.

[2021-08-20 20:56] #79949 closed

[2021-08-20 21:09] kgremban commented on #79708
@nlcamp Thank you for pointing this out. I'm working on updating this doc currently and will resolve this issue once those changes are complete.

[2021-08-20 21:16] ChaitanyaNaykodi-MSFT commented on #79874
Hello @oncore-mk
We have made the changes in the doc, you will able to see the changes in next 24 hours. Please let us know if you have any further concerns. Thank you for the feedback!

[2021-08-20 21:18] RyanHill-MSFT commented on #79965
Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-20 21:19] sachip-msft opened #80008 "Improve the documentation to specify outbound connectivity requirements for Guest Agent processes"
We have deployed VMSS with Guest Agents within isolated networking environment in azure, these instances are in VNET which tightly controls all outbound connectivity via azure firewall, and we discovered that these guest agent processes were communicating to many storage endpoints which were being blocked by the firewall, after looking at the documentation, there is no mention of connectivity requ

[2021-08-20 21:35] jmprieur commented on #79976
@Takas0522
what version of .Net core are you using?

[code]

[2021-08-20 21:59] donkeyhit opened #80009 "integer"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76e31411-f1a2-710b-94c0-39acf9e7314b
* Version Independent ID: d5cefffe-dee0-2d2e-f3cb-8eefd5d40d17
* Content: [Expression and functions - Azure Data Factory & Azure Synapse](https://docs.microsoft.com/en-us/azure/data-factory/control-flow-expression-

[2021-08-20 21:59] #80009 closed

[2021-08-20 22:04] Karishma-Tiwari-MSFT commented on #79968
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 22:05] Karishma-Tiwari-MSFT commented on #79974
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-20 22:13] nlcamp commented on #79708
@kgremban - no problem. As it turns out, it's actually the `aziotks` user and user group that needs access. `aziotcs` is a actually user in the `aziotks` group.

[2021-08-20 22:16] SatishBoddu-MSFT commented on #79991
Hello @baanders Thanks for the feedback.

Our SME will get back to you on this.

[2021-08-20 22:23] SatishBoddu-MSFT commented on #79990
Hello @WaywardHayward

Our SME will get back to you on this.

[2021-08-20 22:49] lgayhardt commented on #79776
@MSNev is this an error you are familiar with?

[2021-08-20 23:02] rwike77 commented on #79424
@DGOIT-Jan  Thanks for the suggestion.  At some point I'd like to add a Blazor web assembly sample.  Don't have a timeline for that right now.  I'm closing this issue for now, but will update in the future when we add Blazor samples.

Created internal ADO workitem 1518797 to track this.

#please-close

[2021-08-20 23:02] #79424 closed

[2021-08-20 23:05] jeffersonking opened #80010 ""Expose an API" is incorrect. It should link to "Assign App Roles" instead."
Under section "Application permissions", it says "To use application permissions with your own API (as opposed to Microsoft Graph), you must first [expose the API](https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-configure-app-expose-web-apis) by defining scopes in the API's app registration in the Azure portal."

The link [expose the API](https://docs.microsoft.com/en-us

[2021-08-20 23:10] ggailey777 commented on #66895
I don't think this is an issue anymore since we link to the Core Tools article, which uses the MSI to install v3. Please ping me if my assessment is incorrect and we need explicitly call out Core Tools v3. #please-close

[2021-08-20 23:10] #66895 closed

[2021-08-20 23:41] natecouto opened #80011 "Request to include Domain names and Outbound ports for ADLS Gen2 and Azure SQL"
I am helping a client to implement Purview SHIR for ADLS Gen2 and Azure SQL. I reviewed the online documentation and could not find what's the corresponding domain name and outbound ports for these two data sources. It's only referring to "Various Domains" and it would certainly help to include references to the most popular Azure Data services.

![image](https://user-images.githubusercontent.com/

[2021-08-20 23:52] ChaitanyaNaykodi-MSFT commented on #79884
Hello @mehdilahrech, the [testing conditions](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-about-virtual-network-gateways#testing-conditions) defined in the documentation are correct. When defining the benchmark for Ultra Performance/ErGw3Az SKU, 1Gb circuit was created – with 500 routes advertised by the gateway and 9,500 routes learned.

Please let me know if you have any add

[2021-08-20 23:52] #79884 closed

[2021-08-20 23:56] kobulloc-MSFT commented on #79975
@tolga-balci Thank you again for reaching out to us!  It looks like a prerequisite for this documentation is "An Azure VM created in the Resource Manager deployment model that uses managed disks."  Going through the steps in the [Azure CLI link](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli), the location is set when you create a resource group for your VM.  With t

[2021-08-21 00:02] kenakamu commented on #79798
Please disregard this feedback. I missed HttpStart.cs.

[2021-08-21 00:02] #79798 closed

[2021-08-21 00:48] Karishma-Tiwari-MSFT commented on #80008
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-21 00:51] rwike77 commented on #79084
@Nandeeshswami   I'll follow up with you internally.  Thanks.

[2021-08-21 01:14] lgayhardt commented on #78802
Thank you for helping us to improve the docs. We are tracking this [internally](https://dev.azure.com/mseng/677da0fb-b067-4f77-b89b-f32c12bb8617/_workitems/edit/1869609). This item is currently on our backlog, will update this thread when the work item is completed. Thank you for your patience.

#please-close

[2021-08-21 01:14] #78802 closed

[2021-08-21 02:19] lee0c opened #80012 "AKS Access and Identity concept docs are not ordered in a way that presents useful information first"
Currently, the [Access and Identity in AKS](https://docs.microsoft.com/en-us/azure/aks/concepts-identity) concept documentation opens with several long, wordy tables listing granular Azure permissions before discussing much of the actual concepts. It's useful information, but likely not the first thing a user is looking for, and buries the high-level concepts of RBAC (Azure vs Kubernetes), authent

[2021-08-21 02:22] Takas0522 commented on #79976
I'm so sorry.

The version of .NET Core I was using was `6.0.100-preview.7.21379.14`.
This is the reason I failed.

I have confirmed that it works fine with SDK for .NET Core 3.1 and 5.
It was mentioned in this document, but I didn't check enough...

[2021-08-21 02:35] TravisCragg-MSFT commented on #79986
@SepidehSaba Thanks for the feedback. We are actively investigating and will get back to you soon.

[2021-08-21 02:36] TravisCragg-MSFT commented on #80001
@bhicks329 Thanks for the feedback. We are actively investigating and will get back to you soon.

[2021-08-21 02:41] Takas0522 commented on #79976
This issue is closed.
Thank you for your advice.

[2021-08-21 02:41] #79976 closed

[2021-08-21 02:47] CHEEKATLAPRADEEP-MSFT commented on #79989
@cgp-dwolfe  Thanks for the question! We are investigating and will update you shortly.

[2021-08-21 02:48] CHEEKATLAPRADEEP-MSFT commented on #79992
@BalaAnbalagan  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 02:49] CHEEKATLAPRADEEP-MSFT commented on #79997
@eosho  Thanks for the question! We are investigating and will update you shortly.

[2021-08-21 02:51] CHEEKATLAPRADEEP-MSFT commented on #79998
@mmaitre314 14 Thanks for the question! We are investigating and will update you shortly.

[2021-08-21 02:52] CHEEKATLAPRADEEP-MSFT commented on #80002
@micahl  Thanks for the question! We are investigating and will update you shortly.

[2021-08-21 02:55] CHEEKATLAPRADEEP-MSFT commented on #80010
@jeffersonking  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-21 02:56] CHEEKATLAPRADEEP-MSFT commented on #80011
@natecouto  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 02:57] CHEEKATLAPRADEEP-MSFT commented on #80012
@lee0c  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 03:13] lucasdluengo commented on #57764
I'm letting it fail to 404 and using the index.html as the error page configured in the static web site...
![image](https://user-images.githubusercontent.com/5294676/130308682-a994daa0-e9b2-477a-9852-74fbb4c5b7c5.png)
It's awful, It works but the answer is 404.
I want this feature! it's been at least a year!

[2021-08-21 05:18] ravibak opened #80013 "Regarding client machine insider group configuration."
[Enter feedback here]

Step number 2 of the "Requirements" section redirects to AVD Host Pool creation page.
Is the step about setting MSRDC client insider setting ? OR AVD Host Pool insider (which is confusing as there is no "insider" setting as such on AVD, not sure if its about "Validation" mode)

Further down there is a Step (number 4) which talks about a registry key for setting insider mode

[2021-08-21 07:09] CHEEKATLAPRADEEP-MSFT commented on #80013
@ravibak Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 09:53] gkarnik-gl opened #80018 "validate-jwt limitation for nonce claim"
As per this post: https://techcommunity.microsoft.com/t5/azure-paas-blog/protect-api-s-using-oauth-2-0-in-apim/ba-p/2309538
[code]
can you confirm if this is still valid and if so update the documentation to highlight this limitation?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 248a0753-0fa7-1cc0-d13a-d378ab182e95
*

[2021-08-21 10:52] Klaas- opened #80019 "CentOS and RHEL unsupported in log analytics agent"
Hi,
I'm currently having a case with Microsoft about the the log analytics agent (specifically omsconfig as a needed part of the log analytics agent). In this case it was revealed to me that you do not actually support RHEL or CentOS in the default configuration, because it turns out you do not support selinux at all (which is default for those operating systems and clones like oracle linux/alma/.

[2021-08-21 12:30] CHEEKATLAPRADEEP-MSFT commented on #80019
@Klaas-  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 12:32] CHEEKATLAPRADEEP-MSFT commented on #80018
@gkarnik-gl  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-21 15:05] SadiqhAhmed-MSFT commented on #79989
@cgp-dwolfe If you've created a support request, you can talk to the support professional and then share the file.

[2021-08-21 19:25] Infinitism opened #80022 "Multislot SDK use"
The quickstart doesn't cover how to use the SDK for making Multislot Rank and Reward API calls. It does for single slot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3976ea4-0c0e-e22e-11b6-05ab7de0e9d5
* Version Independent ID: 0eee3a80-fb8d-70bb-4a51-791df9982519
* Content: [Quickstart: Create and use learning loop

[2021-08-22 02:33] CHEEKATLAPRADEEP-MSFT commented on #80022
@Infinitism  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add in the document.

[2021-08-22 02:54] SubhashVasarapu-MSFT commented on #79605
@taHTN , since we have not heard back from you, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-08-22 02:54] #79605 closed

[2021-08-22 03:07] saiut opened #80023 "Add P2S VPN support OS - iPad OS"
The documentation does not include the iPad OS as an OS that supports P2S VPN connections.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-vpn-faq#supportedclientos

My understanding is that the iPad OS is a branch of iOS, and is based on iOS 13.x or later, so the both OS is almost same.
Could you please list the iPad OS as a supported OS in the documentation?

---
#### Document Det

[2021-08-22 03:50] aletheatoh commented on #77860
@KumudD please help with this. Thanks

[2021-08-22 04:52] chaisen2006 opened #80024 "Difference with SQL Analytics"
Can you please share info how this SQL Insights inside Azure Monitor is different from SQL analytics.
All these have same DMVs underlying , so why we have duplicate products..Can you please share some insights?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124d1b14-660e-d0df-71e5-4eb3bc943288
*

[2021-08-22 06:12] batamig commented on #79744
Hi @damianvandenberg,
I see that you got a response in here from our product team last week, and that we have a couple of options already documented.

For that reason, I'm closing this issue for now, but please feel free to continue commenting if you have further feedback.

We always appreciate hearing from our users and welcome contributions and suggestions!
#please-close

[2021-08-22 06:12] #79744 closed

[2021-08-22 06:15] batamig commented on #79438
Hi @yogeshkantroy

We've added your suggestion into our backlog and will update the page in a coming publish.

I'm going to close this issue for now, but feel free to continue commenting if you have additional feedback.
Thanks for your contribution to docs!

#please-close

[2021-08-22 06:15] #79438 closed

[2021-08-22 06:19] batamig commented on #78797
Hi @Kitsula
Thanks for sending your comment into docs!

We're double-checking these updates with the team and will make any needed changes in a coming publish.
I'm going to close this issue in the meantime, as it's in our backlog system, but feel free to continue commenting if you have additional feedback.

We always appreciate hearing from users and appreciate your contribution to docs!
#please-c

[2021-08-22 06:19] #78797 closed

[2021-08-22 06:29] batamig commented on #77903
Thanks @DeanGross on your question for docs!

We're going to investigate this one with our team and will then make any required updates to the docs in a coming publish.

I'm closing this issue in the meantime, as we now have it in our backlog system, but feel free to continue commenting if you have additional feedback.

We appreciate your continued contributions to Microsoft docs!
#please-close

[2021-08-22 06:29] #77903 closed

[2021-08-22 06:39] batamig commented on #78412
Hi @splitfinity, thanks for sending your question into docs!

We're investigating the answers and will update the docs as needed with more details in a coming publish.

For questions of this sort, I can also recommend that you post a question in our TechCommunity discussion page: https://techcommunity.microsoft.com/t5/azure-sentinel/bd-p/AzureSentinel

I'm closing this issue for now, but feel free

[2021-08-22 06:39] #78412 closed

[2021-08-22 06:43] batamig commented on #55496
Hi @roflemin, we haven't seen any response to this issue in some time.
I'm going to close this issue for now, but feel free to continue commenting here if you have additional feedback.

Thanks for sending your question into Microsoft docs!
#please-close

[2021-08-22 06:43] #55496 closed

[2021-08-22 06:44] batamig commented on #34545
Hi @dcaddick,
We haven't seen any response on this issue for some time.

I'm going to close this issue for now, but feel free to continue commenting if you have additional feedback.

Thanks for sending your question into docs!
#please-close

[2021-08-22 06:44] #34545 closed

[2021-08-22 06:54] batamig commented on #33218
Hi @karlbunnll,
Thanks for having sent your suggestions into docs!

As this issue was opened quite a while ago, and we're currently revamping our connector docs, I'm going to close it up.
Please feel free to continue commenting here if you have additional feedback.

#please-close

[2021-08-22 06:54] #33218 closed

[2021-08-22 06:58] batamig commented on #30921
HI all,
thanks for sending your comments in to Microsoft docs!
It looks like this issue was handled, so I'm going to close this up.

If anyone has any more related feedback, feel free to continue commenting here.

We appreciate your contributions to docs!
#please-close

[2021-08-22 06:58] #30921 closed

[2021-08-22 07:01] batamig commented on #30457
Hi all,
Thanks for sending your questions in to Microsoft docs!
It looks like the problematic link is no longer on this page, and I'm going to close this issue.

Please feel free to continue commenting if anyone has any further feedback!
#please-close

[2021-08-22 07:01] #30457 closed

[2021-08-22 07:09] #79177 closed

[2021-08-22 07:40] batamig commented on #31135
Hi @azureandsecurityotaku, thanks for having submitted this issue!
I can see that our current docs are now up to date, so I'm going to close this up.

Feel free to continue commenting if you have more feedback.
Thanks for your contributions to docs!
#please-close

[2021-08-22 07:40] #31135 closed

[2021-08-22 07:42] batamig commented on #28277
Thanks all for your feedback on Microsoft docs!
This issue is old, so we're looking into whether it's still an issue. If we need an update in our docs, we'll fix that in a coming publish.

I'm going to close this for now, but feel free to continue commenting if you have additional feedback.
We appreciate your contributions to docs!
#please-close

[2021-08-22 07:42] #28277 closed

[2021-08-22 07:44] batamig commented on #31567
Hi @asubmani, thanks for having sent your issue into docs!
We're currently looking into this and will update the page with any fixes needed in a coming publish.

I'm going to close this issue for now, but feel free to continue commenting if you have any further feedback.

Thanks for your contributions to docs!
#please-close

[2021-08-22 07:44] #31567 closed

[2021-08-22 07:45] batamig commented on #32474
Hi all,
Thanks for sending your feedback into docs!
We're currently looking into this issue and will make any fixes needed in a coming publish.

I'm going to close this issue for now, but feel free to continue commenting if you have additional feedback.
We appreciate your contributions to docs!
#please-close

[2021-08-22 07:45] #32474 closed

[2021-08-22 08:05] CHEEKATLAPRADEEP-MSFT commented on #80023
@saiut  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-22 08:07] CHEEKATLAPRADEEP-MSFT commented on #80024
@chaisen2006  Thanks for the question! We are investigating and will update you shortly.

[2021-08-22 10:16] cloud4free opened #80026 "TM support with reserved private IP address space"
[
Hi Team,

As per FAQ section, reserved private IP ranges are not supported as endpoint in traffic manager. [Link](https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-faqs#what-types-of-ip-addresses-can-i-use-when-adding-an-endpoint)
But currently portal is accepting this range of IP as endpoint and in few cases TM can configure like an internal traffic manager as well. Means t

[2021-08-22 13:09] anirugu opened #80028 "Function version mentioned in Microsoft learn does not work, please fix"
I was practicing on this page https://docs.microsoft.com/en-us/learn/modules/develop-test-deploy-azure-functions-with-core-tools/5-exercise-publish-function-core-tools

I see it's giving me error
"no supported --runtime-version found for the selected --runtime node and --functions-version 2"

If I change 2 to 3 it started working. This need to be fix. Yesterday I was using it, I just change it to

[2021-08-22 14:02] v-sreekesh commented on #80023
Hi @CHEEKATLAPRADEEP-MSFT i would like to work on this issue but i could find the link to the documentation in the github could you provide the path to the document

[2021-08-22 15:03] BhargaviAnnadevara-MSFT commented on #80028
@anirugu Thanks for the feedback. We shall evaluate and update the exercise as appropriate.

[2021-08-22 15:19] nicolasdol opened #80029 "No Guidance for spark execution on Databricks"
Hello,

I followed this documentation in order to run a prediction autoML using Databricks, but I encounter issues not documented.

Firstly, this documentation mentions the runtime 7.1 as a requirement, but it is no longer supported by Databricks, therefore I'm using Runtime 7.3 LTS. I don't know if it's the cause of my issue, but it's ambiguous.

I ran a simple notebook, running the command `%pip

[2021-08-22 15:28] BhargaviAnnadevara-MSFT commented on #79907
@Crispness Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-08-22 15:28] #79907 closed

[2021-08-22 15:37] BhargaviAnnadevara-MSFT commented on #79908
@Crispness Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2021-08-22 15:37] #79908 closed

[2021-08-22 15:48] BhargaviAnnadevara-MSFT commented on #79909
@maythamfahmi As mentioned in the beginning of the tutorial in question, the instructions in this tutorial build on the linked quickstart.

The instruction to add a reference to the `Microsoft.Azure.AppConfiguration.AspNetCore` NuGet package is mentioned in the [Connect to the App Configuration store](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-aspnet-core-app?tabs=co

[2021-08-22 15:53] Yan-Son opened #80030 "Errors (typo) in roles names"
Errors in roles names:
- Group Administrator
- Directory Writer
Should be:
- GroupS Administrator
- Directory WriterS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3fb85a8-d842-f101-909e-86751922da43
* Version Independent ID: 0c99b5ef-753e-1085-a682-c55ea4059207
* Content: [Enforce group naming policy in Azure Active

[2021-08-22 16:20] tshaiman opened #80031 "Article Container Data Lake API"
[Enter feedback here]
In the Power shell section there is an explanation to use Data Lake Library :
Get-AzDataLakeGen2DeletedItem

Are you sure this is the right API for restoring a deleted blob from Storage Account  ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d82c6eb8-2129-8e58-b5ae-d559fa83ddd1
* Version Indepen

[2021-08-22 16:40] SaeedAkhter-MSFT commented on #74236
@mmacy - please see PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/169958 - feedback welcome.

[2021-08-22 17:25] subspacefield opened #80033 "Contacts - @Ask Azure DB for PostgreSQL"
The "@Ask Azure DB for PostgreSQL" is no longer valid.

Jon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f71a77c-23ce-5496-9da9-f1d1871a62c2
* Version Independent ID: f2b69a19-1b25-cd89-e44c-370fa83ea45c
* Content: [Azure Database for PostgreSQL Single Server](https://docs.microsoft.com/en-us/azure/postgresql/overvi

[2021-08-22 18:35] tshaiman commented on #80031
There is no Get-AzDataLakeGen2DeletedItem API in Az.Storage as described here :
https://docs.microsoft.com/en-us/powershell/module/az.storage/?view=azps-6.3.0

[2021-08-22 18:55] Kamil78dahelo opened #80034 "Open Source MicrosoftDocs/azure-docs"
Open Source MicrosoftDocs/azure-docs

[2021-08-22 19:23] JFolberth opened #80036 "Incorrect Information for Cosmos DB Built In Users"
The built-in role definitions seems to be place holders as the IDs don't seem to be valid
<html>
<body>

ID | Name | Included actions
-- | -- | --
00000000-0000-0000-0000-000000000001 | Cosmos DB Built-in Data Reader | Microsoft.DocumentDB/databaseAccounts/readMetadataMicrosoft.DocumentDB/databaseAccounts/sqlDatabases/containers/items/readMicrosoft.DocumentDB/databaseAccounts/sqlDatabases/containe

[2021-08-22 19:40] SaurabhSharma-MSFT commented on #80033
@subspacefield Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-22 19:40] SaurabhSharma-MSFT commented on #80036
@JFolberth Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-22 20:25] torchy-newman opened #80037 "What is the significance of the Provider Configuration section ?"
What is the significance of the Provider Configuration section ?
[code]
It is hard to relate to the linked pages, and needs an explanation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdf16ea-d5b9-61fe-da60-14ce942d91a1
* Version Independent ID: 8a77a28a-f0a0-cc12-9030-eaa16f1bed58
* Content: [Deploy an Azure Datab

[2021-08-22 20:28] torchy-newman opened #80038 "command "az" produced invalid JSON"
The az command included in the example
[code]
produces an error
[code]

Commenting it out and the line where it is used allows the script to run
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abdf16ea-d5b9-61fe-da60-14ce942d91a1
* Version Independent ID: 8a77a28a-f0a0-cc12-9030-eaa16f1bed58
* Content: [Deploy an

[2021-08-22 20:43] maythamfahmi commented on #79909
My bad I must have jumped over that part. Thank you for your great effort

[2021-08-22 20:43] #79909 closed

[2021-08-22 22:07] #79983 closed

[2021-08-22 22:08] YutongTie-MSFT commented on #79983
Hello, this document has been updated. Thanks for pointing this out.

[2021-08-22 22:24] ThomasWeiss commented on #80036
@JFolberth Please make sure you're using the Cosmos DB CLI commands. This command should show the built-in roles: `az cosmosdb sql role definition list --account-name $accountName --resource-group $resourceGroupName`.

[2021-08-22 22:43] YutongTie-MSFT commented on #79986
@HeidiSteen Hello Heidi, could you please take a look of this issue? The customer is asking about limitation details. Thanks!

[2021-08-22 22:44] msdpalam opened #80040 "Failed to add user (ml workspace MI) as Storage Blob Data Contributor for ...store: The role assignment already exist"
When tried to provide "Storage Blob Data Contributor" role on the storage account to azure ML Workspace managed ID, following the article https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-create-secure-workspace, I get the following error:
Failed to add "....-ws" as Storage Blob Data Contributor for *store : The role assignment already exists..

I guess the permission is now automat

[2021-08-22 22:55] YutongTie-MSFT commented on #80040
@msdpalam Hello Meer, thanks for the feedback here. I can understand your scenario but I am confused about the point you mentioned - retest. What's kind of "retest" you are talking about? Thanks.

[2021-08-23 00:20] jorge-ataide opened #80041 "Public IP change when resizing"
In this article it is stating that public ip addresses does not change when rezing the VPN Gateway.
_"It doesn't change across resizing, resetting, or other internal maintenance/upgrades of your VPN gateway."_

But, in the documentation below about the VPN Gateway settings, it's stating the opposite.
https://docs.microsoft.com/en-us/azure/vpn-gateway/vpn-gateway-about-vpn-gateway-settings#change

[2021-08-23 01:30] YutongTie-MSFT commented on #79862
Hello,

OCR can not detect the language in your image automatically, you need to use Text Analytics - Language detection to recognize the language : https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/how-tos/text-analytics-how-to-language-detection

So the step should be:
Use OCR/ Read API to recognize the content in your image.
Input your result in step 1 to Text Analytics A

[2021-08-23 01:50] jolauMSFT opened #80042 "Any ETA on when Premium File Shares will be available in Australia Central region"
I tried to follow the instructions to create an Azure Premium File Share storage account in Australia Central but File Shares is not available in the dropdown.
Confirmed that it is not available in the Azure Products by Region page. https://azure.microsoft.com/en-us/global-infrastructure/services/

Given this feature is GA, can someone advise when this will go live in Australia Central Regions?

[

[2021-08-23 01:54] ram-msft commented on #79899
Thanks, @edjez Can you please help with the [document ](https://docs.microsoft.com/en-us/azure/cognitive-services/personalizer/concepts-features#categorize-features-with-namespaces) update.

[2021-08-23 01:56] brucezlata opened #80043 "Can I associate subscription to another directory using azure cli or azureAD powershell"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da261ee4-3348-b520-a27c-98f9d9ef40cc
* Version Independent ID: 13d12189-ee46-8058-dd99-058adc69f1c5
* Content: [Add an existing Azure subscription to your tenant - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-d

[2021-08-23 01:58] pmozbert opened #80044 "this page obsolete. CorrelationFilter is not in Azure.Messaging.ServiceBus"
[Enter feedback here]
While this page seems to be for doing filtering with Azure.Messaging.ServiceBus, it uses CorrelationFilter which is not present in the namespace.   The new API only seems to support string subscriptionName as a filter.  It is unclear how one would replace a CorrelationFilter object with a subscriptionName

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-08-23 01:59] ram-msft commented on #79944
@edjez Can you please help on the  best practices.

[2021-08-23 02:00] MarileeTurscak-MSFT commented on #80030
@Yan-Son thanks for calling this out. Fixing this.

[2021-08-23 02:01] MarileeTurscak-MSFT commented on #80030
I made a pull request to fix this. https://github.com/MicrosoftDocs/azure-docs-pr/pull/169964

Ref: https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference

[2021-08-23 02:01] #80030 closed

[2021-08-23 02:01] jianleishen commented on #76007
@KranthiPakala-MSFT  could you please help to close this issue? see comment above

[2021-08-23 02:08] mshyatsu opened #80045 "We can continue to use WEBSITE_VNET_ROUTE_ALL if Route All is disabled"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#application-routing

As far as I can see, the Route All configuration setting doesn't take over the WEBSITE_VNET_ROUTE_ALL app setting **when WEBSITE_VNET_ROUTE_ALL is "1" and Route All is disabled**. Under this condition, I made sure that we can use WEBSITE_VNET_ROUTE_ALL is "1" as we have ever

[2021-08-23 02:35] MonikaReddy-MSFT commented on #80034
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-23 02:43] amanmcse commented on #80026
@cloud4free  Thank you for your feedback . We will investigate and update the thread further.

[2021-08-23 02:47] amanmcse commented on #80029
@nicolasdol  Thank you for your feedback . We will investigate and update the thread further.

[2021-08-23 02:51] amanmcse commented on #80031
@tshaiman  Thank you for your feedback. We will investigate and update the thread further.

[2021-08-23 03:51] MinRam opened #80047 "File URL is not available & double quotes can't be parse in Azure Cli"
**[Environment]**
- Azure Cli:
[code]
**[Problem]**
- 1.  File Url is unreachable<span style="color:blue">https://raw.githubusercontent.com/me/project/hello.sh </span>
![image](https://user-images.githubusercontent.com/14797464/130387405-76ac1b66-6081-4502-8998-0afed304c129.png)
- 2.  Azure Cli sends an error about double quotes. And it needs the escape character **'\\'**
![image](https://user-ima

[2021-08-23 04:05] jolauMSFT opened #80048 "Add clarity on step 6, the sample JSON, and how to handle HTTP400 errors"
Please add clarity at Step 6 making more explicit that the supplied JSON below will not work without all three parameters changed.

For example, use formatting to highlight the required components needed is given you can't add comments in a JSON

Scroll below on Request Body section and paste the following JSON, ensuring you replace the three properties:
-  "location":  with the location of your d

[2021-08-23 04:18] CHEEKATLAPRADEEP-MSFT commented on #80037
@torchy-newman  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-23 04:19] CHEEKATLAPRADEEP-MSFT commented on #80038
@torchy-newman  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-23 04:22] SubhashVasarapu-MSFT commented on #80041
@jorge-ataide, Thanks for reaching out. We will investigate and update this thread.

[2021-08-23 04:22] VikasPullagura-MSFT commented on #80047
@MinRam
Thanks for the feedback! I have assigned the issue to content author to check and update the document as appropriate.

[2021-08-23 04:22] VikasPullagura-MSFT commented on #80047
@amjads1
Can you please check and add your comments on this doc update request as applicable.

[2021-08-23 04:47] SnehaAgrawal-MSFT commented on #80045
@mshyatsu Thank you for your query . We will investigate and update the thread.

[2021-08-23 04:49] AnuragSharma-MSFT commented on #79843
@crussell52 This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-23 04:54] AjayKumar-MSFT commented on #79867
@gldraphael, Thanks again for taking time to share your valuable feedback.

To make that feature info more explicit and to bring that clarity I see that the setting info `Settings that end with the suffix _EXTENSION_VERSION` has been added under the section 'Settings that aren't swapped'. Perhaps, adding the same info in the 'Note' -something else this - " `Settings that end with the suffix _EXTEN

[2021-08-23 04:54] #79867 closed

[2021-08-23 05:02] CHEEKATLAPRADEEP-MSFT commented on #79946
@ingcol  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-23 05:02] #79946 closed

[2021-08-23 05:03] CHEEKATLAPRADEEP-MSFT commented on #79961
@Baradwaja  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-23 05:03] #79961 closed

[2021-08-23 05:04] Svijay-msft commented on #79858
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-08-23 05:04] CHEEKATLAPRADEEP-MSFT commented on #79977
@devmaxime  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-23 05:04] #79977 closed

[2021-08-23 05:11] kzk839 commented on #78071
I can see these in Japanese docs now!
Thanks for your handling!!

<img width="233" alt="2021-08-23_14h08_56" src="https://user-images.githubusercontent.com/67820613/130393608-59b3f4f6-23f8-4905-830c-6b61fd27feb3.png">

[2021-08-23 05:18] AjayKumar-MSFT commented on #79792
Appreciate your feedback on this, taking care of this on https://github.com/MicrosoftDocs/azure-docs/issues/79793

[2021-08-23 05:18] #79792 closed

[2021-08-23 05:19] AjayKumar-MSFT commented on #79793
@techthoughts2, This is great feedback. Thanks for taking time to share your valuable feedback.

Your feedback has been shared with the content owner (Azure templates doc) internally for further review and update the doc as appropriate.

[2021-08-23 05:20] nikkelly opened #80049 "Azure CLI Example Invalid"
The code example for the Azure CLI provides an invalid variable - single letter fix ($):

spID=$(az resource list -n <VM-NAME> --query [*].identity.principalId --out tsv)

should be

$spID=$(az resource list -n <VM-NAME> --query [*].identity.principalId --out tsv)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 023e532d

[2021-08-23 05:23] HarshitaSingh-MSFT commented on #79748
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-23 05:23] #79748 closed

[2021-08-23 05:25] hjf004 opened #80050 "Continuation token support for Node JS SDK"
According to https://docs.microsoft.com/en-us/javascript/api/@azure/cosmos/feedoptions?view=azure-node-latest#continuationToken , continuation token in Node.JS SDK seems to be supported now, while the document still says it's not supported in Node.JS SDK.
![image](https://user-images.githubusercontent.com/1544108/130394988-6bbfe0e8-0d62-4726-b9e3-9dea6be79ebc.png)

---
#### Document Details

⚠ *Do

[2021-08-23 05:31] SumanthMarigowda commented on #79772
@lagase Firstly, apologies for the delay in responding here!
Azure doesn't include any process to move blobs. To perform a move, you'll first copy the data and then delete the source data. Azure does provide several tools you can use to copy blobs to a destination.

There are three common cross-platform tools that you can use to perform these tasks:

Azure CLI
AzCopy utility
.NET Storage Client li

[2021-08-23 05:40] kernshen opened #80051 "MyFirebaseMessagingService -> AzureListener"
"12. Add the following code inside **MyFirebaseMessagingService** class, to process messages that are received."

"12. Add the following code inside **AzureListener** class, to process messages that are received."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a03ab5f-3dda-f469-33e0-9504c90d468c
* Version Independent

[2021-08-23 05:43] AnuragSharma-MSFT commented on #79849
@MinRam Thanks for reporting this. We have created a PR. This PR could take few days to get approved and will then be live in this document.
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-23 05:59] KrishnaG-MSFT commented on #79674
@MilanKrocek The dynamic port used by the DCOM will be based on the OS. So for W2008/W7 and above MABS will use port between 49152-65535.

Tagging @v-amallick for visibility, review and document enhancement consideration as appropriate.

[2021-08-23 06:00] becke-ch-s0-v1 commented on #79858
Hi @Svijay-msft , thank you for your reply. Just to make sure that I understood it correctly. The Managed VNet is dedicated to my ADF- respective Integration-Runtime Instance/Service. There is no other ADF- / IR Instance/Service (from another company) running in my VNet and therefore no one else can access my databases & storage accounts via my Private Endpoints. (maybe this information could be a

[2021-08-23 06:01] AshokPeddakotla-MSFT commented on #80002
@micahl  I have assigned the issue to the content author @ElazarK  to evaluate and update as appropriate.

[2021-08-23 06:21] ElazarK commented on #80002
@AshokPeddakotla-MSFT and @CHEEKATLAPRADEEP-MSFT thank you for bringing this to my attention.

@micahl I will look into this with the appropriate team members and will get back to you as soon as I have a response.

[2021-08-23 06:42] AnuragSharma-MSFT commented on #80048
@jolauMSFT Thank you for the detailed feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2021-08-23 06:43] AnuragSharma-MSFT commented on #80050
@hjf004 Thank you for the feedback. We are actively investigating and will get back to you soon.

[2021-08-23 07:14] saiut commented on #80023
@v-sreekesh P2S suport device document is "https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/vpn-gateway-faq-p2s-all-include.md"

[2021-08-23 07:30] kaiaschulz commented on #79388
Hey @ivapplyr,
regarding to this, I opened this feature request to extend the existing API with the short location (_<geo>_) names.
This is needed for automizing a private DNS solution to use the private link service.

Thanks a lot.

[2021-08-23 07:30] take-4c opened #80053 "The version 2.x of azure functions runtimes is also in maintenance mode?"
Hi Team,

This page seems to say that only version 1.x of azure functions runtimes is in maintenance mode.

But the following says that version 2.x is also in maintenance mode.
https://github.com/Azure/azure-functions-host/issues/6972

Is the version 2.x of azure functions runtimes also in maintenance mode?

Best Regards,
Takeshi Katayama

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-23 07:40] aussig commented on #34167
I've just had exactly the same experience, didn't trust windowsazure.com and googled it. Top result if you use 'is' in front of @jamshid 's search:

![windowsazure](https://user-images.githubusercontent.com/11244460/130408960-32c61b17-fee3-4553-9bd6-3c58648c2eb0.png)

(Note that the page in question actually describes a phishing site hosted on Windows Azure Blob Store, a different domain)

[2021-08-23 07:44] KrishnaG-MSFT commented on #79886
@ChrisRomp I have verified and updated the document as required. The change should reflect soon i.e., in less than 24 hours. Thanks again!

[2021-08-23 07:44] #79886 closed

[2021-08-23 08:06] AjayKumar-MSFT commented on #79793
techthoughts2, Since the feedback is specific to Azure templates doc, we will close this thread for now (on Azure docs space). If you have any questions, you can tag me in your reply. The feedback is noted and is shared with the content author for further review. We appreciate your feedback on this topic.

[2021-08-23 08:06] #79793 closed

[2021-08-23 09:09] astaykov opened #80055 "Please use correct terms when referring to SAML specification"
According to [SAML Specs](http://saml.xml.org/saml-specifications) issuer and NameID is not an attribute, but elements of the assertion. The usage of the term "attributes" confuses, as in "Should I include these values in attribute statement?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b1d9428-2dbb-c80b-c2cd-b4841

[2021-08-23 09:11] pawelmitrus opened #80056 "ADF inconsistent behaviour for xml files"
When trying to load XML file from ADLSgen2 to Azure SQL, ADF can't manage XML attributes (below sample xml)
1. Auto mapping  - it can't find sql columns for attributes (source column name = '@column', sink column name = 'column'). As a result, single row for each file is read.
2. Auto mapping - changing sql columns to start from @. ADF fails before runtime "BadRequest".
3. Import Schema, fix mappi

[2021-08-23 09:22] JackCaster opened #80057 "outputfiledatasetconfig and concurrent writing"
Is that right that `outputfiledatasetconfig` cannot be used with multiprocessing as described [here](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-move-data-in-out-of-pipelines#use-outputfiledatasetconfig-for-intermediate-data)? I have been using `outputfiledatasetconfig` in `upload` mode without any issues with multiprocessing so far. What I do is that I use each process to write

[2021-08-23 09:56] HarshitaSingh-MSFT commented on #80055
Hello @astaykov, thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-23 09:57] HarshitaSingh-MSFT commented on #80049
Hello @nikkelly , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-23 10:02] SadiqhAhmed-MSFT commented on #79989
@JnHs FYI

[2021-08-23 10:09] pawelmitrus opened #80058 "ADF wrong metadata for copy xml, rows read"
ADF Copy Activity for XML files shows the same number of files & rows read (for example 2 files, 2 rows), while writing the correct number to sink (each file contains 100 rows, then value would be 200).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2873c97-df0e-7826-f274-46337aa7c155
* Version Independent ID: 069c26b

[2021-08-23 10:10] yoelhor commented on #79995
Dear @jjcv2304, thanks for the feedback. You are right, both checkboxes need to be selected. I'm updating the article with the relevant information. A new version will publish later today, and this GitHub issue will be closed automatically (before the doc is published). If you have any questions or need further information, please open new GitHub issue.

[2021-08-23 10:29] #79995 closed

[2021-08-23 10:35] andreflowers commented on #78569
@SnehaAgrawal-MSFT, you probably didn't see my message. And probably this feedback system is just to 'look good' because I don't see any concrete responses and help to the errors and deficiencies that are pointed out here by users.
 Any news on this topic @SnehaAgrawal-MSFT and @sethmanheim ?

[2021-08-23 10:39] VikasPullagura-MSFT commented on #79850
@bhaskarbsingh Thanks for sharing the details.

@shortpatti The issue is related to TOC, please find below screenshot.

![image](https://user-images.githubusercontent.com/48944027/130434135-9606e77a-b2b3-4f46-b326-666a2ceb89e3.png)

[2021-08-23 10:46] AnuragSharma-MSFT commented on #79913
@itskritibhardwaj Could you please check all the Prerequisites conditions were met before running the PowerShell commands?

[2021-08-23 10:49] RohitMungi-MSFT commented on #80029
@rastala FYI. Could you please check and confirm if the same works for databricks 7.3 LTS?
@nicolasdol The error seems to be because of missing spark context. Could you please check if this works with default context as mentioned in [this ](https://docs.microsoft.com/en-us/azure/databricks/dev-tools/databricks-connect#python-1)documentation.

`sc = spark.sparkContext
`

[2021-08-23 10:56] BhargaviAnnadevara-MSFT commented on #80051
@kernshen Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-08-23 11:09] SumanthMarigowda commented on #80042
@jolauMSFT Thanks for the question! We are investigating and will update you shortly.

[2021-08-23 11:19] MayankBargali-MSFT commented on #80044
@pmozbert Thank you for your feedback! We will review and update as appropriate.

[2021-08-23 11:19] MayankBargali-MSFT commented on #80053
@take-4c Thank you for your feedback! We will review and update as appropriate.

[2021-08-23 11:26] SychevIgor opened #80059 "update nuget packages to up-to-date version"
Code sample wasn't updated for 2 years and maybe it's time to pay some attention.
nuget package 2.1-rc no longer available and latest is 5.* https://www.nuget.org/packages/AspNet.Security.OAuth.GitHub/

Please, update source code sample

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32cea1c1-63e6-f332-419a-03ebdfb61bad

[2021-08-23 11:27] Svijay-msft commented on #79786
Hello @MixolydianV,

Thank you for bringing this to our attention. We will be working on the change based on the feedback. The changes will be reflecting shortly.

Having said that, we will proceed with the closure of this thread provided you don't have further questions while we continue to work on your feedback at our end.

[2021-08-23 11:28] SychevIgor commented on #61981
@AjayKumar-MSFT hi. an what is the result of this sharing 11 months ago?

[2021-08-23 11:35] jmsteinbrunner commented on #78146
Checking back on this again.

[2021-08-23 11:36] amanmcse commented on #80043
@brucezlata Thank you for your feedback. We will investigate and update the thread further.

[2021-08-23 11:48] AnuragSharma-MSFT commented on #79608
@manios Thanks for your patience. As per the product group it will be better if you can raise a support ticket as this looks very specific issue which works fine with documents that are not migrated.

[2021-08-23 11:49] nicolasdol commented on #80029
Hi @RohitMungi-MSFT, thanks for your timely response.

It looks like it was the issue. I was changing the context when getting the number of executors by running `sc = spark._jsc.sc()`, removing this row made the issue disappear.

I guess this needs further confirmation, but on my side everything is now working using the 7.3 LTS Kernel.

[2021-08-23 12:18] ManasaDevadas opened #80060 "Incorrect query mentioned"
The below query will get all the Arc machines which are sending heartbeat - With or without extension.
How does this help in converting to extension managed?

_Identify machines with Log Analytics agent already installed | Run the following log query in Log Analytics to support conversion of existing Log Analytics agent deployments to extension-managed agent:Heartbeat\| where TimeGenerated > ago(3

[2021-08-23 12:41] m42jbz opened #80061 "Instructions are unclear or do not make sense"
This step does not make it clear, what exactly needs to be done or who or what should be assigned permissions:

Assigning a group to Azure AD does not make sense to me. AFAIK the group should be synced to Azure AD. So this should read something along the lines of:

We are struggling to set up MSIX app attach for weeks now and this guide has not made it clear enough to understand where things are g

[2021-08-23 12:50] ram-msft commented on #80057
@JackCaster Thanks for the question. We are investigating the issue and will update you shortly.

[2021-08-23 13:02] ianfraser-72 commented on #29167
Thanks - you just save me a whole truckload of work :)

[2021-08-23 13:06] ssivas commented on #80043
An associate a subscription to a directory option only available from Azure portal as of today. Thanks.

[2021-08-23 13:08] #80043 closed

[2021-08-23 13:16] SrijitBose-MSFT commented on #79997
@eosho can you please elaborate a little more on the ask? Particularly "pass a **value** to my docker file from the YAML multi-task approach". Where do you intend to define the **value**? Do you want to pass this **value** as a command line argument to `az acr run`?

[2021-08-23 13:17] shortpatti commented on #78071
@kzk839, thanks for letting me know.

#please-close

[2021-08-23 13:17] #78071 closed

[2021-08-23 13:19] shortpatti commented on #79850
@bhaskarbsingh, thanks for catching this; I did see it last week.  I'll make that change this morning.

[2021-08-23 13:25] SnehaAgrawal-MSFT commented on #80059
@SychevIgor Thank you for your query . We will investigate and update the thread.

[2021-08-23 13:35] AshokPeddakotla-MSFT commented on #79896
@terrymandin I am unable to reproduce the issue. For a deeper investigation and immediate assistance on this issue, please file a support request @ https://aka.ms/azsupt? If you do not have access to a support plan, could you please send an email to azcommunity@microsoft.com with the below details, so that we can work closely on this matter.
Thread URL: Link to this thread.
Azure Subscription ID:

[2021-08-23 13:38] PTC-JoshuaMatthews opened #80066 "ApplicationInsights.config override to Azure Gov endpoints documentation is misleading"
[Enter feedback here]

For anyone having trouble setting up gov endpoints in their applicationinsights.config for .NET framework, this page is very misleading.

![image](https://user-images.githubusercontent.com/22400649/130456630-5660d689-1edf-444a-88eb-6cbb59e96a82.png)

The image would suggest that TelemetryChannel.EndpointAddress would be set as a top level node of the config file. But when yo

[2021-08-23 13:42] KrishnaG-MSFT commented on #79674
@MilanKrocek BTW, as you mentioned, we are not able to find the reference information about the RPC/DCOM ports in the referred Azure document. Can you please clarify what you mean by that?

[2021-08-23 13:48] madiepev opened #80067 "Add content on setting dataset type and schema"
The YAML reference only includes metadata parameters. Please add guidance on how to create file/tabular dataset and specify the schema for a tabular dataset when using az ml data create --file dataset.yml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df03b7b4-7ff0-a932-aedc-ee481d6fe3a4
* Version Independent ID: 2a0d

[2021-08-23 14:03] ntorvik opened #80069 "Typo on page"
"Clone te repo" should read "Clone the repo"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 654d0adc-30bf-082a-3839-0254ef8dff3a
* Version Independent ID: ac3da002-80d6-7918-4e4f-0d3d096a022f
* Content: [Moving data in Azure API for FHIR to Azure Synapse Analytics](https://docs.microsoft.com/en-us/azure/healthcare-apis

[2021-08-23 14:14] AzureAzim opened #80070 "Tech community links to this page for screen capture protection but article makes no mention of it"
this is very confusing for customers who are looking for information on this capability.

This article references instructions on how to set up Screen capture protection, but the article provides no information
https://techcommunity.microsoft.com/t5/azure-virtual-desktop/announcing-public-preview-of-screen-capture-protection-in/m-p/1991476

Maybe we put at least some kind of 'coming soon' informat

[2021-08-23 14:21] SaurabhSharma-MSFT commented on #80069
@ntorvik Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 14:44] cgp-dwolfe commented on #79989
It is expedient to be proactive when asking for Linux support.  Depending on the severity of the case and the support agreement for a particular system, I can wait 24 hours between correspondences from a support person can save me a day or waiting for the engineer to ask for more information and then waiting for them to give me upload instructions to bypass the limit.  Being able to upload an sosr

[2021-08-23 14:51] VikasPullagura-MSFT commented on #80061
@m42jbz
Thanks for the feedback! We are currently investigating and will get back on this.

[2021-08-23 14:51] SychevIgor opened #80071 "Update sample to .NET 5 or schedule update to LTS .NET 6 in November"
Hi,
code samples would be nice to upgrade to latest .net version. as of now it's .net 5 and in November scheduled to release .net 6

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edb1fa6c-8433-882f-8b97-4d381f885b1d
* Version Independent ID: aad3ec71-363f-3500-8bcd-dc040f71821e
* Content: [Quickstart to learn how to us

[2021-08-23 14:53] baanders commented on #79990
Adding a quick update, I'm now looking into this with the product team.

[2021-08-23 14:54] baanders commented on #79991
Adding a quick update, I'm now looking into this with the product team.

[2021-08-23 14:55] KrishnaG-MSFT commented on #80066
@PTC-JoshuaMatthews Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-23 14:56] kobulloc-MSFT commented on #80070
@AzureAzim Thank you for bringing this to our attention!  Yes, I would expect to see related information after clicking on the link.  I'm going to assign this to the document author for review.

![image](https://user-images.githubusercontent.com/37556655/130469462-2033f9ec-14ed-4a7a-8ebb-ada329a6636a.png)

[2021-08-23 14:58] KrishnaG-MSFT commented on #80060
@ManasaDevadas Thanks for your comment! We will review and provide an update as appropriate.

[2021-08-23 15:05] ram-msft commented on #80067
@madiepev Thanks for the question. We are investigating the issue and will update you shortly.

[2021-08-23 15:09] VikasPullagura-MSFT commented on #80061
@m42jbz
The document should say that the group that includes the computer accounts need to get the role "Storage File Data SMB Share Contributor".

The document is updated and the changes will go live soon.

[2021-08-23 15:09] #80061 closed

[2021-08-23 15:11] jeremiahhoward opened #80074 "Link to Sec Baseline CSV is wrong"
https://github.com/MicrosoftDocs/SecurityBenchmarks/raw/master/Azure%20Offer%20Security%20Baselines/1.1/azure-public-ip-security-baseline-v1.1.xlsx

It points to security baseline for public IP. I don't see an actual file for Purview in either the 1.1 or 2.0 versions of our baselines in the repo either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-08-23 15:20] InformTechPro commented on #79064
Thank you for your help. Once I ran the test it became clear. I think current document is great.

[2021-08-23 15:30] StefanPlizga opened #80075 "Azure AD B2B Direct Federation does not work with DirectFedAuthURL and sub-domain of a DNS-verified domain"
Hello,

I am setting up Direct Federation in AAD External identities, however it looks like the behavior is not the one expected as per your documentation. I am using fictious domain names to explain the odd behavior.

We have the domain contoso.com  validated in our AAD and it is configured to use our AD FS for authentication. This is working fine.

We want to set up direct federation for a sub-d

[2021-08-23 15:33] JozoSlejko commented on #79510
@RyanHill-MSFT, I was thinking about adding more info on ASEv3 zone redundant deployments i.e. a minimum of three instances required. Also, if later adding a single instance App Service Plan to the zone redundant ASE, which zone is this instance running in?

[2021-08-23 15:33] mmacy commented on #78868
@maliksahil @jmprieur Promoting this to bug, sev-1. #label:"doc-bug" #label:"Pri1"

[2021-08-23 15:35] lostmygithubaccount commented on #80067
@madiepev "tabular datsets" from the v1 Python SDK are not currently available in the v2 CLI. @ynpandey fyi

[2021-08-23 15:35] mmacy commented on #78868
@JamesTran-MSFT Hey James, can you fix the labels on this issue for me? Looks like there's a bug in the PR comment automation - can't perform two label operations in same comment.

Labels should be **doc-bug** and **Pri1**.

[2021-08-23 15:45] kobulloc-MSFT commented on #79975
@tolga-balci Thank you again for reaching out!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-08-23 15:45] #79975 closed

[2021-08-23 15:50] Coopem16 opened #80077 "Does the https://aadap-portcheck.connectorporttest.msappproxy.net/ still exist"
Event Viewer provides the following link when there is errors.
That points directly to https://aadap-portcheck.connectorporttest.msappproxy.net/
I can no longer get to that page.
A search for this URL brings me to this page.

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7345cab-8fdd-2b49-1f96-61dcba14a319
* Version Indep

[2021-08-23 15:52] MilanKrocek commented on #79674
Try to find "Here are the steps" on that page. It should redirect you here: https://docs.microsoft.com/en-us/system-center/dpm/deploy-dpm-protection-agent?view=sc-dpm-2019

[2021-08-23 15:59] HeidiSteen commented on #79986
Hi @SepidehSaba, it sounds like you are running an indexer on demand, where "on demand" is every minute.  I will forward this question to engineering, but I do know that indexers track the last document that was processed, and I am guessing that it's not able to keep up.  Usually if rapid updates are required, the guidance is to push your changes to the index instead of using indexers to pull the

[2021-08-23 16:01] MarileeTurscak-MSFT commented on #80077
@Coopem16
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 16:03] KrishnaG-MSFT commented on #79674
@MilanKrocek Got it. Thanks.
@v-amallick - FYI.
![image](https://user-images.githubusercontent.com/45988031/130479807-dcc4c6c7-b86d-4fcb-9ba4-7178c0ed0a19.png)

[2021-08-23 16:04] prateekmanochakwc opened #80078 "Runbook Can not be submitted"
Hi..
I have been using multiple azure automation runbook a to resume analysis services, process analysis server model etc. untill Friday  everything was working fine. Over the weekend none of my scheduled runbooks ran. When I try to start them manually a red blade appears for a few seconds with message “the runbook can not be submitted”. Moreover I can not view or edit the runbook. No issues with

[2021-08-23 16:06] Nicholak-MS commented on #79993
Hi @marcgoff, I have added the two missing products noted above. These will reflect in a publish later today. Thanks.

#please-close

[2021-08-23 16:06] #79993 closed

[2021-08-23 16:06] mattmsft commented on #79986
Hi Sepideh,

Unfortunately the quickest you can run an indexer today is once every 5 minutes even if you trigger an on-demand run. If some documents are being processed multiple times, we would like to help you understand why this is the case. Can you please share your search service name and we can help investigate this issue?

We do not recommend repeatedly triggering on-demand runs as the index

[2021-08-23 16:16] ChaitanyaNaykodi-MSFT commented on #79115
Hello @ashkickindevelopment, Thank you for your feedback. The circuit bandwidth defined in the testing conditions are correct. Closing this issue as duplicate of #79884 .
Please let me know if you have any additional concerns. Thank you!

[2021-08-23 16:16] #79115 closed

[2021-08-23 16:18] YutongTie-MSFT commented on #79862
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2021-08-23 16:18] #79862 closed

[2021-08-23 16:28] RyanHill-MSFT commented on #80071
<div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;helvetica neue&quot;, sans-serif; font-size: 10.5pt; color: rgb(50, 49, 48);"><div style="font-family: &quot;segoe ui&quot;, &quot;segoe ui web (west european)&quot;, &quot;segoe ui&quot;, -apple-system, blinkmacsystemfont, roboto, &quot;he

[2021-08-23 16:32] ishmeet177 opened #80079 "Correction in document"
In note section, there is a point mentioned below:

Contains an external endpoint or an externally resolvable FQDN, the application gateway routes the request to the backend server by using its frontend public IP address. The DNS resolution is based on a **private** DNS zone or custom DNS server, if configured, or it uses the default Azure-provided DNS. If there isn't a frontend public IP address,

[2021-08-23 16:34] m1stermanager opened #80080 "python examples reference undefined variable 'name'"
In the "Orchestration Trigger" -> "Trigger Sample", the python examples seem incorrect, or some sort of global scope manipulation is unexplained.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b2c8f85-9416-d9f2-e082-b1b15961d810
* Version Independent ID: e987c477-36ef-76b9-6dbd-db76fd291e7b
* Content: [Bindings for Du

[2021-08-23 16:41] MoAGitHub opened #80081 "operationLocation is null"
Hello,
The line below gives a compilation error on readInStreamWithServiceResponseAsync method.
 ReadInStreamHeaders responseHeader =
            vision.readInStreamWithServiceResponseAsync(localImageBytes, null, null)
                .toBlocking()
                .single()
                .headers();

However, I tried the code below and it was working, but now operationLocation is returned as nul

[2021-08-23 16:49] KumudD commented on #77860
@GitaraniSharma-MSFT Please can you change the service label to **ddos-protection/svc** . Thanks!

[2021-08-23 16:57] rconiv opened #80083 "Install the agent for Azure AD DS warnings"
I might just not be seeing it, but where/what are the warnings in the power shell window example for the steps of installing the AAD Connect Health App for AD DS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb5cf254-9d8e-de7a-30e8-487b68205bc2
* Version Independent ID: 28bc66e2-0de2-73e6-8cb8-243daab81628
* Content:

[2021-08-23 16:58] jonwbstr commented on #79875
No feedback, I saw the callout and was curious where it went. I always like
to read through other people's feedback 😃.

On Mon, Aug 23, 2021, 11:53 AM ChaitanyaNaykodi-MSFT <
***@***.***> wrote:

[2021-08-23 17:00] KumudD commented on #77039
@SaiKishor-MSFT Please can you remove the **virtual-network/svc** label and assign the **ddos-protection/svc** label to this issue. Thanks!
@aletheatoh Please can you review this PR and update content as appropriate. Thanks!

[2021-08-23 17:01] #79875 closed

[2021-08-23 17:06] RyanHill-MSFT commented on #19524
Doc has been updated. You will need sufficient networking permissions to add a Regional VNet, see *Regional VNet Integration* under [Debug access to virtual network-hosted resources](https://docs.microsoft.com/en-us/azure/app-service/web-sites-integrate-with-vnet#debug-access-to-virtual-network-hosted-resources)

[2021-08-23 17:06] #19524 closed

[2021-08-23 17:12] RyanHill-MSFT commented on #41583
We have updated the doc to reflect that *Windows Server Active Directory integration* is not supported in VNet integration.

[2021-08-23 17:12] #41583 closed

[2021-08-23 17:13] GitaraniSharma-MSFT commented on #77860
@KumudD , I have changed the service label to ddos-protection/svc as requested.

[2021-08-23 17:15] SaurabhSharma-MSFT commented on #80058
@pawelmitrus Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 17:15] SaurabhSharma-MSFT commented on #80056
@pawelmitrus Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 17:47] mmacy commented on #78641
@Jackson-Woods Jackson, can you help answer @jukkaleh's question?  If this isn't your wheelhouse, please reassign accordingly.

#reassign:Jackson-Woods

Cc: @psignoret @madansr7

[2021-08-23 17:49] PaulCornellDB commented on #56875
I checked with Databricks Engineering about this. It should be prod-westeuc2-observabilityeventhubs.servicebus.windows.net. Also, there is currently no secondary endpoint.

This issue is resolved in the Databricks source files and will be published soon. #label:"please-close".

[2021-08-23 17:50] mmacy commented on #77412
@hpsin Reassigning this issue to you so you can evaluate and provide input. Let me know how you'd like to proceed if/when this needs doc work. Thanks!

#reassign:hpsin

[2021-08-23 17:50] #79786 closed

[2021-08-23 17:53] SepidehSaba commented on #79986
Hi Matt,
What issues we might face if we trigger it on-demand every 1 minute or so?
Because during our tests, it's working fine, the only issue we saw was the indexer duplicating some runs. And not for all documents.
We've opened a ticket to Azure Portal, you can get our information from our Azure Search from there. Ticket #: 2108190010002595

Our Use case is to provide our clients with the option

[2021-08-23 17:53] mmacy commented on #75794
@rwike77 Looks like this was sitting in the wrong assignee's queue, reassigning to you as doc author.

#reassign:rwike77

Also Cc'in @msewaweru for PowerShell.

[2021-08-23 17:58] SubhashVasarapu-MSFT commented on #80079
@ishmeet177 , Thanks for reaching out. We will investigate and update this thread.

[2021-08-23 18:40] timsander1 commented on #80050
I can update the doc. For node.js SDK, they're supported with the same limitation as Python (in-partition queries).

[2021-08-23 18:48] zaalion opened #80088 "would be nice if you used this expression in an actual policy XML for better clarity."
[Enter feedback here]
would be nice if you used this expression in an actual policy XML for better clarity.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a90be78-63d0-8ee0-d1d6-a9280e2ba892
* Version Independent ID: 500c452d-372b-92a9-dfca-b2586669a9bf
* Content: [Azure API Management policy expressions](http

[2021-08-23 18:49] MarileeTurscak-MSFT commented on #80078
Hi @prateekmanochakwc ,

Since this feedback seems to be a product issue and doesn't seem to be related to feedback on a particular doc, I would recommend posting your question to Microsoft Q&A or working with support. https://docs.microsoft.com/en-us/answers/topics/azure-automation.html

[2021-08-23 18:49] #80078 closed

[2021-08-23 18:56] MarileeTurscak-MSFT commented on #80074
@jeremiahhoward
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 18:58] lunar87 opened #80089 "Incorrect hyperlink in intro paragraph"
In the first paragraph it is supposed to link to
"Common and service-specific schema for Azure Resource Logs" at https://docs.microsoft.com/en-us/azure/azure-monitor/essentials/resource-logs-schema but instead just links back to itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 847615aa-75d5-01d1-c64b-8ce385c14397

[2021-08-23 19:01] BarbaraSelden commented on #79241
Thank you for this feedback. I will work with our subject matter experts to see how we can incorporate your suggestions!

[2021-08-23 19:04] shortpatti commented on #79850
#please-close

content updated 8/23/2021

[2021-08-23 19:04] #79850 closed

[2021-08-23 19:18] cynthn commented on #71329
I believe these issues were all fixed in a July update. If you find more issues or the syntax still won't work, feel free to reopen this issue or create a new one. Thank you!

#please-close

[2021-08-23 19:18] #71329 closed

[2021-08-23 19:23] cynthn commented on #71321
I believe this issue was fixed in a recent update. If there are still issues with the file, please feel free to reopen this issue or create a new one. Thank you!

#please-close

[2021-08-23 19:23] #71321 closed

[2021-08-23 19:27] cynthn commented on #70929
@Dbakevlar Are there any updates on this issue? If it is fixed, can you let us know it is okay to close? Thanks!

[2021-08-23 19:30] cynthn commented on #70908
@genlin Has this issue been addressed? It was opened in azure-docs-pr, but it might have been fixed in SupportArticles-docs-pr?

If it has been fixed, can you please let us know so we can close this out? Thanks!

[2021-08-23 19:32] KBaroni opened #80090 "No 'information protection' link from M365 Compliance page"
[Enter feedback here]
Hello:

Since I want to understand how to create or apply or find sensitivity labels that i can extend to Purview, I am following the steps in this article.

Step #1 says 'navigate to Information Protection' page.   In my subscription, there isn't an info protection page but there is 'information governance'. Will upload snapshot from my view of M365 compliance.
<img width="1

[2021-08-23 19:34] cynthn commented on #70869
The article has been updated since this issue was created, so I think the section in question no longer exists? I'm going to close this issue for now, but feel free to as for it to be reopened if the issue wasn't addressed. Thank you!

#please-close

[2021-08-23 19:35] MarileeTurscak-MSFT commented on #80083
@rconiv
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 19:35] davystrong opened #80091 "RSS feed not updating"
The RSS feed for this page didn't update on 18/8, even though the page updated. It seems that the page date hasn't changed since February, but I'm not sure if that's linked (I only subscribed recently).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fd50048-3674-82f3-bf55-125eeb1fbe71
* Version Independent ID: dac6ca5

[2021-08-23 19:38] cynthn commented on #70620
@Dbakevlar Can you review this issue? Let me know if you need help with closing or reassigning it as well.

[2021-08-23 19:53] andybouts commented on #70869
This is not correct, the [doc was moved as a bullet of the original doc linked above](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cloudinit-update-vm) and still needs a blurb added for users ... otherwise, users will get to "**Run the package management tool and check for updates.**" and they will be frustrated like I was ...

[2021-08-23 19:55] baraBlz opened #80092 "Scrubcoding"
[As someone who has no clue about programming whatsoever, I would hate to make the wrong move and pretend to know more than I do. Would be amazing to get some help with this.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8336877-da93-ecd6-829a-0cc068caaf29
* Version Independent ID: 1e70f094-f220-92c6-7e5b-cfaf071101

[2021-08-23 20:01] cynthn commented on #70869
@Karishma-Tiwari-MSFT Can you reopen this issue and reassign it to srijang? Thank you!

@srijang FYI

[2021-08-23 20:02] RyanHill-MSFT commented on #53672
Doc has been updated. See #19524.

[2021-08-23 20:02] #53672 closed

[2021-08-23 20:02] cynthn commented on #70869
@andybouts Thanks for letting me know that the issue still exists. I'm having this reopened and assigned to the the new person managing cloud-init docs for Azure :)

[2021-08-23 20:17] henrymbuguakiarie commented on #77864
#assign: @EmLauber

[2021-08-23 20:17] henrymbuguakiarie commented on #77864
#unassign: @negoe

[2021-08-23 20:26] #79973 closed

[2021-08-23 20:27] MonikaReddy-MSFT commented on #80089
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-23 20:28] MonikaReddy-MSFT commented on #80092
@baraBlz -
Thank you for your question.
 Can you please share with us the more info of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-08-23 20:35] porrascarlos802018 opened #80093 "Clarification required"
Document states
"This action will stop your control plane and agent nodes altogether, allowing you to save on all the compute costs, while maintaining all your objects and cluster state stored for when you start it again."

Please clarify that Stopping a cluster will delete  all instances, nodes under the VMSS of AKS. If the customer has any configuration or resource that associated to a cluster s

[2021-08-23 20:45] Karishma-Tiwari-MSFT commented on #80093
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2021-08-23 20:48] dwrusse opened #80094 "Add ARNs for AWS permissionset"
Please add the actual ARNs for the AWS roles required:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f48f68b8-f15e-d900-8e61-6aadec8aeecd
* Version Independent ID: d4a1522c-2764-83aa-006c-0cdb00951e63
* Content: [Connect your AWS account to Azure Security Center](https://docs.microsoft.com/en-us/azure/security

[2021-08-23 20:55] julieMSFT commented on #79963
#please-close

[2021-08-23 20:55] #79963 closed

[2021-08-23 21:03] dwrusse commented on #80094
#80094

[2021-08-23 21:26] PandasBots opened #80099 "Possible Code Error?"
Hey guys,

I use Python for durable functions, and I'm testing a way to avoid duplicate instances in my process.

For this purpose I looked at this documentation:

https://docs.microsoft.com/pt-br/azure/azure-functions/durable/durable-functions-singletons?tabs=python

Specifically this part of the code:

[code]

In my test it only worked when I changed the line:

[code]

for

[code]

Anybody knows

[2021-08-23 21:48] JamesTran-MSFT commented on #80094
@dwrusse
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-08-23 21:52] Nicholak-MS commented on #78499
Hi @DEberhardt, it took me a while to reconcile across all of your Product SKU Lists, but I think I have got them all now. I have published several additions over the last couple of weeks, the last of which should publish later Monday or early Tuesday. This should be the last of the additions necessary to get all of your missing products. Please let me know if you find anything amiss.

Thanks!

[2021-08-23 21:53] Nicholak-MS commented on #78499
#please-close

[2021-08-23 21:53] #78499 closed

[2021-08-23 21:54] Nicholak-MS commented on #77128
#please-close while awaiting response

[2021-08-23 21:54] #77128 closed

[2021-08-23 21:57] DEberhardt commented on #78499
Nice one, thank you! I shall test them tomorrow :)

[2021-08-23 22:02] Theresa-Nguyen commented on #79705
Line 264 is missing  a open square bracket. Other than that links look good. Thanks.

[2021-08-23 22:11] cgillum commented on #80099
@davidmrdavid can you comment on this one?

[2021-08-23 22:13] MarileeTurscak-MSFT commented on #80075
@StefanPlizga
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 22:24] mike-urnun-msft commented on #80080
@m1stermanager Thank you for your feedback! We will review and update as appropriate.

[2021-08-23 22:28] lucashend opened #80100 "Incorrect URLs listed in Documentation"
**Configure Azure AD SSO, Step 4.**

a. In the Identifier text box, type a URL using the following pattern: https://<subdomain>.awp.autotask.net/singlesignon/saml/metadata

b. In the Reply URL text box, type a URL using the following pattern: https://<subdomain>.awp.autotask.net/singlesignon/saml/SSO

**The URLs are incorrect. This should actually be:**

a. In the Identifier text box, type a URL u

[2021-08-23 22:31] mike-urnun-msft commented on #80088
Hello @zaalion - Thank you for your feedback! Do you mean more samples?

[2021-08-23 22:44] harlananelson opened #80101 "Create compute instance"
[Enter feedback here]
Lost at this point.

"On the left side, under Manage, select Compute."

This does not exist on my screen even though I have followed all the previous steps. The tutorial might be referencing an outdated version of AML or the author did not carefully guide the learner to the correct screen.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-08-23 22:52] davidmrdavid commented on #80099
Thanks for the ping @cgillum.
Thanks for reaching out @PandasBots. It seems you're right, the return type of `get_status` is never `None`, so the right way to check this is to inspect the `runtime_status` field.

@PandasBots, would you be interested in contributing the edit now that you've identified the fix? We're always happy to accept third party contributions :)

If not, I can author it myself

[2021-08-23 23:05] MarileeTurscak-MSFT commented on #80100
@lucashend
Thanks for your feedback! We will investigate and update as appropriate.

[2021-08-23 23:13] MarileeTurscak-MSFT commented on #80100
@lucashend what about the sign-on URL?

[2021-08-23 23:16] MarileeTurscak-MSFT commented on #80083
They should appear if you haven't met all of the prerequisites. What exactly were you looking for?

![image](https://user-images.githubusercontent.com/13383753/130531323-484fe4bc-231a-457d-9dd1-62c581383470.png)

[2021-08-23 23:16] #80083 closed

[2021-08-23 23:32] rconiv commented on #80083
That isn’t what is shown on the image on the website.  It shows everything is successful.

Best Regards,
Jon Mercer
HelpDesk Support
Universal Language Service, Inc.

Phone:  1 (888) 462-0500 • Direct: 1 (425) 691-3200
Email: ***@***.******@***.***>
Address:  929 108th Ave NE, Suite 710, Bellevue, WA 98004
[Logo - Color, logo & name on Inv]<http://www.universallanguageservice.com/>
Over-the-Phone<

[2021-08-23 23:35] lucashend commented on #80100
Autotask/AWP is the old name for Datto Workplace. The login URL is us.workplace.datto.com, and that should be reflected in these links. Technically, the AWP link may work due to redirection or something, but us.workplace.datto.com is the proper way.

[2021-08-23 23:35] hpsin commented on #77412
We do support it per standards requirement, but don't use that in our standard flows, nor do we especially recommend it. We can add a note to the doc saying that we support basic auth for client credentials pursuant to OAuth 2.3.1

[2021-08-24 00:19] kevin-titantech commented on #80081
I have the exact same problem that started on 8/19. Interested to know the resolution.

[2021-08-24 01:34] Karishma-Tiwari-MSFT commented on #79869
Thanks for your contribution to the doc by opening a PR. Once the reviewer approves the PR, the changes will be merged to the doc.

[2021-08-24 01:56] #68828 closed

[2021-08-24 02:10] RenSilvaAU opened #80104 "Limit of CPU cores per region per subscription is 10? This seems to be wrong"
It think this is wrong.

I the page https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/container-instances-limits.md

we have the following limit:

**Standard sku cores (CPUs) per region per subscription | 10**

There must be some information missing there, as I am sure a subscription can use more than 10 CPUs

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-08-24 03:03] code4clouds opened #80106 "Private offers doc needs a link to doc showing Publishers how these are created"
Hi

This page shows how to buy a private offer as a buyer, but it needs a link to instruct Publishers on how to create this private offer so it can be used here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7072ae79-3683-d055-356a-ed057e573c74
* Version Independent ID: a2b9ec30-eb75-571b-e033-9d33cf1b1cd5
* Content:

[2021-08-24 03:10] zaalion commented on #80088
Hello Mike. Yes please. More examples in the context of a policy XML.

[2021-08-24 03:18] MS-jeremy opened #80108 "Azure Cosmos DB capacity calculator doesn't support Gremlin API"
[Enter feedback here]
https://docs.microsoft.com/en-us/azure/cosmos-db/plan-manage-costs#estimate-costs-before-using-azure-cosmos-db
Gremlin API is not applied to "Azure Cosmos DB capacity calculator", so it may add some wording here to remind customer about that. Or do we have any other ways to estimate for Gremlin API? it will be good to mention here as well if any.

---
#### Document Details

⚠

[2021-08-24 03:29] ram-msft commented on #80081
@MoAGitHub Thanks for the question. We are investigating the issue and will update you shortly.

[2021-08-24 03:30] ram-msft commented on #80101
@harlananelson Thanks for the feedback! We will review and update accordingly.

[2021-08-24 04:17] CHEEKATLAPRADEEP-MSFT commented on #80090
@KBaroni  Thanks for the feedback! We are investigating and will update you shortly.

[2021-08-24 04:20] AnuragSharma-MSFT commented on #79608
@manios We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-24 04:20] #79608 closed

[2021-08-24 04:20] #79849 closed

[2021-08-24 04:21] ram-msft commented on #80091
@davystrong Thanks for the question. We are investigating the issue and will update you shortly.

[2021-08-24 04:22] AnuragSharma-MSFT commented on #79913
@itskritibhardwaj Awaiting your response on this.

[2021-08-24 04:28] itskritibhardwaj commented on #79913
Sorry for the delay.
I tried again by following all the prerequisites and implemented successfully.
Thank you for the concern.

[2021-08-24 04:53] PCNZ opened #80110 "Add info about Azure DNS limits and how to avoid these when using your own DNS server"
Following the guidance for "Name resolution that uses your own DNS server" please provide documentation about what configuration to use when volume of public queries being forward to Azure exceed it's limits. https://docs.microsoft.com/en-us/azure/dns/dns-faq#do-i-have-to-delegate-my-domain-to-all-four-azure-dns-name-servers-
One workaround suggested so far which is not documented is a list of ALL

[2021-08-24 05:24] BhargaviAnnadevara-MSFT commented on #79909
@maythamfahmi No worries, thank you for taking the time to provide feedback. Please keep them coming and help us improve the Azure docs. :)

[2021-08-24 05:31] VikasPullagura-MSFT commented on #80104
@RenSilvaAU Thanks for the Feedback, we will check and update the document accordingly.

[2021-08-24 05:37] rwike77 commented on #75794
@momena, sorry for the slow reply I didn't see this.  Are you still having trouble with this?  I think I remember hearing about about a conflict between the AzureAD and AzureADPreview modules that comes up sometimes.  Can you try uninstalling/re-installing the AzureAD module and then reinstalling AzureADPreview with the -allowclobber switch?

# Uninstall the AzureAD Module
UnInstall-Module AzureAD

[2021-08-24 05:45] jukkaleh commented on #78641
To answer my own question, I did an experiment where app roles were assigned to groups and users to groups.
When user logged in he got assigned correct app roles depending on his groups. Still would like to have this information updated on documentation

[2021-08-24 06:17] AndrevdG opened #80111 "Description of the process of linking certificate to Key Vault does not appear to be correct (or clear)"
I find the document confusing and I feel it describes two different types of deployment. Especially the _Note_ section describing:

According to the [ARM Reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/applicationgateways?tabs=bicep#applicationgatewaysslcertificate) there are two methods of inserting a certificate:
- using the _data_ and _password_ properties as descr

[2021-08-24 06:18] curia-damiano opened #80112 "CreateDatabaseIfNotExistsAsync and CreateContainerIfNotExistsAsync return Responses"
If you sample code at Step 4, there is something like:
   var database = await cosmosClient.CreateDatabaseIfNotExistsAsync(...);
And then in Step 5:
   var container = database.CreateContainerIfNotExists(...)

In reality the first call returns a DatabaseResponse, and the second a ContainerResponse.

The database and containers are properties of the related responses.

---
#### Document Details

⚠

[2021-08-24 06:22] manios commented on #79608
Hi @AnuragSharma-MSFT!

We will create a support ticket to tackle it.

Thanks again!
Christos

[2021-08-24 06:29] Svijay-msft commented on #79858
Your understanding is right. There is no other ADF- / IR Instance/Service (from another company) running in your VNet. As mentioned earlier - it is isolated to the ADF Service associated.

We will close this out provided you have no query. Please let us know if you have any further questions.

[2021-08-24 06:38] anirugu commented on #79901
I see a lot of pages mention windowsazure.storage which is deprecated. for example https://docs.microsoft.com/en-gb/learn/modules/communicate-between-apps-with-azure-queue-storage.

These pages required updated with new detail. Maybe only namespace or in some case the code will be little bit changed.

[2021-08-24 06:46] SwathiDhanwada-MSFT commented on #79713
@pthomes848 Apologies for late response. Currently the work is in progress for updating the Backup Estimator sheet  and as per the update I have received , it will be updated in the month of September.

As there are no further documentation changes for now, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-24 06:46] #79713 closed

[2021-08-24 06:53] SadiqhAhmed-MSFT commented on #80106
@code4clouds - Thanks for the feedback. We have assigned this issue to the content owner for review.

[2021-08-24 07:28] SnehaAgrawal-MSFT commented on #79894
@PrometheusRising1 Thanks for asking question! Could you please try to push to the Azure remote with `git push azure master` (see [Change deployment branch](https://docs.microsoft.com/en-us/azure/app-service/deploy-local-git?tabs=cli#change-deployment-branch)). Let us know.

[2021-08-24 07:36] AnuragSharma-MSFT commented on #80112
@curia-damiano Thanks for reaching out to us. Could you please elaborate your problem statement a little more if possible?

[2021-08-24 07:39] AnuragSharma-MSFT commented on #79913
@itskritibhardwaj Glad it worked out for you.

We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-08-24 07:39] #79913 closed

[2021-08-24 07:39] miqm commented on #64660
I've tested this again today and it seems it's working now, property is not being cleared and set to false after consecutive updates to the webapp. 🎉

[2021-08-24 07:40] AnuragSharma-MSFT commented on #80050
@timsander1 Thanks a lot for covering this.

@hjf004 Please let us know if you have any other queries on the same.

[2021-08-24 08:16] MarcoJanse opened #80115 "Suggestion to include recommended new roles to policy assignment"
I think the Directory roles has been expanded quite a lot since this document was created. Please review if any of these roles should also be added to the minimum recommended roles to the policy assignment:

- Application Administrator
- Attack simulation administrator
- Authentication administrator
- Authentication policy administrator
- Azure AD joined device local administrator
- Azure DevOps a

[2021-08-24 08:19] AnuragSharma-MSFT commented on #80108
@MS-jeremy Thanks for reaching out to us. Yes there is no calculator for Gremlin API as of now. This is being assigned to the content author to evaluate and update the documentation accordingly.

[2021-08-24 08:28] KrishnaG-MSFT commented on #79904
At this point it appears that there's no edits or updates needed for the referred Azure documentation so closing this issue for now.
If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2021-08-24 08:28] #79904 closed

[2021-08-24 08:39] HenryFreiburg opened #80116 "Feedback on ANF page"
Hi,

in this section:

File sharing and Global File Caching

    Build Your Own Azure NFS? Wrestling Linux File Shares into Cloud
    Global File Cache / Azure NetApp Files Deployment
    Cloud Compliance for Azure NetApp Files

The Global File Cache link (https://youtu.be/91LKb1qsLIM) goes to a Youtube video from 2019, with the old product name (Talon -the company NTAP bought).    It would be REA

[2021-08-24 08:41] CHEEKATLAPRADEEP-MSFT commented on #79802
@euangms Could you please look into the above ask?

[2021-08-24 08:42] SwathiDhanwada-MSFT commented on #75456
@kajencik Thanks for providing your valuable feedback. I have shared your inputs with product team and have internal tracking work item for the same.

As of now, there is no further documentation changes, we will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2021-08-24 08:42] #75456 closed

[2021-08-24 09:21] psignoret commented on #74269
Tagging @abhijeetsinha for follow-up for a potential documentation improvement detailing how to identify privileged users.

#please-close

[2021-08-24 09:21] #74269 closed

[2021-08-24 09:42] GitaraniSharma-MSFT commented on #80110
@PCNZ , thank you for your feedback. We have assigned this to the content owner/author for review.

@rohinkoul , could you please review the suggestion and provide your inputs?

[2021-08-24 10:05] Neutrino-Sunset opened #80119 "Add Azure Active Directory B2B collaboration users documentation wrong for adding Guest users"
Adding a guest to an application does not work as described [here](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/add-users-administrator#add-guest-users-to-an-application).

I have an application registered as single tenant, with an SPA endpoint registered, which I'm accessing via an Angular application. Following the guide linked above proceeds as described below:

I

[2021-08-24 10:08] iNdYvidual opened #80120 "Policy name is missing a colon"
Hi content devs,

this is just a quick hint that the mentioned Policy "[Preview] Linux machines should meet requirements for the Azure compute security baseline" is missing a colon and therefore, customers cannot find it when searching for it on the Portal.
The correct name is:
[Preview]**:** Linux machines should meet requirements for the Azure compute security baseline

Please rectify that if po

[2021-08-24 10:19] piotrsrodka opened #80121 "Static website"
What is runtime stack for static website?

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: 4ad93cdc-b192-914c-796c-b1e022d31df5
* Version Independent ID: 56f48dbd-a0f0-a2ce-6ccc-0a82ae51a876
* Content: [Run built-in containers FAQ - Azure App Service](https://docs.microsoft.com/pl-pl/azure/app-service/

[2021-08-24 10:21] SadiqhAhmed-MSFT commented on #79970
@nitvit610 Thanks for bringing this to our notice. We will update the documentation with required information. For now, you can follow the instructions from this link - https://docs.microsoft.com/en-us/azure/backup/backup-azure-delete-vault#method-1 to set up a security pin.

Thanks once again for your valuable feedback!

 @v-amallick FYI, doc-enhancement!

[2021-08-24 10:21] #79970 closed

[2021-08-24 10:25] v-amallick commented on #79970
@nitvit610/@SadiqhAhmed-MSFT: Will update the article soon. Thanks.
Member
SadiqhAhmed-MSFT

[2021-08-24 10:33] v-bbalaiagar opened #80122 "Azure Function V3 Local Testing"
I am trying to locally test service bus trigger. I keep getting the following error _System.Private.CoreLib: Exception while executing function: TestTransaction. Microsoft.Azure.WebJobs.Host: Exception binding parameter 'message'. Microsoft.Azure.ServiceBus: Operation is not valid due to the current state of the object.

I am using Azure Functions V3 and .netcore 3.1
I am using the following DLLs

[2021-08-24 10:33] v-hagamp commented on #75672
Hi @timvankester, Thanks for the comment. Please edit the article with the changes you are expecting to add in it.

or

Please share  [us](SaaS Application Integrations <SaaSApplicationIntegrations@service.microsoft.com>) the test account/login credentials for the TopDesk to collect the latest screens and to update in the document.

Click Edit to update the article directly as shown below to updat

[2021-08-24 10:59] AnuragSingh-MSFT commented on #79596
@rachelxj-ms The document has been updated for WEBSITE_CONTENTOVERVNET [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentovervnet).  Thank you very much for helping us with it.

Regarding the other query you had, I am working to get more information - [Restrict your storage account to a virtual network](https://docs.microsoft.com/en-us/azure/azure-

[2021-08-24 10:59] qureshiaquib opened #80123 "AutoRegistration for Private DNS Zone is limited to single VNET"
[Enter feedback here]
Hi Team,

Could you please update the same in the restriction section of this page?
AutoRegistration for Private DNS Zone is limited to single VNET.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49cac13a-f868-1c40-da67-488c1ee1fb13
* Version Independent ID: f038ceb8-d065-3f91-fb92-346a93e8e9f3
*

[2021-08-24 11:29] becke-ch-s0-v1 commented on #79858
Thank you for your reply. I have no further questions. The issue can be closed.

[2021-08-24 11:31] #79858 closed

[2021-08-24 11:52] Jared975 commented on #38898
Hello,
I believe this is still happening and that there might be a bug on the SearchResults.

I have an alert that uses the InsightMetrics table joined with itself to do a comparison on freespacepercentage and freeMBavailable.

The alert I am using fires to a logic app for pre-processing. While tinkering with the autoMitigate functionality, it appears that having this option on, I do not get searc

[2021-08-24 11:59] MonikaReddy-MSFT commented on #80120
@iNdYvidual - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-08-24 12:02] yanivlavi commented on #38898
Search results are not included in stateful alerts right now. We planned to add that soon.
Please either use dimensions or the link to get results for now.

[2021-08-24 12:13] DCtheGeek commented on #80120
#reassign:DCtheGeek

This is an auto-generated file from source, so I'll fix the script that creates it and update.  Thanks for pointing this out.  When I merge that PR, this issue will automatically close and the update (publish) will happen at a later time in the day.  Thanks for pointing this out!

#label:"assigned-to-author"
#label:"in-progress"

[2021-08-24 12:15] psignoret commented on #78641
@jukkaleh Yes, the purpose of assigning an app role to a group is to assign the app role to members of the group. This is mentioned in the article at the part that reads as follows:

Currently, the assignment is only effective for direct members of the group, and only for user members. An app role assignment to a group is not currently inherited by service principal members of the group, nor is it

[2021-08-24 12:15] psignoret commented on #78641
I'm closing this issue for now, but please feel free to follow up or open a new issue if you have any additional feedback. Thanks!

#please-close

[2021-08-24 12:15] #78641 closed

[2021-08-24 12:24] Jared975 commented on #38898
Thank you for the quick reply.
Is it documented that stateful alerts do not include the searchresults?
I could not find a reason why this flag would remove the search results table in the commonalertschema.

[2021-08-24 12:30] ram-msft commented on #80101
Raised PR request #https://github.com/MicrosoftDocs/azure-docs-pr/pull/170106 for Create compute instance.

@sdgilley Could you please review the doc for [Create compute instance](https://docs.microsoft.com/en-us/azure/machine-learning/quickstart-create-resources#instance).