[2019-12-05 20:47] MarileeTurscak-MSFT commented on #44120
@mariuszo-at-microsoft-com
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 20:47] MarileeTurscak-MSFT commented on #44121
@mariuszo-at-microsoft-com
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 20:48] MarileeTurscak-MSFT commented on #44122
@mariuszo-at-microsoft-com
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-05 20:53] jpvajrala commented on #44082
Thanks @MashaMSFT for your help.

Business justification - we would like to have more control on IP addresses that get assigned to a WSFC. When creating a SQL AlwaysON setup, we have an option to assign IP's to SQL Nodes / LoadBalancer / AlwaysON Listener. Where as for cluster service we need to depend upon the deployment process for IP address assignment.

[2019-12-05 20:54] MicahMcKittrick-MSFT commented on #44148
@andrepatete this is because you created a basic sku load balancer when you made your AKS cluster instead of a Standard Load Balancer. By default we now use a standard load balancer when you create clusters instead of basic. It could have been a simple overview as well.

I tested the doc and the ones previously to ensure they work in order and they do. So I will close this for now as no doc update

[2019-12-05 20:54] #44148 closed

[2019-12-05 20:56] joereiss commented on #43968
I can't upgrade to v2 as i'm using ImageResizer.  However, I was able to add DI and achieve what I wanted.

Thanx,

[2019-12-05 20:56] #43968 closed

[2019-12-05 21:01] tfitzmac commented on #44147
@shaunmccoy - the storageName parameter comes from the template. The deployment command dynamically retrieves the parameters from the template. I would guess your $templateFile variable is not pointing to a template that has the parameter. You might want to make sure you have updated the template and saved it with the new parameters. I would also suggest double-checking which path the variable poi

[2019-12-05 21:04] Noldiani commented on #42061
Still no update to documentation referencing the incorrect config file. There is another conflicting document on the github regarding the xml file that is not currently built into script. Incorrect and confusing documentation.

[2019-12-05 21:05] MarileeTurscak-MSFT commented on #44122
@mariuszo-at-microsoft-com I've assigned this to the author but feel free to make pull requests to any of these documents if you have better suggestions.

I don't have access to a Sentinel tenant yet so can't confirm.

[2019-12-05 21:16] cicorias opened #44155 "Error on deploy when specify Hadoop 3.1.1 version - via Terraform"
When using Terraform, providing a `clusterType` of Hadoop with HDI Version 4.0 and componentVersion `3.1.1` fails with the following -- the only "version" accepted is "3.1" in the Terraform deployment.

[code]

This **WORKS**

[code]

This *should* work as the version 3.1.1 is what's documented on this page, but it fails with the error above:

[code]

---
#### Document Details

⚠ *Do not edit this

[2019-12-05 21:19] himanshusinha-msft commented on #43878
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-12-05 21:20] GiftA-MSFT commented on #44152
@joshheitzman-redcley-v-joheit-msft thanks for reaching out. We will look into this issue and get back to you shortly. Thanks.

[2019-12-05 21:21] himanshusinha-msft commented on #43890
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-12-05 21:22] sethmanheim commented on #42933
@TonyLugg Thank you for taking the time to submit this feedback. I have updated the Notification Hubs tutorial code to match the recent changes to the Xamarin Android tutorial. More info can be found here: https://docs.microsoft.com/xamarin/xamarin-forms/data-cloud/azure-services/azure-notification-hub#configure-the-android-application-for-notifications. Hope that is helpful. If not, please open a

[2019-12-05 21:22] #42933 closed

[2019-12-05 21:22] himanshusinha-msft commented on #44050
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2019-12-05 21:28] MarileeTurscak-MSFT commented on #43961
Hi @EdAlexander ,

Check under **Azure Active Directory > Security > Conditional Access > Manage > Classic policies.**

![image](https://user-images.githubusercontent.com/13383753/70275513-20efa980-1763-11ea-85c2-9b5bc9bd134f.png)

[2019-12-05 21:29] MarileeTurscak-MSFT commented on #43961
Hope this helps! I am closing this out but if you're still having issues feel free to post to [Microsoft Q&A ](https://docs.microsoft.com/answers/questions/index.html)and I will gladly continue the discussion. Since this seems to be more of a product question than a doc bug, that is the best place to put this.

[2019-12-05 21:29] #43961 closed

[2019-12-05 21:31] KranthiPakala-MSFT commented on #44056
@OneConsutlantsDemo I have escalated this to ADF team to update the document accordingly and a work item has been created for tracking this internally.

Thanks for reaching out and bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2019-12-05 21:31] #44056 closed

[2019-12-05 21:37] Neomania opened #44156 "Dav4/Dasv4 cache size error"
Hi there,

Is the fifth bullet point correct in saying that the new machines' L3 cache can be measured in GB? That seems a bit excessive, may be supposed to say MB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Conten

[2019-12-05 21:39] anavinahar commented on #42780
The article is referring to public traffic. Was public traffic tested or internal traffic?

[2019-12-05 21:42] EdAlexander commented on #43961
[cid:image002.png@01D5AB8A.FB86CE10]

Documented process does not work…. I would argue that there needs to be some errata added.

[cid:image006.png@01D5AB8A.FB86CE10]

EAC Partners/317.762.3331

From: Marilee Turscak - MSFT<mailto:notifications@github.com>
Sent: Thursday, December 5, 2019 4:28 PM
To: MicrosoftDocs/azure-docs<mailto:azure-docs@noreply.github.com>
Cc: Edward Alexander<mailto:ed@eacp

[2019-12-05 21:44] Karishma-Tiwari-MSFT commented on #44156
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-05 21:53] lcarli commented on #43765
Hi, Guys.

Thanks for the explanation. I'll close this issue.

[2019-12-05 21:53] #43765 closed

[2019-12-05 21:54] PatAltimore commented on #43773
Hi @sumikute,

Filtering is not currently supported. The tutorial is intended to demonstrate a simple scenario for Blockchain Data Manager.

Thanks,
Pat

#please-close

[2019-12-05 21:54] #43773 closed

[2019-12-05 21:55] #44152 closed

[2019-12-05 21:56] sdgilley commented on #44152
@joshheitzman-redcley-v-joheit-msft  thanks for finding this.  You are correct.  I've updated the table; the revised version should be available later today.

#please-close

[2019-12-05 21:57] zhusulai opened #44157 "Unable to access Azure Bastion after applying the NSG rules."
After applying the NSG rules, I can no longer access the VMs using Azure Bastions. Calls to `https://[AzureBastionPublicDNSName]` times out. After removing the NSG on the subnet, access is restored. Adding an inbound rule that allows HTTPS traffic from my client IP also works. It seems traffic is coming directly from my client IP instead of the GatewayManager.

---
#### Document Details

⚠ *Do not

[2019-12-05 22:07] mikenri opened #44158 "How do you do this using PowerShell?"
How do you hide applications from users using PowerShell so it can be automated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e1110f-232a-659e-d35e-06044409d4fa
* Version Independent ID: b419025c-acc1-ed0e-3d4d-e22721d6796b
* Content: [Hide an application from user's experience in Azure AD](https://docs.microsoft.c

[2019-12-05 22:15] anavinahar commented on #39503
Hi folks, this is indeed a limitation with Basic LBs and availability sets. It has been documented here:
![image](https://user-images.githubusercontent.com/20465886/70278623-7b8c0400-1769-11ea-84f9-055098f41616.png)
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview#public-load-balancer

The concept of Availability sets is no longer relevant with Standard Load Balancers

[2019-12-05 22:15] anavinahar commented on #39503
#please-close

[2019-12-05 22:15] #39503 closed

[2019-12-05 22:16] anavinahar commented on #42213
@asudbring  can you take a look and fix?

[2019-12-05 22:19] vbrophy opened #44160 "Help + Support Glossary"
I'd like to see a glossary that lists all the issues and Help + Support terms that you find when creating an Azure ticket. There is a lot of items to chose from and the ability to link to a glossary would help. From a UI perspective, hovering over an item and providing an explanation would help our service desk as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-12-05 22:23] xitia commented on #43712
hi yalshin, you can pull asa image from MCR, which is a public container registry. Our latest image is mcr.microsoft.com/azure-stream-analytics/azureiotedge:1.0.5. let us know if you run into any issue. thanks

[2019-12-05 22:27] ylashin commented on #43712
Hi @xitia , that worked fine. My idea now is that if `asaedge.azurecr.io` is not the right place for public access, then the documentation better to be updated otherwise it's just misleading.

[2019-12-05 22:30] JimacoMS3 commented on #43523
I just new'd up a resource group and hub in East US and the command to add a device to the hub worked for me w/o specifying a resource group.

It's not clear to me that this is a documentation issue since both Alberto and I have been able to execute these commands without a resource group and since you and I appear to be using the same environment. It's also becoming clear to me that we are hittin

[2019-12-05 22:34] JimacoMS3 commented on #40189
Hi @NextTurn --- thanks again for reporting these links. As the topics have now been updated, I'm going to close this issue. If you find that additional changes are needed to resolve this issue, @ comment me in your response.

[2019-12-05 22:35] JimacoMS3 commented on #40189
#please-close

[2019-12-05 22:35] #40189 closed

[2019-12-05 22:36] xitia commented on #43712
thanks, @ylashin. I totally agree with you. May I ask which documentation were you refer to? asaedge.azurecr.io is our internal Microsoft container registry. we shouldn't have it in public doc.

[2019-12-05 22:36] asudbring commented on #42213
This is a limitation in markdown.  Because of the amount of text within the table to explain the sku's, the columns will look unbalanced as Markdown will autosize the columns based on the amount of text in the cells.
#please-close

[2019-12-05 22:36] #42213 closed

[2019-12-05 22:37] MonikaReddy-MSFT commented on #44154
Hello @jontreynes Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-05 22:39] MonikaReddy-MSFT commented on #44154
Hello @jontreynes,
Variable AssetName is not required in this example. Since this example was loaded from a sample repo, it was included. But I have updated the doc to remove the AssetName from this example.

Thanks again for bringing this to our attention. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly co

[2019-12-05 22:39] #44154 closed

[2019-12-05 22:39] ylashin commented on #43712
The private repository is mentioned in Azure Stream Analytics [docs/page](https://docs.microsoft.com/en-us/azure/stream-analytics/stream-analytics-edge#azure-stream-analytics-module-image-information) linked to this issue. I left the comment there and it translates to this github issue.

[2019-12-05 22:44] alexmbaker opened #44161 "Job Resume - Additional Parameters"
While not stated explicitly in the documentation it is worth noting that the ```cap-mbps``` option can be specified when resume a job.  You can therefore stop a running job by pressing Ctrl+C, wait for a graceful shutdown then restart the job again with a different throughput value.  For example to set the upload speed limit to 35 megabits per second:

[code]

---
#### Document Details

⚠ *Do not

[2019-12-05 22:50] xitia commented on #43712
thanks! i will let the doc owner know and update the document accordingly. please go ahead to close this issue if you do not have other questions.

[2019-12-05 22:52] ylashin commented on #43712
Thanks all.

[2019-12-05 22:52] #43712 closed

[2019-12-05 23:03] alexmbaker opened #44162 "SAS Token - Escape characters"
Depending on the console host being used you may find that you need to escape some characters in the SAS token.  For example, using a windows CMD host any ```%``` characters should be escaped by replacing each ```%``` with ```%%```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba-6960-f33d9391c0d9
* Ve

[2019-12-05 23:05] FrankHu-MSFT commented on #41355
hey @thikon I apologize for the late reply, unfortunately this is expected as account lockout errors are not meant to be thrown with the ROPC flow. We'll take this feedback into account and look into putting this on the roadmap to implement in the future.

That being said, thank you for letting us know about this. @thikon if you have anymore concerns or questions within the scope of this git issue

[2019-12-05 23:08] montereyharris opened #44163 "Needs additional powershell command to set the nic obect"
Needs Set-aznetworkinterface to complete vm configuration

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a5293db-b062-ee9e-9d17-9db4ded5cfae
* Version Independent ID: 938fc48b-fb70-9717-a731-79278553eed6
* Content: [Multiple IP addresses for Azure virtual machines - PowerShell](https://docs.microsoft.com/en-us/azure/v

[2019-12-05 23:14] dpolivy commented on #8553
@jluk Can secure environment variables be set from the PowerShell cmdlet? I'm spinning up instances from an Azure Function and would like to securely pass in some values as secure environment variables.

[2019-12-05 23:15] MarileeTurscak-MSFT commented on #44093
I think this is good feedback. The CorpNetSaw is the Corporate Network Secure Admin Workstation, so you were close with the definition you gave. I made a pull request to add this and am passing your feedback along to the content author, @iainfoulds

https://github.com/MicrosoftDocs/azure-docs-pr/pull/98040

[2019-12-05 23:15] #44093 closed

[2019-12-05 23:20] dlepow commented on #43627
@JuneZhao - As far as I know the way to accomplish this in ACI is to add resources to the group with another container that makes the resource request. The similarity of container group to the K8s pod isn't exact.

[2019-12-05 23:21] femsulu commented on #44147
Thanks for your comment. We are actively investigating and will get back to you shortly. Thanks for your patience.

[2019-12-05 23:30] dcbrown16 opened #44164 "Next steps reference"
"Refer to the offline-backup section of the Azure Backup FAQ for any questions about the workflow."
There is nothing about offline backup that I see in the linked FAQ, nor any of the FAQs really. Did this information go missing during a doc reorg?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a30147c3-5d68-d9bb-324e-c

[2019-12-05 23:33] dcbrown16 commented on #44164
Same link is on the other offline backup page also.
https://docs.microsoft.com/en-us/azure/backup/backup-azure-backup-server-import-export-

[2019-12-05 23:37] andreasmarx commented on #17627
Hi.
Any news about the pricing? The pricing page states "VPN P2S Connection Unit" = €0.026/hour per 1 Connection. But what does 1 Connection mean? Each user connecting with PS2? That would be quite expensive ... Colud you please clarify.
Best regards
Andreas

[2019-12-05 23:37] Kentcomp opened #44165 "Add top-line warning about MFA Server no longer being available"
Since new customers have not been able to get or use MFA Server since July 1, 2019 it'd be nice to know that before the reader scrolls through all of the places where MFA Server is mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d577f70e-9632-48ee-8e00-cead8e3cbd5b
* Version Independent ID: 44ebe4c6-0e6a-5ce4

[2019-12-05 23:41] Karishma-Tiwari-MSFT commented on #44059
@davidhanna66 Can you please share exactly at which step in the doc do you think az aks get-credentials command should be run? Also, did you see any error when you say 'request is refused for unknown reason.' Please let me know.

[2019-12-05 23:57] Karishma-Tiwari-MSFT commented on #44068
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @mlearned

[2019-12-05 23:58] TravisCragg-MSFT commented on #44143
@NitroAMD Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 00:01] shaunmccoy commented on #44147
That is a great explanation. Thank you for pointing that out.

[2019-12-06 00:01] #44147 closed

[2019-12-06 00:06] MicahMcKittrick-MSFT commented on #43359
@giovannifl the product team and myself is still having a hard time fully understanding your ask.

You are interested in the following scenario

![image](https://user-images.githubusercontent.com/32313503/70284537-2952df00-1779-11ea-863c-d42cece8d5b0.png)

What do you mean by how do you manage it? I am not sure how the endpoints of a file share is relevant. Can you elaborate more on what you are l

[2019-12-06 00:08] iainfoulds commented on #44093
Thanks, @MarileeTurscak-MSFT

The intent of the network security group rules are to provide for support and maintenance of the managed service components like the domain controllers that run the managed domain. These aren't resources you can connect to directly, so it's restricted only to support personnel from a secure workstation. This is also a factor in why you shouldn't deploy resources to th

[2019-12-06 00:12] MartinJaffer-MSFT commented on #44128
@pemar-MSFT  Thank you for bringing this to our notice, but I would like to see the result of the other thread before taking any action here.  Please ping me if it is determined that the source code is actually getting an update.  Until then I will tentatively close this thread.

[2019-12-06 00:12] #44128 closed

[2019-12-06 00:15] Heidilohr commented on #42061
Thank you for your patience. The product team is looking into it right now. Once I have the information, I'll update the documentation accordingly.

[2019-12-06 00:18] Alberto-Vega-MSFT commented on #44153
@Garry-Anderson Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 00:22] TravisCragg-MSFT commented on #44144
@mdi-db I was able to reproduce this, and the information on this page is correct.

Unfortunately I cannot edit that page, so I have [created a new issue on that page to change the NSG rule scope](https://github.com/MicrosoftDocs/architecture-center/issues/1875).

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gl

[2019-12-06 00:22] #44144 closed

[2019-12-06 00:29] TravisCragg-MSFT commented on #44157
@zhusulai Traffic will need to be allowed from both your public IP and the Gateway Manager in order to function.

Please let me know if you need any additional clarification.

[2019-12-06 00:29] AlphaCreative-Mike commented on #42215
@TravisCragg-MSFT  - This issue needs reopened.  Though you mentioned in this issue how to implement redirect rules the documentation is not updated.

[2019-12-06 00:32] TravisCragg-MSFT commented on #42215
@AlphaCreative-Mike I am re-opening the issue and assigning to the author to update as appropriate.

[2019-12-06 00:42] TravisCragg-MSFT commented on #44163
@montereyharris Can you specify which section & step needs the additional command? Nic configurations are edited in multiple sections through this doc.

[2019-12-06 00:43] dcbrown16 opened #44168 "Document runtime differences"
It seems that different behavior occurs for different runtimes. I can enable application logs on any Web App. Doing so creates /application and /http folders under /LogFiles for a Java Linux app, but not a Python Linux app.
Please clarify with the full list of available runtimes and which types of logs can be collected.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-12-06 00:46] TylerMSFT commented on #43215
@dipesh-wadhwa, I agree with you that docs.microsoft.com should be updated with this information.
I have created a work item for myself to do this.
I won't be able to get to it until perhaps January due to other work in my queue and upcoming extended office leave.

[2019-12-06 01:07] wmpauli opened #44172 "step #2 under Modify the container files obsolete"
when i run `docker exec -it debug /bin/bash`, I immediately end up in `/var/azureml-app`. i.e. no need to cd.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a077225-4fb9-57c8-6bf7-f6e22eef0870
* Version Independent ID: bf5ce9ce-51a8-43e2-7362-e3de0e2ac63e
* Content: [Deployment troubleshooting guide - Azure Machine Le

[2019-12-06 01:10] rogeraustin opened #44173 "Test tool incorrectly reports Wireless LAN Service as 'Feature Installed' on Server 2019 Datacenter Core"
The Wireless LAN Service is not present in Server Core (see https://docs.microsoft.com/en-us/windows-server/administration/server-core/server-core-removed-roles) but the test tool reports it as installed, causing the test to fail.
I assume it would be sufficient to point this out in the "Assessments Explanation" section of the report that would be submitted for certification, but it would be bette

[2019-12-06 01:16] ifedapoolarewaju commented on #39665
just wanted to mention that, for express.js users, writing the code [exactly like this](https://github.com/MicrosoftDocs/azure-docs/issues/39665#issuecomment-538104258) does make it work. I had previously written the code like:

[code]
and the verification still failed even though I was setting the `content-type` header correctly. However, changing the code to the snippet above ☝️just makes is mag

[2019-12-06 01:16] mike-urnun-msft commented on #44136
@amartin1911 Thank you for your feedback! We will review and update as appropriate.

[2019-12-06 01:24] passbt commented on #43893
We ended  up getting sysprep to work by not including some Windows roles in our images.

[2019-12-06 01:27] jeevansd commented on #25569
@mgeoffriau  and @jrshorte Yes we have renamed the app now.
The information you have provided is super helpful here. We will update the app with these claims which will get added by default.

@v-nagta and @v-viinde  Please update the article with the changes mentioned above.

[2019-12-06 01:47] cherylmc commented on #17627
#reassign:anzaman

[2019-12-06 01:54] MarileeTurscak-MSFT commented on #43981
Based on the other descriptions in the rest of the documentation it does seem that it should only have "read" permission.

I made a pull request to remove the line but will not merge it until I have confirmation from @curtand

https://github.com/MicrosoftDocs/azure-docs-pr/pull/98076

I'm also checking internally to confirm on this and testing in the portal to see if it does in fact have those per

[2019-12-06 01:59] TylerMSFT commented on #43215
#please-close

[2019-12-06 01:59] #43215 closed

[2019-12-06 01:59] femsulu commented on #43389
@KSchlobohm  - here's a [workaround](https://github.com/paulyuk/BasicImageGallery/blob/master/CoreImageGallery/Deploy/CoreImageGalleryARM/azuredeploy.json) you can try using ARM.
The key line (578) goes into the appsettings sub-resource of the website and setting the appinsights ikey.  Note: pass the desired name of the app insights resource *name* using a parameter, and the template will dynamica

[2019-12-06 02:00] MarileeTurscak-MSFT commented on #43981
I confirmed in the portal that assigning the security operator role does not give you anything other than "read" permissions in Intune. I will merge the pull request tomorrow as that line should be removed.

[2019-12-06 02:00] #43981 closed

[2019-12-06 02:00] femsulu commented on #43691
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-12-06 02:00] #43691 closed

[2019-12-06 02:06] femsulu commented on #43683
Thanks Matt. looking fwd to your update. Would you like to keep this open/in-progress or should we close this thread since you already have a tracking work item.

[2019-12-06 02:18] Karishma-Tiwari-MSFT commented on #43893
Thanks for the update.
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2019-12-06 02:18] #43893 closed

[2019-12-06 02:20] KrishnaG-MSFT commented on #44119
@tkumark Thanks for the comment. We are actively investigating on the issue and will get back to you shortly with an update.

[2019-12-06 02:23] xieofxie commented on #42890
@diberry so as cahann replied, the pattern is used via matching and will not help for not exactly matched utterances? (As far as I understand, simple utterances will help for these via matching learning)

[2019-12-06 02:49] AshokPeddakotla-MSFT commented on #44133
@idbanham Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 03:00] alexchen2016 opened #44178 "Description about order of processing listeners not very accurate"
The words "Application Gateway processes listeners in the order shown. If basic listener matches an incoming request, it's processed first. To route traffic to the correct backend, configure a multi-site listener before a basic listener." under "Types of listeners" looks not very accurate.  Can you help to keep it the same with the description under "Order of processing listeners" in  article /app

[2019-12-06 03:09] kevinblumenfeld commented on #42829
@SaurabhSharma-MSFT @JustenCs

First off this seems to be a terrific idea.  Are there any updates?

Here is a screenshot that implies that a tool exists or will exist:

![image](https://user-images.githubusercontent.com/28877715/70292246-a9923800-17ab-11ea-8f17-db5460b09bc4.png)

[2019-12-06 03:30] abarberenaCPDS opened #44179 "SF AADHelpers scripts link inconsistent"
Hi MSFT Docs Team,

I just wanted to mention if you can make the following link consistent with another one of your pages.

The link in the paragraph below, points to robotechredmond's repo to obtain the scripts.

In your document @ https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-creation-setup-aad, the link in the following paragraph sends you to Azure-Samples GitHub

[2019-12-06 04:05] briglx opened #44180 "Typo in command"
By default, the log and plan files are located in the %USERPROFILE$\.azcopy directory on Windows or $HOME$\.azcopy directory on Mac and Linux, but you can change that location if you want.

The path to windows should be %USERPROFILE%\.azcopy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 911b355c-91b0-cfba-6960-f33d939

[2019-12-06 04:10] RohitMungi-MSFT commented on #44172
@wmpauli Thanks for the feedback. We are investigating the issue and will update you shortly.

[2019-12-06 04:16] #44018 closed

[2019-12-06 04:27] SnehaAgrawal-MSFT commented on #44168
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 04:28] CHEEKATLAPRADEEP-MSFT commented on #44155
@cicorias  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2019-12-06 04:33] aditya-chadha commented on #43849
I cant see JDBC/ODBC tab when I click edit in my cluster. Why is this happening?

[2019-12-06 04:40] SnehaAgrawal-MSFT commented on #44086
@drdamour Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-06 04:51] SumanthMarigowda-MSFT commented on #44161
@alexmbaker Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-06 04:53] tx5westmt opened #44181 "Update Authentication Contact Info Screenshot"
Not sure if all tenants have been updated but our portal has taken the authentication methods out of 'profile' and into a new dedicated 'authentication methods' blade.  Screenshot shows an old portal view (https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-sspr-authenticationdata#authentication-contact-info)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2019-12-06 04:54] SumanthMarigowda-MSFT commented on #44180
@briglx Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-06 05:03] shashishailaj commented on #43832
@bharathreddy123456 Did you have a chance to try this out ?

[2019-12-06 05:04] SwathiDhanwada-MSFT commented on #43709
I haven't heard back from you and believe that your issue is resolved. I'm going to close this issue for now. If you continue to experience the issue, please revert and we will gladly continue the discussion.

[2019-12-06 05:04] #43709 closed

[2019-12-06 05:12] SnehaAgrawal-MSFT commented on #44064
@mslot Thanks again for the feedback! You may refer to this link: https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-3.1#reload-secrets
Also, I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-06 05:15] AshokPeddakotla-MSFT commented on #44158
@mikenri Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 05:45] souravmishra-msft commented on #44181
@tx5westmt, Thank you for pointing this out. We are looking into this and will update the screenshots accordingly.

[2019-12-06 05:47] souravmishra-msft commented on #44165
@Kentcomp, Thank you sharing the suggestion. We are looking into this and will update the docs accordingly.

[2019-12-06 05:49] souravmishra-msft commented on #44160
@vbrophy, Thank you for sharing you views. We are looking into this and will update the doc accordingly.

[2019-12-06 05:49] SumanthMarigowda-MSFT commented on #44162
@alexmbaker Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-06 05:56] hifni opened #44182 "Correction in the Sample"
Code is written in the [Sample ](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-web-app-howto)should be corrected from

`IDatabase cache = lazyConnection.Value.GetDatabase();`

To

`IDatabase cache = lazyConnection.GetDatabase();`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91eda09f-d369-1ff4-f45

[2019-12-06 05:56] SubhashVasarapu-MSFT commented on #44178
@alexchen2016 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-06 06:00] shashishailaj commented on #43851
@mikki [Azure security Center includes the Microsoft Defender ATP](https://docs.microsoft.com/en-us/azure/security-center/security-center-wdatp#platform-support) so if you have a machine which is a non-azure Windows machine , and your ASC work space must be standard tier. You would not need to pay extra for windows E5 licenses for Defednder ATP EDR features.

Once you [on board your servers to Azu

[2019-12-06 06:00] #43851 closed

[2019-12-06 06:14] SanDeo-MSFT commented on #15252
Thanks for your feedback. The doc has been updated to include network requirements for Azure AD authentication for Linux VMs in Azure.

[2019-12-06 06:20] CHEEKATLAPRADEEP-MSFT commented on #43849
@aditya-chadha Note: If you did not create a Premium Databricks workspace, (JDBC/ODBC) option will not be available.

[2019-12-06 06:27] Klaas- opened #44183 "Troubleshooting login problems"
Hi,
I suggest to add another reason to: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad#access-denied-rbac-role-not-assigned
this also happens if you use inherited groups, this is currently unsupported according to a recent case I had with microsoft support.

Greetings
Klaas

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2019-12-06 06:30] Klaas- commented on #30643
Oracle Linux is just another flavor of rhel, it should work using the same packages/install docs as rhel or centos

[2019-12-06 06:42] RohitMungi-MSFT commented on #43950
@Larryngolog I have tried to add similar questions as you have tried. Added two follow-up prompts for the question "How to buy shoes" and tested the same. Here is a screen shot of the KB and the test screen for the test.

![image](https://user-images.githubusercontent.com/46958063/70301796-62468e80-1821-11ea-91ce-2cdcc0a5dbc1.png)

Here it displays the answer added to the context as expected. Is t

[2019-12-06 06:47] ram-msft commented on #43852
@maple10001 We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-06 06:47] #43852 closed

[2019-12-06 06:51] msozgen opened #44184 "Activation of MFA OnPrem Server IP Requirements"
Required IP address for MFA Activate On-prem server is different than listed IP subnet.
What is the exact IP address list for communication of on-prem and azure for existing licence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dd28f91-2039-4f0d-7c38-4775f8767bf0
* Version Independent ID: c7a81541-2675-0860-be8b-3a4

[2019-12-06 07:07] mosoccer commented on #42991
@Adam-Smith-MSFT and @TravisCragg-MSFT - any update on this?  I am having the same issue as @mbinnix and @danmyhre in that this VPN client doesn't respect DNS settings of the VNET it's connecting into.  Running an ipconfig when connected to the VPN shows no DNS servers set for the adapter even though the VPN client shows a VPN DNS suffix.  Connecting using the previous VPN client (the one download

[2019-12-06 07:09] AshokPeddakotla-MSFT commented on #44164
@dcbrown16 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 07:10] amanmcse commented on #43982
@Tiberriver256 If you have sync rule for synchronization of mail attribute to Azure in place, there are no additional steps you need to perform. For guest users, we do not require the email domain suffix to be added as a verified domain in Azure AD.

Hope this answers your question.

[2019-12-06 07:16] amanmcse commented on #41710
@LaurentTermeau We didn't hear back from you. I am closing this issue in favor of [microsoftgraph/msgraph-sdk-dotnet#568](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/568). Please subscribe to it for further updates by the Product Team.

[2019-12-06 07:16] #41710 closed

[2019-12-06 07:17] msrini-MSFT commented on #42780
@anavinahar, Internal traffic was tested.

[2019-12-06 07:21] tomkerkhove opened #44185 "Provide more details on Key Vault Access Control"
Currently the page nicely shows how to setup Azure Key Vault and that an entry in the Access Control list should be added, but it doesn't show what application/object should have access and how much it needs at minimum.

Would be good if this could be documented as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2019-12-06 07:24] Dustefan commented on #36403
@FrankHu-MSFT  please do change the documentation regarding the Alternate ID support as I have recently worked on a case where the lack of proper documentation cost us a lot. If the AD UPN and the AAD UPN do not match, we need to synchronize the onpremisesUserPrincipalName otherwise this will not work.

[2019-12-06 07:36] vikaskanchan commented on #43709
Hi Team,

Thanks for the response. Issue is resolved you can closed the ticket.

Thanks,
Vikas.
________________________________
From: SwathiDhanwada-MSFT <notifications@github.com>
Sent: Friday, December 6, 2019 10:34 AM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: vikaskanchan <vikaskanchan@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-d

[2019-12-06 07:36] Klaas- commented on #44183
For MS employees: reference case number 119052426000593

[2019-12-06 07:42] Klaas- commented on #15252
@SanDeo-MSFT You should be using commit messages like this: https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords#closing-an-issue-in-the-same-repository

That would auto close the issue and create a link between the commit and this issue; also it would be a way better commit message than "Update login-using-aad.md" :)

For reference: Issue is fixed by 69e342

[2019-12-06 07:42] #15252 closed

[2019-12-06 07:43] michaeleusebio opened #44186 "Unable to turn on debug for ADFv2 Mapping Data Flow"
Today, I'm not able to turn on debug on my ADFv2 mapping data flow. I'm getting the error below:
I already tried creating a new IR set to auto resolve and also set to same region as my ADFv2 - still no good.

[2019-12-06 07:51] vishalsinghdev opened #44187 "Azure Data Encryptions Documentation misguided for CentOS"
Hello Team,

The Documentation of the ADE, it shows that we can use the ADE for CentOS.
My scenario: I did disk encryption using Azure keyvault for OS disk and Data disk in Centos7.7.
I did encryption using azure cli commands,
few things I want to mention,
VM configuration:
![VM configuration](https://user-images.githubusercontent.com/55273655/70299166-20feb080-181a-11ea-81f1-70ca5082bc42.png)

Co

[2019-12-06 07:52] mslot commented on #44064
Thanks for pointing this out. Although, it is not quite enough for me. I can see that the configuration in https://docs.microsoft.com/en-us/aspnet/core/security/key-vault-configuration?view=aspnetcore-3.1#reload-secrets is done by adding keyvault to the configuration on startup. What I am refering to is environment variable references, on the form

[code]

Could it be that it adds the keyvault to

[2019-12-06 07:56] DixitArora-MSFT commented on #44083
@steamwings I have assigned this to content author for further review and update as appropriate.

[2019-12-06 07:59] ChiragMishra-MSFT commented on #44185
@tomkerkhove Thanks for the feedback. We are currently investigating into the issue and will update you shortly.

[2019-12-06 08:00] ChiragMishra-MSFT commented on #44186
@michaeleusebio Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureDataFactory) or [stack overflow](https://stackoverflow.com/questions/tagged/azure-data-factory).

Once you post your issue on forums, it will have visibility across the community which is a better

[2019-12-06 08:00] #44186 closed

[2019-12-06 08:04] michaeleusebio commented on #44186
https://stackoverflow.com/questions/59209158/unable-to-turn-on-debug-for-adfv2-mapping-data-flow

[2019-12-06 08:09] bertrandpons commented on #43963
@MonikaReddy-MSFT Ok great thank you for the help !

[2019-12-06 08:09] #43963 closed

[2019-12-06 08:24] DixitArora-MSFT commented on #44123
@kspoojary First thing there are some ports required for ASE to operate healthy. ASE has some inbound and outbound dependencies.
[ASE inbound dependencies](https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#ase-inbound-dependencies)
[ASE outbound dependencies](https://docs.microsoft.com/en-us/azure/app-service/environment/network-info#ase-outbound-dependencies)
We need to

[2019-12-06 08:41] spaelling opened #44188 "Extremely sensitive to "errors""
If there is a minor "error" in `createUiDefinition.json` then when trying to deploy the portal UI just loads forever. Ex. putting in a comment in json, which for pure json is invalid, stops the ui definition from working. It makes developing these files tedious.
~~Also this password restraint also made the UI load forever. `"regex": "^[a-zA-Z0-9]{32}$"`~~
was using the wrong json property for the

[2019-12-06 08:41] spaelling commented on #44188
![image](https://user-images.githubusercontent.com/871412/70308900-8ea3e000-180c-11ea-97b9-9992cab3b771.png)

[2019-12-06 08:45] AshokPeddakotla-MSFT commented on #44184
@msozgen Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-06 08:48] AshokPeddakotla-MSFT commented on #44187
@vishalsinghdev Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-06 08:57] kspoojary commented on #44123
Yes, but I cant find any service tag for Event Grid.

[2019-12-06 09:13] BzSpi commented on #35491
@vhorne Are the limits on the (not so) new application gateway available somewhere ? This component is now in production for a long time and the limits are not known, which is pretty scary.

[2019-12-06 09:17] nth-block opened #44189 "A table mapping the Region and the Security World will be useful"
The statement - *All HSMs at Azure locations in the same geographic region share the same cryptographic boundary (Thales Security World).* - is far too open-ended. There are BYOK transfer packages for `France`, `Germany`, `GermanyPublic`, `Switzerland` all of which are in Europe (continent). But there is a separate `Europe`, which is a separate security world package.

Tabulating the security worl

[2019-12-06 09:22] andreasmarx opened #44190 "Table wrong for ASR"
Hi.
Could you please update the table so it is correct? ASR does not support CMK at the Moment. Please see this thread:

https://social.msdn.microsoft.com/Forums/en-US/f2561f62-b081-4cd2-b522-08af19041b3d/asr-storage-account-own-key-encryption?forum=hypervrecovmgr#7d0cbd64-331a-4e59-abba-ffea6e4e7163

Best regards
Andreas

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-06 09:23] kspoojary commented on #39547
Any update on this?

[2019-12-06 09:31] sopelt opened #44191 "Timeframe/Progress/Info on Preview/GA"
Besides this documentation and [the initial announcements](https://azure.microsoft.com/en-us/blog/announcing-user-delegation-sas-tokens-preview-for-azure-storage-blobs/) by @cbrooksmsft we were unable to find information on the current state/planned progression of this preview. For new product development we strive to prevent use of credentials and keep permissions to a minimum and this feature is

[2019-12-06 09:38] vishalsinghdev commented on #44187
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-overview#

Above document I followed.

[2019-12-06 09:45] DixitArora-MSFT commented on #44123
@kspoojary Could you elaborate more on Service tags. In a mean time you can walk through these [Azure REST API's](https://docs.microsoft.com/en-us/rest/api/eventgrid/) for Event grid and see if this serves the purpose.

[2019-12-06 09:50] jakaruna-MSFT commented on #43816
i tested with github.
i used the below urls one by one

-  https://github.com/jakaruna-MSFT/script-for-extension/blob/master/script.ps1
-  https://github.com/jakaruna-MSFT/script-for-extension/blob/master/level1/script.ps1
-

It always took the script.ps1 and added it in the downloads folder.

Downloads from the blob.core.windows.net is explained properly in the document.

Download from other urls

[2019-12-06 09:51] jakaruna-MSFT commented on #43816
@wkasdorp   Thanks again for the good find.   We can use the workaround suggested by you as well.

 I will assign the issue to the content author to investigate further and update the document as appropriate.

[2019-12-06 09:54] jakaruna-MSFT commented on #43857
@mlearned Please consider the users request and update the doc as needed

[2019-12-06 10:03] shashishailaj commented on #43866
@jpawlowski Hello Julian, My apologies that  I was not able to find your email . I have sent you a messgae through your website though. Hence I would request you to drop me a line on azcommunity[at]microsoft[dot]com and we can have one single thread where you are already in touch with the Azure AD licensing product group rather than having multiple threads for the same thing. We will take both of

[2019-12-06 10:03] #43866 closed

[2019-12-06 10:08] narraranil commented on #41227
Looks like.. issue still three. I've tried with latest article. still have below issue:

Error: Error: Subnet "kubesubnet" (Virtual Network "aksVirtualNetwork" / Resource Group "aks-sag") was not found

  on resources.tf line 45, in data "azurerm_subnet" "kubesubnet":
  45: data "azurerm_subnet" "kubesubnet" {

Error: Error: Subnet "appgwsubnet" (Virtual Network "aksVirtualNetwork" / Resource Grou

[2019-12-06 10:19] brianreidc7 commented on #41233
We are seeing the same - the banner says as the comment above - "you haven't enabled any Baseline Protection policies, so they will be removed" but we have three baseline policies enabled (admin MFA, end user and legacy auth).

[2019-12-06 10:20] shashishailaj commented on #43859
@jpawlowski As per the [last comment](https://github.com/MicrosoftDocs/azure-docs/issues/43866#issuecomment-562511187) on the issue #43866 I have sent you a mail via the [contact form](https://julian.pawlowski.me/about/#contact) on your [blog](https://julian.pawlowski.me/). Please respond to me to continue this conversation as per the detailed mentioned in my request. We will close this issue for

[2019-12-06 10:20] #43859 closed

[2019-12-06 10:27] assaf-grth opened #44193 "Spot Virtual Machines and Batch"
When will this page include details and timelines on the planned change from low priority to spot vms?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4e98e12-baca-7a61-d646-0ee919c67368
* Version Independent ID: 1d5a27cb-0b01-eda3-120b-cb33bc4d7f87
* Content: [Run workloads on cost-effective low-priority VMs - Azure B

[2019-12-06 10:29] assaf-grth commented on #44193
one more clarification on this regard, will spot instances be GA in azure batch? Since low priority were GA and spot are in preview mode

[2019-12-06 10:36] allanmoller opened #44194 "Unable to associate to specific APP GW listener"
When choosing APP GW under Associate fan, i cannot choose a specific listener. Currently i have 2 listeners on my APP GW. What am i doing wrong?

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: b3abaaaa-87a3-f5b6-4265-a5cff6206ed4
* Version Independent ID: c93fe969-c631-0d2d-fcb7-c347da3a96d9
* Content: [In

[2019-12-06 10:39] SnehaAgrawal-MSFT commented on #44055
@markjerz Thanks again for the feedback! If I have understood right, you want to configure deployment credentials through Rest API or .NET SDK. If so, there is similar [SO](https://stackoverflow.com/questions/51119532/how-to-set-or-retrieve-deployment-credentials-in-azure-app-service) thread you may refer might be helpful for you.

[2019-12-06 10:41] #43384 closed

[2019-12-06 10:44] mariuszo-at-microsoft-com opened #44195 "reverse order of instructions given in points 5 and 6"
Instructions given in points 5 and 6 should be done in reversed order to match how that blade works. I.e. first one has to click on "Apply below configuration to my machines" (currently in point 6) and only then one can add new facilities (currently in point 5).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 014e86f7-1

[2019-12-06 10:46] KrishnaG-MSFT commented on #43872
@dotnetpiper Perhaps I am missing something but based on given information and understanding, below are the insights

1. Yes, after configuring performance counters and windows event logs as shown [here](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/data-sources-performance-counters#configuring-performance-counters) and [here](https://docs.microsoft.com/en-us/azure/azure-monitor/pl

[2019-12-06 10:51] KrishnaG-MSFT commented on #44173
@rogeraustin Thanks for your comment. We are actively investigating and will get back to you shortly.

[2019-12-06 10:52] karlanka opened #44196 "login failed for display 0"
When using the account from when I created the VM (the one I use to connect to via SSH) I receive something like:
Sesman connected OK
Login failed for display 0

If I create a new user in the VM:s terminal `sudo adduser user2`, this new user is allowed to connect to the display.

Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-06 10:52] karlanka commented on #44196
Why is that?

[2019-12-06 10:53] ctahok opened #44197 "Permissions"
"To create the vault, you need role assignment permissions on the resource group in which the Azure Migrate project resides." what is the permission we need? There are no permissions called "role assignment". Please clarify.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee1443e-f3ee-0f00-e497-e0788d46b428
* Version I

[2019-12-06 11:10] KrishnaG-MSFT commented on #43959
Assigning @mrbullwinkle for visibility, help, review and to provide insights on this feedback.

[2019-12-06 11:14] msrini-MSFT commented on #44194
@allanmoller , Can you please provide more info ?

What are the two listener that you have configured ?
What is the error that you get ?

Screenshot would be helpful

[2019-12-06 11:14] msozgen commented on #44184
https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfaserver-deploy

[2019-12-06 11:18] KrishnaG-MSFT commented on #44112
Assigning @ofirmanor @robb for visibility, help, review and to provide insights on this feedback.

[2019-12-06 11:24] AminMkh commented on #37847
yep same here, my app was working just fine till November 2019

[2019-12-06 11:40] AshokPeddakotla-MSFT commented on #44182
@hifni Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 11:44] AshokPeddakotla-MSFT commented on #44183
@Klaas- Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 11:44] jakaruna-MSFT commented on #44179
@abarberenaCPDS Thanks for the feedback.
Its valid to keep the scripts in Azure samples repo.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-06 11:47] SnehaAgrawal-MSFT commented on #44047
@Glenlake Thanks for your response on this! I have assigned the issue to content author to get more clarity on this and update the document as appropriate.

[2019-12-06 11:52] allanmoller commented on #44194
Well i have tried with both Multi-site listeners and basic, even created a new APP GW(V2) with a single multi-site listener. I am not getting any error but am only apple to choose GW.
![image](https://user-images.githubusercontent.com/16701511/70321266-2f06fe00-1827-11ea-8c07-70bbf332d269.png)

[2019-12-06 12:04] jakaruna-MSFT commented on #44183
@Klaas-
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-06 12:04] jakaruna-MSFT commented on #44183
@iainfoulds please take care of this issue

[2019-12-06 12:07] igormusinov commented on #43806
I suspected that the reason was in lack of support for samba's multi-threaded. You confirmed this.

Yes

https://github.com/MicrosoftDocs/azure-docs/issues/43806

https://github.com/MicrosoftDocs/azure-docs/issues/43806

https://github.com/MicrosoftDocs/azure-docs/issues/43806

My issue evolves into "When will CIFS (or Azure SAMBA)  support multi-threadeding feature ? "

[2019-12-06 12:10] allanmoller commented on #44194
damm its because its only supported in north Europe, when will this be available in West europe?

![image](https://user-images.githubusercontent.com/16701511/70322169-ac337280-1829-11ea-9ba0-d041eb2f0751.png)

[2019-12-06 12:11] jakaruna-MSFT commented on #44193
@assaf-grth Azure batch will continue to use low priority VM's

[2019-12-06 12:13] jakaruna-MSFT commented on #44196
@cynthn Please add your comments

[2019-12-06 12:18] lost2 opened #44198 "Create Oracle ASM disks"
Step7 "Create Oracle ASM disks" from "Set up Oracle ASM" topic is incomplete and can cause wrong labeling.

Solution:

1) Ensure you have Azure disk name and correspondent LUN id list, from your Azure administrator. Example:

Data disks
LUN	Name				Size
0	server1_Disk-OLR01	1 GiB
1	server1_Disk-OLR02	1 GiB
2	server1_Disk-Data01	200 GiB
3	server1_Disk-Data02	200 GiB
4	server1_Disk-Data03	200 GiB
5

[2019-12-06 12:19] jakaruna-MSFT commented on #44196
@karlanka Please make sure you are using the correct username and password

[2019-12-06 12:20] shashishailaj commented on #43848
@navyasric Could you please review this request and see if the changes in the documentation as suggested can be done ?

[2019-12-06 12:22] AshokPeddakotla-MSFT commented on #44188
@spaelling Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 12:26] shashwattrivedi commented on #43212
Facing the same issue. I am trying to enable a service to create Private Endpoints on the Vnet on user's behalf. Was following this
https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/tutorial-windows-vm-ua-arm

After getting the token , I have tried creating the private endpoint to a storage account in the same subscription, it works. I have tried manual wor

[2019-12-06 12:29] karlanka commented on #44196
Password and username is correct. Scren dump from the error:
![image](https://user-images.githubusercontent.com/24296200/70323153-5dd3a300-182c-11ea-8905-20c9053a9419.png)

[2019-12-06 12:33] doelpede opened #44199 "Databricks Post-upgrade steps"
Hi,
in the Databricks Post-upgrade steps, Step 2, the name of the security group is identical for private-subnet and public subnet.
Step 4 is outlining to delete all rules starting with databricks.
Step 5 is saying to "repeat the previous two steps for the private subnet
This seems to be wrong since there is usually only one Network Security Group associated with the VNET.
[Enter feedback here]

-

[2019-12-06 12:41] AshokPeddakotla-MSFT commented on #44195
@mariuszo-at-microsoft-com Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-06 12:45] vmehmeri opened #44200 "Extension schema looks wrong"
Type and name keys in the JSON schema seem wrong. Here's a working snippet:

    "type": "Microsoft.Compute/virtualMachines/extensions",
    "name": "[concat(variables('vmName'), '/NetworkWatcherAgent')]",
    ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2d20271-77ef-4c29-26ed-e6ea015a7c63
* Version Independent

[2019-12-06 13:08] scott1138 commented on #43898
I’m sorry, but I don’t see how that explains the use of certificteStoreName and certificateStoreLocation in the Key Vault Extension.

Property values
Name
Value / Example
Data Type
apiVersion
2019-07-01
date
publisher
Microsoft.Azure.KeyVault
string
type
KeyVaultForLinux
string
typeHandlerVersion
1.0
int
pollingIntervalInS
3600
string
certificateStoreName
MY
string
linkOnRenewal
false
boolean
cert

[2019-12-06 13:08] M0ns1gn0r opened #44201 "Example of creating subsription via ARM"
I cannot find any example of how it may be done. Looks like it is impossible. If so, please specify that explicitly in the docs to save time of other folks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6bb013c-83b0-84fd-f4eb-364db7b3c507
* Version Independent ID: 6a2a7e4a-769f-034a-c9a2-c3decc6b20b0
* Content: [Even

[2019-12-06 13:26] #44196 closed

[2019-12-06 13:28] yes2046 opened #44202 "Older StackExchange.Redis nuget packages don't have the keyword 'sslprotocols'"
We are using StackExchange.Redis.1.0.488 which don't have sslprotocols defined. We need to update to newer version (1.2.6.0) to have it work.
Please mention this in your document.
Thanks

[2019-12-06 13:42] DeanGross opened #44204 "Recent Blogs are out of date"
the links to recent blogs are over 1 year old, it would probably be better to just remove them and have one link to an appropriate location that is maintained regularly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 321a32c0-b7fa-67bf-a2bf-788e9071a1a2
* Version Independent ID: 86926078-20a0-34bd-6e53-17f71d957912
* C

[2019-12-06 14:15] msrini-MSFT commented on #44194
@allanmoller , ETA cannot be shared via this forum. Please reach out internally.

[2019-12-06 14:15] #44194 closed

[2019-12-06 14:17] PramodValavala-MSFT commented on #44201
@M0ns1gn0r Thanks for the feedback! Though not mentioned in the docs, it is possible.

You should be able to build on top of this [azure quickstart sample](https://github.com/Azure/azure-quickstart-templates/tree/master/101-event-grid-resource-events-to-webhook/) for creating an event subscription and for the `endpoint` parameter, use the URL mentioned in [this section of this doc](https://docs.mi

[2019-12-06 14:17] NavtejSaini-MSFT commented on #44044
@savbace We are assigning this to our author for more clarification.
@markjbrown @SnehaGunda Please help with user's question.

[2019-12-06 14:22] NavtejSaini-MSFT commented on #44101
@dcbrown16 Please get back to us with any questions or we will go ahead and close this thread by EOD.

[2019-12-06 14:30] M0ns1gn0r commented on #44201
That's exactly the problem: it seems not possible to form this URL inside an ARM template as there is no way to obtain the master key.

[2019-12-06 14:49] VladPScreenMedia commented on #43536
Hi guys. I am currently experiencing the same issue for the west europe region. Deploying from an ARM template. Same script works fine for east us.

[2019-12-06 15:04] tfitzmac commented on #39980
@BacharBader - thanks for this suggestion. I have added an example for handling the case where more than one resource has the same name in a resource group.

[2019-12-06 15:04] tfitzmac commented on #39980
#please-close

[2019-12-06 15:04] #39980 closed

[2019-12-06 15:08] mikemartin1090 commented on #43581
I also see this flow has changed and I'm no longer able to export my logs to Event Hub via the Azure portal. Has this functionality moved to another section of the portal?

[2019-12-06 15:10] blueelvis commented on #43581
You can click on legacy experience and it will take you to the previous
experience in the Activity Logs Diagnostic Settings. But yes, this is
broken documentation.

On Fri 6 Dec, 2019, 8:38 PM Mike Martin, <notifications@github.com> wrote:

[2019-12-06 15:14] mikemartin1090 commented on #43581
Hi there - where is the 'legacy experience' button?

![image](https://user-images.githubusercontent.com/6332286/70333269-2c99a980-1811-11ea-91c5-e26c8334fdec.png)

[2019-12-06 15:16] mikemartin1090 commented on #43581
Ah, now I see it...

![image](https://user-images.githubusercontent.com/6332286/70333417-71254500-1811-11ea-9890-bc7dc569e519.png)

[2019-12-06 15:19] KSchlobohm commented on #43389
Thanks @femsulu, I was able to deploy a working version but wanted to surface this so that the default project template for Azure Resource Groups would also be updated to reflect the appropriate change.

Also, I'm now seeing that the default website template includes 4 separate `Microsoft.Insights/alertrules` which started throwing an error during deployment. I just used VS2019 16.5 preview 1 to v

[2019-12-06 15:23] RyanMannix opened #44206 "To send data privately from iothub to azure storage, one must be using a vnet"
I thought it might be helpful to others, but I spent some time trying to get my iot hub to send data to azure storage using the "Public, selected networks" option (selected in "Networking" tab when creating the storage account) with the "allow trusted Microsoft services to access this storage account" option selected.  It turns out that iot hub is not a trusted Microsoft service.  There are only 2

[2019-12-06 15:25] amkondi commented on #44187
@vishalsinghdev, the Data disk must be formated and got an fs in it also it must be mounted on a folder and mapped in /etc/fstab if theses steps are done you can have an encrypted data disk in the end.

[2019-12-06 15:38] davidhanna66 commented on #44059
Copying my @microsoft address

I tried to run the following step.  I got an error though I didn’t screenshot the whole thing. It failed to deploy and the second half of the error was connection refused for unknown reason. Came up 3 times for deployment/service/ingress.
[A screenshot of a cell phone  Description automatically generated]

From: Karishma Tiwari - MSFT <notifications@github.com>
Sent:

[2019-12-06 15:39] KingOfSpades opened #44207 "Incorrect instructions when handeling XFS filesystems"
https://docs.microsoft.com/en-gb/azure/backup/backup-azure-vms-troubleshoot#usererrorfsfreezefailed---failed-to-freeze-one-or-more-mount-points-of-the-vm-to-take-a-file-system-consistent-snapshot

Advises to follow the step:
`Check the file system state of all mounted devices using the tune2fs command, for example tune2fs -l /dev/sdb1 \.| grep Filesystem state.`

This will always result in a error

[2019-12-06 15:40] Larryngolog commented on #43950
Here are my examples: I type the question and get correct answer with 2 prompts. I click on the first one and get the correct answer. I click on the second and get the answer to the first question rather to the second prompt:
![image](https://user-images.githubusercontent.com/18740551/70335037-d5163080-1846-11ea-8ddd-76cd2cc34179.png)

Another example here - clicking on the first prompt returns co

[2019-12-06 15:42] MachLearnPort opened #44208 "SED issues on Mac OS"
SED not updating the JSON file and generating this log:

sed: 1: "portal_public_settings. ...": extra characters at the end of p command
sed: 1: "portal_public_settings. ...": extra characters at the end of p command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13249027-1524-dd0c-9d83-15a9733a3d19
* Version Independe

[2019-12-06 15:51] davidhanna66 commented on #44059
I believe this is the error I received:
unable to recognize “samples-http-application-routing.yaml “

David Hanna

From: David Hanna <behemoth_1@hotmail.com>
Sent: Friday, December 6, 2019 10:38 AM
To: MicrosoftDocs/azure-docs <reply@reply.github.com>; MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>; David Hanna (AZURE) <David.Hanna@microsoft.com>
Cc: Mention <mention@noreply.github.com>

[2019-12-06 15:51] AshokPeddakotla-MSFT commented on #44189
@nth-block Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 15:55] AshokPeddakotla-MSFT commented on #44190
@andreasmarx Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 16:00] csteelatgburg opened #44209 "Show which quota was exceeded"
I am currently in the development phase of a project using the Free tier for my web app plan. The app services frequently get stopped for exceeding the quota, but when I check the Quota blade none of them show as being fully used. Checking the Metrics also doesn't show excessive usage for CPU time, connections, etc. Where should I be looking to determine which quota I am exceeding?

---
#### Docum

[2019-12-06 16:01] MachLearnPort commented on #44208
I guess there are slight issues between different UNIX systems when it comes to what works, and what doesn't with SED. These modifications got it working:

sed -i'' -e "s#__DIAGNOSTIC_STORAGE_ACCOUNT__#$my_diagnostic_storage_account#g" portal_public_settings.json
sed -i'' -e "s#__VM_RESOURCE_ID__#$my_vm_resource_id#g" portal_public_settings.json

Additionally, I was using git bash and not the stoc

[2019-12-06 16:06] Yevsol opened #44210 "Link not found"
This link not found:
https://github.com/Azure/azureml-sdk-for-r/tree/master/vignettes/train-and-deploy-with-caret

Prerequisites
-Follow the installation instructions to:

1.Install Anaconda
2.Install azuremlsdk
3.Install the Azure Machine Learning SDK for Python
Get the three tutorial files from GitHub(https://github.com/Azure/azureml-sdk-for-r/tree/master/vignettes/train-and-deploy-with-caret).

[2019-12-06 16:07] MikeStephens-MS commented on #44093
Huh? That paragraph is 100 percent confusing.

The CorpNetSaw service tag is needed for the rare occasion when authorized AAD DS engineers need to remotely connect to the domain controller for maintenance, or when troubleshooting a support issue.  The service tag secures the inbound RDP connections to a dedicated IP address range of secure access workstations used by AAD DS engineers.  Secure acce

[2019-12-06 16:08] mamccrea commented on #43276
A work item has been created for this issue. I will proceed to close this thread and will report back here once the doc has been updated. Please let us know if you have any additional feedback. Thanks again for your contribution.

#please-close

[2019-12-06 16:08] #43276 closed

[2019-12-06 16:11] mamccrea commented on #44132
Thanks for the feedback @solita-tvoipio. I have created a work item for this issue (and for https://github.com/MicrosoftDocs/azure-docs/issues/44131 since it references a different article). I'll report back here when they are fixed.

#please-close

[2019-12-06 16:12] #44132 closed

[2019-12-06 16:12] ChristianMontoya commented on #43526
@jakaruna-MSFT  , @makotog : Have forwarded along to my team and will likely incorporate this change in the next update of this doc. Thank you for the suggestion.

[2019-12-06 16:12] ChristianMontoya commented on #43526
#please-close

[2019-12-06 16:12] #43526 closed

[2019-12-06 16:14] mamccrea commented on #44111
I have created a work item and will report back here when it is complete. Please let us know if you have any additional feedback.

#please-close

[2019-12-06 16:14] #44111 closed

[2019-12-06 16:15] MarileeTurscak-MSFT commented on #44204
@DeanGross
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-06 16:16] blouwagie commented on #44093
Hi Mike
I had looked for the  CorpNetSaw service tag before even making the comment
on this document. But that service tag does NOT exist, at least not on our
Tenant. So the Document says we have to have those defaults, barely
explains why (I have to guess from the names of the tags) and one of the
service tags does not even exist. Below of the screenshot of our service
tags. Yes there are Storage

[2019-12-06 16:17] mamccrea commented on #43890
Thanks for providing this feedback @JayReally. Can you please provide the steps you took to help us reproduce the issue on our end. It sounds like @taniawjhb had a similar experience. Are you seeing the same behavior?

[2019-12-06 16:20] MonikaReddy-MSFT commented on #43963
@bertrandpons , I am glad I was able to help resolve your issue.
If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-06 16:22] mamccrea commented on #44050
Hi @abij. Thank you for bringing this to our attention. We are reviewing the article.

#in-progress

[2019-12-06 16:25] mamccrea commented on #43679
Hi @njsee - thanks again for providing this feedback. We've created a work item to update this article. I will report back here once it has been updated. If you have any additional feedback or questions, please reopen this issue.

#please-close

[2019-12-06 16:25] #43679 closed

[2019-12-06 16:30] cmosqu opened #44211 "Incomplete sentence..."
Underneath the "Recommendations when configuring TDE protector" the last sentence is incomplete. Do you mean to say that the system will automatically use the AKV from the same region?

"Link each server with two key vaults that reside in different regions and hold the same key material, to ensure high availability of encrypted databases. Mark only the key from the key vault in the same region as

[2019-12-06 16:35] SnehaAgrawal-MSFT commented on #44209
@csteelatgburg Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 16:42] AshokPeddakotla-MSFT commented on #44202
@yes2046  Thanks for the suggestions.
Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-06 16:48] CesarSolis opened #44212 "Generalized and specialized images / Warning for Domain Joined VM Specialized Images"
In addition to the warnings about Specialized images we need to warn that Specialized VM Images will NOT be able to join into a Domain. This because even if the customer changes the Server Name/HostName the SID will be the same and not possible to join. In addition to issues with software that somehow depends on the base operating system being generalized properly.

---
#### Document Details

⚠ *D

[2019-12-06 16:50] CesarSolis opened #44213 "Warning for Domain Joined VM Specialized Images"
In addition to the warnings in the second paragraph about using an Specialized disk, we need to warn that Specialized VM Images will NOT be able to join into a Domain. This because even if the customer changes the Server Name/HostName the SID will be the same and not possible to join. In addition to issues with software that somehow depends on the base operating system being generalized properly.

[2019-12-06 16:53] AshokPeddakotla-MSFT commented on #44191
@sopelt Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 16:56] AshokPeddakotla-MSFT commented on #44197
@ctahok Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 16:57] mscurrell commented on #44193
The modifications to this page are underway and will be published early next week.  Batch will continue to support low-pri VMs using the current SDK for a period of time; likely a year.  In first quarter 2020, we'll also add support for Spot VMs to Batch service and SDK - spot naming will replace low-priority and we'll add the optional max-price parameter when creating a pool with spot VMs.  So bo

[2019-12-06 16:58] flobeier commented on #31160
@SadiqhAhmed-MSFT the linked doc provides a guide on how to move Azure VMs to another region. When selecting the target region I only see regions from the same geographic cluster. @LotusPainter asked for a way to move an Azure VM to a different geopgraphic cluster, e. g. from US Central to Europe North.

[2019-12-06 16:58] dlepow commented on #42111
Documentation updated: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-groups#networking
Thanks again, @Herr-Sepp
#please-close

[2019-12-06 16:58] #42111 closed

[2019-12-06 17:00] SnehaAgrawal-MSFT commented on #44097
@PaulVipond Thanks for the response! I have assigned the issue to the content author to review further and update the document as appropriate.

[2019-12-06 17:03] Karishma-Tiwari-MSFT commented on #44198
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 17:04] Karishma-Tiwari-MSFT commented on #44200
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 17:04] Karishma-Tiwari-MSFT commented on #44208
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 17:05] Karishma-Tiwari-MSFT commented on #44212
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 17:06] #44212 closed

[2019-12-06 17:07] Karishma-Tiwari-MSFT commented on #44213
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 17:07] AjayKumar-MSFT commented on #44103
@dcbrown16, I understand the background details for this scenario/feedback, your feedback is much appreciated.  As it is a manual process for the backup which creates a one-time backup in the specified storage account container, so I presume it is not explicitly called-out, your feedback has been shared with the content owner (@cephalin) for further review.

[2019-12-06 17:08] #44180 closed

[2019-12-06 17:12] csteelatgburg opened #44214 "Exceeding Quotas"
I am developing a QnA bot and the app service associated with my QnA Knowledge Base is continually getting stopped due to exceeding the quota. I am using the Free Tier during this phase of development. When I check the quota for the app service, none of the gages show that quota has been exceeded. Could this be a bug with the quotas on the free tier?

---
#### Document Details

⚠ *Do not edit this

[2019-12-06 17:24] PramodValavala-MSFT commented on #44201
@M0ns1gn0r I believe there is a way to fetch the master key. The discussion in [this issue](https://github.com/Azure/azure-functions-host/issues/3994) covers more details on how to do it, specifically [this comment](https://github.com/Azure/azure-functions-host/issues/3994#issuecomment-507693624).

Also, there is a [link](https://github.com/Azure/azure-functions-host/issues/3994#issuecomment-51343

[2019-12-06 17:25] CarlRabeler commented on #44211
@VanMSFT for your awareness

[2019-12-06 17:27] AndyWu7623 opened #44215 "Velero on Azure link is not working"
The link for "Velero on Azure" in the section is no longer working. Would you please update and provide the correct link for it?

If you use Azure Managed Disks, you can choose replication and DR solutions such as these:
Velero on Azure
Azure Site Recovery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6557663-a845-e5

[2019-12-06 17:31] ltloopy opened #44216 "Windows permissions requirement not accurate"
I set up Azure migrate for a physical server with  Remote Management Users - Performance Monitor Users - Performance Log and when i validated the server i was given the error "Failed to fetch BIOS GUID" I updated the user to be part of the local admin group and it validated successfully

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-12-06 17:36] miglover opened #44217 "Azure Site Recovery limits Section Missing Critical Information - Source data Churn Max Limits per VM"
This page appears to be missing key information under the Azure Site Recovery limits section. Note that is is missing the table that references Source data churn and Maximum limits which is crucial in understanding the calculations explained under the Azure Site Recovery limits section. See link below which helped clarify the the max churn limit per VM:

http://arnaudpain.com/2019/08/28/azure-site

[2019-12-06 17:36] yegu-ms commented on #44125
@wmekal-pgs Thank you for the feedback! We're tracking the ASP.NET Core support. As this isn't a doc issue per se, we're going to close it here.

#please-close

[2019-12-06 17:36] #44125 closed

[2019-12-06 17:42] PramodValavala-MSFT commented on #43975
@UniSnake Thanks for catching that! We have assigned this issue to the content author to review and update accordingly.

[2019-12-06 17:47] NavtejSaini-MSFT commented on #44182
@yegu-ms Please confirm if we have to create a PR for this.

[2019-12-06 17:57] pbous123 opened #44218 "Add FAQ Question"
add difference between spot vms and low priority vms and when to use each

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fc1cf2b-efba-fd67-2111-45a96fb9e407
* Version Independent ID: 7178f530-8b62-19f2-dcfc-2be2df9d6a52
* Content: [Use Azure Spot VMs (Preview) - Azure Linux Virtual Machines](https://docs.microsoft.com

[2019-12-06 18:05] dbreshears commented on #43389
@KSchlobohm,   we have a workitem to fix the template in the VS tooling and plan to get to it soon.  Thanks!

[2019-12-06 18:11] NavtejSaini-MSFT commented on #44211
@aliceku @VanMSFT Please look into this and check what additional information was supposed to be added.

[2019-12-06 18:12] diberry commented on #44214
@csteelatgburg The errors for quota are 403 for monthly quota and 429 for per second quota ( usually 5 TPS). Which error are you getting? How are the transactions made - manually or with an automated tool that might be firing too fast for your tier?

[2019-12-06 18:19] M0ns1gn0r commented on #44201
OMG it works, the magic incantation is

 `listKeys(resourceId('Microsoft.Web/sites/host/', variables('functionAppName'), 'default'),'2016-08-01').systemkeys.eventgrid_extension`

I have spent numerous hours searching through docs and trying different ways to get the key and failed every time. In particular, [this page](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-te

[2019-12-06 18:24] kevinvngo commented on #42312
Thanks! Updated here: https://github.com/MicrosoftDocs/azure-docs-pr/pull/98212

[2019-12-06 18:25] kevinvngo commented on #42312
#please-close

[2019-12-06 18:25] #42312 closed

[2019-12-06 18:28] ajlam commented on #44041
@evmimagina - confirmed with my team that 5.1.20 and below are not supported. I am updating the docs to reflect this and will also crosslink the SSL doc to the compatibility doc.

[2019-12-06 18:29] KranthiPakala-MSFT commented on #44199
@doelpede Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2019-12-06 18:30] kevinvngo commented on #43367
Thanks for the feedback!

Content and links added:

Add a new task using the Azure SQL Database deployment task and fill in the required fields to connect to your target data warehouse. When this task runs, the DACPAC generated from the previous build process is deployed to the target data warehouse. You can also use the Azure SQL Datawarehouse deployment task

[2019-12-06 18:31] scottsa-msft opened #44220 "quarantine admin role is missing from the documentation"
Please add the role and what it can access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissions - Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-grou

[2019-12-06 18:31] kevinvngo commented on #43367
#please-close

[2019-12-06 18:31] #43367 closed

[2019-12-06 18:34] nbavu00 commented on #32452
Hi @BryanTrach-MSFT even I am looking for the same. I am using mongoAPI in Azure cosmos DB which I would like to connect from POWER BI but I didnt find any connector for c**onnect to cosmosdb mongo api using power BI.**

[2019-12-06 18:36] kevinvngo commented on #43901
This is being tracked in our backlog being tracked as a future improvement. Please vote on our UserVoice to help us triage these kinds of requests: https://feedback.azure.com/forums/307516-sql-data-warehouse

[2019-12-06 18:39] paulyuk commented on #43389
Thank you Devin!

[2019-12-06 18:42] MarileeTurscak-MSFT commented on #44220
@scottsa-msft
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-06 18:43] kevinvngo commented on #37061
updated: https://github.com/MicrosoftDocs/azure-docs-pr/pull/98215

[2019-12-06 18:43] kevinvngo commented on #37061
#please-close

[2019-12-06 18:43] #37061 closed

[2019-12-06 18:46] knaidoo33 opened #44221 "ADF Get MetaData from Archive or Cold Storage"
Is there a penalty for pulling a file list using the get meta data tool in Data Factory for blobs in archive or cold storage?

This article is also relevant:
https://docs.microsoft.com/en-us/azure/data-factory/control-flow-get-metadata-activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30c49a6b-e628-4aab-dc7f-fc88

[2019-12-06 18:49] YutongTie-MSFT commented on #44210
@Yevsol
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 18:53] kartiknagappa commented on #37420
☝️ Anybody? Can you please help, provide a workaround, or point me in the right direction.

@julieMSFT , @dnethi , @Matteo

[2019-12-06 18:53] csteelatgburg commented on #44214
The debug snapshot shows 403.
According to the Diagnose and solve problems "Troubleshoot App Performance and Availability" tools they have a substatus of 67 for the FrontEnd instance.

Transactions are coming from the bot I created using the sample from here: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/11.qnamaker

I have been having issues getting the bot

[2019-12-06 18:55] MicahMcKittrick-MSFT commented on #44218
@pbous123 Spot will be replacing Low Priority. So users will not have the option to pick between the two. Hence, this won't be needed as part of the FAQ. Docs will be updated once Spot goes GA.

[2019-12-06 18:55] #44218 closed

[2019-12-06 18:55] MicahMcKittrick-MSFT commented on #44215
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-06 18:59] MartinJaffer-MSFT commented on #43899
Since I have not heard back, I will assume this solves your issue.  I will now close the issue.  If you have more questions, let me know and I will re-open the issue.

[2019-12-06 18:59] #43899 closed

[2019-12-06 19:00] AjayKumar-MSFT commented on #44040
@ahaeber, Typically, unless explicitly specified it would be applicable to all the English regions.  Please do let us know if you're seeing any issues with this and describe more details on your scenario.

[2019-12-06 19:01] JimacoMS3 commented on #44153
Hi @Garry-Anderson,

Thanks for your feedback.

We currently support only XCode on Mac OS. If Visual Studio is a requirement for you, you may be able to find help with installation by posting on [Stack Overflow](https://stackoverflow.com/) using either the `azure-iot-hub` or `azure-iot-dps` tags. These Stack Overflow channels are monitored by our support engineers. Again, this is not an officially

[2019-12-06 19:04] MartinJaffer-MSFT commented on #43897
Thank you very much for the clarification @bigdaveydave .  A webhook tutorial would be a beneficial addition to our docs.  Would you be interested in helping create one?

[2019-12-06 19:07] Alberto-Vega-MSFT commented on #44098
Hi @benjamminhansen I reached out internally and I learned that: Yes it will work, but you will need to stand up a VM in Azure and develop code to pass Azure Kinect frames to body tracking (e.g. upload an .mkv and process each frame in the file).

If you need further help you please open an issue on the[ Azure Kinect Sensors Repo](https://github.com/Microsoft/Azure-Kinect-Sensor-SDK) sometimes tho

[2019-12-06 19:08] Grace-MacJones-MSFT commented on #43214
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-06 19:08] #43214 closed

[2019-12-06 19:19] jeffhollan commented on #42232
Apologies updating a bit of this. Since this is pricing page related I'm going to recommend we close after this comment and the pricing page should have all details:

1. The price is still the preview price even though Premium is GA.  This is mostly because we need to give a bit of notice to customers before price changes so didn't change immediately.
1. The price effective Jan 1 is live on the pr

[2019-12-06 19:19] jeffhollan commented on #42232
#please-close

[2019-12-06 19:19] #42232 closed

[2019-12-06 19:20] MartinJaffer-MSFT commented on #43897
@djpmsft This contribution could be helpful in illustrating how to implement the "Report status on callback" option of Webhook.  Do you think I should insert this into the docs, or should I leave as is?

This implementation is specific to PowerShell.  If I read this in the docs, I would ask "how do I get URL for my PowerShell".
In my opinion, a full tutorial / how-to would be a beneficial addition

[2019-12-06 19:34] lastcoolnameleft commented on #44215
I've created the following PR in the "azure-docs-pr" repo:  https://github.com/MicrosoftDocs/azure-docs-pr/pull/98227

[2019-12-06 19:41] roygara commented on #44066
@Mirend Thanks for reaching out, I repro'd and found the same issue and circled back with the product team.

Turns out this is actually exclusively limited to v9 of the sync agent, which is currently in the process of rolling out. The cmdlets don't appear in v8. I'll update the doc to better reflect that.

@SumanthMarigowda-MSFT can you swap this to doc enhancement?

[2019-12-06 19:49] MashaMSFT commented on #44082
Hi @jpvajrala , thank you for sharing your business justification! I've passed along your feedback to the product group, but I would also suggest submitting a feedback item at [https://aka.ms/sqlfeedback](https://aka.ms/sqlfeedback), as this helps with visibility.

Additionally, I wanted to that once we create the failover cluster with ip address which we got from NIC, we are changing the ip addre

[2019-12-06 19:49] #44082 closed

[2019-12-06 19:54] cynthn commented on #43794
@SychevIgor Thanks for the feedback. There is a separate overview of Dedicated hosts here: https://docs.microsoft.com/azure/virtual-machines/windows/dedicated-hosts that might help.

While they both place VMs together, Dedicated Hosts is a larger investment, because you are purchasing an entire host. Proximity Placement Groups work with smaller numbers of VMs and with a variety of VM sizes. There

[2019-12-06 19:56] MicrosoftGuyJFlo commented on #44104
This article is being updated. Will factor into updates.

[2019-12-06 19:56] MicrosoftGuyJFlo commented on #44104
#please-close

[2019-12-06 19:56] #44104 closed

[2019-12-06 19:58] #44215 closed

[2019-12-06 20:00] MarileeTurscak-MSFT commented on #44204
I made a pull request to remove these, and agree that these can probably be updated or kept as a non-static link.

https://github.com/MicrosoftDocs/azure-docs-pr/pull/98233

I am closing this out but the feedback has been passed along to the content team. CC: @MicrosoftGuyJFlo

[2019-12-06 20:00] #44204 closed

[2019-12-06 20:00] NachoVazquez opened #44225 "ROPC flow error The application associated with client id has no registered redirect URIs"
# The application associated with client id 09ac92da-a796-4cd9-973b-c97756____ has no registered redirect URIs

## Description

I followed the steps described in https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc?tabs=applications.

When attempting to obtain the token in Postman using ROPC I'm getting

[code]

I should not be asked for a redirect URIs.

My POST is as follow

[2019-12-06 20:03] diberry commented on #44214
@csteelatgburg Based on what you are saying, I don't know why QnA Maker would return 403. Can you please post this issue on stack overflow and label it bot framework. That team monitors SO and may have better insight into the reason for the 403. Feel free to post the SO link here.

[2019-12-06 20:25] ferantivero opened #44226 "Front Door outbound IP ranges"
[Enter feedback here]

on this specific [FAQ](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#how-do-i-limit-access-to-my-back-end-to-be-from-front-door-only): should be "inbound" instead of Front Door "outbound" IP ranges or maybe just Front Door IP address space?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-12-06 20:29] cynthn commented on #43793
#please-close - handling this in #43794

[2019-12-06 20:29] #43793 closed

[2019-12-06 20:34] razvansalajan opened #44227 "Scaled "in" instead of down in "The number of instances is eventually scaled down to zero""
Shouldn't be "scaled **in**" in: "The number of instances is eventually scaled ~down~ **in** to zero" ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06436739-8586-23b1-6b69-1960e93c26be
* Version Independent ID: 8f7abfae-cf6d-56cb-1d20-f02041a6f6d9
* Content: [Azure Functions scale and hosting](https://docs.microsoft

[2019-12-06 20:43] msrini-MSFT commented on #44226
@ferantivero , Azure Front door will act as a reverse proxy and the outbound IPs are different from Front door inbound IPs.

[2019-12-06 20:48] bwren commented on #44097
@SnehaAgrawal-MSFT Looks like an error that i'm listed as author here.  I think @cephalin should be able to help.

[2019-12-06 20:53] roygara commented on #43666
Reassigning this to the correct owner:

#reassign: RenaShahMSFT

[2019-12-06 20:54] JimacoMS3 commented on #43523
@iancraig45 -- just checking in. Did you get a chance to pursue any of the other avenues I suggested?

[2019-12-06 20:57] bwren commented on #43581
We have an [article that describes the new experience](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-subscription) and expect to have the fully updated docs out there next week.  I did notice that we have an incorrect link in the note at the top of that page so I'm quickly fixing that now.

[2019-12-06 20:59] bwren commented on #43581
#please-close

[2019-12-06 20:59] #43581 closed

[2019-12-06 21:00] roygara commented on #41277
@jgwinner did you have any additional questions on this particular issue? If not, that's fine, please let me know. If I don't hear back from you I will close this out in two days.

Again, thanks for reaching out. :)

[2019-12-06 21:01] ferantivero commented on #44226
thanks for the quick reply @msrini-MSFT, if that is the case, please let me double check with you, in the case of this [FAQ](https://docs.microsoft.com/en-us/azure/web-application-firewall/afds/waf-faq#how-do-i-limit-access-to-my-back-end-to-be-from-front-door-only) shouldn’t be “inbound” instead?

[2019-12-06 21:07] JimacoMS3 commented on #42894
Hi there -- the topic has been updated to reflect our current recommendations and prerequisites for the V2 device client and the V1 service client. I'll leave this issue open for a couple more days for any feedback and then I'll move to close it.

[2019-12-06 21:07] msrini-MSFT commented on #44226
The FAQ is written with the context of backend  resource and hence Front door is acting as a reverse proxy, when the traffic hits your resource, it will be the outbound IP of Front door

[2019-12-06 21:20] MarileeTurscak-MSFT commented on #44225
@NachoVazquez
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-06 21:28] MarileeTurscak-MSFT commented on #44052
@juntakata are your customers reporting that it takes longer than 24 hours? If so, can you give me an estimate of how many customers are having this issue? Do you also have an estimate of how much time it is taking for the logs to appear for those customers?

[2019-12-06 21:50] cherylmc commented on #43398
#reassign:anzaman

[2019-12-06 21:53] cherylmc commented on #43012
#reassign:anzaman

[2019-12-06 21:59] cynthn commented on #43512
@vinyar Thanks for the feedback. I updated the doc you referenced and also the Mac specific topic here: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/mac-create-ssh-keys to include the  `-m PEM` option. The docs should be updated after 4:00PM PST today.

I tested this in Cloud Shell, but I don't have a Mac available today to test, so I may have missed something. Please let me know

[2019-12-06 22:00] wkasdorp commented on #43816
Great that you can repro this!

I'd like to point out that my workaround is just that -- a workaround. It will fail if you get a storage account (blob) with a vanity url. It would be much better to catch this at the source if we can. Clearly the extension is detecting the difference; why was it coded to do that? Bug or intentional?

[2019-12-06 22:01] cynthn commented on #42966
#assign ju-shim

[2019-12-06 22:05] atekkam commented on #38407
@AshokPeddakotla-MSFT Where can I find the subscription key for maps mentioned in the below help page?
https://docs.microsoft.com/en-us/learn/modules/create-your-first-iot-central-app/4-set-up-your-development-environment

[2019-12-06 22:08] montereyharris commented on #44163
Add IP addresses to a VM Section. I will submit the command in a PR. Set-AzNetworkInterface -nic $myNic

[2019-12-06 22:12] cherylmc commented on #43846
I will take this as a doc bug. Thanks! #please-close

[2019-12-06 22:12] #43846 closed

[2019-12-06 22:14] montereyharris commented on #44163
Hey looks like I just missed the command.

[2019-12-06 22:14] #44163 closed

[2019-12-06 22:15] atekkam commented on #38407
I used the primary key of my maps subscription and it worked. It would make sense to update the documentation accordingly.

[2019-12-06 22:18] Alberto-Vega-MSFT commented on #44206
@RyanMannix Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-06 22:21] MarileeTurscak-MSFT commented on #44052
Hi @juntakata ,

I reported to the product team and they said that they have had issues with latency in the past two weeks in specific regions, but will need more details from you like Tenant ID and the time when you found this issue. I filed a bug for you and if you send me an email at AzCommunity@microsoft.com and include those details, I can update the bug with your information and work togethe

[2019-12-06 22:21] #44052 closed

[2019-12-06 22:24] rolyon commented on #43988
Hi @jtuliani
Thanks for the feedback. I've contacted the team asking about this property.

[2019-12-06 22:40] roygara commented on #44066
The change has been merged and will be live later today.

Again, thanks for reaching out and bringing this to our attention, we appreciate it!

#please-close

[2019-12-06 22:40] #44066 closed

[2019-12-06 22:45] edercastro77 commented on #24491
hi, when this issue is going to be fix it?

[2019-12-06 22:49] Jiaming-Liu opened #44230 "About the URI given from the tb.start"
Is there anyway to get an external url that allow me to monitor the experiment on the fly? In an Azure ML Experiment:

[code]

Output:
http://localhost:6006/

I still can't not monitor the training using this uri. Is there anyway to get a uri to visit the tb from my pc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab

[2019-12-06 22:52] JimacoMS3 commented on #40260
Hi @jomalsan,

I've updated the topic to reflect using the V1 Python service client and the v2 Python device client.

For Mac OS, you may need additional instructions per the [V1 setup devbox instrctions for Mac OS](https://github.com/Azure/azure-iot-sdk-c/blob/master/doc/devbox_setup.md#set-up-a-macos-mac-os-x-development-environment) and this GitHub issue: https://github.com/Azure/azure-iot-sdk-

[2019-12-06 22:53] Martony78 opened #44231 "Does Azure Management includes Graph API, MCAS..."
Does this policy also protects other portal like Graph Explorer, Microsoft 365 admin portal or Cloud App Security?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6262808-898e-6196-de6c-d76f649f20fa
* Version Independent ID: 2075ceab-b773-db35-a79d-7044e839bc17
* Content: [Conditional Access - Require MFA for Azure man

[2019-12-06 22:57] Martony78 commented on #43925
Same here, worried about the "Require MFA for admins" disappearance...

[2019-12-06 23:05] iainfoulds commented on #44183
Sorry you ran into issues, @Klaas-. I've created a PR to add this limitation to the doc.

#in-progress

[2019-12-06 23:05] juntakata commented on #44052
Hi @MarileeTurscak-MSFT,

The customer is not asking us to investigate issues about latency. He is asking how long they have to wait at maximum. if activity logs should come up within 24 hours, our customers can decide to raise support request after 24 hours of delay. As current document does not have description about maximum (expected) latency, I just wanted you to add that information to the do

[2019-12-06 23:16] MarileeTurscak-MSFT commented on #44225
This error occurs because you still need to configure some application claims in the b2c directory user flow to allow complete access to the application.

You need to make sure that the right versions of the authentication are in the reply url (likely extension v2.0) and that the reply URL is configured in the application and in the code.

Please look to the documentation for the reply URL schema

[2019-12-06 23:16] MarileeTurscak-MSFT commented on #44225
Closing this out because we are tracking on another thread and this is more of a product question than documentation issue, but I will update the thread when we have this resolved.

[2019-12-06 23:16] #44225 closed

[2019-12-06 23:20] CeciAc opened #44232 "HTTP/2 to backend server"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.de-de/issues/601

@git001 commented 2 hours ago — with docs.microsoft.com
You explain here that HTTP/2 is used for the communication on the Browser (Front door) can I use also HTTP/2 to the backend server?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-12-06 23:24] NachoVazquez commented on #44225
Thanks! I also replay in Stack Overflow. If there is a fix via configuration I'll provide the corresponding PR to update the docs!

Thanks for your time!

[2019-12-06 23:28] MarileeTurscak-MSFT commented on #44052
The maximum should be 5 minutes and shouldn't reach 24 hours, but I know there was an issue in the past two weeks that caused it to increase.

[2019-12-06 23:31] MarileeTurscak-MSFT commented on #44054
Hi @kamranbashir , thanks for reporting this! Since this is being tracked in Q&A I am closing this as a duplicate and will continue to track there. The doc issues are meant more for bugs with the docs themselves.

[2019-12-06 23:31] #44054 closed

[2019-12-06 23:32] LeonardoSobrado opened #44233 "Base image clarification"
for asp.netcore apps, the base image their repository recommends is found in
https://hub.docker.com/_/microsoft-dotnet-core-aspnet/
your link points to
https://hub.docker.com/_microsoft-dotnet-cores-aspnet
so it shows up broken.

Also another thing, the image listed on said site is
mcr.microsoft.com/dotnet/core/aspnet
which in turn will indeed pull from nanoserver:1809 thanks to multi-targeting in

[2019-12-06 23:33] NachoVazquez commented on #44225
To be clear, I'm using Resource Owner Password Credential. Therefore, no redirect Url should be necessary nor required.

[2019-12-06 23:34] femsulu commented on #44207
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-06 23:42] sanoraya opened #44235 "The term 'Get-AzureRmOperationalInsightsWorkspace' is not recognized as..."
Hi, I am using Azure Pipelines and run Azure PowerShell command to enable log analytics for Logic Apps.  Getting this error: The term 'Get-AzureRmOperationalInsightsWorkspace' is not recognized as...
When I run my script from command line everything works fine.
Thanks!

[ReleaseLogs_382.zip](https://github.com/MicrosoftDocs/azure-docs/files/3934416/ReleaseLogs_382.zip)

[2019-12-06 23:45] julieMSFT commented on #37420
@kartiknagappa Hi, I am trying to find an answer for you but have not been successful so far. I am still actively researching this issue. Thank you for your patience.

[2019-12-06 23:54] femsulu commented on #44216
@ltloopy - thanks for the feedback. To clarify, Are you requesting an update to the content based on the error you called out above?

[2019-12-07 00:01] femsulu commented on #44217
Thanks for your comment. The feedback has been shared with the content owner for further review. Thanks for your patience.

[2019-12-07 00:02] stefann42 opened #44236 "PNG illustration should have white not transparent background"
The illustration for how the native MongoDB write/read concerns are mapped to the Azure Cosmos consistency levels is a PNG with transparent background. When viewed in dark mode it renders as black text on almost black background effectively making the text invisible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac149

[2019-12-07 00:16] MarileeTurscak-MSFT commented on #44220
@scottsa-msft can you please post a screenshot of where you see this in the portal? I don't see any built-in role for "quarantine admin"

[2019-12-07 00:20] nibaccam commented on #43839
@algattik the monitoring SDK is appropriate for existing customers that have used it previously for monitoring data drift on models.  For new customers and developers who aren't users of the monitoring SDK, we recommend using App Insights for data monitoring capabilities.

@shashishailaj
The referenced PR is to update the notice in the documentation. It should go live in a few hours.
If satisfied

[2019-12-07 00:20] #43839 closed

[2019-12-07 00:22] yegu-ms commented on #44182
@hifni Thank you for pointing this out!

@NavtejSaini-MSFT We already fixed this in the doc.

#please-close

[2019-12-07 00:22] #44182 closed

[2019-12-07 00:23] jan-eng commented on #43822
@danield137, while we use VMs and Premium Storage under the covers, we are using special versions of these offers for our service. Hence the limits are different and so the math you are doing is not correct. There are also other factors playing a role, like the latency per I/O and the size of the I/O, which can vary bases on the workload running against RDBMs. That is why we do not publish these n

[2019-12-07 00:23] #43822 closed

[2019-12-07 00:26] femsulu commented on #43389
Will now close this thread since we have an internal workitem tracking this effort. Will make a note to update the thread once the templates are updated. Dont hesitate to ping if you have any followup questions.

[2019-12-07 00:26] #43389 closed

[2019-12-07 01:13] cmosqu opened #44237 "Clarification Required..."
Does the "High availability with customer-managed TDE" section above apply to Managed Instance with BYOK as well? For Managed Instance do we need to backup and restore the key from one vault to another? Is the process below correct? If I follow this process with every key rotation, when a failover occurs, will my databases be available? Pardon me saying this but it seems like a lot of risk for you

[2019-12-07 01:17] cmosqu opened #44238 ""soft delete" <> "soft overwrite"???"
If I generate a key in Azure key vault (or import it from a certificate) and give it a name of "TestTDEKey", even though "soft delete" is on, I find that I cannot recover the key if I accidentally generate another key using the same name "TestTDEKey". If I had assigned the original key as the TDE Protector and encrypted databases using it, the old key is replaced and is no longer available, making

[2019-12-07 01:20] JimacoMS3 commented on #41680
Hi @kartben

Thanks for providing this feedback. You're right functionality and portal pages have changed since this topic was written. We will take your feedback into consideration during the next release of the Azure IoT Device Provisioning Service docs.

Thanks again,

Jimaco

[2019-12-07 01:25] KrishnaG-MSFT commented on #44235
@sanoraya Thanks for reaching out to us, but at this time it does not look like you are referring to a document but to a specific scenario. If you are referring to an Azure documentation and if you think it needs an update (w.r.t documentation or product), please let us know that Azure documentation link / URL here so that we can investigate, work and provide you an update here. Else, we request y

[2019-12-07 01:32] JimacoMS3 commented on #43523
@iancraig45 One more thing to try here. Can you append the --debug parameter to the command? Do not specify the resource group.

You should get quite a bit of debug info. Scan through that and look for a GET request to `https://management.azure.com/subscriptions/<your subscription id>/providers/Microsoft.Devices/IotHubs?api-version=2019-03-22-preview`. It should be the first get. The value returne

[2019-12-07 01:59] Garry-Anderson commented on #44153
Hi Jimaco:

Thanks for the information. I will consider what to do.

Garry.

[2019-12-07 02:00] danmyhre commented on #42991
I have a case open with support and they indicated that it has been escalated to the PG and a fix should be rolled out soon (a few days).  I just got the latest version today and it still does not work.

[2019-12-07 02:04] edyoung commented on #37420
I am not familiar with that particular cmdlet but you can get more information about an object in powershell by looking at its properties. For example:

$metric = Get-AzMetric <parameters>
$metric.Data
$metric.Timeseries

That should show you more detail

[2019-12-07 02:11] arduppal commented on #43282
@manu4rhyme - as discussed internally sounded like you were able to resolve the problem. Please share it with other users.

[2019-12-07 02:24] ralish commented on #43521
@MicrosoftGuyJFlo I'm assuming the referenced commit is this one: https://github.com/MicrosoftDocs/azure-docs/commit/b8f4c5b8f33579670cf7e114ba3739786bbd7475

The configuration of the _Cloud apps or actions_ section has been removed entirely, and so following this new configuration results in a Conditional Access rule which uses the default of not targeting any cloud apps (UI shows _0 cloud apps s

[2019-12-07 02:39] mike-urnun-msft commented on #44227
Hello @razvansalajan - I've created a PR for this change, and once merged, it'll be live within 24hrs and this issue will auto-close. Thank you for sharing your feedback and helping us drive improvement towards MS Docs!

[2019-12-07 02:44] #44227 closed

[2019-12-07 03:30] AshokPeddakotla-MSFT commented on #44221
@knaidoo33 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 03:41] SnehaAgrawal-MSFT commented on #44233
@LeonardoSobrado Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:24] AshokPeddakotla-MSFT commented on #44230
@Jiaming-Liu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:24] KrishnaG-MSFT commented on #43872
Closing this issue for now. If there are further questions regarding this matter or feedback on the documentation, please do let us know and we will gladly continue the discussion.

[2019-12-07 04:24] #43872 closed

[2019-12-07 04:25] AshokPeddakotla-MSFT commented on #44231
@Martony78 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:27] AshokPeddakotla-MSFT commented on #44232
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:28] AshokPeddakotla-MSFT commented on #44236
@stefann42 Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-07 04:30] AshokPeddakotla-MSFT commented on #44237
@cmosqu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:31] AshokPeddakotla-MSFT commented on #44238
@cmosqu Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-07 04:54] peledins commented on #43746
@CristianJonsson, I am guessing that portal ARM exports does not use recent enough schema version, e.g.
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",

however, at resources.azure.com, I get to something like:
    "networkAcls": {
      "bypass": "AzureServices",
      "defaultAction": "Deny",
      "ipRules": [],
      "virtualNetworkRules": [

[2019-12-07 05:06] peledins commented on #43746
See: https://docs.microsoft.com/en-us/azure/templates/Microsoft.KeyVault/2018-02-14/vaults

[2019-12-07 06:05] azhar787 opened #44242 "Customer Does not Get Charged After Activating the Subscription."
After implementing what's written over here - [SaaS Fulfillment API](https://docs.microsoft.com/en-us/azure/marketplace/partner-center-portal/pc-saas-fulfillment-api-v2) and building the Technical Configuration page for the offer - [End to End Data Estate Modernization Offer - Azure Marketplace](https://azuremarketplace.microsoft.com/en-us/marketplace/apps/neal_analytics.etoedataestatemodernizatio

[2019-12-07 08:00] msrini-MSFT commented on #44232
https://github.com/MicrosoftDocs/azure-docs/issues/41486

[2019-12-07 08:01] msrini-MSFT commented on #44232
HTTP/2 is only supported from Client to AFD, but not AFD to the backend.

[2019-12-07 08:01] #44232 closed

[2019-12-07 09:15] KrishnaG-MSFT commented on #44188
@spaelling Perhaps you might already be aware but just FYI, in the initial section of referred Azure document itself it was informed (as shown below in bold characters) to test the user experience using sandbox environment.

**You can use a JSON editor to create your createUiDefinition then test it in the [createUiDefinition Sandbox](https://portal.azure.com/?feature.customPortal=false#blade/Micro

[2019-12-07 10:21] spaelling commented on #44188
I am sorry, I did not see that at all. Will use it going forward. Sometimes I start in the middle of the documentation, and work outwards from there. In this case I missed this very important part!

I still think that the portal should error out and not load forever. Does not have to very descriptive. I was not sure if it was the template, or my subscription, something temporary, the browser, my n

[2019-12-07 11:01] KrishnaG-MSFT commented on #44188
@spaelling No problem. :) Glad to know that I was able to clarify / guide you to test the user experience using sandbox environment. I tested in different browsers like edge, firefox, chrome and didn't see any issue. You may try to troubleshoot / diagnose the issue by validating all the valid things that you mentioned like trying in different browsers, checking network connection, etc. and then te

[2019-12-07 12:07] AshokPeddakotla-MSFT commented on #44242
@azhar787 We apologies for the inconvenience caused in this regard. we are checking on this and will update as earliest.

[2019-12-07 12:48] DixitArora-MSFT commented on #44123
@kspoojary Just following up again in case missed the previous communication.

[2019-12-07 12:48] DixitArora-MSFT commented on #44129
@vbrodsky So for now I will proceed with closure of this and If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-07 12:48] #44129 closed

[2019-12-07 13:48] NavtejSaini-MSFT commented on #44041
@ajlam Thanks for the updates. We can see the changes in the document now.
@evmimagina We are going ahead and closing this thread.

[2019-12-07 13:48] #44041 closed

[2019-12-07 13:53] #44101 closed

[2019-12-07 14:02] mikegoatly commented on #44058
Thanks @JnHs - this is probably a stupid question but is the deployment resource responsible for co-ordinating the deployment _process_?

For example, if I have a deployment resource in Central US that is deploying resources into North Europe, then the only inter-region communications that would take place are the necessary Resource Manager API calls made from the US to Europe?

In which case, onc

[2019-12-07 14:49] kspoojary commented on #44123
https://docs.microsoft.com/en-us/azure/virtual-network/service-tags-overview

[2019-12-07 15:20] zubairshahzad commented on #44126
testin  url  :  https://westcentralus.api.cognitive.microsoft.com/face/v1.0

and api endpoint  url  : https://technicianrecognition-model-prototype.cognitiveservices.azure.com/
working  with testing url  but  for api url  not working

[2019-12-07 15:30] knutole commented on #24522
This is still not working as per documentation.

[2019-12-07 15:52] lab44Hub opened #44244 "error on sample code"
Spent a hour trying to figure this out.

In "public class Family" add above  "public string LastName { get; set; }"
[JsonProperty(PropertyName = "Lastname")]

otherwise Cosmos DB reports PartitionKey errors when attempting to add item

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6367067e-e9ce-6c2a-dd5d-a9de54735e78
*

[2019-12-07 16:40] AshokPeddakotla-MSFT commented on #44244
@lab44Hub Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-07 16:56] AshokPeddakotla-MSFT commented on #42894
@ebseavey and @vijayapotturu Please check the above response and let us know if you need further help.

[2019-12-07 17:16] raghureddy45 opened #44245 "The provided authorization grant is invalid, expired, or revoked While Sending email from Runbook"
I followed This documentation to setup up email notification.
I am getting following error during the Runbook execution.  what could be the issue?
[code]

Here is the Runbook Logic

[code]

[2019-12-07 17:29] MicahMcKittrick-MSFT commented on #44245
@raghureddy45 Please provide us with the link to the documentation you are referring to so we can better assist.

[2019-12-07 17:53] benjamminhansen commented on #44098
Thank you @AshokPeddakotla-MSFT . This seems difficult to set up, but I will research it and try to make it work. thank you for the advice on how to obtain further help.

[2019-12-07 17:58] SomyKamble commented on #43853
Hello @AshokPeddakotla-MSFT

Hope you are doing  great I request you to please share an update regarding the below feedback :

https://feedback.azure.com/forums/257792-machine-learning/suggestions/39163882-error-on-failedtoevaluaterscript-the-following

[2019-12-07 18:19] benjamminhansen commented on #44098
@AshokPeddakotla-MSFT  would that VM in Azure be a Windows VM? Do you know if I need to set up any separate special VM to use the virtual GPUs? Or can a Windows VM connect to the Virtual GPUs? I will research this also.

[2019-12-07 19:34] JnHs commented on #44058
@mikegoatly That's correct - no further interactions after the deployment is completed!

[2019-12-07 20:08] nanna481 opened #44246 "Identify"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2e83171-fd05-9fe1-3ba7-0fb20161ee63
* Version Independent ID: 2e6b2451-5ff8-a277-90ea-49aa70957977
* Content: [What is Azure Active Directory Identity Protection?](https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/overview-i

[2019-12-07 20:12] nanna481 commented on #44246
Setup

[2019-12-07 20:12] nanna481 commented on #44246
I’m new

[2019-12-07 20:13] nanna481 commented on #44246
``

[2019-12-07 20:17] krmal commented on #32322
This guide is a bit messy. Apart from the path problem, there is an exception in telemtry service, saying that it was unable to connect to Cosmos DB (wrong connection string). But even though I managed to edit ${workspaceRoot}\services\scripts\local\.env and set  PCS_TELEMETRY_DOCUMENTDB_CONNSTRING to my primary cosmos db key from portal.azure.com, the problem persists. And, the device-simulation-

[2019-12-07 20:58] msrini-MSFT commented on #44226
Do you have any further questions on this issue?

[2019-12-07 21:37] SpikePy commented on #43804
No, nothing got solved, I didn't even got an answer to my mail. The webinterface still seems broken. Setting it up via azure-cli is possible but that does not mean that the webinterface is fixed!

Is this quality ok for you azure guys? Is this the azure standard---broken webinterfaces, but you could use the cli? I'm sure what platform not to recommend to our customers.

[2019-12-07 21:44] benjamminhansen opened #44247 "Can't select a VM size: Grayed out."
I was under the impression from the services page, at https://azure.microsoft.com/en-us/free/services/virtual-desktop/, that I would be able to create a VM and provision host pool for free. I understand I would need to pay later after 12 months, I believe, but maybe I'm missing some configuration. The filters for the selection of VM size have a subscription: free-tag. But I can't select any of the

[2019-12-07 22:08] benjamminhansen opened #44248 "Provision Host Pool: Can't Select VM Size"
I was under the impression from the [services page](https://azure.microsoft.com/en-us/free/services/virtual-desktop/), that I would be able to create a VM and provision host pool for free. I understand I would need to pay later after 12 months, I believe, but maybe I'm missing some configuration. The filters for the selection of VM size have a subscription: free-tag. But I can't select any of the

[2019-12-07 22:26] alistaircree3 opened #44249 "Command failed error"
I used a bash azure cloud shell and issued the command above to get the token. Received this error:
The command failed with an unexpected error. Here is the traceback:

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/tokenTraceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(ar

[2019-12-07 22:35] ROSMITHJ-MSFT opened #44250 "Search ID and Schedule ID"
Hello,

Under the Retrieving actions section, the instruction says to use the Search ID and the Schedule ID to retrieve schedules, but doesn't explain how to find these IDs. How does one find the Search ID and the Schedule ID?

Many Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8ca0e65-acf5-32c8-bfa1-8a614881

[2019-12-07 22:37] hansenms commented on #44249
Did you do az login first?

Please post the exact sequence of commands that you used.

[2019-12-07 22:48] alistaircree3 commented on #44249
Dam I did not log in as the bash message said I was already logged in. I logged in as instructed and the command completed without error. Thanks and sorry for not following instructions.

[2019-12-07 22:50] hansenms commented on #44249
No worries. Happy to help.

#please-close

[2019-12-07 22:50] #44249 closed

[2019-12-07 23:08] alistaircree3 opened #44251 "how to use bearer token"
I copied the bearer token provided from the instructions in this page, then went to postman. confirmed I could get a get response from /metadata - all good.
The tried /Patient   while using bearer token authentication and coping this bear token received from this page into postman.  Still got     "issue": [
        {
            "severity": "error",
            "code": "login",
            "diagno

[2019-12-07 23:13] hansenms commented on #44251
Please check the response headers. You likely have one of two problems:

1. You are getting return code 401 and a header of invalid audience. In that case, you need to ask for a token for the "audience" that your FHIR server has been configured with.
2. You are getting a return 403, which means that the object id of your user (the `oid` claim in your token, which you can inspect with something lik

[2019-12-07 23:18] PingPongSet opened #44252 "Redundant setups for using managed Identity"
Are the steps mentioned on both sections "Grant database access to Azure AD user"  and "Set up Visual Studio" redundant and not required, when managed identity has been setup like section "Use managed identity connectivity"?

Using this setup in the question above, is debugging locally still working for managed identity?

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2019-12-07 23:22] csharpfritz opened #44253 "CosmosDb references?"
These docs are no longer accurate as the Table storage feature is now under CosmosDb.  Can we review and correct references to Azure.Storage.Table so that they properly work with Cosmos.Table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6d35c032-eae7-ac4b-2ad3-32fd0cd2318f
* Version Independent ID: 92b0a972-eabe-8048

[2019-12-07 23:23] PingPongSet opened #44254 "Resource for managed identity support for custom apps"
Instead of Azure SQL Database, is it possible to connect to custom application via managed identity?

For example, app service connects to another app service via managed service. This example might not be the best example. But I want to find out by default, what resouces support it, and how to make custom app work if possible.

Appreciate it for any url links on this topic.

---
#### Document Det

[2019-12-07 23:23] alistaircree3 commented on #44251
it is a 401 return code - I can see the audience in fhir api in azure portal.  would I add a --audience parameter to the command above

[2019-12-07 23:27] hansenms commented on #44251
It is the `resource` parameter in:

[code]
`resource` and `audience` (claim `aud`) are equivalent. Whatever `resource` you ask for a token for has to be the same as the audience you have configured in the portal.

[2019-12-07 23:30] hansenms commented on #44251
Also, check the response headers in Postman, they will tell you if the audience is invalid. And make sure there is not a trailing slash at then end of one and not the other.

[2019-12-07 23:33] alistaircree3 commented on #44251
www-authenticate = Bearer error="invalid_token"

Nothing about audience in the response headers

[2019-12-07 23:36] hansenms commented on #44251
Can you paste the token into something like https://jwt.ms and just make sure that you didn't miss any characters or anything like that when you copied it.

Also, did you configure the FHIR service with the AAD tenant of your subscription as the "Authority". That is the default, but in case you changed it that could be something else to check.

Most likely you copied the token incorrectly.

[2019-12-07 23:49] alistaircree3 commented on #44251
It cannot decode the token
It starts with
{"resourceType":"Bundle","id":"
and ends with
azurehealthcareapis.com/Patient"}]}

Have I got the right token?

[2019-12-07 23:54] hansenms commented on #44251
No you do not that the token right. That looks like some like some FHIR JSON. The token is the access token (Bearer token) you get from the command:

[code]

When running that command you get a "token response" one of the fields in that token response is the `access_token`, that is what you need to paste into the Bearer token field in Postman.

It should looks like a long string of characters star

[2019-12-08 00:02] scottsa-msft commented on #44220
Sorry it is an office 365 security and compliance center role and not in the admin portal

Scott Sanders | Office 365 Service Delivery Manager
scottsa@microsoft.com<mailto:scottsa@microsoft.com> ' 678 629-5746 È 404 538-5105  7 O365 Support 1-800-936-3100
[cid:image001.png@01D5AD30.CF6584F0]

From: Marilee Turscak - MSFT <notifications@github.com>
Sent: Friday, December 6, 2019 7:16 PM
To: Microso

[2019-12-08 00:46] alistaircree3 commented on #44251
Dam I was using the fhir response as the token, not the token.

Many thanks for you time  all sorted now
#close

[2019-12-08 00:47] hansenms commented on #44251
Sure thing.

#please-close

[2019-12-08 00:47] #44251 closed

[2019-12-08 01:38] KrishnaG-MSFT commented on #44249
@hansenms Thanks for the super quick response. :+1:

[2019-12-08 01:38] MicahMcKittrick-MSFT commented on #44246
@nanna481 please elaborate on the feedback you have for this specific document.

[2019-12-08 01:39] MicahMcKittrick-MSFT commented on #44248
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:39] MicahMcKittrick-MSFT commented on #44247
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:40] KrishnaG-MSFT commented on #44251
@hansenms Thanks for the super quick response. :+1:

[2019-12-08 01:41] MicahMcKittrick-MSFT commented on #44252
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:41] MicahMcKittrick-MSFT commented on #44254
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:42] MicahMcKittrick-MSFT commented on #44253
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:43] MicahMcKittrick-MSFT commented on #44250
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 01:51] alistaircree3 commented on #44251
Yes very quick and helpful   thanks.

[2019-12-08 02:56] ROSMITHJ-MSFT commented on #44250
Also, in the same section, it reads:
"When you create a schedule in the Log Analytics console, a GUID is created for the schedule ID."

How does one create a schedule in the Log Analytics Workspace? I'm assuming the console is referring to the Azure Portal.

Many thanks!

[2019-12-08 03:19] ROSMITHJ-MSFT commented on #44250
Also, when I attempt to create a schedule using the example, I am getting a 400 error.

[2019-12-08 04:32] kumarallamraju opened #44255 "Syntax error in displaying the HTTPApplicationRoutingZoneName"
[Enter feedback here]

The following command doesn't return the required output.
$ az aks show --resource-group myResourceGroup --name myAKSCluster \
--query addonProfiles.httpapplicationrouting.config.HTTPApplicationRoutingZoneName -o table

The right syntax is
az aks show --resource-group myResourceGroup --name myAKSCluster \
--query addonProfiles.httpapplicationrouting.config.HTTPApplicationRou

[2019-12-08 04:43] KrishnaG-MSFT commented on #44197
@ctahok AFAIK, those required role assignment permissions are explained under [Assign role assignment permissions](https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-vmware#assign-role-assignment-permissions) section in the same referred document.
@rayne-wiselman Please provide your insights or clarification, if any.

[2019-12-08 05:42] dcurwin commented on #44207
#reassign:sogup

[2019-12-08 07:08] AshokPeddakotla-MSFT commented on #44255
@kumarallamraju Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 07:27] shihanpietersz opened #44256 "mySQL read replica fails second time with unknown error when deploying with arm template"
**Master template resource section**
`  "resources": [
    {
      "apiVersion": "2017-12-01",
      "location": "[parameters('location')]",
      "name": "[variables('mySqlServerName')]",
      "type": "Microsoft.DBforMySQL/servers",
      "sku": {
        "name": "[parameters('databaseSkuName')]",
        "tier": "[parameters('databaseSkuTier')]",
        "capacity": "[parameters('databaseSkucap

[2019-12-08 07:43] SychevIgor commented on #43794
@cynthn Thank you for an answer.
I personally find the difference even by name.

But some of my "students" absolutely beginners in Azure and don't have broad picture.
As a result, they will find **first** link that could solve their problem and will use it. If in a first article will be cross reference on similar/alternative service and at least minimum explanation selection criteria - it will be

[2019-12-08 08:06] ehsf973 opened #44257 "update the images explanation with visual studio 2019...."
Please updates the images for better understanding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a38d0a7-62c6-6f37-60d8-3dc3ec1658c6
* Version Independent ID: bfc1d86b-74dd-ce43-9ddb-1160020b30e1
* Content: [Package an Azure Service Fabric app](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-pac

[2019-12-08 08:12] singsong2016 opened #44258 "a bug in identify codes"
var faceIds = faces.Select(face =&gt; face.FaceId).ToArray();
this sentence should change to
var faceIds = faces.Select(face =&gt; face.FaceId.Value).ToArray();
or there will be an error while building project, no thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5f087f4-64bd-ebda-e5b9-540bf9cd041e
* Version Inde

[2019-12-08 10:00] mslot opened #44259 "What happens during swap"
Hello

When I read about what happens during swap, there is a lot of different explanations out there:
1. https://stackoverflow.com/questions/29130396/why-would-azure-be-restarting-website-when-i-do-a-deployment-slot-swap?rq=1
2. https://stackoverflow.com/questions/55479062/why-azure-app-service-restarts-when-swapping-slots
3. https://stackoverflow.com/questions/45021644/is-there-way-to-determine-

[2019-12-08 11:25] phoenixx77 opened #44260 "Qna Maker Multi-turn conversations don't work on teams or web"
Hi,

I'm trying to build a bot by using Microsoft QnA maker. I discovered the nice feature 'multi turn conversations' which give the opportunity to add follow-up response. I implemented this in my base and it works perfeclty in the test emulator on https://www.qnamaker.ai/

But when I publish the bot on Azure, it works but multi turn conversations and follow-up responses don't work :(.
It seems th

[2019-12-08 11:36] KrishnaG-MSFT commented on #44250
@ROSMITHJ-MSFT To answer your question number 1, AFAIK you may use [this](https://docs.microsoft.com/en-us/rest/api/loganalytics/savedsearches/get) and [this]( https://docs.microsoft.com/en-us/rest/api/loganalytics/savedsearches/listbyworkspace) REST API's to get and list saved search ID's respectively. Similarly, you may use [this]( https://docs.microsoft.com/en-us/rest/api/monitor/scheduledquery

[2019-12-08 11:49] AshokPeddakotla-MSFT commented on #44256
@shihanpietersz  Please help with the link of document on which above document feedback request is created.
Under this repository we want to make sure any issue is linked to a doc so we can help others that may be having the same issue.

[2019-12-08 11:50] AshokPeddakotla-MSFT commented on #44257
@ehsf973 Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-08 11:52] AshokPeddakotla-MSFT commented on #44258
@singsong2016 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 12:14] LiorArmiev opened #44261 "Max number of connections"
is there a limit to the number of mapped computers to storage?
is it limited as the number of REST request to Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12f1ea9-6446-be01-22fe-885fb945d22c
* Version Independent ID: 634f8ace-1a8c-6811-627b-fdfbdd1942a3
* Content: [Use an Azure file share with Windows](https:

[2019-12-08 12:27] theonlygusti opened #44262 "Don't see how to get custom speech model ID"
I want to use batch transcription with a custom model.

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/batch-transcription

Says:

I can't find out how to get the non-endpoint model ID.

This other page:

https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/how-to-custom-speech-deploy-model

says

Similarly, I can't find an "Endpoint > Details" section

[2019-12-08 12:40] akourbat commented on #36167
Any news on this? I also could not get this feature to work. Please either update or remove it, otherwise it is confusing.

[2019-12-08 13:27] ShawnMcGough commented on #41712
@femsulu
I've looked into accessing limits programmatically you mentioned. Unfortunately the availability appears to be restricted to a small subset of azure resources. Specifically, VMs, network, and storage with the following commands (and their az cli count-parts).
[code]
For example, there is no way to query for the limit on 'Maximum number of Data Lake Analytics accounts per region per subscr

[2019-12-08 13:36] akourbat opened #44263 ""Notifications" section is missing in host.json reference docs"
Hi, this reference document https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings#host-json seems omit the "notifications" section, as described in https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-versions -
<quote>
Host.json schema

Durable Functions 2.x uses a new host.json schema. The main changes from 1.x include:

    "storag

[2019-12-08 14:42] RoopAnymous opened #44264 "My One of logical partitioning throws error that it exceeded 10 GB capacity"
My cosmos db collection's one of partitioning throws exceeded 10 GB capacity error. My collection has unlimited capacity selected.
Is  there anyway I can increase my storage capacity or increase this logical partitioning capacity instead redesigning whole partition key at this time?

Also read write is set to to one partition location.

Do you have any solution please?

---
#### Document Details

[2019-12-08 15:07] AshokPeddakotla-MSFT commented on #44259
@mslot Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 15:17] AshokPeddakotla-MSFT commented on #44260
@phoenixx77 Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 15:18] AshokPeddakotla-MSFT commented on #44261
@LiorArmiev Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 15:18] ctahok commented on #44197
Thanks Krishna,

But even there if we are configuring the permissions we do it with the aim
of running assessment, then what is the point of calling out small chunk of
permissions here
<https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-vmware#assign-permissions-to-create-project>
then the one you mentioned here
<https://docs.microsoft.com/en-us/azure/migrate/tutorial-prepare-vmware#a

[2019-12-08 15:22] AshokPeddakotla-MSFT commented on #44262
@theonlygusti Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 15:26] AshokPeddakotla-MSFT commented on #44263
@akourbat Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2019-12-08 15:27] AshokPeddakotla-MSFT commented on #44264
@RoopAnymous Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 15:29] ehsf973 opened #44265 "do a copy box for the powershell use of Connect-MsolService"
Don't forget to connect first using Connect-MsolService.
offer the pwershell syntax in a copy box.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4cb129d2-9594-bf0c-5946-982f0ed0d888
* Version Independent ID: 6522b038-6853-3552-55c8-f174cf56573d
* Content: [Per-user Multi-Factor Authentication - Azure Active Directory]

[2019-12-08 15:37] Tenseiga commented on #43962
following

[2019-12-08 15:41] mslot commented on #44259
@AshokPeddakotla-MSFT thanks. To clarify how i read list number 4 here: https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#what-happens-during-a-swap, my description is spot on in my question on stackoverflow (https://stackoverflow.com/questions/58300052/azure-webapi-warmup): "_Does it mean that 1) custom warm-up has to be enabled for the swap to call root (or any other urls),

[2019-12-08 15:45] WJayesh commented on #43774
@ManojReddy-MSFT Any updates on this?

[2019-12-08 16:00] theonlygusti commented on #44262
@AshokPeddakotla-MSFT thank you. Do you expect I will be helped to get my model ID within 12 hours?

[2019-12-08 17:17] MicahMcKittrick-MSFT commented on #44265
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-08 17:19] MicahMcKittrick-MSFT commented on #43359
@giovannifl possibly what you are looking for:

With SQL Fail over Cluster Instance (FCI) In Azure following options are available for DR
1.	Use Always ON Availability group (AG) for DR
2.	Use Log shipping

We should generally recommend customer to use AG for HA and DR as it’s lot less complicated then mixing FCI and AG.

[2019-12-08 17:46] SubhashVasarapu-MSFT commented on #43856
@yuharucan , Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-08 17:46] #43856 closed

[2019-12-08 20:48] 8forty opened #44266 "Explanation code broken in 1.0.76?"
This snippet:
from azureml.contrib.interpret.explanation.explanation_client import ExplanationClient

client = ExplanationClient.from_run(best_run)
engineered_explanations = client.download_model_explanation(raw=False)
print(engineered_explanations.get_feature_importance_dict())

Now gives me an error:
  File "C:\anaconda\envs\db6.1ML-azureml-py373\lib\site-packages\azureml\explain\model\_internal

[2019-12-08 21:41] akourbat commented on #44263
I think I opened this issue by mistake, apparently I was looking at functions docs, whereas this one is for durable functions.  I does include notification segment.  This should probably be closed.

[2019-12-08 21:41] #44263 closed

[2019-12-08 22:09] Grant-Rc opened #44267 "New-AzStorageAccount error handling"
Hello All

Looking though the issue register, I dont see any information on the below.

When I create a storage account with NetworkRuleSet from JSON i get

`New-AzStorageAccount : Long running operation failed with status 'BadRequest'.
At line:5 char:15
 ... New-AzStorageAccount -ResourceGroupName " ...
[code]

[2019-12-08 22:24] denuez opened #44268 "Microsoft Authenticator"
Microsoft Authenticator, the one I'm using and that is great, I think it should introduce additional measures to avoid accidentally deleting an account or the Authenticator itself, for example having to enter a code before deleting an account, because I have been about to delete one by mistake.  They could also implement a backup at the local level also, encrypted of course, one more measure of se

[2019-12-08 22:39] dwhiteddsoft opened #44269 ""extension_" must be pre-pended to any name you want to use"
This may seem like a duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/34587 but it is not. You cannot say this doc is correct because it works as listed on the doc. People come here looking for direction on how to do this. I look at this and say to myself "hey let's add gender" to this. In fact on this page: https://docs.microsoft.com/en-us/azure/active-directory-b2c/claimsschema th

[2019-12-08 22:40] iahmedbacha opened #44270 "Anchor tag link incorrect"
In the "Next steps" section, the link to the javascript example point to the C# example.
It should be replaced with: "https://docs.microsoft.com/en-us/azure/cognitive-services/ink-recognizer/quickstarts/javascript"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce5a700c-1a23-b19c-8f77-87dd17a7e08c
* Version Independent

[2019-12-08 23:07] manalotoj opened #44271 "Dependency injection for class-based syntax"
Please provide guidance/example of using dependency injection with durable entities. For example, how would one inject ILogger into the Counter class example? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87e12177-bb3a-d00c-99a5-422e00f9b03f
* Version Independent ID: 2fa1cf0d-2a5f-2fb0-ef25-bccfac3279fd
* Cont

[2019-12-08 23:17] manalotoj opened #44272 "Use case(s) for direct access to pods via private IP"
In the network comparison between kubenet and Azure CNI, the following is stated for the latter - "Pods get full virtual network connectivity and can be directly reached via their private IP address from connected networks". Why would one do this as opposed to exposing pods via K8s services? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2019-12-08 23:20] YutongTie-MSFT commented on #44062
@philiplai
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-08 23:20] #44062 closed

[2019-12-09 00:03] SidShetye opened #44273 "No documentation on attaching debugger?"
How does one attach a local debugger (VS2019) to a remote ASP.NET Core WebApp (Linux) ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef9002ed-c817-c615-fe32-05ad4cc78b61
* Version Independent ID: 72295255-8d90-a2c6-0995-0e1208fcdcab
* Content: [Run code on default Linux containers - Azure App Service](https://docs.mi

[2019-12-09 00:05] jdbeaver commented on #35704
Code samples still dont work - using visual studio 2017

[2019-12-09 00:29] elliot-labs commented on #37727
Hi @dcuenot ,

You can only connect to bastion through the Azure portal. It was designed this way because exposing RDP and SSH ports to the internet is a **HUGE** security risk.
To execute local scripts, you will need to get them to the remote machines some how.
I would recommend git repositories or Azure DevOps. You can direct deploy to the machines.

Does this answer your question?

Thanks!

[2019-12-09 00:32] cgillum commented on #44271
You can find an example of dependency injection in the [Developer's guide to durable entities in .NET](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-dotnet-entities#dependency-injection-in-entity-classes).

[2019-12-09 00:39] YutongTie-MSFT commented on #44214
@csteelatgburg Hi, thanks for posting your question here. Just like Dina mentioned, please post this issue on Stack Overflow and label it as bot framework. Post the SO link here will help us to track it as well.
We will now proceed to close this thread. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

[2019-12-09 00:39] #44214 closed

[2019-12-09 01:18] YutongTie-MSFT commented on #44141
@salmanmkc Hi Salman, are you following the sample exactly? I would highly recommend you to check this post and have a try: https://stackoverflow.com/questions/4660142/what-is-a-nullreferenceexception-and-how-do-i-fix-it This post should contain all the information you need, if you have more questions, I would highly recommend you to post your issue in Stack Overflow for technical help. This forum

[2019-12-09 01:18] bedro96 opened #44274 "Request to update Windows Virtual Desktop Experience Estimator tool."
The current version of Windows Virtual Desktop Experience Estimator tool is not reflecting control plane just established in Japan. For this reason, it is misrepresenting RTT for APAC/Japan region. When this tool loaded from devices in Korea, West Europe is displayed as the closest region.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-09 01:18] #44141 closed

[2019-12-09 01:53] AzureAndre opened #44275 "Update needed"
The screenshots are out of date and the to configure seem wrong (allow VMs to use the bastion subnet?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd6ddb93-8b79-9f7b-8816-e19490b45fbc
* Version Independent ID: 6d5fa801-d3b6-90a5-5bec-e63c1e0df68b
* Content: [Enable browser connection on Azure DevTest Labs virtual ma

[2019-12-09 01:54] AzureAndre opened #44276 "update neded"
The UI changed since it has gone out of preview.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ad2d730-f8bd-b48c-9c1a-6a188f15f0a3
* Version Independent ID: a9b5d206-f1c0-1d7a-3316-649ff23da69f
* Content: [Connect to your virtual machines through a browser - Azure](https://docs.microsoft.com/en-us/azure/lab-services/

[2019-12-09 01:55] MarileeTurscak-MSFT commented on #44246
Hi @nanna481 ,

To create a github issue, please follow the instructions in [this guide](https://help.github.com/en/github/managing-your-work-on-github/creating-an-issue) and include the specific feedback that you have for the document.

If you have a product question or troubleshooting question, please post to [Microsoft Q&A ](https://docs.microsoft.com/answers/questions/index.html).

If you have

[2019-12-09 01:55] #44246 closed

[2019-12-09 01:56] MarileeTurscak-MSFT commented on #44268
@denuez
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 02:12] SnehaAgrawal-MSFT commented on #43998
@etesor Thanks again for the feedback! We will now proceed to close this thread Will keep you posted for the same.

[2019-12-09 02:12] #43998 closed

[2019-12-09 02:40] josem0287 commented on #34828
@gowdachandan for your second question:

Use "apiVersion": "2019-03-01" for the "type": "Microsoft.Network/FrontDoorWebApplicationFirewallPolicies"

And under properties, include the following:

    "managedRules": {
                    "managedRuleSets": [
                        {
                            "ruleSetType": "DefaultRuleSet",
                            "ruleSetVersion": "1.0"

[2019-12-09 02:54] YutongTie-MSFT commented on #44151
@diberry Hi Dina, do you have any idea regarding to this issue?

[2019-12-09 02:58] dcbrown16 commented on #34079
@anirudhcavale we continue to receive inquiries about this in CSS. Any news?

[2019-12-09 03:04] MonikaReddy-MSFT commented on #44275
@AzureAndre , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-09 03:05] MonikaReddy-MSFT commented on #44276
@AzureAndre , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-09 03:08] MonikaReddy-MSFT commented on #44273
@SidShetye , Thanks for reaching out to us. We will investigate it further and update you shortly.

[2019-12-09 03:13] YutongTie-MSFT commented on #44270
@iahmedbacha
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-09 03:21] NachoVazquez commented on #44225
Hello @MarileeTurscak-MSFT and anyone interested!

I have news related to this issue.

User Tony Ju on Stack Overflow made me notice that if I follow the regular Application registration, everything works as expected.

In my case, I was using the preview registration, and that's what is not working as expected.

I found a workaround for the preview case. The following are the missing steps.

1.  I

[2019-12-09 03:23] Garry-Anderson commented on #44153
Hi Jimaco:

Thanks for your suggestions.  I will consider them later on, when I have some time to play around.

In an effort to move forward, I have switched to a Win10 machine for this project.

Hopefully, at some time in the future, true cross-platform development will be supported.

Thanks again.
Garry.

[2019-12-09 03:28] masashioms opened #44277 "In-memory objects support"
In the Know limitations section, the document says that "Hyperscale only supports non persistent In-Memory objects (**_table types_,** native SPs and functions). "

However, you get an error below if you have a memory optimized table type in your database.

Is this doc bug or product bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2019-12-09 03:57] owlyowl opened #44278 "v10 cannot find a way to sync production to local storage emulator - destination is always considered as a directory on disk"
Hi when trying to do:
azcopy 'https://xxxxxxxx.blob.core.windows.net/media?&lt;SAS Query String Goes Here&gt;'  'http://127.0.0.1:10000/devstoreaccount1/media' --recursive

It fails as it tries to append the local running directory before the destination url 'c:\xxx\xxxx\xxx\127.0.0.1:10000/devstoreaccount1/media'

I've tried using the --from-to flag but there doesn't seem to be a blob to storage

[2019-12-09 04:09] YutongTie-MSFT commented on #44266
@8forty
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-09 04:16] SwathiDhanwada-MSFT commented on #44058
We will close the issue for now. If there are further questions , please revert and we will be glad to assist you.

[2019-12-09 04:16] #44058 closed

[2019-12-09 04:17] dimitri-furman commented on #44277
Hi @masashioms, thanks for bringing this up. We will look into it and follow up on this issue.

[2019-12-09 04:17] Karishma-Tiwari-MSFT commented on #44079
@amanjee Is there any update?

[2019-12-09 04:27] Karishma-Tiwari-MSFT commented on #43898
Looks like the doc needs to be updated with the information for linux. I have assigned the issue to the content author to investigate further and update the document as appropriate.
CC: @msmbaldwin

[2019-12-09 04:31] Karishma-Tiwari-MSFT commented on #44198
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

CC: @romitgirdhar

[2019-12-09 04:32] AshokPeddakotla-MSFT commented on #44020
@jinzh-azureiot Please check this issue and update the doc as appropriate.

[2019-12-09 04:34] philiplai commented on #44062
@YutongTie-MSFT Thanks for looking into this.  It seems there is something wrong with REST endpoint.  I deployed another model and got the same error.

[2019-12-09 04:34] SnehaAgrawal-MSFT commented on #44055
@markjerz Since We didn’t hear back from you. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2019-12-09 04:34] #44055 closed

[2019-12-09 04:40] SumanthMarigowda-MSFT commented on #43861
@mcurko Apologies for the delay here!

[Storage Queue Data Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-queue-data-contributor) This articles explain more info on your query.

Here is a blog post that has some additional info:
https://azure.microsoft.com/en-us/blog/azure-storage-support-for-azure-ad-based-access-control-now-generally-availabl

[2019-12-09 04:40] mikki commented on #43851
Hi @shashishailaj

Thanks for the clarification

So in this case, since no additional license is required for windows 10 E3 machine, Azure security center standard tier pricing which is $14.60/Server/Month applies rite?  REF[Link]: https://azure.microsoft.com/en-us/pricing/details/security-center/

[2019-12-09 04:43] Karishma-Tiwari-MSFT commented on #44208
Thanks for sharing the update. This is valuable information and would stay here for others to refer and comment if they are seeing this issue. We would leave the doc as is for now but would update as we get similar feedback on this.
Thanks for bringing this to our attention. We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reope

[2019-12-09 04:43] #44208 closed

[2019-12-09 04:43] RohitMungi-MSFT commented on #43950
@Larryngolog When the multi turn prompts are displayed they are displayed in context only if the option is selected during KB creation. The behavior mentioned above also depends on how you have setup your KB and it would be difficult to debug the same in this case. We would request you to raise a general inquiry from the QnA portal where the details of the KB can be shared with service team who ca

[2019-12-09 04:43] SumanthMarigowda-MSFT commented on #43891
@allantargino Apologies for delay in responding here! Thanks for the feedback. Your feedback has been shared with the content owner for further review.

[2019-12-09 04:46] SumanthMarigowda-MSFT commented on #43974
@buzzkillionair  Apologies for delay in responding here! I'd recommend posting your question in https://azure.microsoft.com/en-in/support/community/ since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we wil

[2019-12-09 04:48] #43974 closed

[2019-12-09 04:48] souravmishra-msft commented on #44105
@ghogen, can you please take a look at this and update the sample accordingly.

[2019-12-09 04:55] AshokPeddakotla-MSFT commented on #44202
@yes2046  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2019-12-09 04:55] #44202 closed

[2019-12-09 04:56] SumanthMarigowda-MSFT commented on #44278
@owlyowl Thanks for your question. We are checking on this and will respond to you soon.

[2019-12-09 04:57] YutongTie-MSFT commented on #43867
@sirjun05 We will now proceed to close this thread since this is not a document isssue. If there are further questions regarding this matter, please respond here and @YutongTie-MSFT and we will gladly continue the discussion.

@GiftA-MSFT Could you please check the status of escalation if there is a bug filed? Thanks.

[2019-12-09 04:57] #43867 closed

[2019-12-09 04:57] YutongTie-MSFT commented on #44000
@ram-msft Hi Ram, do you have any update for this issue?

[2019-12-09 04:58] owlyowl commented on #44278
Thanks very much :)

On Mon, Dec 9, 2019 at 3:56 PM SumanthMarigowda-MSFT <
notifications@github.com> wrote:

[2019-12-09 05:01] AshokPeddakotla-MSFT commented on #44184
@msozgen Thanks for the link. We are currently investigating and will update you shortly.

[2019-12-09 05:07] msvijayn commented on #44250
@yanivlavi - for Azure Monitor Log Alerts clarity

[2019-12-09 05:15] VikasPullagura-MSFT commented on #44274
@bedro96 Thanks for the Feedback.
I am reaching out internally to get this checked, will update back on this thread.

[2019-12-09 05:16] RohitMungi-MSFT commented on #44126
@zubairshahzad A best way to debug this issue would be to use the API reference [portal ](https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d/operations/563879b61984550f30395236) and pass your resource details as parameters along with the request URLs and test the same. Also, please check if the right region and keys are passed in your request.

We will now close this

[2019-12-09 05:16] #44126 closed

[2019-12-09 05:29] SadiqhAhmed-MSFT commented on #44197
@anvar-ms Could you please share your thoughts on the previous post?

[2019-12-09 05:32] YutongTie-MSFT commented on #44258
@singsong2016 I have created a PR to fix it and it is under review. Thanks for the feedback.

[2019-12-09 05:33] singsong2016 commented on #44258
you are welcome!

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "notifications"<notifications@github.com&gt;;
发送时间: 2019年12月9日(星期一) 中午1:32
收件人: "MicrosoftDocs/azure-docs"<azure-docs@noreply.github.com&gt;;
抄送: "J"<229931879@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [MicrosoftDocs/azure-docs] a bug in identify codes (#44258)

@singsong2016 I have created a PR to fix

[2019-12-09 05:43] souravmishra-msft commented on #44158
@mikenri, you can only hide the service principals of the corresponding app registrations using PowerShell by adding the following tag: **HideApp**

You can achieve this by running the following command (**_in case you are creating the service principal for the first time_**):
`New-AzureADServicePrincipal -AppId $appid -AccountEnabled $true -DisplayName $appName -Tags {HideApp; WindowsAzureActiveD

[2019-12-09 05:43] #44158 closed

[2019-12-09 05:45] souravmishra-msft commented on #44160
@msaburnley, Can you please take a look at this request and update the doc accordingly.

[2019-12-09 05:51] ChiragMishra-MSFT commented on #44095
@linda33wj Can you please take a look at this?

[2019-12-09 05:51] ChiragMishra-MSFT commented on #44185
@mamccrea Can you please take a look at this?

[2019-12-09 05:53] ChiragMishra-MSFT commented on #44110
@dearandyxu

[2019-12-09 05:59] jakaruna-MSFT commented on #44193
@mscurrell Thanks for the information.
Can we close this issue or do you want me to assign this issue to you?

[2019-12-09 06:00] jakaruna-MSFT commented on #44193
@assaf-grth I hope your question is answered. Let us know if you need more info

[2019-12-09 06:06] jakaruna-MSFT commented on #44001
@shants123 please fix the issue or assign to the engineer who can fix this

[2019-12-09 06:06] rayne-wiselman commented on #44197
I will review the permissions content and consolidate into a single place as needed. thx

[2019-12-09 06:08] souravmishra-msft commented on #44181
@iainfoulds, Can you please look into this request and update the screenshots accordingly.

[2019-12-09 06:10] rayne-wiselman commented on #44197
#assign:rayne-wiselman

[2019-12-09 06:16] KalyanChanumolu-MSFT commented on #44277
@masashioms Thank you for the feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-09 06:17] VikasPullagura-MSFT commented on #44255
@kumarallamraju PR has been raised to fix the code snippet issue, changes will go live once it is approved.

[2019-12-09 06:19] VikasPullagura-MSFT commented on #43962
@MicrosoftDocs/aks-pm can you please look into this and confirm on the token validity.

[2019-12-09 06:25] WhitWaldo opened #44279 "JSON sample under prerequisites is invalid"
The intended sample likely should instead be:

"fabricSettings": [
	...
	{
		"name": "CentralSecretService",
		"parameters": [
			{
				"name": "IsEnabled",
				"value": "true"
			},
			{
				"name": "MinReplicaSetSize",
				"value": "3"
			},
			{
				"name": "TargetReplicaSetSize",
				"value": "3"
			}
		]
	},
	{
		"name": "ManagedIdentityTokenService",
		"parameters": [
			{
				"name": "IsEna

[2019-12-09 06:26] souravmishra-msft commented on #44231
@Martony78, Yes, Conditional Access Policy does protect Graph Explorer, Microsoft 365 Admin Portal and the Cloud App Security.

[2019-12-09 06:28] jakaruna-MSFT commented on #43947
@iocuydi First option is to use the container snippet as shown here https://docs.microsoft.com/en-us/azure/devops/pipelines/process/container-phases?view=azure-devops&tabs=yaml

you need to add the group option as shown in the githib issue on the above comment

or

You can directly build an image by following this document https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/containe

[2019-12-09 06:32] AshokPeddakotla-MSFT commented on #38407
@atekkam The link seems to be from the Microsoft learn site and any issues related to this course can be submitted to the team using the "reporting an issue" link at the bottom of that page.

![image](https://user-images.githubusercontent.com/44426435/70412556-10994080-1a7b-11ea-8dd9-ae1a50d8334e.png)

We would recommend to raise an issue directly from learn site for faster responses in the future

[2019-12-09 06:40] iizotov opened #44280 "Remove "Preview" when referring to Azure Dedicated Host"
Azure Dedicated Host is now GA. Please remove "Preview" when referring to the service like in this section:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea5292d9-576d-e32e-41cd-1f372339bb06
* Version Independent ID: 27a5ac39-0c3b-1101-6268-13f18fe533d7
* Content: [Isolation for Linux VMs in Azure - Azure Linux Virtua

[2019-12-09 06:43] SwathiDhanwada-MSFT commented on #43887
@the-blesss Thanks for reaching out! Perhaps I am missing out in something you have commented. Here are my comments about the request.
1) you can suppress the alert for duration which you want. I tried suppression of alerts for a duration of 15 min.Here is screenshot for the same.

![image](https://user-images.githubusercontent.com/48976275/70413023-56a2d400-1a7c-11ea-9dd2-88dc4b641fca.png)

2) Yo

[2019-12-09 06:43] #43887 closed

[2019-12-09 06:47] ram-msft commented on #44000
@ogarules Containers do not cap transactions per second (TPS) and can be made to scale both up and out to handle demand if you provide the necessary hardware resources.
Please follow the below document for features and benefits.
https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-container-support#features-and-benefits

[2019-12-09 06:53] faukha opened #44281 "Enabling dark theme"
I see that the app screen shots use a dark theme. How to enable this setting? I can't find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e4f55cb-ea44-3ebf-da9d-dce567250935
* Version Independent ID: 7197547b-8428-4499-7041-c7fd5bcc96ad
* Content: [Visualize data from Azure Data Explorer with an imported query in

[2019-12-09 07:11] SnehaAgrawal-MSFT commented on #44209
@csteelatgburg Thanks for asking question! If I have understood right, you are using the Free Tier for your WebApp. The sites running in FREE tier have quota restrictions on usage of CPU time till 60 minutes, Memory per hour  1024 MB per App service plan, Bandwidth of 165 MB and the sites are suspended whenever they hit these resource limits.

Also note that the free tier is for testing purposes,

[2019-12-09 07:15] ManojReddy-MSFT commented on #44267
@Grant-Rc Thanks for the feedback. Can you share the article you are following?

[2019-12-09 07:18] ogarules commented on #44000
Hi

My question was more oriented to: with the recommended configuration how many concurrent analysis can be made? wich is use full so I can calculate the infraestructure necessary to acommodate my business case wich is directly relate to the budget I'll need, based on the concurrent analysis i'll be making, for example, the text analytics container page states the concurrent analysis that can be

[2019-12-09 07:21] Grant-Rc commented on #44267
https://docs.microsoft.com/en-us/powershell/module/az.storage/new-azstorageaccount?view=azps-3.1.0

but the Subnet was new with no service endpoint

[2019-12-09 07:22] ManojReddy-MSFT commented on #44269
@dwhiteddsoft Thanks for the feedback. I am testing this in my environment and will get back to you with my findings.

[2019-12-09 07:24] ManojReddy-MSFT commented on #44021
@dimazoin We have not heard from you in a while. We will now proceed to close this thread. If you have further questions, please tag me in the comments and I will gladly continue the conversation.

[2019-12-09 07:24] #44021 closed

[2019-12-09 07:40] azhar787 opened #44283 "MachineLearningStudio Fails to deploy - Managed Application"
Have created a Managed Application for Deploying Two services -
- Azure DataBricks
- Azure Machine Learning Studio

I have put the offer on Cloud Partner Portal and while preview am not able to deploy on my test Subscription.

I am getting "The resource provision operation did not complete within the allowed timeout period" while deploying the Managed App.

![image](https://user-images.githubuserc

[2019-12-09 07:41] SumanthMarigowda-MSFT commented on #43806
@igormusinov  If the issue isn't related to Document then I would recommend you to please create forum thread we would like to follow-up there. https://azure.microsoft.com/en-in/support/community/

[2019-12-09 08:04] JGezels opened #44284 "Change Home"
“Azure Active Directory” -&gt; App Registrations -&gt; select the application -&gt; Properties. In this properties tab, you see the field “Home Page URL”, which you can adjust to be the desired landing page.

This doesn't seem to be possible. The Home Page URL is grayed out after creation of the App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2019-12-09 08:11] DixitArora-MSFT commented on #44123
@alexkarcher-msft Any inputs in this ?

[2019-12-09 08:13] stefankip commented on #43219
Yeah I'm having the same issue as hbensalem.

[2019-12-09 08:19] VikasPullagura-MSFT commented on #44279
@WhitWaldo Thanks for the Feedback.
PR is raised for fixing this, the changes will go live once it is approve.
Closing this issue for now.

[2019-12-09 08:19] #44279 closed

[2019-12-09 08:30] SychevIgor opened #44285 "Update screenshots of ApplicationInsights.io"
ApplicationInsights.io retired and now accessible directly on portal.azure.com
Please, update following screenshot to prevent misunderstanding:

https://docs.microsoft.com/en-us/azure/azure-functions/media/functions-monitoring/ai-analytics-invocation-list.png
https://docs.microsoft.com/en-us/azure/azure-functions/media/functions-monitoring/analytics-traces.png
https://docs.microsoft.com/en-us/azur

[2019-12-09 08:30] evanzhang89 opened #44286 "Internal Standard Load Balancer causing Azure KMS activation issue. Please document this as a side note in the article"
Hello Team,

My name is Evan Zhang and I'm from CSS. Recently we received an issue reported by our customer that there Windows VM behind an Internal Standard Load Balancer cannot be activated. This is as expected because Internal Standard Load Balancer doesn't support outbound Internet Access, while Azure KMS activation requires outbound Internet access to kms.core.windows.com:1688. This same isn'

[2019-12-09 08:33] snobu opened #44287 "Do i get charged for STOPPED apps?"
It's not clear if i will incur charges for apps in Stopped state.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d02cb749-5fce-d575-dbb9-ce85cbab94b6
* Version Independent ID: d1a2762d-9208-b283-bf1f-d6c5e08a2c3c
* Content: [How to start, stop, and delete your Azure Spring Cloud application](https://docs.microsoft.com/

[2019-12-09 08:36] woutervanranst opened #44288 "Form Error"
Upon submission, the form yields

Form Error:
S
e
r
v
i
c
e
U
n
a
v
a
i
l
a
b
l
e

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19cb71ec-6372-f406-8542-8058f59c7ec1
* Version Independent ID: a3c05dfb-8f20-b364-526b-143f87582a18
* Content: [Pen Testing](https://docs.microsoft.com/en-us/azure/security/fundamentals/pen-t

[2019-12-09 08:43] KalyanChanumolu-MSFT commented on #44264
@RoopAnymous The 10GB limit on the collection is not configurable.
You will need to create a new container with a more granular partition key and move your data.
[Here](https://docs.microsoft.com/en-us/azure/cosmos-db/import-data#SQLSource) is a document to migrate an existing container to a new one using the Data Migration Tool.

[2019-12-09 08:44] KalyanChanumolu-MSFT commented on #44264
Related [Issue](https://github.com/MicrosoftDocs/azure-docs/issues/39151)

[2019-12-09 08:48] SwathiDhanwada-MSFT commented on #43904
@sioakim Thanks for reaching out! I tried to reproduce the issue from my end and I was able to remove the agent successfully with the purge option. I would suggest you to try again to remove the agent with same command.

[2019-12-09 08:54] RohitMungi-MSFT commented on #44262
@theonlygusti Could you please try to use the ID of the model from the training tab? I think the document intends to specify the batch process uses the id of the model instead of the deployed endpoint.

I created one test model and its id is available under training tab of the custom portal.
![image](https://user-images.githubusercontent.com/46958063/70421097-24e73880-1a8f-11ea-863f-db42a1020088.p

[2019-12-09 08:55] Martony78 commented on #44231
@souravmishra-msft so you confirm this specific policy also protects Graph explorer..?

[2019-12-09 08:59] jakaruna-MSFT commented on #44272
@manalotoj
Thanks for the question! We are investigating and will update you shortly.

[2019-12-09 09:00] carlosporter opened #44289 "Multi-SID clustering of SAP ASCS/ERS with SUSE Linux as guest operating system in Azure VMs is NOT supported."
I wold like to understand why Multi-SID is not currently supported with  SUSE Linux in Azure, specially because the SUSE documentation indicates that this setup is currently supported for SLES 12

References:
https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/high-availability-guide-suse

https://www.suse.com/c/sap-hana-on-suse-linux-enterprise-for-sap-applications-design-and-se

[2019-12-09 09:01] KalyanChanumolu-MSFT commented on #44237
Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update as appropriate.

[2019-12-09 09:13] KalyanChanumolu-MSFT commented on #44281
@faukha The June 2019 update for PowerBI Desktop defaults the theme to White.

A lot of customers have asked for the setting and it is on the product teams backlog.
You can Vote for this feature [here](https://ideas.powerbi.com/forums/265200-power-bi-ideas/suggestions/37882726-option-to-use-either-light-or-dark-interface)
You will also be able to track progress and be informed when the feature goe

[2019-12-09 09:13] #44281 closed

[2019-12-09 09:13] SubhashVasarapu-MSFT commented on #44286
@evanzhang89 , Thanks for your feedback. We are looking into this query and will update you as soon as possible.

[2019-12-09 09:22] VikasPullagura-MSFT commented on #44280
@iizotov Thanks for the Feedback.
Based on this [GA announcement](https://azure.microsoft.com/en-us/updates/azure-dedicated-hosts-now-generally-available/), I have raised a PR for modifying the document, the changes will go live once it is approved.

[2019-12-09 09:22] #44280 closed

[2019-12-09 09:26] ww451575464 opened #44290 "Quickstart for Computer Vision with python"
the code:
remote_image_printed_text_url = "https://raw.githubusercontent.com/Azure-Samples/cognitive-services-sample-data-files/master/ComputerVision/Images/printed_text.jpg"

the error log:

Traceback (most recent call last):
  File "quickstart-file.py", line 44, in <module>
    recognize_printed_results = computervision_client.batch_read_file(remote_image_printed_text_url,  raw=True)
  File "/an

[2019-12-09 09:43] arvind-dhariwal opened #44291 "Details explaination about each window with example"
Here it is difficult to understand each window because example is given in picture but same is not explained with steps in contents

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63c64692-7533-cc84-251d-1994aab6a8fb
* Version Independent ID: 10d6faea-cf4a-1e28-2dd6-76146128e1ce
* Content: [Introduction to Azure Stream

[2019-12-09 09:48] jakaruna-MSFT commented on #44247
@benjamminhansen Lets close this issue and track this from the another issue #44248 raised by you.

Both the issues address the same issue and the other issue has more information than this.

[2019-12-09 09:48] #44247 closed

[2019-12-09 10:00] shashishailaj commented on #44284
@JGezels Thank you for your feedback . We will investigate and update this thread further .

[2019-12-09 10:00] nnamedieh opened #44292 "How to deploy Azure Synapse"
Hello everyone, I wonder how I can use Azure Synapse instead of the well known Azure SQL Data Warehouse Service? Is it possible at this time? When I search for Azure Synapse in the Azure Portal, I find Azure Synpase, but am redirected to Azure SQL Data Warehouse. What's the best way to start?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2019-12-09 10:02] MSSedusch commented on #44289
@rdeltcheva  can you please have a look? Thanks

[2019-12-09 10:04] SubhashVasarapu-MSFT commented on #44178
@alexchen2016 , Appreciate your patience. the page you were referring to will demonstrate only the components in the Applicationgateway and here is the[ link](https://docs.microsoft.com/en-us/azure/application-gateway/configuration-overview#order-of-processing-listeners) for configuring the listeners according to their type and GatewaySKU.
![image](https://user-images.githubusercontent.com/4489082

[2019-12-09 10:04] Nisden opened #44293 "Dequeue sample contains code errors"
In the section: https://docs.microsoft.com/en-us/azure/azure-monitor/app/custom-operations-tracking#dequeue

The "try catch" should be "operation.Telemetry" instead of just ".telemetry"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62521082-c9fb-646f-6db0-2cdabe486dab
* Version Independent ID: ebf938ec-1d97-1cfd-ad28-

[2019-12-09 10:09] ManojReddy-MSFT commented on #44290
@ww451575464 Can you provide the link tot he document you are following?

[2019-12-09 10:10] VikasPullagura-MSFT commented on #44289
@carlosporter Thanks for the Feedback. The Doc authors are checking on this ask and will get back on this thread.

[2019-12-09 10:22] #44178 closed

[2019-12-09 10:23] SnehaAgrawal-MSFT commented on #44233
@LeonardoSobrado Thanks again for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2019-12-09 10:31] ctahok commented on #44197
Thanks very much Rayne. This would be very helpful for CSPs like us to help
our customers.

Regards, Ilkin

On Mon, Dec 9, 2019 at 6:06 AM Rayne Wiselman <notifications@github.com>
wrote:

[2019-12-09 11:08] pvrk commented on #43863
@prjhunjh : As I said above, the documentation is given explicitly for 'Az' module. It is known that 'Az' commands can be run by replacing 'Az' with 'AzureRm'. Also, this requirement is removed, once the solution is GA in all regions. Hence, I hope I can close this issue.

[2019-12-09 11:09] KrishnaG-MSFT commented on #44283
@azhar787 To investigate / diagnose this issue, please open the created managed resource group 'mrg-data_science_offering-preview-20191209103828' and research the 'Deployment' tab to find more error details in related events.

@bmoore-msft @tfitzmac Can you please help by reviewing and providing your insights, if any.

[2019-12-09 11:30] giovannifl commented on #43359
Hi @MicahMcKittrick-MSFT,
The scenario that you've highlighted is the one that I'm interested in.

I'm trying to understand if that approach would only provide HA ( if one node fails, the other is still up) or also DR ( UK South datacenter is not available) .

Based on you answer, I believe that if a client wants both HA and DR, FCI with Azure Premium FS is not an option. May be ?
I guess the same

[2019-12-09 11:32] shashishailaj commented on #44133
@idbanham We are engaging with the content author to have the code validated with the sample creators on this. Thank you for your patience on the same.

[2019-12-09 11:33] shashishailaj commented on #44133
@mlottner Could you please help on this issue . As per the output provided by the customer, we may need to update the article as the sample output seems to be failing in different situations.

[2019-12-09 11:46] Jbarrins opened #44294 "Stuck on Registering"
Hi there, I followed this to the letter and when it goes to registering it gets stuck, "Registering.... retry 1, 2, 3, etc.". The device is connected to a 2.4GHz network and the device credentials are correct. Really need some urgent support on this!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0fb3da28-6d84-682f-2f9

[2019-12-09 11:52] Jbarrins commented on #44294
I'm trying to register on the IoT Central - Connected Logistics application.

[2019-12-09 11:56] ChiragMishra-MSFT commented on #44291
@arvind-dhariwal Thanks for bringing this to our notice. We are investigating into the issue and will update you shortly.

[2019-12-09 11:56] shashishailaj commented on #44288
@woutervanranst Thank you for pointing this out . We will have this checked and update this thread.

[2019-12-09 12:05] shashishailaj commented on #44288
@woutervanranst We have checked this and I believe that you do not need to notify Microsoft anymore to get any kind of pre-approval for running pen testing against your application hosted on azure platform. However the error that you have mentioned is totally correct Even I get the same error while I try to submit a request .

![image](https://user-images.githubusercontent.com/532022/70434221-a187

[2019-12-09 12:08] lightupdifire opened #44296 "Pricing"
Hello,
Does any specific pricing apply for Service Map? Or price apply only for "log analytics workspace" usage?
Maybe good to explain pricing a little in this document?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2fa4879-da5a-e026-5cc6-fd0dcde1b69b
* Version Independent ID: b7d90e6e-4578-512b-d595-14ef46a78609
* C

[2019-12-09 12:09] shashishailaj commented on #44288
@TerryLanfear Could you please take a look at this issue? I believe that the website where we need to submit the [testing notification form](https://portal.msrc.microsoft.com/en-us/engage/pentest) needs to be updated . Could you please help get this rectified by the right team.

Thank you.

[2019-12-09 12:19] pavanivm opened #44297 "Set up Single Sign-On with SAML - Basic SAML Configuration"
Earlier Reply URL (Assertion Consumer Service URL) could accept local url's and also http links. Hence testing in local environment was quite easier. But due to changed rules, only https links are allowed and it is not possible to test in local machines due to lack of admin permissions and managing IIS. Only test or other environments have to be used and no clue on if something goes wrong.
Because

[2019-12-09 12:21] azhar787 commented on #44283
@KrishnaG-MSFT I can see the same message from the Deployments tab

![image](https://user-images.githubusercontent.com/56245045/70435312-8bc71a80-1aac-11ea-817e-bfdd1447095f.png)

[2019-12-09 12:33] ms-jasondel opened #44299 "Configure a DNS name leads to confusion & errors"
The documentation for the bash script which associates a "FQDN" to your public ip address is not actually a FQDN.  Attempting to run this with a unique FQDN results in the following error:

The domain name label xyz.example.com is invalid. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.

Suggest explaining that this is actually just the hostname portion (not a

[2019-12-09 12:41] hbensalem commented on #43219
@stefankip  The problem for me was that my AKS loadlancer SKU was of type 'Basic' and the public IP SKU was Standard. Setting both to the same SKU type solved the problem for me. I hope this helps

[2019-12-09 12:42] SubhashVasarapu-MSFT commented on #44073
@jkeane , Glad that you found the solution and thanks for sharing it in the community platform.
We are closing this issue for now.If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2019-12-09 12:42] #44073 closed

[2019-12-09 13:01] revodavid commented on #44210
The link should be: https://github.com/Azure/azureml-sdk-for-r/tree/master/vignettes/train-and-deploy-to-aci

[2019-12-09 13:01] CeciAc opened #44300 "Error registering the application"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/659

The comments below were machine-translated

@Nathure commented 13 days ago — with docs.microsoft.com
It is absolutely necessary to have an https address to register a redirection URL.

In order to register an application in AzureAD, the redirection url must be in https.
Your example speaks of address in

[2019-12-09 13:07] theheatDK opened #44301 "WAF request size 128 kb limit?"
Hi,
We have a customer that has some request that exceeds the 128 kb limit.
Are there any plans to increase the limit or are there any other new features in the pipeline that can save them within a couple of months?
Does the WAF have any value if we turn of the inspection of the request body?
Regards Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2019-12-09 13:18] stefankip commented on #43219
Exactly, I recreated the Public IP with Basic SKU. It's just a test environment and will keep the Standard SKU in mind when I'm creating the real thing :-) Thanks for replying!

[2019-12-09 13:19] KalyanChanumolu-MSFT commented on #44023
@huajunzhao Thank you for reporting this.
We will fix the code to show the queries separately.

We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2019-12-09 13:19] #44023 closed

[2019-12-09 13:20] mrbullwinkle commented on #44293
#assign:mrbullwinkle

[2019-12-09 13:20] mrbullwinkle commented on #44293
@Nisden thank you so much for catching that. I have updated the doc internally, the change will go-live later today.

[2019-12-09 13:21] mrbullwinkle commented on #44293
#please-close

[2019-12-09 13:21] #44293 closed

[2019-12-09 13:31] IEvangelist commented on #44000
Hi @ogarules,

The Speech service is not measured by transactions per second (TPS), so it is not shown in the docs for Speech. This is intentional and is not changing. In terms of a recommended configuration, I suggest starting at the recommended resources instead of the minimum, then with your own benchmarking and testing - determine if more resources would help with throughput. Unfortunately, we

[2019-12-09 13:31] #44000 closed

[2019-12-09 13:49] KrishnaG-MSFT commented on #44293
@mrbullwinkle Thanks for the super quick response. 👍

[2019-12-09 13:54] jakaruna-MSFT commented on #44272
@MicrosoftDocs/aks-pm please add your comments

[2019-12-09 14:00] jakaruna-MSFT commented on #44299
@ms-jasondel Thats a valid feedback.
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2019-12-09 14:01] jakaruna-MSFT commented on #44299
Accidentally closed the issue. Reopened it.

[2019-12-09 14:01] jakaruna-MSFT commented on #44299
cert manager version in this document is old. We need to update that to match with this document
https://docs.microsoft.com/en-us/azure/aks/ingress-static-ip

[2019-12-09 14:03] NavtejSaini-MSFT commented on #44134
@anosov1960 Please check this further and correct script of document if needed.

[2019-12-09 14:05] jakaruna-MSFT commented on #44248
Can you try clicking on "clear all filters" and then try to select the available vm sizes?
![image](https://user-images.githubusercontent.com/43405697/70441813-1878d500-1abb-11ea-8306-e32693f974ff.png)

[2019-12-09 14:07] achandrasekhar1976 opened #44302 "Key Rotation do and Dont"
Do you have any general guidelines on Key rotation and also what happens when the key is rotated and you have to restore data from backups maybe  .
If we are restoring the data will it automatically read and gets restored with the new keys or do we need to have a copy of old keys backup  or version .
Assuming fact i have to maintain 10 yrs data if I do key rotation once in every year do i need to

[2019-12-09 14:19] chrisking64 opened #44303 "Missing mlx4 drivers"
When running through this tutorial in an Ubuntu 18.04 VM on Azure, I found that I could not get testpmd to bind to my NICs without also loading the following drivers with these 2 commands:
sudo modprobe mlx4_ib
sudo modprobe mlx4_en

I recommend better integrating this pointer somewhere into the documentation because it took me a long time to realize this was the issue.

Thanks!

---
#### Document

[2019-12-09 14:34] msrini-MSFT commented on #44226
@ferantivero , Please tag me if you have any further questions.

[2019-12-09 14:34] #44226 closed

[2019-12-09 14:38] mafis-hh commented on #40699
Thanks I did.
If somebody is interested in this feature as well, please vote here:
https://feedback.azure.com/forums/270578-data-factory/suggestions/39213181-parameterize-linked-service-for-dropdowns-like-int

[2019-12-09 14:42] jantorelamoy commented on #43925
What was the answer to this one? This article states that the Baseline policies is available for every tenant: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/concept-baseline-protection
Please let us know if this is replace by "Security defaults"

[2019-12-09 14:42] raiderjakk commented on #43412
This is still an open issue as I needed to use a variation of the parent thread's URL to make this work in production.  @ManojReddy-MSFT

[2019-12-09 14:53] mikenri commented on #44158
This does not seem to accomplish the goal.

After running Set-AzureADServicePrincipal -AppId $appid -ObjectId $objId  -AccountEnabled $true -Tags {HideApp; WindowsAzureActiveDirectoryIntegratedApp}

And view the Enterprise Application in the Azure portal, "Visible to users" is still set to enabled.

[2019-12-09 15:04] MonikaReddy-MSFT commented on #43949
@lordlycastle ,
Have you tried the above options that I have mentioned?
If so, what message did you get after trying to publish ?

Please respond back to us so we can investigate further and help you resolve your issue.
I hope to hear back from you soon.

[2019-12-09 15:07] mikenri commented on #44158
Requesting the issue is reopened as this is not resolved.

[2019-12-09 15:09] NavtejSaini-MSFT commented on #44292
@nnamedieh You need to request for [preview ](https://azure.microsoft.com/en-in/services/synapse-analytics/request-for-private-preview/) first and also the slots for preview seems limited. You may wait for it till it is generally available. Follow up the Azure updates regularly.

If you are not able to get a slot, here are some links that can help you:
You can get started immediately with the feat

[2019-12-09 15:19] mrbullwinkle commented on #43999
The change to update this doc has been merged internally. The change will go-live later today.

[2019-12-09 15:19] mrbullwinkle commented on #43999
#please-close

[2019-12-09 15:54] MGoedtel commented on #43683
I've got a work item to track it and am actively working on it now.  #please-close and I'll have the article updated as soon as I finish validating (I've already confirmed the behavior, presently testing workaround) and discussing with engineering.

[2019-12-09 15:54] #43683 closed

[2019-12-09 16:02] asergaz commented on #44294
Hi @Jbarrins thanks for your feedback! I have experienced a similar issue and my work-around was to delete and create a new IoT Central application. Can you do the same? Thanks!

[2019-12-09 16:07] adetayorabiu commented on #43899
@MartinJaffer-MSFT thanks for the details. As described in the OP. We already implemented a pattern that removes the problem. The reason for this issue is to see if there's a way to customize the event subscription by activating dead-letter queues for when ADF is unable to go through the main queue in 24 hours. Only that gives the level resiliency required.

[2019-12-09 16:09] markjbrown commented on #44236
Thanks Stefan for the feedback. Agree it is difficult to see when using Dark mode.

@SnehaGunda can you update this graphic please?

Thanks.

[2019-12-09 16:11] markjbrown commented on #44044
Hi @savbace. yes it only disables the explorer from opening. It has no impact on the emulator itself from responding to requests.

Thanks.

#please-close

[2019-12-09 16:11] #44044 closed

[2019-12-09 16:16] #44269 closed

[2019-12-09 16:19] JasonWHowell commented on #43473
#please-close Thanks @lfittl and appreciate the consideration to improve the doc in upcoming revisions.

[2019-12-09 16:19] #43473 closed

[2019-12-09 16:27] pauloster opened #44305 "beginning parenthesis doesnt exist"
In the following line enclosed in double quotes ("), there is a closing parenthesis but no opening parenthesis '('
This appears to be a mistake and it seems there may be other information missing.

"To view the resource utilization for the resource classes, see [Memory and concurrency limits]memory-concurrency-limits.md)."

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-09 16:28] mamccrea commented on #43732
Hi @isamllr. We have created a work item to add this information to the article. I will respond here once the changes have been made. Please let us know if you have any additional questions or feedback.

#please-close

[2019-12-09 16:28] #43732 closed

[2019-12-09 16:33] Jbarrins commented on #44294
Thanks for the quick suggestion @asergaz . I managed to sort it out another way - using the binary from here
https://github.com/Azure/iot-central-firmware/releases instead of the link in the original article, and then doing a hard reset on the device (pressing A and B together at boot).

[2019-12-09 16:37] leniel opened #44306 "Add link to B2C IEF Custom Policy - Sign Up and Sign In with 'Terms of Use' prompt"
There should be a link to this sample: https://github.com/azure-ad-b2c/samples/tree/master/policies/sign-in-sign-up-versioned-tou

which actually shows step by step how to implement it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc7261c-bd34-03ef-cdff-4a994b8113a1
* Version Independent ID: 5d5f976e-bc4c-e256-18b5-

[2019-12-09 16:44] MGoedtel commented on #43683
I completed testing and can confirm that the article isn't correct about running the script on Server 2008 R2, the modules for Test-Network connection aren't included with POSH 4.0, nor the cmdlet Get-ItemPropertyValue, which is used in the script to check .NET Framework version.  That requires updating the Microsoft.PowerShell.Management module from POSH v5.  As a result of these issues, I've esc

[2019-12-09 16:51] MarileeTurscak-MSFT commented on #44306
@leniel
Thanks for your feedback! We will investigate and update as appropriate.

[2019-12-09 16:53] ivratche opened #44308 "Security Reader can read Conditional Access policies"
Can you correct the article to make sure it includes the security reader CA access.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0767aac4-fcd9-eaac-2c30-8f17d8eadd92
* Version Independent ID: a380a828-03f9-e037-3a62-e4165fda7cb6
* Content: [Admin role descriptions and permissions - Azure AD](https://docs.microsoft.co

[2019-12-09 16:57] mamccrea commented on #43381
Hi @crkuchlenz! I was able to reproduce your issue and can confirm that it does not work with the default `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.14.1` and that it does work with `com.microsoft.azure:azure-eventhubs-spark_2.11:2.3.12` and have updated the article accordingly. The changes will be live soon. Thanks again for bringing this to our attention.

#please-close

[2019-12-09 16:57] #43381 closed

[2019-12-09 16:58] AjayKumar-MSFT commented on #44040
@ahaeber, We will close this out, but if you feel you need more information please just let us know.

[2019-12-09 16:58] #44040 closed

[2019-12-09 17:06] #44183 closed

[2019-12-09 17:08] NavtejSaini-MSFT commented on #44305
@pauloster We are checking this and will get back to you regarding the same.

[2019-12-09 17:08] cwsusa opened #44309 "JSON response insufficient"
A "list" command would be expected to have at least in the json:
{"key":"name","value":&lt;some object name&gt;}
don't you think. passing back nothing but "messages" is incompatible with the semantics around a technical term such as "list". crikey!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e51917b-9baa-83bd-5890-

[2019-12-09 17:12] ouissameb opened #44310 "Wrong terminology - 'limits' vs. 'requests'"
I believe it should be 'resource requests' instead of 'resource limits' in the following sentence under the 'Pods' section of this page.
"When you create a pod, you can define resource limits to request a certain amount of CPU or memory resources."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a445f8cc-6581-ad43-1dba-

[2019-12-09 17:14] manalotoj commented on #44271
Thanks for the speedy reply. I initially ran into not being able to resolve ILogger; corrected it to ILogger<T> and now works as expected. Thanks again.

[2019-12-09 17:15] tanmoysinha commented on #29804
I think the additional 1MB inflate is consciously done. I am using qemu-img version 2.8.1(Debian 1:2.8+dfsg-6+deb9u8) and when I convert a raw image disk of 30GB to VHD with the command in Step 4, I see a 512 VHD header/footer being added to the destination disk. So I believe it is safe to resize the raw with additional 1MB and then convert to keep it 1MB aligned even after qemu conversion to VHD

[2019-12-09 17:23] MicahMcKittrick-MSFT commented on #44245
@raghureddy45 I will close this. If you still have feedback please open a new issue directly on the doc you are referring to so we can better assist.

[2019-12-09 17:23] #44245 closed

[2019-12-09 17:24] shants123 commented on #44001
Hey folks,

I have no idea what is being asked of me here… Can you please clarify in this email? Cynthia, will you be able to help…

Thanks,
Shantanu

From: jakaruna-MSFT <notifications@github.com>
Sent: Sunday, December 8, 2019 10:07 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Shantanu Srivastava <Shantanu.Srivastava@microsoft.com>; Mention <mention@noreply.github.com>
Sub

[2019-12-09 17:30] the-blesss commented on #43887
My issue is that for a reoccurring alert, we have been getting multiple alerts triggered with a single action/change or similar action. I don't know the "schedule" of when those actions will occur, so I cannot use the schedule option with the granular time. If I could suppress the same alerts for 15 minutes, from whenever it is triggered, I would only get one alert notification, verses the 3-5 I'm

[2019-12-09 17:40] carlosporter commented on #44289
Thanks for the quick reply... let me know if you need any more details.

[2019-12-09 17:44] CeciAc opened #44313 "please upgrade with 2019 videos ..."
Hi team,
I moved this from here https://github.com/MicrosoftDocs/azure-docs.fr-fr/issues/663

@ehsf973 commented yesterday — with docs.microsoft.com
This is a link to a video on Channel 9 from the 2015 MS Ignite conference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 732eb4b2-7efe-02a0-b905-fe03f9c94e84
* Version In

[2019-12-09 17:48] nnamedieh commented on #44292
Hi @NavtejSaini-MSFT , thanks for this big amount of information! It helps a lot. I close this case now since there are no open question from my site.

[2019-12-09 17:48] #44292 closed

[2019-12-09 17:51] rohinigoyal1 commented on #43925
Baseline protection has evolved into security defaults. Baseline policies will eventually go away and be fully replaced by security defaults. If you would like to continue enforcing the protections offered by baseline, we suggest you enable security defaults or configure equivalent Conditional Access policies.

[2019-12-09 17:51] dariuszSki opened #44314 "The public IP address can not be retrieved through the local metadata api"
I can not retrieve the public IP through local metadata api endpoint.According to th eazure docs, I should.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#metadata-apis

here is what I get in my VM when I run "curl -H Metadata:true "http://169.254.169.254/metadata/instance/network?api-version=2019-06-04" | jq"

`[nfadmin@azuredemoapp ~]$ curl -H Metadata

[2019-12-09 17:51] mamccrea commented on #43849
@vitaly-livshits, I have made the updates. Thanks again for bringing this to our attention. The changes should be live tomorrow.

#please-close

[2019-12-09 17:51] #43849 closed

[2019-12-09 18:00] mlottner commented on #44133
@idbanham Thanks for your message and feedback. I'm working with the developer to try to understand what happened and why your install in failing. Stay tuned.

[2019-12-09 18:01] pauloster opened #44315 "CREATE WORKLOAD GROUP link gives error"
when I go to the hyperlink in the text above 'CREATE WORKLOAD GROUP ', it says the page is forbidden.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 698503b0-30d4-ac94-df8e-9db6e2c1a477
* Version Independent ID: 9db497b9-5d0e-3822-2577-8641a016adae
* Content: [Workload isolation - Azure SQL Data Warehouse](https://docs

[2019-12-09 18:04] julieMSFT commented on #37420
@kartiknagappa Please run this command and provide me the output: $PSVersionTable

[2019-12-09 18:13] pauloster opened #44316 "Error in page"
In the following text, should there be a comma where the first period is?

"Once workload importance is applied to requests with higher locking needs. Request with higher importance will be run before request with lower importance."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f739dfc-a706-6c96-8460-245a7f5ebe91
* V

[2019-12-09 18:15] Karishma-Tiwari-MSFT commented on #44310
Thanks for the feedback! We are currently investigating and will update you shortly.

[2019-12-09 18:15] pauloster opened #44317 "pluralism error"
In the following text "higher importance will be run before request with lower importance."
should this be "requests" instead of "request"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f739dfc-a706-6c96-8460-245a7f5ebe91
* Version Independent ID: d98a173b-6183-4b1b-3304-745e8484de63
* Content: [Workload importance -

[2019-12-09 18:20] Karishma-Tiwari-MSFT commented on #44079
We will now close this issue. If there are further questions regarding this matter, please tag me in a comment. I will reopen it and we will gladly continue the discussion.