[2018-03-14 00:01] amanarneja commented on #5628
@dominicbetts Thanks for looking into it and adding to the backlog!
@pankajisgarg - I am closing the issue based on this, please let us know if you have additional concerns and we can help follow up.

[2018-03-14 00:01] #5628 closed

[2018-03-14 00:01] Mike-Ubezzi-MSFT commented on #5640
Issue Summary

The section of text that is labeled as Example 1 incorrectly lists 495 + 8 IOPS. This should include 495 * 8 IOPS.
https://docs.microsoft.com/cs-cz/azure/virtual-machines/windows/premium-storage#example-1

[2018-03-14 00:03] jason-j-MSFT commented on #5149
@ianpowell2017
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:03] jason-j-MSFT commented on #5152
@kylefu8
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:03] #5152 closed

[2018-03-14 00:04] jason-j-MSFT commented on #5189
@DeanGross
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:04] #5189 closed

[2018-03-14 00:06] Mike-Ubezzi-MSFT commented on #5705
Including a screen capture of the affected link:

![screenshot 13](https://user-images.githubusercontent.com/37126106/37376284-c153640e-26e0-11e8-9fbf-82fc80e09e14.png)

[2018-03-14 00:07] jason-j-MSFT commented on #5197
@bebattis
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:07] #5197 closed

[2018-03-14 00:08] jason-j-MSFT commented on #5224
@brouwer
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:08] #5224 closed

[2018-03-14 00:13] jason-j-MSFT commented on #5457
@woutervanranst
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:13] #5457 closed

[2018-03-14 00:13] #5456 closed

[2018-03-14 00:18] yushwang commented on #5712
I have responded to @derekschauland offline as Derek also sent an email to me. This is not related to VPN and BGP per se. I've also provided the link to Derek. The doc is here that called the need for a dedicated subnet:

https://docs.microsoft.com/en-us/azure/api-management/api-management-using-with-vnet

Thanks,
Yushun

#please-close

[2018-03-14 00:19] jason-j-MSFT commented on #5712
@derekschauland
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 00:19] #5712 closed

[2018-03-14 00:21] dcbrown16 opened #5753 "Missing link"
Under Remove Antimalware Configuration Using PowerShell cmdlets, this line is missing the link (although it appears in the preceding sections)
Set up your PowerShell environment - Refer to the documentation at

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39836c50-a16b-55c4-e088-566f83af1d86
* Version Independent ID:

[2018-03-14 00:33] iainfoulds commented on #5607
And here's the long version as the issue closes:

The linked documentation in the Github issue is old and from RHEL 6.  The newer docs from RHEL 7 take a softer tone with this and indicate that write barriers are enabled really because it’s a safe default, but it can be disabled if using a battery backed or other storage that is not cached (like Azure Storage when the write cache is disabled):
htt

[2018-03-14 00:35] #5607 closed

[2018-03-14 00:44] Mike-Ubezzi-MSFT commented on #5733
The two pg_restore examples need to show SSL as being enabled:

https://docs.microsoft.com/en-us/azure/postgresql/howto-migrate-using-dump-and-restore#restore-the-data-into-the-target-azure-database-for-postrgesql-using-pgrestore

[2018-03-14 00:48] gsacavdm commented on #5750
Hey @jason-j-MSFT , we'll have a doc shortly clarifying this. Preview of Azure Container Service refers to the fact that you can use Azure Container Service's Engine ([acs-engine](https://github.com/Azure/acs-engine)) to deploy and scale Kubernetes and other container orchestrators to Azure Government, just like you can with Azure Container Service.

[2018-03-14 00:50] amanarneja commented on #5130
@autocloudarc I discussed this with the product team and this is definitely not an expected scenario and something the product team would like to investigate with you. If you can still reproduce the issue (without copying the files to SysWow64) can you open a support ticket via http://aka.ms/azsupt . If you do not have access to a support plan, please reach out to AZCommunity@microsoft.com with th

[2018-03-14 00:52] j-martens commented on #5506
Please assign to @aashishb who is taking over this article, thank you!

[2018-03-14 00:52] tamram commented on #5651
@nyuen - Thanks for your feedback. The increased limits described by the blog post are available only by request through Azure Support. The default limits described in https://docs.microsoft.com/azure/storage/common/storage-scalability-targets are still in effect.

I've updated the notes in the scalability targets article to make this more clear.

[2018-03-14 00:53] tamram commented on #5651
#please-close

[2018-03-14 01:03] amanarneja commented on #5156
Since the issue does not have any information, closing and locking it. Please open a new issue with the details as needed.

[2018-03-14 01:06] mimig1 commented on #5642
@dciborow - Actually ReplaceOffer is used in the github project we link to from https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-python-samples. ReplaceOffer is used here: https://github.com/Azure/azure-documentdb-python/blob/master/samples/CollectionManagement/Program.py#L168-L172. I will update https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-python-samples to include a specific

[2018-03-14 01:13] Mike-Ubezzi-MSFT commented on #5742
This edit has been implemented and merged. All checks passed.

[2018-03-14 01:14] MarkAtAgilliance opened #5755 "Cron expressions"
In the CRON Expressions section, it links to a Wikipedia article which only contains a passing reference to the seconds field that is used for WebJobs.   Also recommend for completeness the CRON examples here also include an example of the 4th and 5th fields in use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af361

[2018-03-14 01:15] paulkel opened #5756 "Section titled "Check VMware VM requirements" appears to describe requirements for Hyper-V, not VMWare."
Requirements for VMWare VMs appear to be those for Hyper-V. For example, referenced to VHD/VHDX and Gen1/Gen2 VMs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e51d5a5-22bd-c754-f9da-1ece3da2d688
* Version Independent ID: f8da14cd-00af-70bc-93d8-e7f0cf34861c
* Content: [Prepare on-premises VMware servers for disaste

[2018-03-14 01:19] paulkel opened #5757 "Section titled "Review Hyper-V VM requirements" includes link error and omits information."
The section titled "Review Hyper-V VM requirements" appears to include an erroneous link to "site-recovery-support-matrix-to-azure.md". More complete requirements for Hyper-V VMs appear to be provided on the VMWare VM requirements page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7406940a-16c5-d13d-5d53-c89bdb2854d9

[2018-03-14 01:33] CindyBai commented on #5732
Thank you, Jason. I found the root cause. The name of my data preparation package is different than the file name in the BikeShareDataPRep.py, which led the error: 'The specified project file is invalid or does not exist'. After I modify the file name in the python file, it ran successfully.

[2018-03-14 01:40] Architekt909 opened #5759 "Invalid link"
The link under the section "Authentication token" just links to a generic XCode help page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07303594-9639-aa5f-1c57-e404a90cf96e
* Version Independent ID: 97cba838-e304-bbd8-de7f-dc6d700cd9d0
* Content: [Token-based (HTTP/2) Authentication for APNS in Azure Notification Hub

[2018-03-14 01:45] BryanTrach-MSFT commented on #5749
@rothja This article is conflicting with the pricing page. The SLA for the basic tier conflicts with the pricing page: https://azure.microsoft.com/en-us/pricing/details/app-service/plans/

Also, the above pricing page does not stipulate that traffic manager must be used in order to obtain 99.95% SLA. Is this still a requirement or can we remove the footnote(s)?

Please update as necessary.

[2018-03-14 01:52] frankShih opened #5760 "Cannot find the value of the field AzureADSTSEndpoint"
Hi all, I attempted to build a streaming service that users can upload/access media files (and I want to do this via `REST`)

Then I followed the tutorial https://docs.microsoft.com/en-us/azure/media-services/media-services-rest-upload-files

And I tried to upload the file via postman. The section "Add connection values to your environment" states that user should fill the environment values befor

[2018-03-14 02:26] #5660 closed

[2018-03-14 02:31] byronv5 opened #5761 "I'm using DockerToolbox.The docker-compose of eshop project build failing"
the output info:error during connect: Get http://%2F%2F.%2Fpipe%2Fdocker_engine/v1.36/containers/json?filters=%7B%22name%22%3A%7B%22dockercompose4486274036500984887_basket.api_%22%3Atrue%7D%2C%22status%22%3A%7B%22running%22%3Atrue%7D%7D&limit=1: open //./pipe/docker_engine: The system cannot find the file specified. In the default daemon configuration on Windows, the docker client must be run elev

[2018-03-14 02:58] BryanTrach-MSFT commented on #5623
@jerzy-wachowiak We will now proceed to close this thread since we are tracking the feedback internally.

@cephalin Please ignore my two commits. I didn't see your feedback. Thank you for the reply.

[2018-03-14 02:59] #5623 closed

[2018-03-14 03:21] kemura opened #5762 "Web Apps Outbound IPs need to be allowed on Postgres SQL Firewall"
I tried this tutorial and saw the following error when I deployed the application to Web Apps.
"sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) FATAL: no pg_hba.conf entry for host "xxxxxx", user "manager", database "eventregistration", SSL on FATAL: no pg_hba.conf entry for host "xxxxx", user "manager", database "eventregistration", SSL on"

According to the above log, there was an c

[2018-03-14 03:22] aazizi18 commented on #5192
@jeevansd
Thank You ! it worked !!!

[2018-03-14 03:27] JasonSingh commented on #5533
Hi Jason,

No I’m referring to the MSDN subscriber key and the keys generated for Spell Check.

I believe the clientID credentials are optional.

Looking at the code sample from
https://docs.microsoft.com/en-us/azure/cognitive-services/bing-spell-check/quickstarts/csharp

                             // I presume the MSDN Subscriber key goes here. And I fail to get authenticated.

        // NOTE:

[2018-03-14 03:30] dkatson commented on #5630
Hi @kgremban
I run iotedgectl inside Azure VM  in CMD  (start -> cmd -> python path -> scripts-> iotedgectl setup <parameters>)

[2018-03-14 04:32] mike-urnun-msft commented on #5709
Hi @slonimg - Thank you for reporting this issue! We have corrected this issue - and this change should reflect on the docs' site after the next scheduled merge/deployment.

[2018-03-14 04:35] chazguerrero opened #5765 "Verticle Scaling"
Is there a way to upgrade the VMs [scale up instead of scale out] to a bigger tier or have a mix of VMs( windows small and linux large)  types with AKS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f41a301e-1baf-984d-74d7-bfaf7156eadf
* Version Independent ID: 6a92992b-0514-e969-025b-7071322b6ee4
* Content: [Scale an

[2018-03-14 04:38] MSFTMan opened #5766 "Does Microsoft Flow throttle flow runs?"
Yes, Microsoft Flow throttles flow run if you exceed your run limit/quota. Learn more about run limits/quota on the pricing page: https://preview.flow.microsoft.com/pricing/

Thanks,
Deon

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 845c4db9-1f3a-26d1-5061-c018cb1fe336
* Version Independent ID: c2a03981-a0aa-64a5-265

[2018-03-14 04:39] MohitGargMSFT commented on #5650
@DeanGross Please refer to this document to know get [Overview of Office 365 Cloud App Security](https://support.office.com/en-us/article/overview-of-office-365-cloud-app-security-81f0ee9a-9645-45ab-ba56-de9cbccab475)

If you have further query regarding it please open MSDN forum post so that community can help you around it. Below is the link to MSDN Forum for you reference -
[https://social.msdn

[2018-03-14 04:43] #5264 closed

[2018-03-14 04:58] MohitGargMSFT commented on #5654
@danmyhre Please note that your observation is correct. However, as a reader level permission, you are restricted to check inside a related function implementation in function app. However, you can go to Platform Features tab and navigate to All Settings to check out all setting related to Function App (similar to web app), though as expected reader permission limits you to modify any setting.

[2018-03-14 04:59] #5658 closed

[2018-03-14 05:03] MohitGargMSFT commented on #5693
@sid326 Please help with specific document link on which above feedback is provided.

In case this feedback is not related to any document, please open a MSDN forum post so that you are helped by community as appropriate. Below is the MSDN Forum link to ask new question for reference -

[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform](url)

[2018-03-14 05:12] msfussell commented on #5264
wminos- hopefully this may address you questions

I think the answer is

1)	Yes, use sfctl or PS to create the instances of your applications with scripting giving the DNS name are creation time. This is the best approach
2)	Your question “Is it a bad idea to publish various environment builds on same cluster?” – No that is a fine choice. I would certainly separate out prod deployments from stagin

[2018-03-14 05:14] MohitGargMSFT commented on #5698
@Variour Please note that necessary information regarding recommended time of roll over (every 30 days) and method on  - [How can I roll over the Kerberos decryption key of the AZUREADSSOACC computer account?](https://docs.microsoft.com/en-us/azure/active-directory/connect/active-directory-aadconnect-sso-faq#how-can-i-roll-over-the-kerberos-decryption-key-of-the-azureadssoacc-computer-account) is

[2018-03-14 05:26] MohitGargMSFT commented on #5700
@FabioEnne I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-14 05:38] MohitGargMSFT commented on #5701
@Variour The necessary change has been done in the document. The changes will be live soon and is currently going through regular build/validation process.

[2018-03-14 05:41] MohitGargMSFT commented on #5707
@jcbendernh I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-14 05:44] femsulu commented on #5476
@artisticcheese, thanks for sharing this very useful information.
I will proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 05:44] #5476 closed

[2018-03-14 05:55] MohitGargMSFT commented on #5721
@codyrat I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-14 05:55] JYOTHIRMAISURI commented on #5716
@snehithm

 (PM owner for ITSM Connector)

FYI and action please.

Regards

[2018-03-14 05:56] snehithm commented on #5716
@KumaresanLakshmanan

ITSM Connector doesn't need Event Management plugin to send incidents to ServiceNow.

When an alert fires in Azure, based on your ITSM Action configuration, we will send the alert as an incident to ServiceNow. This gets first put into Import_Set table and our App on the ServiceNow instance will then put it into Incident table.

If you already have Event Management, you can al

[2018-03-14 05:56] #5701 closed

[2018-03-14 05:56] JYOTHIRMAISURI commented on #5716
@snehithm

Please let me know for any documentation updates.

Regards,
Jyothi

[2018-03-14 06:01] MohitGargMSFT commented on #5724
@ivratche Please help with what exact link you are referring here from the document.

[2018-03-14 06:05] MohitGargMSFT commented on #5726
@jakedenyer-s24  Please help with specific document link on which above feedback is provided.

[2018-03-14 06:09] nitinme commented on #5324
@bob-zhao-work Could you please respond to the previous question so that we can work on addressing the issue?

[2018-03-14 06:13] nitinme commented on #5539
@fujikosu Thanks for your feedback! This article is specifically targeted to show how to install external packages and then use them with a Jupyter notebook and that's why it's under the "Notebook" sub-TOC.

[2018-03-14 06:14] #5651 closed

[2018-03-14 06:45] wminos commented on #5264
@msfussell
I'm glad I got the answer I wanted.
I have seen you through channel9 video lectures.
We expect that the service fabric will be used to expand easily and deploy stable service quickly.
Thank you.

[2018-03-14 06:52] okhoma commented on #5453
Can I still ask why Geo AI DSVM is distributed as Azure App, while ordinary DSVM, is not, though they are both listed in Azure Marketplace?

[2018-03-14 07:00] MSFTMan commented on #5766
Yes, Microsoft Flow throttles flow run if you exceed your run limit/quota. Learn more about run limits/quota on the pricing page: https://preview.flow.microsoft.com/pricing/

#sign-off

[2018-03-14 07:00] #5766 closed

[2018-03-14 07:17] arunakshi commented on #5530
Thank you @femsulu. I will wait for your feedback.

[2018-03-14 07:40] amit133 opened #5767 "Back-to-back repeated word in "2. Specify a DNS server""
There is a repeat of the word Select as copied here verbatim: DNS Servers: Select select Custom

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57cbce6b-e48b-c199-7071-865a2a6422f0
* Version Independent ID: 06320049-4747-cd1f-564a-36f3a6f5b004
* Content: [Connect your on-premises network to an Azure virtual network: Sit

[2018-03-14 08:19] msvijayn commented on #5710
Hi @Hechamon ,
Can you be specific on what is the scenario you are trying out?
From your question not sure what is the variable you're using & not seeing; as well as the alert in use.

[2018-03-14 08:27] msvijayn commented on #5710
@Hechamon Not sure, if you were referring to the test webhook functionality. As mentioned in doc, the test webhook will trigger dummy data and not actual, as its purely representative - to enable user's to check that their end point is able to consume webhook.

![image](https://user-images.githubusercontent.com/33087919/37390904-8e44de6c-278f-11e8-95b6-d100ff54a2f8.png)

[2018-03-14 08:28] OlegKarasik opened #5769 "Missed *public* access modifier in code sample for MyCommunicationClient"
While this is a small thing it basically prevents you from move-copy-try approach while reading documentation.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf35b25c-4f4c-920b-320d-8282a79ad7d3
* Version Independent ID: 07be307b-38b1-6cf2-46bf-7032d69648f2
* Content: [Reliable Services communication overview |

[2018-03-14 08:32] ianpowell2017 commented on #5149
Shouldn’t this get closed once the article has been published. If it has been published then please advise on the page link.

Thank you

Sent from my iPhone

[2018-03-14 08:33] msvijayn commented on #5710
@Hechamon Please provide greater details on the scenario, if the above comment doesn't resolve your question.
From you post, I am not clear what is the variable you're having trouble with and alert type in use.

[2018-03-14 08:46] ericbrunner commented on #5265
@ggailey777 As mentioned in my 3nd comment above

it worked anyway after removing that `?clientId=default` query param.

[2018-03-14 09:36] OneGi opened #5770 "Do not populate mobile number in the directory"
"If users don't want their mobile phone number to be visible in the directory, but they still want to use it for password reset, administrators should not populate it in the directory."

Where is this set? A link within that statement to show how and where should help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 186

[2018-03-14 09:38] JYOTHIRMAISURI commented on #5716
Thanks for the update, Snehith.

@KumaresanLakshmanan

 Updated the related note to include the detail Snehith Muvva shared.
-------------------------------------------------------------------------------------------------------------------
"Note

ITSM Connector can send incidents to ServiceNow without any other modules installed on your ServiceNow instance. If you are using EventManagement module

[2018-03-14 10:00] Hechamon commented on #5710
Sorry, I was not clear enough.
I have set up a custom alert for Microsft Teams, using the custom Json payload for webhook field in the alert configuration.
There I have added a link to search results, which I then render in Teams as a button, so I can quickly go and investigate the problem. For that link I use the variable '#linktosearchresults':

[code]

When I test the webhook from within the co

[2018-03-14 10:20] KumaresanLakshmanan opened #5772 "Associating Azure AD Enterprise subscription to Azure CSP Subscription"
Would like to know whether Existing Azure AD premium P2 subscription can be associated with Azure CSP subscription. If yes, will it support Azure MFA as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ce7d1e8-e4b9-6152-4fbe-5d3f3d9f0583
* Version Independent ID: 7676911e-6a80-06f1-b429-a3ce399c386e
* Content: [Ho

[2018-03-14 11:11] KumaresanLakshmanan commented on #5716
Thanks all for providing clarifications.
I would suggest to update the document with the clarifications along with flow or integration diagram. This will help a lot for understanding integration.

[2018-03-14 11:14] KumaresanLakshmanan commented on #5716
Hello,

Thanks all for providing clarifications.
I would suggest to update the document with the clarifications along with flow or integration diagram. This will help a lot for understanding integration.

Regards,

Kumaresan.

________________________________
From: Jyothi Suri <notifications@github.com>
Sent: Wednesday, March 14, 2018 3:09:16 PM
To: MicrosoftDocs/azure-docs
Cc: KumaresanLakshmanan

[2018-03-14 11:36] cephalin commented on #5565
@hihorika Yes you're right. Tracking this issue internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1207683.

[2018-03-14 11:39] cephalin commented on #5623
@BryanTrach-MSFT Feel free to open a PR for your commits. Thanks.

[2018-03-14 11:54] danmyhre commented on #5654
@MohitGargMSFT thank you for confirming.  Would be great to add this to the page.  Thanks!

[2018-03-14 12:03] sandervandevelde commented on #5475
I am aware the Azure Functions Tutorial has to be finished before starting this one.
But it doesn't feel right to use that deployment.json.
We should take a deployment.json which describes the current situation of the Edge and then we add the new module by adding that section.
I would prefer if this 'current situation' file was generated in another way (like taking it from the portal).

[2018-03-14 12:40] MV10 opened #5774 "Formatting issue"
The formatting of the table in the "Scheduler entity management" section truncates the text in Chrome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dbde0d3-acd8-c547-51ff-a6973f203777
* Version Independent ID: ff2d1310-71c5-4191-70cb-425f0518ef39
* Content: [Scheduler concepts, terms, and entities | Microsoft Docs](

[2018-03-14 12:43] danmyhre commented on #5544
I just checked back in the portal and I see this feature is now available on my lab tenant!  Still needs to be updated in some documents (e.g. https://docs.microsoft.com/en-us/azure/azure-policy/assign-policy-definition), but this is great.  Now I have all sorts of work to do today configuring policy  :)

[2018-03-14 13:04] Variour commented on #5698
Thanks for your reply. The linked document describes the manual way of updating the key. I am looking for the best way to automate the process since i don't want someone to have to do it manually every 30 days.
My current approach would be creating a powershell script which is triggered regularly by the task sheduler. In that case i would need to store the necessary credentials for O365 and the on

[2018-03-14 13:16] codecadwallader opened #5775 ".NET Core support?"
It looks like this is only available for the .NET Framework.  Are there are any resources available for .NET Core?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1407af-81a5-52e7-a800-79d57704a876
* Version Independent ID: 5ec30406-731f-6198-99a1-9d4ee5c67475
* Content: [Develop and deploy WebJobs using Visual Studio

[2018-03-14 13:20] MSIH opened #5776 "Provide Link to az aks documents"
Having a link on this page to the full az aks documentation would be helpful

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83-ba10-9b7e-c54f-51a9c140517c
* Content: [Quickstart - A

[2018-03-14 13:22] gorillapower commented on #5759
same issue here

[2018-03-14 13:23] nareshnagpal06 opened #5777 "Settings - Workflow settings instead of Integration Account"
In order to link logic app with integration account , we go to Settings- Workflowsettings . There is no separate Integration account tab which is mentioned in this document.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1892f5d-9cd6-12f8-43ed-21b8d31b509b
* Version Independent ID: 5158b830-2faa-e7ce-6111-2351d1f78f51

[2018-03-14 13:26] MSIH opened #5778 "Register Additional Service Needed for Tutorial"
To get the tutorial to work, I had to also register the following services

az provider register -n Microsoft.Network
az provider register -n Microsoft.Storage
az provider register -n Microsoft.Compute

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115d555-45a1-6539-4af6-fbc20a99f008
* Version Independent ID: 21f80c83

[2018-03-14 13:45] pekkaar commented on #5348
On top of the obvious schema issue, this page does not elaborate on what members the "configurationArgument" object can have in the new schema version as opposed to what the "property" array was supporting in the old schema. It however suggests that configurationArgument is a like for like replacement for property... however property was clearly an array and from the ARM deploy error messages I ge

[2018-03-14 13:53] msvijayn commented on #5710
@Hechamon Thanks for the details. Just to confirm, you are setting up the alert for Application Insights or Log Analytics ?

[2018-03-14 14:09] DanniJuhl opened #5779 "Incorrectly defining availability groups as 'Always ON'"
The link under data redundancy links to an article relating Always ON Availability Groups.
Based on this, and the fact that local storage is used, one can deduce that that link is correct, and the functionality used is indeed, availability groups.

In the article however, the technology used is referenced as "Always ON", which while technically correct, as availability groups is part of this techn

[2018-03-14 14:23] mimig1 commented on #5428
@snehagunda will be making the fix to the document

[2018-03-14 14:27] Martin00001 commented on #5640
There are two expression of 495 + 8  in the part of text labeled as Example 1. These expressions should be 495 x 8.

[2018-03-14 14:36] Martin00001 commented on #5640
There are two expressions of 495 + 8 in the part of text labeled as Example 1. These expressions should be 495 x 8.
https://docs.microsoft.com/cs-cz/azure/virtual-machines/windows/premium-storage#example-1

[2018-03-14 14:37] mimig1 commented on #5706
@mguntli - There's been a change to the nuget packages for Azure Table storage. Ideally, all newly written applications should both the Microsoft.Azure.CosmosDB.Table and Microsoft.Azure.Storage.Common nuget packages, as written in the article. Applications already authored using the WindowsAzure.Storage package can continue to use the WindowsAzure.Storage package. I will update the article to mak

[2018-03-14 14:46] Hechamon commented on #5710
It is a custom log search.

[2018-03-14 14:59] lpunderscore opened #5781 "requestResourceId does not match the resourceType"
In this documentation, it says that the requestResourceId will match the resource type of the request (The resourceId pertaining to the request, may point to databaseRid, collectionRid or documentRid depending on the operation performed).

This is not the case, the requestResourceId is always the collectionId even when the requestResourceType is "Document" and that is the case for any "Operation"

[2018-03-14 15:05] mrbullwinkle commented on #5142
@MarkIannucci Thanks for bringing this to our attention and our apologies for the lack of clarity/disjointed experience between the ApplicationInsights.config doc, and the Snapshot Debugger doc.

To address the confusion around options for .NET Core settings modification we have added a [Note](https://docs.microsoft.com/en-us/azure/application-insights/app-insights-configuration-with-applicationin

[2018-03-14 15:06] cloudinnovating commented on #5738
v1 supported, v2 not.  Found answer here - [(https://docs.microsoft.com/en-us/azure/site-recovery/vmware-physical-azure-support-matrix#replicated-machines)]
![image](https://user-images.githubusercontent.com/36272870/37410780-53f6fce2-276f-11e8-910f-2f60edf73af8.png)

[2018-03-14 15:31] msfussell commented on #5264
Great. Apologies that it took 9 days. I was on vacation. If you have actual issues that you encounter (bugs etc) this is the best place to report them https://github.com/azure/service-fabric-issues/issues. Stackoverflow is also good for general question

Thank you for using Service Fabric

[2018-03-14 16:09] Mike-Ubezzi-MSFT commented on #5732
Thank you for the update @CindyBai. If you should have any additional issues with this tutorial, you are welcome to reopen this issue tracker.

[2018-03-14 16:09] #5732 closed

[2018-03-14 16:12] Hechamon commented on #5710
First off: I'm very sorry

I have tried printing the link to text now instead of as a button and there is actually a link in the variable. It seems that Microsoft Teams somehow isn't able to interpret the link and just renders null. The problem does not lie within azure. This issue can thus be closed.

[2018-03-14 16:12] #5710 closed

[2018-03-14 16:16] jeevansd commented on #5192
@aazizi18 Great. Thanks for the confirmation.
@Adam-Smith-MSFT Can you please close this issue?

[2018-03-14 16:31] ddexter26 opened #5787 "This will not work if the COMPUTERS are not Synced using AAD Connect"
Certain Orgs do not Sync the Entire AD with AAD, for this to work, the OU containing the Computers must be Synced.
Please make it a BULLET point in the Doc so that we don't have to rely on 3rd Party Blogs and to figure out basic miss.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
*

[2018-03-14 16:50] jason-j-MSFT commented on #5750
@gsacavdm
Thanks for the update!  Could you leave a link to the doc here when it is ready?

[2018-03-14 17:04] jtuliani opened #5788 "Availability sets with availability zones?"
The FAQ states that VMSSs automatically use availability sets. But my understanding is that when scale sets are deployed to availability zones, then that is not the case (availability sets and availability zones are mutually exclusive). The doc should make this clearer (and the AZ page should mention it also). Thanks for listening!

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-03-14 17:11] MayankSri opened #5789 "Send messages to batch"
"Send messages to batch" option cannot be selected while trying to reproduce what is mentioned in this document.

when I click on "Send message to batch" I see:

Actions (0)
There are no results for your search
TELL US WHAT YOU NEED
Information on creating batch trigger Logic Apps can be found here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-03-14 17:12] rothja commented on #5558
@Mike-Ubezzi-MSFT Could you please assign this to @CarlRabeler to help investigate this. Thank you and sorry for not responding sooner with the request.

[2018-03-14 17:12] DavidPrio opened #5790 "Testing srv_bpigithub account - Please disregard"
# Azure documentation issue guidance

Thanks for opening an issue in the Azure technical documentation repository.

We use GitHub issues as the primary channel for customer and community feedback about the Azure documentation.

## Creating an issue

We prefer that you create documentation feedback issues using the Feedback link on the published article - the feedback control on the doc page create

[2018-03-14 17:24] leeprtc opened #5792 "Please clarify the Python requirements"
IoT Edge works with other versions of Python besides v2.7. See https://github.com/Azure/iot-edge/issues/539 for a discussion.

Please clarify which Python versions can be use. This feedback is also applicable for the Linux/Mac quickstart.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64575e7c-664c-4d6b-a440-24c91e93de

[2018-03-14 17:27] DavidPrio commented on #5790
Hi @Sara-Nicolini Can you please assign this issue to srv_bpigithub for testing purposes? It seems we do not have access to do so.

[2018-03-14 17:32] kgremban commented on #5430
Hi @melzoghbi I've made some changes to the C# tutorial based on this issue. Can you check again and see if this addresses your concerns?

[2018-03-14 17:33] kgremban commented on #5346
Hi @sandervandevelde I made updates to the article based on your issue. Can you check again and see if these changes resolve your concerns?

[2018-03-14 17:45] gsacavdm commented on #5750
Doc is live! https://docs.microsoft.com/azure/azure-government/documentation-government-k8
I'll submit a PR to reference this shortly.

[2018-03-14 17:46] mike-urnun-msft commented on #5752
@jtuliani Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 17:47] mike-urnun-msft commented on #5753
@dcbrown16 Thank you for reporting this issue! We will investigate and get back to you with our findings.

[2018-03-14 17:47] davidmu1 commented on #5385
#in-process

[2018-03-14 17:48] mike-urnun-msft commented on #5755
@MarkAtAgilliance Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 17:50] mike-urnun-msft commented on #5756
@paulkel Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 17:51] mike-urnun-msft commented on #5757
@paulkel Thank you for your feedback! We will investigate and take necessary course of action.

[2018-03-14 17:52] Blackmist commented on #5114
Apologies for the delay on this @stephlocke .

@MicrosoftDocs/azure-cxp-triage can you please assign to @anrothMSFT ? The author fields in the document have already been updated.

[2018-03-14 17:53] mike-urnun-msft commented on #5759
@Architekt909 Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 17:55] mike-urnun-msft commented on #5759
@gorillapower Could you provide the full URL where this issue was repeated?

[2018-03-14 17:55] spelluru commented on #5149
@ianpowell2017 - I have recently taken over the ownership of the Notification Hubs content set. My immediate assignment is to update the Notification Hubs content set to follow the standards and guidelines that most of other Azure services content follows. I have also been testing out the tutorials and in the process of updating steps. Once I am done with this work and publish the updated content

[2018-03-14 17:55] Blackmist commented on #5034
Hi @YeeSuan95 , apologies for the delay on this.

@MicrosoftDocs/azure-cxp-triage , can you please assign this to @SteveMSFT ? The metadata in the document has already been udpated.

Thanks!

[2018-03-14 17:58] mike-urnun-msft commented on #5761
@byronv5 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 17:59] mike-urnun-msft commented on #5762
@kemura Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:00] mike-urnun-msft commented on #5765
@chazguerrero Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:00] mike-urnun-msft commented on #5767
@amit133 Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:01] mike-urnun-msft commented on #5769
@OlegKarasik Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:01] mike-urnun-msft commented on #5770
@OneGi Thank you for your feedback! We will investigate and take necessary course of action.

[2018-03-14 18:02] mike-urnun-msft commented on #5772
@KumaresanLakshmanan Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:03] mike-urnun-msft commented on #5774
@MV10 Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:03] mike-urnun-msft commented on #5775
@codecadwallader Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:04] mike-urnun-msft commented on #5776
@MSIH Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 18:05] mike-urnun-msft commented on #5777
@nareshnagpal06 Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:06] mike-urnun-msft commented on #5778
@MSIH Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:06] codecadwallader commented on #5775
Sounds good, appreciate the follow-up!  In case it helps any I ended up finding an alternate approach (without Visual Studio) here: https://hajekj.net/2017/02/20/deploying-asp-net-core-along-with-a-webjob-to-app-service/

[2018-03-14 18:06] mike-urnun-msft commented on #5779
@DanniJuhl Thank you for reporting this issue! We will investigate and make the necessary changes.

[2018-03-14 18:07] jason-j-MSFT commented on #5679
@baywet
Thanks much for the contribution!

[2018-03-14 18:08] mike-urnun-msft commented on #5781
@lpunderscore Thank you for your feedback! We will investigate and take necessary course of action.

[2018-03-14 18:08] mike-urnun-msft commented on #5787
@ddexter26 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 18:09] Mike-Ubezzi-MSFT commented on #5745
There is a section that details the necessary steps to configure a Static IP using PowerShell.

https://docs.microsoft.com/en-us/azure/active-directory/active-directory-deploying-ws-ad-guidelines#static-ip-addresses-must-be-configured-with-azure-powershell

It references the following link: https://azure.microsoft.com/en-us/blog/static-internal-ip-address-for-virtual-machines/ which is dated "Post

[2018-03-14 18:09] mike-urnun-msft commented on #5788
@jtuliani Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-03-14 18:10] mike-urnun-msft commented on #5789
@MayankSri Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:18] mike-urnun-msft commented on #5792
@leeprtc Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 18:23] YuriDio commented on #5753
@barclayn can you pls take care of this?

[2018-03-14 18:23] CarlRabeler commented on #5558
@giladmit please review - also sending via e-mail

[2018-03-14 18:27] neilpeterson commented on #5778
@mike-urnun-msft - this is a bug / regression in the Azure CLI and know by the PG. If you want to assign this to myself, I can follow up.

[2018-03-14 18:29] Mike-Ubezzi-MSFT commented on #5753
Screen capture showing the issue.

![screenshot 21](https://user-images.githubusercontent.com/37126106/37423308-be9a0c5a-277a-11e8-98f5-f558a7fb952b.png)

[2018-03-14 18:30] mike-urnun-msft commented on #5374
@Osypchuk We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

#please-close

[2018-03-14 18:32] #5374 closed

[2018-03-14 18:39] mike-urnun-msft commented on #5192
@leemac We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 18:39] #5192 closed

[2018-03-14 18:39] Mike-Ubezzi-MSFT commented on #5558
Adding a screen capture as a reference. The 'data_sensitivity_information' column to the right for the result-set is consistently empty even though Audit events are met and captured in the log.

![screenshot 23](https://user-images.githubusercontent.com/37126106/37423826-0d3cf830-277c-11e8-8aec-4cf20bd78e2d.png)

[2018-03-14 18:46] neilpeterson commented on #5776
@MSIH - thanks for the feedback. I have updated the doc to include links to the az aks commands. Once merged, this issue will auto close.

[2018-03-14 18:49] #5776 closed

[2018-03-14 18:56] barclayn commented on #5753
Thank you! I just made the changes through the private repo.

[2018-03-14 19:02] jason-j-MSFT commented on #5643
@nunocenteno
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

Could you provide more details of what you are trying to accomplish and a code snippet if possible?

[2018-03-14 19:03] bandersmsft commented on #5752
#in-process

[2018-03-14 19:03] sethmanheim commented on #5431
@cocowalla That is correct. Thank you for reaching out!

[2018-03-14 19:08] jason-j-MSFT commented on #5677
@SIGAN
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-14 19:11] sharonlo101 commented on #5378
Thanks @nikhildhawan for pointing this out! We've sent out a change to update the docs accordingly

[2018-03-14 19:15] SnehaGunda commented on #5428
@MNF we fixed the doc to remove the try/catch block, the updates will be live by EOD.

[2018-03-14 19:16] SnehaGunda commented on #5428
#please-close

[2018-03-14 19:19] SyntaxC4 commented on #5708
@MicrosoftDocs/azure-cxp-triage #please-close, issue can be reopened if the document provided isn't sufficient.

[2018-03-14 19:23] ecfan commented on #5412
#please-close

[2018-03-14 19:23] jason-j-MSFT commented on #5708
@Zebusch
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 19:23] #5708 closed

[2018-03-14 19:30] MayankSri commented on #5789
@mike-urnun-msft  I got it working.
The problem was that they two Logic apps existed in two different Azure regions.
I will be nice to have that mentioned in the documentation.

[2018-03-14 19:32] jason-j-MSFT commented on #5702
@MerrionComputing
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-14 19:37] jason-j-MSFT commented on #5715
@hravnaas
You could try downloading and installing the Microsoft Visual C++ Redistributable for Visual Studio 2017 from here:
https://support.microsoft.com/en-in/help/2977003/the-latest-supported-visual-c-downloads

[2018-03-14 19:37] mike-urnun-msft commented on #5431
Thanks @sethmanheim!

@cocowalla We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 19:37] #5431 closed

[2018-03-14 19:38] hravnaas commented on #5715
@jason-j-MSFT - Do it want 2017 when I'm using VS 2015?

[2018-03-14 19:39] mike-urnun-msft commented on #5378
Thanks @sharonlo101!

@nikhildhawan We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 19:39] #5378 closed

[2018-03-14 19:39] HerbM opened #5796 "Equivalent RegionInfo "2 char ISO Codes" for government regions"
What are the equivalent "RegionInfo" codes for usgovvirginia etc?
Some APIs only support "2 char codes"?

Since there probably isn't a "2-letter ISO code" for usgovvirginia, what should be used?
  https://msdn.microsoft.com/en-us/library/azure/mt219004.aspx Indicates:
  •Set {RegionInfo} to the 2 letter ISO code where the offer was purchased.

---
#### Document Details

⚠ *Do not edit this section

[2018-03-14 19:40] jason-j-MSFT commented on #5727
@MikeWasson
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-14 19:55] tysonn commented on #5678
@kfile - Kelly, could you route to the right person? The triage team is unable to assign this to the listed author, @omidm1, he does not appear in the assignee list.

[2018-03-14 20:00] melzoghbi commented on #5430
Awesome @kgremban! Looks much clearer now :-)

[2018-03-14 20:00] #5430 closed

[2018-03-14 20:01] MikkelHegn commented on #5584
@mjanulaitis The fix has now been deployed.

[2018-03-14 20:01] yararl0306 opened #5797 "Correção de texto"
Por favor, corrijam a concordância nominal ..
Proteger fisicamente a infraestrutura de IoT: os pior ataques de segurança contra .......

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: f75d4bfd-d824-01fa-bf9b-c8597224ed8d
* Version Independent ID: 90167863-8849-9a69-dfb0-fd693b34d2b3
* Content: [Práticas re

[2018-03-14 20:03] rothja commented on #5749
@SteveBurkettNZ  Thanks for this feedback! @BryanTrach-MSFT Can you please assign this to @cephalin?

[2018-03-14 20:09] samirageb commented on #5460
I don't believe this is an Azure functions limitation, but rather a Cosmos Change Feed limitation, which also does not support the MongoDB API atm. I've started a User Voice on this here: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/33626986-add-change-feed-support-to-mongodb-api

[2018-03-14 20:11] giladmit commented on #5558
The sensitivity auditing capability is currently in the process of rolling out and hasn't reached all regions yet - it should be available in all regions in the upcoming few weeks.

Regards,
Gilad (MSFT)

[2018-03-14 20:17] mrbullwinkle commented on #5629
#in-process

[2018-03-14 20:17] mrbullwinkle commented on #5563
#in-process

[2018-03-14 20:19] MikkelHegn commented on #5584
#please-close

[2018-03-14 20:20] tfitzmac commented on #5455
Just in case my earlier comment wasn't clear, I updated the article with the event types you suggested. I double-checked that this format is correct.

[2018-03-14 20:20] melzoghbi commented on #5717
Physical device (RPI3). I just got to know that $edgeAgent is not supporting ARM32 devices and therefore i will not be able to use the docker images you are providing on the article. I have been advised to build my own python module, dockerized and then push it to ml model management and pull it using IoT Edge to run it.

[2018-03-14 20:32] tfitzmac commented on #5342
@DavidHBallantyne - did you create a Native app? If so, that type of app does not have credentials so Keys is not displayed. You'd have to create Web app / API.

[2018-03-14 21:04] hiteshvadgama opened #5798 "Linking an ExpressRoute circuit to EA and CSP subscriptions"
This article states that you can associate an ER circuit to subscriptions in different EA enrollments, but can you associate a single circuit to EA and CSP subscriptions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dabed376-a2d4-b75f-0dd9-f492644a1c22
* Version Independent ID: 6a7317f0-a164-2c40-3ff8-06d561c6d807
*

[2018-03-14 21:12] tysonn commented on #5683
@Sara-Nicolini - The author is not able to find the reported problem in the EN-US content, so it looks like the problem may be that the Japanese article is not up to date with the EN-US article.

[2018-03-14 21:13] tysonn commented on #5683
@Sara-Nicolini - Assigning to loc team per Sara's request

[2018-03-14 21:14] tysonn commented on #5612
@Sara-Nicolini - This looks like a language quality item in the target language

[2018-03-14 21:15] tysonn commented on #5286
@Sara-Nicolini - Sara, the author has indicated that the context reported by the user is not present in the EN-US version, so it seems like the Japanese article may need to be updated to match the EN-US one?

[2018-03-14 21:21] keirans opened #5799 "Puppet Support examples"
Hi !
I currently maintain a Puppet module that handles exposing the metadata as Puppet facts.

You can find module at the below forge url and the code on github.

https://forge.puppet.com/keirans/azuremetadata

It would be amazing if you could add this to the "Examples of calling metadata service using different languages inside the VM" section of your documentation.

I will be bumping the version

[2018-03-14 21:38] ankryach commented on #5727
Thank you for the question.

"Microsoft.IdentityModel.Clients.ActiveDirectory" and "Newtonsoft.Json" NuGet packages are required for this example. Please refer to the following git repository which contains this sample with all the dependencies: https://github.com/Azure-Samples/Azure-Time-Series-Insights.

[2018-03-14 21:50] priyamohanram commented on #5109
Yes, I have added the redirect to https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications. Thank you! #please-close

[2018-03-14 21:57] S1r-Lanzelot opened #5800 "What is Microsoft's guidance on storing client's data in azure b2c?"
I would like to have Microsoft's guidance on handling customer data with Azure B2C. Is it intended for B2C to be a one stop-shop for storing all client data via custom attributes or is it recommended that B2C is only to store vital authentication/limited client information in B2C while leveraging a custom database for a complete collection of datapoints for a given user?

Auth0 provides their guid

[2018-03-14 22:01] #5109 closed

[2018-03-14 22:11] Mike-Ubezzi-MSFT commented on #5762
@kemura In repro'g your issue, I am going through this tutorial and I see the following task to be run. Did you run this command in the Azure Cloud Shell?

https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-python-postgresql#configure-server-firewall

**The command is as follows:** az postgres server firewall-rule create --resource-group myResourceGroup --server-name <post

[2018-03-14 22:19] ChackDan commented on #5527
Thankyou for the feeback. We are working on this.

[2018-03-14 22:23] mike-urnun-msft commented on #5536
Hi @dajean0104,

If you're looking for ways to manipulate the JSON response into an optimal format that suits your unique project logic, there are many ways you can do so:

1. With pure/raw Javascript: https://docs.microsoft.com/en-us/scripting/javascript/reference/json-parse-function-javascript
2. If you're using well-known libraries: [jQuery](http://api.jquery.com/jquery.parsejson/) or [Underscr

[2018-03-14 22:33] kemura commented on #5762
Sorry I might skip the command. Please close this.

[2018-03-14 22:33] kvinther opened #5801 "Where exactly to place shared assemblies?"
The sentence "To reference a custom assembly, upload the assembly to your function app, such as in a bin folder in the function app root." was not enough for me to make this work.
1. It _must_ be in the bin folder, right?
2. Where exactly is the "function app root"? "d:\", "d:\home", etc.?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-03-14 22:38] kvinther commented on #5801
Possible duplicate of #51, but reading that did not make we wiser.

[2018-03-14 22:43] bastyuchenko opened #5804 "Service bus queue - FIFO"
For example I can have 2 threads which read messages from queue. And I have 2 messages in the queue: message1 was delivered as the first one and message2 was delivered as the second one. Message1 was read first  by the first thread. The second thread read message2. Message1 was abandoned and message2 was processed succesfully and completed. Message1 was peaked the second time and also completed.
I

[2018-03-14 22:44] MarkIannucci commented on #5142
Thank you @mrbullwinkle .  I think these are good additions to the documentation, especially the full list of customizable parameters.  I like that you included the default values for some.  It is a bit unclear to me if the values you use in the documentation are defaults in circumstances where the default values aren't  called out...

For example, `MaximumSnapshotsRequired` has a value of three -

[2018-03-14 22:44] #5142 closed

[2018-03-14 22:44] MicahMcKittrick-MSFT commented on #5756
Thanks @paulkel! This is a good catch. I have assigned this to the content author to review and update the doc.

@rayne-wiselman please take a look at this document as the information is incorrect. For example, this link makes much more sense: https://docs.microsoft.com/en-us/azure/site-recovery/vmware-azure-tutorial

[2018-03-14 22:44] tonjohn commented on #5348
I was just about to report the same issue! Pretty frustrating :(

Did any of you manage to get it working?

[2018-03-14 22:45] Mike-Ubezzi-MSFT commented on #5762
@kemura If you encounter the same complication again, feel free to reopen this case and we can dive deeper in to the issue.

Thank you,
Mike

[2018-03-14 22:45] #5762 closed

[2018-03-14 22:48] niniikhena commented on #5752
Hi @jtuliani! Thanks for calling this out. Here you go:
- Microsoft.Authorization/policySetDefinitions/write - permission to define an initiative
- Microsoft.Authorization/policyassignments/write  - permission to assign an initiative

[2018-03-14 22:49] jason-j-MSFT commented on #5715
@hravnaas
I was able to replicate your issue on my own host with Visual Studio 2015.  I received the same screen as you with the failure to install the Microsoft Visual C++ Redistributable for Visual Studio 2017 package.  When I looked at the installation log I see:
DownloadManager Information: 0 : Install exit code for product 'Microsoft Visual C++ Redistributable Package for Visual Studio 2017 (

[2018-03-14 22:50] MikeWasson commented on #5727
Thanks - I figured it out, but it would be useful to include in the doc (or include a link to the sample)

[2018-03-14 22:51] mike-urnun-msft commented on #5388
@Walter-Shui  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-14 22:51] #5388 closed

[2018-03-14 22:52] MicahMcKittrick-MSFT commented on #5761
@byronv5 appreciate you reaching out. However you issue does not to be directly related to this document. Can you please post your inquiry **[here](https://stackoverflow.com/search?q=docker%2C+azure%2C)**?

I will close this for now but please feel free to let me know if I missed something.

[2018-03-14 22:52] #5761 closed

[2018-03-14 22:53] S1r-Lanzelot opened #5805 "MFA support for using AAD Graph API"
Is creating users with MFA supported with AAD Graph API? If not, will this be supported in the future with Microsoft Graph?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb16-26fa7e4c6363
* Version Independent ID: 160642fc-b5a9-1ebe-7daf-105509b6e2f4
* Content: [Use the Graph API - Azure AD B2C | Mi

[2018-03-14 22:55] S1r-Lanzelot opened #5806 "What is the updated timeline on Microsoft Graph for B2C?"
What is the updated timeline for Microsoft Graph support with B2C? I see by this post that it is coming soon (https://blogs.msdn.microsoft.com/aadgraphteam/2016/07/08/microsoft-graph-or-azure-ad-graph/) but that was back in 2016. Any updates? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a4b8453-d2bc-9c8d-bb1

[2018-03-14 22:58] anrothMSFT commented on #5114
Thank you. So we have example curl commands and other snippets on the API reference page. But I see that this is not clearly linked to from this documentation. I am going to update this page to clear link to the reference page in the intro.

[2018-03-14 23:05] #5349 closed

[2018-03-14 23:12] hravnaas commented on #5715
@jason-j-MSFT, that did the trick for me too. Thanks. Not a great user experience obviously, but an easy workaround.

[2018-03-14 23:14] MicahMcKittrick-MSFT commented on #5348
@mgreenegit any progress on this issue?

[2018-03-14 23:14] chrisnewark commented on #5348
I did using the default configuration script. I was going to submit a pull request for the updated docs but haven't had a chance yet. I believe the initial example should look like this:

`"name": "Microsoft.Powershell.DSC",
             "type": "extensions",
             "location": "[resourceGroup().location]",
             "apiVersion": "2015-06-15",
             "dependsOn": [

[2018-03-14 23:17] rachel-msft commented on #5733
@skepticatgit could you provide more information on your request? This is the PostgreSQL official documentation on [pg_restore](https://www.postgresql.org/docs/9.6/static/app-pgrestore.html). Which parameter are you referring to?

[2018-03-14 23:20] efreeman1980 opened #5807 "typo: recommended vs recommented"
Instead of: Returns a list of databases inside a recommented elastic pool
Should be: Returns a list of databases inside a recommended elastic pool

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3cdfcc3-b8a3-1432-fcfb-55bb51f235fb
* Version Independent ID: 5f79f582-b7be-c222-01f5-01e9710f971e
* Content: [Create & manag

[2018-03-14 23:22] jtuliani commented on #5752
Thanks! I assume you're updating the doc so the whole world (and aliens from space too) can benefit :)

[2018-03-14 23:25] mike-urnun-msft commented on #5796
@HerbM Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 23:27] Mike-Ubezzi-MSFT commented on #5767
Edit has been made to 'includes/vpn-gateway-add-dns-rm-portal-include.md' to remove the second "select" (duplicate) word.

![screenshot 25](https://user-images.githubusercontent.com/37126106/37436280-57e75100-27a4-11e8-847e-1a65c7191d3e.png)

[2018-03-14 23:28] mike-urnun-msft commented on #5797
@yararl0306 Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 23:29] mike-urnun-msft commented on #5798
@hiteshvadgama Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 23:29] mike-urnun-msft commented on #5799
@keirans Thank you for your feedback! We have assigned this issue to the author to investigate further and take the right course of action.

[2018-03-14 23:30] kvinther commented on #5801
I figured it out eventually, but the docs could say something like:

Shared, custom assemblies should be placed in the `bin` folder in the site root, usually `wwwroot/bin`. Referencing a assembly in this folder would then be done using `#r "../bin/MyAssembly.dll"`

[2018-03-14 23:31] mike-urnun-msft commented on #5800
@S1r-Lanzelot Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-14 23:31] MicahMcKittrick-MSFT commented on #5765
@chazguerrero You cannot change the VM size of the nodes once the cluster is created. You can simply scale out but not up.  You also cannot have multiple node sizes in a single cluster. However, they appear to plan to support this in the future.

See Azure/AKS#132

Hope that helps. I will close this out for now but if you feel you need more information just let me know.

[2018-03-14 23:31] #5765 closed

[2018-03-14 23:33] mike-urnun-msft commented on #5801
@kvinther Great that you figured it out! We have assigned this issue to the author to investigate further and take the right course of action. Thanks again for your feedback!

[2018-03-14 23:34] mike-urnun-msft commented on #5804
@bastyuchenko Thank you for your feedback! We will investigate and get back to you with our findings.

[2018-03-14 23:35] mike-urnun-msft commented on #5805
@S1r-Lanzelot Thank you for your feedback! We will investigate and get back to you with the relevant info.

[2018-03-14 23:41] mike-urnun-msft commented on #5806
Hi @S1r-Lanzelot - You can find our upcoming release updates here: https://azure.microsoft.com/en-us/roadmap/

[2018-03-14 23:41] MicahMcKittrick-MSFT commented on #5772
@KumaresanLakshmanan as per the [documentation](https://docs.microsoft.com/en-us/azure/active-directory/active-directory-how-subscriptions-associated-directory#before-you-begin) it states this feature is not available for CSP subscriptions:

- You must sign in with account that has RBAC Owner access to the subscription.
- You must sign in with an account that exists in both the current directory w

[2018-03-14 23:41] #5772 closed

[2018-03-14 23:41] keirans commented on #5799
Thanks @mike-urnun-msft , I actually will get a PR in for this to help as well.
I'll update accordingly when it's done.

Thanks!

K

[2018-03-14 23:42] SergeyKanzhelev commented on #5563
There is no built in capability to accomplish any fine tune data collection parameters in run time. You'd need to enable Application Insights SDK from Visual Studio or any other development environment

[2018-03-14 23:42] mike-urnun-msft commented on #5807
@efreeman1980 Thank you for reporting this issue! We will investigate and make any necessary changes.

[2018-03-14 23:42] MicahMcKittrick-MSFT commented on #5788
@jtuliani Thanks for pointing this out. I have assigned this issue to the content author to take a look and update the document appropriately.

@gatneil Please take a look and review the suggestions.

[2018-03-14 23:43] #5584 closed

[2018-03-14 23:43] #5428 closed

[2018-03-14 23:44] #5412 closed

[2018-03-14 23:46] MicahMcKittrick-MSFT commented on #5800
@S1r-Lanzelot appreciate you reaching out with your question. As this question is more of a guidance problem rather than a doc problem I suggest reaching out to us via Forums.

You can follow this **[link](https://social.msdn.microsoft.com/Forums/en-US/home?forum=WindowsAzureAD)** to be directed to the appropriate area for posting. From there we can have some of our AAD engineers take a look and p

[2018-03-14 23:46] #5800 closed

[2018-03-14 23:49] jason-j-MSFT commented on #5715
@hravnaas Sorry to hear you had trouble, I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-14 23:52] MicahMcKittrick-MSFT commented on #5769
Fixes MicrosoftDocs/azure-docs#5769

[2018-03-14 23:53] MicahMcKittrick-MSFT commented on #5769
@OlegKarasik Thanks for pointing this out. I have made the corrections to the doc. Once they have been approved they will go live and this issue will automatically close.

[2018-03-14 23:55] ajayaldo commented on #5680
Thanks. I deleted the whole resource group, created a new one with two resources in it and tried to move one, still, I got the error.

[2018-03-14 23:58] gatneil commented on #5788
Good catch! How about the following?

**Q.** Do scale sets work with Azure availability sets?

**A.** A regional (non-zonal) scale set uses *placement groups*, which act as an implicit availability set with five fault domains and five update domains. Scale sets of more than 100 VMs span multiple placement groups. For more information about placement groups, see [Working with large virtual machine

[2018-03-15 00:04] jason-j-MSFT commented on #5729
@silverf1re I have assigned the issue to the content author to investigate further and update the document as appropriate.

@KumudD The documentation does not specify using HTTPS in the RUM script URI and may cause a warning in user's browsers.

[2018-03-15 00:04] BryanTrach-MSFT commented on #5276
@ajayaldo Please email me directly at brtrach@microsoft.com. I have an analysis of your last failed migration. I can share the results with you in an email.

We also sanitized your above post by removing some of the data.

[2018-03-15 00:11] BryanTrach-MSFT commented on #5680
@ajayaldo I replied to your other post as well. I have a break down of your latest failed migration for the mentioned subscription ID. Please email me directly at brtrach@microsoft.com and I can share the results with you.

I've also sanitized this post of any potentially sensitive information.

[2018-03-15 00:18] BryanTrach-MSFT commented on #5703
@andrejpk We have requested the doc author to review the document and update it as necessary.

[2018-03-15 00:19] SteveMSFT commented on #5034
Hi @YeeSuan95,

On March 1st, 2018, the Face API released two features to enable large-scale scenarios, LargePersonGroup and LargeFaceList, collectively referred to as Large-scale operations. LargePersonGroup can contain up to 1,000,000 persons each with a maximum of 248 faces (images), and LargeFaceList can hold up to 1,000,000 faces.

The Free-tier subscription can have up to 1,000 large person

[2018-03-15 00:21] mike-urnun-msft commented on #5759
@Architekt909 We have validated this issue and assigned it to the author to investigate further, and take the right course of action.

[2018-03-15 00:21] ajayaldo commented on #5680
Done..

[2018-03-15 00:24] #5769 closed

[2018-03-15 00:29] bandersmsft commented on #5752
Yes, I'll add Nini's details to the article shortly.

[2018-03-15 01:09] ishepherd opened #5810 "Questions/suggestions"
* Remove wording "by default", remove "With encryption enabled," - This implies the encryption could be disabled if you chose. The doc says this is not the case.
* "Azure Storage automatically encrypts your new data." - For tables, it's not just new data but existing data too. I think?
* "However, existing data is not encrypted." I believe this paragraph applies to blob/files encryption not tables

[2018-03-15 01:29] yosukekumasaka commented on #5286
@davidmu1
In article below: https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-crs-rulegroups-rules
There is the description "911100 Method is not allowed by policy".
Here, it's not described that which method is not allowed.
To configure Application Gateway's WAF, we need to understand it.
And more, not allowed methods seems to be changed by the default CRS's rule.
So,

[2018-03-15 01:45] TomShinder commented on #5257
Thanks! The Azure Security team will review and fix. Thanks for the heads up!

[2018-03-15 01:57] BryanTrach-MSFT commented on #5639
@toddwalstad I was able to reproduce your feedback. Changes to the doc will go live tomorrow.

[2018-03-15 02:05] bburkert opened #5811 "Is there a scriptable way of creating a AMS account?"
Either via Azure CLI or some other library, can you create a AMS account through something that isn't the Azure Portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24923a99-562a-6d67-e582-a6725d691600
* Version Independent ID: 9fe28aef-a3f6-6973-9f7c-a899144549a3
* Content: [Create an Azure Media Services account wi

[2018-03-15 02:23] viralnaik77 opened #5812 "Update to Additional settings option"
Hi, i see the SharePoint Admin Center > Sharing > Additional settings have now got additional option "External users must accept sharing invitations using the same account that the invitations were sent to"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1ab5696-ee53-9104-95e8-9a55d3ec26c9
* Version Independent ID: ed1

[2018-03-15 03:48] julianddavidson commented on #5745
But you don't have to use powershell any more, right?

[2018-03-15 04:59] dcbrown16 opened #5814 "Java "Support""
According to the following more recently updated document for Functions, Java is "not supported" for WebJobs.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-compare-logic-apps-ms-flow-webjobs#functions-vs-webjobs
However, this document lists .jar (using Java) as a supported script type.
This seems to be contradictory information, which one is correct?

---
#### Document Details

[2018-03-15 05:39] parakhj commented on #5805
I don't completely understand the question. Creating a user is independent of how you sign a user in. You can choose to enforce the user to do MFA when the user is signing in. But before a user can sign in, you need the user object, which can be created using Graph

[2018-03-15 06:33] SGA-tonsho-kazutaka opened #5816 "Broken link"
Tap "Auditing and logging" in Next Steps and "We are sorry, the page you requested cannot be found." is displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7c9d466-1830-ebaf-066f-8b53b57b6917
* Version Independent ID: 414715c5-d5f7-823a-3869-d8eb08448dbd
* Content: [Azure Logging and Auditing | Microsoft Docs](h

[2018-03-15 06:33] ravisha22 opened #5817 "Wrong title in picture"
The second picture in the page mentions "Windows Azure" instead of "Microsoft Azure"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 11cda2e8-81c4-ab6a-371e-73506948488f
* Version Independent ID: f18c9bf9-a0e7-ea07-144b-c2c7cedc8b6b
* Content: [Understanding resource access in Azure | Microsoft Docs](https://docs.micros

[2018-03-15 07:21] pvrk opened #5819 "1.0 CLI commands"
Are the CLI commands listed above belong to Azure CLI 1.0? Do you have Azure CLI 2.0 commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e239e2a7-944f-4ca9-31bb-42141db9920b
* Version Independent ID: 4d7c59bc-8a3a-506e-3f7f-3b287f18a1c3
* Content: [Overview of Azure Diagnostic Logs | Microsoft Docs](https://docs.m

[2018-03-15 07:34] IanYates83 opened #5820 "The "Authorize the application to use the key or secret" section can also be done within the Azure portal."
From your key vault blade, go to "Access policies" and "Add new".
Select your application registration as the principal, and use the multi-select fields to provide the required access permissions for the app (e.g., Secret permissions > Get).
When you press OK, your app will now have the requested permissions for the key vault.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2018-03-15 08:25] mvpkenlin opened #5821 "what makes txt file to be fail?"
I have a new txt file uploaded to blob Storage, but I get an error from indexer state like this,
'Document '{blob Path}' has unsupported content type 'unsupported'.

I have no idea why it fail and generating this error. Any invalid list of char that Indexer/Index supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2018-03-15 08:58] luminousmen opened #5822 "Update this documentation"
Update this documentation please, since version 0.3 there is no `BlobService ` and the line ` from azure.storage.blob import BlobService` will not work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef09d01f-1c2f-7403-4c9c-a9cea7f98dd5
* Version Independent ID: 6364acbf-2a94-8f3a-5764-159a7c02169a
* Content: [Create fe

[2018-03-15 09:07] bibliothek opened #5824 "Does the App Client Key expire?"
The docs talk about how to create an App Client key.

There seems to be no way to set the expiration of the key. Is there a default expiration or do these keys never expire?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c2ea43-4468-6ce2-c963-6940f5cb1d34
* Version Independent ID: e91ad7a8-0dbd-79b4-0f1b-b3c5a66d6d78

[2018-03-15 09:09] DaveDXC opened #5825 "Sync-AzSOfflineMarketplaceItem issue"
The script assumes more than one Stack has been registered when searching for AzureStack* resources. If only one is found, the result is a string rather than an array - and then retrieving the first object returns 'A'.
I replaced line 41:
    $Registration = $registrations[0]
With:
    if ($registrations.count -gt 1) {
        $Registration = $registrations[0]
    }
    else {
        $Registratio

[2018-03-15 09:30] dominicbetts commented on #5644
Hi @pankajisgarg,

The remote monitoring preconfigured solution supports two types of device: **Physical** and **Simulated**. A **Physical** device is a real device sending real telemetry that connects to the solution, a **Simulated** device only exists in the device simulation microservice and generates simulated telemetry to help you understand how the solution works.  I'm assuming that by "real

[2018-03-15 09:31] dominicbetts commented on #5644
#please-close

[2018-03-15 09:39] CoMMyCZ opened #5826 "Beware of the consequences"
You will NOT be able to set up exception for trusted IP addresses as the IP source of the request goes to RADIUS, which will always pass it to MFA no matter what you try.
Provided you want to have an ability to define trusted IP's you must deploye On-Prem MFA, this should be mentioned before you spend day or two configuring this :-)

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-03-15 10:09] dominicbetts commented on #5665
Hi @pemj

Thanks for the question - the **EnqueuedTime** property for a feedback message is the time that the feedback message was enqueued on the hub, *not* the time that the original C2D message was enqueued.

I'll make an update to the article shortly to clarify this.

Thanks,
Dominic

[2018-03-15 10:09] dominicbetts commented on #5665
#sign-off

[2018-03-15 10:39] rayne-wiselman commented on #5757
Fixed submitted in https://github.com/MicrosoftDocs/azure-docs-pr/pull/35404

[2018-03-15 10:40] rayne-wiselman commented on #5756
fix submitted in https://github.com/MicrosoftDocs/azure-docs-pr/pull/35404

[2018-03-15 10:42] rayne-wiselman commented on #5738
Looks like no action required

[2018-03-15 11:14] gerhardcit opened #5827 "Missing steps"
In the article you refer to: "On the left of the Postman window, click on 1. Get AAD Auth token -> Get Azure AD Token for Service Principal."
But nowhere can we find where you configured those steps.
There is a gap between setting up postman and then using the steps.
The REST api urls for those steps are not mentioned in between.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-03-15 11:20] cephalin commented on #5749
@BryanTrach-MSFT @SteveBurkettNZ Thanks for your help. Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1209369.

[2018-03-15 11:27] cephalin commented on #5703
@andrejpk Thank you. Tracking internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1209376.

[2018-03-15 11:41] cephalin commented on #5604
@tobyjw Thanks for looking into this. Tracking the issue internally at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1209383.

[2018-03-15 12:21] DavidHBallantyne commented on #5342
Indeed I did.
I hank you for the clarification.

David

Sent from my iPhone

[2018-03-15 12:53] S1r-Lanzelot commented on #5805
Yes but I also understand it as part of creating a user, similar to email verification when a user creates an account; you must verify the phone number is indeed the user's phone number, just like a verification email verifys the new user owns that email address.

[2018-03-15 12:53] #5805 closed

[2018-03-15 13:00] #5563 closed

[2018-03-15 13:07] vfab opened #5829 "Need the valid categories per resource type!"
In my opinion, this article is frustratingly incomplete.  I tried updating my website ARM template to register with my OMS workspace, but I couldn't figure out what categories to use.  It took me a lot of effort to find my way to the Enable-AzureRMDiagnostics.ps1 script, and then to the Get-AzureRmDiagnosticSetting PowerShell command within that.  That command lists the valid categories for a reso

[2018-03-15 13:35] gerhardcit opened #5830 "API endpoints incorrect"
{{RESTAPIEndpoint}}/Assets/{{LastAssetId}} is incorrect.
Is should be
{{RESTAPIEndpoint}}/Assets({{'LastAssetId'}})
(That's how it works)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fc8b27c-494a-9554-1139-032080cb0598
* Version Independent ID: ae6fb910-025e-6dd9-6599-0b5243bdd36c
* Content: [Import the Postman coll

[2018-03-15 13:37] tsahi opened #5831 "Where in the world is the log written to?"
Where can I see the logs I send to the `log` parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a4532b8-8c27-ca15-edc6-85fc38cab341
* Version Independent ID: e06de78b-9271-25a4-439d-2a024f31693e
* Content: [Azure Functions C# developer reference | Microsoft Docs](https://docs.microsoft.com/en-us/azure/azure-fun

[2018-03-15 13:37] gerhardcit commented on #5827
Found this to be in the next article:
https://docs.microsoft.com/en-us/azure/media-services/postman-collection
But it was not obvious from the configuration part on how that is done.

[2018-03-15 13:37] danmyhre commented on #5544
I added this to feedback site.

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/33644002-custom-roles-at-the-management-group-level

Don't forget to get go vote for it!

[2018-03-15 13:38] RicardoPedrotti opened #5832 "TLS Trouble"
This is great! Thank you for the demo. I'm just having trouble with the TLS certification and couldn't find anything here. Is there any documentation about it?

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: eb22a282-b74a-2458-9c51-12162768b4d2
* Version Independent ID: 90556118-fe8f-dfeb-ddec-a17f02326843

[2018-03-15 13:39] tsahi commented on #5831
This also applies to the C# Script section, https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#logging

[2018-03-15 13:39] jjader-nps commented on #5496
Our organization has the exact same issue as @bernardw1. The "automatic" option is missing in the Provisioning Mode drop down.

[2018-03-15 13:41] #5806 closed

[2018-03-15 13:46] brohrer opened #5834 "Authorship"
This is one of my first machine learning tutorials. I'm very proud of it and grateful to Microsoft for the opportunity to work on it with @garye during my time there. I'm a little sad that my name is no longer on it. docs.microsoft.com, is this something you could rectify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-03-15 13:50] lancebates opened #5835 "Relying Party Trust for Step 2 Claims"
Step 2 says to create claims for AD FS, but it does not specify if we need to create a new relying party trust for this, or if we should use an existing trust. I'm not sure if this matters, but we use a separate AD FS server than our AD Connect server. We have AD FS configured for Office 365, but no other Microsoft resources. If we need to create a new relying party trust, where would we get the i

[2018-03-15 14:02] dkittell opened #5837 "set-record is now add-record"
az network dns record-set a set-record --resource-group myresourcegroup --zone-name contoso.com --record-set-name www --ipv4-address 1.2.3.4
Should be
az network dns record-set a add-record --resource-group myresourcegroup --zone-name contoso.com --record-set-name www --ipv4-address 1.2.3.4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2018-03-15 14:10] dajean0104 commented on #5536
Hi, I'm looking for a solution for redraw the image into a document, for example if my image is a frame I need it in the document is put the frame and position the words inside. For that reason I need to know if there is any library for manage the bondingBox that the json return.

[2018-03-15 14:15] GreggRevak opened #5838 "Satisfied status strings"
Satisfied status strings gives the same string 4 times ("satisfied by claim in the token") but doesn't provide useful information. Be explicit indicating which token was used. Azure shows the same string with different apps so it would be useful to know the details about which token was used.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-03-15 14:37] xela30 opened #5839 "Reverse proxy events"
How to collect reverse proxy events in on-premise cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b67ccf12-3864-82ad-a502-db5aa58c0b6f
* Version Independent ID: 6c0deb7f-99cc-7560-0064-3c9fda351d98
* Content: [Azure Service Fabric Event Aggregation with Windows Azure Diagnostics | Microsoft Docs](https://docs.m

[2018-03-15 14:38] emeria opened #5840 "Confused by naming"
The Azure SQL Database page lists three options: single database, managed instance, and elastic pool.  This page mentions IaaS, Azure SQL DB, and managed instance.  Is Azure SQL DB in this case the Single Database?  At one point, managed service is called "Azure Sql Database Managed Service" (in the first !Important message).  Just want to clarify, as the inconsistent naming tends to throw me off

[2018-03-15 14:53] MGoedtel commented on #5829
@vfab - I agree that this article is incomplete and needs to be re-written, and I appreciate your feedback.  It's been on my list to address and I am trying to get to it as quickly as I can.  #in-process

[2018-03-15 15:04] KumaresanLakshmanan opened #5841 "Is there a limit on the size of each data source being backed up"
Maximum size of Data Source which can be backed up in Windows Server 2008 R2 / Windows 7 is mentioned as 1700 GB as of August 2015. Is this limit for Windows Server 2008 R2 operating system still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version Independent ID: 2ac226c

[2018-03-15 15:30] ShaunInIdaho opened #5842 "Useless Link to Windows PowerShell cmdlets for Azure API Management API"
The link given to Windows PowerShell cmdlets for Azure API Management API goes to a useless page.  It would be better to send readers to the page for the actual module where the commands are here: https://docs.microsoft.com/en-us/powershell/module/azurerm.apimanagement/?view=azurermps-5.5.0#api_management.

Otherwise the link is a dead-end.

---
#### Document Details

⚠ *Do not edit this section.

[2018-03-15 15:35] georgewallace commented on #5398
@amanarneja I haven't heard back from the user who opened the issue, the document is correct in how it is written, we pass objects as strings not PSCustomObjects. Can we close this issue? @arcotek-ltd If you feel strongly about this please feel free to open a new issue at a later date.  Thank you so much for contributing to the docs.

[2018-03-15 15:37] spsandran opened #5843 "Wrong CIDR range"
On the notes section, the example " 10.0.0.0/24 does not mean 10.0.0.0 through 10.0.0.24" is wrong, it should be "For example, 10.0.0.0/24 does not mean 10.0.0.0 through 10.0.0.256". Please refer to https://whatismyipaddress.com/cidr

The IP Addresses listed in the Azure Datacenter IP list are in CIDR notation. For example, 10.0.0.0/24 does not mean 10.0.0.0 through 10.0.0.24. Learn more about the

[2018-03-15 15:38] arcotek-ltd commented on #5398
@georgewallace,

I am formulating a reply with examples. A little busy with other Azure stuff at the minute. Can you give me a few days before you close please.

Thanks

[2018-03-15 15:40] georgewallace commented on #5398
@arcotek-ltd That is fine, thanks for getting back to me. I'll await your response.

[2018-03-15 15:40] Mike-Ubezzi-MSFT commented on #5770
**Issue Summary**

In looking through this section: https://docs.microsoft.com/en-us/azure/active-directory/active-directory-passwords-how-it-works#what-fields-are-used-in-the-directory-for-the-authentication-data

The end user is to **NOT** populate the _Mobile Phone_ field but instead, follow this link to the [Password Reset Registration Portal](https://aka.ms/ssprsetup), to populate the _Authen

[2018-03-15 15:46] dtjensen opened #5844 "Compile errors"
When I run the "dotnet" command to create the new function project, there are compile errors out of the box. It can't resolve the "#r "Microsoft.Azure.Devices.Client"" reference. Is anyone else having this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7852968-3c54-5584-df91-b01521efae43
* Version Independent I

[2018-03-15 15:46] mike-urnun-msft commented on #5789
@MayankSri Great that you were able to resolve the issue! Thank you for sharing what issue was as well!
We will be sure to pass on your feedback to our content team as per our process. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-15 15:46] #5789 closed

[2018-03-15 15:59] #5706 closed

[2018-03-15 15:59] KarstenKleinschmidt opened #5846 "Better wording needed"
In the "Additional information" paragraph it should be stated more clearly that using a pre-created (empty) database also  requires the /UseExistingDatabase flag. One could get the impression the option is only needed in a recovery situation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3874265a-c20c-ba96-5480-9c9652

[2018-03-15 16:06] mimig1 commented on #5706
This tip was added to https://docs.microsoft.com/en-us/azure/cosmos-db/table-storage-how-to-use-dotnet yesterday: Developers already familiar with Azure Table storage may have used the WindowsAzure.Storage package in the past. It is recommended that all new table applications use the Azure Storage Common Library and the Azure Cosmos DB Table Library, however the WindowsAzure.Storage package is sti

[2018-03-15 16:07] CarlRabeler commented on #5807
Fixed and merged

[2018-03-15 16:09] Adam-Smith-MSFT commented on #5728
@DonPetry-EY Thanks for the feedback, i'd recommend checking this link which provides more details about the managed disks encryption:https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview#managed-disks-and-encryption
I will also assign the case to the author to see if they could add it as well.

[2018-03-15 16:09] #5807 closed

[2018-03-15 16:12] mimig1 commented on #5642
"Change the throughput of a collection" has been added to the https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-python-samples page, and the change is live. I believe this addresses this issue, but let me know if that's not the case. Thank you.  #please-close

[2018-03-15 16:13] #5147 closed

[2018-03-15 16:13] mimig1 commented on #5751
#please-close Looks like @gangaken turned this into a test issue.

[2018-03-15 16:16] Adam-Smith-MSFT commented on #5810
@ishepherd Thanks for the suggestion, I will assign the case to the author for review.

[2018-03-15 16:40] Mike-Ubezzi-MSFT commented on #5779
**Issue Summary**

In looking through three separate links with content describing Always On Availability Groups, there are instances where it is referenced as: **Always On**, **Always On Availability Groups**, **Always On availability groups**, or simply as **availability groups**.
There are also some contextual instances the end user is calling out, where it is not being referred to correctly in

[2018-03-15 16:43] mattbriggs commented on #5342
I was able to sit down with the Azure AD material. I will add a note to clarify that the key is for use with a Web app in this procedure. Thanks for your input, questions, and answers, @DavidHBallantyne and @tfitzmac. #please-close

[2018-03-15 16:53] mattbriggs commented on #5590
@jrp2014 Thanks for your insight. I've passed your comment along to the technical owners of the Azure Stack PowerShell Tools. The tools are in the process of being updated, and I'm working on the PowerShell docs so your note that "the whole setup for initializing your Powershell environment is a bit fragile" is very helpful. Thanks! Matt #please-close

[2018-03-15 17:03] kgremban commented on #5792
Thanks @leeprtc I'm talking to the product team to make sure we make a correct statement about python versions.

[2018-03-15 17:03] SyntaxC4 commented on #5460
@llauner Thank you for the feedback!
@samiraged Thank you for opening the Product feedback on user voice, it's greatly appreciated!

I believe this issue is resolved from a documentation perspective. #please-close

[2018-03-15 17:04] dkkapur commented on #5839
@xela30 - I would recommend using EventFlow, with the following ETW Configuration:

[code]

EventFlow GitHub / docs: https://github.com/Azure/diagnostics-eventflow.

Here's a sample app that might help as well: https://github.com/Azure/diagnostics-eventflow

[2018-03-15 17:12] #5460 closed

[2018-03-15 17:18] #5590 closed

[2018-03-15 17:25] #5751 closed

[2018-03-15 17:31] tugup commented on #5505
The supported runtime and sdk version should be 5.7.217 and higher.

[2018-03-15 17:38] Adam-Smith-MSFT commented on #5834
@brohrer Thanks for the feedback, I assigned the case to the author for further review.

[2018-03-15 17:49] ScottAzure opened #5848 "Anchor the section for domain feedback"
Can we anchor this section so CSS can deep link
If you still can't connect remotely to your virtual machine, see more steps to try at Troubleshoot Remote Desktop connections to a Windows-based Azure virtual machine. If you lose connection to the Windows domain controller, you will need to restore it from a domain controller backup.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-03-15 17:50] #5450 closed

[2018-03-15 17:55] MicahMcKittrick-MSFT commented on #5831
@tsahi this doc appears to be referencing Application Insights to view all the logs. Are you asking where in Application Insights specifically you can view these logs?

[2018-03-15 17:56] kgremban commented on #5630
@dkatson I'm looking at the docs, and I don't want to clutter the setup steps with additional details for people running VMs. I realize a lot of people are hitting this scenario, though, so I'm going to take this to the product team and see if it's something they can fix in the setup tool or improve the error message before making changes to the article.

[2018-03-15 17:59] SyntaxC4 commented on #5294
Thanks @jtuliani for the Feedback!

I reached out to @ccompy internally. Apparently updates have been made on this topic, I'm awaiting a link to a PR to be able to associate the fix to the issue and to be able to provide a link for confirmation.

[2018-03-15 18:01] SyntaxC4 commented on #5775
Adding @tdykstra as FYI as he is currently working on some WebJobs updates.

[2018-03-15 18:03] MicahMcKittrick-MSFT commented on #5848
Good idea @ScottAzure. I have assigned this to the content author to help drive this further.

@danielsollondon Please work with Scott on this issue.

[2018-03-15 18:14] bospoort opened #5849 "Create database from portal"
Ideally, I'd like to muck around on the client as little as possible. Connecting to SQL on Docker to create the database, is painful and wouldn't scale. Can you add steps how to create the database from config (ideally from the portal)? Isn't the idea to just "iotedgectl config" and "iotedgectl start" on the client? And then everything starts deploying and running.

---
#### Document Details

⚠ *D

[2018-03-15 18:14] mtillman commented on #5770
The page does explain that the user sets the Authentication Phone value in the password reset portal (not the admin). The admin doesn't set this, they can just see it (privately) in the user's profile. @OneGi, I'm not sure what you're asking for?

[2018-03-15 18:16] bradsev commented on #5278
Just saw this. I will follow up now.

[2018-03-15 18:17] mtillman commented on #5745
@Mike-Ubezzi-MSFT please assign this to @curtand instead of Femila.

Curtis, I'm assigning this to you, since John is out the rest of this week.

[2018-03-15 18:19] mtillman commented on #5734
@jason-j-MSFT please assign this to @billmath instead of @swkrish. Bill can work with the PG to get this updated correctly.

[2018-03-15 18:21] MicahMcKittrick-MSFT commented on #5844
@dtjensen can you confirm you have all the prerequisites for this doc?

https://docs.microsoft.com/en-us/azure/iot-edge/tutorial-deploy-function#prerequisites

[2018-03-15 18:22] SyntaxC4 commented on #5294
The changes to https://docs.microsoft.com/en-us/azure/app-service/environment/forced-tunnel-support were added in #34901

[2018-03-15 18:24] Adam-Smith-MSFT commented on #5811
@bburkert  Thank you for the valuable feedback.We are investigating the issue and we will get back to you.

[2018-03-15 18:24] dtjensen commented on #5844
Yes. I have all of those installed.  As an FYI, I am able to build the FilterModule (C#) sample as described and it resolves the references to the device client lib. I am just having trouble with the FunctionModule (CSX) sample.

[2018-03-15 18:24] Adam-Smith-MSFT commented on #5814
@dcbrown16 Thank you for the valuable feedback.We are investigating the issue and we will get back to you.

[2018-03-15 18:25] Adam-Smith-MSFT commented on #5816
@SGA-tonsho-kazutaka Thank you for the valuable feedback.We are investigating the issue and we will get back to you.

[2018-03-15 18:25] MarkusVi commented on #5787
Hi @ddexter26, thanks for your feedback. We have updated the article.

#please-close

[2018-03-15 18:25] Adam-Smith-MSFT commented on #5817
@ravisha22 Thank you for the valuable feedback.We are investigating the issue and we will get back to you soon.

[2018-03-15 18:27] #5787 closed

[2018-03-15 18:28] mtillman commented on #5648
@mikemartin1090 Thank you for bringing this to our attention. We have opened an item on our documentation backlog to have this investigated and updated. We'll respond back to you on this issue when we've done the work. For now, we'll close this GitHub issue. #please-close

[2018-03-15 18:29] Adam-Smith-MSFT commented on #5821
@mvpkenlin Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:29] Adam-Smith-MSFT commented on #5822
@luminousmen Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:30] Adam-Smith-MSFT commented on #5825
@DaveDXC Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:30] Adam-Smith-MSFT commented on #5827
@gerhardcit Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:31] Adam-Smith-MSFT commented on #5832
@RicardoPedrotti Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:32] Adam-Smith-MSFT commented on #5835
@lancebates Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:32] Adam-Smith-MSFT commented on #5837
@dkittell Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:32] Adam-Smith-MSFT commented on #5838
@GreggRevak Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:32] Adam-Smith-MSFT commented on #5840
@emeria Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:33] SyntaxC4 commented on #5260
@WootJay Thanks for your feedback and your responses. It sounds like the issue is covered in the scenario. #please-close

[2018-03-15 18:35] Adam-Smith-MSFT commented on #5841
@KumaresanLakshmanan Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:35] jimdial commented on #5699
@markedrichardson Since I haven't heard back from you, I'm closing this issue. Just let me know if you have further questions though. #please-close.

[2018-03-15 18:35] Adam-Smith-MSFT commented on #5842
@ShaunInIdaho Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:35] Adam-Smith-MSFT commented on #5843
@spsandran Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:36] Adam-Smith-MSFT commented on #5844
@dtjensen Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:36] Adam-Smith-MSFT commented on #5846
@KarstenKleinschmidt Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:36] Adam-Smith-MSFT commented on #5848
@ScottAzure Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 18:42] mtillman commented on #5634
@stevep4 If this is a product or support question, we should route this question to the appropriate channel for those questions. Since this isn't a documentation issue, please remove the assignment to the author @MarkusVi. Thanks.

[2018-03-15 18:56] MohitGargMSFT commented on #5654
@danmyhre Sure, I am assigning this to author to take a look at it and update as appropriate.

[2018-03-15 18:59] adelices opened #5850 "Azure AD Provisioning and Attributes to Google Apps"
Hello,
I will be provisioning users from Azure AD and need to move the users to the right Sub Organisation during the provisionning.
How can I do that ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c64daae8-0d9c-5986-043f-e383d06827d9
* Version Independent ID: 65c4180b-3540-6de6-2b6e-833d1793fb65
* Content: [Tutorial

[2018-03-15 19:13] SyntaxC4 commented on #5755
@MarkAtAgilliance Thanks for your issue and the very first one on your GitHub account at that!

@ggailey777 Can we remove the link to Wikipedia and instead make sure to provide a good explanation of the Cron expression. There is a great reference in this [blog post](http://blog.amitapple.com/post/2015/06/scheduling-azure-webjobs/#.WqrFsujwZ3g)

[2018-03-15 19:14] Adam-Smith-MSFT commented on #5821
@mvpkenlin There are files that are not supported in blob indexing, Plain text files are indeed supported, (Link can be seen [here](https://docs.microsoft.com/en-us/azure/search/search-howto-indexing-azure-blob-storage)) the .txt file type is not specifically mentioned, I will assign it to the author for review and confirmation.

[2018-03-15 19:23] Adam-Smith-MSFT commented on #5841
@KumaresanLakshmanan the article of reference can be found [here](https://azure.microsoft.com/en-us/blog/azure-backup-enables-backup-of-large-volumes-vms-databases-and-more/) , I will assign it to the author to see if there were any updates for the 1700 GB for Server 2008 R2.

[2018-03-15 19:29] chrisahardie opened #5851 "Don't think this sentence belongs"
"When publishing your application from Visual Studio using the Cloud.xml publish profile, your service is configured to use port 80. If you deploy the application without specifying the MyWebAPI_PortNumber parameter, the service uses port 8080."

There is nothing in this document about MyWebAPI_PortNumber or port 8080.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2018-03-15 19:35] fswgm opened #5852 "Management groups spanning from EA to PAYG?"
The illustration in this page is confusing to me - how would a management group under an organization's EA tenancy include an Azure PAYG subscription? If it is possible, I'd love to have more details around the ILLO to exactly describe how the IT Management Group seems to span an impossible boundary as I understand it to this point. Thanks!

---
#### Document Details

⚠ *Do not edit this section.

[2018-03-15 19:40] Adam-Smith-MSFT commented on #5843
@spsandran "10.0.0.0/24 **does not mean** 10.0.0.0 through 10.0.0.24" is only to clarify that /24 is not a range to .24 but rather a CIDR notation.  /24 is a CIDR notation meaning 10.0.0.0 through 10.0.0.256 with , meaning 254 usable host IPs.
I'll assign the case to the author for any further clarifications.

[2018-03-15 19:40] cephalin commented on #5260
@SyntaxC4 Sounds good. Tracking now at https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1209853.

[2018-03-15 19:43] MohitGargMSFT commented on #5698
@Variour Yes automating using PowerShell is one of the option. You can encrypt password and refer the same in powershell. Also as mentioned in the document you will require azure tenant's Global Administrator credentials and Domain Administrator credentials for the intended AD forest.

Also please post to automate the process as a feedback @ [https://feedback.azure.com/forums/169401-azure-active-d

[2018-03-15 19:44] Mike-Ubezzi-MSFT commented on #5781
@lpunderscore Do you have an example available that you could attach to this, as it might be nice to assist the content owner. There are multiple configuration options available and having the output from at least one use case would be great. Thanks!

[2018-03-15 19:48] spottedmahn opened #5853 "What are the differences in the claims between id and access tokens?"
I think it would be beneficial to document that the same set of claims come back with id and access tokens except for the `scp` claim.

Reference: [Can Azure B2C claims exchange be used for Access token?](https://stackoverflow.com/a/49308037/185123)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b05bb7df-98fc-1342-640d

[2018-03-15 19:50] sandervandevelde commented on #5346
This is a nice improvement, thanks.

This introduction of 'connectionModuleId' is a bit confusing, though.

The "WHERE NOT IS_DEFINED($connectionModuleId)" lacks 'body'. This seems to be a SYSTEM parameter (not part of the appProperties???). If so, how do I check the appProperties??

[2018-03-15 19:51] gopitk commented on #5278
That is correct. You need to add the -n parameter when using conda from sudo. If you did a ```sudo -s``` to create  root shell and then activated into the py35 environment then you can leave out the -n. Anyway to be consistent maybe we shoudl just say use the -n option when using conda.

BTW- When using pip  install the full path of pip you are running to install apackage will determine where the

[2018-03-15 19:53] mtillman commented on #5402
@amanarneja assign this issue to me @mtillman.

[2018-03-15 19:56] mtillman commented on #5202
@Adam-Smith-MSFT assign this issue to me @mtillman

[2018-03-15 19:59] Mike-Ubezzi-MSFT commented on #5804
@bastyuchenko Are you leveraging Storage Queues or Service Bus Queues?

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-azure-and-service-bus-queues-compared-contrasted#foundational-capabilities

![screenshot 29](https://user-images.githubusercontent.com/37126106/37487954-6ddc6660-2850-11e8-86f3-304e9eb0d338.png)

**Additional Information:**
Messages in Storage queues are

[2018-03-15 20:09] mrbullwinkle commented on #5142
@MarkIannucci Thanks for the feedback, and the follow-up questions. The default values have evolved over time based on customer feedback and product group testing. The values in the current iteration of the doc _should_ represent the defaults for the latest version, but as you point out as the products rapidly evolve the docs may lag behind so to be safe you can always explicitly set those values

[2018-03-15 20:30] scottman1987 opened #5854 "kubectl create secret example might be improved with <acr-auth> with <>"
It would probably stand out more to users if the line:

kubectl create secret docker-registry acr-auth --docker-server <acr-login-server> --docker-username <service-principal-ID> --docker-password <service-principal-password> --docker-email <email-address>

Started with:

kubectl create secret docker-registry <acr-auth> .....

which would make it more obvious that you need to specify the service p

[2018-03-15 20:42] AronT-TLV opened #5855 "KUBE-LEGO is deprecated"
When you `helm install` KUBE-LEGO you get the following message:

The doco should be updated to show how to use cert-manager

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ada58160-dc50-b977-d3bc-65f92406e16d
* Version Independent ID: 5c596e04-fddb-effe-3b72-575f4df42d4e
* Content: [Configure ingress with Azure Contain

[2018-03-15 20:43] mganeshphani opened #5856 "Service Fabric compatibility"
Please provide some links to Service Fabric compatibility as well...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22dc1f78-5ef2-391c-732f-740c0ca12880
* Version Independent ID: ffad8c17-c1e6-fb99-3a39-98be4d6ed091
* Content: [Push Docker image to private Azure registry | Microsoft Docs](https://docs.microsoft.com/en-

[2018-03-15 20:44] rizwaans opened #5857 "software engineer"
Hey, This was really helpful for me. Thanks much. Can you also please share on how to read only specific number of messages from topic. i.e if I have 10 messages in topic I want to read only 4. How?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 443c9051-c55e-1202-7b75-ce86f6977017
* Version Independent ID: 677b6375-19

[2018-03-15 20:46] neilpeterson commented on #5854
@scottman1987 thanks for the input.

Can you clarify the suggestion a bit?

In the command, `acr-auth` is the name of the Kubernetes secret, which can be any value. The service principal ID and password need to be specified, which is specified in the text and script.

[code]

Thanks again.

[2018-03-15 20:46] AronT-TLV opened #5858 "Securing Tiller"
When you do `helm init` there is actually a bit more in the output:

There should be some explanation here how this related to Azure AKS and Azure RBAC

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a917974-7672-e4f9-ab5c-4a5bfeeca27d
* Version Independent ID: be5c1091-0711-25c4-7555-e3534b3eba42
* Content: [Deploy co

[2018-03-15 20:47] Mike-Ubezzi-MSFT commented on #5840
**Issue Summary**

In looking through the Azure SQL Database Documentation, there are three SQL server offerings made available in Azure, and I see it as the following:

Azure SQL Server IaaS - Install SQL Server to a deployed VM (PaaS + SQL Server single instance).
Azure SQL Server PaaS - Azure SQL Server (Managed single instance)
Azure SQL Server SaaS - Azure SQL Server (Managed Elastic Pools)

[2018-03-15 20:51] neilpeterson commented on #5855
@AronT-TLV - thanks for the issue / suggestion.

We are tracking this and intend to update the doc. At current time cert-manager includes a [note]( https://github.com/jetstack/cert-manager) stating:

[code]

Based on this, and comparing the experience between the two, we went with kube-lego for the short term.

Update to cert-manager to follow shortly.

[2018-03-15 21:31] #5639 closed

[2018-03-15 21:35] MohitGargMSFT commented on #5650
We will now proceed to close this thread. If there are further questions regarding this matter and are not addressed in MSDN forum, please reopen it and we will gladly assist you.

[2018-03-15 21:35] #5650 closed

[2018-03-15 21:36] #5682 closed

[2018-03-15 21:36] #5709 closed

[2018-03-15 21:37] MohitGargMSFT commented on #5693
@sid326 Please update on above.

[2018-03-15 21:37] #5486 closed

[2018-03-15 21:38] MohitGargMSFT commented on #5724
@ivratche Please update on above.

[2018-03-15 21:39] MohitGargMSFT commented on #5726
@jakedenyer-s24 Please update on above.

[2018-03-15 21:41] MohitGargMSFT commented on #5812
hanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-15 21:42] AronT-TLV commented on #5855
👍🏾

[2018-03-15 21:45] mike-urnun-msft commented on #5536
Hi @dajean0104,

You can iterate over the boundingBox collection in your json response in different ways using the JS libraries i posted in my previous comment & consume the data however you wish that fits your unique project needs. This is more of a coding/implementation issue than issue with this doc/article content.

As such, I would like for you to open a separate post on StackOverflow with mo

[2018-03-15 21:48] MohitGargMSFT commented on #5816
hanks for reporting! I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-15 21:56] bandersmsft commented on #5752
@azure-cxp-triage
azure-policy
doc-bug

#please-close

Issue was fixed with https://github.com/MicrosoftDocs/azure-docs-pr/pull/35392

[2018-03-15 21:57] Juliako commented on #5811
@bburkert, you can use Powershell
https://docs.microsoft.com/en-us/powershell/module/azurerm.media/?view=azurermps-5.5.0&viewFallbackFrom=azurermps-5.4.0#media_services

[2018-03-15 22:00] chaosrealm commented on #5821
Hi @mvpkenlin this is somewhat unexpected, and i would need to take a look at the telemetry to see what happened. Could you let me know your search service name and indexer name?
Also, it would be interesting to look at your document. If possible, please share with me.
You can reach me directly at eugenesh at the usual Microsoft domain.
Thanks!

[2018-03-15 22:03] MikkelHegn commented on #5851
That seems just about right :-) Fixing it... Thanks for the feedback

[2018-03-15 22:10] tdykstra commented on #5775
@codecadwallader Does this issue have what you're looking for:  https://github.com/Azure/azure-webjobs-sdk/issues/1555

[2018-03-15 22:12] MohitGargMSFT commented on #5817
@ravisha22 I have made change in the document and is going through validation/approval process. Thanks.

[2018-03-15 22:22] JCKodel opened #5860 "Vocês tem merda na cabeça"
Esse app permite autorizar um acesso no Android, mesmo com o celular bloqueado!
Basta ver a notificação e clicar no botão Authorize. Pronto! Está autorizado sem sequer precisar desbloquear o celular.
Vai ser incompetente assim na pqp!

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: 78899009-3148-e888-cc84-

[2018-03-15 22:23] kfile commented on #5678
@JasonWHowell

Jason, can you take a look at this? Thanks.

[2018-03-15 22:24] MohitGargMSFT commented on #5820
@IanYates83 Thanks and yes you are correct on it. As the document from start is referring to powershell commands to accomplish each step hence that option is included for this section as well.

[2018-03-15 22:25] jtuliani commented on #5788
An improvement, but I think there's still a little way to go...the first Q/A now specifies what happens in the non-zonal case, but says nothing about the zonal case either way. Customers shouldn't have to guess or read between the lines, It should say explicitly that Availability Sets are not used in the zonal case, or it should explicitly refer to the scale set zone doc.

The second Q/A is indepe

[2018-03-15 22:31] jason-j-MSFT commented on #5736
@Ayanmullick I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-15 22:34] mtillman commented on #5812
Thanks for catching this. I've opened a work item on my team's backlog to get this issue fixed. We're going to close this issue and track the fix internally. We will come back to this issue with information about the fix when it's done.
#please-close

[2018-03-15 22:37] jeremyhagan opened #5862 "What version?"
From above:
"For Azure Active Directory (AAD) Connect deployment with version or higher, use the troubleshooting task in the wizard to troubleshoot object synchronization issues. "

What version is this? I am running 1.1.654 and the Troubleshoot Object Synchronisation option is not available.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-03-15 22:45] jason-j-MSFT commented on #5736
@Ayanmullick This is an interesting feature idea and we want to make sure it gets directly into the hands of the product team rather than sending it to the author of the documentation you referenced.  Fortunately, we've got a dedicated channel for that very purpose :) You can find it over here:
https://feedback.azure.com/forums/216843-virtual-machines

We'd be happy to submit your feature request

[2018-03-15 22:47] bburkert commented on #5811
For this, I should have phrased my question better. Specifically I was looking for a way of deploying a new AMS account using azure-cli since my environment doesn't let me use Powershell.

For future reference, I was able to deploy using azure-cli by making a deployment template for the media services and deploying it that way. There is no support for media services in azure-cli as far as I can te

[2018-03-15 22:47] #5811 closed

[2018-03-15 22:51] JasonWHowell commented on #5678
@SIGAN I tested it and got the message "You have reached the maximum number of Data Lake Analytics accounts allowed (3) in East US 2 under subscription <subname>."  when I tried to make an additional account.

Yes, then I could switch to another region, and make more ADLA accounts. I'm not sure if my 3 is exceptional or if 5 is the normal now. So this change looks correct - to add "Per region".

W

[2018-03-15 22:52] ggailey777 commented on #5265
@ericbrunner but it still doesn't work with `?clientId=default'? I can no longer repro the behavior.

[2018-03-15 23:08] Adam-Smith-MSFT commented on #5849
@bospoort Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:09] Adam-Smith-MSFT commented on #5850
@adelices Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:12] Adam-Smith-MSFT commented on #5852
@fswgm Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:15] Adam-Smith-MSFT commented on #5853
@spottedmahn Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:21] Adam-Smith-MSFT commented on #5856
@mganeshphani Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:23] Adam-Smith-MSFT commented on #5857
@rizwaans Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:23] ggailey777 commented on #5755
I opened an item in our internal tracking database to track this request. @tdykstra we should also probably share the cron info with the Functions timer trigger topic.

[2018-03-15 23:24] Adam-Smith-MSFT commented on #5858
@AronT-TLV Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:32] mtillman commented on #5202
#in-process

[2018-03-15 23:33] dlepow commented on #5537
@ScottAzure @MicahMcKittrick-MSFT - Reviewing these SSH articles I find additional potentially stale content that should also be addressed. I activated doc work item [1068435](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1068435) for March iteration to freshen these articles and add clear statement of supported key formats. Accordingly, closing this issue.
#please-close

[2018-03-15 23:33] ChristianWolf42 commented on #5256
@JasonBSteele using event grid together with Service Bus is a more advanced feature. We assume that the reader already went at least through our quick starts at that point. Maybe we could redirect people to the quick start if they end up somehow directly in the event grid section without having dealt with Service bus before?
Please let me know what you think.

[2018-03-15 23:33] Adam-Smith-MSFT commented on #5860
@JCKodel Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:34] Adam-Smith-MSFT commented on #5862
@jeremyhagan Thank you for the valuable feedback,we are investigating the issue.

[2018-03-15 23:39] #5537 closed

[2018-03-15 23:41] #5260 closed

[2018-03-15 23:44] Adam-Smith-MSFT commented on #5312
@Nhoya Looks like the modification was merged.

[2018-03-15 23:44] #5312 closed

[2018-03-15 23:45] #5342 closed

[2018-03-15 23:46] JasonWHowell commented on #5678
#in-progress

[2018-03-15 23:53] #5642 closed

[2018-03-15 23:54] #5644 closed

[2018-03-15 23:55] #5648 closed

[2018-03-15 23:55] #5699 closed

[2018-03-15 23:57] #5752 closed

[2018-03-15 23:58] #5812 closed

[2018-03-15 23:59] mtillman commented on #5202
Working on adding this sample, which wasn't on the list. https://github.com/Azure-Samples/active-directory-dotnet-webapp-openidconnect-aspnetcore. @RolandLeFranc please let me know if this is what you were looking for.

[2018-03-16 00:02] #5678 closed

[2018-03-16 00:05] sethmanheim commented on #5857
@Adam-Smith-MSFT This is a request for technical support, can you please reassign? Thank you!

[2018-03-16 00:27] varma31 opened #5863 "Use consistent parameters in set-adfsrelyingpartytrust powershell command"
The usage of parameters for this command are not consistent, Earlier in the document it uses -TargetIdentifier and later it uses -targetname, It would be better to use one or other consistently

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72cdc251-618a-e84e-f40d-960b0ac69f99
* Version Independent ID: 8cbaba3c-e883-2c

[2018-03-16 00:59] RicardoPedrotti commented on #5832
Just found out that the issue was the
`configTime(0, 0, "pool.ntp.org", "time.nist.gov");`
function from the time.h library. My previous code was calling like this:
`configTime(timezone * 3600, dst, "pool.ntp.org", "time.nist.gov");`
I called it this way because of my country's timezone.
Don't know why, but it solved my problem.

I would be glad to know why it failed.

[2018-03-16 01:01] #5790 closed

[2018-03-16 01:14] ericbrunner commented on #5265
@ggailey777

1. Appendd ?clientId=default to Github Webhook endpoint config
2. Added a github comment
3. Got the comment in Az Function Github Webhook

So that is working

In the TEST Folder in Az Function (on the right side in Az Portal) it still doedn't and returns the result fron my 1st comment

[2018-03-16 01:22] tysonn commented on #5676
@rthorn17 + @tfitzmac - Hi, could you guys review this GitHub issue and respond to @derekschauland ?

[2018-03-16 01:39] tysonn commented on #5370
@cephalin @SyntaxC4 - We need a clearer description of the issue so this can be re-assigned correctly.

[2018-03-16 02:02] DavLiet opened #5864 ""Blob Storage Operations How-To" link does not work"
The Blue link at the end of the article titled: "Blob Storage Operations How-To" just links me to the exact same page I am on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70b058f1-02ac-ddcb-29a5-0b2fbb4b463c
* Version Independent ID: f07a589a-031c-7e35-2217-1d0fe4f2f940
* Content: [Azure Quickstart - Transfer object

[2018-03-16 02:30] mrbullwinkle commented on #5323
@Ramji-S It is always hard to pin down exactly how a preview feature will look if it eventually makes it to general availability. But I spoke to the team who owns the Smart Detection functionality, and brought up your concern. Their response was _we’re taking the feedback and will make sure that we honor the configuration of other smart detection rules, and if the checkbox isn’t checked for them i

[2018-03-16 02:36] dcbrown16 opened #5865 "Definition of "resource disk""
What is a "resource disk" as mentioned in passage 1 below? Is it the temporary drive as one would assume from passage 2? If so, please make the terms consistent.
Passage 1 ---
The Protected Instances calculation is based on the actual size of the virtual machine, which is the sum of all the data in the virtual machine--excluding the “resource disk.”
Passage 2 ---
During the backup process, Azure B

[2018-03-16 03:17] ggailey777 commented on #5265
@ericbrunner I opened this issue to track the test panel issue for GitHub Webhooks: https://github.com/Azure/azure-functions-ux/issues/2411

[2018-03-16 03:20] TheChadR opened #5866 "Configure tunnel type incorrect"
Hi there

The configure tunnel type step in this documentation is incorrect as within the point-to-site configuration of my virtual network gateway it does not allow me to select whether I can have SSTP or IKEv2.

Please confirm whether this option/screen still exists or whether this step is no longer required.

Thanks,
Chad

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-03-16 03:22] Juliako commented on #5811
Yes, currently, there is only Powell

[2018-03-16 03:23] ericbrunner commented on #5265
@ggailey777 Great

[2018-03-16 03:23] #5265 closed

[2018-03-16 03:23] Juliako commented on #5811
#please-close

[2018-03-16 04:04] rizwaans opened #5867 "Software engineer"
Is there a way to download an entire folder from the blob container rather downloading individual images. Please help.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Azure Quickstart - Upload, download, and l

[2018-03-16 04:10] yrvverma opened #5868 "Support for Local Account username in Azure B2C with simple names as as "joe", "john" and no domain name association"
Documentation refers to support of simple usernames for login - when using Azure B2C. But there are no specific steps mentioned on how to configure this. User creation - either via Graph API or via Azure portal screen - always ask for verifiable domain name to be attached to username.
Please confirm the steps required to have basic usernames - and not domain string.

[2018-03-16 04:23] MohitGargMSFT commented on #5824
@bibliothek Yes, the application key has no expiration in Azure AD B2C.

[2018-03-16 04:28] MohitGargMSFT commented on #5826
I have assigned this issue to the author to investigate and update as appropriate.

[2018-03-16 04:34] neilpeterson commented on #5778
@MSIH - I suspect a CLI fix will merge in soon to fix. In the interim, I've added these steps to the docs. This issue will auto close once these fixes have been merged in for publishing.

Thanks.

[2018-03-16 04:42] MohitGargMSFT commented on #5835
@lancebates I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-16 04:45] MohitGargMSFT commented on #5838
@GreggRevak I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-16 04:55] MohitGargMSFT commented on #5846
@KarstenKleinschmidt I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-16 05:04] MohitGargMSFT commented on #5850
@adelices I have assigned the issue to the author to investigate and update as appropriate.

[2018-03-16 05:12] jeevan08 commented on #5627
I am also facing same issue in iOS. In android SSO working with Intune (Company Portal application) & my application. However not working in iOS.

[2018-03-16 05:14] jeevan08 commented on #5627
My requirement is : If I login into Intune (Company portal application) & after that try to open my application (where azure login integrated) then my application should login automatically.

[2018-03-16 05:14] dcbrown16 opened #5869 "Managed disk pricing/number contradictions"
Per this doc:
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview
"Storage Type: Managed Disks offers 2 performance tiers: Premium (SSD-based) and Standard (HDD-based). The billing of a managed disk depends on which type of storage you have selected for the disk."

That seems to contradict the info on this page:
"How is pricing of premium managed disks different

[2018-03-16 05:19] stenpney opened #5870 "wikidot.com"
However, there are also some great cable television offerings produced by conventional cable television businesses, so before you purchase to be sure to carefully check exactly what your own funnel possibilities. wikidot.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efe1b860-8d24-1742-4f20-c3e75cacbba3
* Version I

[2018-03-16 05:20] stenpney commented on #5870
However, there are also some great cable television offerings produced by conventional cable television businesses, so before you purchase to be sure to carefully check exactly what your own funnel possibilities. http://adildnal1.bravesites.com/ docs.microsoft.com

[2018-03-16 05:20] dcbrown16 opened #5871 "Managed/Unmanaged OS Disks"
My understanding is that the "Use managed disks" setting in Step 3 of VM creation (Configure optional features) determines whether the OS disk and subsequent data disks are unmanaged or managed. It would be nice to have this behavior clearly documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 263abdef-3478-8261-

[2018-03-16 05:40] mimig1 commented on #5781
@SnehaGunda - Can you investigate this while I'm out? Thank you.

[2018-03-16 06:07] jeremyhagan opened #5872 "userCertificate required on AD Computer account for AAD Connect to sync"
In its default configuration from version 1.1.553 Azure AD Connect wont synchronise Computer objects unless the userCertificate attibute is populated. Is this attribute required for implementing hybrid domain join? Can I safely disable this Scoping Filter on the Out to AAD - Device Join SOAInAD rule in AAD Connect? This isn't documented above (or anywhere else that I can find).

---
#### Document

[2018-03-16 06:38] tamram commented on #5719
@vojta001 - Thank you for your feedback. We are in the process of addressing this, and the image should be updated within the next week.

[2018-03-16 07:07] mjstenbe commented on #5522
Would it be possible to tunnel RDP over SSH to VM running in devtestlab? I tried to do this but with no luck.

[2018-03-16 08:12] lzieba91 opened #5873 "azurestackadmin account after update deployment"
"Continue to use the azurestack\azurestackadmin account or the local administrator account to login, access and manage the host as needed."

This is not true. When applying this update in ADFS deployment, azurestack\azurestackadmin is removed from domain - it's not possible to use this account anymore after installing Azure Stack 1711.

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-16 08:18] HannahHsiao opened #5874 "Chinese wording error"
In "Frequently asked questions section", it shows "If you need to remove your credit or debit card ""after"" the 90-day retention period ends" in Chinese, which is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb8bd80-8dc3-94be-dc1e-7cd6428da63c
* Version Independent ID: 523e8db2-6428-6a51-b536-c3d531560aee
*

[2018-03-16 09:02] jonasvsaet opened #5875 "Batch file example wrong"
The example for the batch json file is formatted wrongly. The entities need to be modeled with
{
"entity" : "name of the entity",
"startPos": start index,
"endPos": end index
}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f2b28e-7d0d-a7e1-1d1d-5b2e42dcc69d
* Version Independent ID: d4127668-9ccd-616c-5f9d-98f5fea62

[2018-03-16 09:03] stevep4 commented on #5634
@mtillman I don't know how to remove the assignment to the author (I didn't assign it in the first place). However, my question does relate to the documentation, section "Configure single sign-on" covers KCD with preauthentication, and my question is if the same can be achieved without preauthentication. It's not strictly a "documentation issue", but it is still a valid and relating question, no?

[2018-03-16 09:38] genlin commented on #5874
@HannahHsiao Thanks for submitting the issue. I just checked the Chinese version:

如果需要在 90 天的保留期结束前删除信用卡或借记卡，请重新激活订阅。

I do not find the problem. Could you share more detail about the issue you found?

[2018-03-16 10:08] chaim1221 opened #5877 "Bloody awesome"
Thank you so much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a27b22e3-437d-04f2-a542-b20facee238b
* Version Independent ID: e4b43d9c-3dc8-3ed0-9b3e-2972e8788bea
* Content: [Azure Container Instances tutorial - Deploy app](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-tutorial-deplo

[2018-03-16 10:09] cephalin commented on #5370
@tysonn Coincidentally right about when this feedback was given the article was already changed to not using Cloud Shell anymore. Also, it looks like the steps for using `clouddrive` in Cloud Shell are already documented in [CLI](https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage) and [PowerShell](https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage-

[2018-03-16 10:17] codecadwallader commented on #5775
@tdykstra that's pretty close, so yeah that helps.  Thanks!

[2018-03-16 10:17] #5775 closed

[2018-03-16 10:48] royaza opened #5878 "Result View"
Could you please provide some information about the final result view. When I start monitoring D2C message, the output window just shows me these messages :

[IoTHubMonitor] Start monitoring D2C message for all devices ...
[IoTHubMonitor] Created partition receiver [1] for consumerGroup [$Default]
[IoTHubMonitor] Created partition receiver [0] for consumerGroup [$Default]
[IoTHubMonitor] Created p

[2018-03-16 10:52] valentijnscholten opened #5879 "Dead link"
In first paragraph: https://docs.microsoft.com/en-us/multi-factor-authentication-get-started.md#what-features-do-i-need

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56319b59-e0f6-f0a7-c853-99cebcb5711a
* Version Independent ID: d9e50b54-3eee-d0cf-5fcf-706e06b94fab
* Content: [Configure Azure Multi-Factor Authenticati

[2018-03-16 10:54] asifbd opened #5880 "Example has wrong cmdlet for stopping service"
The PS command example specifies Restart-ServiceFabricNode command but it should be Stop-ServiceFabricNode command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50673a4d-e103-7c88-19bf-20e435d060ba
* Version Independent ID: aabf5c96-5410-4235-60ab-b0f849cb1a3c
* Content: [Testability: Service communication](https://d

[2018-03-16 10:56] #5824 closed

[2018-03-16 11:15] valentijnscholten opened #5881 "Refer to Button "Add guest user""
There are now separate buttons for adding normal users and adding guest (b2b) users. If you don't use the "Add guest user", you'll get the "domain not verified" error.

As noticed by others: https://techcommunity.microsoft.com/t5/Azure-Active-Directory-B2B/Error-adding-B2B-accounts-since-GA/td-p/63571

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2018-03-16 11:16] valentijnscholten opened #5882 "Video quality only low -> unreadeable"
Hi,

Not sure what's wrong, but the videoplayer informs me only "Low" quality is avaialble for the videos, so the screens are not readeable.

Valentijn

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 751889da-f001-117f-d525-3b27d467edf2
* Version Independent ID: ce46adec-de86-7c34-45ba-d735cba76d2d
* Content: [How do Az

[2018-03-16 11:32] sebgod opened #5883 "Are SQL Server (not Azure SQL DB) connections always encrypted as well?"
In the prerequisites section, the resulting connection string for Azure SQL DB is shown:
[code]
But no equivalent for SQL Server is given.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e190390-dc83-246e-3e69-189f33d67ed7
* Version Independent ID: 66132130-9d94-fc33-7bc4-a54ee270efbc
* Content: [Add the Azure SQL Data

[2018-03-16 11:57] dominicbetts commented on #5592
@handcyclist - thanks for getting in touch. We have a work item on our backlog to update the three C SDK articles and bring them into line with the current contents in the C SDK repository. In the meantime, if you have any questions about the current set of samples in the C SDK repository, feel free to open an issue here: https://github.com/Azure/azure-iot-sdk-c/issues
Thanks, again,
Dominic

[2018-03-16 11:58] girishgouda commented on #5348
I am getting an error using the above template " The type property is invalid." for the line "type": "extensions",

[2018-03-16 12:02] girishgouda opened #5884 "Unable to run the Resource for VM mentioned in the document"
The below configuration does not work .Please use this and run to replicate the issue .Kindly resolve this asap

{
      "name": "Microsoft.Powershell.DSC",
      "type": "extensions",
      "location": "[resourceGroup().location]",
      "apiVersion": "2015-06-15",
      "dependsOn": [
        "[concat('Microsoft.Compute/virtualMachines/', variables('vmName'))]"
      ],
      "properties": {

[2018-03-16 12:04] cmh904 commented on #5496
Bueller?

[2018-03-16 12:15] girishgouda opened #5885 "The Examples does not work.Please fix it"
I used the below resource

{
      "name": "Microsoft.Powershell.DSC",
      "type": "extensions",
      "location": "[resourceGroup().location]",
      "apiVersion": "2015-06-15",
      "dependsOn": [
        "[concat('Microsoft.Compute/virtualMachines/', variables('vmName'))]"
      ],
      "properties": {
        "publisher": "Microsoft.Powershell",
        "type": "DSC",
        "typeHandlerV

[2018-03-16 12:27] gpetrousov opened #5886 "Find unattached NICs"
Story:
During a cleanup process that I was performing on our Azure infrastructure, I found a useful article on how to delete unattached disk https://docs.microsoft.com/en-us/azure/virtual-machines/linux/find-unattached-disks

Issue:
Also, during this process, I discovered several unattached NICs which are the remainders of deleted VMs. Unfortunately, I did not find a similar article to the above t

[2018-03-16 12:40] JozoSlejko opened #5887 ""Azure Scheduler jobs" link"
"Azure Scheduler jobs" link at the start of the document isn't pointing anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c1407af-81a5-52e7-a800-79d57704a876
* Version Independent ID: 5ec30406-731f-6198-99a1-9d4ee5c67475
* Content: [Develop and deploy WebJobs using Visual Studio - Azure](https://docs.microsoft.

[2018-03-16 13:09] hanislovingit opened #5888 "Wrong link for Queue Error Codes"
Under the Exceptions and error codes section, the link for Queue Error Codes is wrong. It should be https://docs.microsoft.com/en-us/rest/api/storageservices/queue-service-error-codes. Not a big deal. Most people would probably figure it out quickly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5063120f-d48e-6a76-8e6

[2018-03-16 13:27] v-geberr commented on #5875
@jonasvsaet I appreciate the time and effort you have taken to make this contribution to the documentation.

This particular article does not list expected prediction values of the entities of the utterance so the entities array is empty. This is done on purpose. An empty entity array is valid. Is your concern that the test should show how to use entity values for prediction?

[2018-03-16 14:18] salsummo commented on #5624
It's still unclear on how to run parted on the root file system on a linux VM.  I cannot umount it.  I launch the server with the 64GB prem SSD.  The server still shows 30GB on the df.  If I try to run the resize2fs I get the follow error message.
resize2fs: Bad magic number in super-block while trying to open /dev/sda2
Couldn't find valid filesystem superblock.

[2018-03-16 14:22] HarvestingClouds opened #5890 "What are the Steps for authenticating to Log Analytics workspace which is not in same subscription"
I need to send the Azure Automation jobs data to a Log Analytics workspace, which is in a different subscription. The tenant is same for both the subscriptions. What are the steps for configuring this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a52eb74e-6880-eb97-8cfd-c7c88feb64d7
* Version Independent ID: 612bb48d

[2018-03-16 14:24] tsahi commented on #5831
The string "application" or "insight" doesn't appear anywhere in either of the documents, so I don't know why are you saying that.

[2018-03-16 14:31] bajorgensen opened #5891 "Documentation error"
The "Buy SSL cert" documentation states the following, but the FAQ linked at the end of the article states the opposite

Warning
App Service Certificates can only be used by other App Services within the same subscription.

From the FAQ:

"We’ve gotten a lot of feedback from customers asking for this ability, so we now allow you to export your certificate as a PFX file so that you can use it acros

[2018-03-16 14:36] HarvestingClouds opened #5892 "Can't Start a Runbook Job after following the steps in this document"
I followed the steps in this document. Now I can't submit a Runbook job via my Automation Account. I have tried lot of things but nothing seem to work. As soon as I try to trigger a new job by clicking on "Start" button in the Runbook I get a red popup saying "The runbook could not be submitted" and then the popup vanishes quickly. This was working before I ran the PowerShell cmdlet Set-AzureRmDia

[2018-03-16 14:44] mkrain opened #5893 "Special Characters In SQL Server Connection String"
In the "Copy Data Portal" wizard I'm getting an error, "It is failed to decrypt the credential ...".  It's not clear what and why this is.  However, when I use the "Microsoft Integration Runtime Configuration Manager Preview" application I get a slightly different error: "sequence: \s. Path 'properties.typeProperties.connectionString', line 5, position 88."  For me, this is due to a special charac

[2018-03-16 14:49] aditya365 opened #5894 "Why only .NET core was mentioned?"
Why only .NET core mentioned? Earlier we used to have .NET code. Can it be mentioned in the documentation? this helps people like me who still work in .NET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60e56e69-1c44-2056-ad5f-319535e4b525
* Version Independent ID: 49fa6098-0b8e-ebf5-efe7-f50f3604e325
* Content: [Azure

[2018-03-16 15:04] girishgouda opened #5896 "The samples provided does not work"
The samples provided does not work. The first sample fails as invalid tag for ""type": "extensions"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92491b1b-f7e2-c4d2-f136-9d7afcc1d186
* Version Independent ID: a7b77b0e-ba18-9a49-639e-7e9a99cd4017
* Content: [Desired State Configuration extension with Azure Resource Man

[2018-03-16 15:05] sid326 commented on #5693
@MohitGargMSFT
Thanks for the quick update. It's not related to any of the documents, it's related to the functionality. Can you please help me to post this question on the right forum.Please share proper URL to report this. The URL provided by you is not working(404 page not found).
And sorry for the trouble.....

[2018-03-16 15:05] girishgouda commented on #5896
Tried with the this configuration

{
      "name": "Microsoft.Powershell.DSC",
      "type": "extensions",
      "location": "[resourceGroup().location]",
      "apiVersion": "2015-06-15",
      "dependsOn": [
        "[concat('Microsoft.Compute/virtualMachines/', variables('vmName'))]"
      ],
      "properties": {
        "publisher": "Microsoft.Powershell",
        "type": "DSC",
        "type

[2018-03-16 15:06] Mike-Ubezzi-MSFT commented on #5624
@salsummo The 'parted' utility may not be supported as a means to manipulate partition tables for a Linux VM running in Azure. I will find out.

[2018-03-16 15:09] #5778 closed

[2018-03-16 15:10] ecfan commented on #5883
@sebgod Hi Sebastian, thanks for the feedback! Asking @thersapalmer, @schabungbam, and @kevinlam1 for help answering.

[2018-03-16 15:20] chriscornwall opened #5897 "Diagram backwards"
The diagram in the last section, "Management Solutions" is backwards - you have Log Search, Dashboard and Alerts under Automation, and Runbook under Log Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71382237-dfbb-59c5-ace0-2d7986ab336d
* Version Independent ID: aeff90c2-c348-d83d-19f5-29f2c318599a
* Content

[2018-03-16 15:30] Mike-Ubezzi-MSFT commented on #5624
@salsummo The parted utility is used in the instructions above but only after the VM has been deallocated. All commands are run from the Azure CLI and not from within the VM: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/expand-disks-nodejs#expand-os-disk

[2018-03-16 15:40] mtillman commented on #5634
I apologize Steve. I meant to address my comments to @azure-cxp-triage, so that they would reroute your request. You question is a good one about an undocumented scenario. The best way to get an answer to go through our support options. See https://docs.microsoft.com/en-us/azure/active-directory/active-directory-troubleshooting-support-howto.

[2018-03-16 15:44] mtillman commented on #5202
Check the document for the new sample later today (after 11 am PDT).

[2018-03-16 16:05] salsummo commented on #5624
Hi Mike, thanks for the quick response.
I’m using CLI 2.0 but even in the link below for CLI 1.0, after deallocating and setting the new disk size, the VM is started and you should see the new disk size when you run the linux command df (step 4).

In the CLI 2.0 link below, after the az commands are run (which I did), I cannot do step 2 in the “Expand disk partition and filesystem” section.  Note

[2018-03-16 16:05] tfitzmac commented on #5676
@derekschauland - thanks for this suggestion. I am thinking it would work to add more description to the article you referenced, rather than adding a new article. Does that sound sufficient? Like @amanarneja stated, the goal is to help organizations that have multiple subscriptions. You can apply a condition at the management group level and know that it will be applied to the subscription in that

[2018-03-16 16:07] robfinney opened #5898 "Updates to the App Insights doesn't reflect the screenshots and process"
I've been trying to follow the article for implementing this into a SharePoint environment. Unfortunately the screenshots and guidelines are no longer relevant and reflect the options in the App Insights solution...

"Add our script to the pages" - the screenshot doesn't reflect the current portal view. You have to select the "Getting Started" option under the configure section to get to the data.

[2018-03-16 16:09] derekschauland commented on #5676
I think that might be sufficient.... just trying to get a solid understanding of why to use Management Groups to supplant Resource Group / IAM / AD group management and/or how to use them as a supplement

________________________________
From: Tom FitzMacken <notifications@github.com>
Sent: Friday, March 16, 2018 11:05:57 AM
To: MicrosoftDocs/azure-docs
Cc: Derek Schauland; Mention
Subject: Re: [M

[2018-03-16 16:12] jtuliani opened #5899 "What about "source": "action" instead of "field": "<whatever>" ?"
In various sources (for example, https://docs.microsoft.com/en-us/cli/azure/policy/definition?view=azure-cli-latest), I see policy definition examples that use the line "source": "action" instead of a "field" in the policy rule.

The ability to use "source": "action", assuming it works, is not documented on this page. Shouldn't it be?

---
#### Document Details

⚠ *Do not edit this section. It is

[2018-03-16 16:14] davidmu1 commented on #5385
Fixed.

#please-close

[2018-03-16 16:19] mmacy commented on #5856
Hi @mganeshphani, thanks for your input. Can you provide a bit more information about what you'd like added? For example, are you suggesting that you'd like to see a link to the [Service Fabric containers tutorial](https://docs.microsoft.com/azure/service-fabric/service-fabric-tutorial-create-container-images) in the **Next steps** section?

[2018-03-16 16:22] MicahMcKittrick-MSFT commented on #5831
@tsahi sorry about that! I was referring to another doc that had to do with log files and I must have gotten the two docs confused. Apologies.

@ggailey777 can you provide an answer on this one?

[2018-03-16 16:24] MicahMcKittrick-MSFT commented on #5348
@timlt can you take a look into this? @mgreenegit is listed as the author but appears to no longer be contributing here.

[2018-03-16 16:26] Mike-Ubezzi-MSFT commented on #5624
Use 'fdisk' instead of 'parted'.

[2018-03-16 16:31] saulcruz opened #5900 "Is it possible to limit the CPU usage for a self-hosted integration runtime from azure?"
Could not find this in the documentation. We had seen that for long queries the self-hosted integration runtime may utilize 100% of the CPU, killing other processes and applications running in the same node. Is it possible to set a cap or limit to CPU utilization using the data factory SDKs or GUI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2018-03-16 16:33] neilpeterson commented on #5854
@scottman1987 - I am happy to address this issue. Would you mind re-stating your suggestion?

[2018-03-16 16:38] RolandLeFranc commented on #5202
Yes, this is what I wanted. Thank you.

[2018-03-16 16:39] littlecapa63 opened #5901 "Hint"
In case you receive an error during the push (unauthorized: authentication required), you will have to log in again (az acr login --name <acrName>)

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

* ID: 56e9075f-9310-5e1f-72d4-a5bd061cdb1b
* Version Independent ID: 8afbfa3d-1cc3-5326-502a-291f7

[2018-03-16 16:43] daviburg commented on #5261
This issue no longer appears. The blade in Azure portal has changed. Verified in both IE and Chrome.

[2018-03-16 16:43] #5261 closed

[2018-03-16 16:47] bandersmsft commented on #5899
#in-process
azure-policy

[2018-03-16 16:47] yzhong94 commented on #5592
@handcyclist We went through some housekeeping with our samples to reduce duplicate code.  Please take a look at  iothub_ll_telemetry.

[2018-03-16 16:47] MicahMcKittrick-MSFT commented on #5522
@douge can you help with this? Seems @craigcaseyMSFT is no longer on this product

[2018-03-16 16:54] #5089 closed

[2018-03-16 17:05] Mike-Ubezzi-MSFT commented on #5863
@varma31 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:06] salsummo commented on #5624
That finally got me on the right road.  After the fdisk to delete and create the new partition, had to run “xfs_growfs”.

Thank you for the assistance!

From: Mike Ubezzi [mailto:notifications@github.com]
Sent: Friday, March 16, 2018 12:26 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Summo, Sal (NYC-MWM) <Sal.Summo@mccann.com>; Mention <mention@noreply.github.com>
Subject: R

[2018-03-16 17:06] cephalin commented on #5370
@amanarneja This issue is no longer an issue with this article. #please-close or assign it to a Cloud Shell writer to follow up.

[2018-03-16 17:07] HannahHsiao commented on #5874
Hi GenLin, thank you for checking. I shall be more specific, it's Traditional Chinese version.

[2018-03-16 17:07] Mike-Ubezzi-MSFT commented on #5864
@DavLiet Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:11] Mike-Ubezzi-MSFT commented on #5865
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:12] Mike-Ubezzi-MSFT commented on #5866
@TheChadR Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:14] Mike-Ubezzi-MSFT commented on #5867
@rizwaans Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:16] Mike-Ubezzi-MSFT commented on #5868
@yrvverma Can you provide the document link you are referring to? Thank you!

[2018-03-16 17:16] MohitGargMSFT commented on #5693
@sid326 Apologies for the bad forum URL. Please use below link and let me know if you still face issue.

[https://social.msdn.microsoft.com/Forums/azure/en-US/newthread?category=windowsazureplatform&prof=required](url)

[2018-03-16 17:17] amanarneja commented on #5370
@cephalin Thanks for confirming.
@karl-howard I am closing this issue based on the document update. Can you also add the feedback around clouddrive and powershell cloud shell @  https://feedback.azure.com/forums/598699-azure-cloud-shell

[2018-03-16 17:17] #5370 closed

[2018-03-16 17:18] neilpeterson commented on #5858
@AronT-TLV - ok, yep I see the updated output. I will update the doc.

Currently AKS does not support RBAC. We will address the warning, and update with RBAC guidance once available.

Once the updates have merged, this issue will auto-close.

[2018-03-16 17:18] neilpeterson commented on #5858
#in-process

[2018-03-16 17:18] xela30 opened #5902 "MaxDiskQuotaInMB for on-premise cluster?"
How to limit the size of FabricLogRoot folder in on-premise cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6005a24c-118d-6c56-5525-4616e9102fe0
* Version Independent ID: 429e2d0f-d5da-8972-2890-52081eee3330
* Content: [Change Azure Service Fabric cluster settings](https://docs.microsoft.com/en-us/azure/service

[2018-03-16 17:19] rolyon commented on #5654
Thanks, I'll take a look.
#in-process

[2018-03-16 17:20] Mike-Ubezzi-MSFT commented on #5871
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:21] Mike-Ubezzi-MSFT commented on #5869
@dcbrown16 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:22] Mike-Ubezzi-MSFT commented on #5872
@jeremyhagan Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:24] Mike-Ubezzi-MSFT commented on #5873
@lzieba91 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:32] Mike-Ubezzi-MSFT commented on #5877
@chaim1221 Thank you!

[2018-03-16 17:35] Mike-Ubezzi-MSFT commented on #5878
@royaza Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:37] Mike-Ubezzi-MSFT commented on #5879
@valentijnscholten Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:39] Mike-Ubezzi-MSFT commented on #5880
@asifbd Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:41] Mike-Ubezzi-MSFT commented on #5881
@valentijnscholten Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:41] mike-urnun-msft commented on #5536
@dajean0104 We will now proceed to close this thread. If there are further questions regarding this matter,
please reopen it and we will gladly continue the discussion.

[2018-03-16 17:41] #5536 closed

[2018-03-16 17:43] Mike-Ubezzi-MSFT commented on #5882
@valentijnscholten Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:47] SnehaGunda commented on #5781
#in-process

[2018-03-16 17:48] Mike-Ubezzi-MSFT commented on #5884
@girishgouda Can you please provide a specific document link to which you are referring? Thank you.

[2018-03-16 17:53] Mike-Ubezzi-MSFT commented on #5886
@gpetrousov Thanks for the feedback! We are currently looking into what you have suggested.

[2018-03-16 17:55] Mike-Ubezzi-MSFT commented on #5887
@JozoSlejko Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:56] mganeshphani commented on #5856
Correct.

On Fri, Mar 16, 2018 at 11:20 AM, Marsh Macy <notifications@github.com>
wrote:

--
Ganesh Phani Majeti.

[2018-03-16 17:57] Mike-Ubezzi-MSFT commented on #5888
@hanislovingit  Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 17:58] Mike-Ubezzi-MSFT commented on #5890
@HarvestingClouds Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 18:03] Ayanmullick commented on #5736
https://feedback.azure.com/forums/216843-virtual-machines/suggestions/33658453-windows-defender-advanced-threat-protection-extens

Is there a way to link this GitHub issue to that idea. So this closes automatically when that is closed?

[2018-03-16 18:03] jakedenyer-s24 commented on #5726
https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-protect-backend-with-aad

330085ae-dcf6-e930-86a8-0e4a60ab1314

[2018-03-16 18:04] bradsev commented on #5278
So adding the -n in the following 2 cmds takes care of the issue?

    sudo /anaconda/bin/pip install -n <package> #for Python 2.7 environment
    sudo /anaconda/envs/py35/bin/pip install -n <package> # for Python 3.5 environment

[2018-03-16 18:08] spottedmahn opened #5904 "Link to user journey viewer"
In the Note:

Can you a link be added to this tool?  Where is the master copy the source?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdca08d8-4a1d-f11c-9e3e-6627ea0f18bc
* Version Independent ID: 6bb42537-50b2-2af1-fdf7-86b76ed9afe6
* Content: [Application Insights to troubleshoot Custom Policies - Azure AD B2C](ht

[2018-03-16 18:09] spottedmahn commented on #5904
Is this the app [Azure-Samples/active-directory-b2c-advanced-policies/tree/master/UserJourneyRecorder](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/UserJourneyRecorder)?

[2018-03-16 18:14] Mike-Ubezzi-MSFT commented on #5891
@bajorgensen Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 18:19] mtillman commented on #5402
@laultman Thanks for your feedback. We're working on updating this page with revised and reworked samples. We have this work on our back log. Look for an update coming in mid to late April.

[2018-03-16 18:19] mtillman commented on #5402
#please-close

[2018-03-16 18:22] karl-howard commented on #5370
Thank you @amanarneja the improved documentation resolves this and I'll let the cloud shell team know.

[2018-03-16 18:23] spottedmahn commented on #5904
Nope, it must be this one: [Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/WingTipUserJourneyPlayerWebApplication](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/WingTipUserJourneyPlayerWebApplication)

![image](https://user-images.githubusercontent.com/14079228/37537927-7b3b0b10-2925-11e8-86e9-5b39f8a09

[2018-03-16 18:26] #5624 closed

[2018-03-16 18:26] spottedmahn commented on #5904
@chrispadgettlivecom

[2018-03-16 18:28] Rachitgupta1994 commented on #5147
thanks. The quality of support recieved is very good. Earlier, it seemed that no one cared about what we commented. But now it's feeling that MS is taking our words seriously.

[2018-03-16 18:40] MicahMcKittrick-MSFT commented on #5869
@dcbrown16 good findings! I have assigned this issue to the content author to review and update appropriately.

@iainfoulds  please take a look at this.

[2018-03-16 18:42] MicahMcKittrick-MSFT commented on #5871
@dcbrown16 I have assigned this issue to the content author to review and update as needed.

[2018-03-16 18:44] MicahMcKittrick-MSFT commented on #5880
@asifbd great catch! I will submit a fix and when it goes live this issue with auto-close

[2018-03-16 18:50] MicahMcKittrick-MSFT commented on #5886
@gpetrousov I think this is a great idea. I also took a look at your doc and it is very well written. I have assigned to this to @tysonn to present it to the content team

[2018-03-16 19:07] #5880 closed

[2018-03-16 19:07] benofben opened #5907 "node-count argument doesn't exist"
From my cli:

Bens-MacBook:~ ben$ az aks create --resource-group myResourceGroup --name myAKSCluster --node-count 1 --generate-ssh-keys
az: error: unrecognized arguments: --node-count 1
usage: az [-h] [--output {json,tsv,table,jsonc}] [--verbose] [--debug]
          [--query JMESPATH]
          {aks} ...
Bens-MacBook:~ ben$ az --version
azure-cli (2.0.20)

---
#### Document Details

⚠ *Do not edit

[2018-03-16 19:25] Mike-Ubezzi-MSFT commented on #5892
@HarvestingClouds Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:29] Mike-Ubezzi-MSFT commented on #5893
@mkrain Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:30] neilpeterson commented on #5907
@benofben - this argument name was changed from `--agent-count` to `--node-count` in version `2.0.21` of the cli.

https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#november-14-2017

Here is partial help output from my system which is running `2.0.27`.

[code]

Can you update the CLI version - [CLI docs](https://docs.microsoft.com/en-us/cli/azure/install-azur

[2018-03-16 19:33] Mike-Ubezzi-MSFT commented on #5894
@aditya365 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:41] benofben commented on #5907
Ok.  I just ran an update on my mac right before running that command and it pulled down 2.0.20.  It seems like you'd want to deprecate the old flag gracefully or something rather than leaving users in a state where the doc doesn't match the available CLI.

________________________________
From: Neil Peterson <notifications@github.com>
Sent: Friday, March 16, 2018 12:30 PM
To: MicrosoftDocs/azure-

[2018-03-16 19:42] Mike-Ubezzi-MSFT commented on #5897
Adding a screen capture of the doc issue.
![screenshot 37](https://user-images.githubusercontent.com/37126106/37541319-6b9acbae-2917-11e8-9c2c-556a45450eee.png)

[2018-03-16 19:42] benofben commented on #5907
Like so:
brew update && brew upgrade azure-cli

From here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest

[2018-03-16 19:43] bwren commented on #5897
@chriscornwall How did no one ever spot that before?  Thanks!

[2018-03-16 19:44] benofben commented on #5907
Ewww.  Actually my system might be screwed up.  Investigating...

Bens-MacBook:~ ben$ brew update && brew upgrade azure-cli
Already up-to-date.
Error: azure-cli 2.0.29 already installed
Bens-MacBook:~ ben$

[2018-03-16 19:44] Mike-Ubezzi-MSFT commented on #5898
@robfinney Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:46] Mike-Ubezzi-MSFT commented on #5899
@jtuliani Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:51] benofben commented on #5907
Doh.  My bad.  very screwed up ~/.bash_profile.  Closing....

[2018-03-16 19:51] #5907 closed

[2018-03-16 19:54] Mike-Ubezzi-MSFT commented on #5900
@saulcruz Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 19:58] MicahMcKittrick-MSFT commented on #5896
@girishgouda I have assigned this to the content author to verify if there are any issues with that specific template.

@mgreenegit  can you please take a look at the template in question? I am a bit more versed in DSC Extensions via PowerShell scripts

[2018-03-16 19:59] MicahMcKittrick-MSFT commented on #5884
Duplicate of #5896

[2018-03-16 19:59] #5884 closed

[2018-03-16 20:03] Mike-Ubezzi-MSFT commented on #5901
@littlecapa63 Thanks for the feedback! Are you suggesting that the documentation be enhanced to let the user know what to do when the "unauthorized: authentication required" info message is returned?

[2018-03-16 20:06] Mike-Ubezzi-MSFT commented on #5902
@xela30 Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-16 20:08] chriscornwall commented on #5897
I'm not sure if this is any use for you, but here is a corrected PNG version:

![overview-solution](https://user-images.githubusercontent.com/37449121/37542325-ba6389c2-2955-11e8-8164-671ff054ace6.png)

[2018-03-16 20:08] #5858 closed

[2018-03-16 20:12] MicahMcKittrick-MSFT commented on #5902
@xela30 can you provide some more background about why you are looking to do this? Are you finding the folder is taking up to much space? Can you provide an example?

[2018-03-16 20:16] kgremban commented on #5700
hi @FabioEnne can you provide more information about your issue? First, by the remote monitoring dashboard do you mean the "IoT Edge" blade of your IoT hub in the Azure portal? Second, are you saying that the runtime modules ($edgeAgent and $edgeHub) show up as running, and only your custom module appears as offline? Perhaps you can include a screenshot of what you see.

[2018-03-16 20:19] Mike-Ubezzi-MSFT commented on #5742
Trying this again, as my edit did not seem to stick.

[2018-03-16 20:37] Mike-Ubezzi-MSFT commented on #5885
Duplicate of #5896

[2018-03-16 20:38] #5885 closed

[2018-03-16 20:55] MarkusVi commented on #5838
Hi @GreggRevak, thanks for pointing this out. I have staged an update to fix this.

Thanks,
Markus

#please-close

[2018-03-16 21:01] #5676 closed

[2018-03-16 21:01] #5855 closed

[2018-03-16 21:01] #5838 closed

[2018-03-16 21:06] #5665 closed

[2018-03-16 21:07] pemj commented on #5665
I was talking with Arun from the IoTHub team, and he seemed to indicate that the feedback message did include the time that the original C2D message was enqueued. So, there might be some dialogue that needs to happen there before this is resolved, just so everyone's on the same page?

[2018-03-16 21:07] #5402 closed

[2018-03-16 21:07] #5385 closed

[2018-03-16 21:11] awesomes007 opened #5908 "Possible to import XML doc of Azure agent IPs?"
We need to white-list the Azure IPs used for running performance tests against our web app.  We cannot find a definitive answer on which IPs these are.  So, my though was to import the Azure IP data ranges XML.  Thoughts?
https://www.microsoft.com/en-us/download/confirmation.aspx?id=41653

Joey

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2018-03-16 21:12] bwren commented on #5897
@chriscornwall Thanks, but I already submitted the fix.

[2018-03-16 21:14] pjirsa opened #5909 "demo broken"
following the steps of the tutorial results in "service unavailable" when browsing to my site

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd893b3c-4c5c-22af-c74a-31f0a2e48b89
* Version Independent ID: 651610b8-f5c4-e22a-271b-bdbf5e6b39ed
* Content: [Deploy a Docker/Go app in Azure Web App for Containers](https://doc

[2018-03-16 21:15] roygara commented on #5864
@DavLiet thanks for letting us know! The article it references no longer exists so we have changed it so that the quickstart will reference and link to the dev center for PHP. These changes are not yet live but will hopefully be live soon.

Thanks again!

[2018-03-16 21:19] bwren commented on #5897
@Mike-Ubezzi-MSFT Please pardon my ignorance of the new process, but not sure how I close this.  #sign-off like with a doc submission?

[2018-03-16 21:20] #5909 closed

[2018-03-16 21:33] Mike-Ubezzi-MSFT commented on #5897
The entire process for content owners is [here](https://review.docs.microsoft.com/en-us/help/contribute/contribute-customer-feedback-azure-authors-process?branch=master)

To answer your question specifically, after you make the doc edits in the GitHub content repository, you use hashtag sign-off in the Pull Request (as a comment) after it has passed all checks and validation and you would use hash

[2018-03-16 21:35] MohitGargMSFT commented on #5693
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-16 21:35] #5693 closed

[2018-03-16 21:35] MohitGargMSFT commented on #5698
We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-16 21:35] #5698 closed

[2018-03-16 21:39] MohitGargMSFT commented on #5724
We will now proceed to close this thread. Please open a new GitHub issue with reference to related document or in each document there is an option to open a GitHub issue, please use that to assist with your query accordingly.

[2018-03-16 21:39] #5724 closed

[2018-03-16 21:45] bospoort opened #5910 "404 on producer"
The producer git page is gone:  https://github.com/hdinsight/eventhubs-sample-event-producer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 254228b6-1851-3e07-669d-806bc1ff6e92
* Version Independent ID: bce6dfc7-2825-b1f3-cca6-f7f29b9c0500
* Content: [Use Apache Spark structured streaming with Event Hubs in Azure HDIn

[2018-03-16 22:05] MohitGargMSFT commented on #5726
@jakedenyer-s24 I am able to make it work fine with App ID URL.

Please open a MSDN forum post by clicking 'Ask a question' using below URL and post the forum post link here. I will assist you with your query in MSDN forum.

[https://social.msdn.microsoft.com/Forums/en-US/newthread?prof=required](url)

[2018-03-16 22:07] RajuKanumuri opened #5911 "Event Hubs Supported Version for this Documentation"
This Documentation works for the version 0.10.0 of azure-eventhubs and not for the latest 1.0.0 version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61059dbc-d075-6af1-98f6-7fe02f9e0440
* Version Independent ID: a15c8888-4b49-f9b8-3cee-30d5765c49fa
* Content: [Send events to Azure Event Hubs using Java](https://docs

[2018-03-16 22:09] MarkusVi commented on #5517
Hi @FrederikLeed, thanks for your feedback. I have created a backlog item to track this.

#please-close

[2018-03-16 22:10] MohitGargMSFT commented on #5820
@IanYates83 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2018-03-16 22:10] #5820 closed

[2018-03-16 22:19] #5742 closed

[2018-03-16 22:29] ejarvi commented on #5547
PR merged, waiting for publish...

[2018-03-16 22:30] Mike-Ubezzi-MSFT commented on #5891
**Issue Summary**

The first link contains the warning statement where as the FAQ link states otherwise.

https://docs.microsoft.com/en-us/azure/app-service/web-sites-purchase-ssl-web-site
![screenshot 40](https://user-images.githubusercontent.com/37126106/37547404-ab3b45d8-292e-11e8-8d63-571697a38724.png)

https://blogs.msdn.microsoft.com/appserviceteam/2017/07/24/faq-app-service-certificates/
![

[2018-03-16 22:32] BryanTrach-MSFT commented on #5883
@sebgod I believe you are looking for the SQL Server connection string format. If so, please see the below.

[code]
Source: https://www.connectionstrings.com/sql-server/

We'll close out this thread. If we misunderstood your question or you have further questions, please reopen the thread and reply back and we'll be happy to take a further look.

[2018-03-16 22:32] #5883 closed

[2018-03-16 23:09] Mike-Ubezzi-MSFT commented on #5908
@awesomes007 Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-16 23:11] Mike-Ubezzi-MSFT commented on #5911
@RajuKanumuri Thank you very much for your feedback. We will investigate your inquiry and let you know what we find.

[2018-03-16 23:12] Mike-Ubezzi-MSFT commented on #5910
@bospoort Thank you very much for your feedback. We will investigate your inquiry and let you know what we find.

[2018-03-16 23:17] mmacy commented on #5856
Thanks for the confirmation, will get this added.

#in-process

[2018-03-16 23:19] #5517 closed

[2018-03-16 23:26] #5202 closed

[2018-03-16 23:27] tamram commented on #5719
@vojta001 - The image has been updated.

#please-close

[2018-03-16 23:31] #5629 closed

[2018-03-16 23:32] #5719 closed

[2018-03-16 23:42] BryanTrach-MSFT commented on #5661
@mjanulaitis We were unable to reproduce the error that you are receiving. Our interface project compiled without any issues using VS2017 (15.6.2) and Service Fabric SDK 3.0.472.

Assigning this to the author for additional feedback.

[2018-03-16 23:56] barbkess commented on #5705
@jeroenwo @Ckarst Thanks for sending.  I am submitting a Pull Request that fixes these links.

[2018-03-17 00:08] MohitGargMSFT commented on #5881
@valentijnscholten Yes you are correct. However, the method mentioned in the document also works. When we click on invite, under Enterprise application -> select Application -> User and Groups -> Add User, we can add an guest email address. The same can be done through New Guest user option under Users option of Manage section in AAD Tenant home page. Thanks.

[2018-03-17 00:13] SyntaxC4 commented on #5703
@MicrosoftDocs/azure-cxp-triage Can you please add me to the list of assignees for this issue?

[2018-03-17 00:20] MohitGargMSFT commented on #5904
@spottedmahn Please note that the link is already provide in the document -

"The version of the viewer that reads events from Application Insights is located [here](https://github.com/Azure-Samples/active-directory-b2c-advanced-policies/tree/master/wingtipgamesb2c/src/WingTipUserJourneyPlayerWebApplication)"

[2018-03-17 00:47] BryanTrach-MSFT commented on #5908
@awesomes007 If you are looking to white-list services for your app, we would suggest using the XML document that you shared to white-list any regions that you have services in.

Please note this document is updated frequently with new IP addresses. We typically give two weeks notice of new IPs before they are actually put in service.

We will now proceed to close this thread. If you have further

[2018-03-17 00:47] #5908 closed

[2018-03-17 00:51] BryanTrach-MSFT commented on #5680
@ajayaldo Since we provided you feedback externally regarding your move process, we will now proceed to close this thread. If you have further questions regarding this matter, please reopen the thread and we would be happy to continue the discussion.

[2018-03-17 00:51] #5680 closed

[2018-03-17 01:33] #5842 closed

[2018-03-17 01:41] #5814 closed

[2018-03-17 01:47] yrvverma commented on #5868
Hi Mike, Please check this link
https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-faqs

This is the text in the link that is causing confusion across multiple implementations.
"We also support arbitrary user names as local accounts (for example, joe, bob, sarah, or jim). You can choose one of these two local account types by configuring Azure AD B2C in the Azure port

[2018-03-17 03:02] mcbarre opened #5918 "Mac OSX Connection String Environment Variable"
To be able to read the Connection String Environment Variable I have to add into:
 ~/.bash_profile
this line:
export storageconnectionstring="myOwnStorageConnectionString"
And to read it successfully I have to use:
string environmentVariableValue = Environment.GetEnvironmentVariable(environmentVariable,  EnvironmentVariableTarget.Process);
or
string environmentVariableValue = Environment.GetEnviro

[2018-03-17 03:12] barbkess commented on #5407
@yaroman : Thanks for your comments.  The sys.databases catalog view is a SQL Server pass through catalog view and only has state information for SQL Server or SQL Database.  You can't check the state of the data warehouse from within T-SQL.  To check the state you need to use a PowerShell cmdlet or an API.  I'm checking in a fix to the quickstart to replace the Check Database State section with w

[2018-03-17 03:23] WootJay opened #5919 "Outdated Azure SLA link"
The Azure SLA link under https://docs.microsoft.com/en-us/azure/virtual-machines/windows/overview#manage-availability, targeted to outdated Azure VM SLA - https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_0/

The latest Azure VM SLA = https://azure.microsoft.com/en-us/support/legal/sla/virtual-machines/v1_6/

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2018-03-17 04:13] kabala123 opened #5921 "Great work"
The request to replace the screenshots as per the latest dynamics 365 release is done so quickly. Great work team. Awesome response. 😊😊

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92313471-ef48-c68c-5d4a-9a9923376302
* Version Independent ID: 021f2639-563f-2242-b6c8-ce7c8120b1f6
* Content: [Microsoft Dynamics CRM an

[2018-03-17 04:25] bwren commented on #5897
#please-close

[2018-03-17 08:20] nikmd23 commented on #5633
Give me some time to pull together a list.

Once I have it, is there an existing doc that's proposed for where it should live - or a new doc?

[2018-03-17 08:58] reddy6ue opened #5924 "Azure documentdb gremlin query fails with "Could not load file or assembly 'Microsoft.Azure.Documents.Client, Version=1.14.0.0" #455"
I have imported the following nuget libraries.
Microsoft.Azure.DocumentDB v1.12.1
Microsoft.Azure.Graphs v0.3.1-preview
Microsoft.NET.Sdk.Functions v 1.0.9
microsoft-web-helpers v2.1.20710.2
Netwonsof.Json v9.0.1
I am performing a basic Client.CreateGremlinQuery with the query $"g.V().hasLabel({name})" on a database with a single collection with entities that are only vertices with no edges.

---

[2018-03-17 09:37] sanjayincloud opened #5925 "Test the application gateway- typographical error in step 3"
Test the application gateway;
Change the URL to http://<ip-address>:8080/video/test.htm, substituting <ip-address> with your IP address, and you should see something like the following example:

should replace by
Change the URL to http://<ip-address>:8080/images/test.htm, substituting <ip-address> with your IP address, and you should see something like the following example:

---
#### Document Det

[2018-03-17 10:25] littlecapa63 commented on #5901
Yes, that is my suggestion. It cost me 1h of figure out. No need, that others will experience the same problem.

Kind regards,

Roger
Am 16.03.2018 um 21:03 schrieb Mike Ubezzi <notifications@github.com<mailto:notifications@github.com>>:

@littlecapa63<https://github.com/littlecapa63> Thanks for the feedback! Are you suggesting that the documentation be enhanced to let the user know what to do whe

[2018-03-17 12:34] jrp2014 commented on #5586
Thanks.

[2018-03-17 14:14] npherson opened #5927 "Step 6 needs updates (6. Add the client address pool)"
It looks like the 'Point-to-site Configuration' blade has been changed. Now, it just has three sections: Address Pool, Root certificates, and Revoked certificates.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59e72010-dab4-54d9-1409-c95b0ce60824
* Version Independent ID: 0da5450c-6181-1c27-93c0-b0c698d2d598
* Content

[2018-03-17 15:41] saveenr commented on #5677
Docs should be updated soon :-)
________________________________
From: Jason Roth <notifications@github.com>
Sent: Wednesday, March 14, 2018 12:49 PM
To: MicrosoftDocs/azure-docs
Cc: Saveen Reddy; Mention
Subject: Re: [MicrosoftDocs/azure-docs] Missing limit for "Data Lake Analytics" (#5677)

@SIGAN<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fsigan&data=02%7C01%7

[2018-03-17 15:57] Mike-Ubezzi-MSFT commented on #5918
@mcbarre Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-17 15:59] Mike-Ubezzi-MSFT commented on #5919
@WootJay Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-17 16:01] Mike-Ubezzi-MSFT commented on #5921
@kabala123 Thank you. I will pass along the kudos to @femsulu.

[2018-03-17 16:04] Mike-Ubezzi-MSFT commented on #5924
@reddy6ue Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-17 16:06] Mike-Ubezzi-MSFT commented on #5925
@sanjayincloud Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-17 16:08] Mike-Ubezzi-MSFT commented on #5927
@npherson Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-17 16:21] #5897 closed

[2018-03-17 16:25] MicahMcKittrick-MSFT commented on #5919
@WootJay good catch! I have assigned this to the content author to review and update the content as needed.

@davidmu1 please take a look.

[2018-03-17 16:47] matejv1 opened #5929 "Working documentation and well described steps"
All steps are working on first try.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31d87b5-2444-711a-bcd4-7f7af9a0d2fe
* Version Independent ID: eddd2a75-f977-46df-b419-c1760a87bff1
* Content: [Device firmware update with Azure IoT Hub (.NET/.NET)](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-csharp-csharp-f

[2018-03-17 16:49] matejv1 commented on #5929
Sorry. Delete this. I was trying to give a feedback that all is working. Didn't want to create github "issue" ticket.

[2018-03-17 16:52] shoeb8997 commented on #5179
var applicationConfig = {
            clientID: 'e760cab2-b9a1-4c0d-86fb-ff7084abd902',
            authority: "https://login.microsoftonline.com/tfp/fabrikamb2c.onmicrosoft.com/b2c_1_susi",
            b2cScopes: ["https://fabrikamb2c.onmicrosoft.com/demoapi/demo.read"],
            webApi: 'https://fabrikamb2chello.azurewebsites.net/hello',
        };
In the above authority & b2cScopes value whe

[2018-03-17 17:37] digeler opened #5930 "Json syntax is wrong"
Passing this json using jsonlint.com fails.
Can you please fix the json.
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef18d39d-585a-1f54-9157-c58cb5875d91
* Version Independent ID: b4374609-5480-7436-8a62-8deb04f02d90
* Content: [Streaming Azure Diagnostics data in the hot path using Event Hubs](https://docs.m

[2018-03-17 17:38] rahulkb007 opened #5931 "Could not execute first program by following "Create your first function with Java and Maven (Preview)""
Today tried to execute first program by following "Create your first function with Java and Maven (Preview)" but could not do that. Steps i followed is
1. mvn archetype:generate ^
    -DarchetypeGroupId=com.microsoft.azure ^
    -DarchetypeArtifactId=azure-functions-archetype
2. cd fabrikam-function
mvn clean package
mvn azure-functions:run
3. In output i can see
Listening on http://localhost:7071

[2018-03-17 17:48] skyprince999 opened #5932 "Details regarding authentication"
--This input can be applied to all Azure API documentation---
You can add details of where I can get the account name & account key.  These are very basic questions. But as a newbie trying to understand how to quick start the tutorials. I usually stumble at this point!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 155

[2018-03-17 19:16] amanarneja commented on #5929
@matejv1 Thanks for the great feedback. While we do get a lot of feedback on improving the documentation, getting positive feedback like this always makes our day.

@JimacoMS2 - Great job on the doc! :)

[2018-03-17 19:16] #5929 closed

[2018-03-17 19:27] LSUPERMAN735 opened #5933 "Indexing mispelling"
https://docs.microsoft.com/fr-fr/azure/cost-management/understading-cost-reports
In the links there's a mispelling understading instead of understanding I hope it will increase the indexing

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 25ad8642-900c-9dc1-4462-6611bba34130
* Version Independent ID:

[2018-03-17 19:29] jakedenyer-s24 commented on #5726
out of curiosity - is the application your fronting with API Management ASP.NET Core 2.1?

[2018-03-17 20:06] LSUPERMAN735 commented on #5382
Why JSON in output instead of an HTML page or another type of document can we improve it ? Can I help you I'm novice developer and I'm still student

[2018-03-17 20:16] LSUPERMAN735 opened #5934 "HTML instead of JSON ? For output"
Why not HTML in output instead of an JSON page or another type of document can we improve it ? Can I help you I'm novice developer and I'm still student

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: 27869d95-0100-cf53-7f5c-e906be9036a8
* Version Independent ID: c4dc65c6-0115-b5fe-7352-3b6eee7141d4

[2018-03-17 21:11] allistairl opened #5935 "Excellent Tutorial"
Informative and well-described. A good tutorial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfb50b0d-cfec-fa96-7d2d-e462e79dbd9d
* Version Independent ID: c7f85f8b-fca5-fa58-8c96-4e9593f0bbc7
* Content: [Create a CI/CD pipeline in Azure with Team Services](https://docs.microsoft.com/en-us/azure/virtual-machines/wind

[2018-03-17 22:28] femsulu commented on #5933
@LSUPERMAN735, Thanks for the feedback. We are actively investigating and will get back to you shortly.

[2018-03-17 22:29] femsulu commented on #5932
@skyprince999 ,Thanks for the feedback. We are actively investigating and will get back to you shortly.

[2018-03-17 22:30] femsulu commented on #5931
@rahulkb007 , Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-17 22:31] femsulu commented on #5930
@digeler,
Thanks for the feedback. We are actively investigating and will get back to you shortly.

[2018-03-17 22:36] femsulu commented on #5934
@LSUPERMAN735,
Thanks for the feedback. We are actively investigating and will get back to you.

[2018-03-17 22:53] femsulu commented on #5935
@allistairl , Thanks for the Kudos, Happy the tutorial met your expectations. Cheers.

[2018-03-17 22:53] #5935 closed

[2018-03-17 23:14] VebitcoinTeknoloji commented on #5434
Thanks. I'm looking forward. What do you think how long do I wait?  one week more or weeks or month?

[2018-03-18 01:36] SharmainePopov opened #5937 "Start-Stop VMs not processing rg list properly"
ScheduledStartStop_Parent is not processing variable External_Start_ResourceGroupNames properly. If given a list of rgs, it reads the list, but only processes vms from the first rg in the list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 225c9d05-83dd-b006-0025-3753f5ab25bf
* Version Independent ID: 9eecef0c-b1cb-113

[2018-03-18 02:24] ivratche commented on #5724
Do you even know the content of your article. You provided one apple link. Scroll up and you will see it.

[2018-03-18 11:21] bastyuchenko opened #5938 "Geo-disaster recovery vs paired namespaces"
Could you specify what a difference between geo-disaster recovery and paired namespaces.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e985ad51-e8e6-6cd3-bde4-70fe0b29ee6a
* Version Independent ID: 912d2335-78c1-9df7-09a6-3859b68e8ae4
* Content: [Azure Service Bus paired namespaces](https://docs.microsoft.com/en-us/az

[2018-03-18 12:52] SimpsonAK opened #5939 "Link is incorrect"
The link for 'Updated Office 365 modern authentication' is invalid, getting page cannot be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89ea5c2d-4602-25b8-3cdd-60cfb5c31895
* Version Independent ID: 35d4af7e-72e4-7c40-9dd6-b8490ee73f0d
* Content: [Manage access to cloud apps by restricting tenants - Azure](htt

[2018-03-18 14:04] hishamam commented on #5582
Hi, does anyone have an update on this? The Azure AD Portal interface has been updated since.
Does the URL: https://sso.services.box.net/sp/ACS.saml2 still have to go into the Reply URL? Cause that URL is giving an error in itself, if we attempt to open it separately. Is that the expected behaviour?
Also, what should go in the Sign-On URL and the Reply State please?
Thanks!

[2018-03-18 14:11] akalcik opened #5940 "This sample seems to be outdated"
In Microsoft.Owin.Security.Jwt version 4.0.0.0 are breaking changes. The constructor of JwtFormat has been changed to accept IIssuerSecurityKeyProvider instead of IIssuerSecurityTokenProvider. Please update the sample regarding the changes or instruct users to use version below 4.0.0.0.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2018-03-18 15:03] wminos commented on #5264
At the time of the answer, there are other issues.
So I have not been able to look closely and are checking again now.
You said that you can override **ServiceDnsName** via parameters.
But It doesn't seem to be able to use parameters in ServiceDnsName.
I wonder if I understood.

If I write ApplicationManifest.xml like below, occurs error.
[code]

This is error.
`Register-ServiceFabricApplicationTy

[2018-03-18 15:05] wminos commented on #5264
I just found same issue at https://github.com/Azure/service-fabric-issues/issues/540.
So I will not open the issue again. (And not a docs issue)

[2018-03-18 16:40] Mike-Ubezzi-MSFT commented on #5938
@bastyuchenko Thank you for your inquiry. We will investigate your question and get you the information you are seeking shortly.

[2018-03-18 16:42] Mike-Ubezzi-MSFT commented on #5939
@SimpsonAK Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-18 16:43] squeakyD opened #5941 "Sample Needs Updating"
The form of MongoClient.connect does not work with the current version of MongoDB JS API, due to escaped characters in the password key, instead it needs to be

MongoClient.connect(url, {
    auth: {
        user: userName,
        password: pw
    }
}, function (err, db) {
 ...

Also on running the sample, after making that change, I get the error

TypeError: db.collection is not a function

---

[2018-03-18 16:44] Mike-Ubezzi-MSFT commented on #5940
@akalcik Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-18 16:44] Mike-Ubezzi-MSFT commented on #5937
@SharmainePopov Thank you very much for your feedback. We will investigate your inquiry and get back with you.

[2018-03-18 16:49] Mike-Ubezzi-MSFT commented on #5941
@squeakyD Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-18 16:52] Mike-Ubezzi-MSFT commented on #5941
@AndrewHoh It looks like this tutorial needs to be updated to reflect changes in functionality with the service.

[2018-03-18 16:58] Mike-Ubezzi-MSFT commented on #5893
@linda33wj I am unsure if this is something that should be enhanced in the documentation or an update to the product to not allow certain characters to be used when creating a host or service name.

[2018-03-18 17:05] Mike-Ubezzi-MSFT commented on #5804
@bastyuchenko I want to follow up with you on your inquiry. The information I provided states that 'message sessions' is needed to guarantee a FIFO pattern. Have you tried this or verified that you are using this functionality as part of your solution? Please let me know. Thank you.

[2018-03-18 17:47] whytoe opened #5942 "XML Data Types Link Broken"
https://www.w3schools.com/schema/schema_dtypes_date.asp does not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0ec37aa-f814-8277-60b7-0dc4f91834f1
* Version Independent ID: c59b6608-e19f-3ee8-8fe6-f47428a13e6c
* Content: [Azure Diagnostics extension 1.3 and later configuration schema](https://docs.microsoft.com

[2018-03-18 20:37] stevenxzhou opened #5944 "The link for Azure AD B2C on the Enterprise Mobility and Security Blog no longer works."
The link for Azure AD B2C on the Enterprise Mobility and Security Blog no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e8b5f81a-f216-b345-d434-c0ebbf70ff00
* Version Independent ID: e77fb894-d7a0-ae0c-7f4c-1030df97f073
* Content: [Azure Active Directory B2C: Built-in policies](https://docs.microsoft.com

[2018-03-18 23:17] dcbrown16 commented on #5814
I don't see any fix made here, why is this closed?

[2018-03-18 23:22] femsulu commented on #5819
@pvrk. the CLI cmds referenced in the doc belong to Azure CLI 1.0. You can use both CLIs interchangeably. The benefit of 2.0 is that it is optimized for Azure Resource Manager. The way to distinguish between CLI 1.0 and 2.0 cmds is this: Azure CLI 1.0 references "**azure**" in the cmd syntax while Azure CLI 2.0 uses "**az**". [Here's](https://docs.microsoft.com/en-us/cli/azure/index?view=azure-cli

[2018-03-18 23:25] SharmainePopov opened #5945 "Additional Steps"
Hi I've tried this a few times now on Centos (6.8). These additional steps are required/recommended. Have not tried any other Linux distros yet
Blobfuse Modfications
1. install fusermount (missing)
 sudo yum install fuse
2. enable non-root to exec fusermount (by default only root can run it)
sudo chmod o+x /bin/fusermount
3. persist the mount accross reboots, add these lines to end of /etc/rc.loca

[2018-03-19 00:16] femsulu commented on #5888
@hanislovingit, Thanks for bringing this to our attention and sharing the correct url. A doc fix has been initiated to add the correct url and will be reflected on the published doc shortly. We appreciate your feedback.

[2018-03-19 00:46] #5887 closed

[2018-03-19 00:56] MicahMcKittrick-MSFT commented on #5945
@SharmainePopov Thanks for the feedback! We are currently investigating and will update you shortly.

[2018-03-19 01:00] MicahMcKittrick-MSFT commented on #5942
@whytoe Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2018-03-19 01:04] MicahMcKittrick-MSFT commented on #5944
@stevenxzhou Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@mtillman can you please take a look at this? The author @Sama does not appear to be contributing to this doc anymore.

[2018-03-19 01:10] femsulu commented on #5933
@LSUPERMAN735,
Thanks for bringing this to our attention. A doc fix has been initiated to update the url typo and will be reflected on the published doc shortly. We appreciate your feedback.

[2018-03-19 01:49] OneGi commented on #5770
It says "administrators should not populate it in the directory".
It seems to say that it is instructing the administrator NOT to do a configuration setting, hence the question on where is this actually set (or NOT set at all).

The other task needs to be done is for the USERS to populate their Authentication Phone. This part is clear. It is the administrator portion (to NOT populate in directory)

[2018-03-19 01:50] rizwaans commented on #5867
Thanks, I have found the solution

 var myBlockDirectory = myContainer.GetDirectoryReference("myFolder");

 var myBlob = myBlockDirectory.ListBlobs().ToList(); // this gives the list of all the blobs inside the folder

[2018-03-19 01:50] #5867 closed

[2018-03-19 01:59] MicrosoftGuyJFlo commented on #5770
#in-process

[2018-03-19 02:02] dgorti opened #5946 "Service fabric system service and secondary node type"
The docs say "Service Fabric system services are placed on the nodes of the primary node type.Service Fabric system services are placed on the nodes of the primary node type". What about the nodes of other node types? There are no system services that run on those nodes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2

[2018-03-19 02:11] MicrosoftGuyJFlo commented on #5826
@CoMMyCZ I have asked the product group for clarity on this. Will update when I get an answer.

[2018-03-19 02:11] MicrosoftGuyJFlo commented on #5826
#in-process

[2018-03-19 02:18] #5879 closed

[2018-03-19 02:19] MicrosoftGuyJFlo commented on #5879
@valentijnscholten this has been resolved in our private repo and will be published later today.

[2018-03-19 02:28] neilpeterson commented on #5854
@scottman1987 - I am going to close this. Feel free to restate / clarify the issue and re-open. I will assist / address the docs.

Thanks

#please-close

[2018-03-19 02:41] dcbrown16 opened #5947 "RBAC requirements"
Can you clarify the exact role required to perform these actions? Does it vary per service?
I see the role below, but it says it is for moving between "resource groups" so it's unclear if that also means subscriptions.
/subscriptions/resourceGroups/moveResources/action
If specific roles are required in both destination and target subscriptions, that should be indicated. Thanks!

---
#### Document

[2018-03-19 03:10] qizhiyu opened #5949 "Always return error 29"
Used few different files as input for Decode EDIFACT, all ending up with error 29: Invalid count specified at interchange, group, or message levels. Below is the shortest input.

UNA:+,?*'
UNB+UNOA:1+EURASIA:ZZZ+CRAYFORD:ZZZ+180315:1522+UNB5'
UNH+1000100+ORDERS:D:93A:UN'
BGM+220+01521710'
DTM+137:120530:101'
DTM+64:120604:101'
DTM+63:120004:101'
FTX+AAI+++SOME TEXT'
FTX+AAI+++SOME TEXT'
FTX+AAI+++

[2018-03-19 03:12] qizhiyu commented on #5949
Sorry, product issue shouldn't be here

[2018-03-19 03:12] #5949 closed

[2018-03-19 03:38] andrew-best-diaxion opened #5950 "Fourth bullet point down has a broken hyperlink to the underlying .md"
(Sizes for virtual machines)[virtual-machines-size-specs.md]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bb1d37c-6337-0906-42ff-b5dbc6afdc8b
* Version Independent ID: 72a96e16-1d2d-4c01-45be-3caf82470592
* Content: [Azure Windows VM sizes - General purpose](https://docs.microsoft.com/en-us/azure/virtual-machines/wi

[2018-03-19 03:52] #5034 closed

[2018-03-19 04:03] reddy6ue commented on #5924
@Mike-Ubezzi-MSFT I downgraded Microsoft.Azure.DocumentDB to 1.14.0 and the issue went away. The issue seems to be with Microsoft.Azure.Graphs, which has a hard depenency to Microsoft.Azure.DocumentDB 1.14.0. I am now sure which forum is appropriate for this issue.

[2018-03-19 05:59] NeilBird opened #5952 "Link to a TechNet Blog that includes a PowerShell script that exports additional disk properties"
Link to a TechNet Blog post that includes more information on this topic and a PowerShell script that combines both Managed / Unmanaged disks into a single script and Exports additional disk information to a CSV file.

https://blogs.technet.microsoft.com/ukplatforms/2018/02/21/azure-cost-optimisation-series-identify-orphaned-disks-using-powershell/

---
#### Document Details

⚠ *Do not edit this s

[2018-03-19 06:22] gdd1984 opened #5953 "Step 32"
Looks like Step 32 does not work. Never seems to get connectivity even though can programmatically connect using the aws cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fa5814d-91e2-2f75-77e7-62a8597f340c
* Version Independent ID: 458e93d7-a180-4c2f-5077-9b9d124d726a
* Content: [Tutorial: Azure Active Directory in

[2018-03-19 06:29] gdd1984 commented on #5953
Actually sorry found the issue . There is a space in between the "iam: ListRoles" which needs to be taken off. So should look like "iam:ListRoles"

[2018-03-19 06:47] dominicbetts commented on #5592
#please-close

[2018-03-19 08:30] asgerls commented on #5405
At line 92 there is a double quote - can be replace by single quote, as it will create an error message otherwise.
 "Query": "Event | where Source == 'ServiceFabricNodeBootstrapAgent' | summarize AggregatedValue = count() by Computer",

Kind regards
Asger

[2018-03-19 08:31] ANTIGRAVITRY opened #5954 "What"
How

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 78899009-3148-e888-cc84-8955e19fe48c
* Version Independent ID: 3ff29dd0-e8a4-63e6-a100-097c350b2e25
* Content: [Microsoft Authenticator app for mobile phones](https://docs.microsoft.com/th-th/azure/multi-factor-authentication/end-user/microsoft-authenticator-app-how-to#add-an

[2018-03-19 08:51] wlodekb commented on #5855
@neilpeterson :  what is the simplest way to run ingress with kube-lego and with self generate certificate (not with Let's Encrypt integration) ?